{% set logo_link_attrs = {
  'href': header.href | default('/'),
  'title': header.title | e
} %}

<div class="usa-navbar">
  <div class="usa-logo" id="{{ header.primary.id_prefix }}logo">
    <em class="usa-logo__text">
      <a href="{{ logo_link_attrs.href }}" title="{{ logo_link_attrs.title }}">
        {{ header.title | e }}
      </a>
    </em>
  </div>
  <button class="usa-menu-btn">{{ menu_btn.text | default('Menu') }}</button>
</div>
