<div class="usa-step-tracker">
  <h2 class="usa-step-tracker__heading">Section 3 of 5: Work</h2>
  <p>This section may contain multiple pages.</p>
  <ol class="usa-step-tracker__steps">
    <li class="usa-step-tracker__step usa-step-tracker__step--completed">
      <span class="usa-sr-only">Completed</span>
      <span class="usa-step-tracker__label">Personal details</span>
    </li>
    <li class="usa-step-tracker__step usa-step-tracker__step--completed">
      <span class="usa-sr-only">Completed</span>
      <span class="usa-step-tracker__label">Home address</span>
    </li>
    <li class="usa-step-tracker__step" aria-current="true">
      <span class="usa-sr-only">Completed</span>
      <span class="usa-step-tracker__label">Work</span>
    </li>
    <li class="usa-step-tracker__step">
      <span class="usa-sr-only">Completed</span>
      <span class="usa-step-tracker__label">Documents</span>
    </li>
    <li class="usa-step-tracker__step">
      <span class="usa-sr-only">Completed</span>
      <span class="usa-step-tracker__label">Review</span>
    </li>
  </ol>
</div>
