<footer class="usa-footer usa-footer-medium" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer-primary-section">
    <div class="usa-grid">
      <nav class="usa-footer-nav">
        <ul class="usa-unstyled-list">
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="javascript:void(0);">Primary link</a>
          </li>
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="javascript:void(0);">Primary link</a>
          </li>
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="javascript:void(0);">Primary link</a>
          </li>
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="javascript:void(0);">Primary link</a>
          </li>
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="javascript:void(0);">Primary link</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-footer-logo usa-width-one-half">
        <img class="usa-footer-logo-img" src="{{ uswds.path }}/img/logo-img.png" alt="Logo image">
        <h3 class="usa-footer-logo-heading">Name of Agency</h3>
      </div>
      <div class="usa-footer-contact-links usa-width-one-half">
        <a class="usa-link-facebook" href="javascript:void(0);">
          <span>Facebook</span>
        </a>
        <a class="usa-link-twitter" href="javascript:void(0);">
          <span>Twitter</span>
        </a>
        <a class="usa-link-youtube" href="javascript:void(0);">
          <span>YouTube</span>
        </a>
        <a class="usa-link-rss" href="javascript:void(0);">
          <span>RSS</span>
        </a>
        <h3 class="usa-footer-contact-heading">Agency Contact Center</h3>
        <address>
          <div class="usa-footer-primary-content usa-footer-contact_info">
            <p>
              <a href="tel:1-800-555-5555">(800) CALL-GOVT</a>
            </p>
          </div>
          <div class="usa-footer-primary-content usa-footer-contact_info">
            <p><a href="mailto:info@agency.gov">info@agency.gov</a></p>
          </div>
        </address>
      </div>
    </div>
  </div>
</footer>
