<footer class="usa-footer usa-footer-medium" role="contentinfo">
  <div class="grid-container usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer-primary-section">
    <nav class="usa-footer-nav">
      <ul class="add-list-reset grid-row grid-gap">
        <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer-primary-content">
          <a class="usa-footer-primary-link" href="javascript:void(0);">Primary link</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer-primary-content">
          <a class="usa-footer-primary-link" href="javascript:void(0);">Primary link</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer-primary-content">
          <a class="usa-footer-primary-link" href="javascript:void(0);">Primary link</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer-primary-content">
          <a class="usa-footer-primary-link" href="javascript:void(0);">Primary link</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer-primary-content">
          <a class="usa-footer-primary-link" href="javascript:void(0);">Primary link</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="usa-footer-secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer-logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            <img class="usa-footer-logo-img" src="{{ uswds.path }}/img/logo-img.png" alt="">
          </div>
          <div class="mobile-lg:grid-col-auto">
            <h3 class="usa-footer-logo-heading">Name of Agency</h3>
          </div>
        </div>
        <div class="usa-footer-contact-links mobile-lg:grid-col-6">
          <div class="usa-footer-social-links grid-row grid-gap-1">
            <div class="grid-col-auto">
              <a class="usa-link-facebook" href="javascript:void(0);">
                <span>Facebook</span>
              </a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-link-twitter" href="javascript:void(0);">
                <span>Twitter</span>
              </a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-link-youtube" href="javascript:void(0);">
                <span>YouTube</span>
              </a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-link-rss" href="javascript:void(0);">
                <span>RSS</span>
              </a>
            </div>
          </div>
          <h3 class="usa-footer-contact-heading">Agency Contact Center</h3>
          <address class="usa-footer-address">
            <div class="usa-footer-contact_info grid-row grid-gap">
              <div class="grid-col-auto">
                <a href="tel:1-800-555-5555">(800) CALL-GOVT</a>
              </div>
              <div class="grid-col-auto">
                <a href="mailto:info@agency.gov">info@agency.gov</a>
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>
