$utility-type: "settings";
$values-settings: (
  colors: (
    'transparent': ('transparent', isReadable),
    'black': ($u-color-black-100, isReadable),
    'banner': ($s-color-banner, isReadable),
    'highlight': ($s-color-highlight, isReadable),
    'white': ($u-color-white-0, isReadable),
    'id-1': ($s-color-id-1, isReadable),
    'id-1-xdark': ($s-color-id-1-xdark, isReadable),
    'id-1-dark': ($s-color-id-1-dark, isReadable),
    'id-1-light': ($s-color-id-1-light, isReadable),
    'id-1-xlight': ($s-color-id-1-xlight, isReadable),
    'id-2': ($s-color-id-2, isReadable),
    'id-2-xdark': ($s-color-id-2-xdark, isReadable),
    'id-2-dark': ($s-color-id-2-dark, isReadable),
    'id-2-light': ($s-color-id-2-light, isReadable),
    'id-2-xlight': ($s-color-id-2-xlight, isReadable),
    'accent-1': ($s-color-accent-1, isReadable),
    'accent-2': ($s-color-accent-2, isReadable),
    'accent-3': ($s-color-accent-3, isReadable),
    'ui-1': ($s-color-ui-1, isReadable),
    'ui-2': ($s-color-ui-2, isReadable),
    'ui-3': ($s-color-ui-3, isReadable),
    'ui-4': ($s-color-ui-4, isReadable),
    'ui-5': ($s-color-ui-5, isReadable),
    'ui-6': ($s-color-ui-6, isReadable),
    'text-1': ($s-color-text-1, isReadable),
    'text-2': ($s-color-text-2, isReadable),
    'text-3': ($s-color-text-3, isReadable),
    'text-4': ($s-color-text-4, isReadable),
    'text-inverse': ($s-color-text-inverse, isReadable),
    'field-1': ($s-color-field-1, isReadable),
    'field-2': ($s-color-field-2, isReadable),
    'field-3': ($s-color-field-3, isReadable),
    'field-4': ($s-color-field-4, isReadable),
    'error': ($s-color-error, isReadable),
    'error-xlight': ($s-color-error-xlight, isReadable),
    'error-light': ($s-color-error-light, isReadable),
    'error-dark': ($s-color-error-dark, isReadable),
    'error-xdark': ($s-color-error-xdark, isReadable),
    'warn': ($s-color-warn, isReadable),
    'warn-xlight': ($s-color-warn-xlight, isReadable),
    'warn-light': ($s-color-warn-light, isReadable),
    'warn-dark': ($s-color-warn-dark, isReadable),
    'warn-xdark': ($s-color-warn-xdark, isReadable),
    'success': ($s-color-success, isReadable),
    'success-xlight': ($s-color-success-xlight, isReadable),
    'success-light': ($s-color-success-light, isReadable),
    'success-dark': ($s-color-success-dark, isReadable),
    'success-xdark': ($s-color-success-xdark, isReadable),
    'ok': ($s-color-ok, isReadable),
    'ok-xlight': ($s-color-ok-xlight, isReadable),
    'ok-light': ($s-color-ok-light, isReadable),
    'ok-dark': ($s-color-ok-dark, isReadable),
    'ok-xdark': ($s-color-ok-xdark, isReadable),
    'disabled': ($s-color-disabled, isReadable),
  ),
  font-weights: (
    'xlight': ($s-fw-xlight, isReadable),
    'light': ($s-fw-light, isReadable),
    'normal': ($s-fw-normal, isReadable),
    'bold': ($s-fw-bold, isReadable),
    'xbold': ($s-fw-xbold, isReadable),
  ),
  spacing: (
    '3xs': $s-spacing-3xs,
    '2xs': $s-spacing-2xs,
    'xs': $s-spacing-xs,
    'sm': $s-spacing-sm,
    'md': $s-spacing-md,
    'lg': $s-spacing-lg,
    'xl': $s-spacing-xl,
    '2xl': $s-spacing-2xl,
    '3xl': $s-spacing-3xl,
  ),
  neg-spacing: (
    'n3xs': -#{$s-spacing-3xs},
    'n2xs': -#{$s-spacing-2xs},
    'nxs': -#{$s-spacing-xs},
    'nsm': -#{$s-spacing-sm},
    'nmd': -#{$s-spacing-md},
    'nlg': -#{$s-spacing-lg},
    'nxl': -#{$s-spacing-xl},
    'n2xl': -#{$s-spacing-2xl},
    'n3xl': -#{$s-spacing-3xl},
  ),
  type-scale: (
    sans-3xs: (
      slug: 'sans-3xs',
      isReadable: true,
      content: type-scale($u-sans-cap-height, $s-font-size-3xs),
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-2xs: (
      slug: 'sans-2xs',
      isReadable: true,
      content: type-scale($u-sans-cap-height, $s-font-size-2xs),
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-xs: (
      slug: 'sans-xs',
      isReadable: true,
      content: type-scale($u-sans-cap-height, $s-font-size-xs),
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-sm: (
      slug: 'sans-sm',
      isReadable: true,
      content: type-scale($u-sans-cap-height, $s-font-size-sm),
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-md: (
      slug: 'sans-md',
      isReadable: true,
      content: type-scale($u-sans-cap-height, $s-font-size-md),
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-lg: (
      slug: 'sans-lg',
      isReadable: true,
      content: type-scale($u-sans-cap-height, $s-font-size-lg),
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-xl: (
      slug: 'sans-xl',
      isReadable: true,
      content: type-scale($u-sans-cap-height, $s-font-size-xl),
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-2xl: (
      slug: 'sans-2xl',
      isReadable: true,
      content: type-scale($u-sans-cap-height, $s-font-size-2xl),
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-3xl: (
      slug: 'sans-3xl',
      isReadable: true,
      content: type-scale($u-sans-cap-height, $s-font-size-3xl),
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    serif-3xs: (
      slug: 'serif-3xs',
      isReadable: true,
      content: type-scale($u-serif-cap-height, $s-font-size-3xl),
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-2xs: (
      slug: 'serif-2xs',
      isReadable: true,
      content: type-scale($u-serif-cap-height, $s-font-size-2xs),
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-xs: (
      slug: 'serif-xs',
      isReadable: true,
      content: type-scale($u-serif-cap-height, $s-font-size-xs),
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-sm: (
      slug: 'serif-sm',
      isReadable: true,
      content: type-scale($u-serif-cap-height, $s-font-size-sm),
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-md: (
      slug: 'serif-md',
      isReadable: true,
      content: type-scale($u-serif-cap-height, $s-font-size-md),
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-lg: (
      slug: 'serif-lg',
      isReadable: true,
      content: type-scale($u-serif-cap-height, $s-font-size-lg),
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-xl: (
      slug: 'serif-xl',
      isReadable: true,
      content: type-scale($u-serif-cap-height, $s-font-size-xl),
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-2xl: (
      slug: 'serif-2xl',
      isReadable: true,
      content: type-scale($u-serif-cap-height, $s-font-size-2xl),
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-3xl: (
      slug: 'serif-3xl',
      isReadable: true,
      content: type-scale($u-serif-cap-height, $s-font-size-3xl),
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
  ),
);
