{% from "pagination/_pagination-button.njk" import paginationButton %}

{% set
  pager_ranges = {
    'first_five': range(1, 6),
    'last_five': range(pagination.items - 4, pagination.items + 1),
    'all': range(1, pagination.items + 1)
  }
%}

{# Page numbers #}
{% switch true %}
  {# If less than 7 #}
  {#
    Examples:
      *1*,
      *1*, 2, 3, 4, 5, 6 , 7
  #}
  {% case pagination.items <= 7 %}
    {% for item in pager_ranges.all %}
      <li class="usa-pagination__item usa-pagination__page-no">
        {{ paginationButton(item, pagination.current) }}
      </li>
    {% endfor %}
  {# Current item is under 7, but there are more than 7 items #}
  {# Example: 1, 2, *3*, 4, 5 … 8 #}
  {% case pagination.current <= 7 and pagination.items >= 7 %}
    {% for item in pager_ranges.first_five  %}
      <li class="usa-pagination__item usa-pagination__page-no">
        {{ paginationButton(item, pagination.current) }}
      </li>
    {% endfor %}

    {{ overflow | safe }}

    <li class="usa-pagination__item usa-pagination__page-no">
      {{ paginationButton(pagination.items, pagination.current) }}
    </li>
  {# Current item is one of the last 5 items #}
  {# Example: 1 … 4, 5, *6*, 7, 8 #}
  {% case pagination.current >= pagination.items - 4 %}
    <li class="usa-pagination__item usa-pagination__page-no">
      {{ paginationButton(1, pagination.current) }}
    </li>

    {{ overflow | safe }}

    {% for item in pager_ranges.last_five %}
      <li class="usa-pagination__item usa-pagination__page-no">
        {{ paginationButton(item, pagination.current) }}
      </li>
    {% endfor %}
  {% default %}
{% endswitch %}

