{% macro paginationButton(item, current_item) %}
  {% set is_current = item !== current_item %}

  {% if is_current %}
    <a
      href="javascript:void(0);"
      class="usa-pagination__button"
      aria-label="Page {{ item }}">
      {{ item }}
    </a>
  {% else %}
    <a
      href="javascript:void(0);"
      class="usa-pagination__button usa-current"
      aria-label="Current page, page {{ item }}"
      aria-current="page">
      {{ item }}
    </a>
  {% endif %}
{% endmacro %}
