{% from "pagination/_pagination-button.njk" import paginationButton %}

{% set
  pager_ranges = {
    'default': range(pagination.current - 2, pagination.current + 3),
    'first_five': range(1, 6),
    'last_five': range(pagination.items - 4, pagination.items + 1),
    'all': range(1, pagination.items + 1)
  }
%}

{# Page numbers #}
{% switch true %}
  {# If less than 7 #}
  {#
    Examples:
      *1*,
      *1*, 2, 3, 4, 5, 6 , 7
  #}
  {% case pagination.items <= 7 %}
    {% for item in pager_ranges.all %}
      {{ paginationButton(item, pagination.current) }}
    {% endfor %}
  {# Current item is at the start of dataset, but there are more than 7 items #}
  {# Example: 1, 2, *3*, 4, 5 … 8 #}
  {% case pagination.current <= 5 and pagination.items >= 7 %}
    {% for item in pager_ranges.first_five  %}
      {{ paginationButton(item, pagination.current) }}
    {% endfor %}

    {{ overflow | safe }}

    {{ paginationButton(pagination.items, pagination.current) }}
  {# Current item is one of the last 5 items #}
  {# Example: 1 … 4, 5, *6*, 7, 8 #}
  {% case pagination.current >= pagination.items - 4 %}
    {{ paginationButton(1, pagination.current) }}

    {{ overflow | safe }}

    {% for item in pager_ranges.last_five %}
      {{ paginationButton(item, pagination.current) }}
    {% endfor %}
  {% default %}
    {# First item #}
    {# Example: 1 … 9 *10* 11 … 24 #}
    {{ paginationButton(1, pagination.current) }}

    {{ overflow | safe }}

    {% for item in pager_ranges.default %}
      {{ paginationButton(item, pagination.current) }}
    {% endfor %}
{% endswitch %}

