{% from "pagination/_pagination-link.njk" import paginationLink %}


{# TODO - Create macro #}
{% set sprite_path = uswds.path + "/img/sprite.svg" %}

{% set
  pager_ranges = {
    'first_two': range(pagination.current, pagination.current + 2),
    'last_two': range(pagination.items - 1, pagination.items + 1),
    'all': range(1, pagination.items + 1)
  }
%}

<nav aria-label="pagination" class="usa-pagination {{ modifier | default('') }}">
  <span class="usa-pagination__label">
    Showing {{ pagination.current }} of {{ pagination.items }} total pages
  </span>

  <ul class="usa-pagination__list">
    {# Previous buttons #}
    <li class="usa-pagination__item usa-pagination__previous-group">
      <a
        href="{{ placeholder_link }}"
        class="usa-pagination__link"
        aria-label="First group"
        {{ 'disabled' if pagination.items <= 2 or pagination.current == 1 }}>
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="{{ sprite_path }}#first_page"></use>
        </svg>
      </a>
    </li>
    <li class="usa-pagination__item usa-pagination__previous-page">
      <a
        href="{{ placeholder_link }}"
        class="usa-pagination__link"
        aria-label="Previous page"
        {{ 'disabled' if pagination.current == 1 }}>
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="{{ sprite_path }}#navigate_before"></use>
        </svg>
        <span class="usa-pagination__button-text">Previous</span>
      </a>
    </li>

    {# Page numbers #}
    {% if pagination.items <= 4 %}

      {# List all of them if less than 4 #}
      {% for item in pager_ranges.all %}
        <li class="usa-pagination__item usa-pagination__page-no">
          {{ paginationLink(item, pagination.current) }}
        </li>
      {% endfor %}
    {% else %}

      {# TODO: Fix this logic on cases like 22 current of 24 #}
      {% if pagination.current < (pagination.items - 2) %}
        {# Show current and + 1 #}
        {% for item in pager_ranges.first_two %}
          <li class="usa-pagination__item usa-pagination__page-no">
            {{ paginationLink(item, pagination.current) }}
          </li>
        {% endfor %}

        {# If we've run out show 4th and 3rd from last #}
        {% else %}
          {% for item in range(pagination.items - 4, pagination.items - 2) %}
            <li class="usa-pagination__item usa-pagination__page-no">
              {{ paginationLink(item, pagination.current) }}
            </li>
          {% endfor %}
      {% endif %}

      <li class="usa-pagination__item">
        <span class="usa-pagination__ellipsis" aria-label="X pages in between">
          …
        </span>
      </li>

      {% for item in pager_ranges.last_two %}
        <li class="usa-pagination__item usa-pagination__page-no">
          {{ paginationLink(item, pagination.current) }}
        </li>
      {% endfor %}
    {% endif %}


    {# Next buttons #}
    <li class="usa-pagination__item usa-pagination__next-page">
      <a
        href="{{ placeholder_link }}"
        class="usa-pagination__link"
        aria-label="Next page"
        {{ 'disabled' if pagination.items == pagination.current }}>
        <span class="usa-pagination__button-text">Next</span>
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="{{ sprite_path }}#navigate_next"></use>
      </svg>
      </a>
    </li>
    <li class="usa-pagination__item usa-pagination__next-group">
      <a
        href="{{ placeholder_link }}"
        class="usa-pagination__link"
        aria-label="Next group"
        {{ 'disabled' if pagination.items <= 2 or pagination.current == pagination.items }}>
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="{{ sprite_path }}#last_page"></use>
        </svg>
      </a>
    </li>
  </ul>

  <a href="{{ placeholder_link }}" class="usa-pagination__view-all usa-link" aria-label="View all pages">
    View all
  </a>
</nav>
