/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
UTILITIES SETTINGS
----------------------------------------
Read more about settings and
USWDS utilities in the documentation:
https://designsystem.digital.gov/utilities
----------------------------------------
*/

@use "sass:map";
@use "../functions/general/map-collect" as *;

$utilities-use-important: false !default;
$output-these-utilities: default !default;

/*
----------------------------------------
Utility breakpoints
----------------------------------------
Which breakpoints does your project
need? Select as `true` any breakpoint
used by utilities or layout grid
----------------------------------------
*/

$theme-utility-breakpoints: () !default;
$theme-utility-breakpoints-custom: () !default;
$theme-utility-breakpoints-complete: map-collect(
  (
    // 160px:
    "card": false,
    // 240px:
    "card-lg": false,
    // 320px:
    "mobile": false,
    // 480px:
    "mobile-lg": true,
    // 640px:
    "tablet": true,
    // 880px:
    "tablet-lg": false,
    // 1024px:
    "desktop": true,
    // 1200px:
    "desktop-lg": false,
    // 1400px:
    "widescreen": false
  ),
  $theme-utility-breakpoints,
  $theme-utility-breakpoints-custom
) !default;

/*
----------------------------------------
Global colors
----------------------------------------
The following palettes will be added to
- background-color
- border-color
- color
- text-decoration-color
----------------------------------------
*/

$global-color-palettes: ("palette-color-default") !default;

/*
----------------------------------------
Settings
----------------------------------------
*/

$add-aspect-settings: () !default;
$add-aspect-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $add-aspect-settings
) !default;

$add-list-reset-settings: () !default;
$add-list-reset-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $add-list-reset-settings
) !default;

$align-items-settings: () !default;
$align-items-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $align-items-settings
) !default;

$align-self-settings: () !default;
$align-self-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $align-self-settings
) !default;

$background-color-settings: () !default;
$background-color-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: true,
    visited: false,
  ),
  $background-color-settings
) !default;

$border-settings: () !default;
$border-settings-complete: map.merge(
  (
    output: true,
    responsive: true,
    active: false,
    focus: false,
    hover: true,
    visited: false,
  ),
  $border-settings
) !default;

$border-color-settings: () !default;
$border-color-settings-complete: map.merge(
  (
    output: true,
    responsive: true,
    active: false,
    focus: false,
    hover: true,
    visited: false,
  ),
  $border-color-settings
) !default;

$border-radius-settings: () !default;
$border-radius-settings-complete: map.merge(
  (
    output: true,
    responsive: true,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $border-radius-settings
) !default;

$border-style-settings: () !default;
$border-style-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $border-style-settings
) !default;

$border-width-settings: () !default;
$border-width-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $border-width-settings
) !default;

$bottom-settings: () !default;
$bottom-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $bottom-settings
) !default;

$box-shadow-settings: () !default;
$box-shadow-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: true,
    visited: false,
  ),
  $box-shadow-settings
) !default;

$circle-settings: () !default;
$circle-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $circle-settings
) !default;

$clearfix-settings: () !default;
$clearfix-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $clearfix-settings
) !default;

$color-settings: () !default;
$color-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: true,
    visited: false,
  ),
  $color-settings
) !default;

$cursor-settings: () !default;
$cursor-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $cursor-settings
) !default;

$display-settings: () !default;
$display-settings-complete: map.merge(
  (
    output: true,
    responsive: true,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $display-settings
) !default;

$flex-settings: () !default;
$flex-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $flex-settings
) !default;

$flex-direction-settings: () !default;
$flex-direction-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $flex-direction-settings
) !default;

$flex-wrap-settings: () !default;
$flex-wrap-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $flex-wrap-settings
) !default;

$float-settings: () !default;
$float-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $float-settings
) !default;

$font-settings: () !default;
$font-settings-complete: map.merge(
  (
    output: true,
    responsive: true,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $font-settings
) !default;

$font-family-settings: () !default;
$font-family-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $font-family-settings
) !default;

$font-feature-settings: () !default;
$font-feature-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $font-feature-settings
) !default;

$font-style-settings: () !default;
$font-style-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $font-style-settings
) !default;

$font-weight-settings: () !default;
$font-weight-settings-complete: map.merge(
  (
    output: true,
    responsive: true,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $font-weight-settings
) !default;

$height-settings: () !default;
$height-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $height-settings
) !default;

$justify-content-settings: () !default;
$justify-content-settings-complete: map.merge(
  (
    output: true,
    responsive: true,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $justify-content-settings
) !default;

$left-settings: () !default;
$left-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $left-settings
) !default;

$letter-spacing-settings: () !default;
$letter-spacing-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $letter-spacing-settings
) !default;

$line-height-settings: () !default;
$line-height-settings-complete: map.merge(
  (
    output: true,
    responsive: true,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $line-height-settings
) !default;

$margin-settings: () !default;
$margin-settings-complete: map.merge(
  (
    output: true,
    responsive: true,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $margin-settings
) !default;

$max-height-settings: () !default;
$max-height-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $max-height-settings
) !default;

$max-width-settings: () !default;
$max-width-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $max-width-settings
) !default;

$measure-settings: () !default;
$measure-settings-complete: map.merge(
  (
    output: true,
    responsive: true,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $measure-settings
) !default;

$min-height-settings: () !default;
$min-height-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $min-height-settings
) !default;

$min-width-settings: () !default;
$min-width-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $min-width-settings
) !default;

$opacity-settings: () !default;
$opacity-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $opacity-settings
) !default;

$order-settings: () !default;
$order-settings-complete: map.merge(
  (
    output: true,
    responsive: true,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $order-settings
) !default;

$outline-settings: () !default;
$outline-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $outline-settings
) !default;

$outline-color-settings: () !default;
$outline-color-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $outline-color-settings
) !default;

$overflow-settings: () !default;
$overflow-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $overflow-settings
) !default;

$padding-settings: () !default;
$padding-settings-complete: map.merge(
  (
    output: true,
    responsive: true,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $padding-settings
) !default;

$pin-settings: () !default;
$pin-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $pin-settings
) !default;

$position-settings: () !default;
$position-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $position-settings
) !default;

$right-settings: () !default;
$right-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $right-settings
) !default;

$square-settings: () !default;
$square-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $square-settings
) !default;

$text-align-settings: () !default;
$text-align-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $text-align-settings
) !default;

$text-decoration-settings: () !default;
$text-decoration-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: true,
    visited: false,
  ),
  $text-decoration-settings
) !default;

$text-decoration-color-settings: () !default;
$text-decoration-color-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: true,
    visited: false,
  ),
  $text-decoration-color-settings
) !default;

$text-indent-settings: () !default;
$text-indent-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $text-indent-settings
) !default;

$text-transform-settings: () !default;
$text-transform-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $text-transform-settings
) !default;

$top-settings: () !default;
$top-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $top-settings
) !default;

$vertical-align-settings: () !default;
$vertical-align-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $vertical-align-settings
) !default;

$whitespace-settings: () !default;
$whitespace-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $whitespace-settings
) !default;

$width-settings: () !default;
$width-settings-complete: map.merge(
  (
    output: true,
    responsive: true,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $width-settings
) !default;

$z-index-settings: () !default;
$z-index-settings-complete: map.merge(
  (
    output: true,
    responsive: false,
    active: false,
    focus: false,
    hover: false,
    visited: false,
  ),
  $z-index-settings
) !default;

/*
----------------------------------------
Values
----------------------------------------
*/

// .add-aspect

$add-aspect-palettes: () !default;
$add-aspect-manual-values: () !default;

// .align-items

$align-items-palettes: ("palette-align-items-default") !default;
$align-items-manual-values: () !default;

// .align-self

$align-self-palettes: ("palette-align-self-default") !default;
$align-self-manual-values: () !default;

// .background-color

$background-color-palettes: () !default;
$background-color-manual-values: () !default;

// .border

$border-palettes: ("palette-border-default") !default;
$border-manual-values: () !default;

// .border-color

$border-color-palettes: () !default;
$border-color-manual-values: () !default;

// .border-radius

$border-radius-palettes: ("palette-border-radius-default") !default;
$border-radius-manual-values: () !default;

// .border-style

$border-style-palettes: ("palette-border-style-default") !default;
$border-style-manual-values: () !default;

// .border-width

$border-width-palettes: ("palette-border-width-default") !default;
$border-width-manual-values: () !default;

// .bottom

$bottom-palettes: ("palette-bottom-default") !default;

$bottom-manual-values: () !default;

// .box-shadow

$box-shadow-palettes: ("palette-box-shadow-default") !default;

$box-shadow-manual-values: () !default;

// .circle

$circle-palettes: ("palette-circle-default") !default;
$circle-manual-values: () !default;

// .color

$color-palettes: () !default;
$color-manual-values: () !default;

// .cursor

$cursor-palettes: ("palette-cursor-default") !default;
$cursor-manual-values: () !default;

// .display

$display-palettes: ("palette-display-default") !default;
$display-manual-values: () !default;

// .flex

$flex-palettes: ("palette-flex-default") !default;
$flex-manual-values: () !default;

// .flex-direction

$flex-direction-palettes: ("palette-flex-direction-default") !default;
$flex-direction-manual-values: () !default;

// .flex-wrap

$flex-wrap-palettes: ("palette-flex-wrap-default") !default;
$flex-wrap-manual-values: () !default;

// .float

$float-palettes: ("palette-float-default") !default;
$float-manual-values: () !default;

// .font

$font-palettes: ("palette-font-default") !default;
$font-manual-values: () !default;

// .font-family

$font-family-palettes: ("palette-font-family-default") !default;
$font-family-manual-values: () !default;

// .font-feature-settings

$font-feature-palettes: ("palette-font-feature-settings-default") !default;
$font-feature-manual-values: () !default;

// .font-style

$font-style-palettes: ("palette-font-style-default") !default;
$font-style-manual-values: () !default;

// .font-weight

$font-weight-palettes: ("palette-font-weight-default") !default;
$font-weight-manual-values: () !default;

// .height

$height-palettes: ("palette-height-default") !default;
$height-manual-values: () !default;

// .justify-content

$justify-content-palettes: ("palette-justify-content-default") !default;
$justify-content-manual-values: () !default;

// .left

$left-palettes: ("palette-left-default") !default;
$left-manual-values: () !default;

// .letter-spacing

$letter-spacing-palettes: ("palette-letter-spacing-default") !default;
$letter-spacing-manual-values: () !default;

// .line-height

$line-height-palettes: ("palette-line-height-default") !default;
$line-height-manual-values: () !default;

// .margin

$margin-palettes: ("palette-margin-default") !default;
$margin-manual-values: () !default;
$margin-vertical-palettes: ("palette-margin-vertical-default") !default;
$margin-vertical-manual-values: () !default;
$margin-horizontal-palettes: ("palette-margin-horizontal-default") !default;
$margin-horizontal-manual-values: () !default;

// .max-height

$max-height-palettes: ("palette-max-height-default") !default;
$max-height-manual-values: () !default;

// .max-width

$max-width-palettes: ("palette-max-width-default") !default;
$max-width-manual-values: () !default;

// .measure

$measure-palettes: ("palette-measure-default") !default;
$measure-manual-values: () !default;

// .min-height

$min-height-palettes: ("palette-min-height-default") !default;
$min-height-manual-values: () !default;

// .min-width

$min-width-palettes: ("palette-min-width-default") !default;
$min-width-manual-values: () !default;

// .opacity

$opacity-palettes: ("palette-opacity-default") !default;
$opacity-manual-values: () !default;

// .order

$order-palettes: ("palette-order-default") !default;
$order-manual-values: () !default;

// .outline

$outline-palettes: ("palette-outline-default") !default;
$outline-manual-values: () !default;

// .outline-color

$outline-color-palettes: ("palette-outline-color-default") !default;
$outline-color-manual-values: () !default;

// .overflow

$overflow-palettes: ("palette-overflow-default") !default;
$overflow-manual-values: () !default;

// .padding

$padding-palettes: ("palette-padding-default") !default;
$padding-manual-values: () !default;

// .position

$position-palettes: ("palette-position-default") !default;
$position-manual-values: () !default;

// .right

$right-palettes: ("palette-right-default") !default;
$right-manual-values: () !default;

// .square

$square-palettes: ("palette-square-default") !default;
$square-manual-values: () !default;

// .text-align

$text-align-palettes: ("palette-text-align-default") !default;
$text-align-manual-values: () !default;

// .text-decoration

$text-decoration-palettes: ("palette-text-decoration-default") !default;
$text-decoration-manual-values: () !default;

// .text-decoration-color

$text-decoration-color-palettes: () !default;
$text-decoration-color-manual-values: () !default;

// .text-indent

$text-indent-palettes: ("palette-text-indent-default") !default;
$text-indent-manual-values: () !default;

// .text-transform

$text-transform-palettes: ("palette-text-transform-default") !default;
$text-transform-manual-values: () !default;

// .top

$top-palettes: ("palette-top-default") !default;
$top-manual-values: () !default;

// .vertical-align

$vertical-align-palettes: ("palette-vertical-align-default") !default;
$vertical-align-manual-values: () !default;

// .white-space

$whitespace-palettes: ("palette-white-space-default") !default;
$whitespace-manual-values: () !default;

// .width

$width-palettes: ("palette-width-default") !default;
$width-manual-values: () !default;

// .z-index

$z-index-palettes: ("palette-z-index-default") !default;
$z-index-manual-values: () !default;
