@use "sass:list";
@use "sass:string";

/*
----------------------------------------
str-split()
----------------------------------------
Split a string at a given separator
and convert into a lisrt of substrings
----------------------------------------
*/

@function str-split($string, $separator) {
  $split-arr: ();
  $index: string.index($string, $separator);
  @while $index != null {
    $item: string.slice($string, 1, $index - 1);
    $split-arr: list.append($split-arr, $item);
    $string: string.slice($string, $index + 1);
    $index: string.index($string, $separator);
  }
  $split-arr: list.append($split-arr, $string);

  @return $split-arr;
}
