/*
----------------------------------------
strunquote()
----------------------------------------
Unquote a string
----------------------------------------
*/

@use "sass:meta";
@use "sass:string";

@function strunquote($value) {
  @if meta.type-of($value) == "string" {
    $value: string.unquote($value);
  }

  @return $value;
}

// @debug strunquote("foo");
