<div class="grid-row padding-8">
  <div class="mobile-lg:grid-col-12 margin-top-4 mobile-lg:margin-top-0">
    <h2 class="margin-x-0 margin-y-2">Latest News</h2>
    <ul class="usa-list usa-list--unstyled">
      <li class="usa-featured-content">
        <div class="usa-featured-content__calendar-date">
          <time datetime="2020-10-29T12:00:00+01:00">
            <span class="usa-featured-content__calendar-date-month">‎‎OCT</span>
            <span class="usa-featured-content__calendar-date-day">‎‎29</span>
          </time>
        </div>
        <div class="usa-featured-content__body">
          <h3 class="usa-featured-content__heading">
            <a class="usa-link" href="https://www.dhs.gov/news/2020/10/29/border-wall-system-deployed-effective-and-disrupting-criminals-and-smugglers">
              The Border Wall System is Deployed, Effective, and Disrupting Criminals and Smugglers
            </a>
          </h3>
          <p class="usa-featured-content__teaser">Effective physical infrastructure works to secure our Southwest Border. Since the U.S. Border Patrol began constructing border barriers nearly 30 years ago, these barriers have proved to be a critical component in gaining operational control of the border.</p>
          <div class="usa-featured-content__meta-list">
            <span class="usa-featured-content__meta-item">
              Press Release
            </span>
            <span class="usa-featured-content__meta-item">
              <time datetime="2020-10-20T12:00:00+01:00">
                October 29, 2020
              </time>
            </span>
          </div>
          <div class="usa-featured-content__meta-list">
            <span class="usa-featured-content__meta-item usa-tag">
              New
            </span>
          </div>
        </div>
      </li>
      <li class="usa-featured-content">
        <div class="usa-featured-content__calendar-date">
          <time datetime="2020-10-26T12:00:00+01:00">
            <span class="usa-featured-content__calendar-date-month">‎‎OCT</span>
            <span class="usa-featured-content__calendar-date-day">‎‎26</span>
          </time>
        </div>
        <div class="usa-featured-content__body">
          <h3 class="usa-featured-content__heading">
            <a class="usa-link" href="https://www.dhs.gov/news/2020/10/26/weekly-update-dhs-response-covid-19">Weekly Update: DHS Response to COVID-19</a>
          </h3>
          <p class="usa-featured-content__teaser">For months, the Department of Homeland Security (DHS) has worked side by side with state, local, and private sector partners to ensure a safe and effective response to COVID-19 across it’s component offices.</p>
          <div class="usa-featured-content__meta-list">
            <span class="usa-featured-content__meta-item">
              Press Release
            </span>
            <span class="usa-featured-content__meta-item">
              <time datetime="2020-10-26T12:00:00+01:00">
                October 26, 2020
              </time>
            </span>
          </div>
        </div>
      </li>
      <li class="usa-featured-content">
        <div class="usa-featured-content__calendar-date">
          <time datetime="2020-10-22T12:00:00+01:00">
            <span class="usa-featured-content__calendar-date-month">‎‎OCT</span>
            <span class="usa-featured-content__calendar-date-day">‎‎22</span>
          </time>
        </div>
        <div class="usa-featured-content__body">
          <h3 class="usa-featured-content__heading">
            <a class="usa-link" href="https://www.dhs.gov/blog/2020/10/22/reversing-course-no-way-forward-acting-secretary-wolf-outlines-border-security-and">'Reversing course is no way forward': Acting Secretary Wolf Outlines Border Security and Immigration Policies of the Trump Administration</a>
          </h3>
          <p class="usa-featured-content__teaser">“Reversing course is no way forward. Decriminalizing illegal entry, stopping the deportation of criminal aliens, resuming catch and release, returning to a broken asylum system, dismantling the wall, walking away from landmark international agreements, and putting foreign workers first in line for American jobs is not the way to secure the Homeland. These are not just bad policies, they are dangerous.”</p>
          <div class="usa-featured-content__meta-list">
            <span class="usa-featured-content__meta-item">
              Blog
            </span>
            <span class="usa-featured-content__meta-item">
               <time datetime="2020-10-22T12:00:00+01:00">
                October 22, 2020
              </time>
            </span>
          </div>
        </div>
      </li>
      <li class="usa-featured-content">
        <div class="usa-featured-content__calendar-date">
          <time datetime="2020-10-22T12:00:00+01:00">
            <span class="usa-featured-content__calendar-date-month">‎‎OCT</span>
            <span class="usa-featured-content__calendar-date-day">‎‎22</span>
          </time>
        </div>
        <div class="usa-featured-content__body">
          <h3 class="usa-featured-content__heading">
            <a class="usa-link" href="https://www.dhs.gov/news/2020/10/22/remarks-prepared-acting-secretary-chad-f-wolf-highlighting-border-security-and">Remarks as Prepared by Acting Secretary Chad F. Wolf Highlighting Border Security and Immigration Policies of the Trump Administration </a>
          </h3>
          <p class="usa-featured-content__teaser">Reversing course is no way forward. Decriminalizing illegal entry, stopping the deportation of criminal aliens, resuming catch and release, returning to a broken asylum system, dismantling the wall, walking away from landmark international agreements, and putting foreign workers first in line for American jobs is not the way to secure the Homeland. These are not just bad policies, they are dangerous.</p>
          <div class="usa-featured-content__meta-list">
            <span class="usa-featured-content__meta-item">
              Speech
            </span>
            <span class="usa-featured-content__meta-item">
              <time datetime="2020-10-22T12:00:00+01:00">
                October 22, 2020
              </time>
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
