<section class="usa-site-alert{% if siteAlert.classes %} {{ siteAlert.classes }}{% endif %}" aria-label="Site alert">
  <div class="usa-alert{% if alert.classes %} {{ alert.classes }}{% endif %}" {% if alert.role %}role="{{alert.role}}"{% endif %}>
    <div class="usa-alert__body">
      {%- if alert.title %}
      <h3 class="usa-alert__heading">{{ alert.title }}</h3>
      {%- endif %}

      {%- if alert.list %}
      {{ alert.list | safe }}
      {%- endif %}

      {%- if alert.content %}
      <p class="usa-alert__text">{{ alert.content | safe }}</p>
      {%- endif %}
    </div>
  </div>
</section>

