<h6>Without labels</h6>
<div class="usa-step-indicator" aria-label="progress">
  <ol class="usa-step-indicator__segments" >
    <li class="usa-step-indicator__segment usa-step-indicator__segment--complete"></li>
    <li class="usa-step-indicator__segment usa-step-indicator__segment--current" aria-current="true"></li>
    <li class="usa-step-indicator__segment"></li>
    <li class="usa-step-indicator__segment"></li>
    <li class="usa-step-indicator__segment"></li>
    <li class="usa-step-indicator__segment"></li>
  </ol>
  <div class="usa-step-indicator__header">
    <h2 class="usa-step-indicator__heading">
      <span class="usa-sr-only">Step</span>
      <span class="usa-step-indicator__current-step">2</span> 
      <span class="usa-step-indicator__total-steps">of 6</span> Household info
    </h2>
  </div>
</div>


<h6>Labels</h6>
<div class="usa-step-indicator" aria-label="progress">
  <ol class="usa-step-indicator__segments" >
    <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
      <div class="usa-step-indicator__segment-label">Personal <span class="usa-sr-only">completed</span></div>  
    </li>
    <li class="usa-step-indicator__segment usa-step-indicator__segment--current" aria-current="true">
      <div class="usa-step-indicator__segment-label">Household</div>
    </li>
    <li class="usa-step-indicator__segment">
      <div class="usa-step-indicator__segment-label">Documents <span class="usa-sr-only">not completed</span></div>
    </li>
    <li class="usa-step-indicator__segment">
      <div class="usa-step-indicator__segment-label">Review <span class="usa-sr-only">not completed</span></div>
    </li>
  </ol>
  <div class="usa-step-indicator__header">
    <h2 class="usa-step-indicator__heading">
      Household info
    </h2>
  </div>
</div>