<div class="usa-step-indicator">
  <div class="usa-step-indicator__segments" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="6" tabindex="0">
    <div class="usa-step-indicator__segment usa-step-indicator__segment--complete"></div>
    <div class="usa-step-indicator__segment usa-step-indicator__segment--current"></div>
    <div class="usa-step-indicator__segment"></div>
    <div class="usa-step-indicator__segment"></div>
    <div class="usa-step-indicator__segment"></div>
    <div class="usa-step-indicator__segment"></div>
  </div>
  <div class="usa-step-indicator__header" aria-valuenow="2" aria-valuemin="1" aria-valuetext="Step 2 of 6: Household info" aria-valuemax="6">
    <h2 class="usa-step-indicator__heading">
      <span class="usa-step-indicator__current-step">2</span> 
      <span class="usa-step-indicator__total-steps">of 6</span> Household info
    </h2>
  </div>
</div>