/* Apply a natural box layout model to all elements, but allowing components to 
change */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $color-white;
}

// Hack for clearfixes
.lt-ie9 {
  * {
    filter: none !important;
  }
}

[aria-hidden=true] {
  display: none !important;
}
