// Buttons variables

$button-context: "Button";
$button-stroke: inset 0 0 0 units($theme-button-stroke-width);
$button-inverse-color: $theme-link-reverse-color;
$button-inverse-hover-color: $theme-link-reverse-hover-color;
$button-inverse-active-color: $theme-link-reverse-active-color;

// Buttons

.usa-button {
  @include border-box-sizing;
  @include typeset($theme-button-font-family, null, 1);
  @include set-text-and-bg("primary", $context: $button-context);
  appearance: none;
  border: 0;
  border-radius: radius($theme-button-border-radius);
  cursor: pointer;
  display: inline-block;
  font-weight: font-weight("bold");
  margin-right: units(1);
  padding: units(1.5) units(2.5);
  text-align: center;
  text-decoration: none;
  width: 100%;

  @include at-media("mobile-lg") {
    width: auto;
  }

  &:visited {
    color: color("white");
  }

  &:hover,
  &.usa-button--hover {
    @include set-text-and-bg("primary-dark", $context: $button-context);
    border-bottom: 0;
    text-decoration: none;
  }

  &:active,
  &.usa-button--active {
    @include set-text-and-bg("primary-darker", $context: $button-context);
  }

  &:not([disabled]):focus,
  &:not([disabled]).usa-focus {
    outline-offset: units(0.5);
  }
}

@each $color, $tokens in $all-project-colors {
  // Disabled and Emergency families don't have enough colors for variants.
  @if $color != "disabled" and $color != "emergency" {
    $hover-color: next-token($color, "darker");
    $active-color: next-token($hover-color, "darker");

    %usa-button-#{$color},
    .usa-button--#{$color} {
      @include set-text-and-bg($color, $context: $button-context);

      &:visited {
        @include set-text-and-bg($color, $context: $button-context);
      }

      &:hover,
      &.usa-button--hover {
        @include set-text-and-bg($hover-color, $context: $button-context);
      }

      &:active,
      &.usa-button--active {
        @include set-text-and-bg($active-color, $context: $button-context);
      }
    }

    %usa-button-outline-#{$color},
    .usa-button--outline.usa-button--#{$color} {
      @include button-outline($color);
    }
  }
}

.usa-button--outline {
  @extend %usa-button-outline-primary;
}

.usa-button--inverse {
  @include button-outline(
    $button-inverse-color,
    $button-inverse-hover-color,
    $button-inverse-active-color
  );
}

.usa-button--big {
  border-radius: radius($theme-button-border-radius);
  font-size: font-size($theme-button-font-family, "lg");
  padding: units(2) units(3);
}

.usa-button:disabled,
.usa-button--disabled {
  @include button-disabled;
}

.usa-button--outline-disabled,
.usa-button--outline:disabled {
  background-color: color("transparent");
  box-shadow: $button-stroke color("disabled");
  color: color("disabled");

  &:hover,
  &.usa-button--hover,
  &:active,
  &.usa-button--active,
  &:focus,
  &.usa-focus {
    background-color: color("transparent");
    border: 0;
    box-shadow: $button-stroke color("disabled");
    color: color("disabled");
  }

  &.usa-button--inverse {
    background-color: transparent;
    box-shadow: $button-stroke color("base");
    color: color("base");
  }
}

.usa-button--unstyled {
  @include button-unstyled;

  &.usa-button--outline {
    @include button-unstyled;
  }

  &.usa-button--outline.usa-button--inverse {
    color: color($button-inverse-color);

    &:visited {
      color: color($button-inverse-color);
    }

    &:hover,
    &.usa-button--hover {
      color: color($button-inverse-hover-color);
    }

    &:active,
    &.usa-button--active {
      color: color($button-inverse-active-color);
    }
  }
}
