$ratio-fullscreen: 75%;
$ratio-widescreen: 56.25%;

@mixin embed-container ($aspect-ratio) {
  padding-bottom: $aspect-ratio;
}

.usa-embed-container {
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.usa-embed-container {
  @include embed-container($ratio-widescreen);
  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
