img {
  max-width: 100%;
}

// TODO: Add documentation instructions for using this class on image links
.media_link {
  display: inline-block;
  line-height: 0;
}

// Patch for Firefox: max-width:100% is not respected within auto-width inline 
// blocks
@-moz-document url-prefix() {
  .media_link {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
}
