// scss-lint:disable QualifyingElement, PropertyCount

$input-font-size-calc: scale($theme-font-family-input, $theme-font-size-base);
$input-line-height-calc: lh($theme-font-family-input, $theme-line-height-input); // was 1.3
$input-border-width: px-to-rem(1px); // Using rem instead of px so function uses same units
$input-padding-vertical: units(1);
$input-state-border: 0.5;

// input heights will vary by browser and type
// if height not explicitly set
$input-height-exact: (
  ($input-font-size-calc * $input-line-height-calc) +
  ($input-padding-vertical * 2) +
  ($input-border-width * 2)
);

// truncated to 1 decimal place
// (i.e., 1.21rem -> 1.2rem)
$input-height: floor($input-height-exact * 10) / 10;

// Block form elements
.usa-form,
// with a more consistent use of .usa-form
// the following should be unnecessary
.usa-form-large,
.usa-fieldset,
.usa-fieldset-inputs,
.usa-input,
.usa-textarea,
.usa-select,
.usa-range,
.usa-form-hint {
  @include typeset(
    $theme-font-family-input,
    $theme-font-size-base,
    $theme-line-height-input
  );
}

.usa-input,
.usa-textarea,
.usa-select,
.usa-range {
  @include u-border(1px, 'base-dark');
  appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  color: color('ink'); // standardize on firefox
  display: block;
  height: $input-height;
  margin-top: units(1);
  max-width: $input-max-width;
  padding: $input-padding-vertical units(1);
  width: 100%;

  &.usa-input-success {
    @include u-border($input-state-border, 'success');
  }
}

.usa-form-group-error {
  @include u-border-left(0.5, 'error-dark');
  margin-top: units(4);
  padding-left: units(2);
  position: relative;
  right: units(2.5);
}

.usa-input-error {
  @include u-border($input-state-border, 'error-dark');
}

.usa-input-error-label {
  display: block;
  font-size: $input-font-size-calc;
  font-weight: $theme-font-weight-bold;
  margin-top: 0;
}

.usa-input-error-message {
  @include u-padding-y(0.5);
  color: color('error-dark');
  display: block;
  font-size: $input-font-size-calc;
  font-weight: $theme-font-weight-bold;
}

.usa-input-label-helper {
  color: color('base');
}

.usa-input-label-required {
  color: color('error-dark');
}

.usa-label {
  display: block;
  line-height: line-height($theme-font-family-input, 2);
  margin-top: units(3);
  max-width: $input-max-width;
}

.usa-textarea {
  height: units('card');
}

.usa-select {
  appearance: none;
  background-color: color('white');
  background-image: url('#{$theme-image-path}/arrow-both.png');
  // Ensure browsers that don't support SVG in background-image (IE 11 and below) fall back to PNG.
  // See https://www.broken-links.com/2010/06/14/using-svg-in-backgrounds-with-png-fallback/
  background-image: none, url('#{$theme-image-path}/arrow-both.svg'), url('#{$theme-image-path}/arrow-both.png');
  background-position: right units(1.5) center;
  background-repeat: no-repeat;
  background-size: units(1);
  padding-right: units(4);

  &::-ms-expand {
    display: none;
  }

  // Show default webkit style on select element when autofilled to show icon
  &:-webkit-autofill {
    appearance: menulist;
  }

  // Remove dotted outline from select element on focus in Firefox
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 color('black');
  }
}

.usa-legend {
  font-size: scale($theme-font-family-input, $theme-font-size-h2);
  font-weight: $theme-font-weight-bold;
  line-height: line-height($theme-font-family-input, 2);
}

.usa-fieldset-inputs {
  label {
    margin-top: 0;
  }
}

// Hint text

.usa-form-hint {
  color: color('base');
  margin-bottom: 0;
}

// Custom checkboxes

.usa-checkbox-input,
.usa-radio-input {
  // The actual input element is only visible to screen readers, because
  // all visual styling is done via the label.
  @include sr-only();

  .lt-ie9 & {
    border: 0;
    float: left;
    margin: units(0.5) units(0.5) 0 0;
    position: static;
    width: auto;
  }
}

.usa-checkbox-label,
.usa-radio-label {
  cursor: pointer;
  display: inherit;
  font-weight: $theme-font-weight-normal;
  margin-bottom: units(1.5);
}

.usa-checkbox-label::before,
.usa-radio-label::before {
  background: color('white');
  content: '\a0';
  display: inline-block;
  text-indent: units(1);
  vertical-align: middle\0; // Target IE 11 and below to vertically center inputs
}

.usa-checkbox-label::before {
  border-radius: radius($theme-border-radius-checkbox);
  box-shadow: 0 0 0 2px color('base');
  height: units($theme-spacing-md);
  line-height: units($theme-spacing-md);
  margin-left: 1px;
  margin-right: units(1.5);
  width: units($theme-spacing-md);
}

.usa-radio-label::before {
  border-radius: 100%;
  box-shadow: 0 0 0 2px color('white'), 0 0 0 units(0.5) color('base');
  height: units(2); // Size overrides to account for shape + checked styling
  line-height: units(2);
  margin-left: units(.5);
  margin-right: units(1.5);
  width: units(2);
}

.usa-checkbox-input:checked + .usa-checkbox-label::before,
.usa-radio-input:checked + .usa-radio-label::before {
  background-color: color('primary');
  box-shadow: 0 0 0 2px color('primary');
}

.usa-radio-input:checked + .usa-radio-label::before {
  box-shadow: 0 0 0 2px color('white'), 0 0 0 4px color('primary');
}

.usa-checkbox-input:checked + .usa-checkbox-label::before,
.usa-checkbox-input:checked:disabled + .usa-checkbox-label::before {
  background-image: url('#{$theme-image-path}/correct8.png');
  background-image: url('#{$theme-image-path}/correct8.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

.usa-radio-input:focus + .usa-radio-label::before {
  outline: $focus-outline;
  outline-offset: units(0.5);
}

.usa-checkbox-input:disabled + .usa-checkbox-label {
  color: color('disabled');
}

.usa-checkbox-input:focus + .usa-checkbox-label::before {
  outline: $focus-outline;
  outline-offset: $focus-spacing;
}

.usa-checkbox-input:disabled + .usa-checkbox-label::before,
.usa-radio-input:disabled + .usa-radio-label::before {
  background: color('disabled-light');
  box-shadow: 0 0 0 2px color('disabled');
  cursor: not-allowed;
}

// Range inputs

// TODO: Change to $color-focus in 2.0
@mixin range-focus {
  background-color: color('white');
  box-shadow: 0 0 0 units(2px) color('primary');
}

@mixin range-track {
  background-color: color('base-lightest');
  border-radius: radius('pill');
  border: 1px solid color('base');
  cursor: pointer;
  height: units(2);
  width: 100%;
}

@mixin range-thumb {
  @include u-circle(2.5);
  background: color('base-lightest');
  border: none;
  box-shadow: 0 0 0 units(2px) color('base');
  cursor: pointer;
}

@mixin range-ms-fill {
  background-color: color('base-lightest');
  border-radius: radius('pill');
  border: 1px solid color('base');
}

.usa-range {
  appearance: none;
  border: none;
  padding-left: 1px;
  width: 100%;

  &:focus {
    outline: none;

    &::-webkit-slider-thumb {
      @include range-focus;
    }

    &::-moz-range-thumb {
      @include range-focus;
    }

    &::-ms-thumb {
      @include range-focus;
    }
  }

  &::-webkit-slider-runnable-track {
    @include range-track;
  }

  &::-moz-range-track {
    @include range-track;
  }

  &::-ms-track {
    @include range-track;
  }

  &::-webkit-slider-thumb {
    @include range-thumb;
    appearance: none;
    margin-top: px-to-rem(-3px); // magic number
  }

  &::-moz-range-thumb {
    @include range-thumb;
  }

  &::-ms-thumb {
    @include range-thumb;
  }

  &::-ms-fill-lower {
    @include range-ms-fill;
  }

  &::-ms-fill-upper {
    @include range-ms-fill;
  }
}

// File input type
[type='file'] {
  border: none;
  padding-left: 0;
}

// Memorable dates

.usa-memorable-date { /* stylelint-disable-line */
  .usa-label {
    margin-top: 0;
  }

  [type=number] {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button {
      appearance: none;
    }

    &::-webkit-contacts-auto-fill-button {
      visibility: hidden;
      display: none !important; /* stylelint-disable-line declaration-no-important */
      pointer-events: none;
      height: 0;
      width: 0;
      margin: 0;
    }
  }
}

.usa-form-group-day,
.usa-form-group-month,
.usa-form-group-year {
  clear: none;
  float: left;
  margin-right: units(2);
  width: units(6);
}

.usa-form-group-year {
  width: units(9);
}
