ul,
ol {
  margin-bottom: 2em;
  margin-top: 2em;
  list-style: none;
  padding-left: 0;
  display: table;

  li {
    display: table-row;
    line-height: $base-line-height;
    margin-bottom: 0.75em;
    margin-top: 0.75em;

    &::before {
      display: table-cell;
      padding-right: 0.4em;
    }

    &::after {
      content: '';
      display: block;
      margin-bottom: 0.5em;
    }
  }
}

ul li::before {
  content: '•';
}

ol li {
  counter-increment: table-ol;

  &::before {
    content: counter(table-ol) '.';
    text-align: right;
  }
}

li {
  margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  + ul,
  + ol {
    margin-top: 0;
  }
}

// Unstyled lists

.usa-unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: list-item;
    margin: 0;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}
