%usa-list {
  @include u-margin-y(1em);
  padding-left: units(2);
}

%usa-list-item {
  line-height: line-height($theme-font-family-base, $theme-line-height-base);
  margin-bottom: 0.5em;

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin usa-list-styles {
  ul,
  ol {
    @extend %usa-list;
  }

  li {
    @extend %usa-list-item;
  }
}

.usa-list {
  @extend %usa-list;

  li {
    @extend %usa-list-item;
  }
}

// Unstyled lists
.usa-unstyled-list {
  @include unstyled-list;
}
