@use "../core" as *;
// TODO $root-font-size should not be in functions

html {
  @include add-kerning;
  font-family: font-family($theme-body-font-family);
  font-size: $root-font-size;
}

@if $theme-style-body-element {
  body {
    @include typeset;
  }
}

@if $theme-global-paragraph-styles == true {
  @include usa-paragraph-style;
  p {
    * + & {
      margin-top: 1em; // TODO: add as var to settings?
    }

    + * {
      margin-top: 1em;
    }
  }
}

@if $theme-global-link-styles == true {
  @include usa-link-style;
}

@if $theme-global-content-styles == true {
  @include usa-content-styles;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    * + & {
      margin-top: 1.5em; // TODO: add as var to settings?
    }

    + * {
      margin-top: 1em;
    }
  }
}

// Remove user agent styles

cite,
var,
address,
dfn {
  font-style: normal;
}
