<div class="padding-4">
  <h2>Default accordion</h2>
  {% render '@accordion' %}

  <h2 class="margin-top-6">Bordered accordion</h2>
  {% render '@accordion--bordered' %}

  <h2 class="margin-top-6">Multiselectable accordion</h2>
  {% render '@accordion--multiselectable' %}
</div>
