<h1> Solid Butttons </h1>
<button class="usa-button" href="javascript:void(0);">Button</button>
<button class="usa-button usa-button--secondary">Secondary</button>
<button class="usa-button usa-button--accent-warm">Accent Warm</button>
<button class="usa-button usa-button--info">Info</button>
<button class="usa-button usa-button--error">Error</button>
<button class="usa-button usa-button--warning">Warning</button>
<button class="usa-button usa-button--success">Success</button>

<h1>Button Outlines</h1>

<button class="usa-button usa-button--outline">Button</button>
<button class="usa-button usa-button--outline usa-button--secondary">Secondary</button>
<a></a>
<button class="usa-button usa-button--accent-warm usa-button--outline">Accent Warm</button>
<button class="usa-button usa-button--info usa-button--outline">Info</button>
<button class="usa-button usa-button--error usa-button--outline">Error</button>
<button class="usa-button usa-button--warning usa-button--outline">Warning</button>
<button class="usa-button usa-button--outline usa-button--success ">Success</button>
