<div class="usa-section">
  <div class="grid-container">
    <h2>Flex test</h2>
    <p class="usa-intro">
      Test to verify flex properties, specifically `flex` fill and `flex` shorthands
      are working properly in <strong>all</strong> browsers, including IE11.
    </p>
  </div>
</div>

<section>
  <div class="grid-container">
    <h3>Grid</h3>
    <div class="grid-row">
      <div class="grid-col-auto border border-primary-light bg-primary-lighter padding-4">
        .grid-col-auto
      </div>
      <div class="grid-col-fill border border-primary-light bg-primary-lighter padding-4">
        .grid-col-fill
      </div>
      <div class="grid-col-auto border border-primary-light bg-primary-lighter padding-4">
        .grid-col-auto
      </div>
    </div>
    <div class="grid-row">
      <div
      class="grid-col border border-primary-light bg-primary-lighter padding-4"
      >
      .grid-col
    </div>
    <div class="grid-col-fill border border-primary-light bg-primary-lighter padding-4">
      .grid-col-fill
    </div>
    <div class="grid-col border border-primary-light bg-primary-lighter padding-4">
      .grid-col
    </div>
  </div>
  <div class="grid-row">
    <div class="flex-1 grid-col border border-primary-light bg-primary-lighter padding-4">
      .flex-1
    </div>
    <div class="flex-1 grid-col border border-primary-light bg-primary-lighter padding-4">
      .flex-1
    </div>
    <div class="grid-col border border-primary-light bg-primary-lighter padding-4">
      .grid-col
    </div>
  </div>
</div>
</section>

<section class="usa-section">
  <div class="grid-container">
    <h3>Utilities</h3>
    <div class="display-flex flex-row">
      <div class="border bg-accent-warm padding-4 flex-auto">.flex-auto</div>
      <div class="border bg-accent-warm padding-4 flex-auto">.flex-auto</div>
      <div class="border bg-accent-warm padding-4 flex-auto">.flex-auto</div>
      <div class="border bg-accent-warm padding-4 flex-auto">.flex-auto</div>
      <div class="border bg-accent-warm padding-4 flex-auto">.flex-auto</div>
      <div class="border bg-accent-warm padding-4 flex-1">.flex-1</div>
    </div>
    <div class="display-flex flex-row">
      <div class="border bg-accent-warm-light padding-4 flex-fill">
        <h3>.flex-fill</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
          dignissimos enim recusandae, qui possimus eos ullam, natus repellendus
          eaque veniam harum officiis distinctio unde temporibus, ipsa ex est
          nulla amet cupiditate facilis accusamus officia eum hic magnam! Nemo,
          porro iure!
        </p>
      </div>
      <div class="flex-auto border bg-accent-warm-light padding-4">
        <h3>.flex-auto</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
          accusamus facilis nam, dignissimos illum, iure obcaecati, officia
          ratione necessitatibus asperiores voluptas mollitia amet commodi nisi!
          Aliquam deserunt illum, quibusdam rem adipisci sapiente minus veniam
          pariatur! Dolorum quisquam quos libero esse voluptate. Officia, soluta
          placeat. Nemo, animi! Qui minima sequi omnis, quibusdam mollitia in.
          Iste laborum possimus temporibus amet, ipsa magni.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eius
          ducimus atque recusandae quidem quia illum, eos, minus, mollitia
          repellat quaerat ipsam modi? Neque ullam commodi pariatur? Voluptate
          incidunt, tempora odio modi neque veritatis ratione perferendis
          necessitatibus quo animi dolorum.
        </p>
      </div>
    </div>
    <div class="display-flex flex-row flex-wrap">
      <div class="border bg-yellow padding-4 flex-1">
        <h3>.flex-1</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
          dignissimos enim recusandae, qui possimus eos ullam, natus repellendus
          eaque veniam harum officiis distinctio unde temporibus, ipsa ex est
          nulla amet cupiditate facilis accusamus officia eum hic magnam! Nemo,
          porro iure!
        </p>
      </div>
      <div class="border bg-yellow padding-4 flex-3">
        <h3>.flex-3</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
          accusamus facilis nam, dignissimos illum, iure obcaecati, officia
          ratione necessitatibus asperiores voluptas mollitia amet commodi nisi!
          Aliquam deserunt illum, quibusdam rem adipisci sapiente minus veniam
          pariatur! Dolorum quisquam quos libero esse voluptate. Officia, soluta
          placeat. Nemo, animi! Qui minima sequi omnis, quibusdam mollitia in.
          Iste laborum possimus temporibus amet, ipsa magni.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eius
          ducimus atque recusandae quidem quia illum, eos, minus, mollitia
          repellat quaerat ipsam modi? Neque ullam commodi pariatur? Voluptate
          incidunt, tempora odio modi neque veritatis ratione perferendis
          necessitatibus quo animi dolorum.
        </p>
      </div>
    </div>
    <div class="display-flex flex-row flex-wrap">
      <div class="border bg-yellow padding-4 flex-auto">
        <h4>.flex-auto</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
          dignissimos enim recusandae, qui possimus eos ullam, natus repellendus
          eaque veniam harum officiis distinctio unde temporibus, ipsa ex est
          nulla amet cupiditate facilis accusamus officia eum hic magnam! Nemo,
          porro iure!
        </p>
      </div>
      <div class="border bg-yellow padding-4 flex-2">
        <h4>.flex-2</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
          accusamus facilis nam, dignissimos illum, iure obcaecati, officia
          ratione necessitatibus asperiores voluptas mollitia amet commodi nisi!
          Aliquam deserunt illum, quibusdam rem adipisci sapiente minus veniam
          pariatur! Dolorum quisquam quos libero esse voluptate. Officia, soluta
          placeat. Nemo, animi! Qui minima sequi omnis, quibusdam mollitia in.
          Iste laborum possimus temporibus amet, ipsa magni.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eius
          ducimus atque recusandae quidem quia illum, eos, minus, mollitia
          repellat quaerat ipsam modi? Neque ullam commodi pariatur? Voluptate
          incidunt, tempora odio modi neque veritatis ratione perferendis
          necessitatibus quo animi dolorum.
        </p>
      </div>
    </div>
  </div>
</section>
