{% extends 'layouts/_base.njk' %}

{% block body %}

  {% for spec in before %}
    {% render '@' + spec.component, spec.context, true %}
  {% endfor %}

  <main class="usa-grid usa-section usa-content usa-layout-docs" id="main-content">
    <aside class="usa-width-one-fourth usa-layout-docs-sidenav">
      {% render '@sidenav', {sidenav: sidenav} %}
    </aside>

    <div class="usa-width-three-fourths usa-layout-docs-main_content">
      <h1>{{ page.title }}</h1>

      <p class="usa-font-lead">{{ page.lead }}</p>

      <p class="usa-content">
        {{ page.body }}

        <ul>
        {% for list in page.lists %}
          <li>{{ list }}</li>
        {% endfor %}
        </ul>

        <ol>
        {% for list in page.lists %}
          <li>{{ list }}</li>
        {% endfor %}
        </ol>
      </p>

      {% for spec in inner %}
      <section id="{{ spec.id }}">
        <h2>{{ spec.title }}</h2>
        {% if spec.include %}
          {% include spec.include %}
        {% elseif spec.component %}
          {% render '@' + spec.component, spec.context, spec.merge %}
        {% else %}
          {{ spec.content }}
        {% endif %}
      </section>
      {% endfor %}

    </div>
  </main>

  {% for spec in after %}
    {% render '@' + spec.component, spec.context, true %}
  {% endfor %}

{% endblock %}
