{% extends 'layouts/_base.njk' %}

{% block body %}

  {% for spec in before %}
    {% render '@' + spec.component, spec.context, true %}
  {% endfor %}

  <div class="usa-section">
    <div class="grid-container">
      {% render '@breadcrumb--metadata' %}
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-3 usa-layout-docs__sidenav">
          {% render '@sidenav', {sidenav: sidenav} %}
        </div>
        <main class="desktop:grid-col-9 usa-layout-docs__main usa-prose usa-layout-docs" id="main-content">
          <h1>{{ page.title }}</h1>
          <p class="usa-intro">{{ page.lead | safe }}</p>
          <p class="usa-content">
            {{ page.body | safe }}

            <ul>
            {% for list in page.lists %}
              <li>{{ list }}</li>
            {% endfor %}
            </ul>

            <ol>
            {% for list in page.lists %}
              <li>{{ list }}</li>
            {% endfor %}
            </ol>
          </p>

          {% for spec in inner %}
          <section id="{{ spec.id }}" class="margin-top-4">
            <h2>{{ spec.title }}</h2>
            {% if spec.include %}
              {% include spec.include %}
            {% elseif spec.component %}
              {% render '@' + spec.component, spec.context, spec.merge %}
            {% else %}
              {{ spec.content }}
            {% endif %}
          </section>
          {% endfor %}
        </main>
      </div>
    </div>
  </div>

  {% for spec in after %}
    {% render '@' + spec.component, spec.context, true %}
  {% endfor %}

{% endblock %}
