{% extends 'layouts/_base.njk' %}

{% block body %}

  {% for spec in before %}
    {% render '@' + spec.component, spec.context, true %}
  {% endfor %}

  <main class="usa-section usa-content usa-layout-docs" id="main-content">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <aside class="tablet:grid-col-3 usa-layout-docs__sidenav">
          {% render '@sidenav', {sidenav: sidenav} %}
        </aside>

        <div class="tablet:grid-col-9 usa-layout-docs__main usa-prose">
          <h1>{{ page.title }}</h1>

          <p class="usa-intro">{{ page.lead }}</p>

          <p class="usa-content">
            {{ page.body }}

            <ul>
            {% for list in page.lists %}
              <li>{{ list }}</li>
            {% endfor %}
            </ul>

            <ol>
            {% for list in page.lists %}
              <li>{{ list }}</li>
            {% endfor %}
            </ol>
          </p>

          {% for spec in inner %}
          <section id="{{ spec.id }}" class="usa-prose margin-top-4">
            <h2>{{ spec.title }}</h2>
            {% if spec.include %}
              {% include spec.include %}
            {% elseif spec.component %}
              {% render '@' + spec.component, spec.context, spec.merge %}
            {% else %}
              {{ spec.content }}
            {% endif %}
          </section>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>

  {% for spec in after %}
    {% render '@' + spec.component, spec.context, true %}
  {% endfor %}

{% endblock %}
