<main class="usa-section">
  <form class="usa-form example-container">
    <fieldset class="usa-fieldset">
      <legend class="usa-sr-only">Historical figures 1</legend>
      <div class="example-row">
        <div class="example-col">
          <input class="usa-checkbox-input" id="washington" type="checkbox" name="historical-figures-1" value="washington">
          <label class="usa-checkbox-label" for="washington">Booker T. Washington</label>
        </div>
        <div class="example-col">
          <input class="usa-checkbox-input" id="douglass" type="checkbox" name="historical-figures-1" value="douglass">
          <label class="usa-checkbox-label" for="douglass">Frederick Douglass</label>
        </div>
        <div class="example-col">
          <input class="usa-checkbox-input" id="truth" type="checkbox" name="historical-figures-1" value="truth" checked>
          <label class="usa-checkbox-label" for="truth">Sojourner Truth</label>
        </div>
        <div class="example-col">
          <input class="usa-checkbox-input" id="tubman" type="checkbox" name="historical-figures-1" value="tubman">
          <label class="usa-checkbox-label" for="tubman">Harriet Tubman</label>
        </div>
      </div>
    </fieldset>
  </form>
</main>
