<main class="usa-grid usa-section">
  <div class="usa-width-one-third">
    {% include '07-form/controls/checkboxes.njk' %}
  </div>
  <div class="usa-width-one-third">
    {% include '07-form/controls/checkboxes.njk' %}
  </div>
  <div class="usa-width-one-third">
    {% include '07-form/controls/checkboxes.njk' %}
  </div>
</main>
