<main class="usa-section">
  <div class="grid-container">
    <p class="font-sans-sm">
      If you squint, all of these should look approximately the same.
    </p>
    <p class="font-serif-sm">
      If you squint, all of these should look approximately the same.
    </p>
    <p class="font-mono-sm">
      If you squint, all of these should look approximately the same.
    </p>
    <div class="grid-row position-relative">
      <div class="grid-col">
        <span class="font-sans-3xl">
          Calypso!
        </span>
        <span class="font-serif-3xl">
          Calypso!
        </span>
        <span class="font-mono-3xl">
          Calypso!
        </span>
      </div>
      <div class="bg-secondary height-1px width-full position-absolute bottom-105"></div>
      <div class="bg-secondary height-1px width-full position-absolute top-105"></div>
    </div>
  </div>
</main>
