<main class="usa-section">
  <div class="grid-container">
    <div class="grid-row position-relative">
      <div class="grid-col">
        <span class="font-sans-3xl">
          Calypso
        </span>
        <span class="font-serif-3xl">
          Calypso
        </span>
        <span class="font-mono-3xl">
          Calypso
        </span>
      </div>
      <div class="bg-secondary height-1px width-full position-absolute bottom-105"></div>
      <div class="bg-secondary height-1px width-full position-absolute top-105"></div>
    </div>
  </div>
</main>
