<main class="grid-container padding-top-2">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col">
      <div class="shadow-1 width-full add-aspect-1x1 radius-md"></div>
    </div>
    <div class="tablet:grid-col">
      <div class="shadow-2 width-full add-aspect-1x1 radius-md"></div>
    </div>
    <div class="tablet:grid-col">
      <div class="shadow-3 width-full add-aspect-1x1 radius-md"></div>
    </div>
    <div class="tablet:grid-col">
      <div class="shadow-4 width-full add-aspect-1x1 radius-md"></div>
    </div>
    <div class="tablet:grid-col">
      <div class="shadow-5 width-full add-aspect-1x1 radius-md"></div>
    </div>
  </div>
</main>
