<main class="grid-container padding-top-2">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col">
      <div class="example-1 width-full add-aspect-1x1 radius-md"></div>
    </div>
    <div class="tablet:grid-col">
      <div class="example-2 width-full add-aspect-1x1 radius-md"></div>
    </div>
    <div class="tablet:grid-col">
      <div class="example-3 width-full add-aspect-1x1 radius-md"></div>
    </div>
    <div class="tablet:grid-col">
      <div class="example-4 width-full add-aspect-1x1 radius-md"></div>
    </div>
    <div class="tablet:grid-col">
      <div class="example-5 width-full add-aspect-1x1 radius-md"></div>
    </div>
  </div>
</main>
