
<div class="padding-2 font-sans-xl">
  <h3 class="text-uppercase text-ls-1 margin-bottom-0 text-light">Letterspacing 1</h3>
  <p class="font-mono-xs margin-bottom-4 margin-top-1">letter-spacing: 0.025em;</p>
  <p class="font-serif-sm margin-top-0">Use for small strings of uppercase characters in buttons and labels like <span class="display-inline-block padding-y-2px padding-x-05 radius-sm bg-primary text-white font-sans-xs text-uppercase text-ls-1">NEW</span> and <span class="display-inline-block padding-y-2px padding-x-05 radius-sm bg-secondary text-white font-sans-xs text-uppercase text-ls-1">NOTEWORTHY</span>.

  <h3 class="text-uppercase text-ls-2 margin-bottom-0 text-light">Letterspacing 2</h3>
  <p class="font-mono-xs margin-bottom-4 margin-top-1">letter-spacing: 0.0625em;</p>
  <p class="font-serif-sm margin-top-0">Use for small strings of uppercase characters in text like <span class="font-sans-xs text-uppercase text-ls-2">USWDS</span> and <span class="font-sans-xs text-uppercase text-ls-2">COINTELPRO</span>.

  <h3 class="text-uppercase text-ls-3 margin-bottom-0 text-light">Letterspacing 3</h3>
  <p class="font-mono-xs margin-bottom-4 margin-top-1">letter-spacing: 0.125em;</p>
  <p class="font-serif-sm margin-top-0">Use for longer strings of uppercase characters in a heading.
  <h3 class="text-uppercase text-ls-3 margin-bottom-1 text-normal font-sans-xs">Using letterspacing in typography</h3>
  <h3 class="text-uppercase text-ls-3 margin-bottom-1 text-bold font-sans-xs">Practical examples</h3>
</div>
