<nav aria-label="Paginación," class="usa-pagination">
  <ul class="usa-pagination__list">
    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button usa-current"
        aria-label="Página 1"
        aria-current="page"
        >1</a
      >
    </li>
    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Página 2"
        >2</a
      >
    </li>
    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Página 3"
        >3</a
      >
    </li>
    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Página 4"
        >4</a
      >
    </li>
    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Página 5"
        >5</a
      >
    </li>
    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Página 6"
        >6</a
      >
    </li>
    <li
      class="usa-pagination__item usa-pagination__overflow"
      role="presentation"
    >
      <span>…</span>
    </li>
    <li class="usa-pagination__item usa-pagination__arrow">
      <a
        href="javascript:void(0);"
        class="usa-pagination__link usa-pagination__next-page"
        aria-label="Siguiente página"
        ><span class="usa-pagination__link-text">Siguiente </span
        ><svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="../../img/sprite.svg#navigate_next"></use></svg
      ></a>
    </li>
  </ul>
</nav>
