
  <a class="skipnav" href="#main-content">Skip to main content</a>
  <header class="usa-header usa-header-extended" role="banner">
    <div class="usa-disclaimer">
      <div class="usa-disclaimer-inner">
        <div class="usa-disclaimer-official">
          <img src="{{ site.baseurl }}/assets/img/favicons/favicon-40.png" alt="U.S. flag">
          <p>An official website of the United States government</p>
        </div>
      </div>
    </div>
    <div class="usa-navbar">
      <button class="usa-menu-btn">Menu</button>
      <div class="usa-logo" id="logo">
        <em>
          <a href="#" accesskey="1" title="Home" aria-label="Home">Department of Web Standards</a>
        </em>
      </div>
    </div>
    <nav role="navigation" class="usa-nav">
      <div class="usa-nav-inner">
        <button class="usa-nav-close">
          <img src="/assets/img/close.svg" alt="close">
        </button>
        {% include code/demo.html component="header-nav-dropdown" %}
        {% include code/demo.html component="header-nav-secondary" %}
      </div>
    </nav>
  </header>
  <div class="usa-overlay"></div>
