<style scoped>
  main {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;

  }

  .usa-section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-snap-align: start;
    align-items: center;
    justify-content: center;
  }
</style>

<main>
{# <main class="bg-ink text-white"> #}
  <div class="grid-container">
    {% for pager in pagination_sections %}
      <div class="usa-section">
        <h1>
          {{ pager.pagination.current }}
          {% if not pager.pagination.unbounded %}
            of {{ pager.pagination.items }}
          {% endif %}
          {% if pager.pagination.unbounded %}
            <small>(unbounded)</small>
          {% endif %}
        </h1>
        {% render '@pagination',
          {
            aria_label: 'pagination example ' + loop.index,
            pagination: pager.pagination
          },
          merge=true
        %}

        {% if pager.description %}
          <p class="font-body-md text-center measure-4
">
            {{ pager.description | safe }}
          </p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</main>
