<style scoped>
  main {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;

  }

  .usa-section {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    scroll-snap-align: start;
    align-items: center;
    justify-content: center;
  }
</style>

<main>
  <div class="grid-container">
    {% for pager in pagination_navs %}
      <div class="usa-section">
        <h1>
          {{ pager.pagination.current }} of {{ pager.pagination.items }}
          {% if pager.pagination.infinite %}
            <small>(unbounded)</small>
          {% endif %}
        </h1>
        {% render '@pagination',
          {
            aria_label: 'pagination example ' + loop.index,
            pagination: pager.pagination
          },
          merge=true
        %}
      </div>
    {% endfor %}
  </div>
</main>
