@use "uswds-core/src/styles/functions/general/map-collect" as *;
@use "uswds-core/src/styles/tokens/color" as *;
@use "colors" as *;

$tokens-color-grayscale: (
  "gray-5": $color-gray-5,
  "gray-10": $color-gray-10,
  "gray-30": $color-gray-30,
  "gray-50": $color-gray-50,
  "gray-70": $color-gray-70,
  "gray-90": $color-gray-90,
);

$tokens-color-system: map-collect(
  $tokens-color-black-transparent,
  $tokens-color-gray-cool,
  $tokens-color-gray,
  $tokens-color-gray-warm,
  $tokens-color-blue-cool,
  $tokens-color-blue,
  $tokens-color-blue-warm,
  $tokens-color-cyan,
  $tokens-color-gold,
  $tokens-color-green-cool,
  $tokens-color-green,
  $tokens-color-green-warm,
  $tokens-color-indigo-cool,
  $tokens-color-indigo,
  $tokens-color-indigo-warm,
  $tokens-color-magenta,
  $tokens-color-mint-cool,
  $tokens-color-mint,
  $tokens-color-orange,
  $tokens-color-orange-warm,
  $tokens-color-red-cool,
  $tokens-color-red,
  $tokens-color-red-warm,
  $tokens-color-violet,
  $tokens-color-violet-warm,
  $tokens-color-white-transparent,
  $tokens-color-yellow
);

$palettes-color: (
  "palette-color": map-collect(
      $tokens-color-theme,
      $tokens-color-grayscale,
      $tokens-color-global,
      $tokens-color-state,
      $tokens-color-basic,
      $tokens-color-system
    ),
  "palette-color-required": $tokens-color-global,
  "palette-color-basic": $tokens-color-basic,
  "palette-color-grayscale": $tokens-color-grayscale,
  "palette-color-theme": $tokens-color-theme,
  "palette-color-state": $tokens-color-state,
  "palette-color-system": $tokens-color-system,
);
