@use "uswds-core/src/styles/functions/general/map-collect" as *;
@use "uswds-core/src/styles/tokens/color" as *;

$tokens-color-violet-warm-light: (
  "violet-warm-5": $color-violet-warm-5,
  "violet-warm-10": $color-violet-warm-10,
  "violet-warm-20": $color-violet-warm-20,
  "violet-warm-30": $color-violet-warm-30,
);

$tokens-color-violet-warm-medium: (
  "violet-warm-40": $color-violet-warm-40,
  "violet-warm-50": $color-violet-warm-50,
  "violet-warm-60": $color-violet-warm-60,
);

$tokens-color-violet-warm-dark: (
  "violet-warm-70": $color-violet-warm-70,
  "violet-warm-80": $color-violet-warm-80,
  "violet-warm-90": $color-violet-warm-90,
);

$tokens-color-violet-warm-light-vivid: (
  "violet-warm-5v": $color-violet-warm-5v,
  "violet-warm-10v": $color-violet-warm-10v,
  "violet-warm-20v": $color-violet-warm-20v,
  "violet-warm-30v": $color-violet-warm-30v,
);

$tokens-color-violet-warm-medium-vivid: (
  "violet-warm-40v": $color-violet-warm-40v,
  "violet-warm-50v": $color-violet-warm-50v,
  "violet-warm-60v": $color-violet-warm-60v,
);

$tokens-color-violet-warm-dark-vivid: (
  "violet-warm-70v": $color-violet-warm-70v,
  "violet-warm-80v": $color-violet-warm-80v,
  "violet-warm-90v": $color-violet-warm-90v,
);

$tokens-color-violet-warm-standard: map-collect(
  $tokens-color-violet-warm-light,
  $tokens-color-violet-warm-medium,
  $tokens-color-violet-warm-dark
);

$tokens-color-violet-warm-vivid: map-collect(
  $tokens-color-violet-warm-light-vivid,
  $tokens-color-violet-warm-medium-vivid,
  $tokens-color-violet-warm-dark-vivid
);

$tokens-color-violet-warm: map-collect(
  $tokens-color-violet-warm-standard,
  $tokens-color-violet-warm-vivid
);

$palettes-color-violet-warm: (
  "palette-color-system-violet-warm-light": $tokens-color-violet-warm-light,
  "palette-color-system-violet-warm-medium": $tokens-color-violet-warm-medium,
  "palette-color-system-violet-warm-dark": $tokens-color-violet-warm-dark,
  "palette-color-system-violet-warm-light-vivid":
    $tokens-color-violet-warm-light-vivid,
  "palette-color-system-violet-warm-medium-vivid":
    $tokens-color-violet-warm-medium-vivid,
  "palette-color-system-violet-warm-dark-vivid":
    $tokens-color-violet-warm-dark-vivid,
  "palette-color-system-violet-warm-standard":
    $tokens-color-violet-warm-standard,
  "palette-color-system-violet-warm-vivid": $tokens-color-violet-warm-vivid,
  "palette-color-system-violet-warm": $tokens-color-violet-warm,
);
