// Vendor -------------- //

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'lib/normalize';


// Core -------------- //

@import 'core/defaults';
@import 'core/variables';
@import 'core/base';
@import 'core/grid-settings';
@import 'core/grid';
@import 'core/utilities';


// Elements -------------- //
// Styles basic HTML elements

@import 'elements/buttons';
@import 'elements/figure';
@import 'elements/inputs';
@import 'elements/labels';
@import 'elements/list';
@import 'elements/table';
@import 'elements/typography';


// Components -------------- //

@import 'components/accordions';
@import 'components/alerts';
@import 'components/disclaimer';
@import 'components/footer';
@import 'components/forms';
@import 'components/search';
@import 'components/sidenav';
@import 'components/skipnav';
