.DS_store
.*.swp

# ignore Node-specific files and directories
node_modules/
npm-debug.log*

# code coverage
coverage/

# ignore the generated dist directory
dist/

# ignore the Fractal build directgory
build/

# ignore gulp-generated vendor files
src/stylesheets/lib
