.DS_store
.*.swp

# Ignore Node specific files and directories
#
node_modules/
npm-debug.log*

# code coverage
coverage/

# README: Ignore the dist directories
#
dist/

# Ignore gulp-generated vendor files
#
src/stylesheets/lib
