# Jekyll files and directories
#
docs/
_site/

# Configuration and scripts
#
.ruby-version
_config.yml
.scss-lint.yml
Gemfile
Gemfile.lock
.sass-cache/
.bundle/

# Ensure that src and dist are published
#
!dist/
!src/
