@use "uswds-core" as *;

$form-error-border-width: 2px; 
$form-error-border-padding: units(1);
$form-error-negative-margin: -( 
  $form-error-border-width + rem-to-px($form-error-border-padding)
);

.usa-form-group {
  margin-top: units(3);

  // Let form-group handle top margin
  .usa-label:first-child {
    margin-top: 0;
  }
}

// Block input elements
.usa-form-group--error {
  @include u-border-left($form-error-border-width, "error-dark");
  padding-left: $form-error-border-padding;
  position: relative;

  @include at-media("desktop") {
    margin-left: $form-error-negative-margin;
  }
}
