
  <div class="grid-row grid-gap">
    <div class="mobile-lg:grid-col-4">

      <h6 class="usa-heading-alt">Unordered list</h6>

      <ul class="usa-list">
        <li>Unordered list item</li>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
      </ul>

    </div>

    <div class="mobile-lg:grid-col-4">

      <h6 class="usa-heading-alt">Ordered list</h6>

      <ol class="usa-list">
        <li>Ordered list item</li>
        <li>Ordered list item</li>
        <li>Ordered list item</li>
      </ol>

    </div>
  </div>
