<div class="usa-prose">
  <div class="usa-grid">
    <div class="usa-width-one-half">
      <h1>Heading 1</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales eros a diam fermentum, id pulvinar lacus tincidunt. Ut varius ipsum at ex maximus molestie. Quisque tincidunt posuere ligula, ut dictum quam.</p>
    </div>
    <div class="usa-width-one-half">
      <h2>Heading 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales eros a diam fermentum, id pulvinar lacus tincidunt. Ut varius ipsum at ex maximus molestie. Quisque tincidunt posuere ligula, ut dictum quam.</p>
      <h3>Heading 3 adoiasjdoi</h3>
    </div>
  </div>
  <div class="usa-grid bg-base-light">
    <div class="usa-width-one-half">
      <h3>Heading 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales eros a diam fermentum, id pulvinar lacus tincidunt. Ut varius ipsum at ex maximus molestie.</p>
      <p>Quisque tincidunt posuere ligula, ut dictum quam.</p>
    </div>
    <div class="usa-width-one-half">
      <h3>Heading 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales eros a diam fermentum, id pulvinar lacus tincidunt. Ut varius ipsum at ex maximus molestie. Quisque tincidunt posuere ligula, ut dictum quam.</p>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-half">
      <p><b>Paragraph text inside a grid column (usa-width-one-half):</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales eros a diam fermentum, id pulvinar lacus tincidunt. Ut varius ipsum at ex maximus molestie. Quisque tincidunt posuere ligula, ut dictum quam.</p>
    </div>
  </div>
  <div class="usa-grid">
    <p><b>Paragraph text inside a grid:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales eros a diam fermentum, id pulvinar lacus tincidunt. Ut varius ipsum at ex maximus molestie. Quisque tincidunt posuere ligula, ut dictum quam.</p>
  </div>
  <div class="usa-grid">
    <ul>
      <li>Unordered list item</li>
      <li>Unordered list item</li>
      <li>Unordered list item</li>
    </ul>
    <p>Lorem ipsum dolor sit amet</p>
  </div>
  <div class="usa-section usa-section-dark">
    <div class="usa-grid">
      <h2>Heading 2 in a dark section</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales eros a diam fermentum, id pulvinar lacus tincidunt. Ut varius ipsum at ex maximus molestie. Quisque tincidunt posuere ligula, ut dictum quam.</p>
    </div>
  </div>
  <div class="usa-section">
    <div class="usa-grid">
      <h2>Heading 2 in a section</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales eros a diam fermentum, id pulvinar lacus tincidunt. Ut varius ipsum at ex maximus molestie. Quisque tincidunt posuere ligula, ut dictum quam.</p>
    </div>
  </div>
</div>

<style>
  .wrapper {
    max-width: 100%;
  }
</style>