@use "uswds-core" as *;

.usa-skipnav {
  @include border-box-sizing;
  @include typeset;
  @include typeset-link;
  background: transparent;
  left: 0;
  padding: units(1) units(2);
  position: absolute;
  bottom: 100%;
  transition: $project-easing;
  z-index: z-index(100);

  &:focus,
  &.usa-focus {
    background: color("white");
    transform: translateY(100%);
  }
}

.usa-skipnav__container {
  position: relative;
}
