@use "sass:map";
@use "sass:math";

@use "get-color-grade" as *;

@function get-token-from-bg(
  $bg-color,
  $preferred-text-color: "white",
  $fallback-text-color: "ink",
  $wcag-target: "AA"
) {
  $magic-numbers: (
    "AA": 50,
    "AAA": 70,
    "AA-large": 40
  );
  $target-magic-number: map.get($magic-numbers, $wcag-target);
  $grade-bg: get-color-grade($bg-color);
  $grade-preferred: get-color-grade($preferred-text-color);
  $magic-num-preferred: math.abs($grade-bg - $grade-preferred);
  $color: false;

  //@debug "Background grade: #{$grade-bg} | Preferred text grade: #{$grade-preferred} | Magic number: #{$magic-num-preferred} | Target: #{$target-magic-number}";

  @if $magic-num-preferred >= $target-magic-number {
    $color: $preferred-text-color;
  } @else {
    $grade-fallback: get-color-grade($fallback-text-color);
    $magic-num-fallback: math.abs($grade-bg - $grade-fallback);
    $color: $fallback-text-color;
  }

  @if not $color {
    @error "Neither '#{$preferred-text-color}' nor '#{$fallback-text-color}' have #{$wcag-target} contrast on a '#{$bg-color}' background.";
  }

  @return $color;
}
