<ul class="usa-checklist">
  <li class="usa-checklist__item usa-checklist__item--checked">Provide <code>alt</code> text to images</li>
  <li class="usa-checklist__item usa-checklist__item--checked">Use headings in logical order</li>
  <li class="usa-checklist__item usa-checklist__item--checked">Use anchor elements for links and buttons for things like toggles</li>
  <li class="usa-checklist__item">Use tables for tabular data</li>
  <li class="usa-checklist__item">Avoid autoplaying videos and audio</li>
</ul>
