
<div class="usa-alert usa-alert--full-width-banner {{ alert.classes }}" {% if alert.role %}role="{{alert.role}}"{% endif %}>
  <div class="grid-container">
    <div class="usa-alert__body">
      {%- if alert.title %}
      <h3 class="usa-alert__heading">{{ alert.title }}</h3>
      {%- endif %}
      <p class="usa-alert__text">{{ alert.content | safe }}</p>
    </div>
  </div>
</div>