$system-color-cyan: (
  "cyan": (
    5: #e7f6f8,
    10: #ccecf2,
    20: #99deea,
    30: #5dc0d1,
    40: #449dac,
    50: #168092,
    60: #2a646d,
    70: #2c4a4e,
    80: #203133,
    90: #111819,
    "vivid": (
      5: #e5faff,
      10: #a8f2ff,
      20: #52daf2,
      30: #00bde3,
      40: #009ec1,
      50: #0081a1,
      60: #00687d,
      70: #0e4f5c,
      80: #093b44,
      90: false,
    ),
  ),
);
