$system-color-gold: (
  "gold": (
    5: #f5f0e6,
    10: #f1e5cd,
    20: #dec69a,
    30: #c7a97b,
    40: #ad8b65,
    50: #8e704f,
    60: #6b5947,
    70: #4d4438,
    80: #322d26,
    90: #191714,
    "vivid": (
      5: #fef0c8,
      10: #ffe396,
      20: #ffbe2e,
      30: #e5a000,
      40: #c2850c,
      50: #936f38,
      60: false,
      70: false,
      80: false,
      90: false
    )
  )
);
