$system-color-green: (
  "green": (
    5: #eaf4dd,
    10: #dfeacd,
    20: #b8d293,
    30: #9bb672,
    40: #7d9b4e,
    50: #607f35,
    60: #4c6424,
    70: #3c4a29,
    80: #293021,
    90: #161814,
    "vivid": (
      5: #ddf9c7,
      10: #c5ee93,
      20: #98d035,
      30: #7fb135,
      40: #719f2a,
      50: #538200,
      60: #466c04,
      70: #2f4a0b,
      80: #243413,
      90: false,
    ),
  ),
);
