$system-color-green-warm: (
  "green-warm": (
    5: #f1f4d7,
    10: #e7eab7,
    20: #cbd17a,
    30: #a6b557,
    40: #8a984b,
    50: #6f7a41,
    60: #5a5f38,
    70: #45472f,
    80: #2d2f21,
    90: #171712,
    "vivid": (
      5: #f1f6a5,
      10: #e2f106,
      20: #c5d30a,
      30: #a3b72c,
      40: #7e9c1d,
      50: #6a7d00,
      60: false,
      70: false,
      80: false,
      90: false
    )
  )
);
