$system-color-red-cool: (
  "red-cool": (
    5: #f8eff1,
    10: #f3e1e4,
    20: #ecbec6,
    30: #e09aa6,
    40: #e16b80,
    50: #cd425b,
    60: #9e394b,
    70: #68363f,
    80: #40282c,
    90: #1e1517,
    "vivid": (
      5: false,
      10: #f8dfe2,
      20: #f8b9c5,
      30: #fd8ba0,
      40: #f45d79,
      50: #e41d3d,
      60: #b21d38,
      70: #822133,
      80: false,
      90: false
    )
  )
);
