$system-color-red-warm: (
  "red-warm": (
    5: #f6efea,
    10: #f4e3db,
    20: #ecc0a7,
    30: #dca081,
    40: #d27a56,
    50: #c3512c,
    60: #805039,
    70: #524236,
    80: #332d29,
    90: #1f1c18,
    "vivid": (
      5: #fff5ee,
      10: #fce1d4,
      20: #f6bd9c,
      30: #f39268,
      40: #ef5e25,
      50: #d54309,
      60: #9c3d10,
      70: #63340f,
      80: #3e2a1e,
      90: false,
    ),
  ),
);
