$system-color-violet: (
  "violet": (
    5: #f4f1f9,
    10: #ebe3f9,
    20: #d0c3e9,
    30: #b8a2e3,
    40: #9d84d2,
    50: #8168b3,
    60: #665190,
    70: #4c3d69,
    80: #312b3f,
    90: #18161d,
    "vivid": (
      5: #f7f2ff,
      10: #ede3ff,
      20: #d5bfff,
      30: #c39deb,
      40: #ad79e9,
      50: #9355dc,
      60: #783cb9,
      70: #54278f,
      80: #39215e,
      90: false,
    ),
  ),
);
