@use "sass:math";

@use "../../variables/project-alerts" as *;
@use "../../settings" as *;
@use "../../functions" as *;
@use "../typography/typeset" as *;
@use "./set-text-and-bg" as *;
@use "./border-box-sizing" as *;
@use "../general/icon" as *;
@use "../utilities/padding" as *;
@use "../utilities/margin" as *;
@use "../helpers/set-link-from-bg" as *;

@mixin alert-styles{
  @include typeset($theme-alert-font-family);
  @include border-box-sizing;
  @include set-text-and-bg(
    "base-lightest",
    $theme-alert-text-color,
    $theme-alert-text-reverse-color
  );
  @include u-padding-y($theme-alert-padding-y);
  position: relative;

  * + & {
    margin-top: units(2);
  }

  border-left: units($theme-alert-bar-width) solid color("base-light");

  > .usa-list,
  .usa-alert__body > .usa-list {
    padding-left: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .usa-alert__body {
    @include u-padding-x($theme-alert-padding-x);
  }

  .usa-alert__heading {
    @include typeset($theme-alert-font-family, "lg", 1);
    margin-top: 0;
    margin-bottom: units(1);
  }

  .usa-alert__text {
    @include u-margin-y(0);
  }

  .usa-alert__text:only-child {
    @include u-padding-y(0);
  }
}

@mixin add-slim-alert-icon {
  @include u-padding-y(1);

  &:before {
    background-size: $alert-slim-icon-size;
    height: units(5);
    width: $alert-slim-icon-size;
    //To center, add half the difference in icon sizes
    left: $alert-icon-optical-padding + math.div((units($theme-alert-icon-size) - $alert-slim-icon-size), 2);
    @supports (mask: url("")) {
      mask-size: $alert-slim-icon-size;
    }
  }

  .usa-alert__body {
    padding-left: $alert-slim-icon-size + (2 * $alert-icon-optical-padding);
  }
}

@mixin add-alert-icon($name, $color, $bgcolor) {
  $this-icon-object: (
    "name": $name,
    "color": $color,
    "svg-height": 40,
    "svg-width": 40,
    "height": $theme-alert-icon-size,
  );

  &:before {
    @include add-color-icon($this-icon-object, $bgcolor);
    content: "";
    display: block;
    height: (2 * units($theme-alert-padding-y)) + units(3);
    // padding - optical spacing value
    left: $alert-icon-optical-padding;
    position: absolute;
    top: 0;
  }
  &.usa-alert--slim {
    @include add-slim-alert-icon;
  }
}

@mixin alert-styles-no-icon {
  &:before {
    display: none;
  }

  .usa-alert__body {
    padding-left: units($theme-alert-padding-x);
  }
}

@mixin alert-status-styles($name, $icon) {
  $bgcolor: if($name != "emergency", "#{$name}-lighter", $name);
  $banner-text-color-token: get-color-token-from-bg(
    $bgcolor,
    $theme-alert-text-reverse-color,
    $theme-alert-text-color,
    $context: "Alert (#{$name})"
  );

  @include add-alert-icon($icon, $banner-text-color-token, $bgcolor);
  background-color: color($bgcolor);
  border-left-color: color($name);
  color: color($banner-text-color-token);

  .usa-alert__body {
    padding-left: units($theme-alert-icon-size) +
      (2 * $alert-icon-optical-padding);
  }

  .usa-link {
    @include set-link-from-bg(
      $bgcolor,
      $theme-alert-link-reverse-color,
      $theme-alert-link-color,
      $context: "Alert (#{$name})"
    );
  }

  &.usa-alert--no-icon {
    @include alert-styles-no-icon;
  }
}
