<main id="main-content">
  <div class="usa-section grid-container">
    <h1>Search results</h1>
    <p>{{ results | length }} total results for <em>Tokens</em></p>
    <ul class="add-list-reset" aria-label="Search results">
      {% for result in results %}
        <li class="padding-y-1">
          <h2 class="margin-y-0">
            <a href="https://designsystem.digital.gov/{{ result.url }}" class="usa-link text-no-underline">{{ result.title }}</a>
          </h2>
          <div class="margin-top-05 text-base-dark">
            <span class="usa-sr-only">Result url</span>
            designsystem.digital.gov/{{ result.url }}
          </div>
          <p class="margin-top-1">
            {{ result.description }}
          </p>
        </li>
      {% endfor %}
    </ul>
    {% render '@pagination',
      {
        pagination: pagination
      },
      merge=true
    %}
  </div>
</main>
