{% set two_levels = {
  'items': [
    {
      'label': 'Parent link'
    },
    {
      'label': 'Parent link',
      'current': true,
      'subnav': [
        {
          'label': 'Child link',
        },
        {
          'label': 'Child link',
        },
        {
          'label': 'Child link',
        },
      ]
    },
    {
      'label': 'Parent link'
    },
  ]
} %}

<h6 class="padding-bottom-2">Two levels</h6>
{% include "@components/usa-sidenav/usa-sidenav.twig" with two_levels %}
