<div class="margin-top-5 padding-7">

  <label for="name" class="usa-label">Name</label>
  <input class="usa-input" type="text" name="name" id="name" data-toggle="tooltip" title="tooltip on an input">

  <br><br><br><br>

  <button class="usa-button" data-toggle="tooltip" title="this is the {{ tooltip.text }} on button">{{ tooltip.text }}</button>

  <br><br><br><br>

  <a href="javascript:void(0);" data-toggle="tooltip" title="this is the {{ tooltip.text }} on link" >Link {{ tooltip.text }}</a>

  <br><br><br>

<p>
  We make it easier to build accessible, <abbr data-toggle="tooltip" title="works on mobile devices">mobile-friendly</abbr> government <a href="#" data-toggle="tooltip" title="testing link tooltip">websites</a> for the American public.
</p>

</div>
