<div class="margin-top-5 padding-7">

  <label for="name" class="usa-label">Name</label>
  <input class="usa-input usa-tooltip__trigger" type="text" name="name" id="name" title="tooltip on an input">

  <br><br><br><br>

  <button class="usa-button usa-tooltip__trigger" data-position="top" title="this is the {{ tooltip.text }} on button">top</button>
  <br><br><br><br>

  <button class="usa-button usa-tooltip__trigger"  data-position="right" title="this is the {{ tooltip.text }} on button">right</button>
  <br><br><br><br>

  <button class="usa-button usa-tooltip__trigger"  data-position="bottom" title="this is the {{ tooltip.text }} on button">bottom</button>
  <br><br><br><br>

  <button class="usa-button usa-tooltip__trigger"  data-position="left" title="this is the left on button">left</button>

  <br><br><br><br>

  <a class="usa-tooltip__trigger" href="javascript:void(0);" title="this is the {{ tooltip.text }} on link" >Link {{ tooltip.text }}</a>

  <br><br><br>

<p>
  We make it easier to build accessible, <abbr class="usa-tooltip__trigger" title="works on mobile devices">mobile-friendly</abbr> government <a href="#" class="usa-tooltip__trigger" title="testing link tooltip">websites</a> for the American public.
</p>

</div>
