// Alert variables ---------- //
// TODO: Custom alerts are effectively hidden and not well supported
// Consider removing or rebuilding
$usa-custom-alerts: () !default;
$usa-custom-alerts-bar: () !default;

$usa-alerts: (
  success: "success-lighter",
  warning: "warning-lighter",
  error: "error-lighter",
  info: "info-lighter",
);

$usa-alerts-bar: (
  success: "success",
  warning: "warning",
  error: "error",
  info: "info",
);

$alerts: map-merge($usa-alerts, $usa-custom-alerts);

.usa-alert-banner {
  .usa-alert {
    &::before {
      display:none;
    }
  }
  .usa-alert__body {
    display: block;
  }
}

@each $name, $bgcolor in $alerts {
  .usa-alert-banner--#{$name} {
    background-color: color($bgcolor);
  }
}



.usa-alert-banner--grid-contained {
  .usa-alert {
    @include grid-container();
  }
}

.usa-alert-banner__close-btn {
  color: color("ink");
  float: right;
  text-decoration: none;
  //red-vivid-60
  &:hover {
    color: color("ink");
    text-decoration: none;
  }
}


.usa-alert-banner--emergency {
  background-color: #C14137;

  .usa-alert-banner__close-btn {
    @include set-link-from-bg($theme-color-secondary-dark);
  }
}



.usa-alert--emergency {

  @include add-background-svg("alerts/emergency");

  background-color: #C14137;
  color : #f2f3f4;

  &::before {
    background-color: color("red-60");
  }

  .usa-alert__body {
    padding-left: units($theme-alert-icon-size) +
      units($theme-alert-padding-x);
  }

  .usa-alert__text, .usa-list {
    a {
      @include set-link-from-bg($theme-color-secondary-dark);
    }
  }
}
