.usa-alert {
  background-color: $color-gray-lightest;
  background-position: 1rem 2rem;
  background-repeat: no-repeat;
  background-size: 4rem;
  margin-top: 1.5em;
  padding: 1em;

  @include media($medium-screen) {
    background-size: 5.2rem;
  }

  ul {
    margin-bottom: 0;
    margin-top: 1em;
  }
}

.usa-alert-icon {
  display: table-cell;
  padding-right: 1rem;
}

.usa-alert-body {
  display: table-cell;
//  padding-left: 3.5rem;
  vertical-align: top;

  @include media($medium-screen) {
//    padding-left: 5rem;
  }
}

.usa-alert-heading {
  margin-bottom: .3rem;
  margin-top: 0;

  @include media($medium-screen) {
    margin-top: .3rem;
  }
}

.usa-alert-text {
  font-family: $font-sans;
  margin-bottom: 0;
  margin-top: 0;
}

.usa-alert-success {
  @include display-icon(alerts/success, before, 5rem, 0, no-hover);
  background-color: $color-green-lightest;

  &::before {
    background-position-x: -1rem;
    float: left;
  }
}

.usa-alert-warning {
  @include display-icon(alerts/warning, before, 5rem, 0, no-hover);
  background-color: $color-gold-lightest;

  &::before {
    background-position-x: -0.6rem;
    float: left;
  }
}

.usa-alert-error {
  @include display-icon(alerts/error, before, 5rem, 0, no-hover);
  background-color: $color-secondary-lightest;

  &::before {
    background-position-x: -1rem;
    float: left;
  }
}

.usa-alert-info {
  @include display-icon(alerts/info, before, 5rem, 0, no-hover);
  background-color: $color-primary-alt-lightest;

  &::before {
    background-position-x: -1rem;
    float: left;
  }
}

.usa-alert-no_icon {
  background-image: none;
}
