$theme-anchor-background-color: "base-darkest";
$theme-anchor-min-width: "tablet";
$theme-anchor-gap: 4;
$theme-site-domain: "my-domain";

$anchor-icon-colors: get-link-tokens-from-bg(
  $theme-anchor-background-color,
  $theme-link-reverse-color
);

$anchor-icon-color: nth($anchor-icon-colors, 1);
$anchor-icon-hover: nth($anchor-icon-colors, 2);

// Need to create variants for IE11 so users can update background
// and have the icon and link colors automatically update.
$anchor-icon-external-link: (
  "name": "external-link",
  "svg-height": 40,
  "svg-width": 40,
  "height": 0.65em,
  "color": $anchor-icon-color,
  "color-hover": $anchor-icon-hover
);

// Ugly selector, but we're looking for external links that aren't
// wrapping identifier logos
$external-link-qualifier: ":not([href*=#{$theme-site-domain}]):not(.usa-anchor__branding-img)";

//
// General Styles
// =====================================
.usa-anchor {
  @include set-text-and-bg($theme-anchor-background-color);

  a {
    @include set-link-from-bg($theme-anchor-background-color);
  }

  // Only external links
  a[href^='http:']#{$external-link-qualifier},
  a[href^='https:']#{$external-link-qualifier} {
    @include place-icon(
      $anchor-icon-external-link,
      "after",
      "2px",
      baseline,
      $theme-anchor-background-color
    );
  }
}

//
// Primary Section
// =====================================
.usa-anchor__primary-section {
  padding-top: units(2.5);
  padding-bottom: units(2.5);

  @include at-media($theme-breadcrumb-min-width) {
    padding-bottom: units(1.5);
  }
}

// Branding
// =====================================
.usa-anchor__branding {
  margin-bottom: units(2);

  @include at-media($theme-anchor-min-width) {
    @include grid-row;
    @include grid-gap;
  }
}

.usa-anchor__branding-img:not(:only-child) {
  margin-bottom: units(2);
  @include u-text-decoration("no-underline");
}

.usa-anchor__branding-img {
  @include media-block-img($margin-right: units(0));
  display: inline-flex;
  align-self: center;
}

.usa-anchor__branding-img img {
  width: units(7);
  height: units(7);
  object-fit: contain;
}

.usa-anchor__branding-description {
  flex: 1 1 0%;
}


//
// Secondary Section
// =====================================
.usa-anchor__secondary-section {
  padding-top: units(1.5);
  padding-bottom: units(1.5);
  border-top: 1px solid color("gray-5");
}

// Required links
// =====================================
.usa-anchor__required-links-list {
  @include unstyled-list;

  @include at-media($theme-anchor-min-width) {
    @include grid-row;
    @include grid-gap($theme-anchor-gap);
    @include u-flex("align-start");
  }
}

// Override `unstyled-list` margin on mobile.
.usa-anchor__required-links-list > li:not(:last-child) {
  margin-bottom: units(1.5);
}
