$theme-anchor-background-color: "base-darkest";
$theme-anchor-min-width: "desktop";
$theme-anchor-gap: 4;
$theme-site-domain: "my-domain";

//
// General Styles
// =====================================
.usa-anchor {
  @include set-text-and-bg($theme-anchor-background-color);

  a {
    @include set-link-from-bg($theme-anchor-background-color);
  }
}

//
// Primary Section
// =====================================
.usa-anchor__primary-section {
  padding-top: units(4);
  padding-bottom: units(0);

  @include at-media("tablet") {
    padding-top: units(2);
  }
}

// Branding
// =====================================
.usa-anchor__branding {
  margin-bottom: units(4);

  @include at-media("tablet") {
    @include grid-row;
    @include grid-gap("md");
    @include u-align-items("align-center");
  }
  @include at-media("desktop") {
    margin-bottom: units(2);
  }
}

.usa-anchor__branding-img:not(:only-child) {
  margin-bottom: units(2);
  @include u-text-decoration("no-underline");

  @include at-media("tablet") {
    margin-bottom: 0;
  }
}

.usa-anchor__branding-img {
  @include media-block-img($margin-right: units(0));
  display: inline-flex;
}

.usa-anchor__branding-img img {
  width: units(7);
  height: units(7);
  object-fit: contain;
}

.usa-anchor__branding-description {
  flex: 1 1 0%;
}

// Required links
// =====================================
.usa-anchor__required-links-list {
  @include u-margin-y(0);
  list-style: none;
  padding-left: 0;
  width: max-content;

  @include at-media("tablet") {
    column-count: 2;
    column-gap: units($theme-anchor-gap);
    column-fill: balance;
    margin-bottom: units(1.5);
  }
  @include at-media($theme-anchor-min-width) {
    column-count: 3;
  }
}

.usa-anchor__required-links-item {
  break-inside: avoid;
  margin-bottom: units(1.5);
}

//
// Secondary Section
// =====================================
.usa-anchor__secondary-section {
  padding-top: units(2.5);
  padding-bottom: units(4);

  @include at-media("tablet") {
    padding-top: units(2);
    padding-bottom: units(2);
  }
}

.usa-anchor__secondary-section a {
  @include u-font-weight("bold");
  display: inline-block;
  margin-top: units(1.5);

  @include at-media("tablet") {
    margin-top: 0;
  }
}

.usa-anchor__secondary-section .usa-link:not(:first-of-type) {
  @include u-margin-left("05");
}
