.usa-banner {
  @include typeset($theme-font-family-banner);
  background-color: color('base-lightest');

  @include at-media('tablet') {
    font-size: font-size($theme-font-family-banner, '3xs');
    padding-bottom: units(0);
  }
}

.usa-banner-content {
  @include grid-container($theme-site-max-width);
  background-color: color(transparent);
  font-size: font-size($theme-font-family-banner, 4);
  overflow: hidden;
  padding-bottom: units(2);
  padding-top: units(0.5);
  padding-right: units($theme-site-margins-mobile);
  padding-left: units($theme-site-margins-mobile - 1);
  width: 100%;

  @include at-media('tablet') {
    @include u-padding-y(3);
  }

  @include at-media('desktop') {
    @include u-padding-x($theme-site-margins);
  }

  p {
    &:first-child {
      margin: 0;
    }
  }
}

.usa-banner-guidance-gov {
  padding-top: units(2);

  @include at-media('tablet') {
    padding-top: units(0);
  }
}

.usa-banner-guidance-ssl {
  padding-top: units(2);

  @include at-media('tablet') {
    padding-top: units(0);
  }
}

.usa-banner-inner {
  @include grid-container;
  @include grid-row;
  @include u-flex('align-start');
  padding-left: units($theme-site-margins-mobile);
  padding-right: units(0);

  @include at-media('tablet') {
    @include u-flex('align-center');
  }

  @include at-media('desktop') {
    @include u-padding-x($theme-site-margins);
  }
}

.usa-banner-header {
  @include u-padding-y(1);
  font-size: font-size($theme-font-family-banner, 1);
  font-weight: font-weight('normal');
  min-height: units($touch-target-size);
  position: relative;

  @include at-media('tablet') {
    @include u-padding-y(0.5);
    min-height: 0;
  }
}

.usa-banner-header-close-text {
  @include u-margin-y(0);
  color: color('base-dark');
  display: none;
  font-size: font-size($theme-font-family-banner, 1);
  line-height: line-height($theme-font-family-banner, 2);
  padding-top: units(0.5);

  .banner-header-expanded & {
    display: block;

    @include at-media('tablet') {
      display: none;
    }
  }
}

.usa-banner-header-text {
  @include u-margin-y(0);
  font-size: font-size($theme-font-family-banner, 1);
  line-height: line-height($theme-font-family-banner, 2);

  .banner-header-expanded & {
    display: none;

    @include at-media('tablet') {
      display: block;
    }
  }
}

.usa-banner-header-action {
  @include add-icon('angle-arrow-down-primary', 'after', 1, 1, 0, 'hover');
  color: color('primary');
  line-height: line-height($theme-font-family-banner, 2);
  margin-bottom: units(0);
  margin-top: units(2px);
  text-decoration: underline;

  @include at-media('tablet') {
    display: none;
  }

  .banner-header-expanded & {
    display: none;
  }

  &:after {
    margin-left: units(0.5);
  }
}

.usa-banner-header-flag {
  @include u-float('left');
  margin-right: units(1);
  width: units(2);

  @include at-media('tablet') {
    margin-right: units(1);
    padding-top: units(0);
  }
}

.usa-banner-header-expanded {
  padding-right: units($touch-target-size + 2);

  @include at-media('tablet') {
    background-color: transparent;
    color: color('ink');
    display: block;
    font-size: font-size($theme-font-family-banner, 1);
    font-weight: font-weight('normal');
    min-height: units(0);
    padding-right: units(0);
  }

  .usa-banner-header-action {
    display: none;
  }

  > .usa-banner-inner {
    margin-left: units(0);

    @include at-media('tablet') {
      margin-left: units(auto);
    }
  }
}

.usa-banner-button {
  @include button-unstyled;
  @include u-pin('left');
  @include u-pin('y');
  @include u-text('primary', underline, baseline);
  display: block;
  font-size: font-size($theme-font-family-banner, 1);
  height: auto;
  line-height: line-height($theme-font-family-banner, 2);
  padding-top: units(0);
  padding-left: units(0);
  width: auto;

  @include at-media-max('tablet') {
    width: 100%;
  }

  @include at-media('tablet') {
    @include add-icon('angle-arrow-down-primary', 'after', 1, 1, 0, 'hover');
    @include u-pin('none');
    display: inline;
    margin-left: units(1);
    position: relative;

    &::after {
      margin-left: units(0.5);
    }

    &:hover {
      @include u-text('primary-darker', underline);
    }
  }

  &[aria-expanded=false] {
    background-image: none;
  }

  &[aria-expanded=true] {
    background-image: none;

    @include at-media-max('tablet') {
      @include add-icon('close-blue-60v-alt',
        'after',
        $theme-icon-image-size,
        $touch-target-size,
        0,
        'no-hover'
      );

      &::after {
        @include u-pin('y');
        @include u-pin('right');
        background-color: color('base-lighter');
        bottom: 0;
        height: auto;
      }
    }

    @include at-media('tablet') {
      @include add-icon('angle-arrow-up-primary', 'after', 1, 1, 0, 'hover');
      height: auto;
      padding: units(0);
      position: relative;

      &::after {
        margin-left: units(0.5);
      }
    }

    &::after {
      position: absolute;
      right: units(2);
      top: units(1.5);

      @include at-media('tablet') {
        position: static;
      }
    }
  }
}

.usa-banner-button-text {
  @include add-sr-only;

  @include at-media('tablet') {
    @include add-no-sr-only;
    display: inline;
  }
}

.usa-banner-icon {
  width: units(5);
}
