.usa-banner {
  @include typeset($theme-font-family-banner);
  @include u-bg('base-lightest');
  @include u-padding-bottom(1);
  @include u-position('relative');

  @include at-media('mobile-lg') {
    @include u-font-size($theme-font-family-banner, $theme-font-size-h6);
    @include u-padding-bottom(0);
  }
}

.usa-banner-content {
  @include u-bg('transparent');
  @include u-padding-bottom(2px);
  @include u-padding-top(2.5);
  @include u-padding-x($site-margins-mobile);
  @include u-width('full');

  @include at-media('tablet') {
    @include u-padding-bottom(3);
    @include u-padding-top(5);
  }

  @include at-media($theme-nav-width) {
    @include u-padding-x($site-margins);
  }

  p {
    &:first-child {
      @include u-margin-top(1);

      @include at-media('tablet') {
        @include u-margin-top(0);
      }
    }
  }
}

.usa-banner-inner {
  @include grid-container($theme-site-max-width);
  @include u-padding-x($theme-site-margins-mobile);

  @include at-media('mobile-lg') {
    @include grid-row;
    @include u-flex('align-center');
  }

  @include media($nav-width) {
    @include u-padding-x($theme-site-margins);
  }
}

.usa-banner-header {
  @include u-padding-y(0.5);
  @include u-font-size($theme-font-family-banner, 1);

  @include at-media('mobile-lg') {
    @include u-padding-y(2px);
  }

  p {
    @include u-line-height($theme-font-family-banner, 1);
    @include u-margin-bottom(0);
    @include u-margin-top(2px);
    display: block;
    overflow: visible;

    @include at-media('mobile-lg') {
      @include u-margin-top(0);
      display: inline-block;
    }
  }

  img {
    float: left;
    margin-right: units(1);
    margin-top: 1px;
    width: units(3);

    @include at-media('mobile-lg') {
      margin-right: units(1);
      width: units(2.5);
    }
  }
}

.usa-banner-header-expanded {
  border-bottom: 1px solid color('base-lighter');
  min-height: units(7);
  padding-right: units(4);

  @include at-media('mobile-lg') {
    @include u-font-size($theme-font-family-banner, 1);
    border-bottom: none;
    display: block;
    min-height: 0;
    padding-right: 0;
  }

  > .usa-banner-inner {
    margin-left: 0;

    @include at-media('mobile-lg') {
      margin-left: auto;
    }
  }

  img {
    margin-right: units(3);

    @include at-media('mobile-lg') {
      margin-right: units(1);
    }
  }

  p {
    @include u-line-height($theme-font-family-banner, $theme-line-height-heading);
    vertical-align: top;

    @include at-media('mobile-lg') {
      @include u-line-height($theme-font-family-banner, $theme-line-height-base);
      vertical-align: middle;
    }
  }
}

.usa-banner-button {
  @include button-unstyled;
  @include u-font-size($theme-font-family-banner, 1);
  @include u-line-height($theme-font-family-banner, 1);
  @include u-padding-top(1.5);
  @include u-padding-left(6);
  background-position-x: right;
  color: color('primary');
  display: block;
  height: units(5);
  left: 0;
  position: absolute;
  text-decoration: underline;
  top: 0;
  width: 100%;

  @include at-media('mobile-lg') {
    @include u-padding-top(0);
    @include u-padding-left(2px);
    @include u-margin-left(0.5);
    /* stylelint-disable declaration-block-no-ignored-properties */
    display: inline;
    height: auto;
    position: relative;
    vertical-align: middle;
    width: auto;
    /* stylelint-enable */
  }

  &:hover {
    color: color('primary-darker');
    text-decoration: underline;
  }

  &[aria-expanded=false] {
    @include display-icon(angle-arrow-down-primary, after, units(1), 0, hover);
    background-image: none;

    &::after {
      background-position-y: 1px;
    }
  }

  &[aria-expanded=true] {
    @include display-icon(close, after, units(1.5), 0, no-hover);
    background-image: none;
    height: units(7);

    @include at-media('mobile-lg') {
      @include display-icon(angle-arrow-up-primary, after, units(1), 0, hover);
      height: initial;
      padding: 0 0 0 2px;
      position: relative;

      &::after {
        background-position-y: 1px;
      }
    }

    &::after {
      position: absolute;
      right: units(2);
      top: units(2.5);

      @include at-media('mobile-lg') {
        position: static;
      }
    }

    .usa-banner-button-text {
      display: none;

      @include at-media('mobile-lg') {
        display: inline;
      }
    }
  }
}

.usa-banner-icon {
  width: units(5);
}
