.usa-banner {
  @include typeset($theme-font-family-banner);
  @include u-bg('base-lightest');

  @include at-media('tablet') {
    @include u-padding-bottom(0);
    @include u-font-size($theme-font-family-banner, 3xs);
  }
}

.usa-banner-content {
  @include grid-container($theme-site-max-width);
  @include u-bg(transparent);
  @include u-overflow(hidden);
  @include u-padding-bottom(1.5);
  @include u-padding-top(2px);
  @include u-padding-x(1);
  @include u-font-size($theme-font-family-banner, 3);
  @include u-width(full);

  @include at-media('tablet') {
    @include u-padding-y(3);
  }

  @include at-media('desktop') {
    @include u-padding-x($theme-site-margins);
  }

  p:first-child {
    @include u-margin(0);
  }
}

.usa-banner-guidance-gov {
  @include u-padding-top(2);

  @include at-media('tablet') {
    @include u-padding-top(0);
  }
}

.usa-banner-guidance-ssl {
  @include u-padding-top(2);

  @include at-media('tablet') {
    @include u-padding-top(0);
  }
}

.usa-banner-inner {
  @include grid-container($theme-site-max-width);
  @include grid-row;
  @include u-flex('align-start');
  @include u-padding-left($theme-site-margins-mobile);
  @include u-padding-right(0);
  @include u-padding-x(1);

  @include at-media('tablet') {
    @include u-flex('align-center');
  }

  @include at-media('desktop') {
    @include u-padding-x($theme-site-margins);
  }
}

.usa-banner-header {
  @include u-padding-y(1);
  @include u-position(relative);
  @include u-font-size($theme-font-family-banner, 1);
  @include u-text(normal);

  @include at-media('tablet') {
    @include u-padding-y(.5);
  }

  &-close-text {
    @include u-display(none);
    @include u-line-height($theme-font-family-banner, 2);
    @include u-margin-y(0);
    @include u-padding-top(.5);
    @include u-font-size($theme-font-family-banner, 1);
    @include u-text('base-dark');

    .banner-header-expanded & {
      @include u-display(block);

      @include at-media('tablet') {
        @include u-display(none);
      }
    }
  }

  &-text {
    @include u-line-height($theme-font-family-banner, 2);
    @include u-margin-y(0);
    @include u-font-size($theme-font-family-banner, 1);
    .banner-header-expanded & {
      @include u-display('none');

      @include at-media('tablet') {
        @include u-display(block);
      }
    }
  }

  &-action {
    @include add-icon(angle-arrow-down-primary, after, spacing(1), 0, hover);
    @include u-line-height($theme-font-family-banner, 2);
    @include u-margin-bottom(0);
    @include u-margin-top(2px);
    @include u-text('primary');

    @include at-media('tablet') {
      @include u-display(none);
    }

    .banner-header-expanded & {
      @include u-display(none);
    }

    &:after {
      @include u-margin-left(.5);
    }
  }

  &-flag {
    @include u-float('left');
    @include u-margin-right(1);
    @include u-width(2);

    @include at-media('tablet') {
      @include u-margin-right(1);
      @include u-padding-top(0);
    }

    .usa-banner-header-expanded & {
      @include u-display('none');

      @include at-media('tablet') {
        @include u-display(block);
      }
    }
  }
}

.usa-banner-header-expanded {
  @include u-minh(4);

  @include at-media('tablet') {
    @include u-display(block);
    @include u-minh(0);
    @include u-padding-right(0);
    @include u-font-size($theme-font-family-banner, 1);
    @include u-text(normal);
  }

  > .usa-banner-inner {
    @include u-margin-left(0);

    @include at-media('tablet') {
      @include u-margin-left(auto);
    }
  }
}

.usa-banner-button {
  @include u-pin('left');
  @include u-pin('y');
  @include button-unstyled;
  @include u-display(block);
  @include u-height(auto);
  @include u-line-height($theme-font-family-banner, 2);
  @include u-padding-top(0);
  @include u-padding-left(0);
  @include u-font-size($theme-font-family-banner, 1);
  @include u-text('primary', underline, baseline);
  @include u-width('full');

  @include at-media('tablet') {
    @include u-pin('none');
    @include add-icon(angle-arrow-down-primary, after, spacing(1), 0, hover);
    @include u-display(inline);
    @include u-margin-left(1);
    @include u-position(relative);
    @include u-width(auto);

    &::after {
      @include u-margin-left(.5);
    }

    &:hover {
      @include u-text('primary-darker', underline);
    }
  }

  /* stylelint-disable selector-no-qualifying-type */

  &[aria-expanded=false] {
    background-image: none;
  }

  &[aria-expanded=true] {
    @include add-icon(close, after, spacing(1.5), 0, no-hover);
    background-image: none;

    @include at-media('tablet') {
      @include add-icon(angle-arrow-up-primary, after, spacing(1), 0, hover);
      @include u-height(auto);
      @include u-padding(0);
      @include u-position(relative);
      &::after {
        @include u-margin-left(.5);
      }
    }

    /* stylelint-enable */

    &::after {
      @include u-position(absolute);
      @include u-right(2);
      @include u-top(1.5);

      @include at-media('tablet') {
        @include u-position(static);
      }
    }
  }
}

.usa-banner-button-text {
  @include add-sr-only;

  @include at-media('tablet') {
    @include add-no-sr-only;
    @include u-display(inline);
  }
}

.usa-banner-icon {
  @include u-width(5);
}
