
// This helps balance spacing around inline-block elements
$gap-inline-spacer: -.25em;

// Should this be a setting?
$breadcrumb-icon-height: 1.35ex;

@mixin breadcrumb-icon($icon: $theme-breadcrumb-separator-icon, $dim: $theme-breadcrumb-separator-icon-aspect) {
  $aspect: nth($dim, 1) / nth($dim, 2);
  // 1. Chould these be a separate mixin?
  $image-name: unquote($icon); // 1
  background-color: color($theme-breadcrumb-icon-color); // 1
  content: "";
  display: inline-block;
  height: $breadcrumb-icon-height;
  mask: url("#{$image-name}") no-repeat center; // 1
  mask-size: ($breadcrumb-icon-height * $aspect) $breadcrumb-icon-height; // 1
  width: $breadcrumb-icon-height * $aspect;
}

@mixin exdent-icon($dim: $theme-breadcrumb-back-icon-aspect) {
  $aspect: nth($dim, 1) / nth($dim, 2);
  $icon-width: $breadcrumb-icon-height * $aspect;
  $gap: calc(
        #{units($theme-breadcrumb-gap)} + #{$gap-inline-spacer}
      );
  padding-left: calc(#{$icon-width} + #{$gap});
  text-indent: calc((#{$icon-width} + #{$gap}) * -1);
}

.usa-breadcrumb {
  @include typeset($theme-breadcrumb-font-family, $theme-breadcrumb-font-size, 3);
  @include at-media($theme-breadcrumb-min-width) {
    @include u-padding-bottom($theme-breadcrumb-spacing-bottom);
    @include u-padding-top($theme-breadcrumb-spacing-top);

    @if $theme-breadcrumb-wrapping {
      @include u-line-height($theme-breadcrumb-font-family, 4);
    }
  }
}

.usa-breadcrumb__list {
  @include unstyled-list;
  @include u-display("block");
  @include u-margin(-$theme-focus-width);
  @include u-padding($theme-focus-width);

  @if not $theme-breadcrumb-wrapping {
    @include at-media($theme-breadcrumb-min-width) {
      @include u-white-space("no-wrap");
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.usa-breadcrumb__list-item {
  @include sr-only;
  @include u-display("inline");
  @include u-white-space("no-wrap");

  @include at-media-max($theme-breadcrumb-min-width) {
    @include u-white-space("wrap");

    // ⃪ Parent link.
    &:nth-last-child(2) {
      @include not-sr-only;

      .usa-breadcrumb__link {
        @include button-unstyled;
        // follow button-unstyled for specificity
        @include add-link-styles($theme-breadcrumb-link-colors);
        @include exdent-icon;

        @include u-display("inline-block");
        @include u-padding-bottom($theme-breadcrumb-spacing-bottom);
        @include u-padding-top($theme-breadcrumb-spacing-top);
      }

      .usa-breadcrumb__link::before {
        @include breadcrumb-icon($theme-breadcrumb-back-icon, $theme-breadcrumb-back-icon-aspect);
        margin-right: calc(
          #{units($theme-breadcrumb-gap)} + #{$gap-inline-spacer}
        );
      }
    }
  }

  @include at-media($theme-breadcrumb-min-width) {
    @include not-sr-only;

    &:not(:last-child)::after {
      @include breadcrumb-icon;
      margin-left: calc(
        #{units($theme-breadcrumb-gap)} + #{$gap-inline-spacer}
      );
      margin-right: calc(
        #{units($theme-breadcrumb-gap)} + #{$gap-inline-spacer}
      );
    }
  }
}

.usa-breadcrumb__link {
  @include add-link-styles($theme-breadcrumb-link-colors);
  @include u-display("inline");
}
