// This helps balance spacing around inline-block elements
$gap-inline-spacer: -0.25em;

$breadcrumb-back-icon-aspect: 1, 1 !default;
$breadcrumb-icon-color: "gray-50";
$breadcrumb-icon-height: 1.35ex;
$breadcrumb-icon-spacing: calc(
  #{units($theme-breadcrumb-gap)} + #{$gap-inline-spacer}
);

$icon-breadcrumb-separator: (
  "name": "angle-arrow-right",
  "svg-height": 64,
  "svg-width": 40,
  "height": $breadcrumb-icon-height,
  "color": $breadcrumb-icon-color
);

$icon-breadcrumb-back: (
  "name": "arrow-left",
  "svg-height": 64,
  "svg-width": 64,
  "height": $breadcrumb-icon-height,
  "color": $breadcrumb-icon-color
);

@mixin exdent-icon($dim: $breadcrumb-back-icon-aspect) {
  $aspect: nth($dim, 1) / nth($dim, 2);
  $icon-width: $breadcrumb-icon-height * $aspect;
  padding-left: calc(#{$icon-width} + #{$breadcrumb-icon-spacing});
  text-indent: calc((#{$icon-width} + #{$breadcrumb-icon-spacing}) * -1);
}

.usa-breadcrumb {
  @include typeset(
    $theme-breadcrumb-font-family,
    $theme-breadcrumb-font-size,
    3
  );
  @include at-media($theme-breadcrumb-min-width) {
    @include u-padding-bottom($theme-breadcrumb-spacing-bottom);
    @include u-padding-top($theme-breadcrumb-spacing-top);

    @if $theme-breadcrumb-wrapping {
      @include u-line-height($theme-breadcrumb-font-family, 4);
    }
  }
}

.usa-breadcrumb__list {
  @include unstyled-list;
  @include u-display("block");
  @include u-margin(-$theme-focus-width);
  @include u-padding($theme-focus-width);

  @if not $theme-breadcrumb-wrapping {
    @include at-media($theme-breadcrumb-min-width) {
      @include u-white-space("no-wrap");
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.usa-breadcrumb__list-item {
  @include sr-only;
  @include u-display("inline");
  @include u-white-space("no-wrap");

  @include at-media-max($theme-breadcrumb-min-width) {
    @include u-white-space("wrap");

    // ⃪ Parent link.
    &:nth-last-child(2) {
      @include not-sr-only;

      .usa-breadcrumb__link {
        @include button-unstyled;
        // follow button-unstyled for specificity
        @include add-link-styles($theme-breadcrumb-link-colors);
        @include exdent-icon;
        @include place-icon(
          $icon-breadcrumb-back,
          "before",
          0, // Replaced with $icon-spacing override
          baseline,
          "white"
        );

        @include u-display("inline-block");
        @include u-padding-bottom($theme-breadcrumb-spacing-bottom);
        @include u-padding-top($theme-breadcrumb-spacing-top);
      }

      // Override icon spacing from place-icon()
      .usa-breadcrumb__link::before {
        margin-right: $breadcrumb-icon-spacing;
      }
    }
  }

  @include at-media($theme-breadcrumb-min-width) {
    @include not-sr-only;

    // Breadcrumb separator ›
    &:not(:last-child) {
      @include place-icon(
        $icon-breadcrumb-separator,
        "after",
        0, // Replaced with $icon-spacing override
        baseline,
        "white"
      );
    }

    // Style overrides for separator
    &:not(:last-child)::after {
      margin-left: $breadcrumb-icon-spacing;
      margin-right: $breadcrumb-icon-spacing;
    }
  }
}

.usa-breadcrumb__link {
  @include add-link-styles($theme-breadcrumb-link-colors);
  @include u-display("inline");
}
