.usa-collection {
  @extend %usa-list;
  @include u-padding-left(0);
}

.usa-collection__item {
  @extend %usa-list-item;
  @include unstyled-list;

  @include u-align-items("align-start");
  @include u-border-top(1px);
  @include u-display("flex");
  @include u-margin-y(2);
  @include u-padding-top(2);
}

.usa-collection__img {
  @include media-block-img;
  width: units(10);
}

.usa-collection__body {
  @include u-flex(1);
  @include typeset("ui", "sm", 3);
}

.usa-collection__heading {
  @include u-margin-top(0);
  @include u-margin-bottom(0);
}

.usa-collection__teaser {
  @include u-margin-y(1);
}

.usa-collection__meta-list {
  @include u-margin-top(0.5);
}

.usa-collection__meta-item {
  display: inline-block;
  margin-right: units(1);
  @include typeset("ui", "2xs", 3);

  &.usa-tag {
    @include u-line-height("ui", 1);
    @include u-padding-y(0.5);
    margin-top: units(0.5);
  }
}

.usa-collection__calendar-date {
  @include media-block-img;
  width: 75px;
  border: 1px solid #f0f0f0;
  text-decoration: none;
}

.usa-collection__calendar-date-month,
.usa-collection__calendar-date-day {
  display: block;
  padding: units(1);
  text-align: center;
  font-weight: 700;
  font-size: 17px;
}

.usa-collection__calendar-date-month {
  background-color: color("primary");
  color: color("white");
}

.usa-collection__calendar-date-day {
  color: color("primary");
}

.usa-collection--condensed {
  .usa-collection__item {
    @include u-margin-y(1);
    @include u-padding-top(1);
  }
}
