.usa-disclaimer {
  background-color: $color-gray-lightest;
  padding-bottom: 7px;
//  height: 2.3rem;

  @include media($medium-screen) {
    padding-bottom: 0;
  }

  @include media($small-screen) {
    font-size: $h6-font-size;
  }

  .usa-accordion-content {
    background-color: transparent;
    padding: 0;
    width: 100%;
  }
}

.usa-disclaimer-inner {
  @include outer-container();
  @include padding(null $site-margins-mobile);
  max-width: $site-max-width;

  @include media($nav-width) {
    @include padding(null $site-margins);
  }
}

.usa-disclaimer-official {
  display: inline-block;
  float: left;
  font-size: 1.2rem;
  font-weight: $font-normal;
//  font-size: $h5-font-size;
//  font-weight: $font-bold;

  p {
    @include margin(3px 4px 3px null);
    display: inline;

    @include media($small-screen) {
      @include margin(2px null);
    }
  }

  img {
    float: left;
    margin-right: 0.7rem;
    margin-top: 1px;
    width: 2rem;
  }
}

// This hides the stage note (i.e. alpha, beta, etc) of the disclaimer for
// anything smaller than large screen sizes
.usa-disclaimer-stage {
  @include margin(2px null);
  display: none;
  float: right;

  @include media($large-screen) {
    display: block;
  }
}

.usa-disclaimer-button {
  @include button-unstyled;
  background-position-x: right;
  color: $color-primary;
  font-size: 1.2rem;
  text-decoration: underline;
  width: auto;

  &:hover {
    color: $color-primary-darker;
    text-decoration: underline;
  }

  &[aria-expanded=false] {
    @include display-icon(angle-arrow-down-primary, after, 1rem, 0, hover);
    background-image: none;
  }

  &[aria-expanded=true] {
    @include display-icon(close, after, 1.3rem, 0, no-hover);
    @include padding(2rem 1.5rem);
    background-image: none;
    position: absolute;
    right: 0;

    @include media($medium-screen) {
      @include display-icon(angle-arrow-up-primary, after, 1rem, 0, hover);
      padding: 0;
      position: static;
    }

    .usa-disclaimer-button-text {
      display: none;

      @include media($medium-screen) {
        display: inline;
      }
    }
  }
}

.usa-disclaimer-guidance {
  font-size: $h5-font-size;
  margin-top: 2rem;

  @include media($medium-screen) {
    margin-top: 4rem;
  }

  p:first-child {
    margin-top: 1rem;

    @include media($medium-screen) {
      margin-top: 0;
    }
  }
}

.usa-disclaimer-icon {
  width: 3.8rem;
}

