.usa-featured-content {
  @include u-align-items("align-start");
  @include u-display("flex");
  @include u-margin-y(1);
}

.usa-featured-content__img {
  @include media-block-img;
}

.usa-featured-content__body {
  @include u-flex(1);
  @include typeset(
    $theme-step-indicator-font-family,
    $theme-step-indicator-label-font-size,
    2
  );
}

.usa-featured-content__heading {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @include u-margin-top(0);
  @include u-margin-bottom(1);
}

.usa-featured-content__teaser {
  @include u-margin-y(1);
}

.usa-featured-content__meta-list {
  @include u-margin-y(1);
}

.usa-featured-content__meta-item {
  display: inline-block;
  margin-right: units(1.5);
}

.usa-featured-content__calendar-date {
  @include media-block-img;
  width: 75px;
  border: 1px solid #f0f0f0;
}

.usa-featured-content__calendar-date-month,
.usa-featured-content__calendar-date-day {
  display: block;
  padding: units(1);
  text-align: center;
  font-weight: 700;
  font-size: 17px;
}

.usa-featured-content__calendar-date-month {
  background-color: color("primary");
  color: color("white");
}

.usa-featured-content__calendar-date-day {
  color: color("primary");
}
