// General footer styles

.usa-footer {
  @include typeset($theme-font-family-footer);
  overflow: hidden;

  .usa-unstyled-list {
    display: block;
  }
}

.usa-footer-return-to-top {
  @include u-padding-y(2.5);
  line-height: line-height($theme-font-family-footer, 1);
}

.usa-footer-nav {
  @include u-margin-x('auto');
  @include u-padding-x(0);
  max-width: units('desktop');

  @include at-media('mobile-lg') {
    @include u-padding-x($theme-site-margins-mobile);
  }
  @include at-media('desktop') {
    @include u-padding-x($theme-site-margins);
  }
}

.usa-footer-primary-section {
  background-color: color('base-lightest');
}

// TODO: usage
.usa-footer-primary-content {
  line-height: line-height($theme-font-family-footer, 2);

  li {
    margin-left: units(1);

    @include at-media('mobile-lg') {
      margin-left: 0;
    }
  }
}

.usa-footer-primary-link {
  @include u-padding-x($theme-site-margins-mobile);
  @include u-padding-y(2.5);
  @include u-text('ink', 'no-underline', 'bold')
  display: block;
  margin-top: 0;

  @include at-media('mobile-lg') {
    @include u-padding-x(0);
    border-top: none;
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;

    @include at-media('mobile-lg') {
      cursor: auto;
      text-decoration: none;
    }
  }
}

.usa-footer-primary-link ~ li a,
.usa-footer-secondary-link a {
  text-decoration: none;
}

.usa-footer-contact_info {
  display: inline-block;

  a {
    @include u-text('ink', 'no-underline');
  }

  &:hover {
    text-decoration: underline;
  }
}

.usa-footer-primary-content {
  border-top: 1px solid color('base-light');

  @include at-media('mobile-lg') {
    border: none;
  }

  &:last-child {
    border-bottom: 1px solid color('base-light');

    @include at-media('mobile-lg') {
      border-bottom: none;
    }
  }
}

.usa-sign_up-block {
  @include u-padding-y(2);
  padding-bottom: units(5);

  @include at-media('mobile-lg') {
    float: right;
    padding: 0;
  }

  label:first-of-type {
    margin-top: 0;
  }

  button {
    float: none;
    margin-right: 0;
    margin-top: units(2);
  }

  input {
    width: 100%;
  }
}

.usa-footer-secondary-section {
  background-color: color('base-lighter');
  padding-bottom: units(2.5);
  padding-top: units(2.5);

  a {
    color: color('ink');
  }
}

.usa-footer-topic {
  margin: 0;
  padding: units(2) 0;
}

.usa-sign_up-header {
  @include at-media('mobile-lg') {
    margin: 0;
    padding: units(2) 0;
  }
}

.usa-footer-logo {
  padding-top: units(1);
  padding-bottom: units(2.5);

  @include at-media('mobile-lg') {
    @include u-flex('align-center');
    padding: units(2.5) 0;
  }
}

.usa-footer-logo-img {
  max-width: units(10);

  @include at-media('mobile-lg') {
    float: left;
  }
}

.usa-footer-logo-heading {
  @include h3;
  @include u-margin-y(1);
  line-height: line-height('heading', 1);
}

.usa-footer-contact-links {
  @include at-media('mobile-lg') {
    text-align: right;
  }
}

.usa-footer-contact-heading {
  @include typeset-h3;
  margin-top: 0;

  @include at-media('mobile-lg') {
    margin-top: 1rem;
  }
}

.usa-footer-social-links {
  line-height: line-height($theme-font-family-footer, 1);
  padding-bottom: units(1);

  a {
    text-decoration: none;
  }

  @include at-media('mobile-lg') {
    @include u-flex('justify-end');
  }
}

.usa-social_link {
  $background-height: units(3); // Height of icon within hit area.
  // Apple iOS Human Interface Guidelines recommends
  // link hit target of 44 x 44 pixels following
  // TODO: is 40px/units(5) acceptable?
  $hit-area: units(5);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto $background-height;
  background-color: color('black-transparent-10');
  display: inline-block;
  height: $hit-area;
  position: relative;
  text-align: center;
  width: $hit-area;

  span {
    @include sr-only();
  }
}

.usa-link-facebook {
  @extend .usa-social_link;
  background-image: url('#{$theme-image-path}/social-icons/png/facebook25.png');
  background-image: url('#{$theme-image-path}/social-icons/svg/facebook25.svg');
}

.usa-link-twitter {
  @extend .usa-social_link;
  background-image: url('#{$theme-image-path}/social-icons/png/twitter16.png');
  background-image: url('#{$theme-image-path}/social-icons/svg/twitter16.svg');
}

.usa-link-youtube {
  @extend .usa-social_link;
  background-image: url('#{$theme-image-path}/social-icons/png/youtube15.png');
  background-image: url('#{$theme-image-path}/social-icons/svg/youtube15.svg');
}

.usa-link-rss {
  @extend .usa-social_link;
  background-image: url('#{$theme-image-path}/social-icons/png/rss25.png');
  background-image: url('#{$theme-image-path}/social-icons/svg/rss25.svg');
}

.usa-footer-address {
  @include at-media('mobile-lg') {
    @include u-flex('justify-end');
  }
}

// Slim footer styles

.usa-footer-slim-logo-img {
  float: left;
  max-width: units(6);
}

.usa-footer-slim-logo-heading {
  display: inline-block;
  margin-top: units(2);
  padding-left: units(2);
}

.usa-footer-slim {
  .usa-footer-nav {
    a {
      display: block;
    }

    .usa-footer-primary-content {
      @include at-media('desktop') {
        margin-right: 5%;
        width: inherit;
      }

      &:last-child {
        @include at-media('desktop') {
          margin-right: 0;
        }
      }
    }
  }

  .usa-footer-primary-link {
    padding-bottom: units(2);
    padding-top: units(2);
  }

  .usa-footer-primary-section {
    > .usa-grid {
      padding: 0;

      @include at-media('mobile-lg') {
        padding-left: units(4);
        padding-right: units(4);
      }
    }

    @include at-media('mobile-lg') {
      padding-bottom: 0;
      padding-top: 0;

      .usa-grid-full {
        align-items: center;
      }
    }
  }

  .usa-footer-contact_info {
    > * {
      @include at-media('mobile-lg') {
        margin: 0;
      }
    }

    @include at-media('mobile-lg') {
      @include u-padding-y(units(2));
    }

    @include at-media('mobile-lg') {
      width: 100%;
    }

    @include at-media('desktop') {
      @include span-columns(6);
    }
  }
}

// Medium footer styles

.usa-footer-medium {
  .usa-footer-contact_info {
    p {
      margin: 0 units(1) 0 0;

      @include at-media('mobile-lg') {
        margin: 0 0 0 units(1);
      }
    }
  }

  .usa-footer-contact-heading {
    margin-top: 0;

    @include at-media('mobile-lg') {
      margin-top: units(0.5);
      margin-bottom: units(0.5);
    }
  }

  .usa-footer-primary-link {
    padding-bottom: units(2);
    padding-top: units(2);
  }

  .usa-footer-primary-section {
    > .usa-grid {
      padding: 0;

      @include at-media('mobile-lg') {
        padding-left: units(4);
        padding-right: units(4);
      }
    }
  }

  .usa-footer-nav ul {
    @include at-media('mobile-lg') {
      align-items: center;
    }
  }
}

// Big footer styles

.usa-footer-big-secondary-section {
  @include at-media('mobile-lg') {
    padding-top: units(2.5);
    padding-bottom: units(2.5);
  }
}

.usa-footer-big-logo-img {
  max-width: 10rem;
}

.usa-footer-big-logo-heading {
  margin-top: units(2);

  @include at-media('mobile-lg') {
    margin-top: units(2.5);
  }
}

.usa-footer-big {
  .usa-footer-collapsible {
    border-top: 1px solid color('base-light');

    @include at-media('mobile-lg') {
      border-top: none;
    }

    &:last-child {
      border-bottom: 1px solid color('base-light');

      @include at-media('mobile-lg') {
        border-bottom: none;
      }
    }

    &.hidden {
      ul {
        padding-bottom: 0;
      }

      li {
        display: none;
      }

      .usa-footer-primary-link { /* stylelint-disable-line selector-no-qualifying-type */
        background-image: url('#{$theme-image-path}/arrow-right.png');
        background-image: url('#{$theme-image-path}/arrow-right.svg');
        cursor: pointer;
        display: block;

        @include at-media('mobile-lg') {
          background: none;
          padding-left: 0;
        }
      }
    }

    .usa-footer-primary-link {
      background-image: url('#{$theme-image-path}/arrow-down.png');
      background-image: url('#{$theme-image-path}/arrow-down.svg');
      background-position: 1.5rem center;
      background-repeat: no-repeat;
      background-size: 1.3rem;
      margin-bottom: 0;
      margin-left: 0;
      padding-left: 3.5rem;

      @include at-media('mobile-lg') {
        background: none;
        margin-bottom: .8rem;
        padding-bottom: 0;
        padding-left: 0;
      }

      > * {
        @include margin(0 null);
      }
    }
  }

  .usa-footer-contact_info {
    display: block;

    p {
      margin: 0 units(1) 0 0;

      @include at-media('mobile-lg') {
        margin: units(0.5) 0 0 units(1);
      }
    }
  }

  .usa-footer-contact-links {
    @include at-media('mobile-lg') {
      padding-top: units(2.5);
    }
  }

  .usa-footer-logo {
    padding: units(1) 0;

    @include at-media('mobile-lg') {
      padding: units(2.5) 0;
    }
  }

  .usa-footer-primary-section {
    @include at-media('mobile-lg') {
      padding-bottom: 4rem;
      padding-top: 3rem;
    }

    > .usa-grid {
      padding: 0;

      @include at-media('mobile-lg') {
        padding-left: units(4);
        padding-right: units(4);
      }
    }

    .usa-footer-primary-content {
      padding-left: 0;
      padding-right: 0;

      li {
        margin-left: units(2);

        @include at-media('mobile-lg') {
          margin-left: 0;
        }
      }

      .usa-footer-primary-link {
        margin-left: 0;
      }
    }
  }

  ul {
    padding-bottom: 2.4rem;

    @include at-media('mobile-lg') {
      padding-bottom: 0;
    }

    li:not(.usa-footer-primary-link) {
      line-height: $heading-line-height;
      padding-bottom: 0.35em;
      padding-top: 0.35em;
    }
  }
}
