// TODO: in general, what's the boundary between this and elements/inputs?
// Why are they not the same?

// TODO: what's the point of this var? where else is it used?
$usa-form-max-width: 'mobile';

// TODO: any other fieldsets in rotation? Why is there a different fieldset for inputs?
.usa-fieldset,
.usa-fieldset-inputs {
  border: none;
  margin: 0;
  padding: 0;
}

.usa-form {
  @include at-media('mobile-lg') {
    max-width: $usa-form-max-width;
  }
}

.usa-input-tiny {
  @include at-media('mobile-lg') {
    max-width: units(8);
  }
}

.usa-input-medium {
  @include at-media('mobile-lg') {
    max-width: units(15);
  }
}

// TODO: floats raise red flags
// How is this component used?
.usa-form-note {
  float: right;
  // TODO: do we need to be calling out font families in a typeset component?
  font-family: $font-sans;
  font-size: $h5-font-size;
  margin: 0 0 1.5rem;

  + * {
    clear: both;
  }
}

.usa-form-large {
  @include at-media('mobile-lg') {
    max-width: units('mobile-lg');
  }
}

// TODO: candidate for deprecation
.usa-input-grid {
  @include at-media('mobile-lg') {
    padding-right: 5%;
  }
}

// TODO: candidate for deprecation
// What are all these grid classes? Necessary?
.usa-input-grid:last-of-type {
  @include at-media('mobile-lg') {
    padding-right: 0;
  }
}

// TODO: candidate for deprecation
.usa-input-grid-small {
  @include at-media('mobile-lg') {
    float: left;
    width: 35%;
  }

  input {
    margin-bottom: 3rem;
  }

  select {
    margin-bottom: 3rem;
  }
}

// TODO: candidate for deprecation
.usa-input-grid-medium {
  @include at-media('mobile-lg') {
    float: left;
    width: 65%;
  }

  input {
    margin-bottom: 3rem;
  }

  select {
    margin-bottom: 3rem;
  }
}

// TODO: candidate for deprecation
.usa-input-grid-large {
  @include at-media('mobile-lg') {
    float: left;
    width: 100%;
  }

  // TODO: why not combine these?
  input {
    margin-bottom: 3rem;
  }

  select {
    margin-bottom: 3rem;
  }
}

// TODO: use of underscores: kinda wish we didn't use them. The BEM benefit doesn't make up for their ugliness
.usa-additional_text {
  font-weight: normal;
}

// Reset password checklist
// TODO: huh, what's this?
// Seems like a really low-value use for this potentially valuable name
.usa-checklist {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 3em;
    text-indent: -2em;

    // TODO: huh, what's this?
    &::before {
      content: ' ';
      display: inline-block;
      height: .8em;
      margin-right: .2em;
      width: 1.8em;
    }
  }
}

// TODO: why is this here and not with the checklist input?
.usa-checklist-checked {
  &::before {
    // TODO seems like a background mixin could be useful?
    background-image: url('#{$theme-image-path}/correct9.png');
    background-image: url('#{$theme-image-path}/correct9.svg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
