// A collection of media block objects

.usa-graphic_list {
  .usa-graphic_list-row {
    .usa-media_block {
      margin-bottom: units($theme-site-margins);

      @include at-media(tablet) {
        margin-bottom: units($theme-site-margins) * 2;
      }
    }

    &:last-child {
      .usa-media_block {
        @include at-media(tablet) {
          margin-bottom: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .usa-media_block-img {
    margin-right: units($theme-site-margins);
  }

  .usa-media_block-body {
    > :first-child {
      margin-top: 0;
    }
  }
}
