// Hero feature
// ==========================

.usa-hero {
  @include u-padding-y(units(4));
  background-image: url('#{$theme-image-path}/hero.png');
  background-position: center;
  background-size: cover;

  .usa-button {
    color: color('white');
  }
}

.usa-section-dark {
  .usa-hero-link {
    color: color('accent-cool');
  }
}

.usa-hero-callout {
  background-color: color('base-darker');
  padding: units(4);

  @include media(units('mobile-lg')) {
    max-width: 30rem;
  }

  > *:first-child {
    @include margin(0 null units(2) null);
  }
}

.usa-hero-callout-alt {
  color: color('white');
  display: block;
}
