.usa-icon {
  display: inline-block;
  fill: currentColor;
  height: units(4);
  width: units(4);
}

.usa-icon--sm {
  height: units(3);
  width: units(3);
}

.usa-icon--lg {
  height: units(6);
  width: units(6);
}
