// ICON LIST

$icon-list-font-sizes: (
  "xs" $theme-type-scale-xs,
  "sm" $theme-type-scale-sm,
  "md" $theme-type-scale-md,
  "lg" $theme-type-scale-lg,
  "xl" $theme-type-scale-xl,
  "2xl" $theme-type-scale-2xl,
  "3xl" $theme-type-scale-3xl
);

@include override-prose {
  .usa-icon-list {
    @include typeset($theme-icon-list-font-family);
    @include unstyled-list;
    @include u-measure(5);

    @each $color, $grades in $all-project-colors {
      @each $grade, $value in $grades {
        @if $value {
          $prefix: if($grade != "default", #{$color}-#{$grade}, #{$color});
          &--#{$prefix} {
            .usa-icon-list__icon {
              color: color($prefix);
            }
          }
        }
      }
    }

    .usa-icon-list__heading {
      font-size: size($theme-icon-list-font-family, "lg");
    }

    @each $token, $val in $icon-list-font-sizes {
      &--size-#{$token} {
        .usa-icon-list__icon {
          .usa-icon {
            height: system-type-scale($val) * 1.3;
            margin-top: 16%;
            width: system-type-scale($val) * 1.3;
          }
        }
        .usa-icon-list__heading {
          font-size: size($theme-icon-list-font-family, $token);
          margin-bottom: 0;
          & + p {
            margin-top: units(0.5);
          }
        }
        .usa-icon-list__content {
          padding-left: system-type-scale($val) * 0.6;
        }
      }
    }
  }

  .usa-icon-list__item {
    font-size: size($theme-icon-list-font-family, $theme-icon-list-font-size);
    display: flex;
    position: relative;

    & + .usa-icon-list__item {
      padding-top: units(1.5);
    }
  }

  .usa-icon-list__icon {
    .usa-icon {
      display: block;
      height: 1.5em;
      position: relative;
      width: 1.5em;
    }
  }

  .usa-icon-list__content {
    padding-left: 0.5rem;
    > *:first-child {
      margin-top: 0;
    }

    ul li {
      list-style-type: disc;
    }
  }
}
