@mixin identifier-secondary-link {
  @include set-link-from-bg(
    $theme-identifier-background-color,
    $theme-identifier-secondary-link-color
  );
}

//
// General Styles
// =====================================
.usa-identifier {
  @include set-text-and-bg($theme-identifier-background-color);

  a {
    @include set-link-from-bg($theme-identifier-background-color);
  }
}

//
// Primary Section
// =====================================
.usa-identifier__masthead {
  padding-top: units(4);
  padding-bottom: units(0);

  @include at-media("tablet") {
    padding-top: units(2);
  }
}

// Branding
// =====================================
.usa-identifier__branding {
  @include at-media("tablet") {
    @include grid-row;
    @include grid-gap("md");
    @include u-align-items("align-center");
  }
}

.usa-identifier__branding-img:not(:only-child) {
  margin-bottom: units(2);
  @include u-text-decoration("no-underline");

  @include at-media("tablet") {
    margin-bottom: 0;
  }
}

.usa-identifier__branding-img {
  @include media-block-img($margin-right: units(0));
  display: inline-flex;
}

.usa-identifier__branding-img img {
  width: units(7);
  height: units(7);
  object-fit: contain;
}

.usa-identifier__branding-img--3x1 img {
  width: 10.5rem; // 7 units [3.5rem] * 3
  height: units(7);
}

.usa-identifier__branding-description {
  flex: 1 1 0%;
}

// Domain link in description
.usa-identifier__branding-domain-link {
  @include identifier-secondary-link;
  text-decoration: none;
}

// Paragraph below domain link
.usa-identifier__branding-description p:first-of-type {
  @include u-margin-y(0);
  font-weight: 700;
}

// Required links
// =====================================
.usa-identifier__branding + .usa-identifier__required-links {
  margin-top: units(4);

  @include at-media("tablet") {
    margin-top: units(3);
  }
}

.usa-identifier__required-links {
  margin-bottom: units(1);
}

.usa-identifier__required-links-list {
  @include u-margin-y(0);
  list-style: none;
  padding-left: 0;
  width: max-content;

  @include at-media("tablet") {
    column-count: 2;
    column-gap: units($theme-identifier-gap);
    column-fill: balance;
  }
  @include at-media("desktop") {
    column-count: 4;
  }
}

.usa-identifier__required-links-item {
  break-inside: avoid;
  margin-bottom: units(1.5);

  @include at-media("desktop") {
    margin-bottom: units(1);
  }
}

.usa-identifier__required-link {
  @include identifier-secondary-link;
  display: inline-block;
}

//
// Secondary Section
// =====================================
.usa-identifier__secondary-section {
  padding-top: units(2.5);
  padding-bottom: units(4);

  @include at-media("tablet") {
    padding-top: units(2);
    padding-bottom: units(2);
  }
}

.usa-identifier__secondary-section a {
  @include u-font-weight("bold");
  display: inline-block;
  margin-top: units(1);

  @include at-media("tablet") {
    margin-top: 0;
  }
}

.usa-identifier__secondary-section .usa-link:not(:first-of-type) {
  @include u-margin-left("05");
}

.usa-identifier__contact-description {
  @include at-media("tablet") {
    display: inline-flex;
  }
}
