$speed: .25s;
$infographic-colors:
  $color-blue
  $color-aqua
  $color-green
  $color-purple
  $color-cool-blue
  $color-gold
  $color-red;


.usa-chart {
  td {
    border: none;
    padding: 0;
    margin: 0;
  }
  .usa-chart-value {
    font-weight: 700;
    border-bottom: 2px solid currentColor;
  }
  .usa-chart-label {
    padding-left: .5em;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: border-bottom $speed ease;
  }
  @for $i from 1 through length($infographic-colors) {
    circle:nth-child(#{length($infographic-colors)}n+#{$i}),
    &-item:nth-child(#{length($infographic-colors)}n+#{$i + 1}) &-value {
      color: nth($infographic-colors, $i);
    }
    &-item:nth-child(#{length($infographic-colors)}n+#{$i + 1}):hover &-label,
    &-item:nth-child(#{length($infographic-colors)}n+#{$i + 1}).hover &-label {
      border-bottom-color: nth($infographic-colors, $i);
    }
  }
}
.usa-chart-svg {
  width: 100%;
  height: 100%;
  display: block;
  circle {
    color: $color-blue;
    stroke: currentColor;
    stroke-width: 8%;
    stroke-alignment: inside;
    stroke-dasharray: 0, (100% * 3.1416/2);
    stroke-dashoffset: 0;
    animation: $speed 'usa-pie-chart' 1 ease;
    fill: none;
    cx: 50%;
    cy: 50%;
    r: 25%;
    transition: all $speed ease;
    &:hover,
    &.hover {
      stroke-width: 12%;
    }
  }
}


@keyframes 'usa-pie-chart' {
  0% {
    stroke-dasharray: 0, (100% * 3.1416/2);
    stroke-dashoffset: 0;
  }
}
