$speed: .25s;
$infographic-colors:
  $color-blue
  $color-aqua
  $color-green
  $color-purple
  $color-cool-blue
  $color-gold
  $color-red;


.usa-chart {
  display: flex;
  align-items: center;
  td {
    border: none;
    padding: 0;
    margin: 0;
  }
  .usa-chart-value {
    font-weight: 700;
    border-bottom: 2px solid currentColor;
  }
  .usa-chart-label {
    padding-left: .5em;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: border-bottom $speed ease;
  }
  @for $i from 1 through length($infographic-colors) {
    circle:nth-child(#{length($infographic-colors)}n+#{$i}),
    &-item:nth-child(#{length($infographic-colors)}n+#{$i}) &-value {
      color: nth($infographic-colors, $i);
    }
    &-item:nth-child(#{length($infographic-colors)}n+#{$i}):hover &-label,
    &-item:nth-child(#{length($infographic-colors)}n+#{$i}).hover &-label {
      border-bottom-color: nth($infographic-colors, $i);
    }
    // Ensure last color doesn't clash
    circle:nth-child(#{length($infographic-colors)}n+#{$i}):last-child,
    &-item:nth-child(#{length($infographic-colors)}n+#{$i}):last-child &-value {
      color: nth($infographic-colors, round(length($infographic-colors)/2));
    }
    &-item:nth-child(#{length($infographic-colors)}n+#{$i}):last-child:hover &-label,
    &-item:nth-child(#{length($infographic-colors)}n+#{$i}):last-child.hover &-label {
      border-bottom-color: nth($infographic-colors, round(length($infographic-colors)/2));
    }
  }
}
.usa-chart-data,
.usa-chart-svg {
  flex: 1;
  margin: 0;
}
.usa-chart-svg {
  flex: 2;
  max-width: 66.7%;
  circle {
    color: $color-blue;
    stroke: currentColor;
    stroke-width: 8%;
    stroke-dasharray: 0, (100% * 3.1415926535897932384626433832795/2);
    stroke-dashoffset: 0;
    animation: $speed 'usa-pie-chart' 1 ease;
    fill: none;
    transition: all $speed ease;
    &:hover,
    &.hover {
      stroke-width: 12%;
    }
  }
}


@keyframes 'usa-pie-chart' {
  0% {
    stroke-dasharray: 0, (100% * 3.1416/2);
    stroke-dashoffset: 0;
  }
}
