.usa-section {
  @include padding(3rem null);

  @include media($medium-screen) {
    @include padding(6rem null);
  }
}

.usa-section-alt {
  background-color: $color-gray-lightest;
}

.usa-section-dark {
  background-color: $color-primary-darkest;
  color: $color-white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $color-white;
  }

  .section-heading {
    color: $color-white;
    display: inline;
    letter-spacing: 0.5px;
  }

  h2 {
    letter-spacing: 0.5px;
  }

  a {
    color: $color-white;

    &:hover {
      color: $color-gray-lighter;
    }
  }
}

.usa-section,
.usa-grid,
.usa-width-one-whole,
.usa-width-one-half,
.usa-width-one-third,
.usa-width-two-thirds,
.usa-width-one-fourth,
.usa-width-three-fourths,
.usa-width-one-sixth,
.usa-width-five-sixths,
.usa-width-one-twelfth {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child:not(:only-child) {
      margin-bottom: 0;
    }
  }
}
