// Flexbox positioning to move sidenav below main content on small screens
.usa-template-docs {
  display: flex;
  flex-direction: column;

  @include media($large-screen) {
    display: inherit;
  }
}

.usa-template-docs-sidenav {
  order: 2;
}

.usa-template-docs-main_content {
  margin-bottom: $site-margins;
  order: 1;

  @include media($medium-screen) {
    margin-bottom: 0;
  }
}
