.usa-media_block-img {
  float: left;
  margin-right: 1rem;
}

.usa-media_block-heading {
  clear: none;
  margin-top: 0;
}

.usa-media_block-text {
  overflow: hidden;
}

.usa-media_block-list {
  margin-bottom: 6rem;
}
