@mixin outer-megamenu {
  @include u-pin("y");
  background-color: color("primary-darker");
  content: "";
  display: block;
  position: absolute;
  width: 100%;
}

.usa-megamenu {
  .usa-col {
    @include u-flex(1);
    @include at-media($theme-header-min-width) {
      @include u-flex(12 / $theme-megamenu-columns);
    }
  }
}

.usa-megamenu.usa-nav__submenu {
  @include at-media($theme-header-min-width) {
    @include u-padding-x(0);
    @include u-padding-y(4);
    left: -$theme-header-logo-text-width;
    right: 0;
    width: auto;
  }

  &::before {
    @include at-media($theme-header-min-width) {
      @include outer-megamenu;
      right: 100%;
    }
  }

  &::after {
    @include at-media($theme-header-min-width) {
      @include outer-megamenu;
      left: 100%;
    }
  }
}
