.usa-js-no-click {
  pointer-events: none;
  user-select: none;

  .usa-modal,
  .usa-modal * {
    pointer-events: auto;
    user-select: text;
  }
}

.usa-modal {
  text-align: center;

  // Using visibility: hidden instead of display: none because
  // of iOS VoiceOver issue:
  // https://developer.paciellogroup.com/blog/2018/06/the-current-state-of-modal-dialog-accessibility/
  &.is-hidden {
    visibility: hidden;
    position: fixed;
  }

  &.is-visible {
    visibility: visible;
    position: fixed;
    z-index: 1000;
  }
}

// Prevents modals from flickering
// Still allows content to be accessed
.usa-js-loading {
  .usa-modal {
    @include add-sr-only;
  }

  .usa-modal:target {
    position: static;
  }
}

.usa-modal__inner {
  @include u-radius($theme-card-border-radius);
  border: 1px solid color("base");
  background: white;
  display: inline-block;
  margin: units(2.5) auto;
  max-width: 500px;
  position: relative;
  text-align: left;
  vertical-align: middle;
  z-index: 300;

  &:focus {
    outline: none;
  }
}

.usa-modal__content {
  width: 100%;
  padding-top: units(4);
}

.usa-modal__main {
  margin: 0 auto;
  padding: units(1) units(4) units(4);
}

.usa-modal__overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: scroll;
  overflow-x: hidden;
  padding: units(3);
  position: fixed;
  scroll-behavior: smooth;
  top: 0;
  width: 100%;
  z-index: 200;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  &[data-force-action="true"] {
    pointer-events: none;

    * {
      pointer-events: auto;
    }
  }
}

.usa-modal__content {
  display: flex;
  flex-direction: column-reverse;
}

.usa-modal__header {
  display: flex;
  width: 100%;
}

// Prevents JS not recognizing as part of close button.
.usa-modal *[data-close-modal] > .usa-icon,
.usa-modal *[data-close-modal] > .usa-icon use {
  pointer-events: none !important;
}

.usa-modal__close {
  align-items: center;
  align-self: flex-end;
  background-color: transparent;
  color: color("base");
  display: flex;
  flex-shrink: 0;
  font-size: size("ui", "2xs");
  margin: units(-4) 0 0 auto;
  padding: units(2) units(2);
  width: auto;

  &:hover,
  &:active {
    background-color: transparent;
    color: color("ink");
  }

  .usa-icon {
    height: units(2.5);
    margin-right: units(2px);
    width: units(2.5);
  }
}

.usa-modal__heading {
  @include u-font("heading", "lg");
  line-height: line-height("heading", 3);
  margin-top: 0;
}

.usa-modal__footer {
  margin-top: units(3);
}

// Variants
.usa-modal--lg {
  max-width: 800px;
  width: 100%;

  .usa-modal__main {
    padding-bottom: units(8);
    padding-top: units(2.5);
    width: 100%;
    max-width: 631px;
  }

  .usa-modal__heading {
    @include at-media("tablet") {
      @include u-font("heading", "xl");
    }
  }
}
