// Navigation helpers ------------- //

@mixin nav-border {
  @include add-bar(
    0.5,
    'primary',
    'bottom',
    0,
    2,
    -1px
  );
}

@mixin primary-nav-link {
  line-height: line-height($theme-font-family-navigation, 1);
  padding: units(2);
}

$nav-link-color: 'base-dark';

// Header navigation ------------- //

.usa-navbar {
  border-bottom: units(1px) solid color('base-light');
  height: units(5);

  @include at-media($theme-nav-width) {
    border-bottom: none;
    display: inline-block;
    height: auto;
    min-height: units(10);

    em {
      @include u-margin-y(2);
    }
  }
}

.usa-nav-link {
  @include at-media($theme-nav-width) {
    @include add-font-smoothing;

    &:hover {
      @include nav-border;
    }
  }

  &.usa-accordion-button {
    span {
      @include at-media($theme-nav-width) {
        margin-right: 0;
        padding-right: units(2);
      }
    }
  }
}

.usa-nav-container {
  @include at-media($theme-nav-width) {
    @include clearfix;
    @include grid-container($theme-site-max-width);
    @include u-padding-x($theme-site-margins);
  }
}

.usa-nav {
  @include typeset($theme-font-family-navigation, null, 1);
  $sliding-panel-width: 'card-lg';
  @include u-pin('right');
  @include u-pin('y');

  @keyframes slidein-left {
    from {
      transform: translateX(units($sliding-panel-width));
    }

    to {
      transform: translateX(0);
    }
  }

  position: fixed;
  background: color('white');
  border-left: units(1px) solid color('base-light');
  border-right: 0;
  display: none;
  flex-direction: column;
  overflow-y: auto;
  padding: units(2.5);
  width: units($sliding-panel-width);
  z-index: z-index(500);

  @include at-media($theme-nav-width) {
    border-left: none;
    display: block;
    float: right;
    overflow-y: visible;
    padding: units(6) 0 0;
    position: relative;
    transform: translateX(0);
    width: auto;
  }

  &.is-visible {
    animation: slidein-left 0.3s ease-in-out;
    display: flex;
  }

  nav {
    margin-top: units(7); // XXX magic number
    min-height: 100%;

    @include at-media($theme-nav-width) {
      margin-top: 0;
    }
  }

  .usa-current {
    border-left: units(0.5) solid color('primary');
    color: color('primary');
    font-weight: font-weight('bold');
    padding-left: units(2);

    @include at-media($theme-nav-width) {
      color: color('ink');
    }
  }

  .usa-button {
    width: 100%;
  }

  .usa-search {
    @include at-media($theme-nav-width) {
      margin-left: units(2);
    }
  }
}

// Primary navigation ------------- //

.usa-nav-primary {

  // Until the $theme-nav-width,
  // use the usa-nav-list styles for the slide-in nav
  @include at-media-max($theme-nav-width) {
    @include nav-list;
    margin-top: units(3);
    order: 2;
  }

  // At $theme-nav-width and wider...
  @include at-media($theme-nav-width) {
    display: flex;
  }

  // all nav items in the nav
  .usa-nav-item {
    a {
      text-decoration: none;
    }
  }

  // just level 1 nav items...
  > .usa-nav-item {
    @include at-media($theme-nav-width) {
      font-size: scale($theme-font-family-navigation, '2xs');
    }

    // ...and their direct links
    > a {
      @include at-media($theme-nav-width) {
        @include primary-nav-link;
        @include remove-font-smoothing;
        color: color($nav-link-color);
        display: block;
        font-weight: font-weight('bold');
      }
    }
  }

  a {
    @include at-media($theme-nav-width) {
      @include u-padding-y(1);
    }
  }

  button {
    $button-vertical-offset: 53%;

    @include button-unstyled;
    color: color($nav-link-color);
    font-weight: font-weight('normal');
    line-height: line-height($theme-font-family-navigation, 3);
    padding: units(1) units(2);

    @include at-media($theme-nav-width) {
      @include primary-nav-link;
      font-size: scale($theme-font-family-navigation, '2xs');
      font-weight: font-weight('bold');
    }

    &:focus,
    &:active {
      // TODO: check this var
      box-shadow: $focus-outline;
    }

    &:hover {
      color: color('primary');
    }

    // TODO: any way to clean this up with a mixin?
    &[aria-expanded=false] { /* stylelint-disable-line selector-no-qualifying-type */
      @include add-background-image('plus-alt');
      background-repeat: no-repeat;
      background-position: right 0 center;
      background-size: units(1);

      @include at-media($theme-nav-width) {
        @include add-background-image('angle-arrow-down');
        background-position: right units(2) top $button-vertical-offset;
      }

      &:hover {
        @include at-media($theme-nav-width) {
          @include add-background-image('angle-arrow-down-primary');
        }
      }
    }

    &[aria-expanded=true] { /* stylelint-disable-line selector-no-qualifying-type */
      @include add-background-image('minus-alt');
      @include add-font-smoothing;
      background-repeat: no-repeat;
      background-position: right 0 center;
      background-size: 1rem;

      @include at-media($theme-nav-width) {
        @include add-background-image('angle-arrow-down-hover');
        @include nav-border;
        background-color: color('primary-darker');
        background-position: right units(2) top $button-vertical-offset;
        color: color('white');
      }
    }
  }

  @include at-media($theme-nav-width) {
    .usa-current {
      &:hover {
        @include nav-border;
      }
    }
  }
}

// Secondary navigation ----------- //

.usa-nav-secondary {
  margin-top: units(2);

  @include at-media($theme-nav-width) {
    // TODO: Is this a necessary evil?
    bottom: calc(5rem + 8px); // XXX magic number
    font-size: scale($theme-font-family-navigation, '2xs');
    margin-top: units(1);
    min-width: calc(#{$search-min-width} + #{$usa-btn-small-width});
    position: absolute;
    right: units($theme-site-margins);
  }

  .usa-search {
    margin-bottom: 0;
    margin-top: units(2);

    @include at-media($theme-nav-width) {
      margin-bottom: 0;
      margin-left: 0;
      margin-top: units(1);
      width: 100%;
    }
  }
}

.usa-nav-secondary-links {
  @include add-list-reset;
  line-height: line-height($theme-font-family-navigation, 3);
  margin-top: units(3);

  @include at-media($theme-nav-width) {
    float: right;
    line-height: line-height($theme-font-family-navigation, 1);
    margin-bottom: units(0.5);
    margin-top: 0;
  }

  li {
    @include at-media($theme-nav-width) {
      display: inline;
      padding-left: units(0.5);
    }

    &:not(:last-child)::after {
      @include at-media($theme-nav-width) {
        color: color('base-lighter');
        content: '|';
        padding-left: units(0.5);
      }
    }
  }

  a {
    color: color('base');
    display: inline-block;
    font-size: scale($theme-font-family-navigation, '2xs');
    text-decoration: none;

    &:hover {
      color: color('primary');
      text-decoration: underline;
    }
  }
}

// Navigation submenu (dropdown and mega menu) ----- //

.usa-nav-submenu {
  @include at-media-max($theme-nav-width) {
    @include nav-sublist;
  }

  @include at-media($theme-nav-width) {
    @include add-list-reset;
    background-color: color('primary-darker');
    width: units('card-lg');
    padding: units(2);
    position: absolute;
  }

  &[aria-hidden=true] {
    display: none;
  }

  .usa-nav-item {
    @include at-media($theme-nav-width) {
      & + * {
        margin-top: units(1.5);
      }

      a {
        color: color('white');
        padding: 0;

        &:hover {
          background-color: transparent;
          color: color('white');
          padding: 0;
          text-decoration: underline;
        }
      }
    }
  }
}

.usa-nav-submenu-list {
  @include unstyled-list;

  .usa-nav-item {
    margin: 0;
    font-size: scale($theme-font-family-navigation, '2xs');

    a {
      line-height: line-height($theme-font-family-navigation, 3);
    }
  }
}

// Navigation close button -------- //

.usa-nav-close {
  @include button-unstyled;
  @include u-square($touch-target-size);
  color: currentColor;
  float: right;
  margin: units(-1.5) units(-2) units(2) auto;
  text-align: center;

  &:hover {
    color: currentColor;
  }

  @include at-media($theme-nav-width) {
    display: none;
  }

  img {
    width: units(1.5);
  }

  + * {
    clear: both;
  }
}

.usa-mobile_nav-active {
  overflow: hidden;
}

// Navigation mega menu -------- //

@mixin outer-megamenu {
  @include u-pin('y');
  background-color: color('primary-darker');
  content: '';
  display: block;
  position: absolute;
  width: 100%;
}

.usa-megamenu {
  @include at-media($theme-nav-width) {
    @include u-padding-x(0);
    @include u-padding-y(4);
    left: 0;
    width: 100%;
  }

  &::before {
    @include at-media($theme-nav-width) {
      @include outer-megamenu;
      right: 100%;
    }
  }

  &::after {
    @include at-media($theme-nav-width) {
      @include outer-megamenu;
      left: 100%;
    }
  }
}

.usa-header-basic-megamenu {
  .usa-nav {
    @include at-media($theme-nav-width) {
      padding-left: 0;
      padding-top: 0;
      width: 100%;
    }
  }

  .usa-nav-inner {
    display: flex;
    flex-direction: column;

    @include at-media($theme-nav-width) {
      display: block;
      float: right;
      margin-top: units(-5);
    }
  }
}
