// Header navigation ------------- //

@mixin nav-border {
  border-bottom: units(0.5) solid color('primary');
  padding-bottom: units(1);
}

@mixin nav-border-thick {
  border-bottom: units(1) solid color('primary');
  padding-bottom: units(1);
}

.usa-navbar {
  border-bottom: units(1px) solid color('base-light');
  height: units(5);

  @include at-media($theme-nav-width) {
    border-bottom: none;
    display: inline-block;
    height: units(10); // XXX magic number
  }
}

.usa-nav-link {
  @include at-media($theme-nav-width) {
    @include add-font-smoothing;
  }

  &:hover {
    span {
      @include at-media($theme-nav-width) {
        @include nav-border;
      }
    }
  }

  &.usa-accordion-button {
    span {
      @include at-media($theme-nav-width) {
        margin-right: 0;
        padding-right: units(2);
      }
    }
  }
}

.usa-nav-container {
  @include at-media($theme-nav-width) {
    @include grid-container($theme-site-max-width);
    @include u-padding-x($theme-site-margins);
    @include clearfix;
  }
}

.usa-nav {
  @include typeset($theme-font-family-navigation, null, 1);
  $sliding-panel-width: 'card-lg';

  @keyframes slidein-left {
    from {
      transform: translateX(units($sliding-panel-width));
    }

    to {
      transform: translateX(0);
    }
  }

  @include u-pin('right');
  @include u-pin('y');
  position: fixed;
  background: color('white');
  border-left: units(1px) solid color('base-light');
  border-right: 0;
  display: none;
  flex-direction: column;
  overflow-y: auto;
  padding: units(2.5);
  width: units($sliding-panel-width);
  z-index: z-index(500);

  @include at-media($theme-nav-width) {
    border-left: none;
    display: block;
    float: right;
    overflow-y: visible;
    padding: units(6) 0 0;
    position: relative;
    transform: translateX(0);
    width: auto;
  }

  &.is-visible {
    animation: slidein-left 0.3s ease-in-out;
    display: flex;
  }

  nav {
    margin-top: units(7); // XXX magic number
    min-height: 100%;

    @include at-media($theme-nav-width) {
      margin-top: 0;
    }
  }

  .usa-current {
    border-left: units(0.5) solid color('primary');
    color: color('primary');
    font-weight: font-weight('bold');
    padding-left: units(2);

    @include at-media($theme-nav-width) {
      color: color('ink');
    }
  }

  .usa-button {
    width: 100%;
  }

  .usa-search {
    @include at-media($theme-nav-width) {
      margin-left: units(2); // XXX magic number
      top: units(0.5);
    }
  }
}

// Primary navigation ------------- //

.usa-nav-primary {
  // TODO: what does this do?
  @include usa-sidenav-list;
  margin-top: units(2);
  //TODO: how are we using order?
  order: 2;

  @include at-media($theme-nav-width) {
    display: inline;
  }

  // TODO: evaluate direct descendant selectors
  li {
    @include at-media($theme-nav-width) {
      border-top: none;
    }
  }

  > li {
    width: auto;

    @include at-media($theme-nav-width) {
      font-size: scale($theme-font-family-navigation, 'xs');
      display: inline-block;
    }

    > a {
      @include at-media($theme-nav-width) {
        @include u-padding-bottom(2.5);
        @include u-padding-top(1.5);
        @include u-padding-x(2);
        color: color('base');
        font-weight: font-weight('bold');
      }

      &:hover {
        @include at-media($theme-nav-width) {
          background-color: transparent;
        }
      }
    }
  }

  a {
    @include at-media($theme-nav-width) {
      @include u-padding-y(1);
    }

    &:hover {
      @include at-media($theme-nav-width) {
        // TODO: what's this?
        // color: color('ink');
      }
    }
  }

  button {
    // TODO: red flag...
    $button-vertical-offset: 40%;

    @include button-unstyled;
    font-weight: font-weight('normal');
    line-height: line-height($theme-font-family-navigation, 3);
    padding: units(1) units(2) units(1) units(2.5);

    @include at-media($theme-nav-width) {
      @include add-font-smoothing;
      @include u-padding-bottom(2.5);
      @include u-padding-top(1.5);
      @include u-padding-x(2);
      color: color('base');
      font-weight: font-weight('bold');
      line-height: line-height($theme-font-family-navigation, 1);
      width: initial;
    }

    &:focus,
    &:active {
      // TODO: check this var
      box-shadow: $focus-outline;
    }

    &:hover {
      background-color: color('base-lightest');
      color: color('primary');

      @include at-media($theme-nav-width) {
        background-color: transparent;
        // color: color('ink');
      }
    }

    // TODO: any way to clean this up with a mixin?
    &[aria-expanded=false] { /* stylelint-disable-line selector-no-qualifying-type */
      background-image: url('#{$theme-image-path}/plus-alt.png');
      background-image: url('#{$theme-image-path}/plus-alt.svg');
      background-repeat: no-repeat;
      background-position: right 0 center;
      background-size: units(1);

      @include at-media($theme-nav-width) {
        background-image: url('#{$theme-image-path}/angle-arrow-down.png');
        background-image: url('#{$theme-image-path}/angle-arrow-down.svg');
        background-position: right units(2) top $button-vertical-offset;
      }

      &:hover {
        @include at-media($theme-nav-width) {
          background-image: url('#{$theme-image-path}/angle-arrow-down-primary.png');
          background-image: url('#{$theme-image-path}/angle-arrow-down-primary.svg');
        }
      }
    }

    &[aria-expanded=true] { /* stylelint-disable-line selector-no-qualifying-type */
      background-image: url('#{$theme-image-path}/minus-alt.png');
      background-image: url('#{$theme-image-path}/minus-alt.svg');
      background-repeat: no-repeat;
      background-position: right 0 center;
      background-size: 1rem;

      @include at-media($theme-nav-width) {
        background-color: color('primary-darker');
        color: color('white');
        background-image: url('#{$theme-image-path}/angle-arrow-down-hover.png');
        background-image: url('#{$theme-image-path}/angle-arrow-down-hover.svg');
        background-position: right units(2) top $button-vertical-offset;

        &:hover {
          background-color: color('primary-darker');
        }

        span {
          @include nav-border;
          color: color('white');
        }
      }
    }
  }

  @include at-media($theme-nav-width) {
    a.usa-current,
    .usa-current { // stylelint-disable-line selector-no-qualifying-type
      // undo the sidenav style
      border-left: 0;
      padding-left: units(2);

      &:hover {
        span {
          color: color('primary');
        }
      }

      span {
        @include nav-border;
        color: color('ink');
      }
    }
  }
}

// Extended header navigation ------- //

.usa-header-extended {
  .usa-nav-link {
    &:hover {
      span {
        @include at-media($theme-nav-width) {
          @include nav-border-thick;
        }
      }
    }
  }

  .usa-nav-primary {
    button[aria-expanded=true] { /* stylelint-disable-line selector-no-qualifying-type */
      span {
        @include at-media($theme-nav-width) {
          @include nav-border-thick;
        }
      }
    }

    .usa-current {
      @include at-media($theme-nav-width) {
        span {
          @include nav-border-thick;
        }
      }
    }
  }
}

// Secondary navigation ----------- //

.usa-nav-secondary {
  margin-top: units(2);

  @include at-media($theme-nav-width) {
    // TODO: whoa can we fix this?
    bottom: calc(5rem + 16px); // XXX magic number, 16px from bottom
    font-size: scale($theme-font-family-navigation, '2xs');
    margin-top: units(1);
    min-width: calc(#{$search-min-width} + #{$usa-btn-small-width});
    // TODO: need to be absolute?
    position: absolute;
    right: units($theme-site-margins);
  }

  .usa-search {
    @include u-margin-top(2);
    @include u-margin-bottom(0);

    @include at-media($theme-nav-width) {
      @include u-margin-bottom(0);
      @include u-margin-left(0);
      @include u-margin-top(0);
      width: 100%;
    }
  }
}

.usa-nav-secondary-links {
  line-height: line-height($theme-font-family-navigation, 3);
  margin-top: units(3);

  @include at-media($theme-nav-width) {
    float: right;
    line-height: line-height($theme-font-family-navigation, 1);
    margin-bottom: units(0.5);
    margin-top: 0;
  }

  li {
    @include at-media($theme-nav-width) {
      display: inline;
      padding-left: units(0.5);
    }

    &:not(:last-child)::after {
      @include at-media($theme-nav-width) {
        color: color('base-lighter');
        content: '|';
        padding-left: units(0.5);
      }
    }
  }

  a,
  .usa-header-search-button {
    color: color('base');
    display: inline-block;
    text-decoration: none;

    &:hover {
      color: color('primary');
      text-decoration: underline;
    }
  }

  .usa-header-search-button {
    @include button-unstyled;
    display: none;

    @include at-media($theme-nav-width) {
      background-image: url('#{$theme-image-path}/search-alt.png');
      background-image: url('#{$theme-image-path}/search-alt.svg');
      background-repeat: no-repeat;
      background-position: left center;
      // TODO: 2.5 unitless?
      background-size: 2.5;
      display: inline-block;
      padding-left: units(3);
    }

    &.is-hidden {
      @include at-media($theme-nav-width) {
        display: none;
      }
    }
  }

  @include at-media($theme-nav-width) {
    a.usa-current { // stylelint-disable-line selector-no-qualifying-type
      // undo the sidenav style
      border-left: 0;
      padding-left: 0;
    }
  }
}

// Navigation submenu (dropdown and mega menu) ----- //

.usa-nav-submenu {
  @include usa-sidenav-sublist;

  @include at-media($theme-nav-width) {
    @include unstyled-list;
    @include u-padding-top(0.75rem);
    @include u-padding-bottom(0.9rem);
    background-color: color('primary-darker');
    width: units('card-lg');
    position: absolute;
  }

  &[aria-hidden=true] {
    display: none;
  }

  a {
    @include at-media($theme-nav-width) {
      color: color('white');
      padding-left: units(2); // XXX magic number
    }

    &:hover {
      @include at-media($theme-nav-width) {
        background-color: color('primary-darker');
        color: color('white');
        padding-left: units(2);
        text-decoration: underline;
      }
    }

    // this used to be necessary to undo the `usa-sidenav-sublist`
    // include, above
    // &:hover,
    // &.usa-current { /* stylelint-disable-line selector-no-qualifying-type */
    //   @include at-media($theme-nav-width) {
    //     padding-left: 1.8rem;
    //   }
    // }
  }

  li {
    margin-bottom: 0;
  }
}

// Navigation close button -------- //

.usa-nav-close {
  @include button-unstyled;
  @include u-margin-bottom(2);
  @include u-margin-left(auto);
  @include u-margin-right(-2);
  // TODO: mangled f/r — check
  @include u-margin-top(-1.5);
  color: currentColor;
  float: right;
  height: $touch-target-size;
  text-align: center;
  width: $touch-target-size;

  &:hover {
    color: currentColor;
  }

  @include at-media($theme-nav-width) {
    display: none;
  }

  img {
    width: units(1.5);
  }

  + * {
    clear: both;
  }
}

.usa-mobile_nav-active {
  overflow: hidden;
}

// Navigation mega menu -------- //

@mixin outer-megamenu {
  background-color: color('primary-darker');
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  // TODO: haha what's this
  width: 1000%;
}

.usa-megamenu {
  @include at-media($theme-nav-width) {
    @include u-padding-y(4); // XXX magic number
    // XXX this is the difference between the units(2.5) padding-left
    // of .usa-nav-inner and the $theme-site-margins (3rem) padding-left
    // of .usa-megamenu
    left: units(-1);
    width: 100%;
  }

  &::before {
    @include at-media($theme-nav-width) {
      @include outer-megamenu;
      // TODO: better way? pin?
      right: 100%;
    }
  }

  &::after {
    @include at-media($theme-nav-width) {
      @include outer-megamenu;
      // TODO: better way? pin?
      left: 100%;
    }
  }
}

.usa-header-basic-megamenu {
  .usa-nav {
    @include at-media($theme-nav-width) {
      padding-left: 0;
      padding-top: 0;
      width: 100%;
    }
  }

  .usa-nav-inner {
    display: flex;
    flex-direction: column;

    @include at-media($theme-nav-width) {
      display: block;
      float: right;
      margin-top: units(-5);
    }
  }

  .usa-nav-submenu {
    .usa-grid-full {
      @include at-media($theme-nav-width) {
        margin-left: units(-2); // XXX magic number
      }
    }
  }
}

.usa-megamenu-col {
  @include at-media($theme-nav-width) {
    // rewrite with new grid?
    @include span-columns(3);

    &:nth-child(2n) {
      @include span-columns(3);
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  > ul {
    @include unstyled-list;
  }
}
