// ? Potential settings
// ? ---------------------------------
$theme-pagination-breakpoint: "tablet";
$theme-pagination-padding: 1;
$theme-pagination-border-radius: "md";
$theme-pagination-border-width: 1px;
$theme-pagination-border-color: "base-light";
$theme-pagination-pager-color: "ink";
$theme-pagination-background-color: "gray-2";
$theme-pagination-margin-y: 2;
$theme-pagination-margin-x: 0.5;
$theme-pagination-min-width: 4.5ch;

// Pagination
// ---------------------------------
.usa-pagination {
  @include u-margin-y($theme-pagination-margin-y);
  align-items: center;
  display: flex;
  flex-direction: row;

  @include at-media($theme-pagination-breakpoint) {
    gap: units(2);
  }
}

.usa-pagination .usa-icon {
  height: px-to-rem(18);
  width: px-to-rem(18);
}

// Shared styles
// ---------------------------------
%pagination-button-styles {
  background-color: color($theme-pagination-background-color);
  border-color: color($theme-pagination-border-color);
  border-style: solid;
  border-radius: radius($theme-pagination-border-radius);
  border-width: units($theme-pagination-border-width);
  display: inline-flex;
  justify-content: center;
  padding: units($theme-pagination-padding);

  // Takes up all available width in pagination nav.
  @include at-media($theme-pagination-breakpoint) {
    width: 100%;
  }
}

// Only display Previous/Next on mobile
.usa-pagination__label,
.usa-pagination__item:not(.usa-pagination__previous-page):not(.usa-pagination__next-page),
.usa-pagination__view-all {
  @include at-media-max($theme-pagination-breakpoint) {
    display: none;
  }
}

// Pagination nav
// ---------------------------------
.usa-pagination__list {
  @include add-list-reset;
  align-items: center;
  display: none;
  margin-right: auto;
  width: 100%;

  @include at-media($theme-pagination-breakpoint) {
    display: flex;
    flex-flow: row nowrap;
    width: auto;
  }
}

// Pagination nav items
.usa-pagination__item {
  @include u-text("tabular");
  line-height: 1;
  margin-left: units($theme-pagination-margin-x);
  margin-right: units($theme-pagination-margin-x);
  min-width: $theme-pagination-min-width;

  @include at-media($theme-pagination-breakpoint) {
    flex: 1 0 auto; // flex: 1 won't work in IE11
  }
}

.usa-pagination__link {
  @extend %pagination-button-styles;
  align-items: center;
  color: color($theme-pagination-pager-color) !important;
  text-decoration: none;

  &[disabled] {
    color: color("base-light") !important;
    pointer-events: none;
  }

  &:hover {
    color: color("primary") !important;
  }
}

.usa-pagination__link--current {
  @include set-text-and-bg($theme-color-primary, $important: true);
  border-color: color("primary-darker");

  &:hover,
  &:focus,
  &:active {
    @include set-text-and-bg(
      "primary-darker",
      $important: true
    );
  }
}

.usa-pagination__ellipsis {
  user-select: none;
  padding: units($theme-pagination-padding);
}

.usa-pagination__previous-page,
.usa-pagination__next-page {
  width: 100%;

  .usa-pagination__button-text {
    display: none;
  }

  @include at-media-max($theme-pagination-breakpoint) {
    flex: 1 1 50%;

    .usa-pagination__button-text {
      display: block;
    }
  }

  @include at-media($theme-pagination-breakpoint) {
    width: auto;
  }
}

.usa-pagination__previous-page {
  @include at-media-max($theme-pagination-breakpoint) {
    margin-right: units(1.5);
  }
}


// View All link
// ---------------------------------
.usa-pagination__view-all {
  text-decoration: none;
}

// ---------------------------------
// Variants
// ---------------------------------
.usa-pagination--centered {
  @include at-media($theme-pagination-breakpoint) {

    .usa-pagination__list {
      margin-left: auto;
      margin-right: auto;
    }

    .usa-pagination__view-all {
      margin-left: 0;
    }
  }
}
