// PROCESS LIST
$bullet-size: 50px;
$bullet-color: color("base-lighter");
$bullet-line-width: 4px;
$bullet-background-color: $bullet-color;
$bullet-border-width: $bullet-line-width;
$padding-left: (($bullet-size / 2) - ($bullet-line-width / 2));

.usa-process-list {
    @include typeset($theme-process-list-font-family);
    @include unstyled-list;
    counter-reset: numbered-list;
    padding: 20px 0 0 $padding-left;
    position: relative;
    > li {
        border-left: $bullet-line-width solid $bullet-color;
        font-size: 16px;
        padding-bottom: units(4);
        padding-left: $bullet-size;
        &:last-child {
            border-left: none;
        }
        &::before {
            @include u-flex("row", "align-center", "justify-center");
            $half-of-font-size: -0.5em;
            background-color: $bullet-color;
            border-radius: 50%;
            border: $bullet-border-width solid color("white");
            color: color($theme-process-list-heading-color);
            content: counter(numbered-list, decimal);
            counter-increment: numbered-list;
            display: flex;
            font-family: family($theme-process-list-bullet-font-family);
            font-size: size($theme-process-list-bullet-font-family, $theme-process-list-heading-font-size);
            font-weight: font-weight("bold");
            height: $bullet-size;
            left: 0;
            line-height: 1.2;
            margin-top: $half-of-font-size;
            position: absolute;
            width: $bullet-size;
        }
    }
}

.usa-prose {
    > ol {
        padding-left: $padding-left;
    }
}

.usa-process-list__heading {
    color: color($theme-process-list-heading-color);
    font-family: family($theme-process-list-heading-font-family);
    font-size: size($theme-process-list-heading-font-family, $theme-process-list-heading-font-size-small);
    font-weight: font-weight("bold");
    margin-top: 0;
    margin-bottom: units(1);
}

.usa-process-list--no-connection {
    > li {
        border-left: none;
    }
}
