@mixin search-icon {
  background-image: url('#{$theme-image-path}/search.png');
  background-image: url('#{$theme-image-path}/search.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

.usa-search {
  @include clearfix;
  @include typeset;
  position: relative;

  [role=search] {
    display: flex;
  }

  [type=submit],
  .usa-search-submit {
    @include search-icon;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: units(4);
    margin: 0;
    padding: 0;
    width: $usa-btn-small-width;

    @include at-media('mobile-lg') {
      @include u-padding-x(2);
      background-image: none;
      width: auto;
    }
  }
}

.usa-search-big {
  $height: units(6);

  [type=search],
  .usa-search-input {
    @include at-media('mobile-lg') {
      font-size: scale($theme-font-family-search, 'sm');
      height: $height;
    }
  }

  [type=submit],
  .usa-search-submit {
    @include at-media('mobile-lg') {
      @include u-padding-x(4);
      font-size: scale($theme-font-family-search, 'lg');
      height: $height;
      width: auto;
    }
  }
}

.usa-search-small {
  $width: $usa-btn-small-width;
  $lt-nav-width: rem-to-px($nav-width) - 1px;

  [type=submit],
  .usa-search-submit {
    @include at-media('mobile-lg') {
      @include search-icon;
      width: $width;
    }
  }

  &.usa-sr-only {
    @media screen and (max-width: $lt-nav-width) {
      left: auto;
      position: relative;
    }
  }
}

// Extra specificity to override rules set in reset.css.
input[type=search] { /* stylelint-disable-line selector-no-qualifying-type */
  box-sizing: border-box;
  appearance: none;
}

[type=search],
.usa-search-input {
  @include u-padding-y(0);
  border-bottom-right-radius: 0;
  border-right: none;
  border-top-right-radius: 0;
  box-sizing: border-box;
  float: left;
  font-size: scale($theme-font-family-search, 'xs');
  height: units(4);
  margin: 0;
}

.usa-search-submit-text {
  @include sr-only;

  @include at-media('mobile-lg') {
    @include not-sr-only;
  }
}
