.usa-section {
  @include u-padding-y(units(4));

  @include media(units('tablet')) {
    @include u-padding-y(units(8));
  }
}

.usa-section-light {
  background-color: color('base-lightest');
}

.usa-section-dark {
  background-color: color('base-darkest');
  color: color('white');

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: color('accent-cool');
  }

  p {
    color: color('white');
  }

  a {
    color: color('base-lighter');

    &:hover {
      color: color('white');
    }
  }
}
