.usa-section {
  @include u-padding-y($site-margins);

  @include media($medium-screen) {
    @include u-padding-y(units(6));
  }
}

.usa-section-light {
  background-color: $color-theme-base-lightest;
}

.usa-section-dark {
  background-color: $color-theme-base-darkest;
  color: color('white');

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-primary-alt;
  }

  p {
    color: color('white');
  }

  a {
    color: $color-theme-base-lighter;

    &:hover {
      color: color('white');
    }
  }
}
