.usa-sidenav-list {
  @include usa-sidenav-list;
  border-bottom: units(1px) solid;
  border-top: units(1px) solid;

  @include at-media(desktop) {
    border-bottom: none;
    border-top: none;
  }

  .grid-container & {
    @include u-margin-x(-$site-margins-mobile);

    @include at-media(tablet) {
      @include u-margin-x(0);
    }
  }
}

.usa-sidenav-sub_list {
  @include usa-sidenav-sublist;
}
