// Alert variables ---------- //
// TODO: Custom alerts are effectively hidden and not well supported
// Consider removing or rebuilding
$usa-custom-alerts: () !default;

$usa-alerts: (
  info: "info-lighter",
  emergency: "emergency",
);

$alerts: map-merge($usa-alerts, $usa-custom-alerts);

.usa-site-alert {
  position: relative;
  background-color: color("base-lightest");

  .usa-alert {
    @include grid-container($theme-site-alert-max-width);

    &::before {
      display: none;
    }

    > .usa-list,
    .usa-alert__body > .usa-list {
      padding-left: 2ch;
    }
  }

  .usa-alert__body {
    display: block;

    @include at-media("tablet") {
      position: relative;
    }
  }
}

@each $name, $bgcolor in $alerts {
  .usa-site-alert--#{$name} {
    $banner-text-color-token: get-token-from-bg($bgcolor);

    background-color: color($bgcolor);
    color: color($banner-text-color-token);

    .usa-alert {
      @include alert-status-styles($name, $bgcolor);
    }
  }
}

.usa-site-alert--no-icon {
  .usa-alert {
    background-image: none;

    .usa-alert__body {
      padding-left: 0;
    }
  }
}

.usa-site-alert--slim {
  .usa-alert {
    @include alert-slim-styles;
  }
}
