// Alert variables ---------- //
// TODO: Custom alerts are effectively hidden and not well supported
// Consider removing or rebuilding
$usa-custom-alerts: () !default;

$usa-alerts: (
  success: "success-lighter",
  warning: "warning-lighter",
  error: "error-lighter",
  info: "info-lighter",
  emergency: "emergency",
);

$alerts: map-merge($usa-alerts, $usa-custom-alerts);

.usa-site-alert {
  background-color: color("base-lightest");

  .usa-alert {
    @include grid-container($theme-site-alert-max-width);

    &::before {
      display: none;
    }

    > .usa-list,
    .usa-alert__body > .usa-list {
      padding-left: 2ch;
    }
  }

  .usa-alert__body {
    display: block;
    position: relative;
  }
}

.usa-site-alert__close-btn {
  display: none;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;

  img {
    width: units(1.5);
  }

  &:hover {
    text-decoration: none;
  }
}

.usa-site-alert--close-btn-active {
  .usa-site-alert__close-btn {
    display: block;
    width: auto;
  }

  .usa-alert__body {
    padding-right: units(1.5);
  }
}

@each $name, $bgcolor in $alerts {
  .usa-site-alert--#{$name} {
    background-color: color($bgcolor);
    $banner-text-color-token: get-token-from-bg($bgcolor);
    color: color($banner-text-color-token);

    .usa-alert {
      @include alert-status-styles($name, $bgcolor);
    }
  }
}
