// Alert variables ---------- //
// TODO: Custom alerts are effectively hidden and not well supported
// Consider removing or rebuilding
$usa-custom-alerts: () !default;

$usa-alerts: (
  success: "success-lighter",
  warning: "warning-lighter",
  error: "error-lighter",
  info: "info-lighter",
  emergency: "emergency"
);

$alerts: map-merge($usa-alerts, $usa-custom-alerts);


$alert-icon-close: (
  "name": "close",
  "svg-height": 40,
  "svg-width": 40,
  "height": $theme-icon-image-size
);

.usa-site-alert {
  .usa-alert {
    &::before {
      display:none;
    }

    > .usa-list,
    .usa-alert__body > .usa-list {
      padding-left: 2ch;
    }
  }
  .usa-alert__body {
    display: block;
  }
}

.usa-site-alert__close-btn {
  float: right;
  text-decoration: none;
  
  img {
    width: 0.75rem;
  }
  
  &:hover {
    text-decoration: none;
  }
}

@each $name, $bgcolor in $alerts {
  .usa-site-alert--#{$name} {
    background-color: color($bgcolor);
    $banner-text-color-token:  get-token-from-bg($bgcolor);
    color: color($banner-text-color-token);

    .usa-site-alert__close-btn {
      @include place-icon(
        $alert-icon-close,
        "after",
        0,
        middle,
        $bgcolor
      );
    }

    .usa-alert {
      @include alert-status-styles($name, $bgcolor);
    }
  }
}

.usa-site-alert--grid-contained {
  .usa-alert {
    @include grid-container();
  }
}