.skipnav {
  @include transition(all .2s ease-in-out);
  background: transparent;
  color: $color-base;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  z-index: 100;
  
  &:focus {
    @include transition(all .2s ease-in-out);
    background: $color-white;
    left: 0;
    outline: 0;
    position: absolute;
    top: 0;
  }
}
