$indicator-step-size: units(2);
$indicator-position: $indicator-step-size / 2;
$indicator-step-color-complete: color('success');
$indicator-step-border-color-complete: color('success-darker');
$indicator-step-color-current: color('base-darker');
$indicator-step-border-color-current: color('base-darkest');
$indicator-step-color: color('base-lightest');
$indicator-step-border-color: color('base-light');

.usa-step-tracker__steps {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

.usa-step-tracker__step {
  display: block;
  flex: 1;
  padding: $indicator-step-size units(1) 0;
  position: relative;
  text-align: center;

  &:before {
    background-color: $indicator-step-color;
    border-radius: 50%;
    border: 2px solid $indicator-step-border-color;
    content: "";
    display: block;
    height: $indicator-step-size;
    left: calc(50% - (#{$indicator-position}));
    position: absolute;
    top: 0;
    width: $indicator-step-size;
    z-index: 10;
  }

  &:after {
    background-color: color('base-light');
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    top: $indicator-position / 1;
    width: 100%;
    z-index: 5;
  }
}

.usa-step-tracker__step:last-child {
  &:after {
    display: none;
  }
}

.usa-step-tracker__step--completed {

  &:before {
    background-color: $indicator-step-color-complete;
    border-color: $indicator-step-border-color-complete;
  }
}

.usa-step-tracker__step[aria-current="true"]{

  &:before {
    background-color: $indicator-step-color-current;
    border-color: $indicator-step-border-color-current;
  }
}

.usa-step-tracker__heading,
.usa-step-tracker__heading + p{
  margin: 0;
  text-align: center;
}

.usa-step-tracker__heading + p {
  color: color('base');
  margin-bottom: units(2);
}
