.usa-summary-box {
  @include typeset($theme-summary-box-font-family);
  @include border-box-sizing;
  background-color: color($theme-summary-box-background-color);
  border: $theme-summary-box-border-width color($theme-summary-box-border-color)
    solid;
  padding: units(4) units(3);
  position: relative;

  .usa-list {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.usa-summary-box__body {
  display: table-cell;
  vertical-align: top;
}

.usa-summary-box__heading {
  @include typeset($theme-summary-box-font-family, "lg", 2);
  margin-top: 0;
  margin-bottom: units(1);
}

.usa-summary-box__text {
  @include u-margin-y(0);
}

.usa-summary-box__text:only-child {
  margin-bottom: $theme-summary-box-border-width;
  padding-top: units(0.5);
}

.usa-summary-box__link {
  @include u-text($theme-summary-box-link-color);
  &:hover {
    text-decoration: none;
  }
  &:visited {
    @include u-text($theme-summary-box-link-color);
  }
}
