/*
========================================
ASPECT
----------------------------------------
usage:
  .aspect-[value]
----------------------------------------
output:
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 100%;
----------------------------------------
example:
  .aspect-16x9
----------------------------------------
*/

@use "uswds-core/src/styles/settings" as *;

$add-aspect: (
  add-aspect: (
    base: "add-aspect",
    modifiers: null,
    values: (
      9x16: (
        slug: "9x16",
        isReadable: true,
        content: relative,
        extend: (
          "aspect-ratio": "9 / 16",
        ),
      ),
      1x1: (
        slug: "1x1",
        isReadable: true,
        content: relative,
        extend: (
          "aspect-ratio": 1,
        ),
      ),
      4x3: (
        slug: "4x3",
        isReadable: true,
        content: relative,
        extend: (
          "aspect-ratio": "4 / 3",
        ),
      ),
      16x9: (
        slug: "16x9",
        isReadable: true,
        content: relative,
        extend: (
          "aspect-ratio": "16 / 9",
        ),
      ),
      2x1: (
        slug: "2x1",
        isReadable: true,
        content: relative,
        extend: (
          "aspect-ratio": 2,
        ),
      ),
    ),
    settings: $add-aspect-settings,
    property: "position",
    type: "object",
  ),
);

.add-aspect-9x16,
.add-aspect-1x1,
.add-aspect-4x3,
.add-aspect-16x9,
.add-aspect-2x1 {
  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
  }

  @at-root #{selector-append(img, &)},
  & > img {
    object-fit: cover;
  }
}
