/*
========================================
ASPECT
----------------------------------------
usage:
  .aspect-[value]
----------------------------------------
output:
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 100%;
----------------------------------------
example:
  .aspect-16x9
----------------------------------------
*/

@use "uswds-core/src/styles/settings" as *;
@use "uswds-core/src/styles/mixins/general/add-aspect" as *;

$add-aspect: (
  add-aspect: (
    base: "add-aspect",
    modifiers: null,
    values: (
      9x16: (
        slug: "9x16",
        isReadable: true,
        content: relative,
        extend: (
          "aspect-ratio": "9 / 16",
          "max-width": 100%,
        ),
      ),
      1x1: (
        slug: "1x1",
        isReadable: true,
        content: relative,
        extend: (
          "aspect-ratio": 1,
        ),
      ),
      4x3: (
        slug: "4x3",
        isReadable: true,
        content: relative,
        extend: (
          "aspect-ratio": "4 / 3",
          "max-width": 100%,
        ),
      ),
      16x9: (
        slug: "16x9",
        isReadable: true,
        content: relative,
        extend: (
          "aspect-ratio": "16 / 9",
          "max-width": 100%,
        ),
      ),
      2x1: (
        slug: "2x1",
        isReadable: true,
        content: relative,
        extend: (
          "aspect-ratio": 2,
          "max-width": 100%,
        ),
      ),
    ),
    settings: $add-aspect-settings,
    property: "position",
    type: "object",
  ),
);

.add-aspect-9x16,
.add-aspect-1x1,
.add-aspect-4x3,
.add-aspect-16x9,
.add-aspect-2x1 {
  @include add-aspect-children;
}