/*
========================================
box-shadow
----------------------------------------
usage:
  .box-shadow-[value]
----------------------------------------
output:
  box-shadow: [value];
----------------------------------------
example:
  .box-shadow-1 {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10); }
----------------------------------------
*/

@use "uswds-core/src/styles/settings" as *;
@use "uswds-core/src/styles/functions" as *;
@use "../functions/" as *;

$u-box-shadow: (
  box-shadow: (
    base: "shadow",
    modifiers: null,
    values:
      map-collect(get-palettes($box-shadow-palettes), $box-shadow-manual-values),
    settings: $box-shadow-settings-complete,
    property: "box-shadow",
    type: "utility",
  ),
);
