/*
========================================
height
----------------------------------------
usage:
  .height-[value]
----------------------------------------
output:
  height: [value];
----------------------------------------
example:
  .height-33ct {
    height: 33.33333333%; }
----------------------------------------
*/

@use "uswds-core/src/styles/settings" as *;
@use "uswds-core/src/styles/functions" as *;
@use "../functions/" as *;

$u-height: (
  height: (
    base: "height",
    modifiers: null,
    values: map-collect(get-palettes($height-palettes), $height-manual-values),
    settings: $height-settings-complete,
    property: "height",
    type: "utility",
  ),
);
