/*
========================================
padding
----------------------------------------
usage:
  .padding-[modifier]*-[value]
----------------------------------------
output:
  padding: [value]
----------------------------------------
example:
  .padding-0 {
    padding: none; }

  .padding-bottom-1px {
    padding-bottom: 1px; }
----------------------------------------
*/

@use "uswds-core/src/styles/settings" as *;
@use "uswds-core/src/styles/functions" as *;
@use "../functions/" as *;

$u-padding: (
  padding: (
    base: "padding",
    modifiers: (
      noModifier: "",
      "y": (
        "-top",
        "-bottom",
      ),
      "x": (
        "-left",
        "-right",
      ),
      "top": "-top",
      "right": "-right",
      "bottom": "-bottom",
      "left": "-left",
    ),
    values: map-collect(get-palettes($padding-palettes), $padding-manual-values),
    settings: $padding-settings-complete,
    property: "padding",
    type: "utility",
  ),
);
