<label class="usa-label" for="password-sign-in">Password</label>
<input class="usa-input" id="password-sign-in" name="password" type="password" required>
<p class="usa-form__note">
    <a title="Show password" href="javascript:void(0);"
    class="usa-show-password"
    aria-controls="password-sign-in">Show password</a>
</p>