<div class="usa-alert {{ alert.classes }}" {% if alert.role %}role="{{alert.role}}"{% endif %}>
  <div class="usa-alert-body">
    {%- if alert.title -%}
    <h3 class="usa-alert-heading">{{ alert.title }}</h3>
    {%- endif -%}
    <p class="usa-alert-text">{{ alert.content }}</p>
  </div>
</div>
