<div class="usa-alert {{ alert.classes }}" {% if alert.role %}role="{{alert.role}}"{% endif %}>
  <div class="usa-alert__body">
    {%- if alert.title %}
    <h3 class="usa-alert__heading">{{ alert.title }}</h3>
    {%- endif %}
    <p class="usa-alert__text">{{ alert.content | safe }}</p>
  </div>
</div>
