/*
----------------------------------------
Display
----------------------------------------
usage:
  .[value]
----------------------------------------
output:
  display: [value]
----------------------------------------
example:
  .hide {
    display: none; }
----------------------------------------
*/

$display: (
  display: (
    base: null,
    modifiers: null,
    values: (
      block: 'block',
      flex: 'flex',
      hide: 'none',
      inline: 'inline',
      inline-block: 'inline-block',
    ),
    property: 'display',
    output: true,
    responsive: true,
    pseudoclasses: false,
  )
)
