/*
----------------------------------------
Margin
----------------------------------------
usage:
  .m[modifier]*[-]*[value]
----------------------------------------
output:
  margin: [value]
----------------------------------------
example:
  .mx-auto {
    margin-left: auto;
    margin-right: auto; }

  .m105 {
    margin: .75rem; }
----------------------------------------
*/

$margin: (
  margin: (
    base: m,
    modifiers: (
      t: '-top',
      r: '-right',
      b: '-bottom',
      l: '-left',
      y: ('-top', '-bottom'),
      x: ('-left', '-right'),
      noModifier: '',
    ),
    values: map-collect(
      map-get($values-settings, spacing),
      map-get($values-settings, neg-spacing),
      map-get($values-global, auto)
    ),
    property: 'margin',
    output: true,
    responsive: true,
    pseudoclasses: false,
  )
)
