/*
----------------------------------------
Text Decoration
----------------------------------------
usage:
  .[value]
----------------------------------------
output:
  text-decoration: [value]
----------------------------------------
example:
  .underline {
    text-decoration: underline; }
----------------------------------------
*/

$text-decoration: (
  text-decoration: (
    base: null,
    modifiers: null,
    values: (
      underline: 'underline',
      strike: 'strike',
      plain: 'none',
    ),
    property: 'text-decoration',
    output: true,
    responsive: false,
    pseudoclasses: false,
  )
)
