/*
----------------------------------------
Whitespace
----------------------------------------
usage:
  z-[value]
----------------------------------------
output:
  z-index: [value];
----------------------------------------
example:
  .z100 {
    z-index: 100; }
  .z-top {
    z-index: 9999; }
----------------------------------------
*/

$z-index: (
  z-index: (
    base: z,
    modifiers: null,
    values: (
      0: 0,
      100: 100,
      200: 200,
      300: 300,
      400: 400,
      500: 500,
      top: 9999,
      bottom: -9999,
    ),
    property: 'z-index',
    output: false,
    responsive: true,
    pseudoclasses: true,
  )
)
