<div class="grid-row padding-8">
  <div class="mobile-lg:grid-col-12 margin-top-4 mobile-lg:margin-top-0">
    <h2 class="margin-x-0 margin-y-2">Latest News</h2>
    <ul class="usa-collection">
      <li class="usa-collection__item">
        <div class="usa-collection__body">
          <h3 class="usa-collection__heading">
            <a class="usa-link" href="https://www.performance.gov/presidents-winners-press-release/">Gears of Government President's Award Winners</a>
          </h3>
          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item">
              By Performance.gov Team
            </span>
            <span class="usa-collection__meta-item">
              <time datetime="2020-09-30T12:00:00+01:00">
                September 30, 2020
              </time>
            </span>
          </div>

          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item usa-tag">
              New
            </span>
            <span class="usa-collection__meta-item usa-tag">
              PMA
            </span>
            <span class="usa-collection__meta-item usa-tag">
              OMB
            </span>
          </div>
        </div>
      </li>
      <li class="usa-collection__item">
        <div class="usa-collection__body">
          <h3 class="usa-collection__heading">
            <a class="usa-link" href="https://www.performance.gov/sba-wosb-dashboard/">Women-Owned Small Business Dashboard</a>
          </h3>
          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item">
              By Small Business Administration (SBA) and Performance.gov Team
            </span>
            <span class="usa-collection__meta-item">
              <time datetime="2020-09-30T12:00:00+01:00">
                September 30, 2020
              </time>
            </span>
          </div>

          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item usa-tag">
              SBA
            </span>
            <span class="usa-collection__meta-item usa-tag">
              Beta data
            </span>
          </div>
        </div>
      </li>
      <li class="usa-collection__item">
        <div class="usa-collection__body">
          <h3 class="usa-collection__heading">
            <a class="usa-link" href="https://www.performance.gov/September-2020-Updates-Show-Progress/">September 2020 Updates Show Progress on Cross-Agency and Agency Priority Goals</a>
          </h3>
          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item">
              By Performance.gov Team
            </span>
            <span class="usa-collection__meta-item">
              <time datetime="2020-09-17T12:00:00+01:00">
                September 17, 2020
              </time>
            </span>
          </div>

          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item usa-tag">
              Quarterly update
            </span>
            <span class="usa-collection__meta-item usa-tag">
              CAP goal
            </span>
            <span class="usa-collection__meta-item usa-tag">
              APG
            </span>
            <span class="usa-collection__meta-item usa-tag">
              PMA
            </span>
            <span class="usa-collection__meta-item usa-tag">
              Success story
            </span>
          </div>
        </div>
      </li>
      <li class="usa-collection__item">
        <div class="usa-collection__body">
          <h3 class="usa-collection__heading">
            <a class="usa-link" href="https://www.performance.gov/a-11-update/">Integrating Components of the GPRA Modernization Act and Evidence Act to Improve Organizational Performance</a>
          </h3>
          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item">
              By Performance.gov Team
            </span>
            <span class="usa-collection__meta-item">
              <time datetime="2020-08-03T12:00:00+01:00">
                August 3, 2020
              </time>
            </span>
          </div>

          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item usa-tag">
              PMA
            </span>
            <span class="usa-collection__meta-item usa-tag">
              OMB
            </span>
          </div>
        </div>
      </li>
      <li class="usa-collection__item">
        <div class="usa-collection__body">
          <h3 class="usa-collection__heading">
            <a class="usa-link" href="https://www.performance.gov/sharing-services-memo-release/">Sharing Quality Services Memo Release</a>
          </h3>  
          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item">
              By Office of Management and Budget
            </span>
            <span class="usa-collection__meta-item">
              <time datetime="2019-04-26T12:00:00+01:00">
                April 26, 2019
              </time>
            </span>
          </div>

          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item usa-tag">
              CAP goal
            </span>
            <span class="usa-collection__meta-item usa-tag">
              PMA
            </span>
            <span class="usa-collection__meta-item usa-tag">
              OMB
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
