<div class="grid-row padding-8">
  <div class="mobile-lg:grid-col-12 margin-top-4 mobile-lg:margin-top-0">
    <h2 class="margin-x-0 margin-y-2">Latest News</h2>
    <ul class="usa-collection">
      <li class="usa-collection__item">
        <a class="usa-collection__calendar-date" href="https://www.performance.gov/presidents-winners-press-release/">
          <time datetime="2020-09-30T12:00:00+01:00">
            <span class="usa-collection__calendar-date-month">SEP</span>
            <span class="usa-collection__calendar-date-day">30</span>
          </time>
        </a>
        <div class="usa-collection__body">
          <h3 class="usa-collection__heading">
            <a class="usa-link" href="https://www.performance.gov/presidents-winners-press-release/">Gears of Government President’s Award winners</a>
          </h3>
          <p class="usa-collection__teaser">Today, the Administration announces the winners of the Gears of Government President’s Award. This program recognizes the contributions of individuals and teams across the federal workforce who make a profound difference in the lives of the American people.</p>
          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item position-relative">
              <svg class="usa-icon position-relative bottom-neg-2px" aria-hidden="true" role="img">
                <use xlink:href="../../dist/img/sprite.svg#launch"></use>
              </svg>
              performance.gov
            </span>
          </div>

          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item usa-tag usa-tag--new">
              New
            </span>
            <span class="usa-collection__meta-item usa-tag bg-base-lighter text-ink">
              PMA
            </span>
            <span class="usa-collection__meta-item usa-tag">
              OMB
            </span>
          </div>
        </div>
      </li>
      <li class="usa-collection__item">
        <a class="usa-collection__calendar-date" href="https://www.performance.gov/sba-wosb-dashboard/">
          <time datetime="2020-09-30T12:00:00+01:00">
            <span class="usa-collection__calendar-date-month">SEP</span>
            <span class="usa-collection__calendar-date-day">30</span>
          </time>
        </a>
        <div class="usa-collection__body">
          <h3 class="usa-collection__heading">
            <a class="usa-link" href="https://www.performance.gov/sba-wosb-dashboard/">Women-owned small business dashboard</a>
          </h3>
          <p class="usa-collection__teaser">In honor of National Women’s Small Business Month, we’ve partnered with SBA’s Office of Government Contracting and Business Development and Office of Program Performance, Analysis, and Evaluation to highlight the Women-Owned Small Businesses (WOSBs) data dashboard!</p>
          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item position-relative">
              <svg class="usa-icon position-relative bottom-neg-2px" aria-hidden="true" role="img">
                <use xlink:href="../../dist/img/sprite.svg#launch"></use>
              </svg>
              sba.gov
            </span>
          </div>

          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item usa-tag">
              SBA
            </span>
            <span class="usa-collection__meta-item usa-tag">
              Meta data
            </span>
          </div>
        </div>
      </li>
      <li class="usa-collection__item">
        <a class="usa-collection__calendar-date" href="https://www.performance.gov/September-2020-Updates-Show-Progress/">
          <time datetime="2020-09-17T12:00:00+01:00">
            <span class="usa-collection__calendar-date-month">SEP</span>
            <span class="usa-collection__calendar-date-day">17</span>
          </time>
        </a>
        <div class="usa-collection__body">
          <h3 class="usa-collection__heading">
            <a class="usa-link" href="https://www.performance.gov/September-2020-Updates-Show-Progress/">September 2020 updates show progress on cross-agency and agency priority goals</a>
          </h3>
          <p class="usa-collection__teaser">Today, we published progress updates for both Cross-Agency Priority (CAP) Goals and Agency Priority Goals (APGs) for the third quarter of FY2020. These updates highlight recent milestones and accomplishments as well as related initiatives that support progress towards a more modern and effective government.</p>
          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item position-relative">
              <svg class="usa-icon position-relative bottom-neg-2px" aria-hidden="true" role="img">
                <use xlink:href="../../dist/img/sprite.svg#launch"></use>
              </svg>
              digital.gov
            </span>
          </div>

          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item usa-tag">
              Quarterly update
            </span>
            <span class="usa-collection__meta-item usa-tag">
              CAP goal
            </span>
            <span class="usa-collection__meta-item usa-tag">
              APG
            </span>
            <span class="usa-collection__meta-item usa-tag">
              PMA
            </span>
            <span class="usa-collection__meta-item usa-tag">
              Success story
            </span>
          </div>
        </div>
      </li>
      <li class="usa-collection__item">
        <a class="usa-collection__calendar-date" href="https://www.performance.gov/a-11-update/">
          <time datetime="2020-08-03T12:00:00+01:00">
            <span class="usa-collection__calendar-date-month">AUG</span>
            <span class="usa-collection__calendar-date-day">03</span>
          </time>
        </a>
        <div class="usa-collection__body">
          <h3 class="usa-collection__heading">
            <a class="usa-link" href="https://www.performance.gov/a-11-update/">Integrating components of the GPRA Modernization Act and Evidence Act to improve organizational performance</a>
          </h3>
          <p class="usa-collection__teaser">If you find yourself asking what is OMB Circular A-11, you’re probably not alone and certainly in good company – this is definitely one of Performance.gov’s ‘wonkier’ news posts.</p>
          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item position-relative">
              <svg class="usa-icon position-relative bottom-neg-2px" aria-hidden="true" role="img">
                <use xlink:href="../../dist/img/sprite.svg#launch"></use>
              </svg>
              designsystem.digital.gov
            </span>
          </div>

          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item usa-tag">
              PMA
            </span>
            <span class="usa-collection__meta-item usa-tag">
              OMB
            </span>
          </div>
        </div>
      </li>
      <li class="usa-collection__item">
        <a class="usa-collection__calendar-date" href="https://www.performance.gov/sharing-services-memo-release/">
          <time datetime="2019-04-26T12:00:00+01:00">
            <span class="usa-collection__calendar-date-month">APR</span>
            <span class="usa-collection__calendar-date-day">26</span>
          </time>
        </a>
        <div class="usa-collection__body">
          <h3 class="usa-collection__heading">
            <a class="usa-link" href="https://www.performance.gov/sharing-services-memo-release/">Sharing quality services</a>
          </h3>
          <p class="usa-collection__teaser">Today, the Office of Management and Budget (OMB) issued a memorandum announcing the Administration’s updated approach to improving the efficiency and effectiveness of government operations through adopting shared services.</p>

          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item position-relative">
              <svg class="usa-icon position-relative bottom-neg-2px" aria-hidden="true" role="img">
                <use xlink:href="../../dist/img/sprite.svg#launch"></use>
              </svg>
              whitehouse.gov
            </span>
          </div>

          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item usa-tag">
              CAP goal
            </span>
            <span class="usa-collection__meta-item usa-tag">
              PMA
            </span>
            <span class="usa-collection__meta-item usa-tag">
              OMB
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
