<div class="grid-row padding-8">
  <div class="mobile-lg:grid-col-12 margin-top-4 mobile-lg:margin-top-0">
    <h2 class="margin-x-0 margin-y-2">Related articles</h2>
    <ul class="usa-collection">
      <li class="usa-collection__item">
        <div class="usa-collection__body">
          <h3 class="usa-collection__heading">
            <a class="usa-link" href="https://www.performance.gov/presidents-winners-press-release/">Gears of Government President’s Award Winners</a>
          </h3>
          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item position-relative">
              <svg class="usa-icon position-relative bottom-neg-2px" aria-hidden="true" role="img">
                <use xlink:href="../../dist/img/sprite.svg#launch"></use>
              </svg>
              digital.gov
            </span>
          </div>
        </div>
      </li>
      <li class="usa-collection__item">
        <div class="usa-collection__body">
          <h3 class="usa-collection__heading">
            <a class="usa-link" href="https://www.performance.gov/sba-wosb-dashboard/">Women-Owned Small Business Dashboard</a>
          </h3>
          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item position-relative">
              <svg class="usa-icon position-relative bottom-neg-2px" aria-hidden="true" role="img">
                <use xlink:href="../../dist/img/sprite.svg#launch"></use>
              </svg>
              designsystem.digital.gov
            </span>
          </div>
          </div>
      </li>
      <li class="usa-collection__item">
        <div class="usa-collection__body">
          <h3 class="usa-collection__heading">
            <a class="usa-link" href="https://www.performance.gov/September-2020-Updates-Show-Progress/">September 2020 Updates Show Progress on Cross-Agency and Agency Priority Goals</a>
          </h3>
        </div>
      </li>
      <li class="usa-collection__item">
        <div class="usa-collection__body">
          <h3 class="usa-collection__heading">
            <a class="usa-link" href="https://www.performance.gov/a-11-update/">Integrating Components of the GPRA Modernization Act and Evidence Act to Improve Organizational Performance</a>
          </h3>
          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item position-relative">
              <svg class="usa-icon position-relative bottom-neg-2px" aria-hidden="true" role="img">
                <use xlink:href="../../dist/img/sprite.svg#launch"></use>
              </svg>
              performance.gov
            </span>
          </div>
        </div>
      </li>
      <li class="usa-collection__item">
        <div class="usa-collection__body">
          <h3 class="usa-collection__heading">
            <a class="usa-link" href="https://www.performance.gov/sharing-services-memo-release/">Sharing Quality Services Memo Release</a>
          </h3>
          <div class="usa-collection__meta-list">
            <span class="usa-collection__meta-item position-relative">
              <svg class="usa-icon position-relative bottom-neg-2px" aria-hidden="true" role="img">
                <use xlink:href="../../dist/img/sprite.svg#launch"></use>
              </svg>
              performance.gov
            </span>
          </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
