/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS UTILITIES SETTINGS
----------------------------------------
*/

$utilities-use-important:     false !default;
$output-all-utilities:        true !default;

/*
----------------------------------------
Utility breakpoints
----------------------------------------
Which breakpoints does your project
need? Select as `true` any breakpoint
used by utilities or layout grid
----------------------------------------
*/

$theme-utility-breakpoints: (
  'card':             false,   // 160px
  'card-lg':          false,   // 240px
  'mobile':           false,   // 320px
  'mobile-lg':        true,    // 480px
  'tablet':           true,    // 640px
  'tablet-lg':        false,   // 800px
  'desktop':          true,    // 1024px
  'desktop-lg':       false,   // 1200px
  'widescreen':       false,   // 1400px
) !default;

/*
----------------------------------------
Global colors
----------------------------------------
The following palettes will be added to
- background-color
- border-color
- color
- text-decoration-color
----------------------------------------
*/

$global-color-palettes: (
  'palette-colors-theme',
  'palette-colors-basic',
  'palette-colors-grayscale'
) !default;

/*
----------------------------------------
Settings
----------------------------------------
*/

$add-aspect-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$add-list-reset-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$align-items-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$background-color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
) !default;

$border-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
) !default;

$border-color-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
) !default;

$border-radius-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$border-style-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$border-width-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$bottom-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$box-shadow-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
) !default;

$circle-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$clearfix-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
) !default;

$cursor-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$display-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$flex-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$flex-direction-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$flex-wrap-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$float-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$font-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$font-family-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$font-feature-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$font-style-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$font-weight-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$height-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$justify-content-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$left-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$letter-spacing-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$line-height-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$margin-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$max-height-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$max-width-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$measure-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$min-height-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$min-width-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$opacity-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$order-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$outline-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$outline-color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$overflow-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$padding-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$pin-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$position-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$right-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$square-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$text-align-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$text-decoration-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
) !default;

$text-decoration-color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
) !default;

$text-indent-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$text-transform-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$top-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$vertical-align-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$whitespace-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$width-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$z-index-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

/*
----------------------------------------
Values
----------------------------------------
*/

// .add-aspect

$add-aspect-palettes: () !default;
$add-aspect-manual-values: () !default;

// .align-items

$align-items-palettes: ('palette-standard-align-items') !default;
$align-items-manual-values: () !default;

// .background-color

$background-color-palettes: () !default;
$background-color-manual-values: () !default;

// .border

$border-palettes: ('palette-standard-border') !default;
$border-manual-values: () !default;

// .border-color

$border-color-palettes: () !default;
$border-color-manual-values: () !default;

// .border-radius

$border-radius-palettes: ('palette-standard-border-radius') !default;
$border-radius-manual-values: () !default;

// .border-style

$border-style-palettes: ('palette-standard-border-style') !default;
$border-style-manual-values: () !default;

// .border-width

$border-width-palettes: ('palette-standard-border-width') !default;
$border-width-manual-values: () !default;

// .bottom

$bottom-palettes: ('palette-standard-bottom') !default;

$bottom-manual-values: () !default;

// .box-shadow

$box-shadow-palettes: ('palette-standard-box-shadow') !default;

$box-shadow-manual-values: () !default;

// .circle

$circle-palettes: ('palette-standard-circle') !default;
$circle-manual-values: () !default;

// .color

$color-palettes: () !default;
$color-manual-values: () !default;

// .cursor

$cursor-palettes: ('palette-standard-cursor') !default;
$cursor-manual-values: () !default;

// .display

$display-palettes: ('palette-standard-display') !default;
$display-manual-values: () !default;

// .flex

$flex-palettes: ('palette-standard-flex') !default;
$flex-manual-values: () !default;

// .flex-direction

$flex-direction-palettes: ('palette-standard-flex-direction') !default;
$flex-direction-manual-values: () !default;

// .flex-wrap

$flex-wrap-palettes: ('palette-standard-flex-wrap') !default;
$flex-wrap-manual-values: () !default;

// .float

$float-palettes: ('palette-standard-float') !default;
$float-manual-values: () !default;

// .font

$font-palettes: (
  'palette-font-theme-all',
  'palette-font-theme-roles-all'
) !default;
$font-manual-values: () !default;

// .font-family

$font-family-palettes: ('palette-standard-font-family') !default;
$font-family-manual-values: () !default;

// .font-feature-settings

$font-feature-palettes: ('palette-standard-font-feature-settings') !default;
$font-feature-manual-values: () !default;

// .font-style

$font-style-palettes: ('palette-standard-font-style') !default;
$font-style-manual-values: () !default;

// .font-weight

$font-weight-palettes: ('palette-standard-font-weight') !default;
$font-weight-manual-values: () !default;

// .height

$height-palettes: ('palette-standard-height') !default;
$height-manual-values: () !default;

// .justify-content

$justify-content-palettes: ('palette-standard-justify-content') !default;
$justify-content-manual-values: () !default;

// .left

$left-palettes: ('palette-standard-left') !default;
$left-manual-values: () !default;

// .letter-spacing

$letter-spacing-palettes: ('palette-standard-letter-spacing') !default;
$letter-spacing-manual-values: () !default;

// .line-height

$line-height-palettes: ('palette-standard-line-height') !default;
$line-height-manual-values: () !default;

// .margin

$margin-palettes: ('palette-standard-margin') !default;
$margin-manual-values: () !default;
$margin-vertical-palettes: ('palette-standard-margin-vertical') !default;
$margin-vertical-manual-values: () !default;
$margin-horizontal-palettes: ('palette-standard-margin-horizontal') !default;
$margin-horizontal-manual-values: () !default;

// .max-height

$max-height-palettes: ('palette-standard-max-height') !default;
$max-height-manual-values: () !default;

// .max-width

$max-width-palettes: ('palette-standard-max-width') !default;
$max-width-manual-values: () !default;

// .measure

$measure-palettes: ('palette-standard-measure') !default;
$measure-manual-values: () !default;

// .min-height

$min-height-palettes: ('palette-standard-min-height') !default;
$min-height-manual-values: () !default;

// .min-width

$min-width-palettes: ('palette-standard-min-width') !default;
$min-width-manual-values: () !default;

// .opacity

$opacity-palettes: ('palette-standard-opacity') !default;
$opacity-manual-values: () !default;

// .order

$order-palettes: ('palette-standard-order') !default;
$order-manual-values: () !default;

// .outline

$outline-palettes: ('palette-standard-outline') !default;
$outline-manual-values: () !default;

// .outline-color

$outline-color-palettes: ('palette-standard-outline-color') !default;
$outline-color-manual-values: () !default;

// .overflow

$overflow-palettes: ('palette-standard-overflow') !default;
$overflow-manual-values: () !default;

// .padding

$padding-palettes: ('palette-standard-padding') !default;
$padding-manual-values: () !default;

// .position

$position-palettes: ('palette-standard-position') !default;
$position-manual-values: () !default;

// .right

$right-palettes: ('palette-standard-right') !default;
$right-manual-values: () !default;

// .square

$square-palettes: ('palette-standard-square') !default;
$square-manual-values: () !default;

// .text-align

$text-align-palettes: ('palette-standard-text-align') !default;
$text-align-manual-values: () !default;

// .text-decoration

$text-decoration-palettes: ('palette-standard-text-decoration') !default;
$text-decoration-manual-values: () !default;

// .text-decoration-color

$text-decoration-color-palettes: () !default;
$text-decoration-color-manual-values: () !default;

// .text-indent

$text-indent-palettes: ('palette-standard-text-indent') !default;
$text-indent-manual-values: () !default;

// .text-transform

$text-transform-palettes: ('palette-standard-text-transform') !default;
$text-transform-manual-values: () !default;

// .top

$top-palettes: ('palette-standard-top') !default;
$top-manual-values: () !default;

// .vertical-align

$vertical-align-palettes: ('palette-standard-vertical-align') !default;
$vertical-align-manual-values: () !default;

// .white-space

$whitespace-palettes: ('palette-standard-white-space') !default;
$whitespace-manual-values: () !default;

// .width

$width-palettes: ('palette-standard-width') !default;
$width-manual-values: () !default;

// .z-index

$z-index-palettes: ('palette-standard-z-index') !default;
$z-index-manual-values: () !default;
