/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS GENERAL SETTINGS
----------------------------------------
*/

/*
----------------------------------------
Namespace
----------------------------------------
*/

$theme-namespace: (
  'component': (
    namespace:  'usa-',
    output:     true,
  ),
  'grid': (
    namespace:  'grid-',
    output:     true,
  ),
  'object': (
    namespace:  'add-',
    output:     true,
  ),
  'utility': (
    namespace:  'u-',
    output:     false,
  ),
) !default;

/*
----------------------------------------
Border box sizing
----------------------------------------
When set to true, it sets the box-sizing
property of all elements to
`border-box`.
----------------------------------------
*/

$border-box-sizing: false !default;

/*
----------------------------------------
Paths
----------------------------------------
Relative font and image file paths
----------------------------------------
*/

$theme-font-path:   '../fonts' !default;
$theme-image-path:  '../img' !default;

/*
----------------------------------------
Output breakpoints
----------------------------------------
Which breakpoints does your project
need? Select as `true` any breakpoint
used by utilities or layout grid
----------------------------------------
*/

$theme-output-breakpoints: (
  'card':             false,   // 160px
  'card-lg':          false,   // 240px
  'mobile':           false,   // 320px
  'mobile-lg':        true,    // 480px
  'tablet':           true,    // 640px
  'tablet-lg':        false,   // 800px
  'desktop':          true,    // 1040px
  'desktop-lg':       false,   // 1200px
  'widescreen':       false,   // 1400px
) !default;
