/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS 2.0.0 Beta 5
----------------------------------------
TYPOGRAPHY SETTINGS
----------------------------------------
Read more about settings and
USWDS typography tokens in the documentation:
https://v2.designsystem.digital.gov/style-tokens/typography
----------------------------------------
*/

/*
----------------------------------------
Root font size
----------------------------------------
Setting $theme-respect-user-font-size to
true sets the root font size to 100% and
uses ems for media queries
----------------------------------------
$theme-root-font-size only applies when
$theme-respect-user-font-size is set to
false.

This will set the root font size
as a specific px value and use px values
for media queries.

Accepts true or false
----------------------------------------
*/

$theme-respect-user-font-size: true !default;

// $theme-root-font-size only applies when
// $theme-respect-user-font-size is set to
// false.

// This will set the root font size
// as a specific px value and use px values
// for media queries.

// Accepts values in px

$theme-root-font-size: 10px !default;

/*
----------------------------------------
Basic styles
----------------------------------------
Sets the default typography styles for
paragraph text and links

Accepts true or false
----------------------------------------
*/

$theme-global-styles-basic: true !default;

/*
----------------------------------------
Content styles
----------------------------------------
Sets the default typography styles for
paragraph text, links, headings, lists,
and tables

Accepts global, scoped, or none
----------------------------------------
*/

$theme-content-styles: 'scoped' !default;

/*
----------------------------------------
Font path
----------------------------------------
Relative font file path
----------------------------------------
*/

$theme-font-path:   '../fonts' !default;

/*
----------------------------------------
Custom typeface tokens
----------------------------------------
Add a new custom typeface token if
your project uses a typeface we've
not already defined.
----------------------------------------
The following font tokens are defined
in the system with names and
cap-heights:

'georgia'
'helvetica'
'merriweather'
'open-sans'
'public-sans'
'roboto-mono'
'source-sans-pro'
'system'
'tahoma'
'verdana'
----------------------------------------
*/

// Add as many new tokens as you have custom fonts.
// Reference your new token(s) in the style-based
// font declarations below using the quoted
// name of the token. For example:
//
// $theme-font-type-cond: 'example-font-token';

// token: Change `my-font-token` to desired token name
// display-name: Add the display name of your font
// cap-height: Add the height of a 500px `N` in Sketch

$theme-typeface-tokens: (
  example-serif-token: (
    display-name: 'Example Serif Display Name',
    cap-height: 364px,
  ),
  example-sans-token: (
    display-name: 'Example Sans Display Name',
    cap-height: 364px,
  ),
) !default;

// **
// If you use a custom typeface token, be sure to add a
// custom font stack below.

/*
----------------------------------------
Fonts in use
----------------------------------------
Set the sans, serif, and mono faces for
your project
----------------------------------------
Pick from the following tokens,
or from any new font tokens you added in
$theme-typeface-tokens:

'georgia'
'helvetica'
'merriweather'
'open-sans'
'public-sans'
'roboto-mono'
'source-sans-pro'
'system'
'tahoma'
'verdana'
----------------------------------------
*/

// Assign typeface tokens to font types:

$theme-font-type-cond:      false !default;
$theme-font-type-icon:      false !default;
$theme-font-type-mono:      'roboto-mono' !default;
$theme-font-type-sans:      'source-sans-pro' !default;
$theme-font-type-serif:     'example-serif-token' !default;

// Assign font-type tokens to font roles:

$theme-font-role-ui:        'sans' !default;
$theme-font-role-heading:   'serif' !default;
$theme-font-role-body:      'sans' !default;
$theme-font-role-code:      'mono' !default;
$theme-font-role-alt:       'serif' !default;

// Add any custom font stacks:

$theme-font-cond-custom-stack:      false !default;
$theme-font-icon-custom-stack:      false !default;
$theme-font-mono-custom-stack:      false !default;
$theme-font-sans-custom-stack:      false !default;
$theme-font-serif-custom-stack:     false !default;

// USWDS automatically generates @font-face decalarations for 'merriweather', 'public-sans', 'roboto-mono', and 'source-sans-pro'

// If you want USWDS to generate additional @font-face declarations,
// add your font data as a map.
// An example follows the variables.

$theme-font-cond-custom-src:   false !default;
$theme-font-icon-custom-src:   false !default;
$theme-font-mono-custom-src:   false !default;
$theme-font-sans-custom-src:   false !default;
$theme-font-serif-custom-src:  false !default;

/*
EXAMPLE:
- dir: Directory relative to $theme-font-path
- This directory should include fonts saved as .eot, .ttf, .woff, and .woff2
  - ExampleSerif-Normal.eot
  - ExampleSerif-Normal.ttf
  - ExampleSerif-Normal.woff
  - ExampleSerif-Normal.woff2

$theme-font-serif-custom-src: (
  dir: 'custom/example-serif',
  roman: (
    100: false,
    200: false,
    300: 'ExampleSerif-Light',
    400: 'ExampleSerif-Normal',
    500: false,
    600: false,
    700: 'ExampleSerif-Bold',
    800: false,
    900: false,
  ),
  italic: (
    100: false,
    200: false,
    300: 'ExampleSerif-LightItalic',
    400: 'ExampleSerif-Italic',
    500: false,
    600: false,
    700: 'ExampleSerif-BoldItalic',
    800: false,
    900: false,
  ),
);
*/

/*
----------------------------------------
Type scale
----------------------------------------
Define your project's type scale using
values from the USWDS system type scale

1-20
----------------------------------------
*/

$theme-type-scale-3xs:      2 !default;
$theme-type-scale-2xs:      3 !default;
$theme-type-scale-xs:       4 !default;
$theme-type-scale-sm:       5 !default;
$theme-type-scale-md:       6 !default;
$theme-type-scale-lg:       9 !default;
$theme-type-scale-xl:       12 !default;
$theme-type-scale-2xl:      14 !default;
$theme-type-scale-3xl:      15 !default;

/*
----------------------------------------
Font weights
----------------------------------------
Assign weights 100-900
Or use `false` for unneeded weights.
----------------------------------------
*/

$theme-font-weight-thin:          false !default;
$theme-font-weight-light:         300 !default;
$theme-font-weight-normal:        400 !default;
$theme-font-weight-medium:        false !default;
$theme-font-weight-semibold:      false !default;
$theme-font-weight-bold:          700 !default;
$theme-font-weight-heavy:         false !default;

// If USWDS is generating your @font-face rules,
// should we generate all available weights
// regardless of the assignments above?

$theme-generate-all-weights:        false !default;

/*
----------------------------------------
General typography settings
----------------------------------------
Type scale tokens
----------------------------------------
micro:      10px
1:          12px
2:          13px
3:          14px
4:          15px
5:          16px
6:          17px
7:          18px
8:          20px
9:          22px
10:         24px
11:         28px
12:         32px
13:         36px
14:         40px
15:         48px
16:         56px
17:         64px
18:         80px
19:         120px
20:         140px
----------------------------------------
Line height tokens
----------------------------------------
1:    1
2:    1.15
3:    1.35
4:    1.5
5:    1.62
6:    1.75
----------------------------------------
Font family tokens
----------------------------------------
'ui'
'heading'
'body'
'code'
'alt'
----------------------------------------
Measure (max-width) tokens
----------------------------------------
1:       40ch
2:       60ch
3:       66ch
4:       72ch
5:       77ch
none:    none
----------------------------------------
*/

// Body settings are the equivalent of setting the <body> element
$theme-body-font-family:           'body' !default;
$theme-body-font-size:             'sm' !default;
$theme-body-line-height:           5 !default;

// If true, explicitly style the <body> element with the base styles
$theme-style-body-element:         false !default;

// Headings
$theme-h1-font-size:               '2xl' !default;
$theme-h2-font-size:               'xl' !default;
$theme-h3-font-size:               'lg' !default;
$theme-h4-font-size:               'sm' !default;
$theme-h5-font-size:               'xs' !default;
$theme-h6-font-size:               '3xs' !default;
$theme-heading-line-height:        2 !default;
$theme-small-font-size:            '2xs' !default;
$theme-title-font-size:            '3xl' !default;

// Text and prose
$theme-text-measure-narrow:        1 !default;
$theme-text-measure:               3 !default;
$theme-text-measure-wide:          4 !default;
$theme-prose-font-family:          'body' !default;

// Lead text
$theme-lead-font-family:           'heading' !default;
$theme-lead-font-size:             'lg' !default;
$theme-lead-line-height:           6 !default;
$theme-lead-measure:               5 !default;
