<section class="usa-hero">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="usa-hero-callout usa-section-dark usa-prose">
        <h2 class="usa-hero-heading">
          {% if hero.callout %}
            <span class="usa-hero-callout-alt">{{ hero.callout }}</span>
          {% endif %}
          {{ hero.title }}
        </h2>

        {% if hero.paragraph %}
        <p>{{ hero.paragraph }}</p>
        {% endif %}

        {% if hero.button %}
        <a class="usa-button" href="{{ hero.button.href }}">{{ hero.button.text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
