<section class="usa-hero">
  <div class="usa-grid">
    <div class="usa-hero-callout usa-section-dark">
      <h2>
        {% if hero.callout %}
          <span class="usa-hero-callout-alt">{{ hero.callout }}</span>
        {% endif %}
        {{ hero.title }}
      </h2>

      {% if hero.paragraph %}
      <p>{{ hero.paragraph }}</p>
      {% endif %}

      {% if hero.button %}
      <a class="usa-button" href="{{ hero.button.href }}">{{ hero.button.text }}</a>
      {% endif %}
    </div>
  </div>
</section>
