<button class="usa-nav-close">
  <img src="{{ uswds.path }}/img/close.svg" alt="close">
</button>
<ul class="usa-nav-primary usa-accordion">
  {%- for link in nav.links -%}
  <li>
    {%- if link.links -%}
    <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="{{ nav.id_prefix }}{{ link.id }}">
      <span>{{ link.text }}</span>
    </button>
    <ul id="{{ nav.id_prefix }}{{ link.id }}" class="usa-nav-submenu{% if nav.mega %} usa-megamenu usa-grid-full{% endif %}">
      {%- if nav.id_prefix == "basic-" or nav.id_prefix == "extended-" -%}
        {%- for child in link.links -%}
          {%- if loop.index < 4 -%}
            <li>
              <a href="{{ child.href }}">{{ child.text }}</a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      {%- else -%}
        {%- for group in link.links | batch(3) -%}
          <div class="usa-megamenu-col">
            {%- for child in group -%}
              <li>
                <a href="{{ child.href }}">{{ child.text }}</a>
              </li>
            {%- endfor -%}
          </div>
        {%- endfor -%}
      {%- endif -%}
    </ul>
    {%- else -%}
    <a class="usa-nav-link{% if link.current %} usa-current{% endif %}" href="{{ link.href }}">
      <span>{{ link.text }}</span>
    </a>
    {%- endif -%}
  </li>
  {%- endfor -%}
</ul>
{%- if nav.search -%}
  {% render '@search--header', {search: nav.search, id_prefix: nav.id_prefix}, true %}
{%- endif -%}
