<div class="usa-nav__secondary">
  <ul class="usa-nav__secondary-links">
    {%- for link in nav.links -%}
    <li class="usa-nav__secondary-item">
      <a href="{{ link.href }}"{% if link.current %} class="usa-current"{% endif %}>{{ link.text }}</a>
    </li>
    {%- endfor -%}
  </ul>
  {%- if nav.search -%}
    {% render '@search--header', {search: nav.search, search_js: false, id_prefix: nav.id_prefix} %}
  {%- endif -%}
</div>
