<button class="usa-nav__close"><img src="{{ uswds.path }}/img/close.svg" role="img" alt="close"></button>
<ul class="usa-nav__primary usa-accordion">
  {%- for link in nav.links -%}
  <li class="usa-nav__primary-item">
    {% if link.links -%}
    <button class="usa-accordion__button usa-nav__link{% if link.is_current %}  usa-current{% endif %}" aria-expanded="false" aria-controls="{{ nav.id_prefix }}{{ link.id }}"><span>{{ link.text }}</span></button>
    <{% if nav.mega %}div{% else %}ul{% endif %} id="{{ nav.id_prefix }}{{ link.id }}" class="usa-nav__submenu{% if nav.mega %} usa-megamenu{% endif %}">
      {%- if nav.id_prefix == "basic-" or nav.id_prefix == "extended-" -%}
        {%- for child in link.links -%}
          {%- if loop.index < 4 -%}
            <li class="usa-nav__submenu-item">
              <a href="{{ child.href }}" class="{% if child.is_current %} usa-current{% endif %}"> {{ child.text }}</a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      {%- else -%}
        <div class="grid-row grid-gap-4">
          {%- for group in link.links | batch(3) -%}
            <div class="usa-col">
              <ul class="usa-nav__submenu-list">
                {%- for child in group -%}
                  <li class="usa-nav__submenu-item">
                    <a href="{{ child.href }}" class="{% if child.is_current %} usa-current{% endif %}">{{ child.text }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}
    </{% if nav.mega %}div{% else %}ul{% endif %}>
    {%- else -%}
    <a class="usa-nav__link{% if link.is_current %} usa-current{% endif %}" href="{{ link.href }}"><span>{{ link.text }}</span></a>
    {% endif -%}
  </li>
  {%- endfor -%}
</ul>
{%- if nav.search -%}
  {% render '@search--header', {search: nav.search, id_prefix: nav.id_prefix}, true %}
{%- endif -%}
