@use "../../functions" as *;
@use "../../variables" as *;
@use "../helpers" as *;
@use "../utilities" as *;

@mixin grid-row($props...) {
  $display: append-important($grid-global, flex);
  $flex: append-important($grid-global, wrap);
  @include u-display($display);
  @include u-flex($flex);
  @include this-border-box-sizing;
}
