@use "uswds-core" as *;

@mixin prose-test {
  // margin-top: $theme-paragraph-margin-top;

  .usa-prose {
    & > {
      * + * {
        margin-top: $theme-paragraph-margin-top !important;
      }
    }
  }
}

.usa-prose {
  @include typeset($theme-prose-font-family);

  & > {
    @include usa-list-styles;
    @include usa-table-styles;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include typeset-heading-base;
    }

    * + * {
      margin-top: $theme-paragraph-margin-top !important;
    }

    * + {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: $theme-heading-margin-top !important;
      }

      p {
        @include typeset-p-base;
      }
    }

    
    // Replaces styles from usa-headings-styles
    h1 {
      @include h1;
    }
    h2 {
      @include h2;
    }
    h3 {
      @include h3;
    }
    h4 {
      @include h4;
    }
    h5 {
      @include h5;
    }
    h6 {
      @include h6;
    }
  }
}
