/*
========================================
USWDS UTILITIES SETTINGS
----------------------------------------
*/

$utilities-namespace-prefix: 'usa-u-';

/*
----------------------------------------
ALIGN-items
----------------------------------------
usage:
  .align-[key]
----------------------------------------
output:
  align-items: [value];
----------------------------------------
example:
  .align-flex-start {
    align-items: flex-start; }
----------------------------------------
*/

$align-items-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$align-items-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$align-items-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  flex-start:   'flex-start',
  flex-end:     'flex-end',
  center:       'center',
  stretch:      'stretch',
  ------------------------  */
) !default;

/*
----------------------------------------
BACground-color
----------------------------------------
usage:
  .bac-[key]
----------------------------------------
output:
  background-color: [value];
----------------------------------------
example:
  .bac-red-50v {
    background-color: #be4900; }
----------------------------------------
*/

$background-color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$background-color-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
  $preset-palette-reserved,
  $preset-palette-uswds-classic
) !default;

$background-color-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
) !default;

/*
----------------------------------------
BORder
(sets width and style: solid)
----------------------------------------
usage:
  .bor-[modifier]*-[key]
----------------------------------------
output:
  border-[modifier]: [value];
----------------------------------------
example:
  .bor-t-1px {
    border-top: 1px solid;
    }

  .bor-0 {
    border: none; }
----------------------------------------
*/

$border-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$border-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  $preset-units-px,
  $preset-units-grid-basic
  ------------------------ */
) !default;

$border-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  0:            '0',
  ------------------------  */
) !default;

/*
----------------------------------------
BORder-color
----------------------------------------
usage:
  .bor[-modifier]*-[key]
----------------------------------------
output:
  border[-modifier]*-[key]: [value];
----------------------------------------
example:
  .bor-red-50v {
    border-color: #be4900; }

  .bor-x-red-50v {
    border-left-color: #be4900;
    border-right-color: #be4900; }
----------------------------------------
*/

$border-color-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$border-color-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  $preset-palette-uswds-classic,
  $preset-palette-reserved
  ------------------------ */
) !default;

$border-color-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
) !default;

/*
----------------------------------------
border-RADius
----------------------------------------
usage:
  .rad-[key]
----------------------------------------
output:
  border-radius: [value];
----------------------------------------
example:
  .rad-0 {
    border-radius: 0; }

  .rad-pill {
    border-radius: 10em; }
----------------------------------------
*/

$border-radius-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$border-radius-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  $preset-units-px
  ------------------------ */
) !default;

$border-radius-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  g05:          $u-spacing-05,
  g1:           $u-spacing-1,
  g105:         $u-spacing-105,
  g2:           $u-spacing-2,
  ------------------------  */
  0:            '0',
  pill:         '9999em',
  circle:       '50%',
  sm:           $s-radius-sm,
  md:           $s-radius-md,
  lg:           $s-radius-lg,
) !default;

/*
----------------------------------------
BORder-style
----------------------------------------
usage:
  .bor[-modifier]*-[key]
----------------------------------------
output:
  border[-modifier]-style: [value];
----------------------------------------
*/

$border-style-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$border-style-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$border-style-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  dashed:       'dashed',
  dotted:       'dotted',
  solid:        'solid',
  ------------------------  */
) !default;

/*
----------------------------------------
BOX-shadow
----------------------------------------
usage:
  .box-[value]
----------------------------------------
output:
  box-shadow: [value];
----------------------------------------
example:
  .box-1 {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10); }
----------------------------------------
*/

$box-shadow-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$box-shadow-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$box-shadow-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  s0: 'none',
  s1: '0 1px 2px 0 rgba(0,0,0,0.10)',
  s2: '0 4px 8px 0 rgba(0,0,0,0.10)',
  s3: '0 6px 12px 0 rgba(0,0,0,0.10)',
  s4: '0 8px 16px 0 rgba(0,0,0,0.10)',
  s5: '0 12px 24px 0 rgba(0,0,0,0.10)',
  ------------------------  */
) !default;

/*
----------------------------------------
CIRCLE
----------------------------------------
usage:
  .circle-[key]
----------------------------------------
output:
  height: [value];
  width: [value];
  border-radius: 50%;
----------------------------------------
example:
  .circle-6 {
    height: 3rem;
    width: 3rem; }
----------------------------------------
*/

$circle-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$circle-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  $preset-units-grid
  ------------------------ */
) !default;

$circle-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  2px:          '2px',
  ------------------------  */
  3xs:          $s-spacing-3xs,
  2xs:          $s-spacing-2xs,
  xs:           $s-spacing-xs,
  sm:           $s-spacing-sm,
  md:           $s-spacing-md,
  lg:           $s-spacing-lg,
  xl:           $s-spacing-xl,
  2xl:          $s-spacing-2xl,
  3xl:          $s-spacing-3xl,
) !default;

/*
----------------------------------------
COLOR
----------------------------------------
usage:
  .color-[key]
----------------------------------------
output:
  color: [value];
----------------------------------------
example:
  .color-black-100 {
    color: #000; }
----------------------------------------
*/

$color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$color-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
  $preset-palette-uswds-classic,
  $preset-palette-reserved
) !default;

$color-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
) !default;

/*
----------------------------------------
COLUMN
----------------------------------------
usage:
  .column
----------------------------------------
output:
  display: flex;
  flex-direction: column;
----------------------------------------
example:
  .column {
    display: flex;
    flex-direction: column; }
----------------------------------------
*/

$column-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

/*
----------------------------------------
DISplay
----------------------------------------
usage:
  .dis-[key]
----------------------------------------
output:
  display: [value]
----------------------------------------
example:
  .dis-hide {
    display: none; }
----------------------------------------
*/

$display-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$display-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$display-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  block:        'block',
  flex:         'flex',
  none:         'none',
  inline:       'inline',
  inline-block: 'inline-block',
  table:        'table',
  table-cell:   'table-cell',
) !default;

/*
----------------------------------------
FLEX
----------------------------------------
usage:
  .flex-[key]
----------------------------------------
output:
  flex: [value];
----------------------------------------
example:
  .flex-1 {
    flex: 0 0 1; }

  .flex-fill {
    flex: 1 0 0; }

  .flex-fit {
    flex: none; }
----------------------------------------
*/

$flex-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$flex-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$flex-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  1:            '1 0 0',
  2:            '2 0 0',
  3:            '3 0 0',
  4:            '4 0 0',
  5:            '5 0 0',
  6:            '6 0 0',
  7:            '7 0 0',
  8:            '8 0 0',
  9:            '9 0 0',
  10:           '10 0 0',
  11:           '11 0 0',
  fill:         '1 0 0',
  fit:          '0',
) !default;

/*
----------------------------------------
FLEX-direction
----------------------------------------
usage:
  .flex-[key]
----------------------------------------
output:
  flex-direction: [value]
----------------------------------------
example:
  .flex-row {
    flex-direction: row; }
----------------------------------------
*/

$flex-direction-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$flex-direction-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$flex-direction-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  row:          'row',
  column:       'column',
) !default;

/*
----------------------------------------
FLEX-wrap
----------------------------------------
usage:
  .flex-[key]
----------------------------------------
output:
  flex-wrap: [value];
----------------------------------------
example:
  .flex-wrap {
    flex-wrap: wrap; }
----------------------------------------
*/

$flex-wrap-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$flex-wrap-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$flex-wrap-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  wrap:         'wrap',
  nowrap:       'nowrap',
) !default;

/*
----------------------------------------
FLOAT
----------------------------------------
usage:
  .float-[value]
----------------------------------------
output:
  float: [value];
----------------------------------------
example:
  .float-left {
    float: left; }
----------------------------------------
*/

$float-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$float-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$float-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  left:         'left',
  none:         'none',
  right:        'right',
) !default;

/*
----------------------------------------
FONT-family
----------------------------------------
usage:
  .font-[key]
----------------------------------------
output:
  font-family: [value]
----------------------------------------
example:
  .font-sans {
    font-family: 'United Sans webfont',
                system,
                -apple-system,
                BlinkMacSystemFont,
                'Roboto',
                'Helvetica Neue',
                'Helvetica',
                'Arial',
                sans-serif; }
----------------------------------------
*/

$font-family-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$font-family-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
  $preset-font-families
) !default;

$font-family-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
) !default;

/*
----------------------------------------
FONT-feature-settings
----------------------------------------
usage:
  .feat-[key]
----------------------------------------
output:
  font-feature-settings: [value];
----------------------------------------
example:
  .feat-alt {
    font-feature-settings:
      'ss01' 1, 'kern' 1; }
----------------------------------------
*/

$font-feature-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$font-feature-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$font-feature-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  alt:          "'ss01' 1, 'kern' 1",
  tabular:      "'tnum' 1, 'kern' 1",
  default:      "'kern' 1",
  // none: none,
) !default;

/*
----------------------------------------
FONT-size
----------------------------------------
usage:
  .font-[key]-[key]
----------------------------------------
output:
  font-family: [value];
  font-size: [value];
----------------------------------------
example:
  .font-sans-14 {
    font-face: '18Franklin-webfont',
                system,
                -apple-system,
                BlinkMacSystemFont,
                'Roboto',
                'Helvetica Neue',
                'Helvetica',
                'Arial',
                sans-serif;
    font-size: 1rem; }
----------------------------------------
*/

$font-size-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$font-size-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  $preset-mono-12,
  $preset-mono-13,
  $preset-mono-14,
  $preset-mono-15,
  $preset-mono-16,
  $preset-mono-17,
  $preset-mono-18,
  $preset-mono-20,
  $preset-mono-22,
  $preset-mono-24,
  $preset-mono-28,
  $preset-mono-32,
  $preset-mono-36,
  $preset-mono-40,
  $preset-mono-48,
  $preset-mono-56,
  $preset-mono-64,
  $preset-mono-80,
  $preset-mono-120,
  $preset-mono-140,
  $preset-sans-12,
  $preset-sans-13,
  $preset-sans-14,
  $preset-sans-15,
  $preset-sans-16,
  $preset-sans-17,
  $preset-sans-18,
  $preset-sans-20,
  $preset-sans-22,
  $preset-sans-24,
  $preset-sans-28,
  $preset-sans-32,
  $preset-sans-36,
  $preset-sans-40,
  $preset-sans-48,
  $preset-sans-56,
  $preset-sans-64,
  $preset-sans-80,
  $preset-sans-120,
  $preset-sans-140,
  $preset-serif-12,
  $preset-serif-13,
  $preset-serif-14,
  $preset-serif-15,
  $preset-serif-16,
  $preset-serif-17,
  $preset-serif-18,
  $preset-serif-20,
  $preset-serif-22,
  $preset-serif-24,
  $preset-serif-28,
  $preset-serif-32,
  $preset-serif-36,
  $preset-serif-40,
  $preset-serif-48,
  $preset-serif-56,
  $preset-serif-64,
  $preset-serif-80,
  $preset-serif-120,
  $preset-serif-140
  ------------------------ */
  $preset-font-size-tshirt
) !default;

$font-size-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
) !default;

/*
----------------------------------------
FONT-style
----------------------------------------
usage:
  .font-[key]
----------------------------------------
output:
  font-style: [value];
----------------------------------------
example:
  .font-italic {
    font-style: italic; }
  .font-roman {
    font-style: normal; }
----------------------------------------
*/

$font-style-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$font-style-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$font-style-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  normal:       'normal',
  italic:       'italic',
) !default;

/*
----------------------------------------
FONT-weight
----------------------------------------
usage:
  .font-[key]
----------------------------------------
output:
  font-weight: [value];
----------------------------------------
example:
  .font-300 {
    font-weight: 300; }
----------------------------------------
*/

$font-weight-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$font-weight-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$font-weight-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  100:          '100',
  200:          '200',
  300:          '300',
  400:          '400',
  500:          '500',
  600:          '600',
  700:          '700',
  800:          '800',
  900:          '900',
  bold:         '700',
  unbold:       '400',
) !default;

/*
----------------------------------------
HEIght
----------------------------------------
usage:
  .hei-[value]
----------------------------------------
output:
  height: [value];
----------------------------------------
example:
  .hei-33ct {
    height: 33.33333333%; }
----------------------------------------
*/

$height-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$height-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
  $preset-units-percentage,
  $preset-units-grid,
  $preset-units-em,
  $preset-units-ch,
  $preset-units-px
) !default;

$height-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
) !default;

/*
----------------------------------------
LETter-spacing
----------------------------------------
usage:
  .let-[key]
----------------------------------------
output:
  letter-spacing: [value];
----------------------------------------
example:
  .let-2 {
    letter-spacing: .1em; }
----------------------------------------
*/

$letter-spacing-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$letter-spacing-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$letter-spacing-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  auto:       'auto',
  n1:         $u-ls-n1,
  n2:         $u-ls-n2,
  n3:         $u-ls-n3,
  1:          $u-ls-1,
  2:          $u-ls-2,
  3:          $u-ls-3,
) !default;

/*
----------------------------------------
LINE-height
----------------------------------------
usage:
  .line-[value]
----------------------------------------
output:
  line-height: [value];
----------------------------------------
example:
  .line-2 {
    line-height: 1.15; }
----------------------------------------
*/

$line-height-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$line-height-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$line-height-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  single:        $u-lh-single,
  heading:       $u-lh-heading,
  heading-loose: $u-lh-heading-loose,
  body-tight:    $u-lh-body-tight,
  body:          $u-lh-body,
  body-loose:    $u-lh-body-loose,
) !default;

/*
----------------------------------------
LIST RESET
----------------------------------------
usage:
  .list-reset
----------------------------------------
output:
  list-style: none;
  padding-left: 0;
----------------------------------------
example:
  .list-reset {
    list-style: none;
    padding-left: 0; }
----------------------------------------
*/

$list-reset-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

/*
----------------------------------------
[manual positioning]
TOP
BOTtom
LEFT
RIGHT
----------------------------------------
usage:
  .top-[key]
  .bot-[key]
  .left-[key]
  .right-[key]
----------------------------------------
output:
  [option]: [value];
----------------------------------------
example:
  .bottom-n2px {
    bottom: -2px; }
----------------------------------------
*/

$manual-position-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$manual-position-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
  $preset-units-px,
  $preset-units-px-negative,
  $preset-units-percentage,
  $preset-units-grid
) !default;

$manual-position-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  0:            '0',
  auto:         'auto',
) !default;

/*
----------------------------------------
MARgin
----------------------------------------
usage:
  .mar-[modifier]*-[key]
----------------------------------------
output:
  margin: [value]
----------------------------------------
example:
  .mar-x-auto {
    margin-left: auto;
    margin-right: auto; }

  .mar-g105 {
    margin: .75rem; }
----------------------------------------
*/

$margin-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$margin-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  $preset-units-px,
  $preset-units-px-negative,
  $preset-units-percentage,
  $preset-units-grid,
  $preset-units-grid-negative,
  $preset-units-ch,
  $preset-units-ch-negative,
  $preset-units-em
  ------------------------ */
  $preset-spacing-tshirt,
  $preset-spacing-negative-tshirt
) !default;

$margin-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  0:            '0',
  auto:         'auto',
  1px:          '1px',
  2px:          '2px',
) !default;

/*
----------------------------------------
MAX-Height
----------------------------------------
usage:
  .maxh-[key]
----------------------------------------
output:
  max-height: [value];
----------------------------------------
example:
  .maxh-g40 {
    max-height: 320px; }
----------------------------------------
*/

$max-height-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$max-height-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
  $preset-units-percentage,
  $preset-units-grid,
  $preset-units-px
) !default;

$max-height-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
) !default;

/*
----------------------------------------
MAX-Width
----------------------------------------
usage:
  .maxw-[key]
----------------------------------------
output:
  max-width: [value];
----------------------------------------
example:
  .maxw-lg {
    max-width: 1040px; }
----------------------------------------
*/

$max-width-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$max-width-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
  $preset-units-percentage,
  $preset-units-grid,
  $preset-units-px
) !default;

$max-width-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  none:         'none',
  reading-sm:   $text-narrow-width,
  reading:      $text-max-width,
  sm:           $small-screen,
  md:           $medium-screen,
  lg:           $large-screen,
) !default;

/*
----------------------------------------
MIN-Height
----------------------------------------
usage:
  .minh-[key]
----------------------------------------
output:
  min-height: [value];
----------------------------------------
example:
  .minh-g40 {
    min-height: 320px; }
----------------------------------------
*/

$min-height-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$min-height-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
  $preset-units-percentage,
  $preset-units-grid,
  $preset-units-px
) !default;

$min-height-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  sm:           $small-screen,
  md:           $medium-screen,
  lg:           $large-screen,
  //xl:           $xlarge-screen,
) !default;

/*
----------------------------------------
MIN-Width
----------------------------------------
usage:
  .minw-[key]
----------------------------------------
output:
  min-width: [value];
----------------------------------------
example:
  .minw-g40 {
    min-width: 320px; }
----------------------------------------
*/

$min-width-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$min-width-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
  $preset-units-percentage,
  $preset-units-grid,
  $preset-units-px
) !default;

$min-width-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  sm:           $small-screen,
  md:           $medium-screen,
  lg:           $large-screen,
  // xl:           $xlarge-screen,
) !default;

/*
----------------------------------------
OPAcity
----------------------------------------
usage:
  .opa-[key]
----------------------------------------
output:
  opacity: [value];
----------------------------------------
example:
  .opa-0 {
    opacity: 0; }
----------------------------------------
*/

$opacity-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$opacity-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$opacity-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  0:           '0',
  10:          '0.1',
  20:          '0.2',
  30:          '0.3',
  40:          '0.4',
  50:          '0.5',
  60:          '0.6',
  70:          '0.7',
  80:          '0.8',
  90:          '0.9',
  100:         '1',
) !default;

/*
----------------------------------------
ORDER
----------------------------------------
usage:
  .order-[key]
----------------------------------------
output:
  order: [value]
----------------------------------------
example:
  .order-first {
    order: -1; }

  .order-2 {
    order: 2; }
----------------------------------------
*/

$order-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$order-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$order-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
//  0:            0,
//  1:            1,
//  2:            2,
//  3:            3,
//  4:            4,
//  5:            5,
//  6:            6,
//  7:            7,
//  8:            8,
//  9:            9,
//  10:           10,
//  11:           11,
  first:        '-1',
  last:         '99',
) !default;

/*
----------------------------------------
OUTline-width
----------------------------------------
usage:
  .out-[modifier]
----------------------------------------
output:
  outline: [modifier] solid;
----------------------------------------
example:
  .out-g05 {
    outline: 4px solid }
----------------------------------------
*/

$outline-1-width-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$outline-1-width-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
  $preset-units-px,
  $preset-units-grid-small
) !default;

$outline-1-width-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  0:            'none',
) !default;

/*
----------------------------------------
OUTline-color
----------------------------------------
usage:
  .out-[key]
----------------------------------------
output:
  outline-color: [value];
----------------------------------------
example:
  .out-yellow-50 {
    outline-color: #91721f; }
----------------------------------------
*/

$outline-2-color-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$outline-2-color-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
  $preset-colors-red
) !default;

$outline-2-color-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
) !default;

/*
----------------------------------------
PADding
----------------------------------------
usage:
  .pad-[modifier]*-[value]
----------------------------------------
output:
  padding: [value]
----------------------------------------
example:
  .pad-0 {
    padding: none; }

  .pad-b-1px {
    padding-bottom: 1px; }
----------------------------------------
*/

$padding-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$padding-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  $preset-units-px,
  $preset-units-grid
  ------------------------ */
  $preset-spacing-tshirt
) !default;

$padding-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  0:            '0',
) !default;

/*
----------------------------------------
POSition
----------------------------------------
usage:
  .pos-[keye]
----------------------------------------
output:
  position: [value];
----------------------------------------
example:
  .pos-absolute {
    position: absolute; }
----------------------------------------
*/

$position-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$position-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$position-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  absolute:     'absolute',
  fixed:        'fixed',
  relative:     'relative',
  static:       'static',
  sticky:       'sticky',
) !default;

/*
----------------------------------------
ROW
----------------------------------------
usage:
  .row
----------------------------------------
output:
  display: flex;
  flex-direction: row;
----------------------------------------
example:
  .row {
    display: flex;
    flex-direction: row; }
----------------------------------------
*/

$row-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

/*
----------------------------------------
SQUARE
----------------------------------------
usage:
  .square-[key]
----------------------------------------
output:
  height: [value];
  width: [value];
----------------------------------------
example:
  .square-g6 {
    height: 3rem;
    width: 3rem; }
----------------------------------------
*/

$square-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$square-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
  $preset-units-grid
) !default;

$square-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  2px:          '2px',
) !default;

/*
----------------------------------------
TEXT-align
----------------------------------------
usage:
  .text-[key]
----------------------------------------
output:
  align: [value];
----------------------------------------
example:
  .text-left {
    align: left; }
----------------------------------------
*/

$text-align-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$text-align-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$text-align-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  center:       'center',
  left:         'left',
  right:        'right',
  justify:      'justify',
) !default;

/*
----------------------------------------
TEXT-decoration
----------------------------------------
usage:
  .text-[key]
----------------------------------------
output:
  text-decoration: [value]
----------------------------------------
example:
  .text-underline {
    text-decoration: underline; }
----------------------------------------
*/

$text-decoration-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$text-decoration-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$text-decoration-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  underline:        'underline',
  strike:           'strike',
  decoration-none:  'none',
) !default;

/*
----------------------------------------
TEXT-transform
----------------------------------------
usage:
  .text-[value]
----------------------------------------
output:
  text-transform: value;
----------------------------------------
example:
  .text-uppercase {
    text-transform: uppercase; }
----------------------------------------
*/

$text-transform-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$text-transform-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$text-transform-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  capitalize:     'capitalize',
  lowercase:      'lowercase',
  uppercase:      'uppercase',
  transform-none: 'none',
) !default;

/*
----------------------------------------
VERtical-align
----------------------------------------
usage:
  .ver-[value]
----------------------------------------
output:
  vertical-align: [value]
----------------------------------------
example:
  .ver-top {
    vertical-align: top; }
----------------------------------------
*/

$vertical-align-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$vertical-align-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$vertical-align-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  baseline:     'baseline',
  bottom:       'bottom',
  middle:       'middle',
  sub:          'sub',
  super:        'super',
  text-bottom:  'text-bottom',
  text-top:     'text-top',
  top:          'top',
) !default;

/*
----------------------------------------
WHItespace
----------------------------------------
usage:
  whi-[key]
----------------------------------------
output:
  whitespace: [value];
----------------------------------------
example:
  .whi-pre-wrap {
    whitespace: pre-wrap; }
----------------------------------------
*/

$whitespace-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$whitespace-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$whitespace-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  normal:       'normal',
  nowrap:       'nowrap',
  pre:          'pre',
  pre-line:     'pre-line',
  pre-wrap:     'pre-wrap',
) !default;

/*
----------------------------------------
WIDTH
----------------------------------------
usage:
  .width-[key]
----------------------------------------
output:
  width: [value];
----------------------------------------
example:
  .width-75ct {
    width: 75%; }
----------------------------------------
*/

$width-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$width-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
  $preset-units-percentage,
  $preset-units-grid,
  $preset-units-px,
  $preset-units-em,
  $preset-units-ch
) !default;

$width-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  auto:         'auto',
  sm:           $small-screen,
  md:           $medium-screen,
  lg:           $large-screen,
) !default;

/*
----------------------------------------
Z-index
----------------------------------------
usage:
  z-[key]
----------------------------------------
output:
  z-index: [value];
----------------------------------------
example:
  .z-100 {
    z-index: 100; }
  .z-top {
    z-index: 9999; }
----------------------------------------
*/

$z-index-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false,
) !default;

$z-index-preset-values: map-collect(
  /*
  $example-preset-1,
  $example-preset-2 [no trailing comma]
  ------------------------
  [unused presets here]
  ------------------------ */
) !default;

$z-index-manual-values: (
  /*
  key:          'value', [trailing comma ok]
  ------------------------
  [unused value pairs here]
  ------------------------  */
  0:            '0',
  100:          '100',
  200:          '200',
  300:          '300',
  400:          '400',
  500:          '500',
  top:          '9999',
  bottom:       '-9999',
) !default;
