$values-global: (
  auto: (
    'auto': ('auto', isReadable),
  ),
  breakpoints: (
    'sm': ($small-screen, isReadable),
    'md': ($medium-screen, isReadable),
    'lg': ($large-screen, isReadable),
  ),
  flex: (
    'f1': 1 0 0,
    'f2': 2 0 0,
    'f3': 3 0 0,
    'f4': 4 0 0,
    'f5': 5 0 0,
    'f6': 6 0 0,
    'f7': 7 0 0,
    'f8': 8 0 0,
    'f9': 9 0 0,
    'f10': 10 0 0,
    'f11': 11 0 0,
    'fill': (1 0 0, isReadable),
    'fit': (0, isReadable),
  ),
  flex-orders: (
    '0': 0,
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '7': 7,
    '8': 8,
    '9': 9,
    '10': 10,
    '11': 11,
    'first': (-1, isReadable),
    'last': (99, isReadable),
  ),
  line-heights: (
    'single': ($u-lh-single, isReadable),
    'hed': ($u-lh-hed, isReadable),
    'cap': ($u-lh-cap, isReadable),
    'body': ($u-lh-body, isReadable),
    'body-loose': ($u-lh-body-loose, isReadable),
    'body-tight': ($u-lh-body-tight, isReadable),
  ),
  pseudoclasses: (
    'ac': ':active',
    'fo': ':focus',
    'ho': ':hover',
    'vi': ':visited',
  ),
  typefaces: (
    // 'mono': ($font-mono, isReadable),
    'sans': ($font-sans, isReadable),
    'serif': ($font-serif, isReadable),
  ),
  zero-none: (
    '0': none,
  ),
  zero-zero: (
    '0': 0,
  ),
);
