$values-global: (
  auto: (
    'auto': 'auto',
  ),
  breakpoints: (
    'sm': $small-screen,
    'md': $medium-screen,
    'lg': $large-screen,
  ),
  flex: (
    'f1': 1 0 0,
    'f2': 2 0 0,
    'f3': 3 0 0,
    'f4': 4 0 0,
    'f5': 5 0 0,
    'f6': 6 0 0,
    'f7': 7 0 0,
    'f8': 8 0 0,
    'f9': 9 0 0,
    'f10': 10 0 0,
    'f11': 11 0 0,
    'fill': 1 0 0,
    'fit': 0,
  ),
  flex-orders: (
    '0': 0,
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '7': 7,
    '8': 8,
    '9': 9,
    '10': 10,
    '11': 11,
    'first': -1,
    'last': 99,
  ),
  line-heights: (
    'single': $u-lh-single,
    'hed': $u-lh-hed,
    'cap': $u-lh-cap,
    'body': $u-lh-body,
    'body-loose': $u-lh-body-loose,
    'body-tight': $u-lh-body-tight,
  ),
  pseudoclasses: (
    'ac': ':active',
    'fo': ':focus',
    'ho': ':hover',
    'vi': ':visited',
  ),
  typefaces: (
    // 'mono': $font-mono,
    'sans': $font-sans,
    'serif': $font-serif,
  ),
  zero-none: (
    '0': none,
  ),
  zero-zero: (
    '0': 0,
  ),
);
