<ul class="usa-card-group">
  <li class="usa-card tablet:grid-col">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">Default media</h2>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img
            src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
            alt="A placeholder image"
          />
        </div>
      </div>
      <div class="usa-card__body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum
          tenetur quo cupiditate, eaque qui officia recusandae.
        </p>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">Visit Florida Keys</button>
      </div>
    </div>
  </li>
  <li class="usa-card tablet:grid-col">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">Inset media</h2>
      </header>
      <div class="usa-card__media usa-card__media--inset">
        <div class="usa-card__img">
          <img
            src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
            alt="A placeholder image"
          />
        </div>
      </div>
      <div class="usa-card__body">
        <p>
          Etiam vitae sodales metus. Fusce id orci dignissim, efficitur risus
          eget, tempus odio. Donec lectus ante, auctor eget cursus sed,
          convallis quis magna. Orci varius natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus. Mauris mattis tellus
          bibendum aliquet malesuada.
        </p>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">Visit Florida Keys</button>
      </div>
    </div>
  </li>
  <li class="usa-card tablet:grid-col">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">Exdent media</h2>
      </header>
      <div class="usa-card__media usa-card__media--exdent">
        <div class="usa-card__img">
          <img
            src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
            alt="A placeholder image"
          />
        </div>
      </div>
      <div class="usa-card__body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          possimus similique nemo odit doloremque laudantium?
        </p>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">Visit Florida Keys</button>
      </div>
    </div>
  </li>
  <li class="usa-card tablet:grid-col usa-card--header-first">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">Media with header first</h2>
      </header>
      <div class="usa-card__media usa-card__media--exdent">
        <div class="usa-card__img">
          <img
            src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
            alt="A placeholder image"
          />
        </div>
      </div>
      <div class="usa-card__body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          possimus similique nemo odit doloremque laudantium?
        </p>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">Visit Florida Keys</button>
      </div>
    </div>
  </li>
</ul>
