<div class="border-top border-base-lighter margin-top-3 padding-top-1">
  <h2>Are you a federal employee?</h2>
  <div class="usa-prose">
    <p>If you are a federal employee or [other secondary user], please use [secondary Single Sign On (SSO)].</p>
    <p><a class="usa-button usa-button--outline" href="javascript:void()">Launch secondary SSO</a></p>
  </div>
</div>