<body>
  <a class="usa-skipnav" href="">Skip to main content</a>
  <div class="usa-overlay"></div>
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo" id="logo">
          <em class="usa-logo__text"
            ><a href="/" title="Home" aria-label="Home"
              ><project title></project></a
          ></em>
        </div>
      </div>
    </div>
  </header>
  <div class="usa-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <main class="" id="main-content">
          <div class="usa-prose">
            <h1></h1>
            <p class="usa-intro"></p>
            <div class="margin-y-5">
              <ul class="usa-button-group">
                <li class="usa-button-group__item">
                  <a href="javascript:void();" class="usa-button"></a>
                </li>
                <li class="usa-button-group__item">
                  <button
                    class="usa-button usa-button--outline"
                    type="button"
                  ></button>
                </li>
              </ul>
            </div>
            <p></p>
            <ul></ul>
            <p class="text-base"></p>
          </div>
        </main>
      </div>
    </div>
  </div>
  <footer class="usa-footer">
    <div class="grid-container usa-footer__return-to-top">
      <a href="#">Return to top</a>
    </div>
    <div class="usa-footer__primary-section">
      <nav class="usa-footer__nav" aria-label="Footer navigation">
        <ul class="grid-row grid-gap"></ul>
      </nav>
    </div>
    <div class="usa-footer__secondary-section">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div
            class="
              usa-footer__logo
              grid-row
              mobile-lg:grid-col-6 mobile-lg:grid-gap-2
            "
          >
            <div class="mobile-lg:grid-col-auto">
              <img class="usa-footer__logo-img" src="/logo-img.png" alt="" />
            </div>
            <div class="mobile-lg:grid-col-auto">
              <p class="usa-footer__logo-heading"></p>
            </div>
          </div>
          <div class="usa-footer__contact-links mobile-lg:grid-col-6">
            <div class="usa-footer__social-links grid-row grid-gap-1">
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--facebook"
                  href="javascript:void(0);"
                  ><span>Facebook</span></a
                >
              </div>
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--twitter"
                  href="javascript:void(0);"
                  ><span>Twitter</span></a
                >
              </div>
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--youtube"
                  href="javascript:void(0);"
                  ><span>YouTube</span></a
                >
              </div>
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--instagram"
                  href="javascript:void(0);"
                  ><span>Instagram</span></a
                >
              </div>
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--rss"
                  href="javascript:void(0);"
                  ><span>RSS</span></a
                >
              </div>
            </div>
            <h3 class="usa-footer__contact-heading"></h3>
            <address class="usa-footer__address">
              <div class="usa-footer__contact-info grid-row grid-gap">
                <div class="grid-col-auto"></div>
                <div class="grid-col-auto">
                  <a href="mailto:info@agency.gov"></a>
                </div>
              </div>
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="usa-identifier">
    <section
      class="usa-identifier__section usa-identifier__section--masthead"
      aria-label=""
    >
      <div class="usa-identifier__container">
        <div class="usa-identifier__identity" aria-label="">
          <p class="usa-identifier__identity-domain"></p>
          <p class="usa-identifier__identity-disclaimer"><a href=""></a></p>
        </div>
      </div>
    </section>
    <nav
      class="usa-identifier__section usa-identifier__section--required-links"
      aria-label=""
    >
      <div class="usa-identifier__container">
        <ul class="usa-identifier__required-links-list"></ul>
      </div>
    </nav>
  </div>
</body>
