<p class="usa-form__note">
  <a title="{{ toggle.title }}"
    href="{{ placeholderLink }}"
    class="usa-show-password"
    aria-controls="{{ toggle.aria_controls }}"
    data-show-text="{{ toggle.text.show }}"
    data-hide-text="{{ toggle.text.hide }}"
  >
    {{- toggle.text.show -}}
  </a>
</p>
