{% for FederalProgram in site.data.FederalPrograms %}
<div class="usa-accordion-bordered">
  <ul class="usa-unstyled-list">
    <li>
      <button class="usa-button-unstyled" aria-expanded="true" aria-controls="collapsible">
       {{ FederalProgram.AgencyName | sort }}
      </button>
      <div id="collapsible" aria-hidden="true" class="usa-accordion-content">
        <ul class="usa-unstyled-list">
          <h4>
          {{ FederalProgram.ProgramName }}
          </h4>
          <p>
          Program Code: {{ FederalProgram.ProgramCode }}
          </p>
        </ui>
      </div>
    </li>
  </ul>
</div>
{% endfor %}
