<div class="usa-grid">
  <div class="usa-width-one-half">
    <p>Feedback? Create an issue on the <a href="https://github.com/18F/usfwds">Github repository</a>.</p>
    <p>Have an idea? Read our <a href="https://github.com/18F/usfwds/blob/18f-pages/CONTRIBUTING.md">contribution guidelines</a>.</p>
  </div>
  <div class="usa-width-one-half usa-end-row">
    <p>As a work of the United States Government, this project is <a href="https://github.com/18F/usfwds/blob/18f-pages/LICENSE.md">in the public domain</a> within the United States.</p>
  </div>
</div>