<a id="skipnav" href="#main">Skip to main content</a>

<header role="banner">
  <div class="disclaimer">
    <span class="us-official">
      An official website of the United States Government.
      <img
      alt="US flag signifying that this is a United States Federal Government website"
      src="{{ site.baseurl }}/assets/img/us_flag_small.png">
    </span>
    <span class="stage">This site is currently in <a href="https://18f.gsa.gov/dashboard/stages/#alpha">alpha</a>.</span>
  </div>
  <nav>
    <a href="#" id="menu-btn">&#9776; MENU</a>
    <div id="logo">
      <a href="{{ site.baseurl }}/" accesskey="1" title="Home" aria-label="Home">
        <h1>Government Wide Pattern Library</h1>
      </a>
    </div>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/about/">About</a>
      </li>
      <li>
        <a href="https://github.com/18F/govt-wide-patternlibrary/" target="_blank">
          View on Github
        </a>
        </li>
    </ul>
  </nav>
</header>

<div class="overlay"></div>
