<a id="skipnav" href="#main">Skip to main content</a>

<header class="usa-site-header" role="banner">

  <div class="usa-disclaimer">
    <span class="usa-disclaimer-official">An official website of the United States Government 
      <img alt="US flag signifying that this is a United States Federal Government website" src="{{ site.baseurl }}/assets/img/us_flag_small.png">
    </span>
    <span class="usa-disclaimer-stage">This site is currently in alpha. <a href="https://18f.gsa.gov/dashboard/stages/#alpha">Learn more.</a></span>
  </div>
  
    <nav class="usa-site-navbar">
      <a href="#" id="menu-btn">&#9776; MENU</a>
      <div class="logo" id="logo">
        <a href="{{ site.baseurl }}/" accesskey="1" title="Home" aria-label="Home">
          <h1>U.S. Federal Web Design Standards</h1>
        </a>
      </div>
      <ul class="usa-button-list usa-unstyled-list">
        <li>
          <a class="usa-button" href="#">Download</a>
        </li>
        <li>
          <a class="usa-button usa-button-outline" href="https://github.com/18F/usfwds/" target="_blank">
            View on Github
          </a>
          </li>
      </ul>
    </nav>
  
</header>

<div class="overlay"></div>
