{% assign components = site.patterns | where:"type","component" %}
{% assign elements = site.patterns | where:"type","element" %}

<aside class="sidenav">
	<nav>
		<h2>
			<a href="{{ site.baseurl }}/visual-style/">Visual Style</a>
		</h2>
		<ul>
		{% for visual in site.visual %}
			<li><a href="#{{ visual.title | slugify }}">{{ visual.title }}</a></li>
		{% endfor %}
		</ul>
		<h2>
			<a href="{{ site.baseurl }}/layout-system/">Layout System</a>
		</h2>
		<ul>
		{% for layout in site.layout-system %}
			<li>
				<a href="#{{ layout.title | slugify }}">{{ layout.title }}</a>
			</li>
		{% endfor %}
		</ul>
		<h2>
			<a href="{{ site.baseurl }}/patterns/">Patterns</a>	
		</h2>
		<ul class="patterns-list">
			<h3>Elements</h3>
			{% for element in elements %}
			<li>
				<a href="#{{ element.title | slugify }}">{{ element.title }}</a>
			</li>
			{% endfor %}
		</ul>
		<ul class="patterns-list">
			<h3>Components</h3>
			{% for component in components %}
			<li>
				<a href="#{{ component.title | slugify }}">{{ component.title }}</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</aside>
