{% assign components = site.patterns | where:"type","component" %}
{% assign elements = site.patterns | where:"type","element" %}

<aside class="sidenav" id="menu-content">
  <nav>

    <ul class="usa-sidenav-list">
      <li>
        <a href="#">Visual style</a>
        <ul class="usa-sidenav-sub_list">
          <li>
            <a href="#">Typography</a>
            <ul class="usa-sidenav-sub_list">
              <li>
                <a href="#">Typefaces</a>
              </li>
              <li>
                <a href="#">Pairings + Style</a>
              </li>
              <li>
                <a href="#">Typesetting</a>
              </li>
              <li>
                <a href="#">Links</a>
              </li>
              <li>
                <a href="#">Lists</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Colors</a>
            <ul class="usa-sidenav-sub_list">
              <li>
                <a href="#">Palette</a>
              </li>
              <li>
                <a href="#">Text accessibility</a>
              </li>
            </ul>
          </li>
        </ul>
      </li> 
      <li>
        <a href="#">Grid</a>
      </li>
      <li>
        <a href="#">Buttons</a>
      </li>
      <li>
        <a href="#">Labels</a>
      </li>
      <li>
        <a href="#">Tables</a>
      </li>
      <li>
        <a href="#">Alerts</a>
      </li>
      <li>
        <a href="#">Accordions</a>
      </li>
      <li>
        <a href="#">Form controls</a>
      </li>
      <li>
        <a href="#">Form Templates</a>
      </li>
      <li>
        <a href="#">Search bar</a>
      </li>
      <li>
        <a href="#">Header and navigation</a>
      </li>
      <li>
        <a href="#">Footer</a>
      </li>
    </ul>

  </nav>
</aside>
