{% assign components = site.patterns | where:"type","component" %}
{% assign elements = site.patterns | where:"type","element" %}

<aside class="sidenav" id="menu-content">
  <nav>
    <ul class="usa-sidenav-list">
      <li>
        <a href="{{ site.baseurl }}/visual-style/">Visual style</a>
        <ul class="usa-sidenav-sub_list visual-style-sublist">
          <li>
            <a href="{{ site.baseurl }}/visual-style/#typography">Typography</a>
            <ul class="usa-sidenav-sub_list">
              <li>
                <a href="{{ site.baseurl }}/visual-style/#typefaces">Typefaces</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/visual-style/#pairings">Pairings & styles</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/visual-style/#typesetting">Typesetting</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/visual-style/#links">Links</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/visual-style/#lists">Lists</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="{{ site.baseurl }}/visual-style/#colors">Colors</a>
            <ul class="usa-sidenav-sub_list">
              <li>
                <a href="{{ site.baseurl }}/visual-style/#palette">Palette</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/visual-style/#text-accessibility">Text accessibility</a>
              </li>
            </ul>
          </li>
        </ul>
      </li> 
      <li>
        <a href="{{ site.baseurl }}/grids/">Grids</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/buttons/">Buttons</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/labels/">Labels</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/tables/">Tables</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/alerts/">Alerts</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/accordions/">Accordions</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/form-controls/">Form controls</a>
        <ul class="usa-sidenav-sub_list form-controls-sublist">
          <li>
            <a href="{{ site.baseurl }}/form-controls/#text-inputs">Text inputs & area</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/form-controls/#dropdown">Dropdown</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/form-controls/#checkboxes">Radio buttons & checkboxes</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/form-controls/#date-input">Date input</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/form-controls/#range-slider">Range slider</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="{{ site.baseurl }}/form-templates/">Form Templates</a>
        <ul class="usa-sidenav-sub_list form-templates-sublist">
          <li>
            <a href="{{ site.baseurl }}/form-templates/#name-form">Name form</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/form-templates/#address-form">Address form</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/form-templates/#login-form">Login form</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/form-templates/#password-reset-form">Password reset form</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/form-templates/#ssn-form">Social Security form</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/form-templates/#contact-form">Contact form</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="{{ site.baseurl }}/search-bar/">Search bar</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/headers/">Side navigation</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/footers/">Footers</a>
        <ul class="usa-sidenav-sub_list footers-sublist">
          <li>
            <a href="{{ site.baseurl }}/footers/#big-footer">Big footer</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/footers/#medium-footer">Medium footer</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/footers/#slim-footer">Slim footer</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
