<div class="width-mobile">
  <table class="usa-table {{ modifier|default('usa-table--stacked') }}">
    {% if caption %}
      <caption>{{ caption }}</caption>
    {% endif %}
    <thead>
      <tr>
        <th scope="col">Document title</th>
        <th scope="col">Description</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th data-label="Document title" scope="row">Declaration of Independence</th>
        <td data-label="Description">Statement adopted by the Continental Congress declaring independence from the British Empire.</td>
        <td data-label="Year">1776</td>
      </tr>
      <tr>
        <th data-label="Document title" scope="row">Bill of Rights</th>
        <td data-label="Description">The first ten amendments of the U.S. Constitution guaranteeing rights and freedoms.</td>
        <td data-label="Year">1791</td>
      </tr>
      <tr>
        <th data-label="Document title" scope="row">Declaration of Sentiments</th>
        <td data-label="Description">A document written during the Seneca Falls Convention outlining the rights that American women should be entitled to as citizens.</td>
        <td data-label="Year">1848</td>
      </tr>
      <tr>
        <th data-label="Document title" scope="row">Emancipation Proclamation</th>
        <td data-label="Description">An executive order granting freedom to slaves in designated southern states.</td>
        <td data-label="Year">1863</td>
      </tr>
    </tbody>
  </table>
</div>
