// Buttons

button,
button[type="button"],
button[type="submit"],
button[type="reset"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"] {
  appearance: none;
  background-color: $color-grey-900;
  border: 0;
  border-radius: $usa-border-radius;
  color: $color-white;
  font-size: $base-font-size;
  font-weight: $font-bold;
  line-height: 1;
  margin: {
    top: .5em;
    bottom: .5em;
    right: .5em;
  }
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;

  &:hover,
  &.usa-button-hover {
    background-color: $color-grey-700;
  }

  &:focus,
  &.usa-button-focus {
    box-shadow: 0 0 0 2px $color-focus;
  }
  &:active,
  &.usa-button-active {
    background-color: $color-base-link;
  }
}

input[type="submit"]:disabled,
.usa-button-disabled {
  background-color: $color-grey-300;
  color: $color-grey-700;
  cursor: default;

  &:hover {
    background-color: $color-grey-300;
  }
}

button.usa-button-secondary,
button[type="button"].usa-button-secondary,
button[type="submit"].usa-button-secondary,
button[type="reset"].usa-button-secondary,
input[type="button"].usa-button-secondary,
input[type="submit"].usa-button-secondary,
input[type="reset"].usa-button-secondary,
input[type="image"].usa-button-secondary {
  background-color: $color-grey-600;

  &:hover,
  &.usa-button-secondary-hover {
    background-color: $color-grey-800;
  }
  &:active,
  &.usa-button-secondary-active {
    background-color: $color-base-link;
  }
}

.usa-button-outlined,
button[type="button"].usa-button-outlined,
button[type="submit"].usa-button-outlined,
button[type="reset"].usa-button-outlined,
input[type="button"].usa-button-outlined,
input[type="submit"].usa-button-outlined,
input[type="reset"].usa-button-outlined,
input[type="image"].usa-button-outlined {
  background-color: $color-white;
  border: 2px solid $color-grey-900;
  color: $color-grey-900;
  padding: .8rem 1.8rem;
}

.usa-button-big,
button[type="button"].usa-button-big,
button[type="submit"].usa-button-big,
button[type="reset"].usa-button-big,
input[type="button"].usa-button-big,
input[type="submit"].usa-button-big,
input[type="reset"].usa-button-big,
input[type="image"].usa-button-big {
  font-size: 1.9rem;
  padding: 1.5rem 3rem;
}

.button-unstyled {
  background: none;
  border: 0;
  outline: 0;
  padding: 0;
  text-align: left;
}
