// Buttons

.usa-button,
.usa-button-primary,
button,
[type="button"],
[type="submit"],
[type="reset"],
[type="button"],
[type="submit"],
[type="reset"],
[type="image"] {
  appearance: none;
  background-color: $color-primary;
  border: 0;
  border-radius: $border-radius;
  color: $color-white;
  font-family: $font-sans;
  font-size: $base-font-size;
  font-weight: $font-bold;
  line-height: 1;
  margin: {
    top: .5em;
    bottom: .5em;
    right: .5em;
  }
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  width: 100%;
  -webkit-font-smoothing: antialiased;

  &:hover,
  &.usa-button-hover {
    background-color: $color-primary-darker;
  }

  &:focus,
  &.usa-button-focus {
    box-shadow: $focus-shadow;
  }

  &:active,
  &.usa-button-active {
    background-color: $color-primary-darkest;
  }

  @media (min-width: $small-screen) {
    width: auto;
  }

  &.usa-button-primary-alt {
    background-color: $color-primary-alt;
    color: $color-base;

    &:hover,
    &.usa-button-hover {
      background-color: $color-primary-alt-dark;
    }

    &:active,
    &.usa-button-active {
      background-color: $color-primary-alt-darkest;
      color: $color-white;
    }
  }

  &.usa-button-secondary {
    background-color: $color-secondary;

    &:hover,
    &.usa-button-hover {
      background-color: $color-secondary-dark;
    }

    &:active,
    &.usa-button-active {
      background-color: $color-secondary-darkest;
    }
  }

  &.usa-button-gray {
    background-color: $color-gray;

    &:hover,
    &.usa-button-hover {
      background-color: $color-gray-dark;
    }

    &:active,
    &.usa-button-active {
      background-color: $color-base;
    }
  }

  &.usa-button-outline {
    background-color: $color-white;
    border: 2px solid;
    border-color: $color-primary;
    color: $color-primary;
    padding: .8rem 1.8rem;

    &:hover,
    &.usa-button-hover {
      border-color: $color-primary-darker;
      color: $color-primary-darker;
    }

    &:active,
    &.usa-button-active {
      border-color: $color-primary-darkest;
      color: $color-primary-darkest;
    }
  }

  &.usa-button-outline-inverse {
    background: transparent;
    border: 2px solid;
    border-color: $color-white;
    color: $color-white;
    padding: .8rem 1.8rem;

    &:hover,
    &.usa-button-hover {
      border-color: $color-gray-lighter;
      color: $color-gray-lighter;
    }

    &:active,
    &.usa-button-active {
      border-color: $color-gray-light;
      color: $color-gray-lighter;
    }
  }

  &.usa-button-big {
    font-size: 1.9rem;
    padding: 1.5rem 3rem;
  }
}

[type="submit"]:disabled,
.usa-button-disabled {
  background-color: $color-gray-lighter;
  color: $color-gray-dark;
  cursor: default;

  &:hover,
  &.usa-button-hover,
  &:active,
  &.usa-button-active,
  &:focus  {
    background-color: $color-gray-lighter;
    border: 0;
    box-shadow: none;
    color: $color-gray-dark;
  }
}

.usa-button-unstyled {
  background: none;
  border: 0;
  border-radius: 0;
  outline: 0;
  padding: 0;
  text-align: left;

  &:focus,
  &:hover {
    box-shadow: initial !important;
  }
}
