// Buttons

.usa-button,
button,
[type="button"],
[type="submit"],
[type="reset"],
[type="button"],
[type="submit"],
[type="reset"],
[type="image"] {
  appearance: none;
  background-color: $color-base;
  border: 0;
  border-radius: $border-radius;
  color: $color-white;
  font-size: $base-font-size;
  font-weight: $font-bold;
  line-height: 1;
  margin: {
    top: .5em;
    bottom: .5em;
    right: .5em;
  }
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  width: 100%;
  -webkit-font-smoothing: antialiased;

  &:hover,
  &.usa-button-hover {
    background-color: #616161;
  }

  &:focus,
  &.usa-button-focus {
    box-shadow: 0 0 0 2px $color-focus;
  }
  &:active,
  &.usa-button-active {
    background-color: #000;
  }

  @media (min-width: $small-screen) {
    width: auto;
  }

  &.usa-button-secondary {
    background-color: #757575;

    &:hover,
    &.usa-button-secondary-hover {
      background-color: #424242;
    }
    &:active,
    &.usa-button-secondary-active {
      background-color: #000;
    }
  }

  &.usa-button-outlined {
    background-color: $color-white;
    border: 2px solid $color-base;
    color: $color-base;
    padding: .8rem 1.8rem;
  }

  &.usa-button-big {
    font-size: 1.9rem;
    padding: 1.5rem 3rem;
  }
}

[type="submit"]:disabled,
.usa-button-disabled {
  background-color: #e0e0e0;
  color: #616161;
  cursor: default;

  &:hover {
    background-color: #e0e0e0;
  }
}

.usa-button-unstyled {
  background: none;
  border: 0;
  border-radius: 0;
  outline: 0;
  padding: 0;
  text-align: left;

  &:focus,
  &:hover {
    box-shadow: initial !important;
  }
}
