// Block form elements
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea  {
  color: #000; // standardize on firefox
  box-sizing: border-box;
  -webkit-appearance: none;
  border: 1px solid $color-grey-300;
  border-radius: $border-radius;
  display: block;
  width: 100%;
  outline: none;
  font-size: $base-font-size;
  padding: 0 .7em;
  margin: .5em 0;
  height: 2em;
}

// Inline form elements
input[type="checkbox"],
input[type="radio"],
input[type="checkbox"] {
  margin: {
    top: .5em;
    bottom: .5em;
    right: .5em;
  }
}

// Buttons
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"],
button[type="button"],
button[type="submit"],
button[type="reset"] {
  -webkit-appearance: none;
  background-color: $color-grey-300;
  border: 0;
  border-radius: $border-radius;
  font-size: $base-font-size;
  text-align: center;
  width: 8em;
  margin: {
    top: .5em;
    bottom: .5em;
    right: .5em;
  }
  outline: none;
  padding: .5em .7em;
  &:hover {
    background-color: $color-grey-400;
  }
}

input[type="submit"]:disabled {
  color: $color-grey-700;
  &:hover {
    background-color: $color-grey-300;
  }
}

label {
  display: block;
  font-weight: bold;
  margin: {
    top: .5em;
    bottom: .5em;
  }
}