// Block form elements
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea  {
  color: #000; // standardize on firefox
  box-sizing: border-box;
  -webkit-appearance: none;
  border: 1px solid $color-grey-500;
  border-radius: $usa-border-radius;
  display: block;
  width: 100%;
  outline: none;
  font-size: $base-font-size;
  padding: 1rem .7em;
  margin: .5em 0;
  max-width: 38rem;

  &:focus, 
  &.usa-input-focus {
    border-color: $color-focus;
    box-shadow: 0 0 0 1px $color-focus;
  }

  &.usa-input-error {
    border-color: $color-error;
    box-shadow: 0 0 0 1px $color-error;
  }

  &.usa-input-success {
    border-color: $color-success;
    box-shadow: 0 0 0 1px $color-success;
  }
}

label {
  display: block;
  font-weight: bold;
  margin: {
    top: .5em;
    bottom: .5em;
  }
}