// Block form elements
input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea,
select  {
  border: 1px solid $color-grey-500;
  border-radius: $usa-border-radius;
  box-sizing: border-box;    
  color: $color-base-link; // standardize on firefox 
  display: block;
  font-size: $base-font-size;
  margin: 1.5rem 0;
  max-width: $input-max-width;
  width: 100%;
  outline: none;
  padding: 1rem .7em;
  -webkit-appearance: none;

  &:focus, 
  &.usa-input-focus {
    border-color: $color-focus;
    box-shadow: 0 0 0 1px $color-focus;
  }

  &.usa-input-error {
    border-color: $color-error;
    box-shadow: 0 0 0 1px $color-error;
  }

  &.usa-input-success {
    border-color: $color-success;
    box-shadow: 0 0 0 1px $color-success;
  }
}

label {
  display: block;
  font-weight: $font-bold;
  margin: {
    top: 3rem;
    bottom: 1.5rem;
  }
  max-width: $input-max-width;
}

textarea {
  height: 16rem;
}

label.checkbox,
label.radio {
  display: inline-block;
  font-weight: 400;
  margin-bottom: 0.5em;

  input[type="checkbox"] + span {
    box-shadow: 0 0 0 1px $color-grey-600;
    border-radius: $usa-border-radius;
    display: inline-block;
    height: 1.8rem;
    margin-top: 0;
    margin-right: 0.5em;
    margin-bottom: 0;
    vertical-align: -4px;
    padding-top: 4px; //compensate for FA vertical-align
    width: 1.8rem;
  }

  input[type="radio"] + span {
    box-shadow: 0 0 0 1px $color-grey-600;
    border-radius: 100%;
    display: inline-block;
    height: 1.8rem;
    margin: {
      top: 0;
      right: 0.5em;
      bottom: 0;
    }
    vertical-align: -4px;
    width: 1.8rem;
  }
}

label.checkbox :checked + span {
  background-color: $color-primary;
  border: 1px solid $color-primary;
  box-shadow: 0 0 0 0 $color-white;
  position: relative;
  background-image: url('../img/correct8.png');  
  background-image: url('../img/correct8.svg');  
  background-position: 50%;
  background-repeat: no-repeat; 
  
  &:after {

    color: $color-white;
    font-family: "FontAwesome";
    content: x;
    position: relative;
    left: 2px;
    top: -5px;
  }
}

label.radio :checked + span {
  background-color: $color-primary;
  border: 2px solid $color-white !important;
  box-shadow: 0 0 0 2px $color-primary;
  vertical-align: -4px;
  position: relative;
}

input[type="checkbox"],
input[type="radio"] {
  @include appearance(none);
  display: inline-block;
  height: 1.8rem;
  width: 1.8rem;
  vertical-align: -4px;

  // to hide checkbox/radio from visual but 
  // still read to screenreaders
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &:focus {
    + .checkbox-focus {
      border: 1px solid $color-white;
      box-shadow: 0 0 0 2px $color-primary;
      outline: none;
    }
  }
}

.fieldset-inputs {
  label {
    margin-top: 0;
  }
}