.usa-label {
  background-color: $color-primary;
  border-radius: $border-radius;
  color: $color-white;
  font-size: $small-font-size;
  margin-right: .5rem;
  padding: {
    bottom: 0.1rem;
    left: 0.7rem;
    right: 0.7rem;
    top: 0.3rem;
  }
  text-transform: uppercase;
}

.usa-label-big {
  @extend .usa-label;
  font-size: $base-font-size;
  padding: {
    left: .9rem;
    right: .9rem;
  }
}

a {
  &.usa-label {
    border-bottom: none;  
  }
}

a {
  &.usa-label:hover {
    background-color: $color-primary-darker;
    border-bottom: none;
    color: $color-white;
  }
}