.usa-label {
  background-color: $color-primary;
  border-radius: $border-radius;
  color: $color-white;
  padding: 0.2em 0.6em;
  text-transform: uppercase;
}

.usa-label-big {
  @extend .usa-label;
}