// Make lists unstyled by default
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

article {
  ul, ol {
    padding-left: 2em;
    margin: {
      top: 2em;
      bottom: 2em;
    }
    li {
      line-height: $base-line-height;
      margin: {
        top: 1em;
        bottom: 1em;
      }
    }
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
}
