ul, ol {
  margin: {
    top: 2em;
    bottom: 2em;
  }

  li {
    font-family: $font-serif;
    line-height: $base-line-height;
    margin: {
      top: .75em;
      bottom: .75em;
    }
  }
}

ul, ol {
  list-style: none;
  padding-left: 0;
  display: table;

  li:after {
    content: "";
    display: block;
    margin-bottom: 0.5em;
  }
}

ul li {
  display: table-row;

  &:before {
    content: "•";
    display: table-cell;
    padding-right: 0.4em;
  }
}

ol li {
  display: table-row;
  counter-increment: table-ol;

  &:before {
    content: counter(table-ol) ".";
    display: table-cell;
    padding-right: 0.4em;
    text-align: right;
  }
}

li {
  margin-bottom: 0.5em;
}

// Unstyled lists

.usa-unstyled-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: list-item;
    margin: 0;

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }
}

.usa-check_list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    display: inline-block;
    list-style: none;
    margin: {
      bottom: 0em;
      top: 0em;
    }
    padding-left: 2em;
    text-indent: -2em;

    &:before {
      content: ' ';
      display: inline-block;
      height: .8em;
      margin-right: .2em;
      width: 1.8em;
    }
  }
}

.usa-check_list-checked {
  &:before {
    background-image: url('../img/correct9.png');
    background-image: url('../img/correct9.svg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
