ul, ol {
  padding-left: 2em;
  margin: {
    top: 2em;
    bottom: 2em;
  }
  li {
    line-height: $base-line-height;
    margin: {
      top: 1em;
      bottom: 1em;
    }
  }
}
ul {
  list-style-type: square;
}
ol {
  list-style-type: decimal;
}

// Unstyled lists

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    margin: 0;
  }
}