ul, ol {
  margin: 0;  
  list-style-type: none;  
  padding-left: 2em;
  margin: {
    top: 2em;
    bottom: 2em;
  }
  li {
    line-height: $base-line-height;
    margin: {
      top: 1em;
      bottom: 1em;
    }
  }
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}