table {
  margin: 2em 0;
  min-width: 100%;
  
  thead {
    th {
      text-align: left;
    }
  }
  th, td {
    border: 1px solid $color-grey-900;
    padding: .5em;
  }
}

.usa-table-bordered {
 
}