table {
  margin: 2em 0;
  min-width: 100%;
  
  thead {
    th {
      text-align: left;
    }
  }
  
  th, td {
    border: 1px solid $color-grey-600;
    line-height: 1;
    padding: 1.5rem;
  }
}

.usa-table-bordered {
  border-spacing: 0;

  thead {
    tr {
      background-color: $color-grey-200;
    }
  }
}

.usa-table-borderless {
  thead {
    tr {
      th {
        border-top: 0;
      }
    }
  }
  
  th, td {
    border: {
      left: 0;
      right: 0;
    }
  }
}