html {
  font-family: $font-sans;
  font-size: $em-base;
}

body {
  font-size: $base-font-size;
}

p {
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: {
    top: 1em;
    bottom: 1em;
  }
}

a {
  color: $color-base-link;
  &:hover, &:active, &:visited {
    color: $color-base-link;
  }
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  margin: {
    top: 2em;
    bottom: .5em;
  }
  line-height: $heading-line-height;
}

// Create heading mixins 

@mixin title {
  font-size: $title-font-size;
  font-weight: 700;
}

@mixin h1 {
  font-size: $h1-font-size;
  font-weight: 700;
}

@mixin h2 {
  font-size: $h2-font-size;
  font-weight: 700;
}

@mixin h3 {
  font-size: $h3-font-size;
  font-weight: 700;
}

@mixin h4 {
  font-size: $h4-font-size;
  font-weight: 700;
}

@mixin h5 {
  font-size: $h5-font-size;
  font-weight: 700;
}

@mixin h6 {
  font-size: $h6-font-size;
  font-weight: 700;
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

h4 {
  @include h4();
}

h5 {
  @include h5();
}

h6 {
  @include h6();
}