<div class="usa-table-container--scrollable">
  <table class="usa-table">
    <caption>Scrollable table</caption>
    <col>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <thead>
      <tr>
        <th rowspan="2">Federal Budget<br> Baseline Projections</th>
        <th colspan="2" scope="colgroup" align="center">2017</th>
        <th colspan="2" scope="colgroup" align="center">2018</th>
        <th colspan="2" scope="colgroup" align="center">2019</th>
        <th colspan="2" scope="colgroup" align="center">2020</th>
        <th colspan="2" scope="colgroup" align="center">2021</th>
        <th colspan="2" scope="colgroup" align="center">Hist. Avg.</th>
      </tr>
      <tr>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
      </tr>
    </thead>
    <tr>
      <th scope="row">Revenue</th>
      <td align="right"><pre>17.2%</pre></td>
      <td align="right"><pre>3,316</pre></td>
      <td align="right"><pre>16.4%</pre></td>
      <td align="right"><pre>3,338</pre></td>
      <td align="right"><pre>16.3%</pre></td>
      <td align="right"><pre>3,490</pre></td>
      <td align="right"><pre>16.7%</pre></td>
      <td align="right"><pre>3,678</pre></td>
      <td align="right"><pre>16.7%</pre></td>
      <td align="right"><pre>3,827</pre></td>
      <td align="right"><pre>17.4%</pre></td>
      <td align="right"><pre>3,381</pre></td>
    </tr>
    <tr>
      <th scope="row">Outlays</th>
      <td align="right"><pre>20.6%</pre></td>
      <td align="right"><pre>3,982</pre></td>
      <td align="right"><pre>20.2%</pre></td>
      <td align="right"><pre>4,142</pre></td>
      <td align="right"><pre>21.0%</pre></td>
      <td align="right"><pre>4,470</pre></td>
      <td align="right"><pre>21.3%</pre></td>
      <td align="right"><pre>4,685</pre></td>
      <td align="right"><pre>21.6%</pre></td>
      <td align="right"><pre>4,949</pre></td>
      <td align="right"><pre>20.3%</pre></td>
      <td align="right"><pre>4,198</pre></td>
    </tr>
    <tr>
      <th scope="row">Budget Deficit</th>
      <td align="right"><pre>-3.5%</pre></td>
      <td align="right"><pre>-665</pre></td>
      <td align="right"><pre>-3.8%</pre></td>
      <td align="right"><pre>-804</pre></td>
      <td align="right"><pre>-4.6%</pre></td>
      <td align="right"><pre>-981</pre></td>
      <td align="right"><pre>-4.6%</pre></td>
      <td align="right"><pre>-1,008</pre></td>
      <td align="right"><pre>-4.9%</pre></td>
      <td align="right"><pre>-1,123</pre></td>
      <td align="right"><pre>-2.9%</pre></td>
      <td align="right"><pre>-483</pre></td>
    </tr>
    <tr>
      <th scope="row">Debt Held by Public</th>
      <td align="right"><pre>76.0%</pre></td>
      <td align="right"><pre>14,665</pre></td>
      <td align="right"><pre>77.4%</pre></td>
      <td align="right"><pre>15,688</pre></td>
      <td align="right"><pre>79.2%</pre></td>
      <td align="right"><pre>16,762</pre></td>
      <td align="right"><pre>80.9%</pre></td>
      <td align="right"><pre>17,872</pre></td>
      <td align="right"><pre>83.1%</pre></td>
      <td align="right"><pre>18,998</pre></td>
      <td align="right"><pre>41.7%</pre></td>
      <td align="right"><pre>8,065</pre></td>
    </tr>
  </table>
</div>
<p>* in billions of dollars. Data for illustration purposes only.</p>


<div class="usa-table-container--scrollable">
  <table class="usa-table usa-table--striped">
    <caption>Striped scrollable table</caption>
    <col>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <thead>
      <tr>
        <th rowspan="2">Federal Budget<br> Baseline Projections</th>
        <th colspan="2" scope="colgroup" align="center">2017</th>
        <th colspan="2" scope="colgroup" align="center">2018</th>
        <th colspan="2" scope="colgroup" align="center">2019</th>
        <th colspan="2" scope="colgroup" align="center">2020</th>
        <th colspan="2" scope="colgroup" align="center">2021</th>
        <th colspan="2" scope="colgroup" align="center">Hist. Avg.</th>
      </tr>
      <tr>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
      </tr>
    </thead>
    <tr>
      <th scope="row">Revenue</th>
      <td align="right"><pre>17.2%</pre></td>
      <td align="right"><pre>3,316</pre></td>
      <td align="right"><pre>16.4%</pre></td>
      <td align="right"><pre>3,338</pre></td>
      <td align="right"><pre>16.3%</pre></td>
      <td align="right"><pre>3,490</pre></td>
      <td align="right"><pre>16.7%</pre></td>
      <td align="right"><pre>3,678</pre></td>
      <td align="right"><pre>16.7%</pre></td>
      <td align="right"><pre>3,827</pre></td>
      <td align="right"><pre>17.4%</pre></td>
      <td align="right"><pre>3,381</pre></td>
    </tr>
    <tr>
      <th scope="row">Outlays</th>
      <td align="right"><pre>20.6%</pre></td>
      <td align="right"><pre>3,982</pre></td>
      <td align="right"><pre>20.2%</pre></td>
      <td align="right"><pre>4,142</pre></td>
      <td align="right"><pre>21.0%</pre></td>
      <td align="right"><pre>4,470</pre></td>
      <td align="right"><pre>21.3%</pre></td>
      <td align="right"><pre>4,685</pre></td>
      <td align="right"><pre>21.6%</pre></td>
      <td align="right"><pre>4,949</pre></td>
      <td align="right"><pre>20.3%</pre></td>
      <td align="right"><pre>4,198</pre></td>
    </tr>
    <tr>
      <th scope="row">Budget Deficit</th>
      <td align="right"><pre>-3.5%</pre></td>
      <td align="right"><pre>-665</pre></td>
      <td align="right"><pre>-3.8%</pre></td>
      <td align="right"><pre>-804</pre></td>
      <td align="right"><pre>-4.6%</pre></td>
      <td align="right"><pre>-981</pre></td>
      <td align="right"><pre>-4.6%</pre></td>
      <td align="right"><pre>-1,008</pre></td>
      <td align="right"><pre>-4.9%</pre></td>
      <td align="right"><pre>-1,123</pre></td>
      <td align="right"><pre>-2.9%</pre></td>
      <td align="right"><pre>-483</pre></td>
    </tr>
    <tr>
      <th scope="row">Debt Held by Public</th>
      <td align="right"><pre>76.0%</pre></td>
      <td align="right"><pre>14,665</pre></td>
      <td align="right"><pre>77.4%</pre></td>
      <td align="right"><pre>15,688</pre></td>
      <td align="right"><pre>79.2%</pre></td>
      <td align="right"><pre>16,762</pre></td>
      <td align="right"><pre>80.9%</pre></td>
      <td align="right"><pre>17,872</pre></td>
      <td align="right"><pre>83.1%</pre></td>
      <td align="right"><pre>18,998</pre></td>
      <td align="right"><pre>41.7%</pre></td>
      <td align="right"><pre>8,065</pre></td>
    </tr>
  </table>
</div>
<p>* in billions of dollars. Data for illustration purposes only.</p>

<div class="usa-table-container--scrollable">
  <table class="usa-table usa-table--compact">
    <caption>Compact scrollable table</caption>
    <col>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <thead>
      <tr>
        <th rowspan="2">Federal Budget<br> Baseline Projections</th>
        <th colspan="2" scope="colgroup" align="center">2017</th>
        <th colspan="2" scope="colgroup" align="center">2018</th>
        <th colspan="2" scope="colgroup" align="center">2019</th>
        <th colspan="2" scope="colgroup" align="center">2020</th>
        <th colspan="2" scope="colgroup" align="center">2021</th>
        <th colspan="2" scope="colgroup" align="center">Hist. Avg.</th>
      </tr>
      <tr>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
      </tr>
    </thead>
    <tr>
      <th scope="row">Revenue</th>
      <td align="right"><pre>17.2%</pre></td>
      <td align="right"><pre>3,316</pre></td>
      <td align="right"><pre>16.4%</pre></td>
      <td align="right"><pre>3,338</pre></td>
      <td align="right"><pre>16.3%</pre></td>
      <td align="right"><pre>3,490</pre></td>
      <td align="right"><pre>16.7%</pre></td>
      <td align="right"><pre>3,678</pre></td>
      <td align="right"><pre>16.7%</pre></td>
      <td align="right"><pre>3,827</pre></td>
      <td align="right"><pre>17.4%</pre></td>
      <td align="right"><pre>3,381</pre></td>
    </tr>
    <tr>
      <th scope="row">Outlays</th>
      <td align="right"><pre>20.6%</pre></td>
      <td align="right"><pre>3,982</pre></td>
      <td align="right"><pre>20.2%</pre></td>
      <td align="right"><pre>4,142</pre></td>
      <td align="right"><pre>21.0%</pre></td>
      <td align="right"><pre>4,470</pre></td>
      <td align="right"><pre>21.3%</pre></td>
      <td align="right"><pre>4,685</pre></td>
      <td align="right"><pre>21.6%</pre></td>
      <td align="right"><pre>4,949</pre></td>
      <td align="right"><pre>20.3%</pre></td>
      <td align="right"><pre>4,198</pre></td>
    </tr>
    <tr>
      <th scope="row">Budget Deficit</th>
      <td align="right"><pre>-3.5%</pre></td>
      <td align="right"><pre>-665</pre></td>
      <td align="right"><pre>-3.8%</pre></td>
      <td align="right"><pre>-804</pre></td>
      <td align="right"><pre>-4.6%</pre></td>
      <td align="right"><pre>-981</pre></td>
      <td align="right"><pre>-4.6%</pre></td>
      <td align="right"><pre>-1,008</pre></td>
      <td align="right"><pre>-4.9%</pre></td>
      <td align="right"><pre>-1,123</pre></td>
      <td align="right"><pre>-2.9%</pre></td>
      <td align="right"><pre>-483</pre></td>
    </tr>
    <tr>
      <th scope="row">Debt Held by Public</th>
      <td align="right"><pre>76.0%</pre></td>
      <td align="right"><pre>14,665</pre></td>
      <td align="right"><pre>77.4%</pre></td>
      <td align="right"><pre>15,688</pre></td>
      <td align="right"><pre>79.2%</pre></td>
      <td align="right"><pre>16,762</pre></td>
      <td align="right"><pre>80.9%</pre></td>
      <td align="right"><pre>17,872</pre></td>
      <td align="right"><pre>83.1%</pre></td>
      <td align="right"><pre>18,998</pre></td>
      <td align="right"><pre>41.7%</pre></td>
      <td align="right"><pre>8,065</pre></td>
    </tr>
  </table>
</div>
<p>* in billions of dollars. Data for illustration purposes only.</p>

<div class="usa-table-container--scrollable">
  <table class="usa-table usa-table--compact usa-table--striped">
    <caption>Striped compact scrollable table</caption>
    <col>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <thead>
      <tr>
        <th rowspan="2">Federal Budget<br> Baseline Projections</th>
        <th colspan="2" scope="colgroup" align="center">2017</th>
        <th colspan="2" scope="colgroup" align="center">2018</th>
        <th colspan="2" scope="colgroup" align="center">2019</th>
        <th colspan="2" scope="colgroup" align="center">2020</th>
        <th colspan="2" scope="colgroup" align="center">2021</th>
        <th colspan="2" scope="colgroup" align="center">Hist. Avg.</th>
      </tr>
      <tr>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
        <th scope="col" align="right">%GDP</th>
        <th scope="col" align="right">USD*</th>
      </tr>
    </thead>
    <tr>
      <th scope="row">Revenue</th>
      <td align="right"><pre>17.2%</pre></td>
      <td align="right"><pre>3,316</pre></td>
      <td align="right"><pre>16.4%</pre></td>
      <td align="right"><pre>3,338</pre></td>
      <td align="right"><pre>16.3%</pre></td>
      <td align="right"><pre>3,490</pre></td>
      <td align="right"><pre>16.7%</pre></td>
      <td align="right"><pre>3,678</pre></td>
      <td align="right"><pre>16.7%</pre></td>
      <td align="right"><pre>3,827</pre></td>
      <td align="right"><pre>17.4%</pre></td>
      <td align="right"><pre>3,381</pre></td>
    </tr>
    <tr>
      <th scope="row">Outlays</th>
      <td align="right"><pre>20.6%</pre></td>
      <td align="right"><pre>3,982</pre></td>
      <td align="right"><pre>20.2%</pre></td>
      <td align="right"><pre>4,142</pre></td>
      <td align="right"><pre>21.0%</pre></td>
      <td align="right"><pre>4,470</pre></td>
      <td align="right"><pre>21.3%</pre></td>
      <td align="right"><pre>4,685</pre></td>
      <td align="right"><pre>21.6%</pre></td>
      <td align="right"><pre>4,949</pre></td>
      <td align="right"><pre>20.3%</pre></td>
      <td align="right"><pre>4,198</pre></td>
    </tr>
    <tr>
      <th scope="row">Budget Deficit</th>
      <td align="right"><pre>-3.5%</pre></td>
      <td align="right"><pre>-665</pre></td>
      <td align="right"><pre>-3.8%</pre></td>
      <td align="right"><pre>-804</pre></td>
      <td align="right"><pre>-4.6%</pre></td>
      <td align="right"><pre>-981</pre></td>
      <td align="right"><pre>-4.6%</pre></td>
      <td align="right"><pre>-1,008</pre></td>
      <td align="right"><pre>-4.9%</pre></td>
      <td align="right"><pre>-1,123</pre></td>
      <td align="right"><pre>-2.9%</pre></td>
      <td align="right"><pre>-483</pre></td>
    </tr>
    <tr>
      <th scope="row">Debt Held by Public</th>
      <td align="right"><pre>76.0%</pre></td>
      <td align="right"><pre>14,665</pre></td>
      <td align="right"><pre>77.4%</pre></td>
      <td align="right"><pre>15,688</pre></td>
      <td align="right"><pre>79.2%</pre></td>
      <td align="right"><pre>16,762</pre></td>
      <td align="right"><pre>80.9%</pre></td>
      <td align="right"><pre>17,872</pre></td>
      <td align="right"><pre>83.1%</pre></td>
      <td align="right"><pre>18,998</pre></td>
      <td align="right"><pre>41.7%</pre></td>
      <td align="right"><pre>8,065</pre></td>
    </tr>
  </table>
</div>
<p>* in billions of dollars. Data for illustration purposes only.</p>
