<h6>Segmented</h6>
<ul class="usa-button-group usa-button-group--segmented">
  <li class="usa-button-group__item">
    <button class="usa-button">Map</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--outline">Satellite</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--outline">Hybrid</button>
  </li>
</ul>
