<h6>Segmented buttons</h6>
<ul class="usa-button-group usa-button-group--segmented">
  <li class="usa-button-group__item">
    <button class="usa-button">Button</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button">Button</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button">Button</button>
  </li>
</ul>

<h6>Segmented outline buttons</h6>
<ul class="usa-button-group usa-button-group--segmented">
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--outline">Button</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--outline">Button</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--outline">Button</button>
  </li>
</ul>

<h6>Segmented secondary buttons</h6>
<ul class="usa-button-group usa-button-group--segmented">
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--secondary">Button</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--secondary">Button</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--secondary">Button</button>
  </li>
</ul>

<h6>Segmented base buttons</h6>
<ul class="usa-button-group usa-button-group--segmented">
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--base">Button</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--base">Button</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--base">Button</button>
  </li>
</ul>

<h6>Segmented accent buttons</h6>
<ul class="usa-button-group usa-button-group--segmented">
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--accent-cool">Button</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--accent-cool">Button</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--accent-cool">Button</button>
  </li>
</ul>

<h6>Segmented outline inverse buttons</h6>
<div class="bg-base-darkest padding-1" style="max-width: fit-content">
  <ul class="usa-button-group usa-button-group--segmented">
    <li class="usa-button-group__item">
      <button class="usa-button usa-button--outline usa-button--inverse">Button</button>
    </li>
    <li class="usa-button-group__item">
      <button class="usa-button usa-button--outline usa-button--inverse">Button</button>
    </li>
    <li class="usa-button-group__item">
      <button class="usa-button usa-button--outline usa-button--inverse">Button</button>
    </li>
  </ul>
</div>
