<h6>Default</h6>
<ul class="usa-button-group">
  <li class="usa-button-group__item">
    <a href="#" class="usa-button usa-button--outline">Back</a>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button">Continue</button>
  </li>
</ul>
