<h6>Default</h6>
<ul class="usa-button-group">
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--outline">Button</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button">Button</button>
  </li>
</ul>
