<ul class="usa-button-group">
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--outline">Cancel</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button">Continue</button>
  </li>
</ul>


<ul class="usa-button-group usa-button-group--segmented margin-top-3">
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--outline">Bold</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--outline">Italic</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--outline">Underline</button>
  </li>
</ul>

<ul class="usa-button-group usa-button-group--segmented margin-top-3">
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--outline">Bold</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--outline">Italic</button>
  </li>
</ul>

<ul class="usa-button-group usa-button-group--segmented margin-top-3">
  <li class="usa-button-group__item">
    <button class="usa-button">Bold</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button">Italic</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button">Underline</button>
  </li>
</ul>

<ul class="usa-button-group usa-button-group--segmented margin-top-3">
  <li class="usa-button-group__item">
    <button class="usa-button">Bold</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button">Italic</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--outline">Underline</button>
  </li>
</ul>


<ul class="usa-button-group usa-button-group--segmented margin-top-3">
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--secondary">Bold</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--secondary">Italic</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--secondary">Underline</button>
  </li>
</ul>

<ul class="usa-button-group usa-button-group--segmented margin-top-3">
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--accent-cool" disabled>Bold</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--accent-cool" disabled>Italic</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--accent-cool" disabled>Underline</button>
  </li>
</ul>

<ul class="usa-button-group usa-button-group--segmented margin-top-3">
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--base">Bold</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--base">Italic</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--base">Underline</button>
  </li>
</ul>
