html {
  font-family: $font-sans;
  font-size: $em-base;

}

body {
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: {
    top: 1em;
    bottom: 1em;
  }
}

a {
  color: $color-base-link;
  &:hover, &:active, &:visited {
    color: $color-base-link;
  }
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  margin: {
    top: 2em;
    bottom: .5em;
  }
  line-height: $heading-line-height;
}

h1, .h1 {
  font-size: $h1-font-size;
  font-weight: 700;
}

h2, .h2 {
  font-size: $h2-font-size;
  font-weight: 700;
}

h3, .h3 {
  font-size: $h3-font-size;
  font-weight: 700;
}

h4, .h4 {
  font-size: $h4-font-size;
  font-weight: 700;
}

h5, .h5 {
  font-size: $h5-font-size;
  font-weight: 700;
}

h6, .h6 {
  font-size: $h6-font-size;
  font-weight: 700;
}