{%- set taxpayer_disclaimer %}Produced and published at taxpayer expense.{% endset -%}
<div class="usa-identifier">
  <section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier">
    <div class="usa-identifier__container">
      {%- if parent.logo -%}
      <div class="usa-identifier__logos">
        <a href="{{ parent.url }}" class="usa-identifier__logo">
          <img
            class="usa-identifier__logo-img"
            {% if parent.logo == "default" %}
            src="{{ uswds.path }}/img/circle-gray-20.svg"
            {% else %}
            src="{{ parent.logo }}"
            {% endif %}
            alt="{{ parent.name }} logo"
            role="img">
        </a>
        {%- if agency.logo -%}
        <a href="javascript:void(0);" class="usa-identifier__logo">
          <img
            class="usa-identifier__logo-img"
            {% if agency.logo == "default" %}
            src="{{ uswds.path }}/img/circle-gray-20.svg"
            {% else %}
            src="{{ agency.logo }}"
            {% endif %}
            alt="{{ agency.name }} logo"
            role="img">
        </a>
        {%- endif -%}
      </div>
      {%- endif -%}
      <div class="usa-identifier__identity" aria-label="Agency description">
        <p class="usa-identifier__identity-domain">{{ domain }}</p>
        <p class="usa-identifier__identity-disclaimer">
          An official website of the <a href="{{ parent.url }}">{{ parent.name }}</a>{%- if agency %} and {% if agency.name %}the {% endif %}<a href="{{ agency.url }}">{%- if agency.name -%}{{ agency.name }}{%- else -%}{{ agency.shortname }}{%- endif -%}</a>{%- endif -%}{%- if taxpayer %}. {{ taxpayer_disclaimer }}{%- endif %}
        </p>
      </div>
    </div>
  </section>
  <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links">
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        <li class="usa-identifier__required-links-item">
          <a href="{{ links.about }}" class="usa-identifier__required-link">
            About {{ parent.shortname }}
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="{{ links.accessibility }}"
            class="usa-identifier__required-link">
            Accessibility support
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="{{ links.foia }}"
            class="usa-identifier__required-link usa-link">
            FOIA requests
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="{{ links.no_fear }}"
            class="usa-identifier__required-link usa-link">
            No FEAR Act data
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="{{ links.oig }}" class="usa-identifier__required-link usa-link">
            Office of the Inspector General
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="{{ links.performance }}" class="usa-identifier__required-link usa-link">
            Performance reports
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="{{ links.privacy }}" class="usa-identifier__required-link usa-link">
            Privacy policy
          </a>
        </li>
      </ul>
    </div>
  </nav>
  {% if usagov -%}
  <section class="usa-identifier__section usa-identifier__section--usagov" aria-label="Government information and services">
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">Looking for U.S. government information and services?</div>
      <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
    </div>
  </section>
  {% endif -%}
</div>
