<div class="padding-2">
  <h4>Basic Identifier</h4>
  {%- render '@identifier--basic' -%}
</div>
<div class="padding-2">
  <h4>Multiple logos identifier</h4>
    {%- render '@identifier--multiple-logos' -%}
</div>
<div class="padding-2">
  <h4>No logos identifier</h4>
  {%- render '@identifier--no-logos' -%}
</div>
