<div class="usa-accordion{%
  if accordion.variant %} usa-accordion--{{ accordion.variant }}{% endif %}"{%
  if accordion.multiselectable == true %} aria-multiselectable="true"{% endif %}>
  {% for item in accordion.items %}
      <!-- Use the accurate heading level to maintain the document outline -->
      <h2 class="usa-accordion__heading">
        <button class="usa-accordion__button"
          aria-expanded="{{ item.expanded | default('false') }}"
          aria-controls="{{ accordion.id_prefix }}{{ item.id }}">
          {{ item.title }}
        </button>
      </h2>
      <div id="{{ accordion.id_prefix }}{{ item.id }}" class="usa-accordion__content usa-prose">
        {{ item.content | safe }}
      </div>
  {% endfor %}
</div>
