<div class="usa-accordion{%
  if accordion.variant %} usa-accordion--{{ accordion.variant }}{% endif %}"{%
  if accordion.multiselectable == true %} aria-multiselectable="true"{% endif %}>
  {% if accordion.controls %}
    <ul class="usa-accordion__controls usa-button-group usa-button-group--segmented" aria-label="Control all accordion items"
      aria-expanded="false">
      <li class="usa-button-group__item">
        <button class="usa-accordion__controls--expand-all usa-button usa-button--outline">
          Expand all
        </button>
      </li>
      <li class="usa-button-group__item">
        <button class="usa-accordion__controls--collapse-all usa-button usa-button--outline">
          Collapse all
        </button>
      </li>
    </ul>
  {% endif %}
  {% for item in accordion.items %}
      <!-- Use the accurate heading level to maintain the document outline -->
      <h2 class="usa-accordion__heading">
        <button class="usa-accordion__button"
          aria-expanded="{{ item.expanded | default('false') }}"
          aria-controls="{{ accordion.id_prefix }}{{ item.id }}">
          {{ item.title }}
        </button>
      </h2>
      <div id="{{ accordion.id_prefix }}{{ item.id }}" class="usa-accordion__content usa-prose">
        {{ item.content | safe }}
      </div>
  {% endfor %}
</div>
