<ul class="usa-accordion{%
  if accordion.variant %}-{{ accordion.variant }}{% endif %}"{%
  if accordion.multiselectable == true %} aria-multiselectable="true"{% endif %}>
  {% for item in accordion.items %}
  <li>
    <button class="usa-accordion-button"
      aria-expanded="{{ item.expanded | default('false') }}"
      aria-controls="{{ accordion.id_prefix }}{{ item.id }}">
      {{ item.title }}
    </button>
    <section id="{{ accordion.id_prefix }}{{ item.id }}" class="usa-accordion-content">
      {{ item.content }}
    </section>
  </li>
  {% endfor %}
</ul>
