.demo-animate{
  background:#ddd;
  border-radius:8px;
  cursor:pointer;
  margin-bottom:1em;
  padding:1em;
  text-align:center;
}

.sg-colors{
  display:flex;
  flex-wrap:wrap;
  list-style:none !important;
  margin:0 !important;
  padding:0 !important;
}

.sg-colors li{
  border:1px solid #ddd;
  border-radius:8px;
  flex:auto;
  margin:0 0.5em 0.5em 0;
  max-width:14em;
  min-width:5em;
  padding:0.3em;
}

.sg-swatch{
  border-radius:5px;
  display:block;
  height:4em;
  margin-bottom:0.3em;
}

.sg-label{
  font-size:90%;
  line-height:1;
}