/*
----------------------------------------
Align items
----------------------------------------
usage:
  .flex-[key]
----------------------------------------
output:
  align-items: [value];
----------------------------------------
example:
  .flex-start {
    align-items: flex-start; }
----------------------------------------
*/

$align-items: (
  align-items: (
    base: 'flex',
    modifiers: null,
    values: map-collect(
      $align-items-values-groups,
      $align-items-values
    ),
    settings: $align-items-settings,
    property: 'align-items',
  )
);
