/*
----------------------------------------
Background Color
----------------------------------------
usage:
  .bac-[key]
----------------------------------------
output:
  background-color: [value];
----------------------------------------
example:
  .bac-red-50v {
    background-color: #be4900; }
----------------------------------------
*/

$background-color: (
  background-color: (
    base: 'bac',
    modifiers: null,
    property: 'background-color',
    values: map-collect(
      $background-color-values-groups,
      $background-color-values-singles
    ),
    settings: $background-color-settings,
  )
)
