/*
----------------------------------------
Border Width
----------------------------------------
usage:
  .b[modifier]*[-value]
----------------------------------------
output:
  border-[modifier]: [value];
----------------------------------------
example:
  .bt1px {
    border-top: 1px; }

  .b0 {
    border: none; }
----------------------------------------
*/

$border-width: (
  border: (
    base: 'b',
    modifiers: (
      t: '-top-width',
      r: '-right-width',
      b: '-bottom-width',
      l: '-left-width',
      y: ('-top-width', '-bottom-width'),
      x: ('-left-width', '-right-width'),
      noModifier: '-width',
    ),
    values:
      map-collect(
        map-get($values-units, pixels),
        map-get($values-units, grid-short),
        map-get($values-global, zero-zero)
    ),
    property: 'border',
    output: true,
    responsive: true,
    pseudoclasses: true,
  )
)
