/*
----------------------------------------
Border Radius
----------------------------------------
usage:
  .radius-*[value]
----------------------------------------
output:
  border-radius: [value];
----------------------------------------
example:
  .radius-0 {
    border-radius: 0; }

  .radius-pill {
    border-radius: 10em; }
----------------------------------------
*/

$border-radius: (
  border-radius: (
    base: ('radius', isReadable),
    modifiers: (
      t: ('border-top-left-radius', 'border-top-right-radius'),
      r: ('border-top-right-radius', 'border-bottom-right-radius'),
      b: ('border-bottom-left-radius', 'border-bottom-right-radius'),
      l: ('border-top-left-radius', 'border-bottom-left-radius'),
      noModifier: 'border-radius',
    ),
    values: (
      0: '0',
      pill: ('9999em', isReadable),
      circle: ('50%', isReadable),
      rounded: ($border-radius, isReadable),
      1px: 1px,
      2px: 2px,
      '05': $u-spacing-05,
      '1': $u-spacing-1,
      '105': $u-spacing-105,
      '2': $u-spacing-2,
    ),
    property: '',
    output: true,
    responsive: false,
    pseudoclasses: false,
  )
)
