/*
----------------------------------------
Circle
----------------------------------------
usage:
  .circle-[value]
----------------------------------------
output:
  height: [value];
  width: [value];
  border-radius: 50%;
----------------------------------------
example:
  .circle-6 {
    height: 3rem;
    width: 3rem; }
----------------------------------------
*/

$circle: (
  circle: (
    base: ('circle', isReadable),
    modifiers: null,
    values: map-collect(
      map-get($values-units, grid),
      map-get($values-units, pixels)
    ),
    property: (height, width),
    extend: (
      property: 'border-radius',
      value: '50%',
    ),
    output: true,
    responsive: true,
    pseudoclasses: false,
  )
)
