/*
----------------------------------------
Clearfix
----------------------------------------
usage:
  .cf
----------------------------------------
output:
  .cf:before,
  .cf:after {
    content: " ";
    display: table;
  }
  .cf:after {
    clear: both;
  }

----------------------------------------
example:
  .cf:before,
  .cf:after {
    content: " ";
    display: table;
  }
  .cf:after {
    clear: both;
  }
----------------------------------------
*/

$clearfix: (
  clearfix: (
    base: null,
    modifiers: null,
    values: null,
    property: null,
    output: false,
    responsive: false,
    pseudoclasses: false,
  ),
);

// Extra rules

.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
