/*
----------------------------------------
Color
----------------------------------------
usage:
  .[value]
----------------------------------------
output:
  color: [value];
----------------------------------------
example:
  .mediumgray-trans {
    color: rgba(0, 0, 0, .4); }
----------------------------------------
*/

$color: (
  color: (
    base: null,
    modifiers: null,
    values: map-collect(
      map-get($values-units, colors)
    ),
    property: 'color',
    output: true,
    responsive: true,
    pseudoclasses: true,
    placeholder: true,
  )
)
