/*
----------------------------------------
Color
----------------------------------------
usage:
  .col-[key]
----------------------------------------
output:
  color: [value];
----------------------------------------
example:
  .col-black-100 {
    color: #000; }
----------------------------------------
*/

$color: (
  color: (
    base: 'col',
    modifiers: null,
    values: map-collect(
      $color-values-groups,
      $color-values
    ),
    settings: $color-settings,
    property: 'color',
  )
)
