/*
----------------------------------------
FLEX
----------------------------------------
usage:
  .flex-[key]
----------------------------------------
output:
  flex: [value];
----------------------------------------
example:
  .flex-f1 {
    flex: 0 0 1; }

  .flex-fill {
    flex: 1 0 0; }

  .flex-fit {
    flex: none; }
----------------------------------------
*/

$flex: (
  flex: (
    base: 'flex',
    modifiers: null,
    values: map-collect(
      $flex-group-values,
      $flex-values
    ),
    settings: $flex-settings,
    property: 'flex',
  )
);
