/*
----------------------------------------
Flex size
----------------------------------------
usage:
  .flex-[key]
----------------------------------------
output:
  flex: [value];
----------------------------------------
example:
  .flex-f1 {
    flex: 0 0 1; }

  .flex-fill {
    flex: 1 0 0; }

  .flex-fit {
    flex: none; }
----------------------------------------
*/

$flex-size: (
  flex-size: (
    base: 'flex',
    modifiers: null,
    values: map-collect(
      $flex-size-values-groups,
      $flex-size-values
    ),
    settings: $flex-size-settings,
    property: 'flex',
  )
);
