/*
----------------------------------------
Flex Align
----------------------------------------
usage:
  .flex-[value]
----------------------------------------
output:
  align-items: [value];
----------------------------------------
example:
  .flex-start {
    align-items: flex-start; }
----------------------------------------
*/

$flex-align: (
  flex-align: (
    base: 'flex',
    modifiers: null,
    values: map-collect(
      $flex-align-values-groups,
      $flex-align-values-singles
    ),
    settings: $flex-align-settings,
    property: 'align-items',
  )
);
