/*
----------------------------------------
Float
----------------------------------------
usage:
  .float-[value]
----------------------------------------
output:
  float: [value];
----------------------------------------
example:
  .float-left {
    float: left; }
----------------------------------------
*/

$float: (
  float: (
    base: ('float', isReadable),
    modifiers: null,
    values: (
      left: ('left', isReadable),
      none: ('none', isReadable),
      right: ('right', isReadable),
    ),
    property: 'float',
    output: true,
    responsive: true,
    pseudoclasses: false,
  )
)
