/*
----------------------------------------
Height
----------------------------------------
usage:
  .hei-[value]
----------------------------------------
output:
  height: [value];
----------------------------------------
example:
  .hei-33ct {
    height: 33.33333333%; }
----------------------------------------
*/

$height: (
  height: (
    base: 'height',
    modifiers: null,
    values: map-collect(
      $height-group-values,
      $height-values
    ),
    settings: $height-settings,
    property: 'height',
  )
)
