/*
----------------------------------------
LETter-spacing
----------------------------------------
usage:
  .let-[key]
----------------------------------------
output:
  letter-spacing: [value];
----------------------------------------
example:
  .let-2 {
    letter-spacing: .1em; }
----------------------------------------
*/

$letter-spacing: (
  letter-spacing: (
    base: 'let',
    modifiers: null,
    values: map-collect(
      $letter-spacing-group-values,
      $letter-spacing-values
    ),
    settings: $letter-spacing-settings,
    property: 'letter-spacing',
  )
)
