/*
----------------------------------------
Letter-spacing
----------------------------------------
usage:
  .letter-[key]
----------------------------------------
output:
  letter-spacing: [value];
----------------------------------------
example:
  .letter-2 {
    letter-spacing: .1em; }
----------------------------------------
*/

$letter-spacing: (
  letter-spacing: (
    base: 'letter',
    modifiers: null,
    values: map-collect(
      $letter-spacing-group-values,
      $letter-spacing-values
    ),
    settings: $letter-spacing-settings,
    property: 'letter-spacing',
  )
)
