/*
----------------------------------------
List Reset
----------------------------------------
usage:
  .list-reset
----------------------------------------
output:
  list-style: none;
  padding-left: 0;
----------------------------------------
example:
  .list-reset {
    list-style: none;
    padding-left: 0; }
----------------------------------------
*/

$list-reset: (
  list-reset: (
    base: ('list', isReadable),
    modifiers: null,
    values: (
      reset: (
        slug: 'reset',
        isReadable: true,
        content: 'none',
        extend: (
          property: 'padding-left',
          value: 0,
        ),
      ),
    ),
    property: 'list-style',
    output: true,
    responsive: false,
    pseudoclasses: false,
  )
);
