/*
----------------------------------------
Float
----------------------------------------
usage:
  .op[value]
----------------------------------------
output:
  opacity: [value];
----------------------------------------
example:
  .op0 {
    opacity: 0; }
----------------------------------------
*/

$opacity: (
  opacity: (
    base: ('op'),
    modifiers: null,
    values: (
      '0': '0',
      '10ct': '0.1',
      '20ct': '0.2',
      '30ct': '0.3',
      '40ct': '0.4',
      '50ct': '0.5',
      '60ct': '0.6',
      '70ct': '0.7',
      '80ct': '0.8',
      '90ct': '0.9',
      '100ct': '1',
    ),
    property: 'opacity',
    output: true,
    responsive: true,
    pseudoclasses: true,
  )
)
