/*
----------------------------------------
Opacity
----------------------------------------
usage:
  .opacity-[key]
----------------------------------------
output:
  opacity: [value];
----------------------------------------
example:
  .opacity-0 {
    opacity: 0; }
----------------------------------------
*/

$opacity: (
  opacity: (
    base: ('op'),
    modifiers: null,
    values: map-collect(
      $opacity-group-values,
      $opacity-values
    ),
    settings: $opacity-settings,
    property: 'opacity',
  )
)
