/*
----------------------------------------
Outline Color
----------------------------------------
usage:
  .outline-[key]
----------------------------------------
output:
  outline-color: [value];
----------------------------------------
example:
  .outline-yellow-50 {
    outline-color: #91721f; }
----------------------------------------
*/

$outline-2-color: (
  outline-2-color: (
    base: 'outline',
    modifiers: null,
    values: map-collect(
      $outline-2-color-group-values,
      $outline-2-color-values
    ),
    settings: $outline-2-color-settings,
    valuePrepend: null,
    valueAppend: null,
    property: 'outline-color',
  )
)
