/*
----------------------------------------
Padding
----------------------------------------
usage:
  .padding-[modifier]*[-]*[value]
----------------------------------------
output:
  padding: [value]
----------------------------------------
example:
  .padding-0 {
    padding: none; }

  .padding-b-1px {
    padding-bottom: 1px; }
----------------------------------------
*/

$padding: (
  padding: (
    base: 'padding',
    modifiers: (
      t: '-top',
      r: '-right',
      b: '-bottom',
      l: '-left',
      y: ('-top', '-bottom'),
      x: ('-left', '-right'),
      noModifier: '',
    ),
    values: map-collect(
      $padding-group-values,
      $padding-values
    ),
    settings: $padding-settings,
    property: 'padding',
  )
)
