/*
----------------------------------------
Text Decoration
----------------------------------------
usage:
  .text-[key]
----------------------------------------
output:
  text-decoration: [value]
----------------------------------------
example:
  .text-underline {
    text-decoration: underline; }
----------------------------------------
*/

$text-decoration: (
  text-decoration: (
    base: 'text',
    modifiers: null,
    values: map-collect(
      $text-decoration-group-values,
      $text-decoration-values
    ),
    settings: $text-decoration-settings,
    property: 'text-decoration',
  )
)
