/*
----------------------------------------
Vertical Align
----------------------------------------
usage:
  .ver-[value]
----------------------------------------
output:
  vertical-align: [value]
----------------------------------------
example:
  .ver-top {
    vertical-align: top; }
----------------------------------------
*/

$vertical-align: (
  vertical-align: (
    base: 'ver',
    modifiers: null,
    values: map-collect(
      $vertical-align-group-values,
      $vertical-align-values
    ),
    settings: $vertical-align-settings,
    property: 'vertical-align',
  )
)
