/*
----------------------------------------
Vertical Align
----------------------------------------
usage:
  .va-[value]
----------------------------------------
output:
  vertical-align: [value]
----------------------------------------
example:
  .va-top {
    vertical-align: top; }
----------------------------------------
*/

$vertical-align: (
  vertical-align: (
    base: 'va',
    modifiers: null,
    values: (
      baseline: 'baseline',
      bottom: 'bottom',
      middle: 'middle',
      sub: 'sub',
      super: 'super',
      text-bottom: 'text-bottom',
      text-top: 'text-top',
      top: 'top',
    ),
    property: 'vertical-align',
    output: true,
    responsive: false,
    pseudoclasses: false,
  )
)
