/*
----------------------------------------
Whitespace
----------------------------------------
usage:
  ws-[value]
----------------------------------------
output:
  whitespace: [value];
----------------------------------------
example:
  .ws-prewrap {
    whitespace: pre-wrap; }
----------------------------------------
*/

$whitespace: (
  whitespace: (
    base: ws,
    modifiers: null,
    values: (
      normal: 'normal',
      nowrap: 'nowrap',
      pre: 'pre',
      preline: 'pre-line',
      prewrap: 'pre-wrap',
    ),
    property: 'white-space',
    output: true,
    responsive: true,
    pseudoclasses: false,
  )
)
