{% set lang = lang ? lang : 'en' %}

<body>
  {% include "@components/usa-skipnav/usa-skipnav.twig" %}
  {% include "@components/usa-banner/usa-banner.twig" with banner %}
  {% include "@components/usa-header/usa-header.twig" %}

  {% block body %}
    <main id="main-content"></main>
  {% endblock %}

  {% include "@components/usa-footer/usa-footer.twig" %}

  {% include "@components/usa-identifier/usa-identifier.twig" %}
</body>
