{% set banner_defaults = {
  banner: {
    id: "gov-banner-default",
    text: "An official website of the United States government",
    action: "Here’s how you know"
  },
  domain: {
    heading: "Official websites use .gov",
    text: "A <strong>.gov</strong> website belongs to an official government organization in the United States."
  },
  https: {
    heading: "Secure .gov websites use HTTPS",
    pretext: "A <strong>lock</strong>",
    posttext: "or <strong>https://</strong> means you’ve safely connected to the .gov website. Share sensitive information only on official, secure websites."
  }
} %}

{% include "./components/usa-skipnav/_usa-skipnav-link.twig" %}

{% include "./components/usa-banner/usa-banner.twig" with banner_defaults %}

{% include "./components/usa-header/usa-header.twig" %}

<main id="main-content">
  {% block content %}{% endblock %}
</main>

{% include "./components/usa-footer/usa-footer--slim/usa-footer--slim.twig" %}
{% include "./components/usa-identifier/usa-identifier.twig" %}
