<main id="main-content">
  {% render '@hero' %}

  {% if tagline %}
  <section class="grid-container usa-section">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4">
        <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">{{ tagline.title | safe }}</h2>
      </div>
      <div class="tablet:grid-col-8 usa-prose">
        {{ tagline.content | safe }}
      </div>
    </div>
  </section>
  {% endif %}

  {% render '@graphic-list' %}

  <section id="test-section-id" class="usa-section">
    <div class="grid-container">
      <h2 class="font-heading-xl margin-y-0">Section heading</h2>
      <p class="usa-intro">Everything up to this point should help people understand your agency or project: who you are, your goal or mission, and how you approach it. Use this section to encourage them to act. Describe why they should get in touch here, and use an active verb on the button below. “Get in touch,” “Learn more,” and so on.</p>
      <a class="usa-button usa-button--big" href="#">Call to action</a>
    </div>
  </section>

</main>
