<main id="main-content">
  <div class="bg-base-lightest">
    <section class="grid-container usa-section">
      <div class="grid-row margin-x-neg-205 margin-bottom-7  flex-justify-center">
        <div class="grid-col-12 mobile-lg:grid-col-10 tablet:grid-col-8 desktop:grid-col-6 padding-x-205 margin-bottom-7">
          <h1 class="desktop:display-none font-sans-lg margin-bottom-4 tablet:margin-top-neg-3">A tagline that explains the benefit of creating an account.</h1>
          <div class="bg-white padding-y-3 padding-x-5 border border-base-lighter">
            <h1 class="margin-bottom-1">Sign in to your account</h1>
            <div class="usa-prose">
              <p class="margin-top-1">You can access your account by signing in with one of the options below.</p>
            </div>
            <p><a href="javascript:void()" class="usa-button usa-button--outline width-full">Sign in with Login.gov</a></p>
            <p><a href="javascript:void()" class="usa-button usa-button--outline width-full">Sign in with Legacy system 1</a></p>
            <p><a href="javascript:void()" class="usa-button usa-button--outline width-full">Sign in with Legacy system 2</a></p>
            <div class="border-top border-base-lighter margin-top-6 padding-top-1">
              <p><strong>Don’t have an account?</strong></p>
              <p>If you don’t have an account already, sign up here:</p>
              <p><a href="javascript:void()" class="usa-button width-full">Create Login.gov account</a></p>
            </div>
          </div>
        </div>
        <div class="grid-col-12 mobile-lg:grid-col-10 tablet:grid-col-8 desktop:grid-col-6 padding-x-205">
          {% render '@layout--value-props' %}
          {% render '@layout--federal-employee-sign-in' %}
      </div>
    </section>
  </div>
</main>