<nav class="usa-breadcrumb" aria-label="Breadcrumbs">
  <ul class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
      <a href="#" class="usa-breadcrumb__link">Home</a>
    </li>
    <li class="usa-breadcrumb__list-item">
      <a href="#" class="usa-breadcrumb__link">Federal Contracting</a>
    </li>
    <li class="usa-breadcrumb__list-item">
      <a href="#" class="usa-breadcrumb__link">Federal contracting assistance programs</a>
    </li>
    <li class="usa-breadcrumb__list-item usa-current" aria-current="page">Women-owned small business federal contracting program</li>
  </ul>
</nav>
