<section id="breadcrumb-unordered">
  <h6>Unordered list</h6>
  {% render '@breadcrumb--unordered' -%}
</section>

<section id="breadcrumb-ordered">
  <h6>Ordered list</h6>
  {% render '@breadcrumb--ordered' -%}
</section>

<!-- <div class="usa-prose margin-top-4">
  Sources:
  <ul class="usa-list">
    <li><a href="https://www.w3.org/TR/wai-aria-practices-1.1/#breadcrumb" class="usa-link">https://www.w3.org/TR/wai-aria-practices-1.1/#breadcrumb</a></li>
    <li><a href="https://design-system.service.gov.uk/components/breadcrumbs/" class="usa-link">https://design-system.service.gov.uk/components/breadcrumbs/</a></li>
    <li><a href="https://schema.org/BreadcrumbList" class="usa-link">https://schema.org/BreadcrumbList</a></li>
    <li><a href="https://a11y-style-guide.com/style-guide/section-navigation.html" class="usa-link">https://a11y-style-guide.com/style-guide/section-navigation.html</a></li>
  </ul>
</div> -->
