<nav class="usa-breadcrumb" aria-label="Breadcrumbs">
  <ul class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item"><a href="#" class="usa-breadcrumb__link">USWDS</a></li>
    <li class="usa-breadcrumb__list-item"><a href="#" class="usa-breadcrumb__link">Components Lorem ipsum, dolor sit amet consectetur adipisicing elit</a></li>
    <li class="usa-breadcrumb__list-item"><a href="#" class="usa-breadcrumb__link">Test</a></li>
    <li class="usa-breadcrumb__list-item usa-current" aria-current="page">Kitchen Sink</li>
  </ul>
</nav>
