<section id="breadcrumb-default">
  <h6 class="margin-bottom-0">Breadcrumb in default container</h6>
  {% render '@breadcrumb--ordered' -%}
</section>

<section id="breadcrumb-plain">
  <h6 class="margin-bottom-0">Breadcrumb without RDFa tags</h6>
  {% render '@breadcrumb--plain' -%}
</section>
