$preset-font-weight: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900,
);

$preset-mono-1: (
  mono-1: (
    slug: 'mono-1',
    isReadable: true,
    content: $u-mono-1,
  ),
);

$preset-mono-2: (
  mono-2: (
    slug: 'mono-2',
    isReadable: true,
    content: $u-mono-2,
  ),
);

$preset-mono-3: (
  mono-3: (
    slug: 'mono-3',
    isReadable: true,
    content: $u-mono-3,
  ),
);

$preset-mono-4: (
  mono-4: (
    slug: 'mono-4',
    isReadable: true,
    content: $u-mono-4,
  ),
);

$preset-mono-5: (
  mono-5: (
    slug: 'mono-5',
    isReadable: true,
    content: $u-mono-5,
  ),
);

$preset-mono-6: (
  mono-6: (
    slug: 'mono-6',
    isReadable: true,
    content: $u-mono-6,
  ),
);

$preset-mono-7: (
  mono-7: (
    slug: 'mono-7',
    isReadable: true,
    content: $u-mono-7,
  ),
);

$preset-mono-8: (
  mono-8: (
    slug: 'mono-8',
    isReadable: true,
    content: $u-mono-8,
  ),
);

$preset-mono-9: (
  mono-9: (
    slug: 'mono-9',
    isReadable: true,
    content: $u-mono-9,
  ),
);

$preset-mono-10: (
  mono-10: (
    slug: 'mono-10',
    isReadable: true,
    content: $u-mono-10,
  ),
);

$preset-mono-11: (
  mono-11: (
    slug: 'mono-11',
    isReadable: true,
    content: $u-mono-11,
  ),
);

$preset-mono-12: (
  mono-12: (
    slug: 'mono-12',
    isReadable: true,
    content: $u-mono-12,
  ),
);

$preset-mono-13: (
  mono-13: (
    slug: 'mono-13',
    isReadable: true,
    content: $u-mono-13,
  ),
);

$preset-mono-14: (
  mono-14: (
    slug: 'mono-14',
    isReadable: true,
    content: $u-mono-14,
  ),
);

$preset-mono-15: (
  mono-15: (
    slug: 'mono-15',
    isReadable: true,
    content: $u-mono-15,
  ),
);

$preset-mono-16: (
  mono-16: (
    slug: 'mono-16',
    isReadable: true,
    content: $u-mono-16,
  ),
);

$preset-mono-17: (
  mono-17: (
    slug: 'mono-17',
    isReadable: true,
    content: $u-mono-17,
  ),
);

$preset-mono-18: (
  mono-18: (
    slug: 'mono-18',
    isReadable: true,
    content: $u-mono-18,
  ),
);

$preset-mono-19: (
  mono-19: (
    slug: 'mono-19',
    isReadable: true,
    content: $u-mono-19,
  ),
);

$preset-mono-20: (
  mono-20: (
    slug: 'mono-20',
    isReadable: true,
    content: $u-mono-20,
  ),
);

$preset-mono-small: map-collect(
  $preset-mono-1,
  $preset-mono-2,
  $preset-mono-3
);

$preset-mono-medium: map-collect(
  $preset-mono-4,
  $preset-mono-5,
  $preset-mono-6,
  $preset-mono-7,
  $preset-mono-8
);

$preset-mono-large: map-collect(
  $preset-mono-9,
  $preset-mono-10,
  $preset-mono-11,
  $preset-mono-12,
  $preset-mono-13,
  $preset-mono-14
);

$preset-mono-xlarge: map-collect(
  $preset-mono-15,
  $preset-mono-16,
  $preset-mono-17,
  $preset-mono-18,
  $preset-mono-19,
  $preset-mono-20
);

$preset-mono: map-collect(
  $preset-mono-small,
  $preset-mono-medium,
  $preset-mono-large,
  $preset-mono-xlarge
);

$preset-sans-1: (
  sans-1: (
    slug: 'sans-1',
    isReadable: true,
    content: $u-sans-1,
  ),
);

$preset-sans-2: (
  sans-2: (
    slug: 'sans-2',
    isReadable: true,
    content: $u-sans-2,
  ),
);

$preset-sans-3: (
  sans-3: (
    slug: 'sans-3',
    isReadable: true,
    content: $u-sans-3,
  ),
);

$preset-sans-4: (
  sans-4: (
    slug: 'sans-4',
    isReadable: true,
    content: $u-sans-4,
  ),
);

$preset-sans-5: (
  sans-5: (
    slug: 'sans-5',
    isReadable: true,
    content: $u-sans-5,
  ),
);

$preset-sans-6: (
  sans-6: (
    slug: 'sans-6',
    isReadable: true,
    content: $u-sans-6,
  ),
);

$preset-sans-7: (
  sans-7: (
    slug: 'sans-7',
    isReadable: true,
    content: $u-sans-7,
  ),
);

$preset-sans-8: (
  sans-8: (
    slug: 'sans-8',
    isReadable: true,
    content: $u-sans-8,
  ),
);

$preset-sans-9: (
  sans-9: (
    slug: 'sans-9',
    isReadable: true,
    content: $u-sans-9,
  ),
);

$preset-sans-10: (
  sans-10: (
    slug: 'sans-10',
    isReadable: true,
    content: $u-sans-10,
  ),
);

$preset-sans-11: (
  sans-11: (
    slug: 'sans-11',
    isReadable: true,
    content: $u-sans-11,
  ),
);

$preset-sans-12: (
  sans-12: (
    slug: 'sans-12',
    isReadable: true,
    content: $u-sans-12,
  ),
);

$preset-sans-13: (
  sans-13: (
    slug: 'sans-13',
    isReadable: true,
    content: $u-sans-13,
  ),
);

$preset-sans-14: (
  sans-14: (
    slug: 'sans-14',
    isReadable: true,
    content: $u-sans-14,
  ),
);

$preset-sans-15: (
  sans-15: (
    slug: 'sans-15',
    isReadable: true,
    content: $u-sans-15,
  ),
);

$preset-sans-16: (
  sans-16: (
    slug: 'sans-16',
    isReadable: true,
    content: $u-sans-16,
  ),
);

$preset-sans-17: (
  sans-17: (
    slug: 'sans-17',
    isReadable: true,
    content: $u-sans-17,
  ),
);

$preset-sans-18: (
  sans-18: (
    slug: 'sans-18',
    isReadable: true,
    content: $u-sans-18,
  ),
);

$preset-sans-19: (
  sans-19: (
    slug: 'sans-19',
    isReadable: true,
    content: $u-sans-19,
  ),
);

$preset-sans-20: (
  sans-20: (
    slug: 'sans-20',
    isReadable: true,
    content: $u-sans-20,
  ),
);

$preset-sans-small: map-collect(
  $preset-sans-1,
  $preset-sans-2,
  $preset-sans-3
);

$preset-sans-medium: map-collect(
  $preset-sans-4,
  $preset-sans-5,
  $preset-sans-6,
  $preset-sans-7,
  $preset-sans-8
);

$preset-sans-large: map-collect(
  $preset-sans-9,
  $preset-sans-10,
  $preset-sans-11,
  $preset-sans-12,
  $preset-sans-13,
  $preset-sans-14
);

$preset-sans-xlarge: map-collect(
  $preset-sans-15,
  $preset-sans-16,
  $preset-sans-17,
  $preset-sans-18,
  $preset-sans-19,
  $preset-sans-20
);

$preset-sans: map-collect(
  $preset-sans-small,
  $preset-sans-medium,
  $preset-sans-large,
  $preset-sans-xlarge
);

$preset-serif-1: (
  serif-1: (
    slug: 'serif-1',
    isReadable: true,
    content: $u-serif-1,
  ),
);

$preset-serif-2: (
  serif-2: (
    slug: 'serif-2',
    isReadable: true,
    content: $u-serif-2,
  ),
);

$preset-serif-3: (
  serif-3: (
    slug: 'serif-3',
    isReadable: true,
    content: $u-serif-3,
  ),
);

$preset-serif-4: (
  serif-4: (
    slug: 'serif-4',
    isReadable: true,
    content: $u-serif-4,
  ),
);

$preset-serif-5: (
  serif-5: (
    slug: 'serif-5',
    isReadable: true,
    content: $u-serif-5,
  ),
);

$preset-serif-6: (
  serif-6: (
    slug: 'serif-6',
    isReadable: true,
    content: $u-serif-6,
  ),
);

$preset-serif-7: (
  serif-7: (
    slug: 'serif-7',
    isReadable: true,
    content: $u-serif-7,
  ),
);

$preset-serif-8: (
  serif-8: (
    slug: 'serif-8',
    isReadable: true,
    content: $u-serif-8,
  ),
);

$preset-serif-9: (
  serif-9: (
    slug: 'serif-9',
    isReadable: true,
    content: $u-serif-9,
  ),
);

$preset-serif-10: (
  serif-10: (
    slug: 'serif-10',
    isReadable: true,
    content: $u-serif-10,
  ),
);

$preset-serif-11: (
  serif-11: (
    slug: 'serif-11',
    isReadable: true,
    content: $u-serif-11,
  ),
);

$preset-serif-12: (
  serif-12: (
    slug: 'serif-12',
    isReadable: true,
    content: $u-serif-12,
  ),
);

$preset-serif-13: (
  serif-13: (
    slug: 'serif-13',
    isReadable: true,
    content: $u-serif-13,
  ),
);

$preset-serif-14: (
  serif-14: (
    slug: 'serif-14',
    isReadable: true,
    content: $u-serif-14,
  ),
);

$preset-serif-15: (
  serif-15: (
    slug: 'serif-15',
    isReadable: true,
    content: $u-serif-15,
  ),
);

$preset-serif-16: (
  serif-16: (
    slug: 'serif-16',
    isReadable: true,
    content: $u-serif-16,
  ),
);

$preset-serif-17: (
  serif-17: (
    slug: 'serif-17',
    isReadable: true,
    content: $u-serif-17,
  ),
);

$preset-serif-18: (
  serif-18: (
    slug: 'serif-18',
    isReadable: true,
    content: $u-serif-18,
  ),
);

$preset-serif-19: (
  serif-19: (
    slug: 'serif-19',
    isReadable: true,
    content: $u-serif-19,
  ),
);

$preset-serif-20: (
  serif-20: (
    slug: 'serif-20',
    isReadable: true,
    content: $u-serif-20,
  ),
);

$preset-serif-small: map-collect(
  $preset-serif-1,
  $preset-serif-2,
  $preset-serif-3
);

$preset-serif-medium: map-collect(
  $preset-serif-4,
  $preset-serif-5,
  $preset-serif-6,
  $preset-serif-7,
  $preset-serif-8
);

$preset-serif-large: map-collect(
  $preset-serif-9,
  $preset-serif-10,
  $preset-serif-11,
  $preset-serif-12,
  $preset-serif-13,
  $preset-serif-14
);

$preset-serif-xlarge: map-collect(
  $preset-serif-15,
  $preset-serif-16,
  $preset-serif-17,
  $preset-serif-18,
  $preset-serif-10,
  $preset-serif-20
);

$preset-serif: map-collect(
  $preset-serif-small,
  $preset-serif-medium,
  $preset-serif-large,
  $preset-serif-xlarge
);
