$preset-font-weight: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900,
);

$preset-mono-f1: (
  mono-f1: (
    slug: 'mono-f1',
    isReadable: true,
    content: $u-mono-f1,
  ),
);

$preset-mono-f2: (
  mono-f2: (
    slug: 'mono-f2',
    isReadable: true,
    content: $u-mono-f2,
  ),
);

$preset-mono-f3: (
  mono-f3: (
    slug: 'mono-f3',
    isReadable: true,
    content: $u-mono-f3,
  ),
);

$preset-mono-f4: (
  mono-f4: (
    slug: 'mono-f4',
    isReadable: true,
    content: $u-mono-f4,
  ),
);

$preset-mono-f5: (
  mono-f5: (
    slug: 'mono-f5',
    isReadable: true,
    content: $u-mono-f5,
  ),
);

$preset-mono-f6: (
  mono-f6: (
    slug: 'mono-f6',
    isReadable: true,
    content: $u-mono-f6,
  ),
);

$preset-mono-f7: (
  mono-f7: (
    slug: 'mono-f7',
    isReadable: true,
    content: $u-mono-f7,
  ),
);

$preset-mono-f8: (
  mono-f8: (
    slug: 'mono-f8',
    isReadable: true,
    content: $u-mono-f8,
  ),
);

$preset-mono-f9: (
  mono-f9: (
    slug: 'mono-f9',
    isReadable: true,
    content: $u-mono-f9,
  ),
);

$preset-mono-f10: (
  mono-f10: (
    slug: 'mono-f10',
    isReadable: true,
    content: $u-mono-f10,
  ),
);

$preset-mono-f11: (
  mono-f11: (
    slug: 'mono-f11',
    isReadable: true,
    content: $u-mono-f11,
  ),
);

$preset-mono-f12: (
  mono-f12: (
    slug: 'mono-f12',
    isReadable: true,
    content: $u-mono-f12,
  ),
);

$preset-mono-f13: (
  mono-f13: (
    slug: 'mono-f13',
    isReadable: true,
    content: $u-mono-f13,
  ),
);

$preset-mono-f14: (
  mono-f14: (
    slug: 'mono-f14',
    isReadable: true,
    content: $u-mono-f14,
  ),
);

$preset-mono-f15: (
  mono-f15: (
    slug: 'mono-f15',
    isReadable: true,
    content: $u-mono-f15,
  ),
);

$preset-mono-f16: (
  mono-f16: (
    slug: 'mono-f16',
    isReadable: true,
    content: $u-mono-f16,
  ),
);

$preset-mono-f17: (
  mono-f17: (
    slug: 'mono-f17',
    isReadable: true,
    content: $u-mono-f17,
  ),
);

$preset-mono-f18: (
  mono-f18: (
    slug: 'mono-f18',
    isReadable: true,
    content: $u-mono-f18,
  ),
);

$preset-mono-f19: (
  mono-f19: (
    slug: 'mono-f19',
    isReadable: true,
    content: $u-mono-f19,
  ),
);

$preset-mono-f20: (
  mono-f20: (
    slug: 'mono-f20',
    isReadable: true,
    content: $u-mono-f20,
  ),
);

$preset-mono-small: map-collect(
  $preset-mono-f1,
  $preset-mono-f2,
  $preset-mono-f3
);

$preset-mono-medium: map-collect(
  $preset-mono-f4,
  $preset-mono-f5,
  $preset-mono-f6,
  $preset-mono-f7,
  $preset-mono-f8
);

$preset-mono-large: map-collect(
  $preset-mono-f9,
  $preset-mono-f10,
  $preset-mono-f11,
  $preset-mono-f12,
  $preset-mono-f13,
  $preset-mono-f14
);

$preset-mono-xlarge: map-collect(
  $preset-mono-f15,
  $preset-mono-f16,
  $preset-mono-f17,
  $preset-mono-f18,
  $preset-mono-f19,
  $preset-mono-f20
);

$preset-mono: map-collect(
  $preset-mono-small,
  $preset-mono-medium,
  $preset-mono-large,
  $preset-mono-xlarge
);

$preset-sans-f1: (
  sans-f1: (
    slug: 'sans-f1',
    isReadable: true,
    content: $u-sans-f1,
  ),
);

$preset-sans-f2: (
  sans-f2: (
    slug: 'sans-f2',
    isReadable: true,
    content: $u-sans-f2,
  ),
);

$preset-sans-f3: (
  sans-f3: (
    slug: 'sans-f3',
    isReadable: true,
    content: $u-sans-f3,
  ),
);

$preset-sans-f4: (
  sans-f4: (
    slug: 'sans-f4',
    isReadable: true,
    content: $u-sans-f4,
  ),
);

$preset-sans-f5: (
  sans-f5: (
    slug: 'sans-f5',
    isReadable: true,
    content: $u-sans-f5,
  ),
);

$preset-sans-f6: (
  sans-f6: (
    slug: 'sans-f6',
    isReadable: true,
    content: $u-sans-f6,
  ),
);

$preset-sans-f7: (
  sans-f7: (
    slug: 'sans-f7',
    isReadable: true,
    content: $u-sans-f7,
  ),
);

$preset-sans-f8: (
  sans-f8: (
    slug: 'sans-f8',
    isReadable: true,
    content: $u-sans-f8,
  ),
);

$preset-sans-f9: (
  sans-f9: (
    slug: 'sans-f9',
    isReadable: true,
    content: $u-sans-f9,
  ),
);

$preset-sans-f10: (
  sans-f10: (
    slug: 'sans-f10',
    isReadable: true,
    content: $u-sans-f10,
  ),
);

$preset-sans-f11: (
  sans-f11: (
    slug: 'sans-f11',
    isReadable: true,
    content: $u-sans-f11,
  ),
);

$preset-sans-f12: (
  sans-f12: (
    slug: 'sans-f12',
    isReadable: true,
    content: $u-sans-f12,
  ),
);

$preset-sans-f13: (
  sans-f13: (
    slug: 'sans-f13',
    isReadable: true,
    content: $u-sans-f13,
  ),
);

$preset-sans-f14: (
  sans-f14: (
    slug: 'sans-f14',
    isReadable: true,
    content: $u-sans-f14,
  ),
);

$preset-sans-f15: (
  sans-f15: (
    slug: 'sans-f15',
    isReadable: true,
    content: $u-sans-f15,
  ),
);

$preset-sans-f16: (
  sans-f16: (
    slug: 'sans-f16',
    isReadable: true,
    content: $u-sans-f16,
  ),
);

$preset-sans-f17: (
  sans-f17: (
    slug: 'sans-f17',
    isReadable: true,
    content: $u-sans-f17,
  ),
);

$preset-sans-f18: (
  sans-f18: (
    slug: 'sans-f18',
    isReadable: true,
    content: $u-sans-f18,
  ),
);

$preset-sans-f19: (
  sans-f19: (
    slug: 'sans-f19',
    isReadable: true,
    content: $u-sans-f19,
  ),
);

$preset-sans-f20: (
  sans-f20: (
    slug: 'sans-f20',
    isReadable: true,
    content: $u-sans-f20,
  ),
);

$preset-sans-small: map-collect(
  $preset-sans-f1,
  $preset-sans-f2,
  $preset-sans-f3
);

$preset-sans-medium: map-collect(
  $preset-sans-f4,
  $preset-sans-f5,
  $preset-sans-f6,
  $preset-sans-f7,
  $preset-sans-f8
);

$preset-sans-large: map-collect(
  $preset-sans-f9,
  $preset-sans-f10,
  $preset-sans-f11,
  $preset-sans-f12,
  $preset-sans-f13,
  $preset-sans-f14
);

$preset-sans-xlarge: map-collect(
  $preset-sans-f15,
  $preset-sans-f16,
  $preset-sans-f17,
  $preset-sans-f18,
  $preset-sans-f19,
  $preset-sans-f20
);

$preset-sans: map-collect(
  $preset-sans-small,
  $preset-sans-medium,
  $preset-sans-large,
  $preset-sans-xlarge
);

$preset-serif-f1: (
  serif-f1: (
    slug: 'serif-f1',
    isReadable: true,
    content: $u-serif-f1,
  ),
);

$preset-serif-f2: (
  serif-f2: (
    slug: 'serif-f2',
    isReadable: true,
    content: $u-serif-f2,
  ),
);

$preset-serif-f3: (
  serif-f3: (
    slug: 'serif-f3',
    isReadable: true,
    content: $u-serif-f3,
  ),
);

$preset-serif-f4: (
  serif-f4: (
    slug: 'serif-f4',
    isReadable: true,
    content: $u-serif-f4,
  ),
);

$preset-serif-f5: (
  serif-f5: (
    slug: 'serif-f5',
    isReadable: true,
    content: $u-serif-f5,
  ),
);

$preset-serif-f6: (
  serif-f6: (
    slug: 'serif-f6',
    isReadable: true,
    content: $u-serif-f6,
  ),
);

$preset-serif-f7: (
  serif-f7: (
    slug: 'serif-f7',
    isReadable: true,
    content: $u-serif-f7,
  ),
);

$preset-serif-f8: (
  serif-f8: (
    slug: 'serif-f8',
    isReadable: true,
    content: $u-serif-f8,
  ),
);

$preset-serif-f9: (
  serif-f9: (
    slug: 'serif-f9',
    isReadable: true,
    content: $u-serif-f9,
  ),
);

$preset-serif-f10: (
  serif-f10: (
    slug: 'serif-f10',
    isReadable: true,
    content: $u-serif-f10,
  ),
);

$preset-serif-f11: (
  serif-f11: (
    slug: 'serif-f11',
    isReadable: true,
    content: $u-serif-f11,
  ),
);

$preset-serif-f12: (
  serif-f12: (
    slug: 'serif-f12',
    isReadable: true,
    content: $u-serif-f12,
  ),
);

$preset-serif-f13: (
  serif-f13: (
    slug: 'serif-f13',
    isReadable: true,
    content: $u-serif-f13,
  ),
);

$preset-serif-f14: (
  serif-f14: (
    slug: 'serif-f14',
    isReadable: true,
    content: $u-serif-f14,
  ),
);

$preset-serif-f15: (
  serif-f15: (
    slug: 'serif-f15',
    isReadable: true,
    content: $u-serif-f15,
  ),
);

$preset-serif-f16: (
  serif-f16: (
    slug: 'serif-f16',
    isReadable: true,
    content: $u-serif-f16,
  ),
);

$preset-serif-f17: (
  serif-f17: (
    slug: 'serif-f17',
    isReadable: true,
    content: $u-serif-f17,
  ),
);

$preset-serif-f18: (
  serif-f18: (
    slug: 'serif-f18',
    isReadable: true,
    content: $u-serif-f18,
  ),
);

$preset-serif-f19: (
  serif-f19: (
    slug: 'serif-f19',
    isReadable: true,
    content: $u-serif-f19,
  ),
);

$preset-serif-f20: (
  serif-f20: (
    slug: 'serif-f20',
    isReadable: true,
    content: $u-serif-f20,
  ),
);

$preset-serif-small: map-collect(
  $preset-serif-f1,
  $preset-serif-f2,
  $preset-serif-f3
);

$preset-serif-medium: map-collect(
  $preset-serif-f4,
  $preset-serif-f5,
  $preset-serif-f6,
  $preset-serif-f7,
  $preset-serif-f8
);

$preset-serif-large: map-collect(
  $preset-serif-f9,
  $preset-serif-f10,
  $preset-serif-f11,
  $preset-serif-f12,
  $preset-serif-f13,
  $preset-serif-f14
);

$preset-serif-xlarge: map-collect(
  $preset-serif-f15,
  $preset-serif-f16,
  $preset-serif-f17,
  $preset-serif-f18,
  $preset-serif-f10,
  $preset-serif-f20
);

$preset-serif: map-collect(
  $preset-serif-small,
  $preset-serif-medium,
  $preset-serif-large,
  $preset-serif-xlarge
);
