$preset-breakpoints: (
  xs:   $xsmall-screen,
  sm:   $small-screen,
  md:   $medium-screen,
  lg:   $large-screen,
  xl:   $xlarge-screen,
);

$preset-font-families: (
  cond:    #{$font-cond},
  mono:    #{$font-mono},
  sans:    #{$font-sans},
  serif:   #{$font-serif},
);

$preset-spacing-tshirt: (
  3xs:      $s-spacing-3xs,
  2xs:      $s-spacing-2xs,
  xs:       $s-spacing-xs,
  sm:       $s-spacing-sm,
  md:       $s-spacing-md,
  lg:       $s-spacing-lg,
  xl:       $s-spacing-xl,
  2xl:      $s-spacing-2xl,
  3xl:      $s-spacing-3xl,
);

$preset-spacing-tshirt-negative: (
  nxs:       -#{$s-spacing-xs},
  nsm:       -#{$s-spacing-sm},
  nmd:       -#{$s-spacing-md},
);



$preset-mono-3xs: (
  mono-3xs: (
    slug: 'mono-3xs',
    isReadable: true,
    content: $s-font-size-3xs,
    extends: font-mono,
    dependency: $font-mono,
  ),
);

$preset-mono-2xs: (
  mono-2xs: (
    slug: 'mono-2xs',
    isReadable: true,
    content: $s-font-size-2xs,
    extends: font-mono,
    dependency: $font-mono,
  ),
);

$preset-mono-xs: (
  mono-xs: (
    slug: 'mono-xs',
    isReadable: true,
    content: $s-font-size-xs,
    extends: font-mono,
    dependency: $font-mono,
  ),
);

$preset-mono-sm: (
  mono-sm: (
    slug: 'mono-sm',
    isReadable: true,
    content: $s-font-size-sm,
    extends: font-mono,
    dependency: $font-mono,
  ),
);

$preset-mono-md: (
  mono-md: (
    slug: 'mono-md',
    isReadable: true,
    content: $s-font-size-md,
    extends: font-mono,
    dependency: $font-mono,
  ),
);

$preset-mono-lg: (
  mono-lg: (
    slug: 'mono-lg',
    isReadable: true,
    content: $s-font-size-lg,
    extends: font-mono,
    dependency: $font-mono,
  ),
);

$preset-mono-xl: (
  mono-xl: (
    slug: 'mono-xl',
    isReadable: true,
    content: $s-font-size-xl,
    extends: font-mono,
    dependency: $font-mono,
  ),
);

$preset-mono-2xl: (
  mono-2xl: (
    slug: 'mono-2xl',
    isReadable: true,
    content: $s-font-size-2xl,
    extends: font-mono,
    dependency: $font-mono,
  ),
);

$preset-mono-3xl: (
  mono-2xl: (
    slug: 'mono-3xl',
    isReadable: true,
    content: $s-font-size-3xl,
    extends: font-mono,
    dependency: $font-mono,
  ),
);

$preset-mono-tshirt: map-collect(
  $preset-mono-3xs,
  $preset-mono-2xs,
  $preset-mono-xs,
  $preset-mono-sm,
  $preset-mono-md,
  $preset-mono-lg,
  $preset-mono-xl,
  $preset-mono-2xl,
  $preset-mono-3xl
);

$preset-sans-3xs: (
  sans-3xs: (
    slug: 'sans-3xs',
    isReadable: true,
    content: $s-font-size-3xs,
    extends: font-sans,
    dependency: $font-sans,
  ),
);

$preset-sans-2xs: (
  sans-2xs: (
    slug: 'sans-2xs',
    isReadable: true,
    content: $s-font-size-2xs,
    extends: font-sans,
    dependency: $font-sans,
  ),
);

$preset-sans-xs: (
  sans-xs: (
    slug: 'sans-xs',
    isReadable: true,
    content: $s-font-size-xs,
    extends: font-sans,
    dependency: $font-sans,
  ),
);

$preset-sans-sm: (
  sans-sm: (
    slug: 'sans-sm',
    isReadable: true,
    content: $s-font-size-sm,
    extends: font-sans,
    dependency: $font-sans,
  ),
);

$preset-sans-md: (
  sans-md: (
    slug: 'sans-md',
    isReadable: true,
    content: $s-font-size-md,
    extends: font-sans,
    dependency: $font-sans,
  ),
);

$preset-sans-lg: (
  sans-lg: (
    slug: 'sans-lg',
    isReadable: true,
    content: $s-font-size-lg,
    extends: font-sans,
    dependency: $font-sans,
  ),
);

$preset-sans-xl: (
  sans-xl: (
    slug: 'sans-xl',
    isReadable: true,
    content: $s-font-size-xl,
    extends: font-sans,
    dependency: $font-sans,
  ),
);

$preset-sans-2xl: (
  sans-2xl: (
    slug: 'sans-2xl',
    isReadable: true,
    content: $s-font-size-2xl,
    extends: font-sans,
    dependency: $font-sans,
  ),
);

$preset-sans-3xl: (
  sans-2xl: (
    slug: 'sans-3xl',
    isReadable: true,
    content: $s-font-size-3xl,
    extends: font-sans,
    dependency: $font-sans,
  ),
);

$preset-sans-tshirt: map-collect(
  $preset-sans-3xs,
  $preset-sans-2xs,
  $preset-sans-xs,
  $preset-sans-sm,
  $preset-sans-md,
  $preset-sans-lg,
  $preset-sans-xl,
  $preset-sans-2xl,
  $preset-sans-3xl
);

$preset-serif-3xs: (
  serif-3xs: (
    slug: 'serif-3xs',
    isReadable: true,
    content: $s-font-size-3xs,
    extends: font-serif,
    dependency: $font-serif,
  ),
);

$preset-serif-2xs: (
  serif-2xs: (
    slug: 'serif-2xs',
    isReadable: true,
    content: $s-font-size-2xs,
    extends: font-serif,
    dependency: $font-serif,
  ),
);

$preset-serif-xs: (
  serif-xs: (
    slug: 'serif-xs',
    isReadable: true,
    content: $s-font-size-xs,
    extends: font-serif,
    dependency: $font-serif,
  ),
);

$preset-serif-sm: (
  serif-sm: (
    slug: 'serif-sm',
    isReadable: true,
    content: $s-font-size-sm,
    extends: font-serif,
    dependency: $font-serif,
  ),
);

$preset-serif-md: (
  serif-md: (
    slug: 'serif-md',
    isReadable: true,
    content: $s-font-size-md,
    extends: font-serif,
    dependency: $font-serif,
  ),
);

$preset-serif-lg: (
  serif-lg: (
    slug: 'serif-lg',
    isReadable: true,
    content: $s-font-size-lg,
    extends: font-serif,
    dependency: $font-serif,
  ),
);

$preset-serif-xl: (
  serif-xl: (
    slug: 'serif-xl',
    isReadable: true,
    content: $s-font-size-xl,
    extends: font-serif,
    dependency: $font-serif,
  ),
);

$preset-serif-2xl: (
  serif-2xl: (
    slug: 'serif-2xl',
    isReadable: true,
    content: $s-font-size-2xl,
    extends: font-serif,
    dependency: $font-serif,
  ),
);

$preset-serif-3xl: (
  serif-2xl: (
    slug: 'serif-3xl',
    isReadable: true,
    content: $s-font-size-3xl,
    extends: font-serif,
    dependency: $font-serif,
  ),
);

$preset-serif-tshirt: map-collect(
  $preset-serif-3xs,
  $preset-serif-2xs,
  $preset-serif-xs,
  $preset-serif-sm,
  $preset-serif-md,
  $preset-serif-lg,
  $preset-serif-xl,
  $preset-serif-2xl,
  $preset-serif-3xl
);

$preset-font-tshirt: map-collect(
  $preset-mono-tshirt,
  $preset-sans-tshirt,
  $preset-serif-tshirt
);
