$preset-breakpoints-rem: (
  xs:   px($s-xsmall-screen),
  sm:   px($s-small-screen),
  md:   px($s-medium-screen),
  lg:   px($s-large-screen),
  xl:   px($s-xlarge-screen),
);

$preset-ch: (
  '05ch':   '.5ch',
  '1ch':    '1ch',
  '105ch':  '1.5ch',
  '2ch':    '2ch',
  '3ch':    '3ch',
  '4ch':    '4ch',
  '5ch':    '5ch',
);

$preset-ch-negative: (
  'n05ch':   '-.5ch',
  'n1ch':    '-1ch',
  'n105ch':  '-1.5ch',
  'n2ch':    '-2ch',
  'n3ch':    '-3ch',
  'n4ch':    '-4ch',
  'n5ch':    '-5ch',
);

$preset-em: (
  '05em':   '.5em',
  '1em':    '1em',
  '105em':  '1.5em',
  '2em':    '2em',
  '3em':    '3em',
  '4em':    '4em',
  '5em':    '5em',
  '6em':    '6em',
  '7em':    '7em',
  '8em':    '8em',
  '9em':    '9em',
  '10em':   '10em',
);

$preset-grid-small: (
  'g05':    $spacing-05,
  'g1':     $spacing-1,
  'g105':   $spacing-105,
  'g2':     $spacing-2,
);

$preset-grid-medium: (
  'g205':   $spacing-205,
  'g3':     $spacing-3,
  'g4':     $spacing-4,
  'g5':     $spacing-5,
);

$preset-grid-large: (
  'g6':     $spacing-6,
  'g7':     $spacing-7,
  'g8':     $spacing-8,
  'g9':     $spacing-9,
  'g10':    $spacing-10,
);

$preset-grid-xlarge: (
  'g15':    $spacing-15,
  'g20':    $spacing-20,
  'g25':    $spacing-25,
  'g30':    $spacing-30,
  'g40':    $spacing-40,
  'g50':    $spacing-50,
);

$preset-grid-small-negative: (
  'ng05':   -#{$spacing-05},
  'ng1':    -#{$spacing-1},
  'ng105':  -#{$spacing-105},
  'ng2':    -#{$spacing-2},
);

$preset-grid-medium-negative: (
  'ng205':  -#{$spacing-205},
  'ng3':    -#{$spacing-3},
  'ng4':    -#{$spacing-4},
  'ng5':    -#{$spacing-5},
);

$preset-grid-large-negative: (
  'ng6':    -#{$spacing-6},
  'ng7':    -#{$spacing-7},
  'ng8':    -#{$spacing-8},
  'ng9':    -#{$spacing-9},
  'ng10':   -#{$spacing-10},
);

$preset-grid: map-collect(
  $preset-grid-small,
  $preset-grid-medium,
  $preset-grid-large,
  $preset-grid-xlarge
);

$preset-grid-negative: map-collect(
  $preset-grid-small-negative,
  $preset-grid-medium-negative,
  $preset-grid-large-negative
);

$preset-percentage:(
  '10ct':   10%,
  '20ct':   20%,
  '25ct':   25%,
  '30ct':   30%,
  '33ct':   33.33333333%,
  '40ct':   40%,
  '50ct':   50%,
  '60ct':   60%,
  '66ct':   66.66666666%,
  '70ct':   70%,
  '75ct':   75%,
  '80ct':   80%,
  '90ct':   90%,
  '100ct':  100%,
);

$preset-px:(
  '1px':    1px,
  '2px':    2px,
);

$preset-px-negative:(
  'n1px':   -1px,
  'n2px':   -2px,
);
