$preset-units-ch: (
  '05ch':   '.5ch',
  '1ch':    '1ch',
  '105ch':  '1.5ch',
  '2ch':    '2ch',
  '3ch':    '3ch',
  '4ch':    '4ch',
  '5ch':    '5ch',
);

$preset-units-ch-negative: (
  'n05ch':   '-.5ch',
  'n1ch':    '-1ch',
  'n105ch':  '-1.5ch',
  'n2ch':    '-2ch',
  'n3ch':    '-3ch',
  'n4ch':    '-4ch',
  'n5ch':    '-5ch',
);

$preset-units-em: (
  '05em':   '.5em',
  '1em':    '1em',
  '105em':  '1.5em',
  '2em':    '2em',
  '3em':    '3em',
  '4em':    '4em',
  '5em':    '5em',
  '6em':    '6em',
  '7em':    '7em',
  '8em':    '8em',
  '9em':    '9em',
  '10em':   '10em',
);

$preset-units-grid-small: (
  'g05':    $u-spacing-05,
  'g1':     $u-spacing-1,
  'g105':   $u-spacing-105,
  'g2':     $u-spacing-2,
);

$preset-units-grid-medium: (
  'g205':   $u-spacing-205,
  'g3':     $u-spacing-3,
  'g4':     $u-spacing-4,
  'g5':     $u-spacing-5,
);

$preset-units-grid-large: (
  'g6':     $u-spacing-6,
  'g7':     $u-spacing-7,
  'g8':     $u-spacing-8,
  'g9':     $u-spacing-9,
  'g10':    $u-spacing-10,
);

$preset-units-grid-xlarge: (
  'g15':    $u-spacing-15,
  'g20':    $u-spacing-20,
  'g25':    $u-spacing-25,
  'g30':    $u-spacing-30,
  'g40':    $u-spacing-40,
  'g50':    $u-spacing-50,
);

$preset-units-grid-small-negative: (
  'ng05':   -#{$u-spacing-05},
  'ng1':    -#{$u-spacing-1},
  'ng105':  -#{$u-spacing-105},
  'ng2':    -#{$u-spacing-2},
);

$preset-units-grid-medium-negative: (
  'ng205':  -#{$u-spacing-205},
  'ng3':    -#{$u-spacing-3},
  'ng4':    -#{$u-spacing-4},
  'ng5':    -#{$u-spacing-5},
);

$preset-units-grid-large-negative: (
  'ng6':    -#{$u-spacing-6},
  'ng7':    -#{$u-spacing-7},
  'ng8':    -#{$u-spacing-8},
  'ng9':    -#{$u-spacing-9},
  'ng10':   -#{$u-spacing-10},
);

$preset-units-grid: map-collect(
  $preset-units-grid-small,
  $preset-units-grid-medium,
  $preset-units-grid-large,
  $preset-units-grid-xlarge
);

$preset-units-grid-negative: map-collect(
  $preset-units-grid-small-negative,
  $preset-units-grid-medium-negative,
  $preset-units-grid-large-negative
);

$preset-units-percentage:(
  '10ct':   10%,
  '20ct':   20%,
  '25ct':   25%,
  '30ct':   30%,
  '33ct':   33.33333333%,
  '40ct':   40%,
  '50ct':   50%,
  '60ct':   60%,
  '66ct':   66.66666666%,
  '70ct':   70%,
  '75ct':   75%,
  '80ct':   80%,
  '90ct':   90%,
  '100ct':  100%,
);

$preset-units-px:(
  '1px':    1px,
  '2px':    2px,
);

$preset-units-px-negative:(
  'n1px':   -1px,
  'n2px':   -2px,
);
