@use "sass:math";

@use "uswds-core" as *;

// Alert variables ---------- //
$alert-icons: (
  success: "check_circle",
  warning: "warning",
  error: "error",
  info: "info",
  emergency: "error",
);

.usa-alert {
  @include alert-styles;
}

@each $name, $icon in $alert-icons {
  .usa-alert--#{$name} {
    @include alert-status-styles($name, $icon);
  }
}

.usa-alert--slim {
  @include add-slim-alert-icon;
}

.usa-alert--validation {
  .usa-checklist {
    margin-top: units(2);
  }
}
