$system-color-green-cool: (
  "green-cool": (
    5: #ecf3ec,
    10: #dbebde,
    20: #b4d0b9,
    30: #86b98e,
    40: #5e9f69,
    50: #4d8055,
    60: #446443,
    70: #37493b,
    80: #28312a,
    90: #1a1f1a,
    "vivid": (
      5: #e3f5e1,
      10: #b7f5bd,
      20: #70e17b,
      30: #21c834,
      40: #00a91c,
      50: #008817,
      60: #216e1f,
      70: #154c21,
      80: #19311e,
      90: false,
    ),
  ),
);
