$system-color-indigo-cool: (
  "indigo-cool": (
    5: #eef0f9,
    10: #e1e6f9,
    20: #bbc8f5,
    30: #96abee,
    40: #6b8ee8,
    50: #496fd8,
    60: #3f57a6,
    70: #374274,
    80: #292d42,
    90: #151622,
    "vivid": (
      5: #edf0ff,
      10: #dee5ff,
      20: #b8c8ff,
      30: #94adff,
      40: #628ef4,
      50: #4866ff,
      60: #3e4ded,
      70: #222fbf,
      80: #1b2b85,
      90: false,
    ),
  ),
);
