$system-color-indigo-warm: (
  "indigo-warm": (
    5: #f1eff7,
    10: #e7e3fa,
    20: #cbc4f2,
    30: #afa5e8,
    40: #9287d8,
    50: #7665d1,
    60: #5e519e,
    70: #453c7b,
    80: #2e2c40,
    90: #18161d,
    "vivid": (
      5: #f5f2ff,
      10: #e4deff,
      20: #cfc4fd,
      30: #b69fff,
      40: #967efb,
      50: #745fe9,
      60: #5942d2,
      70: #3d2c9d,
      80: #261f5b,
      90: false,
    ),
  ),
);
