$system-color-violet-warm: (
  "violet-warm": (
    5: #f8f0f9,
    10: #f6dff8,
    20: #e2bee4,
    30: #d29ad8,
    40: #bf77c8,
    50: #b04abd,
    60: #864381,
    70: #5c395a,
    80: #382936,
    90: #1b151b,
    "vivid": (
      5: #fef2ff,
      10: #fbdcff,
      20: #f4b2ff,
      30: #ee83ff,
      40: #d85bef,
      50: #be32d0,
      60: #93348c,
      70: #711e6c,
      80: #481441,
      90: false,
    ),
  ),
);
