@use "../../settings";

$assignments-theme-color: (
  "base-lightest": settings.$theme-color-base-lightest,
  "base-lighter": settings.$theme-color-base-lighter,
  "base-light": settings.$theme-color-base-light,
  "base": settings.$theme-color-base,
  "base-dark": settings.$theme-color-base-dark,
  "base-darker": settings.$theme-color-base-darker,
  "base-darkest": settings.$theme-color-base-darkest,
  "ink": settings.$theme-color-base-darkest,
  "primary-lightest": settings.$theme-color-primary-lightest,
  "primary-lighter": settings.$theme-color-primary-lighter,
  "primary-light": settings.$theme-color-primary-light,
  "primary": settings.$theme-color-primary,
  "primary-vivid": settings.$theme-color-primary-vivid,
  "primary-dark": settings.$theme-color-primary-dark,
  "primary-darker": settings.$theme-color-primary-darker,
  "primary-darkest": settings.$theme-color-primary-darkest,
  "secondary-lightest": settings.$theme-color-secondary-lightest,
  "secondary-lighter": settings.$theme-color-secondary-lighter,
  "secondary-light": settings.$theme-color-secondary-light,
  "secondary": settings.$theme-color-secondary,
  "secondary-vivid": settings.$theme-color-secondary-vivid,
  "secondary-dark": settings.$theme-color-secondary-dark,
  "secondary-darker": settings.$theme-color-secondary-darker,
  "secondary-darkest": settings.$theme-color-secondary-darkest,
  "accent-warm-darkest": settings.$theme-color-accent-warm-darkest,
  "accent-warm-darker": settings.$theme-color-accent-warm-darker,
  "accent-warm-dark": settings.$theme-color-accent-warm-dark,
  "accent-warm": settings.$theme-color-accent-warm,
  "accent-warm-light": settings.$theme-color-accent-warm-light,
  "accent-warm-lighter": settings.$theme-color-accent-warm-lighter,
  "accent-warm-lightest": settings.$theme-color-accent-warm-lightest,
  "accent-cool-darkest": settings.$theme-color-accent-cool-darkest,
  "accent-cool-darker": settings.$theme-color-accent-cool-darker,
  "accent-cool-dark": settings.$theme-color-accent-cool-dark,
  "accent-cool": settings.$theme-color-accent-cool,
  "accent-cool-light": settings.$theme-color-accent-cool-light,
  "accent-cool-lighter": settings.$theme-color-accent-cool-lighter,
  "accent-cool-lightest": settings.$theme-color-accent-cool-lightest,
  "error-lighter": settings.$theme-color-error-lighter,
  "error-light": settings.$theme-color-error-light,
  "error": settings.$theme-color-error,
  "error-dark": settings.$theme-color-error-dark,
  "error-darker": settings.$theme-color-error-darker,
  "warning-lighter": settings.$theme-color-warning-lighter,
  "warning-light": settings.$theme-color-warning-light,
  "warning": settings.$theme-color-warning,
  "warning-dark": settings.$theme-color-warning-dark,
  "warning-darker": settings.$theme-color-warning-darker,
  "success-lighter": settings.$theme-color-success-lighter,
  "success-light": settings.$theme-color-success-light,
  "success": settings.$theme-color-success,
  "success-dark": settings.$theme-color-success-dark,
  "success-darker": settings.$theme-color-success-darker,
  "info-lighter": settings.$theme-color-info-lighter,
  "info-light": settings.$theme-color-info-light,
  "info": settings.$theme-color-info,
  "info-dark": settings.$theme-color-info-dark,
  "info-darker": settings.$theme-color-info-darker,
  "disabled-lighter": settings.$theme-color-disabled-lighter,
  "disabled-light": settings.$theme-color-disabled-light,
  "disabled": settings.$theme-color-disabled,
  "disabled-dark": settings.$theme-color-disabled-dark,
  "disabled-darker": settings.$theme-color-disabled-darker,
  "emergency": settings.$theme-color-emergency,
  "emergency-dark": settings.$theme-color-emergency-dark,
);
