{% extends 'layouts/_base.njk' %}

{% block body %}
<div class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <main class="" id="main-content">
        <div class="usa-prose margin-y-8">

          <!-- This template can be used for most types of error pages -->
          <!-- Remove these comments when you build your error pages -->
            
          <!-- Describe the error in the main heading -->
          <h1>Page not found</h1>

          <!-- Explain what caused the error in the lead text -->
          <p class="usa-intro">We’re sorry, we can’t find the page you're looking for. It might have been removed, had its name changed, or is otherwise unavailable.</p>

          <!-- Provide instructions how the user can address or fix the error -->
          <p>If you typed the URL directly, check your spelling and capitalization. Our URLs look like this: <strong>designsystem.digital.gov/example-one</strong>.</p>

          <p>Visit our homepage for helpful tools and resources, or contact us and we’ll point you in the right direction. </p>

          <!-- Use buttons for main actions user can take, such as visiting the homepage or a contact page -->
          <div class="margin-y-5">
            <ul class="usa-button-group">
              <li class="usa-button-group__item">
                <a href="#" class="usa-button">Visit homepage</a>
              </li>
              <li class="usa-button-group__item">
                <button class="usa-button usa-button--outline">Contact us</button>
              </li>
            </ul>
          </div>

          <!-- List additional support channels -->
          <p>For immediate assistance:</p>
          <ul>
            <li><a href="javascript:void();" class="usa-link">Visit our live chat</a></li>
            <li>Call <a href="javascript:void();" class="usa-link">(555) 555-5555</a></li>
          </ul>

          <!-- Error code if appropriate -->
          <p class="text-base"><strong>Error code:</strong> 404</p>
        </div>
      </main>
    </div>
  </div>
</div>
{% endblock %}
