{% extends 'layouts/_base.njk' %}

{% block body %}
<div class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <main class="" id="main-content">
        <div class="usa-prose margin-y-8">
          <h1>Page not found</h1>

              <p class="usa-intro">We can’t find the page you're looking for. It might have been removed, had its name changed, or is otherwise unavailable.</p>

              <p>If you typed the URL directly, check your spelling and capitalization. Our URLs look like this: <strong>designsystem.digital.gov/example-one</strong>.</p>

              <p>Visit our homepage for helpful tools and resources, or contact us and we’ll point you in the right direction. </p>

              <div class="margin-y-5">
                <ul class="usa-button-group">
                  <li class="usa-button-group__item">
                    <a href="#" class="usa-button">Visit homepage</a>
                  </li>
                  <li class="usa-button-group__item">
                    <button class="usa-button usa-button--outline">Contact us</button>
                  </li>
                </ul>
              </div>
 
          <p>Are you sure this is the right web address? <a href="#" class="usa-link">Let us know</a>.</p>
          </div>
      </main>
    </div>
  </div>
</div>
{% endblock %}
