<!doctype html>
<html lang="{{ lang }}">
  {% include 'id.html' %}
  <head>
    {% include 'meta.html' %}
    {% include 'styles.html' %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
