{% extends 'layouts/_base.njk' %}

{% block body %}
  <div class="usa-section">
    <div class="grid-container">
      <ol class="usa-breadcrumb__list margin-bottom-6" aria-label="Breadcrumbs">
        <li class="usa-breadcrumb__list-item">
          <a href="#" class="usa-breadcrumb__link">
            <span>Topics</span>
          </a>
        </li>
        <li class="usa-breadcrumb__list-item">
          <a href="#" class="usa-breadcrumb__link">
            <span>Academic Engagement</span>
          </a>
        </li>
        <li class="usa-breadcrumb__list-item">
          <a href="#" class="usa-breadcrumb__link">
            <span>Resilience</span>
          </a>
        </li>
        <li class="usa-breadcrumb__list-item">
          <a href="#" class="usa-breadcrumb__link">
            <span>Campus Resilience Program Resource Library</span>
          </a>
        </li>
        <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
          <span>School and Workplace Violence</span>
        </li>
      </ol>

      <main id="main-content" class="content__main usa-prose">
        <h1 id="school-and-workplace-violence" class="site-page-title">School and Workplace Violence</h1>

        <p class="site-text-intro usa-intro">Acts of school and workplace violence, including both active shooter
          incidents and violent protests, threaten life safety and security, undermine public confidence, and emotionally
          devastate affected communities. IHEs should use these resources to build campus resilience by adequately
          preparing for and responding to violent incidents.</p>
        <p>The resources in this section provide useful information related to School and Workplace Violence. The
          resources are organized according to the relevant <a href="https://www.fema.gov/national-preparedness-goal"
            class="usa-link">Federal Emergency Management Agency (FEMA) Mission Area</a> within each category:</p>
        <div class="usa-accordion">
          <div class="usa-accordion__controls" aria-label="Control all accordion items">
            <button class="usa-accordion__control-all" aria-expanded="false" data-label--expanded="Expand all sections" data-label--collapsed="Collapse all sections">Expand all sections</button>
          </div>
          <h2 class="usa-accordion__heading">
            <button class="usa-accordion__button" aria-expanded="false" aria-controls="a1">
              Active Shooter Incident
            </button>
          </h2>
          <div id="a1" class="usa-accordion__content usa-prose" hidden="">
            <p>
              Active shooter incidents escalate quickly and evolve rapidly. While many conclude after a few short minutes,
              others stretch on for hours. IHEs should use these resources to protect their schools, safeguard the lives
              of their students, faculty, and staff, and facilitate the recovery process following this type of incident.
            </p>
            <h3>Preparedness (Prevention, Protection, Mitigation)</h3>
            <ul class="usa-list">
              <li>Prevention: This mission area focuses on the ability to avoid, prevent, or stop an imminent threat.</li>
              <li>Protection: This mission area focuses on the ability to secure and protect a community against a variety
                of threats and hazards.</li>
              <li>Mitigation: This mission area focuses on the ability to reduce the loss of life and property by
                lessening the impact of a disaster.</li>
            </ul>
            <h3>Guides and Best Practices</h3>
            <a href="#">Enhancing School Safety Using a Threat Assessment Model: An Operational Guide for Preventing
              Targeted School Violence</a>
            <p>U.S. Secret Service has published these resources to aid in identifying students of concern, assessing
              their risk for engaging in violence or other harmful activities, and identifying intervention strategies to
              manage that risk.</p>
            <a href="#">K-12 School Security: A Guide for Preventing and Protecting against Gun Violence (2<sup>nd</sup>
              ed., 2018)</a>
            <p>This guide provides preventive and protective measures to address the threat of gun violence in schools.
            </p>
          </div>
          <h2 class="usa-accordion__heading">
            <button class="usa-accordion__button" aria-expanded="false" aria-controls="a2">
              Civil Unrest/Mass Protest
            </button>
          </h2>
          <div id="a2" class="usa-accordion__content usa-prose" hidden="">
            <p>
              Peaceful protests and demonstrations are commonplace across college and university campuses today. Most
              serve as a peaceful means of political and social engagement; however, IHEs do occasionally witness the
              violent escalation of these events. IHEs should use these resources to prepare for situations in which civil
              unrest devolves into criminality or violence and mitigate the subsequent loss of life and property.
            </p>
          </div>
          <h2 class="usa-accordion__heading">
            <button class="usa-accordion__button" aria-expanded="false" aria-controls="a3">
              Soft Target/Crowded Places
            </button>
          </h2>
          <div id="a3" class="usa-accordion__content usa-prose" hidden="">
            <p>Soft targets include any person or thing that is relatively unprotected or vulnerable to a terrorist attack
              or an act of violence. Soft targets on college and university campuses today present a unique challenge
              given the large number of on- and off-campus populations, often resulting in crowded public areas. IHEs
              should use these resources to prepare for a potential soft target attack against crowded places.</p>
            <h3>Preparedness (Prevention, Protection, Mitigation)</h3>
            <ul>
              <li>Prevention: This mission area focuses on the ability to avoid, prevent, or stop an imminent threat.</li>
              <li>Protection: This mission area focuses on the ability to secure and protect a community against a variety
                of threats and hazards.</li>
              <li>Mitigation: This mission area focuses on the ability to reduce the loss of life and property by
                lessening the impact of a disaster.</li>
            </ul>
            <h4>Trainings</h4>
            <p><a href="/first-responder">Vehicle Ramming Attack Mitigation Video</a> Produced by the Department of
              Homeland Security, this video provides information to assist with mitigating the evolving threat
              corresponding to vehicle ramming incidents with insightful technical analysis from public and private sector
              subject matter experts. </p>
            <h3>Response</h3>
            <p>This mission area focuses on the ability to save lives, protect property and the environment, as well as
              meet the basic needs of a community during a disaster.</p>
            <p>Please see the "All" category for resources that encompass the Preparedness, Response, and Recovery Mission
              Areas.</p>
            <h3>Recovery</h3>
            <p>This mission area focuses on the ability to assist communities in recovering effectively following a
              disaster.</p>
            <p>Please see the "All" category for resources that encompass the Preparedness, Response, and Recovery Mission
              Areas.</p>
            <h3>All</h3>
            <p>Resources that fall into the "All" category contain useful information and guidance that is relevant to all
              FEMA Mission Areas.</p>
            <h4>Trainings</h4>
            <p> <a href="/critical-infrastructure-training">Critical Infrastructure Training</a> This webpage provides
              provides links to various training programs for government and private sector partners offered by the
              DHS/Office of Infrastructure Protection. These trainings provide the knowledge and skills to implement
              critical infrastructure security and resilience activities. </p>
          </div>
          <h2 class="usa-accordion__heading">
            <button class="usa-accordion__button" aria-expanded="false" aria-controls="a4">
              U.S. Secret Service School Safety Research
            </button>
          </h2>
          <div id="a4" class="usa-accordion__content usa-prose" hidden="">
            <p>Over the last 20 years, the U.S. Secret Service National Threat Assessment Center (NTAC) has conducted
              research, training, and consultation on threat assessment and the prevention of various forms of targeted
              violence. Following the tragedy at Columbine High School in April 1999, the Secret Service partnered with
              the Department of Education on two studies related to school safety.</p>
            <p>Published in 2002, the <a href="https://www2.ed.gov/admins/lead/safety/preventingattacksreport.pdf">Safe
                School Initiative</a> (SSI) (1.64MB PDF) examined 37 incidents of targeted violence that occurred at
              elementary and secondary schools to analyze the thinking and behavior of students who commit these attacks.
              The report, and accompanying guide, served as the impetus for establishing threat assessment programs in
              schools.</p>
            <p>In 2008, the agencies released the <a href="https://rems.ed.gov/docs/DOE_BystanderStudy.pdf">Bystander
                Study</a> (1.36MB PDF), a report that explored a key SSI finding that prior to most attacks, other
              students knew of the attackers’ plans, yet most did not report it to an adult. The report highlighted the
              importance of creating safe school climates in which students are empowered to share their concerns. Since
              then, NTAC has continued to provide and update training to schools, law enforcement, and others on threat
              assessment and prevention practices.</p>
            <p>The tragic events of the February 14, 2018 shooting at Marjory Stoneman Douglas High School in Parkland,
              Florida, and the May 18, 2018 shooting at Santa Fe High School in Santa Fe, Texas, demonstrated the ongoing
              need to provide leadership in preventing future school attacks. On July 13, 2018, the NTAC released an
              operational guide that provides actionable steps that schools can take to develop comprehensive targeted
              violence prevention plans for conducting threat assessments in schools. This guide, titled <i><a
                  href="/publication/enhancing-school-safety-using-threat-assessment-model">Enhancing School Safety Using
                  a Threat Assessment Model</a></i>, provides an operational guide for preventing targeted school
              violence.</p>
          </div>
          <h2 class="usa-accordion__heading">
            <button class="usa-accordion__button" aria-expanded="false" aria-controls="a5">
              All (School and Workplace Violence)
            </button>
          </h2>
          <div id="a5" class="usa-accordion__content usa-prose" hidden="">
            <ul>
              <li>Prevention: This mission area focuses on the ability to avoid, prevent, or stop an imminent threat.</li>
              <li>Protection: This mission area focuses on the ability to secure and protect a community against a variety
                of threats and hazards.</li>
              <li>Mitigation: This mission area focuses on the ability to reduce the loss of life and property by
                lessening the impact of a disaster.</li>
            </ul>
            <h4>Guides and Best Practices</h4>
            <p><a href="/publication/enhancing-school-safety-using-threat-assessment-model">Enhancing School Safety Using
                a Threat Assessment Model: An Operational Guide for Preventing Targeted School Violence</a> U.S. Secret
              Service has published these resources to aid in identifying students of concern, assessing their risk for
              engaging in violence or other harmful activities, and identifying intervention strategies to manage that
              risk.</p>
            <p><a href="/see-something-say-something">If You See Something Say Something</a> This website provides
              information on how to report suspicious activity and other guidance.</p>
            <p><a href="https://www2.ed.gov/admins/lead/safety/handbook.pdf">The Handbook for Campus Safety and Security
                Reporting</a> This handbook is designed to assist in a step-by-step and readable manner, in understanding
              and meeting Higher Education Act of 1965 (HEA) requirements.</p>
            <p><a href="/redirect?url=https%3A%2F%2Fsfsafe.org%2F">Safe Awareness for Everyone</a> This resource connects
              readers with the Safety Awareness for Everyone (SAFE) program which aims to engage, educate, and empower San
              Francisco to build safer neighborhoods through crime prevention, education, and public safety services that
              result in stronger, more vibrant and resilient communities.</p>
            <p><a href="/redirect?url=https%3A%2F%2Fwww.majorcitieschiefs.com%2Fpdf%2FMCC_CampusSecurity.pdf">Campus
                Security Guidelines</a>
              This resource provides emergency recommendations from the Major Cities Chiefs Police Association.</p>
            <p><a href="/publication/pathway-violence-fact-sheet">Pathway to Violence: Warning Signs and What You Can
                Do</a> This resource provides common warning signs and instructs readers on what to do in the event of a
              violent incident.</p>
            <p><a href="https://www.bja.gov/ProgramDetails.aspx?Program_ID=108#horizontalTab1">Enhancing Campus Safety and
                Security</a>
              <br>This website connects users with multiple resources for enhancing campus safety and security.</p>
            <p><a
                href="/redirect?url=https%3A%2F%2Fwww.campussafetymagazine.com%2Fnews%2Fcolleges_ramp_up_stadium_security_for_sporting_events%2F">Colleges
                Ramp up Stadium Security for Events</a> This article provides an overview in the change in "bag policies"
              as part of on-campus stadium security.
            </p>
            <p><a
                href="/redirect?url=https%3A%2F%2Fwww.campussafetymagazine.com%2Funiversity%2Frethinking_training_for_university_police_officers%2F">Rethinking
                Training for University Police Officers </a> This article focuses on the balance that police agencies must
              strike between meeting best policing practices and the needs of their communities.</p>
            <p><a
                href="/redirect?url=https%3A%2F%2Fwww.campussafetymagazine.com%2Fcs%2Farming_university_police_departments_part_2%2F">Arming
                University Police Departments Part 2: Best Practices and Lessons Learned</a> This resource discusses the
              risks and benefits of arming university police departments.</p>
            <h4>Research and Reports</h4>
            <p><a href="https://www2.ed.gov/admins/lead/safety/preventingattacksreport.pdf">The Final Report and Findings
                of the Safe School Initiative: Implications for the Prevention of School Attacks in the United States</a>
              This report, published by the U.S. Secret Service and the Department of Education, summarizes findings from
              the Safe School Initiative. It specifically details lessons learned for how to prevent acts of school
              violence.</p>
            <h4>Tools</h4>
            <p><a href="/redirect?url=https%3A%2F%2Fwww.nabita.org%2Fresources%2Fthreat-assessment-tools%2F">Threat
                Assessment Tools</a> This website provides links to the National Behavioral Intervention Team Association
              (NaBITA) Threat Assessment Tools.</p>
            <p><a href="/redirect?url=https%3A%2F%2Fwww.calea.org%2Fcampus-security">Campus Safety Accreditation</a> This
              website connects readers with the CALEA Campus Security Accreditation Program, designed for educational
              campus security agencies or departments that primarily employ non-sworn security officers.</p>
            <h4>Trainings</h4>
            <p><a href="/redirect?url=http%3A%2F%2Fwww.cptedtraining.net%2F">CPTED Professional Training</a> The National
              Institute of Crime Prevention provides crime prevention through environmental design
              (CPTED) training.</p>
            <p><a href="/redirect?url=https%3A%2F%2Fclerycenter.org%2Fnews-events%2F">Clery Center News &amp; Events</a>
              This resource provides a link to information and guidance to campus safety professionals in implementing
              Cleary Act requirements.</p>
            <p><a
                href="/redirect?url=https%3A%2F%2Fwww.nccpsafety.org%2Fresources%2Flibrary%2Fbeyond-orientation-building-a-prevention-calendar-at-a-college-or-universit%2F">Beyond
                Orientation: Building a Prevention Calendar at a College or University</a><br>This webinar discusses the
              best types of prevention education programs for Institutions of Higher Education.</p>
            <p><a href="https://training.fema.gov/is/courseoverview.aspx?code=IS-360">Preparing for Mass Casualty
                Incidents: A Guide for Schools, Higher Education, and Houses of Worship</a>
              <br>Provided by the Federal Emergency Management Agency's Emergency Management Institute, this online course
              provides leading practices and resources to assist elementary and secondary schools, institutions of higher
              education, and houses of worship in developing emergency plans for preparing for, responding to, and
              recovering from mass casualty incidents.</p>
            <p><a href="/science-and-technology/news/2015/04/15/responder-news-strengthening-campus-security">Responder
                News: Strengthening Campus Security</a>
              <br>This website offers useful resources for how to strengthen campus security and emergency planning
              efforts.</p>
            <p><a href="https://www.tsa.gov/for-industry/firstobserver">First Observer Plus Program </a>
              <br>The First Observer Plus Program, supported by the Transportation Security Administration, provides
              transportation professionals with the knowledge needed to recognize suspicious activity, guidance for
              assessing observations, and a method for reporting observations.</p>
            <p><a href="https://www.fletc.gov/summits-preventing-multiple-casualty-violence">National Summits on
                Preventing Multiple Casualty Violence </a>
              <br>Hosted by Federal Law Enforcement Training Centers (FLETC), these summits bring together experts from a
              variety of disciplines, including law enforcement, academic education, social sciences, private security,
              and emergency management to develop cross-cutting prevention strategies and a framework for a prevention
              toolkit adaptable to individual communities.</p>
            <h3>Response</h3>
            <p>This mission area focuses on the ability to save lives, protect property and the environment, as well as
              meet the basic needs of a community during a disaster.</p>
            <h4>Guides and Best Practices</h4>
            <p><a href="/redirect?url=https%3A%2F%2Fwww.nabita.org%2F">Behavioral Intervention Teams</a>
              <br>This website provides information and resources regarding Behavior Intervention Teams.</p>
            <h4>Trainings</h4>
            <p><a
                href="/redirect?url=http%3A%2F%2Freadyhouston.wpengine.com%2Fsuspicious-activity%2Fvideos-and-resources%2F">Ready
                Houston Videos and Resources</a>
              <br>This website includes links to videos created by Ready Houston for how to track suspicious behavior as
              well as how react during an active shooter incident.</p>
            <p><a href="https://www.firstrespondertraining.gov/frt/npccatalog?courseId=53#anc-search-results">Crisis
                Management for School-Based Incidents--Partnering Rural Law Enforcement, First Responders, and Local
                School Systems Training Course</a>
              <br>Developed by the University of Findlay as a member of the Rural Domestic Preparedness Consortium, this
              Awareness level course has been developed to educate rural law enforcement personnel as well as school
              administrators and personnel on the elements that must be in place to effectively respond to a school-based
              emergency.</p>
            <h3>Recovery</h3>
            <p>This mission area focuses on the ability to assist communities in recovering effectively following a
              disaster.</p>
            <p>Please see the "All" category for resources that encompass the Preparedness, Response, and Recovery Mission
              Areas.</p>
            <h3>All</h3>
            <p>Resources that fall into the "All" category contain useful information and guidance that is relevant to all
              FEMA Mission Areas.</p>
            <h4>Guides and Best Practices</h4>
            <p><a href="http://rems.ed.gov/IHECampusPublicSafety.aspx">Campus Public Safety </a>
              <br>This resource discusses the most common campus public safety issues faced by IHEs.</p>
            <p><a
                href="/redirect?url=https%3A%2F%2Fwww.campussafetymagazine.com%2Fsafety%2Fsecurity_strategy_college_safety_campus%2F">The
                Security Strategy That Works for 2 College Campuses </a>
              <br>This resource offers a brief summary of the security strategies at University of San Francisco and
              Virginia Commonwealth University.</p>
            <p><a
                href="/redirect?url=https%3A%2F%2Fwww.campussafetymagazine.com%2Funiversity%2Fterrorism_security_college_campus_emergency_response%2F">What
                Does Terrorism Look Like on a College Campus?</a>
              <br>This article discusses the different definitions of terrorism as well as a wide variety of terrorist
              motivations and changing tactics that make addressing terrorism a challenge.</p>
            <p><a
                href="/redirect?url=https%3A%2F%2Fwww.campussafetymagazine.com%2Fhospital%2Fbuilding_your_campus_security_muscle_minds%2F">Building
                Your Campus' Security Muscle &amp; Minds</a>
              <br>This article instructs readers on how to foster executive, community, and security officer buy-in for
              programs, as well as make public safety training more effective.</p>
            <p><a href="https://www.ovc.gov/pubs/mvt-toolkit/federal-agencies.html">Helping Victims of Mass Violence &amp;
                Terrorism: Planning, Response, Recovery, and Resources</a>
              <br>This website offers a compendium of resources to assist in the preparation of victim assistance plans as
              a part of state and local emergency response plans.</p>
            <p><a href="/redirect?url=https%3A%2F%2Fwww.isbe.net%2FDocuments%2Fschool_bus_security.pdf">School Bus
                Security Flyer</a>
              <br>This flyer provides guidelines and other materials to school districts and transportation provides on
              school bus security.</p>
            <p><a href="https://www2.illinois.gov/ready/sitecollectiondocuments/k-12schoolsecuritypracticesguide.pdf">K-12
                School Security Practices Guide</a>
              <br>Developed by the Department of Homeland Security this guide provides security best practices for
              consideration by communities to deter threats, address hazards and risks, and minimize damages from
              incidents at school.</p>
            <p><a href="https://www.secretservice.gov/protection/ntac/research/">National Threat Assessment Center (NTAC),
                Research and Publications</a>
              <br>The U.S. Secret Service's NTAC Research and Publications webpage provides information for law
              enforcement officials, public safety professionals, and others on threat assessment investigations, the
              prevention of targeted violence, and relevant operational research.</p>
            <p><a href="https://www.ice.gov/hsi">Homeland Security Investigations (HSI) Website</a>
              <br>This website provides information on HSI, the critical investigative arm of the Department of Homeland
              Security. HSI includes an Education Outreach Program, which is an effort to share information about the
              dangers within online environments, how to stay safe online; and how to report abuse and suspicious
              activity.</p>
            <h4>Research and Reports</h4>
            <p><a
                href="http://www.oregon.gov/highered/about/Documents/Commission/COMMISSION/2017/01-Jan-12-17/9.0a.CSWGFinalReport.pdf">Campus
                Safety at Oregon Post-Secondary Education Institutions</a>
              <br>This analysis, prepared by the University of Oregon Campus Safety Working Group, seeks to improve the
              safety and resilience of Oregon campuses.</p>
            <p><a href="https://www.fbi.gov/file-repository/campus-attacks.pdf/view">Campus Attacks: Targeted Violence
                Affecting Institutions of Higher Education</a>
              <br>This report discussed the types of school and workplace violence threats that could occur within an
              academic community.</p>
            <h4>Tools</h4>
            <p><a href="https://ope.ed.gov/campussafety/#/">Campus Safety and Security</a>
              <br>This website offers common tools needed for campus safety and security analysis.</p>
            <p><a href="/redirect?url=https%3A%2F%2Fwww.asvnearmiss.org%2F">Averted School Violence (ASV) Near Miss
                Reporting System</a>
              <br>This resource allows Institutions of Higher Education to share reports of averted school violence to
              improve school safety.</p>
            <h4>Training</h4>
            <p><a
                href="mailto:highwaysecurity@dhs.gov?subject=TSA's%20School%20Transportation%20Training%20Materials">School
                Transportation Security Outreach Program</a>
              <br>The School Transportation Security Outreach Program sponsored by the Transportation Security Agency
              (TSA) provides guidelines and other materials to school districts and transportation providers on school bus
              security. To request TSA's school transportation training materials, contact <a
                href="mailto:highwaysecurity@dhs.gov">highwaysecurity@dhs.gov</a>.</p>
            <p><a href="https://www.firstrespondertraining.gov/frt/npccatalog?courseId=444#anc-search-results">Crisis
                Management for School-Based Incidents--Partnering Rural Law Enforcement, First Responders, and Local
                School Systems Web-Based Course</a>
              <br>Sponsored by the Rural Domestic Preparedness Consortium, this awareness-level course has been developed
              to educate rural emergency responders, in particular law enforcement, as well as school administrators and
              staff on the elements that must be in place to effectively respond to school-based emergencies. This course
              provides an opportunity for rural law enforcement and school personnel to develop a partnership with regard
              to school safety through effective collaborative planning, preparedness, communication, and coordination of
              resources.</p>
          </div>
        </div>
      </main>
    </div>
  </div>

{% endblock %}
