{% extends 'layouts/_base.njk' %}

{% block header %}
  {% render '@header--extended' %}
{% endblock %}

{% block body %}

  <main id="main-content">
    {% render '@hero' %}

    {% if tagline %}
    <section class="usa-grid usa-section">
      <div class="usa-width-one-third">
        <h2>{{ tagline.title }}</h2>
      </div>
      <div class="usa-width-two-thirds">
        {{ tagline.content }}
      </div>
    </section>
    {% endif %}

    {% render '@graphic-list' %}

    <section class="usa-section">
      <div class="usa-grid">
        <h2>Section heading</h2>
        <p class="usa-font-lead">Everything up to this point should help people understand your agency or project: who you are, your goal or mission, and how you approach it. Use this section to encourage them to act. Describe why they should get in touch here, and use an active verb on the button below. “Get in touch,” “Learn more,” and so on.</p>
        <a class="usa-button usa-button-big" href="#">Call to action</a>
      </div>
    </section>

  </main>
{% endblock %}
