<main id="main-content">
  <div class="bg-base-lightest">
    <section class="grid-container usa-section">
      <div class="grid-row flex-justify-center">
        <div class="grid-col-12 tablet:grid-col-8 desktop:grid-col-6">
          <div class="bg-white padding-y-3 padding-x-5 border border-base-lighter">
            <h1 class="margin-bottom-0">Sign in</h1>
            {% render '@sign-in-form' %}
          </div>
          <p class="text-center">Don’t have an account? <a class="usa-link" href="javascript:void(0);">Create your account now</a>.</p>
          {% render '@layout--federal-employee-sign-in' %}
        </div>
      </div>
    </section>
  </div>
</main>