<p><a class="usa-link" href="javascript:void(0);">This</a> is a text link on a light background.</p>

<p><a class="usa-link usa-color-text-visited" href="javascript:void(0);">This</a> is a visited link.</p>

<p>This is a link that goes to an <a class="usa-link usa-link--external" href="https://i.giphy.com/media/WPzQF6ruiIIVzHNlwX/source.gif">external website</a>.</p>

<div class="usa-dark-background">
  <p><a class="usa-link" href="javascript:void(0);">This</a> is a text link on a dark background.</p>
</div>
