<div class="margin-top-2">
  <button type="button" class="usa-button usa-tooltip"  data-position="top" title="Tooltip on top">Show on top</button>
  <button type="button" class="usa-button usa-tooltip"  data-position="right" title="Tooltip on right">Show on right</button>
</div>

<div class="margin-top-2">
  <button type="button" class="usa-button usa-tooltip"  data-position="left" title="Tooltip on left">Show on left</button>
  <button type="button" class="usa-button usa-tooltip"  data-position="bottom" title="Tooltip on bottom">Show on bottom</button>
</div>
