<div class="grid-row padding-8">
  <div class="tablet:grid-col-3 margin-top-2 text-center">
    <button type="button" class="usa-button usa-tooltip" data-position="top" data-classes="{{tooltip.classes}}" title="Tooltip on top">Show on top</button>
  </div>
  <div class="tablet:grid-col-3 margin-top-2 text-center">
    <button type="button" class="usa-button usa-tooltip" data-position="bottom" data-classes="{{tooltip.classes}}" title="Tooltip on bottom">Show on bottom</button>
  </div>
  <div class="tablet:grid-col-3 margin-top-2 text-center">
    <button type="button" class="usa-button usa-tooltip" data-position="right" data-classes="{{tooltip.classes}}" title="Tooltip on right">Show on right</button>
  </div>
  <div class="tablet:grid-col-3 margin-top-2 text-center">
    <button type="button" class="usa-button usa-tooltip" data-position="left" data-classes="{{tooltip.classes}}" title="Tooltip on left">Show on left</button>
  </div>
</div>