

<div class="grid-example">
  <div class="usa-grid">
    <h2 class="usa-heading">Grid Offset Examples</h2>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-half usa-offset-one-twelfth">
      <h3>One Twelfth Offset</h3>
      <p>Georgia is a state located in the southeastern United States. It was established in 1732 and was the last of the original Thirteen Colonies. Named after King George II of Great Britain, Georgia was the fourth state to ratify the United States Constitution, on January 2, 1788. Georgia declared its secession from the Union on January 19, 1861, and was one of the original seven Confederate states. Georgia was the last state to be restored to the Union, on July 15, 1870. Georgia is the 24th largest and the 8th most populous of the 50 United States.</p>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-half usa-offset-one-sixth">
      <h3>One Sixth Offset</h3>
      <p>Georgia is a state located in the southeastern United States. It was established in 1732 and was the last of the original Thirteen Colonies. Named after King George II of Great Britain, Georgia was the fourth state to ratify the United States Constitution, on January 2, 1788. Georgia declared its secession from the Union on January 19, 1861, and was one of the original seven Confederate states. Georgia was the last state to be restored to the Union, on July 15, 1870. Georgia is the 24th largest and the 8th most populous of the 50 United States.</p>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-half usa-offset-one-fourth">
      <h3>One Fourth Offset</h3>
      <p>Georgia is a state located in the southeastern United States. It was established in 1732 and was the last of the original Thirteen Colonies. Named after King George II of Great Britain, Georgia was the fourth state to ratify the United States Constitution, on January 2, 1788. Georgia declared its secession from the Union on January 19, 1861, and was one of the original seven Confederate states. Georgia was the last state to be restored to the Union, on July 15, 1870. Georgia is the 24th largest and the 8th most populous of the 50 United States.</p>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-half usa-offset-one-third">
      <h3>One Third Offset</h3>
      <p>Georgia is a state located in the southeastern United States. It was established in 1732 and was the last of the original Thirteen Colonies. Named after King George II of Great Britain, Georgia was the fourth state to ratify the United States Constitution, on January 2, 1788. Georgia declared its secession from the Union on January 19, 1861, and was one of the original seven Confederate states. Georgia was the last state to be restored to the Union, on July 15, 1870. Georgia is the 24th largest and the 8th most populous of the 50 United States.</p>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-half usa-offset-one-half">
      <h3>One Half Offset</h3>
      <p>Georgia is a state located in the southeastern United States. It was established in 1732 and was the last of the original Thirteen Colonies. Named after King George II of Great Britain, Georgia was the fourth state to ratify the United States Constitution, on January 2, 1788. Georgia declared its secession from the Union on January 19, 1861, and was one of the original seven Confederate states. Georgia was the last state to be restored to the Union, on July 15, 1870. Georgia is the 24th largest and the 8th most populous of the 50 United States.</p>
    </div>
  </div>
</div>

<style scoped>

.grid-example > div {
  margin: 2em 0;
}

.grid-example > div > div {
  border: 1px solid #ccc;
  padding: 1em;
}

</style>

