

<header class="usa-header usa-header-basic" role="banner">
  <div class="usa-nav-container">
    <div class="usa-navbar">
  <div class="usa-logo" id="basic-logo">
    <em class="usa-logo-text">
      <a href="/"
        title="Home"
        aria-label="Home">
        Department of Web Design
      </a>
    </em>
  </div>
  <button class="usa-menu-btn">Menu</button>
</div>

    <nav role="navigation" class="usa-nav">
      
      <button class="usa-nav-close">
  <img src="../../dist/img/close.svg" alt="close">
</button>
<ul class="usa-nav-primary usa-accordion"><li><button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="basic-nav-section-one">
      <span>Section title</span>
    </button>
    <ul id="basic-nav-section-one" class="usa-nav-submenu"><li>
              <a href="#">Subsection title</a>
            </li><li>
              <a href="#">Subsection title</a>
            </li><li>
              <a href="#">Subsection title</a>
            </li></ul></li><li><button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="basic-nav-section-two">
      <span>Simple terms</span>
    </button>
    <ul id="basic-nav-section-two" class="usa-nav-submenu"><li>
              <a href="#">Subsection title</a>
            </li><li>
              <a href="#">Subsection title</a>
            </li><li>
              <a href="#">Subsection title</a>
            </li></ul></li><li><a class="usa-nav-link" href="javascript:void(0)">
      <span>Distinct from each other</span>
    </a></li></ul><form class="usa-search usa-search-small ">
  <div role="search">
    <label class="usa-sr-only" for="basic-search-field-small">Search small</label>
    <input id="basic-search-field-small" type="search" name="search">
    <button type="submit">
      <span class="usa-sr-only">Search</span>
    </button>
  </div>
</form>

      
    </nav>
  </div>
</header>
<div class="usa-overlay"></div>

