

<section class="usa-hero">
  <div class="usa-grid">
    <div class="usa-hero-callout usa-section-dark">
      <h2>
        
          <span class="usa-hero-callout-alt">Hero callout:</span>
        
        Call attention to a current priority
      </h2>

      
      <p>Support the callout with some short explanatory text. You don't need more than a couple of sentences.</p>
      

      
      <a class="usa-button" href="javascript:void(0)">Learn about what we do</a>
      
    </div>
  </div>
</section>

