

<div class="usa-nav-secondary">
  
    <form class="usa-search usa-search-small  js-search-form">
  <div role="search">
    <label class="usa-sr-only" for="search-field-small">Search small</label>
    <input id="search-field-small" type="search" name="search">
    <button type="submit">
      <span class="usa-sr-only">Search</span>
    </button>
  </div>
</form>

  
  <ul class="usa-unstyled-list usa-nav-secondary-links">
    
    <li class="js-search-button-container">
      <button class="usa-header-search-button js-search-button">Search</button>
    </li>
    
    
    <li>
      <a href="">
        Secondary priority link
      </a>
    </li>
    
    <li>
      <a href="">
        Easy to comprehend
      </a>
    </li>
    
  </ul>
</div>

