

<section class="usa-grid">

  <div class="usa-width-one-third">
    <h6 class="usa-heading-alt">Single level</h6>
    

<nav>
  <ul class="usa-sidenav-list">
    
  
  <li>
    <a href="" class="usa-current">
      Current page
    </a>
    
  </li>
  
  <li>
    <a href="">
      Parent link
    </a>
    
  </li>
  
  <li>
    <a href="">
      Parent link
    </a>
    
  </li>
  

  </ul>
</nav>

  </div>

  <div class="usa-width-one-third">
    <h6 class="usa-heading-alt">Two levels</h6>
    

<nav>
  <ul class="usa-sidenav-list">
    
  
  <li>
    <a href="">
      Parent link
    </a>
    
  </li>
  
  <li>
    <a href="" class="usa-current">
      Current page
    </a>
    
    <ul class="usa-sidenav-sub_list">
      
  
  <li>
    <a href="">
      Child link
    </a>
    
  </li>
  
  <li>
    <a href="">
      Child link
    </a>
    
  </li>
  
  <li>
    <a href="">
      Child link
    </a>
    
  </li>
  
  <li>
    <a href="">
      Child link
    </a>
    
  </li>
  
  <li>
    <a href="" class="usa-current">
      Child link
    </a>
    
  </li>
  

    </ul>
    
  </li>
  
  <li>
    <a href="">
      Parent link
    </a>
    
  </li>
  

  </ul>
</nav>

  </div>

  <div class="usa-width-one-third">
    <h6 class="usa-heading-alt">Three levels</h6>
    

<nav>
  <ul class="usa-sidenav-list">
    
  
  <li>
    <a href="">
      Parent link
    </a>
    
  </li>
  
  <li>
    <a href="" class="usa-current">
      Current page
    </a>
    
    <ul class="usa-sidenav-sub_list">
      
  
  <li>
    <a href="">
      Child link
    </a>
    
  </li>
  
  <li>
    <a href="">
      Child link
    </a>
    
    <ul class="usa-sidenav-sub_list">
      
  
  <li>
    <a href="">
      Grandchild link
    </a>
    
  </li>
  
  <li>
    <a href="">
      Grandchild link
    </a>
    
  </li>
  
  <li>
    <a href="" class="usa-current">
      Grandchild link
    </a>
    
  </li>
  

    </ul>
    
  </li>
  
  <li>
    <a href="">
      Child link
    </a>
    
  </li>
  
  <li>
    <a href="">
      Child link
    </a>
    
  </li>
  
  <li>
    <a href="">
      Child link
    </a>
    
  </li>
  

    </ul>
    
  </li>
  
  <li>
    <a href="">
      Parent link
    </a>
    
  </li>
  

  </ul>
</nav>

  </div>

</section>

