

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds Content: Default</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/css/uswds.min.css">
  </head>
  <body>
    
  <div class="grid-container usa-prose" style="padding-top: 2em; padding-bottom: 2em;">
    <form class="usa-form">
  <fieldset class="usa-fieldset">
    <legend class="usa-legend">Sign in</legend>
    <span>or <a href="javascript:void(0);">create an account</a></span>

    <label class="usa-label" for="username">Username or email address</label>
    <input class="usa-input" id="username" name="username" type="text" autocapitalize="off" autocorrect="off">

    <label class="usa-label" for="password-sign-in">Password</label>
    <input class="usa-input" id="password-sign-in" name="password" type="password">
    <p class="usa-form__note">
      <a title="Show password" href="javascript:void(0);"
        class="usa-show-password"
        aria-controls="password-sign-in">Show password</a>
    </p>

    <input class="usa-button" type="submit" value="Sign in">
    <p><a href="javascript:void(0);" title="Forgot username">
      Forgot username?</a></p>
    <p><a href="javascript:void(0);" title="Forgot password">
      Forgot password?</a></p>
  </fieldset>
</form>

  </div>

    <script src="../../dist/js/uswds.min.js"></script>
    <script>
    window.addEventListener('load', function() {
      document.body.addEventListener('submit', function(e) {
        // https://github.com/uswds/uswds/issues/2101
        e.preventDefault();
      }, true);
    }, false);
    </script>
  </body>
</html>

