@mixin add-background-image($image-name) {
  $image-name: unquote($image-name);
  background-image: url('#{$theme-image-path}/#{$image-name}.png');
  background-image: url('#{$theme-image-path}/#{$image-name}.svg');
}
