@mixin add-link-styles($color, $hover: null, $active: null) {
  @if type-of($color) == "list" {
    $active: nth($color, 3);
    $hover: nth($color, 2);
    $color: nth($color, 1);
  }

  &:link {
    color: color($color);
  }
  &:visited {
    color: color($color);
  }
  &:hover {
    color: color($hover);
  }
  &:active {
    color: color($active);
  }
}
