@mixin alert-status-styles($name, $bgcolor) {
  @include add-background-svg("alerts/#{$name}");
  background-color: color($bgcolor);
  $banner-text-color-token: get-token-from-bg($bgcolor);
  color: color($banner-text-color-token);

  &::before {
    background-color: color(map-get($alerts-bar, $name));
  }

  .usa-alert__body {
    padding-left: units($theme-alert-icon-size) + units($theme-alert-padding-x);
  }

  .usa-link {
    @include set-link-from-bg($bgcolor);
  }

  &.usa-alert--no-icon {
    background-image: none;

    .usa-alert__body {
      padding-left: 0;
    }
  }
}
