@mixin button-unstyled {
  @include typeset-link;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-weight: font-weight('normal');
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-font-smoothing: auto;

  &:hover,
  &:active {
    background-color: transparent;
    text-decoration: underline;
  }
}
