@mixin external-link($contrast-bg: "default") {
  &::after {
    $external-link-size: 1.75ex;
    @include add-color-icon(
      (
        "name": "launch",
        "color": currentColor,
        "height": $external-link-size,
        "svg-height": 24,
        "svg-width": 24,
      ),
      $contrast-bg
    );
    content: "";
    height: $external-link-size;
    margin-left: units(2px);
    // Use following inline styling to prevent icon splitting over line breaks
    background-position: center;
    display: inline;
    padding-left: $external-link-size;
    vertical-align: middle;
  }
}
