@mixin grid-container($props...) {
  @include margin-x(auto);
  @if length($props) == 0 {
    @include maxw(desktop);
  }
  @else {
    $props: smart-quote(nth($props, 1));
    @include maxw($props);
  }
}

@mixin grid-row($props...) {
  @include display(flex);
  @include flex(wrap);
}

@mixin grid-gap($props...) {
  @if length($props) == 0 {
    $props: $theme-column-gap;
  }
  @else {
    $props: smart-quote(nth($props, 1));
  }
  @if $props == 0 {
    @include margin-x(0);

    > * {
      @include padding-y(0);
    }
  }
  @else {
    @if map-has-key($project-column-gaps, $props) {
      $props: map-get($project-column-gaps, $props);
    }
    @include margin-x(unquote("#{$neg-prefix}-#{calc-gap-offset($props)}"));
    > * {
      @include padding-x(calc-gap-offset($props));
    }
  }
}

@mixin grid-col($props...) {
  @if length($props) == 0 {
    @include flex(fill);
    @include width(auto);
  }
  @else {
    $props: smart-quote(nth($props, 1));
    @if $props == 'auto' {
      @include flex(auto);
      @include width(auto);
    }
    @elseif $props == 'fill' {
      @include flex(fill);
      @include width(auto);
    }
    @elseif not map-has-key($uswds-layout-grid-widths, $props) {
      @error "#{$props} is not a valid layout grid width. Valid width are #{map-keys($uswds-layout-grid-widths)}";
    }
    @else {
      $width: map-get($uswds-layout-grid-widths, $props);
      @include width(override, $width);
      @include flex(auto);
    }
  }
}

@mixin grid-offset($props) {
  $props: smart-quote($props);
  @if not map-has-key($uswds-layout-grid-widths, $props) {
    @error "#{$props} is not a valid layout grid width. Valid width are #{map-keys($uswds-layout-grid-widths)}";
  }
  @else {
    $width: map-get($uswds-layout-grid-widths, $props);
    @include margin-left(override, $width);
  }
}
