@mixin set-text-from-bg(
  $bg-color,
  $preferred-text-color: "white",
  $fallback-text-color: "ink",
  $wcag-target: "AA"
) {
  $accessible-color-token: get-token-from-bg(
    $bg-color,
    $preferred-text-color,
    $fallback-text-color,
    $wcag-target
  );
  color: color($accessible-color-token);
}

@mixin set-text-and-bg(
  $bg-color,
  $preferred-text-color: "white",
  $fallback-text-color: "ink",
  $wcag-target: "AA"
) {
  @include set-text-from-bg(
    $bg-color,
    $preferred-text-color,
    $fallback-text-color,
    $wcag-target
  );
  background-color: color($bg-color);
}
