$sidenav-child-padding-left: units($theme-site-margins-mobile) + units(1.5);
$sidenav-grandchild-padding-left: units($theme-site-margins-mobile) + units(1.5) * 2;

@mixin usa-sidenav-list {
  @include unstyled-list();

  > li {
    background-color: transparent;
    border-top: units(1px) solid color('base-dark');
    font-size: scale('body', 'sm');

    &:first-child {
      border-top: none;
    }
  }

  a {
    border: none;
    color: color('base-dark');
    display: block;
    font-family: font-family('body');
    line-height: line-height($theme-font-family-sidenav, 3);
    padding: units(1) units($theme-site-margins-mobile);
    text-decoration: none;

    &:hover {
      background-color: color('base-lightest');
      color: color('primary');
      text-decoration: none;
    }

    &:focus {
      outline-offset: 0;
      position: relative;
    }
  }

  .usa-current {
    border-left: units($sidenav-current-border-width) solid color('primary');
    color: color('primary');
    font-weight: font-weight('bold');
    padding-left: units($theme-site-margins-mobile) - units($sidenav-current-border-width);
  }
}

@mixin usa-sidenav-sublist-no-border {
  border: none;
  padding-left: $sidenav-child-padding-left;
}

@mixin usa-sidenav-sublist {
  @include unstyled-list();
  margin: 0;
  width: 100%;

  li {
    border: none;
    font-size: scale('body', 'xs');
  }

  a {
    padding-left: $sidenav-child-padding-left;
    line-height: line-height($theme-font-family-sidenav, 3);

    &:hover {
      @include usa-sidenav-sublist-no-border;
    }
  }

  .usa-current {
    @include usa-sidenav-sublist-no-border;
  }

  .usa-sidenav-sub_list {
    a {
      padding-left: $sidenav-grandchild-padding-left;

      &:focus {
        outline-offset: 0;
      }

      &:hover {
        padding-left: $sidenav-grandchild-padding-left;
      }
    }
  }
}
