// Outputs border-width of $value width
@mixin u-border-x-width($value) {
  border-left-width: spacing($value);
  border-right-width: spacing($value);
}

@mixin u-border-y-width($value) {
  border-bottom-width: spacing($value);
  border-top-width: spacing($value);
}
