// Adds margin either l/r(x) or t/b(y)

@mixin u-margin-n($side, $value) {
  @if $side == all {
    margin: spacing($value);
  }
  @elseif $side == x {
    margin-left: spacing($value);
    margin-right: spacing($value);
  }
  @elseif $side == y {
    margin-bottom: spacing($value);
    margin-top: spacing($value);
  }
  @else {
    margin-#{$side}: spacing($value);
  }
}

@mixin u-margin($value) {
  @include u-margin-n(all, $value);
}

@mixin u-margin-x($value) {
  @include u-margin-n(x, $value);
}

@mixin u-margin-y($value) {
  @include u-margin-n(y, $value);
}

@mixin u-margin-top($value) {
  @include u-margin-n(top, $value);
}

@mixin u-margin-right($value) {
  @include u-margin-n(right, $value);
}

@mixin u-margin-bottom($value) {
  @include u-margin-n(bottom, $value);
}

@mixin u-margin-left($value) {
  @include u-margin-n(left, $value);
}
