{% extends "@card--basic" %}

{% block card_body %}
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque vero soluta corporis.
</p>
<ul class="usa-list">
  <li>Lorem ipsum dolor sit.</li>
  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
  <li>Lorem ipsum dolor sit amet consectetur.</li>
</ul>
{% endblock %}

{%- block card_footer -%}
  <a class="usa-link" href="#">Visit Florida Keys</a>
{%- endblock %}
