{% extends "@card--basic" %}

{% block card_body %}
<p>
  A card is typically the visual representation of a member of a collection.
</p>
<ul class="usa-list">
  <li>A card is distinct from its collection peers in content.</li>
  <li>A card is distinct from its page context in form.</li>
  <li>A card is modular in the sense that you can vary the order of its peers without destroying the card’s meaning.</li>
</ul>
{% endblock %}

{%- block card_footer -%}
  <a class="usa-link" href="#">More on Cards</a>
{%- endblock %}
