<style>
  .usa-cards__list {
    display: grid;
    grid-gap: 24px; /* Spacing token 3 */
  }

  /* Tablet */
  @media (min-width: 640px) {
    .usa-cards__list--thirds {
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
    }
  }
</style>

<div class="usa-cards">
  <h2>Card media list w/ empty alt</h2>
  <ul class="usa-cards__list usa-cards__list--thirds add-list-reset">
    <li class="usa-card usa-card--media">
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://images.unsplash.com/photo-1574365379583-54937ea00cb8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
        </div>
      </div>
      <div class="usa-card__header">
        <h3 class="usa-card__heading">
          Each of us needs to do what we can to help the poor
        </h3>
      </div>
      <div class="usa-card__body">
        <p>
          Each of us in our own lives needs to do what we can to help the poor.
          That's why I stand here tonight.
        </p>
        <p>
          He said that the fundamentals of the economy are strong.
          Indeed, none of us should tolerate these extremists.
        </p>
      </div>
      <div class="usa-card__footer">
        <a href="javascript:void(0);" class="usa-button">Help the less fortunate</a>
      </div>
    </li>
    <li class="usa-card usa-card--media">
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://images.unsplash.com/photo-1572718582001-1f7ea0bae8e6?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
        </div>
      </div>
      <div class="usa-card__header">
        <h3 class="usa-card__heading">
          We can have an idea
        </h3>
      </div>
      <div class="usa-card__body">
        <p>
          That we can have an idea and start our own business without paying a bribe.
          It's not consistent with our traditions of justice and fairness.
        </p>
      </div>
      <div class="usa-card__footer">
        <a href="javascript:void(0);" class="usa-button">Start your business</a>
      </div>
    </li>
    <li class="usa-card usa-card--media">
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://images.unsplash.com/photo-1580204438150-2026ef6d46f2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
        </div>
      </div>
      <div class="usa-card__header">
        <h3 class="usa-card__heading">
          Let's come together
        </h3>
      </div>
      <div class="usa-card__body">
        <p>
          Let's come together - Protestant and Catholic, Muslim and Hindu and
          Jew, believer and non-believer alike.
        </p>
      </div>
      <div class="usa-card__footer">
        <a href="javascript:void(0);" class="usa-button">Join the cause</a>
      </div>
    </li>
    <li class="usa-card usa-card--media">
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://images.unsplash.com/photo-1574004294357-6e78ed4fb9d7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
        </div>
      </div>
      <div class="usa-card__header">
        <h3 class="usa-card__heading">
          Let's come together
        </h3>
      </div>
      <div class="usa-card__body">
        <p>
          Let's come together - Protestant and Catholic, Muslim and Hindu and
          Jew, believer and non-believer alike.
        </p>
      </div>
      <div class="usa-card__footer">
        <a href="javascript:void(0);" class="usa-button">Come together</a>
      </div>
    </li>
    <li class="usa-card usa-card--media">
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://images.unsplash.com/photo-1585922323554-6959cfd2ee78?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
        </div>
      </div>
      <div class="usa-card__header">
        <h3 class="usa-card__heading">
          The Audacity of Hope
        </h3>
      </div>
      <div class="usa-card__body">
        <p>
          We can affirm our faith without endangering the separation of church
          and state, as long as we understand that when we're in the public
          square, we have to speak in universal terms that everyone can understand.
        </p>
      </div>
      <div class="usa-card__footer">
        <a href="javascript:void(0);" class="usa-button">Speak in universal terms</a>
      </div>
    </li>
    <li class="usa-card usa-card--media">
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://images.unsplash.com/photo-1531079237282-5bc34816aa27?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
        </div>
      </div>
      <div class="usa-card__header">
        <h3 class="usa-card__heading">
          Help people pursue a better life
        </h3>
      </div>
      <div class="usa-card__body">
        <p>
          I'm talking about something more substantial. The audacity of hope!
          In the end, that is God's greatest gift to us, the bedrock of this nation.
        </p>
      </div>
      <div class="usa-card__footer">
        <a href="javascript:void(0);" class="usa-button">Pursue a better life</a>
      </div>
    </li>
  </ul>
</div>

<div class="usa-cards">
  <h2>Card media list w/ Section</h2>
  <ul class="usa-cards__list usa-cards__list--thirds add-list-reset">
    <li>
      <section class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1574365379583-54937ea00cb8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            Each of us needs to do what we can to help the poor
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            Each of us in our own lives needs to do what we can to help the poor.
            That's why I stand here tonight.
          </p>
          <p>
            He said that the fundamentals of the economy are strong.
            Indeed, none of us should tolerate these extremists.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Help the less fortunate</a>
        </div>
      </section>
    </li>
    <li>
      <section class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1572718582001-1f7ea0bae8e6?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            We can have an idea
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            That we can have an idea and start our own business without paying a bribe.
            It's not consistent with our traditions of justice and fairness.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Start your business</a>
        </div>
      </section>
    </li>
    <li>
      <section class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1580204438150-2026ef6d46f2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            Let's come together
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            Let's come together - Protestant and Catholic, Muslim and Hindu and
            Jew, believer and non-believer alike.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Join the cause</a>
        </div>
      </section>
    </li>
    <li>
      <section class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1574004294357-6e78ed4fb9d7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            Let's come together
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            Let's come together - Protestant and Catholic, Muslim and Hindu and
            Jew, believer and non-believer alike.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Come together</a>
        </div>
      </section>
    </li>
    <li>
      <section class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1585922323554-6959cfd2ee78?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            The Audacity of Hope
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            We can affirm our faith without endangering the separation of church
            and state, as long as we understand that when we're in the public
            square, we have to speak in universal terms that everyone can understand.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Speak in universal terms</a>
        </div>
      </section>
    </li>
    <li>
      <section class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1531079237282-5bc34816aa27?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            Help people pursue a better life
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            I'm talking about something more substantial. The audacity of hope!
            In the end, that is God's greatest gift to us, the bedrock of this nation.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Pursue a better life</a>
        </div>
      </section>
    </li>
  </ul>
</div>

<div class="usa-cards">
  <h2>Cards as Sections w/ USWDS Grid</h2>
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <section class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1574365379583-54937ea00cb8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            Each of us needs to do what we can to help the poor
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            Each of us in our own lives needs to do what we can to help the poor.
            That's why I stand here tonight.
          </p>
          <p>
            He said that the fundamentals of the economy are strong.
            Indeed, none of us should tolerate these extremists.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Help the less fortunate</a>
        </div>
      </section>
    </div>
    <div class="tablet:grid-col-4">
      <section class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1572718582001-1f7ea0bae8e6?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            We can have an idea
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            That we can have an idea and start our own business without paying a bribe.
            It's not consistent with our traditions of justice and fairness.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Start your business</a>
        </div>
      </section>
    </div>
    <div class="tablet:grid-col-4">
      <section class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1580204438150-2026ef6d46f2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            Let's come together
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            Let's come together - Protestant and Catholic, Muslim and Hindu and
            Jew, believer and non-believer alike.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Join the cause</a>
        </div>
      </section>
    </div>
    <div class="tablet:grid-col-4">
      <section class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1574004294357-6e78ed4fb9d7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            Let's come together
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            Let's come together - Protestant and Catholic, Muslim and Hindu and
            Jew, believer and non-believer alike.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Come together</a>
        </div>
      </section>
    </div>
    <div class="tablet:grid-col-4">
      <section class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1585922323554-6959cfd2ee78?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            The Audacity of Hope
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            We can affirm our faith without endangering the separation of church
            and state, as long as we understand that when we're in the public
            square, we have to speak in universal terms that everyone can understand.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Speak in universal terms</a>
        </div>
      </section>
    </div>
    <div class="tablet:grid-col-4">
      <section class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1531079237282-5bc34816aa27?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            Help people pursue a better life
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            I'm talking about something more substantial. The audacity of hope!
            In the end, that is God's greatest gift to us, the bedrock of this nation.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Pursue a better life</a>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="usa-cards">
  <h2>Card media list w/ Divs</h2>
  <ul class="usa-cards__list usa-cards__list--thirds add-list-reset">
    <li>
      <div class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1574365379583-54937ea00cb8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            Each of us needs to do what we can to help the poor
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            Each of us in our own lives needs to do what we can to help the poor.
            That's why I stand here tonight.
          </p>
          <p>
            He said that the fundamentals of the economy are strong.
            Indeed, none of us should tolerate these extremists.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Help the less fortunate</a>
        </div>
      </div>
    </li>
    <li>
      <div class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1572718582001-1f7ea0bae8e6?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            We can have an idea
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            That we can have an idea and start our own business without paying a bribe.
            It's not consistent with our traditions of justice and fairness.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Start your business</a>
        </div>
      </div>
    </li>
    <li>
      <div class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1580204438150-2026ef6d46f2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            Let's come together
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            Let's come together - Protestant and Catholic, Muslim and Hindu and
            Jew, believer and non-believer alike.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Join the cause</a>
        </div>
      </div>
    </li>
    <li>
      <div class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1574004294357-6e78ed4fb9d7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            Let's come together
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            Let's come together - Protestant and Catholic, Muslim and Hindu and
            Jew, believer and non-believer alike.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Come together</a>
        </div>
      </div>
    </li>
    <li>
      <div class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1585922323554-6959cfd2ee78?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            The Audacity of Hope
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            We can affirm our faith without endangering the separation of church
            and state, as long as we understand that when we're in the public
            square, we have to speak in universal terms that everyone can understand.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Speak in universal terms</a>
        </div>
      </div>
    </li>
    <li>
      <div class="usa-card usa-card--media">
        <div class="usa-card__media">
          <div class="usa-card__img">
            <img src="https://images.unsplash.com/photo-1531079237282-5bc34816aa27?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
          </div>
        </div>
        <div class="usa-card__header">
          <h3 class="usa-card__heading">
            Help people pursue a better life
          </h3>
        </div>
        <div class="usa-card__body">
          <p>
            I'm talking about something more substantial. The audacity of hope!
            In the end, that is God's greatest gift to us, the bedrock of this nation.
          </p>
        </div>
        <div class="usa-card__footer">
          <a href="javascript:void(0);" class="usa-button">Pursue a better life</a>
        </div>
      </div>
    </li>
  </ul>
</div>
