{% extends "@card--basic" %}

{% block card_body %}
<p>
  A card is typically the visual representation of a member of a collection. It can represent a single, discrete piece
  of
  content ora subset or summary of the collection
</p>
<ul class="usa-list">
  <li>A card is distinct from its collection peers in content.</li>
  <li>A card is distinct from its page context in form.</li>
  <li>A card is modular in the sense that you can vary the order of itspeers without destroying the card’s meaning.</li>
  <li>Often incorporates subtle skeuomorphism like a drop shadow.</li>
</ul>
{% endblock %}

{% block card_footer %}
  <a class="usa-link" href="#">More on Cards</a>
{% endblock %}
