<section class="usa-card usa-card--flag">
  <div class="usa-flag__inner">
    <div class="usa-card__media">
      <img class="usa-card__img"
        src="https://images.unsplash.com/photo-1579800070193-abe62433f737?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=800&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
        alt="A placeholder image">
    </div>
    <div class="usa-card__content-wrapper">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">
          A flag component
        </h2>
      </header>
      <div class="usa-card__body">
        <p>
          A card is typically the visual representation of a member of a collection.
          It can represent a single, discrete piece of content or a subset or summary of the collection.
        </p>
      </div>
      <div class="usa-card__footer" aria-label="Action items">
        <button class="usa-button">More on cards</button>
      </div>
    </div>
  </div>
</section>

<section class="usa-card usa-card--flag usa-card--media-right">
  <div class="usa-flag__inner">
    <div class="usa-card__media">
      <img class="usa-card__img"
        src="https://images.unsplash.com/photo-1579800070193-abe62433f737?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=800&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
        alt="A placeholder image">
    </div>
    <div class="usa-card__content-wrapper">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">
          Avoid displaying a card in isolation
        </h2>
      </header>
      <div class="usa-card__body">
        <p>
          Cards are the way to go when you need to present a collection of content
          that is easily browseable and scannable for differences.
        </p>
        <p>
          Do not distract with skeuomorphism (e.g. rips, folds, texture,dramatic shadows, etc.).
          Avoid using the card as just decoration. Give it purpose.
        </p>
      </div>
      <div class="usa-card__footer" aria-label="Action items">
        <a href="#" class="usa-link">More on cards</a>
      </div>
    </div>
  </div>
</section>
