<section class="usa-card usa-card--flag">
  <div class="usa-card__inner">
    <div class="usa-card__media">
      <img class="usa-card__img"
        src="https://images.unsplash.com/photo-1579800070193-abe62433f737?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=610&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
        alt="A placeholder image">
    </div>
    <div class="usa-card__flag-content">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">
          Florida keys
        </h2>
      </header>
      <div class="usa-card__body">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem corrupti saepe omnis reiciendis, mollitia provident?
        </p>
      </div>
      <div class="usa-card__footer" aria-label="Action items">
        <button class="usa-button">Visit Florida keys</button>
      </div>
    </div>
  </div>
</section>

<section class="usa-card usa-card--flag usa-card--media-right">
  <div class="usa-card__inner">
    <div class="usa-card__media">
      <img class="usa-card__img"
        srcset="https://images.unsplash.com/photo-1579800070193-abe62433f737?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ 400w,
                https://images.unsplash.com/photo-1579800070193-abe62433f737?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=607&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ 607w,
                https://images.unsplash.com/photo-1579800070193-abe62433f737?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=286&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ 286w"
        sizes="(max-width: 465px) 400px,
               (max-width: 639px) 607px,
               (min-width: 640px) 286px"
        src="https://images.unsplash.com/photo-1579800070193-abe62433f737?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
        alt="A placeholder image">
    </div>
    <div class="usa-card__flag-content">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">
          Florida keys
        </h2>
      </header>
      <div class="usa-card__body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Doloribus repellat quo maiores vitae rem quaerat aliquid autem.
          Corporis, rem accusantium!
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Nostrum, iste nihil. Laborum obcaecati autem perspiciatis iste vitae
          inventore sint, nihil provident consequuntur, eius veritatis! Dicta.
        </p>
      </div>
      <div class="usa-card__footer" aria-label="Action items">
        <button class="usa-button">Visit Florida keys</button>
      </div>
    </div>
  </div>
</section>
