<div class="grid-row grid-gap">
  <div class="tablet:grid-col">
    {% include "@card--basic" %}
  </div>
  <div class="tablet:grid-col">
    {% include "@card--basic-link" %}
  </div>
  <div class="tablet:grid-col">
    {% include "@card--basic-menu" %}
  </div>
</div>
