<div class="grid-container">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      {% include "@card--basic" %}
    </div>
    <div class="tablet:grid-col-4">
      {% include "@card--basic-link" %}
    </div>
    <div class="tablet:grid-col-4">
      {% include "@card--basic-social" %}
    </div>
  </div>
</div>
