{% extends "@card--basic" %}

{% block card_body %}
<h2 class="usa-card__heading">
  Do cards need to be short and sweet?
</h2>
<p>
  A card is distinct from its collection peers in content.
</p>
{% endblock %}

{% block card_footer %}
  <ul class="usa-card__social usa-social-nav">
    <li class="usa-social-nav__item"><a class="usa-social-nav__link usa-social-nav__link--rss" href="#"><span>RSS</span></a></li>
    <li class="usa-social-nav__item"><a class="usa-social-nav__link usa-social-nav__link--facebook" href="#"><span>Facebook</span></a></li>
    <li class="usa-social-nav__item"><a class="usa-social-nav__link usa-social-nav__link--twitter" href="#"><span>Twitter</span></a></li>
  </ul>
{% endblock %}
