<div class="margin-top-5 grid-container">
  <div class="grid-row grid-gap-6">
    <div class="tablet:grid-col-4">
      {% render '@card--basic' %}
    </div>
    <div class="tablet:grid-col-4">
      {% render '@card--basic' %}
    </div>
    <div class="tablet:grid-col-4">
      {% render '@card--basic' %}
    </div>
  </div>
</div>
