<h6 class="margin-bottom-0">Standard Layout</h6>
<div class="grid-row grid-gap">
  {%- for card in cards -%}
    {% if not card.flag %}
      <div class="tablet:grid-col-4">
        {%- include "@card--basic" -%}
      </div>
    {% endif %}
  {%- endfor -%}
</div>
<h6 class="margin-bottom-0">Flag Layout</h6>
<div class="grid-row grid-gap">
  {%- for card in cards -%}
    {% if card.flag %}
      <div class="tablet:grid-col-6">
        {%- include "@card--basic" -%}
      </div>
    {% endif %}
  {%- endfor -%}
</div>
