<div class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="usa-layout-docs__sidenav desktop:grid-col-3">
        {% include "@components/usa-sidenav/usa-sidenav.twig" %}
      </div>
      <main class="usa-layout-docs__main desktop:grid-col-9 usa-prose usa-layout-docs"
        id="main-content">
        {% include "@components/usa-type-setting/usa-type-setting--templates.twig" %}
      </main>
    </div>
  </div>
</div>
