@use "../settings" as *;
@use "../functions/utilities" as *;
@use "../mixins/utilities/margin" as *;

%usa-list {
  @include u-margin-y(1em);
  line-height: line-height($theme-body-font-family, $theme-body-line-height);
  padding-left: 3ch;

  &:last-child {
    margin-bottom: 0;
  }

  ul,
  ol {
    margin-top: 0.25em;
  }
}

%usa-list-item {
  margin-bottom: 0.25em;
  max-width: measure($theme-text-measure);

  &:last-child {
    margin-bottom: 0;
  }
}
