%usa-table {
  @include border-box-sizing;
  @include typeset;
  border-collapse: collapse;
  border-spacing: 0;
  margin: units(2.5) 0;
  text-align: left;

  thead {
    th {
      font-weight: $theme-font-weight-bold;
    }

    th,
    td {
      background-color: color($theme-table-header-background-color);
    }
  }

  th,
  td {
    @include u-border(1px, $theme-table-border-color);
    background-color: color("white");
    font-weight: $theme-font-weight-normal;
    padding: units(1) units(2);
  }

  caption {
    @include u-font("body", "xs");
    font-weight: $theme-font-weight-bold;
    margin-bottom: units(1.5);
    text-align: left;
  }
}

%usa-table--borderless {
  thead {
    th {
      background-color: transparent;
      border-top: 0;
    }
  }

  th,
  td {
    border-left: 0;
    border-right: 0;
  }
}

%usa-table--compact {
  th,
  td {
    padding: units(0.5) units(1.5);
  }
}

%usa-table--striped {
  tbody {
    tr:nth-child(even) {
      td, 
      th {
        background-color: color($theme-table-stripe-background-color);
      }
    }
  }
  
  }

%usa-table--stacked {
  @include at-media-max("mobile-lg") {
    thead {
      display: none;
    }

    th,
    td {
      display: block;
      width: 100%;
      border-top-width: 0;
    }
    
    tr {
      @include u-border-top(0.5, $theme-table-border-color);
      display: block;
      width: 100%;

      &:nth-child(even) {
        td, 
        th {
          background-color: inherit;
        }
      }

      &:first-child {
        th:first-child,
        td:first-child {
          @include u-border-top(1px, $theme-table-border-color);
        }
      }
    }

    th[data-label]:before,
    td[data-label]:before {
      @include u-border-bottom(1px, $theme-table-border-color);
      content: attr(data-label);
      display: block;
      font-weight: $theme-font-weight-bold;
      margin: units(-1) units(-2) units(1);
      padding: units(1) units(2);
    }
  }

}

%usa-table--stacked-header {
  @extend %usa-table--stacked;
  @include at-media-max("mobile-lg") {
    tr {
      td:first-child,
      th:first-child {
        background-color: color($theme-table-header-background-color);
        @include typeset($theme-body-font-family, $theme-h3-font-size, $theme-heading-line-height);
        font-weight: fw("bold");
        padding: units(1.5) units(2);
        &:before {
          display: none;
        }
      }
    }
  }
}


%usa-table-container--scrollable {
  overflow-y: hidden;
  margin: units(2.5) 0;

  .usa-table {
    margin: 0;
  }

  th, td {
    white-space: nowrap;
  }
}
