@use "sass:map";

@use "../../tokens/color/assignments-theme-color" as *;
@use "../../tokens/color/shortcodes-color-system" as *;

/*
----------------------------------------
get-color-token-assignment()
----------------------------------------
Get the system token equivalent of any
theme color token
----------------------------------------
*/

@function get-color-token-assignment($color-token) {
  $system-token: $color-token;
  $grade: null;

  @if map.has-key($assignments-theme-color, $color-token) {
    $system-token: map.get($assignments-theme-color, $system-token);
  } @else if not map.has-key($system-color-shortcodes, $color-token) {
    @error "'#{$color-token}' is not a valid color token.";
  }

  @return $system-token;
}
