{%- macro nav_list(links, subclass) -%}
  {%- for item in links -%}
  <li class="usa-sidenav__item">
    <a href="{{ item.href }}"{% if item.current %} class="usa-current"{% endif %}>{{ item.text }}</a>
    {%- if item.links -%}
    <ul class="{{ subclass }}">
      {{ nav_list(item.links, subclass) }}
    </ul>
    {%- endif %}
  </li>
  {%- endfor -%}
{%- endmacro -%}

<nav aria-label="Secondary navigation">
  <ul class="usa-sidenav">
    {{ nav_list(sidenav.links, 'usa-sidenav__sublist') }}
  </ul>
</nav>
