/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME UTILITIES SETTINGS
----------------------------------------
-
Read more about settings and
USWDS utilities in the documentation:
https://v2.designsystem.digital.gov/utilities
-
----------------------------------------
*/

$utilities-use-important:     false;
$output-all-utilities:        true;

/*
----------------------------------------
Utility breakpoints
----------------------------------------
Which breakpoints does your project
need? Select as `true` any breakpoint
used by utilities or layout grid
----------------------------------------
*/

$theme-utility-breakpoints: (
  'card':             false,   // 160px
  'card-lg':          false,   // 240px
  'mobile':           false,   // 320px
  'mobile-lg':        true,    // 480px
  'tablet':           true,    // 640px
  'tablet-lg':        false,   // 800px
  'desktop':          true,    // 1024px
  'desktop-lg':       false,   // 1200px
  'widescreen':       false,   // 1400px
);

/*
----------------------------------------
Global colors
----------------------------------------
The following palettes will be added to
- background-color
- border-color
- color
- text-decoration-color
----------------------------------------
*/

$global-color-palettes: (
  'palette-colors-theme',
  'palette-colors-basic',
  'palette-colors-grayscale'
);

/*
----------------------------------------
Settings
----------------------------------------
*/

$add-aspect-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$add-list-reset-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$align-items-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$background-color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

$border-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

$border-color-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

$border-radius-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$border-style-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$border-width-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$bottom-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$box-shadow-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

$circle-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$clearfix-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

$cursor-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$display-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$flex-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$flex-direction-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$flex-wrap-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$float-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-family-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-feature-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-style-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-weight-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$height-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$justify-content-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$left-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$letter-spacing-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$line-height-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$margin-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$max-height-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$max-width-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$measure-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$min-height-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$min-width-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$opacity-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$order-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$outline-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$outline-color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$overflow-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$padding-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$pin-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$position-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$right-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$square-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$text-align-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$text-decoration-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

$text-decoration-color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

$text-indent-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$text-transform-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$top-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$vertical-align-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$whitespace-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$width-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$z-index-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

/*
----------------------------------------
Values
----------------------------------------
*/

// .add-aspect

$add-aspect-palettes: ();
$add-aspect-manual-values: ();

// .align-items

$align-items-palettes: ('palette-default-align-items');
$align-items-manual-values: ();

// .background-color

$background-color-palettes: ();
$background-color-manual-values: ();

// .border

$border-palettes: ('palette-default-border');
$border-manual-values: ();

// .border-color

$border-color-palettes: ();
$border-color-manual-values: ();

// .border-radius

$border-radius-palettes: ('palette-default-border-radius');
$border-radius-manual-values: ();

// .border-style

$border-style-palettes: ('palette-default-border-style');
$border-style-manual-values: ();

// .border-width

$border-width-palettes: ('palette-default-border-width');
$border-width-manual-values: ();

// .bottom

$bottom-palettes: ('palette-default-bottom');

$bottom-manual-values: ();

// .box-shadow

$box-shadow-palettes: (
  /*
  */
  'palette-default-box-shadow'
);

$box-shadow-manual-values: ();

// .circle

$circle-palettes: ('palette-default-circle');
$circle-manual-values: ();

// .color

$color-palettes: ();
$color-manual-values: ();

// .cursor

$cursor-palettes: ('palette-default-cursor');
$cursor-manual-values: ();

// .display

$display-palettes: ('palette-default-display');
$display-manual-values: ();

// .flex

$flex-palettes: ('palette-default-flex');
$flex-manual-values: ();

// .flex-direction

$flex-direction-palettes: ('palette-default-flex-direction');
$flex-direction-manual-values: ();

// .flex-wrap

$flex-wrap-palettes: ('palette-default-flex-wrap');
$flex-wrap-manual-values: ();

// .float

$float-palettes: ('palette-default-float');
$float-manual-values: ();

// .font

$font-palettes: (
  'palette-font-theme-types',
  'palette-font-theme-roles'
);
$font-manual-values: ();

// .font-family

$font-family-palettes: ('palette-default-font-family');
$font-family-manual-values: ();

// .font-feature-settings

$font-feature-palettes: ('palette-default-font-feature-settings');
$font-feature-manual-values: ();

// .font-style

$font-style-palettes: ('palette-default-font-style');
$font-style-manual-values: ();

// .font-weight

$font-weight-palettes: ('palette-default-font-weight');
$font-weight-manual-values: ();

// .height

$height-palettes: ('palette-default-height');
$height-manual-values: ();

// .justify-content

$justify-content-palettes: ('palette-default-justify-content');
$justify-content-manual-values: ();

// .left

$left-palettes: ('palette-default-left');
$left-manual-values: ();

// .letter-spacing

$letter-spacing-palettes: ('palette-default-letter-spacing');
$letter-spacing-manual-values: ();

// .line-height

$line-height-palettes: ('palette-default-line-height');
$line-height-manual-values: ();

// .margin

$margin-palettes: ('palette-default-margin');
$margin-manual-values: ();
$margin-vertical-palettes: ('palette-default-margin-vertical');
$margin-vertical-manual-values: ();
$margin-horizontal-palettes: ('palette-default-margin-horizontal');
$margin-horizontal-manual-values: ();

// .max-height

$max-height-palettes: ('palette-default-max-height');
$max-height-manual-values: ();

// .max-width

$max-width-palettes: ('palette-default-max-width');
$max-width-manual-values: ();

// .measure

$measure-palettes: ('palette-default-measure');
$measure-manual-values: ();

// .min-height

$min-height-palettes: ('palette-default-min-height');
$min-height-manual-values: ();

// .min-width

$min-width-palettes: ('palette-default-min-width');
$min-width-manual-values: ();

// .opacity

$opacity-palettes: ('palette-default-opacity');
$opacity-manual-values: ();

// .order

$order-palettes: ('palette-default-order');
$order-manual-values: ();

// .outline

$outline-palettes: ('palette-default-outline');
$outline-manual-values: ();

// .outline-color

$outline-color-palettes: ('palette-default-outline-color');
$outline-color-manual-values: ();

// .overflow

$overflow-palettes: ('palette-default-overflow');
$overflow-manual-values: ();

// .padding

$padding-palettes: ('palette-default-padding');
$padding-manual-values: ();

// .position

$position-palettes: ('palette-default-position');
$position-manual-values: ();

// .right

$right-palettes: ('palette-default-right');
$right-manual-values: ();

// .square

$square-palettes: ('palette-default-square');
$square-manual-values: ();

// .text-align

$text-align-palettes: ('palette-default-text-align');
$text-align-manual-values: ();

// .text-decoration

$text-decoration-palettes: ('palette-default-text-decoration');
$text-decoration-manual-values: ();

// .text-decoration-color

$text-decoration-color-palettes: ();
$text-decoration-color-manual-values: ();

// .text-indent

$text-indent-palettes: ('palette-default-text-indent');
$text-indent-manual-values: ();

// .text-transform

$text-transform-palettes: ('palette-default-text-transform');
$text-transform-manual-values: ();

// .top

$top-palettes: ('palette-default-top');
$top-manual-values: ();

// .vertical-align

$vertical-align-palettes: ('palette-default-vertical-align');
$vertical-align-manual-values: ();

// .white-space

$whitespace-palettes: ('palette-default-white-space');
$whitespace-manual-values: ();

// .width

$width-palettes: ('palette-default-width');
$width-manual-values: ();

// .z-index

$z-index-palettes: ('palette-default-z-index');
$z-index-manual-values: ();
