/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME GENERAL SETTINGS
----------------------------------------
*/

/*
----------------------------------------
Paths
----------------------------------------
Relative font and image file paths
----------------------------------------
*/

$theme-font-path:   '../fonts';
$theme-image-path:  '../img';

/*
----------------------------------------
Namespace
----------------------------------------
*/

$theme-namespace: (
  'component': (
    namespace:  'usa-',
    output:     true,
  ),
  'grid': (
    namespace:  'grid-',
    output:     true,
  ),
  'object': (
    namespace:  'add-',
    output:     true,
  ),
  'utility': (
    namespace:  'u-',
    output:     false,
  ),
);

/*
----------------------------------------
Border box sizing
----------------------------------------
When set to true, it sets the box-sizing
property of all elements to
`border-box`.

TODO: How are we using this?
----------------------------------------
*/

$border-box-sizing: false;
