---
---

// Imports -------------- //

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'all';

// Variables ------------ //

$text-width:      660px;
$section-padding: 7.2rem;
$intro-heading:   2rem;

// Styles --------------- //

p {
  font-family: $font-sans;
  font-size: 1.7rem;
}

.skipnav {
  padding: 10px 15px;
  position: absolute;
  top: -42px;
  left: 0px;
  color: $color-base;
  background: transparent;
  @include transition(top 1s ease-out, background 1s linear);
  z-index: 100;
  &:focus {
    position: absolute;
    left: 0px;
    top: 0px;
    background: white;
    outline: 0;
    @include transition(top .1s ease-in, background .5s linear);
  }
}

.usa-disclaimer {
  background-color: $color-gray-lighter;
  font-size: 1.5rem;
  padding: {
    bottom: .5rem;
    top: .5rem;
  }
}

.usa-disclaimer-stage {
  float: right;
}

.usa-intro {
  max-width: $text-width;
}

.usa-section {
  padding: {
    bottom: $section-padding;
    top: $section-padding;
  }
}

.usa-button-block {
  display: inline-block;
  vertical-align: top;
}

.usa-cta {
  clear: both;
  display: block;
}

.usa-banner {
  background-color: $color-primary-darkest;
  color: $color-white;
  padding: {
    bottom: $section-padding;
    top: 2rem;
  }

  .intro-heading {
    color: $color-white;
  }

  h1 {
    color: $color-white;

    @media (min-width: $medium-screen) {
      font-size: 5.6rem;
      padding-top: 4.5rem;
    }
  }
}

.usa-banner-link-top {
  color: $color-white;
  float: right;
  font-weight: $font-bold;
}

.usa-banner-content {
  max-width: 48rem;
}

.usa-section-alt {
  background-color: $color-gray-lightest;
}

.usa-section-dark {
  background-color: $color-gray-dark;
  color: $color-white;

  h2,
  h3,
  .intro-heading {
    color: $color-white;
  }

  .usa-width-one-half {
    h3 {
      clear: none;
      margin-top: 0;
    }

    h3, p {
      overflow: hidden;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $color-primary-darker;
  font-family: $font-serif;
}

h1, h2 {
  margin-top: 0;
}

.intro-heading {
  color: $color-gray-dark;
  font-weight: $font-normal;
  font-size: $intro-heading;
  margin-bottom: 5rem;
}

.intro-text {
  font-family: $font-serif;
  margin-bottom: 4rem;
}

a,
a:hover {
  border-bottom: 0;
}

.usa-text-small {
  font-size: 1.3rem;
}

.usa-img-circle {
  float: left;
  margin-right: 3rem;
}

.usa-standlast {
  p {
    font-size: $h3-font-size;
  }
}