---
---

// Imports -------------- //

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'all';

// Variables -------------- //

$width-nav-sidebar:  250px;
$color-grid-dark:    #727272;
$color-grid-light:   #e3e4e5;
$site-top:           124px;

// Generic -------------- //

.tablet-only {
  @media (min-width: $medium-screen + $width-nav-sidebar) {
    display: none !important;
  }
}

// Navigation ------------- //

a#skipnav {
  padding: 10px 15px;
  position: absolute;
  top: -44px;
  left: 0px;
  color: $color-base;
  background: transparent;
  @include transition(top 1s ease-out, background 1s linear);
  z-index: 100;
  &:focus {
    position: absolute;
    left: 0px;
    top: 0px;
    background: white;
    outline: 0;
    @include transition(top .1s ease-in, background .5s linear);
  }
}

.usa-site-header {
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-light;
  z-index: 1;
  a {
    border-bottom: none;
//    color: white;
  }
  .usa-site-navbar {
    @include media($medium-screen) {
      margin: {
        bottom: 1rem;
        top: 2.5rem;
      }
    }
    h1 {
      @include media($medium-screen) {
        max-width: 20rem;
      }
      color: $color-gray;
      float: left;
      margin: 0;
      font-size: $base-font-size * 1.25;
      display: none;
      @include media($medium-screen + $width-nav-sidebar) {
        display: block;
      }
    }
    .usa-button-list {
      float: right;
      display: none;
      margin-top: -5px;
      li { 
        display: inline; 
        font-family: $font-sans;
      }
      @include media($medium-screen + $width-nav-sidebar) {
        display: block;
      }
    }
  }

  .disclaimer {
    padding: .5rem 2rem;
    color: white;
    text-align: center;
    font-size: $base-font-size / 1.25;
    border-bottom: 1px solid #616161;
    font-weight: 100;
    .us-official { 
      margin: 0;
    }
    .stage {
      a { text-decoration: underline; }
      float: none;
      display: block;
      padding-top: 5px;
    }
    @include media($medium-screen + $width-nav-sidebar) {
      .us-official { 
        margin-left: 177px; 
      }
      .stage { 
        float: right; 
        padding: 0;
      }
    }
  }

}

#menu-btn {
  display: inline;
  padding-left: 20px;
  @include media($medium-screen + $width-nav-sidebar) {
    display: none;
  }
}

#menu-content {
  @media (max-width: $medium-screen + $width-nav-sidebar) {
    $sliding-panel-width: 220px;

    @include position(fixed, 0 auto 0 0);
    @include size($sliding-panel-width 100%);
    @include transform(translateX(- $sliding-panel-width));
    background: #fff;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    z-index: 999999;
    display: block;
    &.is-visible {
      @include transition(all 0.25s linear);
      @include transform(translateX(0));
    }
  }
}

.overlay {
  @include position(fixed, 0 0 0 0);
  @include transition;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;

  &.is-visible {
    visibility: visible;
  }
}

// Based on code by Diego Eis

// Sidebar Nav --------- //

.sidenav {
  position: absolute;
  top: $site-top;
  bottom: 0;
  left: 0;
  width: $width-nav-sidebar;
  background-color: #fafafa;
  border-right: 1px solid #eeeeee;
  padding: 5rem 2em 2em;
  overflow: auto;
  display: none;
  z-index: -1;
  .lt-ie9 & {
    width: 25%;
  }

  @include media($medium-screen + $width-nav-sidebar) {
    display: block;
  }

  nav {
    h2, 
    h3 {
      font-size: $h4-font-size;
      font-weight: bold;
      margin: 0;
      padding-bottom: .2em;
    }
    h3 {
      margin: 0;
    }  
    ul {
      color: $color-primary;      
      ul {
        display: none;
        padding: 0;        
        li {
          padding-left: 1em;

          &:before {
            content: "";
            padding-right: 1em;
          }
          &:after {
            margin-bottom: 0;
          }
        }
      }
      li {
        font-family: $font-sans;
        padding: .25em 0;
      }
    }
    a {
      border-bottom: none;
      &:hover {
        border-bottom: 1px solid;
        color: $color-primary-darker;
      }
    }
  }
}

.visual-style .sidenav .visual-style-list {
  ul {
    display: block;
  }
}
.layout-system .sidenav .layout-systems-list {
  ul {
    display: block;
  }
}
.elements .sidenav .elements-list {
  ul {
    display: block;
  }
}
.components .sidenav .components-list {
  ul {
    display: block;
  }
} 

// Main Content --------- //

.main-content {
  @include media($medium-screen) {
    top: $site-top;
  }
  position: absolute;
  top: 4rem;
  bottom: 0;
  right: 0;
  overflow: auto;
  width: 100%;
  padding: {
    bottom: 0;
//    left: 2em;
//    right: 2em;
    top: 1em;
  }
  z-index: -1;
  .lt-ie9 & {
    width: 75%;
  }

  @include media($medium-screen + $width-nav-sidebar) {
    width: calc(100% - #{$width-nav-sidebar});
    .lt-ie9 & {
      width: 75%;
    }
  }
}

// Styleguide Content -------- //

.styleguide-content {
  max-width: $site-max-width;
  padding: {
    left: 2em;
    right: 2em;
  }  
  position: relative;
  padding-bottom: 1em;
  > h2, > h3, > p, > ul, > ol {
    max-width: 50rem;
  }
  > h1 {
    border-bottom: 1px solid #000;
    padding-bottom: .5em;
    margin-top: 3.4rem;
    &:not(:first-child) {
      margin-top: 2em;
    }
  }
  @media (min-width: $medium-screen + $width-nav-sidebar) {
    padding: {
      left: 4em;
      right: 4em;
    }
  }
}

// Footer --------------- //

.usa-styleguide-footer {
  background-color: $color-primary-darker;
  padding: {
    bottom: 3rem;
    top: 3rem;
  }

  p, a {
    color: $color-white;
    margin: 0;
  }
}

// Pattern Preview Boxes -------- //

.preview {
  @include clearfix();
  background-color: #fff;
  margin: {
    top: 2em;
    bottom: 2em;
  }
  padding: 1em $site-margins;
  border: 1px solid #eeeeee;
  .is-peripheral {
    opacity: .2;
  }
}

// Code Sample Boxes --------- //

.code-snippets {

  .code-snippet-button:after {
    content: "\25be  hide code";
  }

  &.hidden {

    table {
      display: none;
    }
    
    .code-snippet-button:after {
      content: "\25b8  show code";
    }
  }

  table {

    table-layout: fixed;
    width: 100%;
    padding: 3em 0 0 0;

    td {
      background-color: #f5f5f5;
      border: 1px solid #e0e0e0;
      position: relative;
      vertical-align: top;

      .code-copy-button {
        border-radius: 0;
        position: absolute;
        margin: 0;
        right: 0;
        top: 0;

        &:hover {
          background-color: $color-base;
        }
      }
    }

    th {
      border: none;
      text-align: left;
    }

    pre, code {
      direction: ltr;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
    }

    pre {
      padding: 0 1em 1em 1em;
    }

    code {
      font-size: $base-font-size / 1.5;
      line-height: 1.4em;
      word-wrap: break-word;

      &.language-html {
        max-width: 25em;
      }
    }
  }
}

// Download Code Boxes --------- //

.download-code {
  padding-top: 3em;
}

// Search bar grid --------- //

.preview-search-bar {
  .usa-grid {
    padding: 0;
  }
}

// Custom styles to illustrate invisible grid for web design standards

.usa-grid-example {
  background: $color-grid-light;

  > * {
    color: $color-white;
    padding: 1em;
    background: $color-grid-dark;
    margin: {
      top: .5em;
      bottom: .5em;
    }
  }

  .usa-width-one-twelfth {
    @include media($medium-screen) {
      padding: {
        left: 0;
        right: 0;
      }
    }
  }
}

.usa-grid-example-blank {
  text-align: center;
}

.usa-grid-text {
  background: $color-grid-dark;

  > * {
  background: $color-grid-light;
  color: #000;
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}

h3 + .button_wrapper {
  margin-top: -.5em
}

.button_wrapper {
  clear: both;
  display: table;
  margin-left: -1rem;
  padding: 0rem 1rem;

  &:after {
    content:"\A";
    white-space:pre;
  }

  button:last-child {
    margin-right: 0;
  }
}

.button_wrapper-dark {
  background: #323a45
}

.usa-heading {
  color: $color-primary-darker;
}

// Colors -------------- //

.usa-color-short {
  height: 7rem;
  margin-bottom: 1rem;
}

.usa-color-name {
  @include media($medium-screen) {
    margin: 0;
  }
  margin: {
    bottom: 1em;
    top: 0;
  }
}

.usa-color-row {
  margin-bottom: 3rem;

  .usa-width-one-fourth {
    @include media($medium-screen) {
      width: 28%;
    }
  }

  .usa-width-one-sixth {
    float: left;
    width: 50%;

    @include media($medium-screen) {
      width: 17%;
    }
    margin-right: 0;
  }

  p {
    font-family:  monospace, monospace;
  }
}

.usa-primary-color-section {
  @include media($medium-screen) {
    margin-bottom: 8rem;
  }
  margin-bottom: 0;

  .usa-color-square {
    @include span-columns(6);
    margin-bottom: 7rem;
    padding-bottom: 50%;
    position: relative;

    @include media($medium-screen) {
      @include span-columns(3);
      margin-bottom: 0;
      padding-bottom: 19%;
    }
  }

  .usa-mobile-end-row {
    @include media($medium-screen) {
      margin-right: 2.35765%;
    }
    margin-right: 0;
  }

  .usa-color-name {
    margin: 0;
  }
}

.usa-color-inner-content {
  position: absolute;
  top: 100%;
}

.usa-color-hex {
  font-weight: $font-bold;
  margin: {
    bottom: 0;
    top: 1rem;
  }
}

.usa-color-name {
  font-size: 1.2rem;
}

.usa-color-text {
  font-weight: $font-bold;
  margin-bottom: .4rem;
  padding: {
    bottom: 1rem;
    left: 2rem;
    right: 2rem;
    top: 1rem;
  }
}

.usa-color-outline {
  .usa-color-text {
    box-shadow: inset 0 0 0 1px $color-gray;
  }
}

// Color background helpers

.usa-color-primary {
  background-color: $color-primary;
}

.usa-color-primary-darker {
  background-color: $color-primary-darker;
}

.usa-color-primary-darkest {
  background-color: $color-primary-darkest;
}

.usa-color-base {
  background-color: $color-base;
}

.usa-color-gray-dark {
  background-color: $color-gray-dark;
}

.usa-color-gray-light {
  background-color: $color-gray-light;
}

.usa-color-white {
  background-color: $color-white;
  box-shadow: inset 0 0 0 1px $color-gray;
}

.usa-color-primary-alt {
  background-color: $color-primary-alt;
}

.usa-color-primary-alt-dark {
  background-color: $color-primary-alt-dark;
}

.usa-color-primary-alt-darkest {
  background-color: $color-primary-alt-darkest;
}

.usa-color-primary-alt-light {
  background-color: $color-primary-alt-light;
}

.usa-color-primary-alt-lightest {
  background-color: $color-primary-alt-lightest;
}

.usa-color-secondary {
  background-color: $color-secondary;
}

.usa-color-secondary-dark {
  background-color: $color-secondary-dark;
}

.usa-color-secondary-darkest {
  background-color: $color-secondary-darkest;
}

.usa-color-secondary-light {
  background-color: $color-secondary-light;
}

.usa-color-secondary-lightest {
  background-color: $color-secondary-lightest;
}

.usa-color-gray {
  background-color: $color-gray;
}

.usa-color-gray-dark {
  background-color: $color-gray-dark;
}

.usa-color-gray-light {
  background-color: $color-gray-light;
}

.usa-color-gray-lighter {
  background-color: $color-gray-lighter;
}

.usa-color-gray-lightest {
  background-color: $color-gray-lightest;
}

.usa-color-gray-warm-dark {
  background-color: $color-gray-warm-dark;
}

.usa-color-gray-warm-light {
  background-color: $color-gray-warm-light;
}

.usa-color-gray-cool-light {
  background-color: $color-gray-cool-light;
}

.usa-color-gold {
  background-color: $color-gold;
}

.usa-color-gold-light {
  background-color: $color-gold-light;
}

.usa-color-gold-lighter {
  background-color: $color-gold-lighter;
}

.usa-color-gold-lightest {
  background-color: $color-gold-lightest;
}

.usa-color-green {
  background-color: $color-green;
}

.usa-color-green-light {
  background-color: $color-green-light;
}

.usa-color-green-lighter {
  background-color: $color-green-lighter;
}

.usa-color-green-lightest {
  background-color: $color-green-lightest;
}

.usa-color-cool-blue {
  background-color: $color-cool-blue;
}

.usa-color-cool-blue-light {
  background-color: $color-cool-blue-light;
}

.usa-color-cool-blue-lighter {
  background-color: $color-cool-blue-lighter;
}

.usa-color-cool-blue-lightest {
  background-color: $color-cool-blue-lightest;
}

.usa-color-focus {
  background-color: $color-focus;
}

.usa-color-visited {
  background-color: $color-visited;
}

// Color text helpers

.usa-color-text-primary-darkest {
  color: $color-primary-darkest;
}

.usa-color-text-primary-darker {
  color: $color-primary-darker;
}

.usa-color-text-primary {
  color: $color-primary;
}

.usa-color-text-cool-blue-light {
  color: $color-cool-blue-light;
}

.usa-color-text-primary-alt-darkest {
  color: $color-primary-alt-darkest;
}

.usa-color-text-green {
  color: $color-green;
}

.usa-color-text-visited {
  color: $color-visited;
}

.usa-color-text-gray-dark {
  color: $color-gray-dark;
}

.usa-color-text-gray-dark {
  color: $color-gray-dark;
}

.usa-color-text-gray {
  color: $color-gray;
}

.usa-color-text-gray-warm-dark {
  color: $color-gray-warm-dark;
}

.usa-color-text-secondary-darkest {
  color: $color-secondary-darkest;
}

.usa-color-text-secondary-dark {
  color: $color-secondary-dark;
}

.usa-color-text-secondary {
  color: $color-secondary;
}

.usa-color-text-white {
  color: $color-white;
}

// Code snippet boxes

.usa-code-sample .usa-unstyled-list {
  @include unstyled-list();
}

.usa-code-sample pre {
  font-size: 1.2rem;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: none;
}

code[class*="language-"], pre[class*="language-"] {
  color: $color-base;
}

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
  color: $color-primary-alt-darkest;
}

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
  color: $color-secondary;
}

.token.atrule, .token.attr-value, .token.keyword {
  color: $color-green;
}

.token.punctuation {
    color: $color-primary-alt-darkest;
}

.usa-code-sample .usa-accordion-content {
  padding: 0;
}

.usa-code-sample pre[class*="language-"] {
  margin-top: 0;
}

// Max width for styleguide

