---
---

// Imports -------------- //

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'core/grid-settings';
@import 'core/defaults';
@import 'core/utilities';


// Variables -------------- //

$width-nav-sidebar: 250px;

// Generic -------------- //

.tablet-only {
  display: none;
  @media (max-width: $tablet-up + $width-nav-sidebar) {
    display: block;
  }
}


// Navigation ------------- //

a#skipnav {
  padding: 10px 15px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: $color-grey-900;
  background: transparent;
  @include transition(top 1s ease-out, background 1s linear);
  z-index: 100;
  &:focus {
    position: absolute;
    left: 0px;
    top: 0px;
    background: white;
    outline: 0;
    @include transition(top .1s ease-in, background .5s linear);
  }
}

header[role="banner"] {
  background-color: $color-grey-900;
  height: 45px;
  line-height: 45px;
  a { color: white; }
  h1 {
    font-weight: normal;
    float: left;
    line-height: 45px;
    margin: 0;
    padding-left: 20px;
    font-size: $base-font-size * 1.25;
  }
  ul {
    float: right;
    padding-right: 20px;
    display: none;
    li { 
      display: inline; 
      margin-left: 15px;
      font-family: $font-sans;
    }
    @include media($mobile-up) {
      display: block;
    }
  }
}

#menu-btn {
  display: inline;
  padding-left: 20px;
  @include media($tablet-up + $width-nav-sidebar) {
    display: none;
  }
}

#menu-content{
  @media (max-width: $tablet-up + $width-nav-sidebar) {
    $sliding-panel-width: 220px;

    @include position(fixed, 0 auto 0 0);
    @include size($sliding-panel-width 100%);
    @include transform(translateX(- $sliding-panel-width));
    @include transition(all 0.25s linear);
    background: #fff;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    z-index: 999999;
    display: block;
    ul {
      padding: 14px;
      font-weight: 300;
      line-height: 1.8em;
    }
    &.is-visible {
      display: block;
      @include transform(translateX(0));
    }
  }
}

.overlay {
  @include position(fixed, 0 0 0 0);
  @include transition;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;

  &.is-visible {
    visibility: visible;
  }
}

// Based on code by Diego Eis

// Sidebar Nav --------- //

aside.sidenav {
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  width: $width-nav-sidebar;
  background-color: $color-grey-50;
  border-right: 1px solid $color-grey-200;
  padding: 5rem 2em 2em;
  overflow: auto;
  display: none;
  .lt-ie9 & {
    width: 25%;
  }

  @include media($tablet-up + $width-nav-sidebar) {
    display: block;
  }

  nav {
    h2, 
    h3 {
      font-size: $h4-font-size;
      font-weight: bold;
      margin: 0;
    }
    h3 {
      margin: 0;
    }  
    ul {
      color: $color-main;
      ul {
        padding: 0;
        li {
          padding-left: 1em;          
        }
      }
      
      li {
        font-family: $font-sans;
        padding: .25em 0;
      }
    }
    .patterns-list h3 {
      &:first-child {
        padding-top: 0.75em;
      }
    }    
    .patterns-list-item {
      padding-left: 1em;
      h3 {
        padding-bottom: .25em;
      }
      li {
        padding-left: 0;
      }
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


// Main Content --------- //

.main-content {
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  overflow: auto;
  width: 100%;
  padding: 1em 2em;
  .lt-ie9 & {
    width: 75%;
  }

  @include media($tablet-up + $width-nav-sidebar) {
    width: calc(100% - #{$width-nav-sidebar});
    .lt-ie9 & {
      width: 75%;
    }
  }
}

// Style Guide Content -------- //

.styleguide-content {
  position: relative;
  padding: 0 2em 1em 2em;
  > h2, > h3, > p, > ul, > ol {
    max-width: 500px;
  }
  > h1 {
    border-bottom: 1px solid #000;
    padding-bottom: .5em;
    margin-top: 3.4rem;
    &:not(:first-child) {
      margin-top: 2em;
    }
  }
  > h2, > h3 {
    margin-top: 2em;
  }
}

// Pattern Preview Boxes -------- //

.preview {
  @include clearfix();
  background-color: #fff;
  margin: {
    top: 2em;
    bottom: 2em;
  }
  padding: 1em $site-margins;
  border: 1px solid $color-grey-200;
  .is-peripheral {
    opacity: .2;
  }
}

// Code Sample Boxes --------- //

.code-sample {
  @include clearfix();
  border: 1px solid $color-grey-200;
  background-color: $color-grey-50;

  &.is-open {
    .button-toggle:before {
      content: 'Hide code';
    }
    pre {
      display: block;
    }
  }
  .button-toggle {
    font-size: $small-font-size;
    display: block;
    padding: .5em $site-margins;
    text-decoration: underline;
    &:before {
      content: 'Show code';
    }
  }
  pre {
    display: none;
    background-color: transparent;
    overflow-y: hidden;
    code {
      background-color: transparent;
    }     
  }
}

.preview + .code-sample {
  margin-top: -2em;
  border-top: 0px;
}
