@use "../../core" as *;

.usa-dark-background {
  @include add-knockout-font-smoothing;
  background-color: color("base-darker");

  p,
  span {
    color: color("white");
  }

  a {
    color: color("base-lighter");

    &:hover {
      color: color("white");
    }
  }
}
