<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic{% if header.primary.mega %} usa-header--megamenu{% endif %}" role="banner">
  <div class="usa-nav-container">
    {% render '@site-title', {header: header}, true -%}
    <nav role="navigation" class="usa-nav">
      {% render '@nav-primary', {nav: header.primary}, true -%}
    </nav>
  </div>
</header>
