@use "sass:list";
@use "../../functions" as *;

// Outputs measure (max width)

@mixin u-measure($value...) {
  $value: unpack($value);
  $important: null;
  @if has-important($value) {
    $value: remove($value, "!important");
    @if list.length($value) == 1 {
      $value: de-list($value);
    }
    $important: " !important";
  }
  max-width: get-uswds-value("measure", $value...) #{$important};
}
