@use "sass:list";
@use "../../functions" as *;

// Outputs min-height

@mixin u-minh($value...) {
  $value: unpack($value);
  $important: null;
  @if has-important($value) {
    $value: remove($value, "!important");
    @if list.length($value) == 1 {
      $value: de-list($value);
    }
    $important: " !important";
  }
  min-height: get-uswds-value("min-height", $value...) #{$important};
}
