@use "sass:list";
@use "../../functions" as *;

// Outputs position property

@mixin u-position($value...) {
  $value: unpack($value);
  $important: null;
  @if has-important($value) {
    $value: remove($value, "!important");
    @if list.length($value) == 1 {
      $value: de-list($value);
    }
    $important: " !important";
  }
  position: get-uswds-value("position", $value...) #{$important};
}
