@use "sass:list";
@use "../../functions" as *;

// Outputs right

@mixin u-right($value...) {
  $value: unpack($value);
  $important: null;
  @if has-important($value) {
    $value: remove($value, "!important");
    @if list.length($value) == 1 {
      $value: de-list($value);
    }
    $important: " !important";
  }
  right: get-uswds-value("right", $value...) #{$important};
}
