@use "sass:list";
@use "../../functions" as *;

// Outputs white-space

@mixin u-white-space($value...) {
  $value: unpack($value);
  $important: null;
  @if has-important($value) {
    $value: remove($value, "!important");
    @if list.length($value) == 1 {
      $value: de-list($value);
    }
    $important: " !important";
  }
  white-space: get-uswds-value("white-space", $value...) #{$important};
}
