{% set close_icon %}
  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
    <use xlink:href="{{ uswds.path }}/img/sprite.svg#{{ close_button.icon_type | default("close") }}"></use>
  </svg>
{% endset %}

<div class="margin-y-3">
  <a href="#{{ id }}" class="usa-button" aria-controls="{{ id }}" data-open-modal>{{ trigger.label }}</a>

  <div class="usa-modal {{ modifier }}" id="{{ id }}" aria-labelledby="{{ header.label }}" aria-describedby="{{ describedby }}"{% if forced %} data-force-action{% endif -%}>
    <div class="usa-modal__content">
      <div class="usa-modal__main">
        {% if header.label %}
        <h2 class="usa-modal__heading" id="{{ header.id }}">
          {{ header.label }}
        </h2>
        {% endif %}
        {% if description.label %}
        <div class="usa-prose">
          {{ description.label | safe }}
        </div>
        {% endif %}
        {% if footer %}
        <div class="usa-modal__footer">
          <ul class="usa-button-group">
            {% for action in footer %}
              <button type="button" class="{{ action.class | default("usa-button") }}" data-close-modal>
                {{ action.label }}
              </button>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      {%- if not forced -%}
      <button class="usa-button usa-modal__close" aria-label="{{ close_button.aria_label }}" data-close-modal>
        {% if close_button.label %}
          {{ close_button.label }}
        {% else %}
          {{ close_icon | safe }}
        {% endif %}
      </button>
      {%- endif -%}
    </div>
  </div>
</div>
