<div class="margin-y-3">
  <a href="#modal-1" class="usa-button" aria-controls="modal-1" data-open-modal>Default modal</a>

  <div class="usa-modal" id="modal-1" aria-labelledby="modal-1heading" aria-describedby="describe">
    <div class="usa-modal__content usa-modal__content--reverse">
      <div class="usa-modal__main">
        <h2 class="usa-modal__heading" id="modal-sm-heading">You have unsaved changes</h2>
        <div class="usa-prose">
          <p>Your changes will be lost if you leave this page without saving. Are you sure you want to continue?</p>
        </div>
        <div class="usa-modal__footer">
          <ul class="usa-button-group">
            <li class="usa-button-group__item">
              <button type="button" class="usa-button" data-close-modal>Continue</button>
            </li>
            <li class="usa-button-group__item">
              <button type="button" class="usa-button usa-button--unstyled padding-105 text-center" data-close-modal>Go back</button>
            </li>
          </ul> 
        </div>
      </div>
      <button class="usa-button usa-modal__close" aria-label="close this window"  data-close-modal>
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="{{ uswds.path }}/img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>


<div class="margin-y-3">
  <a href="#modal-2" class="usa-button" aria-controls="modal-2" data-open-modal>Large modal</a>
  <div class="usa-modal usa-modal--lg" id="modal-2" aria-labelledby="modal-2-heading" aria-describedby="modal-2-description">
    <div class="usa-modal__content">
      <div class="usa-modal__main">
        <h2 class="usa-modal__heading" id="modal-2-heading">You have unsaved changes</h2>
        <div class="usa-prose">
          <p id="modal-2-description">Your changes will be lost if you leave this page without saving. Are you sure you want to continue?</p>
        </div>
        <div class="usa-modal__footer">
          <ul class="usa-button-group">
            <li class="usa-button-group__item">
              <button type="button" class="usa-button" data-close-modal>Continue</button>
            </li>
            <li class="usa-button-group__item">
              <button type="button" class="usa-button usa-button--unstyled padding-105 text-center" data-close-modal>Go back</button>
            </li>
          </ul> 
        </div>
      </div>
      <button class="usa-button usa-modal__close" aria-label="close this window"  data-close-modal>
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="{{ uswds.path }}/img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>

<div class="margin-y-3">
  <a href="#modal-3" class="usa-button" aria-controls="modal-3" data-open-modal>Modal w/ forced action</a>
  <div class="usa-modal" id="modal-3" aria-labelledby="modal-3-title" aria-describedby="modal-3-description" data-force-action>
    <div class="usa-modal__content">
      <div class="usa-modal__main">
        <h2 class="usa-modal__heading" id="modal-3-title">Your session is going to expire soon</h2>
        <div class="usa-prose">
          <p id="modal-3-description">You will be signed out if you don’t respond in 5 minutes. Do you need more time?</p>
        </div>

        <div class="usa-modal__footer">
        <ul class="usa-button-group">
          <li class="usa-button-group__item">
            <button type="button" class="usa-button" data-close-modal>Yes, extend session</button>
          </li>
          <li class="usa-button-group__item">
            <button type="button" class="usa-button usa-button--unstyled padding-105 text-center" data-close-modal>Leave site</button>
          </li>
        </ul> 
        </div>
      </div>
    </div>
  </div>
</div>