<button type="button" class="usa-button usa-modal-btn" aria-controls="modal1">Open modal</button>

<div class="usa-modal" id="modal1">
  <button type="button" class="usa-button usa-modal__close">Close modal</button> 
  <h2>I am a modal</h2>
</div>


<button type="button" class="usa-button usa-modal-btn" aria-controls="modal2">Open modal2</button>

<div class="usa-modal" id="modal2">
  <button type="button" class="usa-button usa-modal__close">Close modal 2</button> 
  <h2>I am a modal 2</h2>
</div>