<div class="usa-chart usa-chart-bar">
  <table class="usa-chart-data" data-total="100%">
    <tr class="usa-chart-item">
      <td class="usa-chart-value">8%</td>
      <td class="usa-chart-label">Thing one</td>
    </tr>
    <tr class="usa-chart-item">
      <td class="usa-chart-value">12%</td>
      <td class="usa-chart-label">Thing two</td>
    </tr>
    <tr class="usa-chart-item">
      <td class="usa-chart-value">26%</td>
      <td class="usa-chart-label">Thing three</td>
    </tr>
    <tr class="usa-chart-item">
      <td class="usa-chart-value">54%</td>
      <td class="usa-chart-label">Thing four</td>
    </tr>
  </table>
</div>

<script>
  // Find all bar charts on the page
  var charts = document.querySelectorAll('.usa-chart-bar');
</script>
