<div class="usa-chart" data-chart-type="line">
  <table class="usa-chart-data" data-min="0" data-max="63" data-increment="20" data-grid="true">
    <tr class="usa-chart-item">
      <td class="usa-chart-label">Thing one</td>
      <td class="usa-chart-value">8%</td>
    </tr>
    <tr class="usa-chart-item">
      <td class="usa-chart-label">Thing two</td>
      <td class="usa-chart-value">12%</td>
    </tr>
    <tr class="usa-chart-item">
      <td class="usa-chart-label">Thing three</td>
      <td class="usa-chart-value">26%</td>
    </tr>
    <tr class="usa-chart-item">
      <td class="usa-chart-label">Thing four</td>
      <td class="usa-chart-value">60%</td>
    </tr>
  </table>
</div>
