<figure class="usa-chart" data-chart-type="line">
  <h2>This is a chart title</h2>
  <table class="usa-chart-data" data-min="0" data-max="100" data-increment="20" data-grid="true"> <!-- all values optional -->

    <!--
    label datasets with header row
    unnessisary unless multiple values are assigned
    -->
    <tr>
      <td></td>
      <th class="usa-chart-dataset" scope="col">set one</th>
      <th class="usa-chart-dataset" scope="col">set two</th>
    </tr>

    <tr class="usa-chart-item">
      <th scope="row" class="usa-chart-label">Thing one</th>
      <td class="usa-chart-value">8%</td>
      <td class="usa-chart-value">28%</td>
    </tr>
    <tr class="usa-chart-item">
      <th scope="row" class="usa-chart-label">Thing two</th>
      <td class="usa-chart-value">12%</td>
      <td class="usa-chart-value">24%</td>
    </tr>
    <tr class="usa-chart-item">
      <th class="usa-chart-label">Thing three</th>
      <td class="usa-chart-value">26%</td>
      <td class="usa-chart-value">40%</td>
    </tr>
    <tr class="usa-chart-item">
      <th scope="row" class="usa-chart-label">Thing four</th>
      <td class="usa-chart-value">60%</td>
      <td class="usa-chart-value">42%</td>
    </tr>
    <caption>A brief description of the table and its contents including <a href="#">data sources</a>.</caption>
  </table>
</figure>
