<div class="usa-chart usa-chart-line">
  <table class="usa-chart-data" data-min="0" data-max="100" data-increment="20" data-grid="true">
    <tr class="usa-chart-item">
      <td class="usa-chart-label">January</td>
      <td class="usa-chart-value">8%</td>
    </tr>
    <tr class="usa-chart-item">
      <td class="usa-chart-label">Febuary</td>
      <td class="usa-chart-value">12%</td>
    </tr>
    <tr class="usa-chart-item">
      <td class="usa-chart-label">March</td>
      <td class="usa-chart-value">26%</td>
    </tr>
    <tr class="usa-chart-item">
      <td class="usa-chart-label">April</td>
      <td class="usa-chart-value">60%</td>
    </tr>
  </table>
</div>
