<div class="usa-chart usa-chart-pie applepie🇺🇸">
  <table class="usa-chart-data" data-total="100%">
    <tr class="usa-chart-head">
      <th class="usa-chart-label"></th>
      <th class="usa-chart-value">8%</th>
    </tr>
    
    <tr class="usa-chart-item">
      <td class="usa-chart-label">Thing one</td>
      <td class="usa-chart-value">8%</td>
    </tr>
    <tr class="usa-chart-item">
      <td class="usa-chart-label">Thing two</td>
      <td class="usa-chart-value">12%</td>
    </tr>
    <tr class="usa-chart-item">
      <td class="usa-chart-label">Thing three</td>
      <td class="usa-chart-value">26%</td>
    </tr>
    <tr class="usa-chart-item">
      <td class="usa-chart-label">Thing four</td>
      <td class="usa-chart-value">54%</td>
    </tr>
  </table>
</div>

<script>
  // Find all pie charts on the page
  var charts = document.querySelectorAll('.usa-chart-pie');

  // Loop throuigh each chart to generate graphic
  for (var i = 0; i < charts.length; i++) {

    var chart = charts[i];
    var items = chart.querySelectorAll('.usa-chart-item');
    var total = parseFloat(chart.querySelector('.usa-chart-data').dataset.total.replace(/[^0-9\.]/g, ''));
    var offset = 0;

    // Generate SVG dynamically
    var svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
    svg.setAttribute('viewBox', '0 0 100 75');
    svg.classList.add('usa-chart-svg');
    // Insert SVG into DOM
    chart.insertBefore(svg, chart.querySelector('table')) // insert graphic into parent

    for (var j = 0; j < items.length; j++) {
      const item = items[j];
      var value = parseFloat(item.querySelector('.usa-chart-value').innerHTML.replace(/[^0-9\.]/g, ''));

      // generate arc
      const arc = document.createElementNS('http://www.w3.org/2000/svg', 'circle');
      arc.setAttribute('cx', '50%');
      arc.setAttribute('cy', '50%');
      arc.setAttribute('r', '25%');
      arc.style.strokeDasharray = ((value / total * 100) * Math.PI / 2) + '%, 999%';
      arc.style.strokeDashoffset = ((offset / total * 100) * Math.PI / -2) + '%';

      // Add hover events to labels+graphic
      arc.addEventListener('mouseenter',function(event){
        item.classList.add('hover');
      });
      arc.addEventListener('mouseleave',function(event){
        item.classList.remove('hover');
      });
      item.addEventListener('mouseenter',function(event){
        arc.classList.add('hover');
      });
      item.addEventListener('mouseleave',function(event){
        arc.classList.remove('hover');
      });

      // Add arc to graphic
      svg.appendChild(arc);
      // Offset for next arc
      offset = offset + parseInt(value);
    }
  }
</script>
