<table class="usa-chart usa-chart-pie applepie🇺🇸" data-total="100%">
  <tr class="usa-chart-item">
    <td class="usa-chart-value">8%</td>
    <td class="usa-chart-label">Thing one</td>
  </tr>
  <tr class="usa-chart-item">
    <td class="usa-chart-value">12%</td>
    <td class="usa-chart-label">Thing two</td>
  </tr>
  <tr class="usa-chart-item">
    <td class="usa-chart-value">26%</td>
    <td class="usa-chart-label">Thing three</td>
  </tr>
  <tr class="usa-chart-item">
    <td class="usa-chart-value">54%</td>
    <td class="usa-chart-label">Thing four</td>
  </tr>
</table>

<script>
  // Find all pie charts on the page
  var charts = document.querySelectorAll('.usa-chart-pie');

  // Loop throuigh each chart to generate graphic
  for (var i = 0; i < charts.length; i++) {

    var chart = charts[i];
    var items = chart.querySelectorAll('.usa-chart-item');
    var total = parseFloat(chart.dataset.total);
    var offset = 0;

    // Generate SVG dynamically
    var tr = document.createElement('tr');
    var td = document.createElement('td');
    td.setAttribute('rowspan', items.length+1);
    td.classList.add('usa-chart-chartcell');
    var svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
    svg.setAttribute('viewbox', '0 0 100 100');
    svg.classList.add('usa-chart-svg');
    // Consolodate SVG wrapping for insertion
    tr.appendChild(td).appendChild(svg);
    // Insert SVG portion of table into DOM
    var parent = items[0].parentNode; // query parent, likely tbody
    parent.insertBefore(tr, items[0]) // insert graphic into parent

    for (var j = 0; j < items.length; j++) {
      const item = items[j];
      var value = parseFloat(item.querySelector('.usa-chart-value').innerHTML);

      // generate arc
      const arc = document.createElementNS('http://www.w3.org/2000/svg', 'circle');
      arc.setAttribute('cx', '50%');
      arc.setAttribute('cy', '50%');
      arc.setAttribute('r', '25%');
      arc.style.strokeDasharray = ((value / total * 100) * Math.PI / 2) + '%, 157.08%';
      arc.style.strokeDashoffset = ((offset / total * 100) * Math.PI / -2) + '%';

      // Add hover events to labels+graphic
      arc.addEventListener('mouseenter',function(event){
        item.classList.add('hover');
      });
      arc.addEventListener('mouseleave',function(event){
        item.classList.remove('hover');
      });
      item.addEventListener('mouseenter',function(event){
        arc.classList.add('hover');
      });
      item.addEventListener('mouseleave',function(event){
        arc.classList.remove('hover');
      });

      // Add arc to graphic
      svg.appendChild(arc);
      // Offset for next arc
      offset = offset + parseInt(value);
    }
  }
</script>
