<div class="usa-chart usa-chart-pie applepie">
  <svg class="usa-chart-svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"></svg>
  <ul class="usa-chart-items" data-max="percent">
    <li data-value="8">Thing one</li>
    <li data-value="12">Thing two</li>
    <li data-value="26">Thing three</li>
    <li data-value="54">Thing four</li>
  </ul>
</div>

<script>
  var charts = document.querySelectorAll('.usa-chart-pie');
  for (var i = 0; i < charts.length; i++) {

    var chart = charts[i];
    var svg = chart.querySelector('svg');
    var items = chart.querySelectorAll('li');
    var offset = 0;

    for (var i = 0; i < items.length; i++) {
      const li = items[i];
      var v = li.dataset.value;
      const arc = document.createElementNS('http://www.w3.org/2000/svg', 'circle');
      arc.style.strokeDasharray = (v * Math.PI / 2) + '%, 157.08%';
      arc.style.strokeDashoffset = (offset * Math.PI / -2) + '%';
      arc.addEventListener('mouseenter',function(event){
        li.classList.add('hover');
      });
      arc.addEventListener('mouseleave',function(event){
        li.classList.remove('hover');
      });
      li.addEventListener('mouseenter',function(event){
        arc.classList.add('hover');
      });
      li.addEventListener('mouseleave',function(event){
        arc.classList.remove('hover');
      });
      svg.appendChild(arc);
      offset = offset + parseInt(v);
    }
  }
</script>
