@forward "advanced-color";
@forward "calculate-grade";
@forward "color-token-assignment";
@forward "color-token-family";
@forward "color-token-grade";
@forward "color-token-type";
@forward "color-token-variant";
@forward "decompose-color-token";
@forward "get-color-token-from-bg";
@forward "get-link-tokens-from-bg";
@forward "get-system-color";
@forward "is-accessible-magic-number";
@forward "is-color-token";
@forward "is-color-dark";
@forward "is-system-color-token";
@forward "is-theme-color-token";
@forward "luminance";
@forward "magic-number";
@forward "next-token";
@forward "set-theme-color";
@forward "test-color";
@forward "wcag-magic-number";
