<section class="usa-anchor" aria-label="Agency information and federally required links">
  <div class="usa-anchor__primary-section">
    <div class="grid-container">
      <section class="usa-anchor__branding" aria-label="Agency identifiers">
        <div class="usa-media-block">
          <a href="https://www.irs.gov/" class="usa-anchor__branding-img usa-media-block__img">
            <img src="https://assets.codepen.io/23361/IRS-Logo.svg" alt="IRS logo" role="img">
          </a>
          <div class="usa-anchor__branding-body usa-media-block__body">
            <a href="https://www.irs.gov/">IRS.gov</a> the official website of the IRS.
          </div>
        </div>
        <div class="usa-media-block">
          <a href="https://digital.gov" class="usa-anchor__branding-img usa-media-block__img">
            <img src="https://assets.codepen.io/23361/logo.png" alt="">
          </a>
          <div class="usa-anchor__branding-body usa-media-block__body">
            <a href="https://digital.gov">Digital.gov</a> is a product of GSA's Technology Transformation Services, and managed by the Office of Solutions.
          </div>
        </div>
        <div class="usa-media-block">
          <a href="https://digital.gov" class="usa-anchor__branding-img usa-media-block__img">
            <img src="https://assets.codepen.io/23361/usda-symbol.svg" alt="USDA logo" role="img">
          </a>
          <div class="usa-anchor__branding-body usa-media-block__body">
            <a href="https://digital.gov">Digital.gov</a> is a product of GSA's Technology Transformation Services, and managed by the Office of Solutions.
          </div>
        </div>
      </section>
      <nav class="usa-anchor__required-links" aria-label="Required links">
        <ul class="usa-anchor__required-links-list">
          <li class="usa-anchor__required-links-item">
            <a href="https://www.gsa.gov/website-information/accessibility-aids" class="usa-anchor__required-link usa-link">
              Accessibility Statement
            </a>
          </li>
          <li class="usa-anchor__required-links-item">
            <a href="https://www.gsaig.gov/" class="usa-anchor__required-link usa-link">
              Budget and Performance
            </a>
          </li>
          <li class="usa-anchor__required-links-item">
            <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia"
              class="usa-anchor__required-link usa-link">
              Freedom of Information Act (FOIA)
            </a>
          </li>
          <li class="usa-anchor__required-links-item">
            <a href="https://www.gsa.gov/about-us/organization/office-of-civil-rights/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002"
              class="usa-anchor__required-link usa-link">
              No FEAR Act Data
            </a>
          </li>
          <li class="usa-anchor__required-links-item">
            <a href="https://www.gsaig.gov/" class="usa-anchor__required-link usa-link">
              Office of the Inspector General
            </a>
          </li>
          <li class="usa-anchor__required-links-item">
            <a href="" class="usa-anchor__required-link usa-link">
              Privacy Policy
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="usa-anchor__secondary-section">
    <div class="usa-anchor__contact">
      <div class="grid-container">
        Have a question about Government Services? <a href="https://www.usa.gov/contact" class="usa-link">Contact USA.gov</a>
      </div>
    </div>
  </div>
</section>
