<section class="usa-anchor" aria-label="Agency information and federally required links">
  <div class="usa-anchor__primary-section">
    <div class="grid-container">
      <section class="usa-anchor__branding" aria-label="Agency identifiers by logo">
        <a href="https://www.irs.gov/" class="usa-anchor__branding-img">
          <img src="https://assets.codepen.io/23361/IRS-Logo.svg" alt="IRS logo" role="img">
        </a>
        <div class="usa-anchor__branding-description" aria-label="Agency description">
          <a href="javascript:void(0);">IRS.gov</a> is produced and published
          by the Internal Revenue Service at taxpayer expense.
        </div>
      </section>
      <nav class="usa-anchor__required-links" aria-label="Required links">
        <ul class="usa-anchor__required-links-list">
          <li class="usa-anchor__required-links-item">
            <a href="javascript:void(0);" class="usa-anchor__required-link usa-link">
              About "department name"
            </a>
          </li>
          <li class="usa-anchor__required-links-item">
            <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" class="usa-anchor__required-link usa-link">
              About the freedom of information act
            </a>
          </li>
          <li class="usa-anchor__required-links-item">
            <a href="https://www.gsa.gov/website-information/accessibility-aids" class="usa-anchor__required-link usa-link">
              Accessibility support
            </a>
          </li>
          <li class="usa-anchor__required-links-item">
            <a href="https://www.gsa.gov/about-us/organization/office-of-civil-rights/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002"
              class="usa-anchor__required-link usa-link">
              No FEAR act data
            </a>
          </li>
          <li class="usa-anchor__required-links-item">
            <a href="https://www.gsaig.gov/" class="usa-anchor__required-link usa-link">
              Performance reports
            </a>
          </li>
          <li class="usa-anchor__required-links-item">
            <a href="" class="usa-anchor__required-link usa-link">
              Privacy policy
            </a>
          </li>
          <li class="usa-anchor__required-links-item">
            <a href="https://www.gsaig.gov/" class="usa-anchor__required-link usa-link">
              Contact the office of the inspector general
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="usa-anchor__secondary-section">
    <div class="usa-anchor__contact">
      <div class="grid-container" aria-label="Contact information">
      Looking for U.S. government information and services?
      <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
    </div>
  </div>
</section>
