<div class="bg-base-darkest padding-1" style="max-width: fit-content">
  {% include "@components/usa-button/usa-button.twig" with {
    'title': 'Outline inverse button',
    'modifier': 'usa-button--outline usa-button--inverse',
    'show_states': true,
  } %}
</div>
