<div class="usa-embed-container" aria-label="16:9">
  <iframe src="{{ iframe_content | dataurl('text/html') }}" title="16:9 aspect ratio example iframe" frameborder="0"></iframe>
</div>

<p>
  The responsive embed container can be used to ensure that its
  contents scale to the width of its parent element while retaining
  an aspect ratio of 16:9.
</p>
