@use "./icon" as *;
@use "../../functions" as *;

$external-link-size: 1.75ex;

$icon-object: (
  "name": "launch",
  "color": currentColor,
  "height": $external-link-size,
  "svg-height": 24,
  "svg-width": 24,
  "position-x": center,
  "position-y": 4px,
);

@mixin external-link($contrast-bg: "default") {
  display: inline;

  // Uses `unset` for height/width because it's an inline element.
  // Sizing is set via background/mask size properties.
  &::after {
    @include add-color-icon($icon-object, $contrast-bg);
    content: "\00a0";
    display: inline; // Prevents icon splitting over line breaks
    height: unset;
    margin-top: 0.7ex;
    width: unset;
    word-spacing: $external-link-size; // Sets the width of the pseudoelement
  }
}
