/*
----------------------------------------
Clear
----------------------------------------
usage:
  .clear-[value]
----------------------------------------
output:
  clear: [value]
----------------------------------------
example:
  .clear {
    clear: both; }

  .clear-none {
    clear: none; }
----------------------------------------
*/

$clear: (
  clear: (
    base: ('clear', isReadable),
    modifiers: null,
    values: (
      noValue: 'both',
      both: ('both', isReadable),
      left: ('left', isReadable),
      none: ('none', isReadable),
      right: ('right', isReadable),
    ),
    property: 'clear',
    output: true,
    responsive: true,
    pseudoclasses: false,
  )
)
