/*
----------------------------------------
Whitespace
----------------------------------------
usage:
  ws-[value]
----------------------------------------
output:
  whitespace: [value];
----------------------------------------
example:
  .ws-prewrap {
    whitespace: pre-wrap; }
----------------------------------------
*/

$whitespace: (
  whitespace: (
    base: ws,
    modifiers: null,
    values: (
      normal: ('normal', isReadable),
      nowrap: ('nowrap', isReadable),
      pre: ('pre', isReadable),
      preline: ('pre-line', isReadable),
      prewrap: ('pre-wrap', isReadable),
    ),
    property: 'white-space',
    output: true,
    responsive: true,
    pseudoclasses: false,
  )
)
