$system-color-gray-warm: (
  "gray-warm": (
    1: #fcfcfb,
    2: #f9f9f7,
    3: #f6f6f2,
    4: #f5f5f0,
    5: #f0f0ec,
    10: #e6e6e2,
    20: #cac9c0,
    30: #afaea2,
    40: #929285,
    50: #76766a,
    60: #5d5d52,
    70: #454540,
    80: #2e2e2a,
    90: #171716,
  ),
);
