@use "sass:list";
@use "sass:map";
@use "../../settings" as *;
@use "../../functions/general" as *;
@use "../../mixins/general/add-responsive-site-margins" as *;
@use "../../mixins/utilities" as *;
@use "../../mixins/helpers" as *;

@mixin grid-container($props...) {
  @if length($props) == 0 {
    @include u-margin-x(auto);
    @include u-maxw($theme-grid-container-max-width);
  } @else {
    $props: list.nth($props, 1);
    $margin-x: append-important($props, auto);
    @include u-margin-x($margin-x);
    @if map.has-key($custom-breakpoints, $props) {
      max-width: map.get($custom-breakpoints, $props);
    } @else {
      @include u-maxw($props);
    }
  }

  @include add-responsive-site-margins;
  @include this-border-box-sizing;
}
