<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic{% if header.primary.mega %} usa-header--megamenu{% endif %}">
  <div class="usa-nav-container">
    {% render '@site-title', {header: header}, true -%}
    <nav aria-label="Primary navigation" class="usa-nav">
      {% render '@nav-primary', {nav: header.primary}, true -%}
    </nav>
  </div>
</header>
