<header class="usa-header usa-header-extended" role="banner">
  {% include 'masthead.html' %}

  <nav role="navigation" class="usa-nav">
    <div class="usa-nav-inner">
      {% set nav = header.primary %}
      {% include 'nav-primary.html' %}

      {% set nav = header.secondary %}
      {% include 'nav-secondary.html' %}
    </div>
  </nav>
</header>
<div class="usa-overlay"></div>
