<style scoped>
  header {
    margin-bottom: 14rem;
  }

  header ~ header {
    border-top: 1px dotted black;
  }
</style>

{% render '@header--basic' %}

{% render '@header--basic-mega' %}

{% render '@header--extended' %}

{% render '@header--extended-mega' %}
