
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <!-- Concatenated by Gulp so you don't have to manually add each file. -->
   <script src="../../js/uswds.min.js?{{ cacheBuster }}"></script>

   <!-- <script src="../../js/accordion.js?{{ cacheBuster }}"></script> -->
</body>
</html>