$system-color-orange-warm: (
  "orange-warm": (
    5: #faeee5,
    10: #fbe0d0,
    20: #f7bca2,
    30: #f3966d,
    40: #e17141,
    50: #bd5727,
    60: #914734,
    70: #633a32,
    80: #3d2925,
    90: #1c1615,
    "vivid": (
      5: #fff3ea,
      10: #ffe2d1,
      20: #fbbaa7,
      30: #fc906d,
      40: #ff580a,
      50: #cf4900,
      60: #a72f10,
      70: #782312,
      80: #3d231d,
      90: false,
    ),
  ),
);
