@use "../../settings";

$tokens-color-state: (
  "error-lighter":
    color(settings.$theme-color-error-lighter, set-theme, no-warn),
  "error-light": color(settings.$theme-color-error-light, set-theme, no-warn),
  "error": color(settings.$theme-color-error, set-theme, no-warn),
  "error-dark": color(settings.$theme-color-error-dark, set-theme, no-warn),
  "error-darker": color(settings.$theme-color-error-darker, set-theme, no-warn),
  "warning-lighter":
    color(settings.$theme-color-warning-lighter, set-theme, no-warn),
  "warning-light":
    color(settings.$theme-color-warning-light, set-theme, no-warn),
  "warning": color(settings.$theme-color-warning, set-theme, no-warn),
  "warning-dark": color(settings.$theme-color-warning-dark, set-theme, no-warn),
  "warning-darker":
    color(settings.$theme-color-warning-darker, set-theme, no-warn),
  "success-lighter":
    color(settings.$theme-color-success-lighter, set-theme, no-warn),
  "success-light":
    color(settings.$theme-color-success-light, set-theme, no-warn),
  "success": color(settings.$theme-color-success, set-theme, no-warn),
  "success-dark": color(settings.$theme-color-success-dark, set-theme, no-warn),
  "success-darker":
    color(settings.$theme-color-success-darker, set-theme, no-warn),
  "info-lighter": color(settings.$theme-color-info-lighter, set-theme, no-warn),
  "info-light": color(settings.$theme-color-info-light, set-theme, no-warn),
  "info": color(settings.$theme-color-info, set-theme, no-warn),
  "info-dark": color(settings.$theme-color-info-dark, set-theme, no-warn),
  "info-darker": color(settings.$theme-color-info-darker, set-theme, no-warn),
  "disabled-light":
    color(settings.$theme-color-disabled-light, set-theme, no-warn),
  "disabled": color(settings.$theme-color-disabled, set-theme, no-warn),
  "disabled-dark":
    color(settings.$theme-color-disabled-dark, set-theme, no-warn),
  "emergency": color(settings.$theme-color-emergency, set-theme, no-warn),
  "emergency-dark":
    color(settings.$theme-color-emergency-dark, set-theme, no-warn),
);

@debug $tokens-color-state;
