<!doctype html>
<html lang="en-US">
  <head>
    <title>{{ _self.title }}</title>
    <link rel="stylesheet" href="/dist/css/uswds.min.css">
  </head>
  <body>
    {{ yield }}
    <script src="/dist/js/uswds.min.js"></script>
  </body>
</html>
