<!doctype html>
<html lang="en-US">
  <head>
    <title>{{ _self.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ uswds.path }}/css/uswds.min.css">
    <style>
    html, 
body {
    height: 100%;
}

.preview {
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #f0f0f0;
}
    </style>
  </head>
  <body tabindex="0">
    {% block body %}{{ yield | safe }}{% endblock %}
    <script type="text/javascript">
      (function () {
        let results = [];
        location.search
          .substr(1)
          .split("&")
          .forEach(function (item) {
            console.log(item);
            const tmp = item.split("=");
            if (tmp.length > 1) {
              results.push(
                `<li><strong>${decodeURIComponent(
                  tmp[0]
                )}</strong> - ${decodeURIComponent(
                  tmp[1].replace(/\+/g, " ")
                )}</li>`
              );
            }
          });

        if (results.length) {
          const resultsEl = document.getElementById("form-results");
          const resultsListEl = document.getElementById(
            "form-results-list"
          );

            console.log(resultsEl, resultsListEl);
          if (resultsEl && resultsListEl) {
            resultsListEl.innerHTML = `<ul>${results.join("")}</ul>`;
            resultsEl.hidden = false;
          }
        }
      })();
    </script>
    <script src="{{ uswds.path }}/js/uswds.min.js"></script>
    <script>
    window.addEventListener('load', function() {

    }, false);
    </script>
  </body>
</html>
