@media print {
  // Ensure elements have transparent backgrounds and text is black
  // plus remove any shadow effects
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  // Set body and article elements to 100% width and remove margins
  body,
  article {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  // Hide elements that are not necessary for print
  nav,
  aside,
  footer {
    display: none !important;
  }
  // Fine tune page margins to maximize space
  @page {
    margin: 2cm;
  }
  // Force underlines on all anchor tags to clearly indicate a link in print
  a,
  a:visited {
    text-decoration: underline !important;
  }
  // Print the URL in parenthesis after the text of the link
  a[href]:after {
    content: " (" attr(href) ")" !important;
    word-break: break-all !important;
  }
  abbr[title]:after {
    content: " (" attr(title) ")" !important;
  }
  // Don't show links that are fragment identifiers,
  // or use the `javascript:` pseudo protocol
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "" !important;
  }
  pre {
    white-space: pre-wrap !important;
  }
  // Add a border around pre and blockquote tags to clearly indicate these elements in printt
  pre,
  blockquote {
    border: 1px solid #999 !important;
  }
  // Print table headers on every page
  thead {
    display: table-header-group !important;
  }
  // Avoid breaking a table row onto more than one page
  tr {
    break-inside: avoid !important;
  }
  // Avoid breaking headings onto more than one page
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-after: avoid !important;
    break-inside: avoid !important;
  }
  // Prevent images from being cut off and bleeding over the edge
  // and from being split to another page
  img {
    max-width: 100% !important;
    break-inside: avoid !important;
    break-after: avoid !important;
  }
  blockquote,
  table,
  pre {
    break-inside: avoid !important;
  }
  // Keep lists on the same page
  ul,
  ol,
  dl {
    break-before: avoid !important;
  }
  // Print utility class for hiding from display
  .print\:display-none {
    display: none !important;
  }
}
