$palette-cyan-light: (
  'cyan-5':  $cyan-5,
  'cyan-10': $cyan-10,
  'cyan-20': $cyan-20,
  'cyan-30': $cyan-30,
);

$palette-cyan-medium: (
  'cyan-40': $cyan-40,
  'cyan-50': $cyan-50,
  'cyan-60': $cyan-60,
);

$palette-cyan-dark: (
  'cyan-70': $cyan-70,
  'cyan-80': $cyan-80,
  'cyan-90': $cyan-90,
);

$palette-cyan-light-vivid: (
  'cyan-5v':  $cyan-5v,
  'cyan-10v': $cyan-10v,
  'cyan-20v': $cyan-20v,
  'cyan-30v': $cyan-30v,
);

$palette-cyan-medium-vivid: (
  'cyan-40v': $cyan-40v,
  'cyan-50v': $cyan-50v,
  'cyan-60v': $cyan-60v,
);

$palette-cyan-dark-vivid: (
  'cyan-70v': $cyan-70v,
  'cyan-80v': $cyan-80v,
  'cyan-90v': $cyan-90v,
);

$palette-cyan-standard: map-collect(
  $palette-cyan-light,
  $palette-cyan-medium,
  $palette-cyan-dark
);

$palette-cyan-vivid: map-collect(
  $palette-cyan-light-vivid,
  $palette-cyan-medium-vivid,
  $palette-cyan-dark-vivid
);

$palette-cyan-all: map-collect(
  $palette-cyan-standard,
  $palette-cyan-vivid
);

$palette-cyan: (
  'palette-cyan-light': $palette-cyan-light,
  'palette-cyan-medium': $palette-cyan-medium,
  'palette-cyan-dark': $palette-cyan-dark,
  'palette-cyan-light-vivid': $palette-cyan-light-vivid,
  'palette-cyan-medium-vivid': $palette-cyan-medium-vivid,
  'palette-cyan-dark-vivid': $palette-cyan-dark-vivid,
  'palette-cyan-standard': $palette-cyan-standard,
  'palette-cyan-vivid': $palette-cyan-vivid,
  'palette-cyan-all': $palette-cyan-all,
);
