$palette-colors-cyan-light: (
  'cyan-5':  $color-cyan-5,
  'cyan-10': $color-cyan-10,
  'cyan-20': $color-cyan-20,
  'cyan-30': $color-cyan-30,
);

$palette-colors-cyan-medium: (
  'cyan-40': $color-cyan-40,
  'cyan-50': $color-cyan-50,
  'cyan-60': $color-cyan-60,
);

$palette-colors-cyan-dark: (
  'cyan-70': $color-cyan-70,
  'cyan-80': $color-cyan-80,
  'cyan-90': $color-cyan-90,
);

$palette-colors-cyan-light-vivid: (
  'cyan-5v':  $color-cyan-5v,
  'cyan-10v': $color-cyan-10v,
  'cyan-20v': $color-cyan-20v,
  'cyan-30v': $color-cyan-30v,
);

$palette-colors-cyan-medium-vivid: (
  'cyan-40v': $color-cyan-40v,
  'cyan-50v': $color-cyan-50v,
  'cyan-60v': $color-cyan-60v,
);

$palette-colors-cyan-dark-vivid: (
  'cyan-70v': $color-cyan-70v,
  'cyan-80v': $color-cyan-80v,
  'cyan-90v': $color-cyan-90v,
);

$palette-colors-cyan-standard: map-collect(
  $palette-colors-cyan-light,
  $palette-colors-cyan-medium,
  $palette-colors-cyan-dark
);

$palette-colors-cyan-vivid: map-collect(
  $palette-colors-cyan-light-vivid,
  $palette-colors-cyan-medium-vivid,
  $palette-colors-cyan-dark-vivid
);

$palette-colors-cyan: map-collect(
  $palette-colors-cyan-standard,
  $palette-colors-cyan-vivid
);

$palette-colors-cyan: (
  'palette-colors-cyan-light': $palette-colors-cyan-light,
  'palette-colors-cyan-medium': $palette-colors-cyan-medium,
  'palette-colors-cyan-dark': $palette-colors-cyan-dark,
  'palette-colors-cyan-light-vivid': $palette-colors-cyan-light-vivid,
  'palette-colors-cyan-medium-vivid': $palette-colors-cyan-medium-vivid,
  'palette-colors-cyan-dark-vivid': $palette-colors-cyan-dark-vivid,
  'palette-colors-cyan-standard': $palette-colors-cyan-standard,
  'palette-colors-cyan-vivid': $palette-colors-cyan-vivid,
  'palette-colors-cyan': $palette-colors-cyan,
);
