$palette-gold-light: (
  'gold-5':  $color-gold-5,
  'gold-10': $color-gold-10,
  'gold-20': $color-gold-20,
  'gold-30': $color-gold-30,
);

$palette-gold-medium: (
  'gold-40': $color-gold-40,
  'gold-50': $color-gold-50,
  'gold-60': $color-gold-60,
);

$palette-gold-dark: (
  'gold-70': $color-gold-70,
  'gold-80': $color-gold-80,
  'gold-90': $color-gold-90,
);

$palette-gold-light-vivid: (
  'gold-5v':  $color-gold-5v,
  'gold-10v': $color-gold-10v,
  'gold-20v': $color-gold-20v,
  'gold-30v': $color-gold-30v,
);

$palette-gold-medium-vivid: (
  'gold-40v': $color-gold-40v,
  'gold-50v': $color-gold-50v,
  'gold-60v': $color-gold-60v,
);

$palette-gold-dark-vivid: (
  'gold-70v': $color-gold-70v,
  'gold-80v': $color-gold-80v,
  'gold-90v': $color-gold-90v,
);

$palette-gold-standard: map-collect(
  $palette-gold-light,
  $palette-gold-medium,
  $palette-gold-dark
);

$palette-gold-vivid: map-collect(
  $palette-gold-light-vivid,
  $palette-gold-medium-vivid,
  $palette-gold-dark-vivid
);

$palette-gold-all: map-collect(
  $palette-gold-standard,
  $palette-gold-vivid
);

$palette-gold: (
  'palette-gold-light': $palette-gold-light,
  'palette-gold-medium': $palette-gold-medium,
  'palette-gold-dark': $palette-gold-dark,
  'palette-gold-light-vivid': $palette-gold-light-vivid,
  'palette-gold-medium-vivid': $palette-gold-medium-vivid,
  'palette-gold-dark-vivid': $palette-gold-dark-vivid,
  'palette-gold-standard': $palette-gold-standard,
  'palette-gold-vivid': $palette-gold-vivid,
  'palette-gold-all': $palette-gold-all,
);
