$palette-gray-lighter: (
  'gray-1':  $gray-1,
  'gray-2':  $gray-2,
  'gray-3':  $gray-3,
  'gray-4':  $gray-4,
);

$palette-gray-light: (
  'gray-5':  $gray-5,
  'gray-10': $gray-10,
  'gray-20': $gray-20,
  'gray-30': $gray-30,
);

$palette-gray-medium: (
  'gray-40': $gray-40,
  'gray-50': $gray-50,
  'gray-60': $gray-60,
);

$palette-gray-dark: (
  'gray-70': $gray-70,
  'gray-80': $gray-80,
  'gray-90': $gray-90,
);

$palette-gray-all: map-collect(
  $palette-gray-lighter,
  $palette-gray-light,
  $palette-gray-medium,
  $palette-gray-dark
);

$palette-gray: (
  'palette-gray-lighter': $palette-gray-lighter,
  'palette-gray-light': $palette-gray-light,
  'palette-gray-medium': $palette-gray-medium,
  'palette-gray-dark': $palette-gray-dark,
  'palette-gray-all': $palette-gray-all,
);
