$palette-gray-lighter: (
  'gray-1':  $color-gray-1,
  'gray-2':  $color-gray-2,
  'gray-3':  $color-gray-3,
  'gray-4':  $color-gray-4,
);

$palette-gray-light: (
  'gray-5':  $color-gray-5,
  'gray-10': $color-gray-10,
  'gray-20': $color-gray-20,
  'gray-30': $color-gray-30,
);

$palette-gray-medium: (
  'gray-40': $color-gray-40,
  'gray-50': $color-gray-50,
  'gray-60': $color-gray-60,
);

$palette-gray-dark: (
  'gray-70': $color-gray-70,
  'gray-80': $color-gray-80,
  'gray-90': $color-gray-90,
);

$palette-gray-all: map-collect(
  $palette-gray-lighter,
  $palette-gray-light,
  $palette-gray-medium,
  $palette-gray-dark
);

$palette-gray: (
  'palette-gray-lighter': $palette-gray-lighter,
  'palette-gray-light': $palette-gray-light,
  'palette-gray-medium': $palette-gray-medium,
  'palette-gray-dark': $palette-gray-dark,
  'palette-gray-all': $palette-gray-all,
);
