$palette-colors-green-cool-light: (
  'green-cool-5':  $color-green-cool-5,
  'green-cool-10': $color-green-cool-10,
  'green-cool-20': $color-green-cool-20,
  'green-cool-30': $color-green-cool-30,
);

$palette-colors-green-cool-medium: (
  'green-cool-40': $color-green-cool-40,
  'green-cool-50': $color-green-cool-50,
  'green-cool-60': $color-green-cool-60,
);

$palette-colors-green-cool-dark: (
  'green-cool-70': $color-green-cool-70,
  'green-cool-80': $color-green-cool-80,
  'green-cool-90': $color-green-cool-90,
);

$palette-colors-green-cool-light-vivid: (
  'green-cool-5v':  $color-green-cool-5v,
  'green-cool-10v': $color-green-cool-10v,
  'green-cool-20v': $color-green-cool-20v,
  'green-cool-30v': $color-green-cool-30v,
);

$palette-colors-green-cool-medium-vivid: (
  'green-cool-40v': $color-green-cool-40v,
  'green-cool-50v': $color-green-cool-50v,
  'green-cool-60v': $color-green-cool-60v,
);

$palette-colors-green-cool-dark-vivid: (
  'green-cool-70v': $color-green-cool-70v,
  'green-cool-80v': $color-green-cool-80v,
  'green-cool-90v': $color-green-cool-90v,
);

$palette-colors-green-cool-standard: map-collect(
  $palette-colors-green-cool-light,
  $palette-colors-green-cool-medium,
  $palette-colors-green-cool-dark
);

$palette-colors-green-cool-vivid: map-collect(
  $palette-colors-green-cool-light-vivid,
  $palette-colors-green-cool-medium-vivid,
  $palette-colors-green-cool-dark-vivid
);

$palette-colors-green-cool: map-collect(
  $palette-colors-green-cool-standard,
  $palette-colors-green-cool-vivid
);

$palette-colors-green-cool: (
  'palette-colors-green-cool-light': $palette-colors-green-cool-light,
  'palette-colors-green-cool-medium': $palette-colors-green-cool-medium,
  'palette-colors-green-cool-dark': $palette-colors-green-cool-dark,
  'palette-colors-green-cool-light-vivid': $palette-colors-green-cool-light-vivid,
  'palette-colors-green-cool-medium-vivid': $palette-colors-green-cool-medium-vivid,
  'palette-colors-green-cool-dark-vivid': $palette-colors-green-cool-dark-vivid,
  'palette-colors-green-cool-standard': $palette-colors-green-cool-standard,
  'palette-colors-green-cool-vivid': $palette-colors-green-cool-vivid,
  'palette-colors-green-cool': $palette-colors-green-cool,
);
