$palette-color-green-light: (
  'green-5':  $color-green-5,
  'green-10': $color-green-10,
  'green-20': $color-green-20,
  'green-30': $color-green-30,
);

$palette-color-green-medium: (
  'green-40': $color-green-40,
  'green-50': $color-green-50,
  'green-60': $color-green-60,
);

$palette-color-green-dark: (
  'green-70': $color-green-70,
  'green-80': $color-green-80,
  'green-90': $color-green-90,
);

$palette-color-green-light-vivid: (
  'green-5v':  $color-green-5v,
  'green-10v': $color-green-10v,
  'green-20v': $color-green-20v,
  'green-30v': $color-green-30v,
);

$palette-color-green-medium-vivid: (
  'green-40v': $color-green-40v,
  'green-50v': $color-green-50v,
  'green-60v': $color-green-60v,
);

$palette-color-green-dark-vivid: (
  'green-70v': $color-green-70v,
  'green-80v': $color-green-80v,
  'green-90v': $color-green-90v,
);

$palette-color-green-standard: map-collect(
  $palette-color-green-light,
  $palette-color-green-medium,
  $palette-color-green-dark
);

$palette-color-green-vivid: map-collect(
  $palette-color-green-light-vivid,
  $palette-color-green-medium-vivid,
  $palette-color-green-dark-vivid
);

$palette-color-green: map-collect(
  $palette-color-green-standard,
  $palette-color-green-vivid
);

$palette-color-green: (
  'palette-color-green-light': $palette-color-green-light,
  'palette-color-green-medium': $palette-color-green-medium,
  'palette-color-green-dark': $palette-color-green-dark,
  'palette-color-green-light-vivid': $palette-color-green-light-vivid,
  'palette-color-green-medium-vivid': $palette-color-green-medium-vivid,
  'palette-color-green-dark-vivid': $palette-color-green-dark-vivid,
  'palette-color-green-standard': $palette-color-green-standard,
  'palette-color-green-vivid': $palette-color-green-vivid,
  'palette-color-green': $palette-color-green,
);
