$palette-indigo-light: (
  'indigo-5':  $color-indigo-5,
  'indigo-10': $color-indigo-10,
  'indigo-20': $color-indigo-20,
  'indigo-30': $color-indigo-30,
);

$palette-indigo-medium: (
  'indigo-40': $color-indigo-40,
  'indigo-50': $color-indigo-50,
  'indigo-60': $color-indigo-60,
);

$palette-indigo-dark: (
  'indigo-70': $color-indigo-70,
  'indigo-80': $color-indigo-80,
  'indigo-90': $color-indigo-90,
);

$palette-indigo-light-vivid: (
  'indigo-5v':  $color-indigo-5v,
  'indigo-10v': $color-indigo-10v,
  'indigo-20v': $color-indigo-20v,
  'indigo-30v': $color-indigo-30v,
);

$palette-indigo-medium-vivid: (
  'indigo-40v': $color-indigo-40v,
  'indigo-50v': $color-indigo-50v,
  'indigo-60v': $color-indigo-60v,
);

$palette-indigo-dark-vivid: (
  'indigo-70v': $color-indigo-70v,
  'indigo-80v': $color-indigo-80v,
  'indigo-90v': $color-indigo-90v,
);

$palette-indigo-standard: map-collect(
  $palette-indigo-light,
  $palette-indigo-medium,
  $palette-indigo-dark
);

$palette-indigo-vivid: map-collect(
  $palette-indigo-light-vivid,
  $palette-indigo-medium-vivid,
  $palette-indigo-dark-vivid
);

$palette-indigo-all: map-collect(
  $palette-indigo-standard,
  $palette-indigo-vivid
);

$palette-indigo: (
  'palette-indigo-light': $palette-indigo-light,
  'palette-indigo-medium': $palette-indigo-medium,
  'palette-indigo-dark': $palette-indigo-dark,
  'palette-indigo-light-vivid': $palette-indigo-light-vivid,
  'palette-indigo-medium-vivid': $palette-indigo-medium-vivid,
  'palette-indigo-dark-vivid': $palette-indigo-dark-vivid,
  'palette-indigo-standard': $palette-indigo-standard,
  'palette-indigo-vivid': $palette-indigo-vivid,
  'palette-indigo-all': $palette-indigo-all,
);
