$palette-magenta-light: (
  'magenta-5':  $color-magenta-5,
  'magenta-10': $color-magenta-10,
  'magenta-20': $color-magenta-20,
  'magenta-30': $color-magenta-30,
);

$palette-magenta-medium: (
  'magenta-40': $color-magenta-40,
  'magenta-50': $color-magenta-50,
  'magenta-60': $color-magenta-60,
);

$palette-magenta-dark: (
  'magenta-70': $color-magenta-70,
  'magenta-80': $color-magenta-80,
  'magenta-90': $color-magenta-90,
);

$palette-magenta-light-vivid: (
  'magenta-5v':  $color-magenta-5v,
  'magenta-10v': $color-magenta-10v,
  'magenta-20v': $color-magenta-20v,
  'magenta-30v': $color-magenta-30v,
);

$palette-magenta-medium-vivid: (
  'magenta-40v': $color-magenta-40v,
  'magenta-50v': $color-magenta-50v,
  'magenta-60v': $color-magenta-60v,
);

$palette-magenta-dark-vivid: (
  'magenta-70v': $color-magenta-70v,
  'magenta-80v': $color-magenta-80v,
  'magenta-90v': $color-magenta-90v,
);

$palette-magenta-standard: map-collect(
  $palette-magenta-light,
  $palette-magenta-medium,
  $palette-magenta-dark
);

$palette-magenta-vivid: map-collect(
  $palette-magenta-light-vivid,
  $palette-magenta-medium-vivid,
  $palette-magenta-dark-vivid
);

$palette-magenta-all: map-collect(
  $palette-magenta-standard,
  $palette-magenta-vivid
);

$palette-magenta: (
  'palette-magenta-light': $palette-magenta-light,
  'palette-magenta-medium': $palette-magenta-medium,
  'palette-magenta-dark': $palette-magenta-dark,
  'palette-magenta-light-vivid': $palette-magenta-light-vivid,
  'palette-magenta-medium-vivid': $palette-magenta-medium-vivid,
  'palette-magenta-dark-vivid': $palette-magenta-dark-vivid,
  'palette-magenta-standard': $palette-magenta-standard,
  'palette-magenta-vivid': $palette-magenta-vivid,
  'palette-magenta-all': $palette-magenta-all,
);
