$palette-mint-cool-light: (
  'mint-cool-5':  $color-mint-cool-5,
  'mint-cool-10': $color-mint-cool-10,
  'mint-cool-20': $color-mint-cool-20,
  'mint-cool-30': $color-mint-cool-30,
);

$palette-mint-cool-medium: (
  'mint-cool-40': $color-mint-cool-40,
  'mint-cool-50': $color-mint-cool-50,
  'mint-cool-60': $color-mint-cool-60,
);

$palette-mint-cool-dark: (
  'mint-cool-70': $color-mint-cool-70,
  'mint-cool-80': $color-mint-cool-80,
  'mint-cool-90': $color-mint-cool-90,
);

$palette-mint-cool-light-vivid: (
  'mint-cool-5v':  $color-mint-cool-5v,
  'mint-cool-10v': $color-mint-cool-10v,
  'mint-cool-20v': $color-mint-cool-20v,
  'mint-cool-30v': $color-mint-cool-30v,
);

$palette-mint-cool-medium-vivid: (
  'mint-cool-40v': $color-mint-cool-40v,
  'mint-cool-50v': $color-mint-cool-50v,
  'mint-cool-60v': $color-mint-cool-60v,
);

$palette-mint-cool-dark-vivid: (
  'mint-cool-70v': $color-mint-cool-70v,
  'mint-cool-80v': $color-mint-cool-80v,
  'mint-cool-90v': $color-mint-cool-90v,
);

$palette-mint-cool-standard: map-collect(
  $palette-mint-cool-light,
  $palette-mint-cool-medium,
  $palette-mint-cool-dark
);

$palette-mint-cool-vivid: map-collect(
  $palette-mint-cool-light-vivid,
  $palette-mint-cool-medium-vivid,
  $palette-mint-cool-dark-vivid
);

$palette-mint-cool-all: map-collect(
  $palette-mint-cool-standard,
  $palette-mint-cool-vivid
);

$palette-mint-cool: (
  'palette-mint-cool-light': $palette-mint-cool-light,
  'palette-mint-cool-medium': $palette-mint-cool-medium,
  'palette-mint-cool-dark': $palette-mint-cool-dark,
  'palette-mint-cool-light-vivid': $palette-mint-cool-light-vivid,
  'palette-mint-cool-medium-vivid': $palette-mint-cool-medium-vivid,
  'palette-mint-cool-dark-vivid': $palette-mint-cool-dark-vivid,
  'palette-mint-cool-standard': $palette-mint-cool-standard,
  'palette-mint-cool-vivid': $palette-mint-cool-vivid,
  'palette-mint-cool-all': $palette-mint-cool-all,
);
