$palette-colors-mint-light: (
  'mint-5':  $color-mint-5,
  'mint-10': $color-mint-10,
  'mint-20': $color-mint-20,
  'mint-30': $color-mint-30,
);

$palette-colors-mint-medium: (
  'mint-40': $color-mint-40,
  'mint-50': $color-mint-50,
  'mint-60': $color-mint-60,
);

$palette-colors-mint-dark: (
  'mint-70': $color-mint-70,
  'mint-80': $color-mint-80,
  'mint-90': $color-mint-90,
);

$palette-colors-mint-light-vivid: (
  'mint-5v':  $color-mint-5v,
  'mint-10v': $color-mint-10v,
  'mint-20v': $color-mint-20v,
  'mint-30v': $color-mint-30v,
);

$palette-colors-mint-medium-vivid: (
  'mint-40v': $color-mint-40v,
  'mint-50v': $color-mint-50v,
  'mint-60v': $color-mint-60v,
);

$palette-colors-mint-dark-vivid: (
  'mint-70v': $color-mint-70v,
  'mint-80v': $color-mint-80v,
  'mint-90v': $color-mint-90v,
);

$palette-colors-mint-standard: map-collect(
  $palette-colors-mint-light,
  $palette-colors-mint-medium,
  $palette-colors-mint-dark
);

$palette-colors-mint-vivid: map-collect(
  $palette-colors-mint-light-vivid,
  $palette-colors-mint-medium-vivid,
  $palette-colors-mint-dark-vivid
);

$palette-colors-mint: map-collect(
  $palette-colors-mint-standard,
  $palette-colors-mint-vivid
);

$palettes-colors-mint: (
  'palette-colors-mint-light': $palette-colors-mint-light,
  'palette-colors-mint-medium': $palette-colors-mint-medium,
  'palette-colors-mint-dark': $palette-colors-mint-dark,
  'palette-colors-mint-light-vivid': $palette-colors-mint-light-vivid,
  'palette-colors-mint-medium-vivid': $palette-colors-mint-medium-vivid,
  'palette-colors-mint-dark-vivid': $palette-colors-mint-dark-vivid,
  'palette-colors-mint-standard': $palette-colors-mint-standard,
  'palette-colors-mint-vivid': $palette-colors-mint-vivid,
  'palette-colors-mint': $palette-colors-mint,
);
