$color-palette-theme: (
  'base-lightest':          get-system-color($theme-color-base-lightest),
  'base-lighter':           get-system-color($theme-color-base-lighter),
  'base-light':             get-system-color($theme-color-base-light),
  'base':                   get-system-color($theme-color-base),
  'base-dark':              get-system-color($theme-color-base-dark),
  'base-darker':            get-system-color($theme-color-base-darker),
  'base-darkest':           get-system-color($theme-color-base-darkest),
  'ink':                    get-system-color($theme-color-ink),
  'primary-lightest':       get-system-color($theme-color-primary-lightest),
  'primary-lighter':        get-system-color($theme-color-primary-lighter),
  'primary-light':          get-system-color($theme-color-primary-light),
  'primary':                get-system-color($theme-color-primary),
  'primary-vivid':          get-system-color($theme-color-primary-vivid),
  'primary-dark':           get-system-color($theme-color-primary-dark),
  'primary-darker':         get-system-color($theme-color-primary-darker),
  'primary-darkest':        get-system-color($theme-color-primary-darkest),
  'secondary-lightest':     get-system-color($theme-color-secondary-lightest),
  'secondary-lighter':      get-system-color($theme-color-secondary-lighter),
  'secondary-light':        get-system-color($theme-color-secondary-light),
  'secondary':              get-system-color($theme-color-secondary),
  'secondary-vivid':        get-system-color($theme-color-secondary-vivid),
  'secondary-dark':         get-system-color($theme-color-secondary-dark),
  'secondary-darker':       get-system-color($theme-color-secondary-darker),
  'secondary-darkest':      get-system-color($theme-color-secondary-darkest),
  'accent-warm-lightest':   get-system-color($theme-color-accent-warm-lightest),
  'accent-warm-lighter':    get-system-color($theme-color-accent-warm-lighter),
  'accent-warm-light':      get-system-color($theme-color-accent-warm-light),
  'accent-warm':            get-system-color($theme-color-accent-warm),
  'accent-warm-dark':       get-system-color($theme-color-accent-warm-dark),
  'accent-warm-darker':     get-system-color($theme-color-accent-warm-darker),
  'accent-warm-darkest':    get-system-color($theme-color-accent-warm-darkest),
  'accent-cool-lightest':   get-system-color($theme-color-accent-cool-lightest),
  'accent-cool-lighter':    get-system-color($theme-color-accent-cool-lighter),
  'accent-cool-light':      get-system-color($theme-color-accent-cool-light),
  'accent-cool':            get-system-color($theme-color-accent-cool),
  'accent-cool-dark':       get-system-color($theme-color-accent-cool-dark),
  'accent-cool-darker':     get-system-color($theme-color-accent-cool-darker),
  'accent-cool-darkest':    get-system-color($theme-color-accent-cool-darkest),
);

$color-palette-state: (
  'error-lighter':      get-system-color($theme-color-error-lighter),
  'error-light':        get-system-color($theme-color-error-light),
  'error':              get-system-color($theme-color-error),
  'error-dark':         get-system-color($theme-color-error-dark),
  'error-darker':       get-system-color($theme-color-error-darker),
  'warn-lighter':       get-system-color($theme-color-warn-lighter),
  'warn-light':         get-system-color($theme-color-warn-light),
  'warn':               get-system-color($theme-color-warn),
  'warn-dark':          get-system-color($theme-color-warn-dark),
  'warn-darker':        get-system-color($theme-color-warn-darker),
  'success-lighter':    get-system-color($theme-color-success-lighter),
  'success-light':      get-system-color($theme-color-success-light),
  'success':            get-system-color($theme-color-success),
  'success-dark':       get-system-color($theme-color-success-dark),
  'success-darker':     get-system-color($theme-color-success-darker),
  'disabled':           get-system-color($theme-color-disabled),
);

$color-palette-grayscale: (
  'gray-5':    get-system-color('gray', 5),
  'gray-10':   get-system-color('gray', 10),
  'gray-30':   get-system-color('gray', 30),
  'gray-50':   get-system-color('gray', 50),
  'gray-70':   get-system-color('gray', 70),
  'gray-90':   get-system-color('gray', 90),
);

$palette-all-color-palettes: (
  'palette-colors-theme':     $color-palette-theme,
  'palette-colors-grayscale': $color-palette-grayscale,
  'palette-colors-required':  $system-required-colors,
  'palette-colors-state':     $color-palette-state,
  'palette-colors-basic':     $system-basic-colors,
);
