$color-palette-theme: (
  'base-lightest':          $color-theme-base-lightest,
  'base-lighter':           $color-theme-base-lighter,
  'base-light':             $color-theme-base-light,
  'base':                   $color-theme-base,
  'base-dark':              $color-theme-base-dark,
  'base-darker':            $color-theme-base-darker,
  'base-darkest':           $color-theme-base-darkest,
  'ink':                    $color-theme-ink,
  'primary-lightest':       $color-theme-primary-lightest,
  'primary-lighter':        $color-theme-primary-lighter,
  'primary-light':          $color-theme-primary-light,
  'primary':                $color-theme-primary,
  'primary-vivid':          $color-theme-primary-vivid,
  'primary-dark':           $color-theme-primary-dark,
  'primary-darker':         $color-theme-primary-darker,
  'primary-darkest':        $color-theme-primary-darkest,
  'secondary-lightest':     $color-theme-secondary-lightest,
  'secondary-lighter':      $color-theme-secondary-lighter,
  'secondary-light':        $color-theme-secondary-light,
  'secondary':              $color-theme-secondary,
  'secondary-vivid':        $color-theme-secondary-vivid,
  'secondary-dark':         $color-theme-secondary-dark,
  'secondary-darker':       $color-theme-secondary-darker,
  'secondary-darkest':      $color-theme-secondary-darkest,
  'accent-warm-lightest':   $color-theme-accent-warm-lightest,
  'accent-warm-lighter':    $color-theme-accent-warm-lighter,
  'accent-warm-light':      $color-theme-accent-warm-light,
  'accent-warm':            $color-theme-accent-warm,
  'accent-warm-dark':       $color-theme-accent-warm-dark,
  'accent-warm-darker':     $color-theme-accent-warm-darker,
  'accent-warm-darkest':    $color-theme-accent-warm-darkest,
  'accent-cool-lightest':   $color-theme-accent-cool-lightest,
  'accent-cool-lighter':    $color-theme-accent-cool-lighter,
  'accent-cool-light':      $color-theme-accent-cool-light,
  'accent-cool':            $color-theme-accent-cool,
  'accent-cool-dark':       $color-theme-accent-cool-dark,
  'accent-cool-darker':     $color-theme-accent-cool-darker,
  'accent-cool-darkest':    $color-theme-accent-cool-darkest,
);

$color-palette-state: (
  'error-lighter':          $color-theme-error-lighter,
  'error-light':            $color-theme-error-light,
  'error':                  $color-theme-error,
  'error-dark':             $color-theme-error-dark,
  'error-darker':           $color-theme-error-darker,
  'warning-lighter':        $color-theme-warning-lighter,
  'warning-light':          $color-theme-warning-light,
  'warning':                $color-theme-warning,
  'warning-dark':           $color-theme-warning-dark,
  'warning-darker':         $color-theme-warning-darker,
  'success-lighter':        $color-theme-success-lighter,
  'success-light':          $color-theme-success-light,
  'success':                $color-theme-success,
  'success-dark':           $color-theme-success-dark,
  'success-darker':         $color-theme-success-darker,
  'disabled':               $color-theme-disabled,
);

$color-palette-grayscale: (
  'gray-5':                 $color-gray-5,
  'gray-10':                $color-gray-10,
  'gray-30':                $color-gray-30,
  'gray-50':                $color-gray-50,
  'gray-70':                $color-gray-70,
  'gray-90':                $color-gray-90,
);

$palette-all-color-palettes: (
  'palette-colors-theme':     $color-palette-theme,
  'palette-colors-grayscale': $color-palette-grayscale,
  'palette-colors-required':  $system-required-colors,
  'palette-colors-state':     $color-palette-state,
  'palette-colors-basic':     $system-basic-colors,
);
