$palette-color-orange-light: (
  'orange-5':  $orange-5,
  'orange-10': $orange-10,
  'orange-20': $orange-20,
  'orange-30': $orange-30,
);

$palette-color-orange-medium: (
  'orange-40': $orange-40,
  'orange-50': $orange-50,
  'orange-60': $orange-60,
);

$palette-color-orange-dark: (
  'orange-70': $orange-70,
  'orange-80': $orange-80,
  'orange-90': $orange-90,
);

$palette-color-orange-light-vivid: (
  'orange-5v':  $orange-5v,
  'orange-10v': $orange-10v,
  'orange-20v': $orange-20v,
  'orange-30v': $orange-30v,
);

$palette-color-orange-medium-vivid: (
  'orange-40v': $orange-40v,
  'orange-50v': $orange-50v,
  'orange-60v': $orange-60v,
);

$palette-color-orange-dark-vivid: (
  'orange-70v': $orange-70v,
  'orange-80v': $orange-80v,
  'orange-90v': $orange-90v,
);

$palette-color-orange-standard: map-collect(
  $palette-color-orange-light,
  $palette-color-orange-medium,
  $palette-color-orange-dark
);

$palette-color-orange-vivid: map-collect(
  $palette-color-orange-light-vivid,
  $palette-color-orange-medium-vivid,
  $palette-color-orange-dark-vivid
);

$palette-color-orange-all: map-collect(
  $palette-color-orange-standard,
  $palette-color-orange-vivid
);

$palette-color-orange: (
  'palette-color-orange-light': $palette-color-orange-light,
  'palette-color-orange-medium': $palette-color-orange-medium,
  'palette-color-orange-dark': $palette-color-orange-dark,
  'palette-color-orange-light-vivid': $palette-color-orange-light-vivid,
  'palette-color-orange-medium-vivid': $palette-color-orange-medium-vivid,
  'palette-color-orange-dark-vivid': $palette-color-orange-dark-vivid,
  'palette-color-orange-standard': $palette-color-orange-standard,
  'palette-color-orange-vivid': $palette-color-orange-vivid,
  'palette-color-orange-all': $palette-color-orange-all,
);
