$palette-orange-warm-light: (
  'orange-warm-5':  $color-orange-warm-5,
  'orange-warm-10': $color-orange-warm-10,
  'orange-warm-20': $color-orange-warm-20,
  'orange-warm-30': $color-orange-warm-30,
);

$palette-orange-warm-medium: (
  'orange-warm-40': $color-orange-warm-40,
  'orange-warm-50': $color-orange-warm-50,
  'orange-warm-60': $color-orange-warm-60,
);

$palette-orange-warm-dark: (
  'orange-warm-70': $color-orange-warm-70,
  'orange-warm-80': $color-orange-warm-80,
  'orange-warm-90': $color-orange-warm-90,
);

$palette-orange-warm-light-vivid: (
  'orange-warm-5v':  $color-orange-warm-5v,
  'orange-warm-10v': $color-orange-warm-10v,
  'orange-warm-20v': $color-orange-warm-20v,
  'orange-warm-30v': $color-orange-warm-30v,
);

$palette-orange-warm-medium-vivid: (
  'orange-warm-40v': $color-orange-warm-40v,
  'orange-warm-50v': $color-orange-warm-50v,
  'orange-warm-60v': $color-orange-warm-60v,
);

$palette-orange-warm-dark-vivid: (
  'orange-warm-70v': $color-orange-warm-70v,
  'orange-warm-80v': $color-orange-warm-80v,
  'orange-warm-90v': $color-orange-warm-90v,
);

$palette-orange-warm-standard: map-collect(
  $palette-orange-warm-light,
  $palette-orange-warm-medium,
  $palette-orange-warm-dark
);

$palette-orange-warm-vivid: map-collect(
  $palette-orange-warm-light-vivid,
  $palette-orange-warm-medium-vivid,
  $palette-orange-warm-dark-vivid
);

$palette-orange-warm-all: map-collect(
  $palette-orange-warm-standard,
  $palette-orange-warm-vivid
);

$palette-orange-warm: (
  'palette-orange-warm-light': $palette-orange-warm-light,
  'palette-orange-warm-medium': $palette-orange-warm-medium,
  'palette-orange-warm-dark': $palette-orange-warm-dark,
  'palette-orange-warm-light-vivid': $palette-orange-warm-light-vivid,
  'palette-orange-warm-medium-vivid': $palette-orange-warm-medium-vivid,
  'palette-orange-warm-dark-vivid': $palette-orange-warm-dark-vivid,
  'palette-orange-warm-standard': $palette-orange-warm-standard,
  'palette-orange-warm-vivid': $palette-orange-warm-vivid,
  'palette-orange-warm-all': $palette-orange-warm-all,
);
