$tokens-color-red-warm-light: (
  "red-warm-5": $color-red-warm-5,
  "red-warm-10": $color-red-warm-10,
  "red-warm-20": $color-red-warm-20,
  "red-warm-30": $color-red-warm-30
);

$tokens-color-red-warm-medium: (
  "red-warm-40": $color-red-warm-40,
  "red-warm-50": $color-red-warm-50,
  "red-warm-60": $color-red-warm-60
);

$tokens-color-red-warm-dark: (
  "red-warm-70": $color-red-warm-70,
  "red-warm-80": $color-red-warm-80,
  "red-warm-90": $color-red-warm-90
);

$tokens-color-red-warm-light-vivid: (
  "red-warm-5v": $color-red-warm-5v,
  "red-warm-10v": $color-red-warm-10v,
  "red-warm-20v": $color-red-warm-20v,
  "red-warm-30v": $color-red-warm-30v
);

$tokens-color-red-warm-medium-vivid: (
  "red-warm-40v": $color-red-warm-40v,
  "red-warm-50v": $color-red-warm-50v,
  "red-warm-60v": $color-red-warm-60v
);

$tokens-color-red-warm-dark-vivid: (
  "red-warm-70v": $color-red-warm-70v,
  "red-warm-80v": $color-red-warm-80v,
  "red-warm-90v": $color-red-warm-90v
);

$tokens-color-red-warm-standard: map-collect(
  $tokens-color-red-warm-light,
  $tokens-color-red-warm-medium,
  $tokens-color-red-warm-dark
);

$tokens-color-red-warm-vivid: map-collect(
  $tokens-color-red-warm-light-vivid,
  $tokens-color-red-warm-medium-vivid,
  $tokens-color-red-warm-dark-vivid
);

$tokens-color-red-warm: map-collect(
  $tokens-color-red-warm-standard,
  $tokens-color-red-warm-vivid
);

$palettes-color-red-warm: (
  "palette-color-system-red-warm-light": $tokens-color-red-warm-light,
  "palette-color-system-red-warm-medium": $tokens-color-red-warm-medium,
  "palette-color-system-red-warm-dark": $tokens-color-red-warm-dark,
  "palette-color-system-red-warm-light-vivid":
    $tokens-color-red-warm-light-vivid,
  "palette-color-system-red-warm-medium-vivid":
    $tokens-color-red-warm-medium-vivid,
  "palette-color-system-red-warm-dark-vivid": $tokens-color-red-warm-dark-vivid,
  "palette-color-system-red-warm-standard": $tokens-color-red-warm-standard,
  "palette-color-system-red-warm-vivid": $tokens-color-red-warm-vivid,
  "palette-color-system-red-warm": $tokens-color-red-warm
);
