$palette-color-yellow-light: (
  'yellow-5':  $yellow-5,
  'yellow-10': $yellow-10,
  'yellow-20': $yellow-20,
  'yellow-30': $yellow-30,
);

$palette-color-yellow-medium: (
  'yellow-40': $yellow-40,
  'yellow-50': $yellow-50,
  'yellow-60': $yellow-60,
);

$palette-color-yellow-dark: (
  'yellow-70': $yellow-70,
  'yellow-80': $yellow-80,
  'yellow-90': $yellow-90,
);

$palette-color-yellow-light-vivid: (
  'yellow-5v':  $yellow-5v,
  'yellow-10v': $yellow-10v,
  'yellow-20v': $yellow-20v,
  'yellow-30v': $yellow-30v,
);

$palette-color-yellow-medium-vivid: (
  'yellow-40v': $yellow-40v,
  'yellow-50v': $yellow-50v,
  'yellow-60v': $yellow-60v,
);

$palette-color-yellow-dark-vivid: (
  'yellow-70v': $yellow-70v,
  'yellow-80v': $yellow-80v,
  'yellow-90v': $yellow-90v,
);

$palette-color-yellow-standard: map-collect(
  $palette-color-yellow-light,
  $palette-color-yellow-medium,
  $palette-color-yellow-dark
);

$palette-color-yellow-vivid: map-collect(
  $palette-color-yellow-light-vivid,
  $palette-color-yellow-medium-vivid,
  $palette-color-yellow-dark-vivid
);

$palette-color-yellow-all: map-collect(
  $palette-color-yellow-standard,
  $palette-color-yellow-vivid
);

$palette-color-yellow: (
  'palette-color-yellow-light': $palette-color-yellow-light,
  'palette-color-yellow-medium': $palette-color-yellow-medium,
  'palette-color-yellow-dark': $palette-color-yellow-dark,
  'palette-color-yellow-light-vivid': $palette-color-yellow-light-vivid,
  'palette-color-yellow-medium-vivid': $palette-color-yellow-medium-vivid,
  'palette-color-yellow-dark-vivid': $palette-color-yellow-dark-vivid,
  'palette-color-yellow-standard': $palette-color-yellow-standard,
  'palette-color-yellow-vivid': $palette-color-yellow-vivid,
  'palette-color-yellow-all': $palette-color-yellow-all,
);
