@use "sass:math";

@use "uswds-core" as *;

@mixin outer-megamenu {
  @include u-pin("y");
  background-color: color("primary-darker");
  content: "";
  display: block;
  position: absolute;
}

@mixin outer-megamenu--standard {
  @include outer-megamenu;
  width: calc(50vw - units($theme-header-max-width) / 2 + units($theme-site-margins-width));
}

@mixin outer-megamenu--extended {
  @include outer-megamenu;
  width: calc(50vw - units($theme-header-max-width) / 2);
}

.usa-megamenu {
  .usa-col {
    // Flex grow to take up available width.
    // Flex shrink so long nav lines don't extend beyond viewport.
    // Finally `flex-basis: auto` for IE11.
    flex: 1 1 auto;

    @include at-media($theme-header-min-width) {
      // needs this round() to avoid a compile bug
      @include u-flex(math.round(math.div(12, $theme-megamenu-columns)));
    }
  }
}

.usa-megamenu.usa-nav__submenu {
  @include at-media($theme-header-min-width) {
    @include u-padding-x(0);
    @include u-padding-y(4);
    left: -$theme-header-logo-text-width;
    right: 0;
    width: auto;
  }

  &::before {
    @include at-media($theme-header-min-width) {
      @include outer-megamenu--standard;
      right: 100%;
    }
  }

  &::after {
    @include at-media($theme-header-min-width) {
      @include outer-megamenu--standard;
      left: 100%;
    }
  }


}

.usa-header--extended .usa-megamenu.usa-nav__submenu {
  &::before {
    @include at-media($theme-header-min-width) {
      @include outer-megamenu--extended;
    }
  }

  &::after {
    @include at-media($theme-header-min-width) {
      @include outer-megamenu--extended;
    }
  }
}