<p><a href="javascript:void(0);">This</a> is a text link on a light background.</p>

<p><a class="usa-color-text-visited" href="javascript:void(0);">This</a> is a visited link.</p>

<p>This is a link that goes to an <a class="usa-external_link" href="http://media.giphy.com/media/8sgNa77Dvj7tC/giphy.gif">external website</a>.</p>

<div class="usa-background-dark">
  <p><a href="javascript:void(0);">This</a> is a text link on a dark background.</p>
</div>
