$preset-colors-black-light: (
  'black-5':  $black-5,
  'black-10': $black-10,
  'black-20': $black-20,
  'black-30': $black-30,
);

$preset-colors-black-medium: (
  'black-40': $black-40,
  'black-50': $black-50,
  'black-60': $black-60,
);

$preset-colors-black-dark: (
  'black-70': $black-70,
  'black-80': $black-80,
  'black-90': $black-90,
);

$preset-colors-black: map-collect(
  $preset-colors-black-light,
  $preset-colors-black-medium,
  $preset-colors-black-dark
);
