$plugin-colors-blue-light: (
  'blue-5':  $blue-5,
  'blue-10': $blue-10,
  'blue-20': $blue-20,
  'blue-30': $blue-30,
);

$plugin-colors-blue-medium: (
  'blue-40': $blue-40,
  'blue-50': $blue-50,
  'blue-60': $blue-60,
);

$plugin-colors-blue-dark: (
  'blue-70': $blue-70,
  'blue-80': $blue-80,
  'blue-90': $blue-90,
);

$plugin-colors-blue-light-vivid: (
  'blue-5v':  $blue-5v,
  'blue-10v': $blue-10v,
  'blue-20v': $blue-20v,
  'blue-30v': $blue-30v,
);

$plugin-colors-blue-medium-vivid: (
  'blue-40v': $blue-40v,
  'blue-50v': $blue-50v,
  'blue-60v': $blue-60v,
);

$plugin-colors-blue-dark-vivid: (
  'blue-70v': $blue-70v,
  'blue-80v': $blue-80v,
  'blue-90v': $blue-90v,
);

$plugin-colors-blue-standard: map-collect(
  $plugin-colors-blue-light,
  $plugin-colors-blue-medium,
  $plugin-colors-blue-dark
);

$plugin-colors-blue-vivid: map-collect(
  $plugin-colors-blue-light-vivid,
  $plugin-colors-blue-medium-vivid,
  $plugin-colors-blue-dark-vivid
);

$plugin-colors-blue: map-collect(
  $plugin-colors-blue-standard,
  $plugin-colors-blue-vivid
);
