$preset-colors-gold-light: (
  'gold-5':  $gold-5,
  'gold-10': $gold-10,
  'gold-20': $gold-20,
  'gold-30': $gold-30,
);

$preset-colors-gold-medium: (
  'gold-40': $gold-40,
  'gold-50': $gold-50,
  'gold-60': $gold-60,
);

$preset-colors-gold-dark: (
  'gold-70': $gold-70,
  'gold-80': $gold-80,
  'gold-90': $gold-90,
);

$preset-colors-gold-light-vivid: (
  'gold-5v':  $gold-5v,
  'gold-10v': $gold-10v,
  'gold-20v': $gold-20v,
  'gold-30v': $gold-30v,
);

$preset-colors-gold-medium-vivid: (
  'gold-40v': $gold-40v,
  'gold-50v': $gold-50v,
  'gold-60v': $gold-60v,
);

$preset-colors-gold-dark-vivid: (
  'gold-70v': $gold-70v,
  'gold-80v': $gold-80v,
  'gold-90v': $gold-90v,
);

$preset-colors-gold-standard: map-collect(
  $preset-colors-gold-light,
  $preset-colors-gold-medium,
  $preset-colors-gold-dark
);

$preset-colors-gold-vivid: map-collect(
  $preset-colors-gold-light-vivid,
  $preset-colors-gold-medium-vivid,
  $preset-colors-gold-dark-vivid
);

$preset-colors-gold: map-collect(
  $preset-colors-gold-standard,
  $preset-colors-gold-vivid
);
