$preset-colors-green-warm-light: (
  'green-warm-5':  $green-warm-5,
  'green-warm-10': $green-warm-10,
  'green-warm-20': $green-warm-20,
  'green-warm-30': $green-warm-30,
);

$preset-colors-green-warm-medium: (
  'green-warm-40': $green-warm-40,
  'green-warm-50': $green-warm-50,
  'green-warm-60': $green-warm-60,
);

$preset-colors-green-warm-dark: (
  'green-warm-70': $green-warm-70,
  'green-warm-80': $green-warm-80,
  'green-warm-90': $green-warm-90,
);

$preset-colors-green-warm-light-vivid: (
  'green-warm-5v':  $green-warm-5v,
  'green-warm-10v': $green-warm-10v,
  'green-warm-20v': $green-warm-20v,
  'green-warm-30v': $green-warm-30v,
);

$preset-colors-green-warm-medium-vivid: (
  'green-warm-40v': $green-warm-40v,
  'green-warm-50v': $green-warm-50v,
  'green-warm-60v': $green-warm-60v,
);

$preset-colors-green-warm-dark-vivid: (
  'green-warm-70v': $green-warm-70v,
  'green-warm-80v': $green-warm-80v,
  'green-warm-90v': $green-warm-90v,
);

$preset-colors-green-warm-standard: map-collect(
  $preset-colors-green-warm-light,
  $preset-colors-green-warm-medium,
  $preset-colors-green-warm-dark
);

$preset-colors-green-warm-vivid: map-collect(
  $preset-colors-green-warm-light-vivid,
  $preset-colors-green-warm-medium-vivid,
  $preset-colors-green-warm-dark-vivid
);

$preset-colors-green-warm: map-collect(
  $preset-colors-green-warm-standard,
  $preset-colors-green-warm-vivid
);
