$preset-colors-magenta-light: (
  'magenta-5':  $magenta-5,
  'magenta-10': $magenta-10,
  'magenta-20': $magenta-20,
  'magenta-30': $magenta-30,
);

$preset-colors-magenta-medium: (
  'magenta-40': $magenta-40,
  'magenta-50': $magenta-50,
  'magenta-60': $magenta-60,
  'magenta-70': $magenta-70,
);

$preset-colors-magenta-dark: (
  'magenta-80': $magenta-80,
  'magenta-90': $magenta-90,
);

$preset-colors-magenta-vivid: (
  'magenta-5v':  $magenta-5v,
  'magenta-10v': $magenta-10v,
  'magenta-20v': $magenta-20v,
  'magenta-30v': $magenta-30v,
  'magenta-40v': $magenta-40v,
  'magenta-50v': $magenta-50v,
  'magenta-60v': $magenta-60v,
  'magenta-70v': $magenta-70v,
  'magenta-80v': $magenta-80v,
  'magenta-90v': $magenta-90v,
);

$preset-colors-magenta-standard: map-collect(
  $preset-colors-magenta-light,
  $preset-colors-magenta-medium,
  $preset-colors-magenta-dark
);

$preset-colors-magenta: map-collect(
  $preset-colors-magenta-standard,
  $preset-colors-magenta-vivid
);
