$preset-colors-mint-cool-light: (
  'mint-cool-5':  $mint-cool-5,
  'mint-cool-10': $mint-cool-10,
  'mint-cool-20': $mint-cool-20,
  'mint-cool-30': $mint-cool-30,
);

$preset-colors-mint-cool-medium: (
  'mint-cool-40': $mint-cool-40,
  'mint-cool-50': $mint-cool-50,
  'mint-cool-60': $mint-cool-60,
);

$preset-colors-mint-cool-dark: (
  'mint-cool-70': $mint-cool-70,
  'mint-cool-80': $mint-cool-80,
  'mint-cool-90': $mint-cool-90,
);

$preset-colors-mint-cool-light-vivid: (
  'mint-cool-5v':  $mint-cool-5v,
  'mint-cool-10v': $mint-cool-10v,
  'mint-cool-20v': $mint-cool-20v,
  'mint-cool-30v': $mint-cool-30v,
);

$preset-colors-mint-cool-medium-vivid: (
  'mint-cool-40v': $mint-cool-40v,
  'mint-cool-50v': $mint-cool-50v,
  'mint-cool-60v': $mint-cool-60v,
);

$preset-colors-mint-cool-dark-vivid: (
  'mint-cool-70v': $mint-cool-70v,
  'mint-cool-80v': $mint-cool-80v,
  'mint-cool-90v': $mint-cool-90v,
);

$preset-colors-mint-cool-standard: map-collect(
  $preset-colors-mint-cool-light,
  $preset-colors-mint-cool-medium,
  $preset-colors-mint-cool-dark
);

$preset-colors-mint-cool-vivid: map-collect(
  $preset-colors-mint-cool-light-vivid,
  $preset-colors-mint-cool-medium-vivid,
  $preset-colors-mint-cool-dark-vivid
);

$preset-colors-mint-cool: map-collect(
  $preset-colors-mint-cool-standard,
  $preset-colors-mint-cool-vivid
);
