$preset-colors-orange-light: (
  'orange-5':  $orange-5,
  'orange-10': $orange-10,
  'orange-20': $orange-20,
  'orange-30': $orange-30,
);

$preset-colors-orange-medium: (
  'orange-40': $orange-40,
  'orange-50': $orange-50,
  'orange-60': $orange-60,
);

$preset-colors-orange-dark: (
  'orange-70': $orange-70,
  'orange-80': $orange-80,
  'orange-90': $orange-90,
);

$preset-colors-orange-light-vivid: (
  'orange-5v':  $orange-5v,
  'orange-10v': $orange-10v,
  'orange-20v': $orange-20v,
  'orange-30v': $orange-30v,
);

$preset-colors-orange-medium-vivid: (
  'orange-40v': $orange-40v,
  'orange-50v': $orange-50v,
  'orange-60v': $orange-60v,
);

$preset-colors-orange-dark-vivid: (
  'orange-70v': $orange-70v,
  'orange-80v': $orange-80v,
  'orange-90v': $orange-90v,
);

$preset-colors-orange-standard: map-collect(
  $preset-colors-orange-light,
  $preset-colors-orange-medium,
  $preset-colors-orange-dark
);

$preset-colors-orange-vivid: map-collect(
  $preset-colors-orange-light-vivid,
  $preset-colors-orange-medium-vivid,
  $preset-colors-orange-dark-vivid
);

$preset-colors-orange: map-collect(
  $preset-colors-orange-standard,
  $preset-colors-orange-vivid
);
