$plugin-colors-red-light: (
  'red-5':  $red-5,
  'red-10': $red-10,
  'red-20': $red-20,
  'red-30': $red-30,
);

$plugin-colors-red-medium: (
  'red-40': $red-40,
  'red-50': $red-50,
  'red-60': $red-60,
);

$plugin-colors-red-dark: (
  'red-70': $red-70,
  'red-80': $red-80,
  'red-90': $red-90,
);

$plugin-colors-red-light-vivid: (
  'red-5v':  $red-5v,
  'red-10v': $red-10v,
  'red-20v': $red-20v,
  'red-30v': $red-30v,
);

$plugin-colors-red-medium-vivid: (
  'red-40v': $red-40v,
  'red-50v': $red-50v,
  'red-60v': $red-60v,
);

$plugin-colors-red-dark-vivid: (
  'red-70v': $red-70v,
  'red-80v': $red-80v,
  'red-90v': $red-90v,
);

$plugin-colors-red-standard: map-collect(
  $plugin-colors-red-light,
  $plugin-colors-red-medium,
  $plugin-colors-red-dark
);

$plugin-colors-red-vivid: map-collect(
  $plugin-colors-red-light-vivid,
  $plugin-colors-red-medium-vivid,
  $plugin-colors-red-dark-vivid
);

$plugin-colors-red: map-collect(
  $plugin-colors-red-standard,
  $plugin-colors-red-vivid
);
