$preset-colors-violet-warm-light: (
  'violet-warm-5':  $violet-warm-5,
  'violet-warm-10': $violet-warm-10,
  'violet-warm-20': $violet-warm-20,
  'violet-warm-30': $violet-warm-30,
);

$preset-colors-violet-warm-medium: (
  'violet-warm-40': $violet-warm-40,
  'violet-warm-50': $violet-warm-50,
  'violet-warm-60': $violet-warm-60,
);

$preset-colors-violet-warm-dark: (
  'violet-warm-70': $violet-warm-70,
  'violet-warm-80': $violet-warm-80,
  'violet-warm-90': $violet-warm-90,
);

$preset-colors-violet-warm-light-vivid: (
  'violet-warm-5v':  $violet-warm-5v,
  'violet-warm-10v': $violet-warm-10v,
  'violet-warm-20v': $violet-warm-20v,
  'violet-warm-30v': $violet-warm-30v,
);

$preset-colors-violet-warm-medium-vivid: (
  'violet-warm-40v': $violet-warm-40v,
  'violet-warm-50v': $violet-warm-50v,
  'violet-warm-60v': $violet-warm-60v,
);

$preset-colors-violet-warm-dark-vivid: (
  'violet-warm-70v': $violet-warm-70v,
  'violet-warm-80v': $violet-warm-80v,
  'violet-warm-90v': $violet-warm-90v,
);

$preset-colors-violet-warm-standard: map-collect(
  $preset-colors-violet-warm-light,
  $preset-colors-violet-warm-medium,
  $preset-colors-violet-warm-dark
);

$preset-colors-violet-warm-vivid: map-collect(
  $preset-colors-violet-warm-light-vivid,
  $preset-colors-violet-warm-medium-vivid,
  $preset-colors-violet-warm-dark-vivid
);

$preset-colors-violet-warm: map-collect(
  $preset-colors-violet-warm-standard,
  $preset-colors-violet-warm-vivid
);
