
  <form class="usa-form">
    <fieldset>
      <legend>Name</legend>
      <label for="title" class="usa-input-optional">Title</label>
      <input class="usa-input-tiny" id="title" name="title" type="text">

      <label for="first-name">First name</label>
      <input id="first-name" name="first-name" type="text" required="" aria-required="true">

      <label for="middle-name" class="usa-input-optional">Middle name</label>
      <input id="middle-name" name="middle-name" type="text">

      <label for="last-name">Last name</label>
      <input id="last-name" name="last-name" type="text" required="" aria-required="true">

    </fieldset>
  </form>
