<form class="usa-form">
  <fieldset>
    <legend class="usa-drop_text">Reset password</legend>
    <span class="usa-serif">Please enter your new password</span>

    <div class="usa-alert usa-alert-info">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Password information</h3>
        <p class="usa-alert-text">
          Length requirements
          <br>
          Character constraints, if any
        </p>
      </div>
    </div>

    <label for="password-reset">New password</label>
    <input id="password-reset" name="password" type="password">

    <label for="confirmPassword">Confirm password</label>
    <input id="confirmPassword" name="confirmPassword" type="password">
    <p class="usa-form-note">
      <a href="javascript:void(0);"
        class="usa-show_multipassword"
        aria-controls="password-reset confirmPassword">Show my typing</a>
    </p>

    <input type="submit" value="Reset password">
  </fieldset>
</form>
