// Apply a natural box layout model to all elements, but allowing components to
// change

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $color-white;
  overflow-x: hidden;
}

// Hack for clearfixes
.lt-ie9 {
  * {
    // scss-lint:disable ImportantRule
    filter: none !important;
  }
}

// for IE < 11, see:
// <http://caniuse.com/#feat=hidden>
[hidden] {
  // scss-lint:disable ImportantRule
  display: none !important;
}
