// -----------------------------------------------------

// FONTS

$font-stack-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$font-stack-georgia: 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;

$font-stack-helvetica: 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;

$font-stack-monospace: 'Bitstream Vera Sans Mono', 'Consolas', 'Courier', monospace;

$uswds-font-definitions: (
  system: (
    name: null,
    stack: $font-stack-system,
    system-font: true,
    cap-height: 362px,
  ),
  georgia: (
    name: 'Georgia',
    stack: $font-stack-georgia,
    system-font: true,
    cap-height: 346px,
  ),
  helvetica: (
    name: 'Helvetica',
    stack: $font-stack-helvetica,
    system-font: true,
    cap-height: 357px,
  ),
  merriweather: (
    name: 'Merriweather Web',
    dir: 'merriweather',
    stack: $font-stack-georgia,
    system-font: false,
    cap-height: 385px,
    variable-font: false,
    roman: (
      100: false,
      200: false,
      300: 'merriweather-light-webfont',
      400: 'merriweather-regular-webfont',
      500: false,
      600: false,
      700: 'merriweather-bold-webfont',
      800: false,
      900: false,
    ),
    italic: (
      100: false,
      200: false,
      300: false,
      400: 'merriweather-italic-webfont',
      500: false,
      600: false,
      700: false,
      800: false,
      900: false,
    ),
  ),
  roboto-mono: (
    name: 'Roboto Mono Web',
    dir: 'roboto-mono',
    stack: $font-stack-monospace,
    system-font: false,
    cap-height: 380px,
    variable-font: false,
    roman: (
      100: 'roboto-mono-v5-latin-100',
      200: false,
      300: 'roboto-mono-v5-latin-300',
      400: 'roboto-mono-v5-latin-regular',
      500: 'roboto-mono-v5-latin-500',
      600: false,
      700: 'roboto-mono-v5-latin-700',
      800: false,
      900: false,
    ),
    italic: (
      100: 'roboto-mono-v5-latin-100italic',
      200: false,
      300: 'roboto-mono-v5-latin-300italic',
      400: 'roboto-mono-v5-latin-italic',
      500: 'roboto-mono-v5-latin-500italic',
      600: false,
      700: 'roboto-mono-v5-latin-700italic',
      800: false,
      900: false,
    ),
  ),
  source-sans-pro: (
    name: 'Source Sans Pro Web',
    dir: 'source-sans-pro',
    stack: $font-stack-helvetica,
    system-font: false,
    cap-height: 340px,
    variable-font: false,
    roman: (
      100: false,
      200: false,
      300: 'sourcesanspro-light-webfont',
      400: 'sourcesanspro-regular-webfont',
      500: false,
      600: false,
      700: 'sourcesanspro-bold-webfont',
      800: false,
      900: false,
    ),
    italic: (
      100: false,
      200: false,
      300: false,
      400: 'sourcesanspro-bold-webfont',
      500: false,
      600: false,
      700: false,
      800: false,
      900: false,
    ),
  ),
  united-sans: (
    name: 'United Sans Web',
    dir: 'united-sans',
    stack: $font-stack-system,
    system-font: false,
    cap-height: 362px,
    variable-font: false,
    roman: (
      100: 'UnitedSans-Thin',
      200: 'UnitedSans-ExtraLight',
      300: 'UnitedSans-Light',
      400: 'UnitedSans-Regular',
      500: 'UnitedSans-Medium',
      600: 'UnitedSans-SemiBold',
      700: 'UnitedSans-Bold',
      800: 'UnitedSans-ExtraBold',
      900: 'UnitedSans-Black',
    ),
    italic: (
      100: 'UnitedSans-ThinItalic',
      200: 'UnitedSans-ExtraLightItalic',
      300: 'UnitedSans-LightItalic',
      400: 'UnitedSans-Italic',
      500: 'UnitedSans-MediumItalic',
      600: 'UnitedSans-SemiBoldItalic',
      700: 'UnitedSans-BoldItalic',
      800: 'UnitedSans-ExtraBoldItalic',
      900: 'UnitedSans-BlackItalic',
    ),
  ),
);
