// PROJECT SETTINGS

// ---------------------------------------------
// BREAKPOINTS

// These will be converted to em values based on the
// value of $i-font-size-base

$s-xsmall-screen:   false !default; //400px
$s-small-screen:    481px !default; //600px
$s-medium-screen:   600px !default; //800px
$s-large-screen:    1201px !default; //1000px
$s-xlarge-screen:   false !default; //1200px

// ---------------------------------------------
// FONTS

// Relative font and image file paths

$font-path:   '../fonts' !default;
$s-image-path:  '../img' !default;

// Set hed, body, and alt from
// $i-font-sans
// $i-font-serif
// $i-font-mono

$font-hed:    $i-font-sans !default;
$font-body:   $i-font-serif !default;
$font-alt:    $i-font-sans !default;

// ---------------------------------------------
// SPACING

// values  - - - - - - - - - - - - - - - - - - -
// $font-size-NN:       $spacing-NN;
//                        1px
//                        2px

$spacing-3xs:           false !default;
$spacing-2xs:           false !default;
$spacing-xs:            $spacing-05 !default;
$spacing-sm:            $spacing-1 !default;
$spacing-md:            $spacing-2 !default;
$spacing-lg:            $spacing-3 !default;
$spacing-xl:            $spacing-4 !default;
$spacing-2xl:           $spacing-5 !default;
$spacing-3xl:           $spacing-9 !default;

// ---------------------------------------------
// TYPE SCALE

// values  - - - - - - - - - - - - - - - - - - -
// $font-size-NN:       $type-scale-NN;

$font-size-micro:         $type-scale-1 !default;
$font-size-smallest:         $type-scale-3 !default;
$font-size-smaller:          $type-scale-5 !default;
$font-size-small:          $type-scale-6 !default;
$font-size-base:          $type-scale-7 !default;
$font-size-large:          $type-scale-10 !default;
$font-size-larger:          $type-scale-12 !default;
$font-size-largest:         $type-scale-14 !default;
$font-size-mega:         $type-scale-16 !default;

// ---------------------------------------------
// FONT WEIGHTS

// values  - - - - - - - - - - - - - - - - - - -
// $s-fw-NN:              100-900 (mults of 100);

$s-output-all-weights:    false !default;

$s-fw-xlight:             200 !default;
$s-fw-light:              300 !default;
$s-fw-normal:             400 !default;
$s-fw-bold:               600 !default;
$s-fw-xbold:              700 !default;

// ---------------------------------------------
// COLORS

// values  - - - - - - - - - - - - - - - - - - -
// $s-color-NN:           $NN;

// Identity colors
$s-color-id-1:            $red-warm-50v !default;
$s-color-id-1-dark:       $red-warm-60 !default;
$s-color-id-1-xdark:      $red-warm-70 !default;
$s-color-id-1-light:      $red-warm-40 !default;
$s-color-id-1-xlight:     $red-warm-20 !default;

$s-color-id-2:            $indigo-50v !default;
$s-color-id-2-dark:       $indigo-60v !default;
$s-color-id-2-xdark:      $indigo-70 !default;
$s-color-id-2-light:      $indigo-40 !default;
$s-color-id-2-xlight:     $indigo-20 !default;

// Accent colors
$s-color-accent-1:        $black-warm-80 !default;
$s-color-accent-2:        $orange-warm-40v !default;
$s-color-accent-3:        $green-warm-10v !default;

// UI colors
$s-color-ui-1:            $black-90 !default;
$s-color-ui-2:            $black-70 !default;
$s-color-ui-3:            $black-50 !default;
$s-color-ui-4:            $black-50 !default;
$s-color-ui-5:            $black-warm-20 !default;
$s-color-ui-6:            $blue-warm-60v !default;

// Text colors
$s-color-text-1:          $black-90 !default;
$s-color-text-2:          $blue-warm-60v !default;
$s-color-text-3:          $black-50 !default;
$s-color-text-4:          $black-50 !default;
$s-color-text-inverse:    $white-0 !default;

// Field colors
$s-color-field-1:         $white-warm-1 !default;
$s-color-field-2:         $white-warm-4 !default;
$s-color-field-3:         $green-warm-5 !default;
$s-color-field-4:         $black-warm-90 !default;

// Error colors
$s-color-error:           $red-50v !default;
$s-color-error-dark:      $red-60 !default;
$s-color-error-xdark:     $red-70 !default;
$s-color-error-light:     $red-40v !default;
$s-color-error-xlight:    $red-30v !default;

// Warning colors
$s-color-warn:            $orange-30v !default;
$s-color-warn-dark:       $orange-40 !default;
$s-color-warn-xdark:      $orange-50 !default;
$s-color-warn-light:      $orange-20v !default;
$s-color-warn-xlight:     $orange-10 !default;

// Success colors
$s-color-success:         $green-cool-40v !default;
$s-color-success-dark:    $green-cool-50 !default;
$s-color-success-xdark:   $green-cool-70 !default;
$s-color-success-light:   $green-cool-30v !default;
$s-color-success-xlight:  $green-cool-20v !default;

// OK colors
$s-color-ok:              $blue-warm-50v !default;
$s-color-ok-dark:         $blue-warm-60v !default;
$s-color-ok-xdark:        $blue-warm-70 !default;
$s-color-ok-light:        $blue-warm-40v !default;
$s-color-ok-xlight:       $blue-warm-30 !default;

// Disabled color
$s-color-disabled:        $black-30 !default;

// Other colors
$s-color-banner:          $black-90 !default;
$s-color-highlight:       $gold-20v !default;

/*
----------------------------------------
New project palette colors
----------------------------------------
*/

$color-neutral:       black !default;
$neutral-lighter:     $color-neutral, 5 !default;
$neutral-light:       $color-neutral, 50 !default;
$neutral-base:        $color-neutral, 80 !default;
$neutral-dark:        $color-neutral, 90 !default;
$neutral-darker:      false !default;

$color-primary:       red !default;
$primary-lighter:     $color-primary, 10 !default;
$primary-light:       $color-primary, 30 !default;
$primary-base:        $color-primary, 50 !default;
$primary-vivid:       $color-primary, 50, vivid !default;
$primary-dark:        $color-primary, 70 !default;
$primary-darker:      false !default;

$color-secondary:     blue !default;
$secondary-light:     $color-secondary, 50 !default;
$secondary-base:      $color-secondary, 60 !default;
$secondary-vivid:     $color-secondary, 50, vivid !default;
$secondary-dark:      $color-secondary, 80 !default;

$color-accent-warm:   orange !default;
$accent-warm-lighter: $color-accent-warm, 50, vivid !default;
$accent-warm-base:    $color-accent-warm, 50, vivid !default;

$color-accent-cool:   cyan !default;
$accent-cool-lighter: $color-accent-cool, 50, vivid !default;
$accent-cool-base:    $color-accent-cool, 50, vivid !default;

$color-inverse:       white !default;
$inverse-base:        $color-inverse, 0 !default;
$inverse-dark:        black, 10 !default;

// ---------------------------------------------
// BORDER RADIUS

// values  - - - - - - - - - - - - - - - - - - -
// $s-radius-NN:          $spacing-NN;
//                        1px
//                        2px

$s-radius-sm:             2px !default;
$s-radius-md:             $spacing-05 !default;
$s-radius-lg:             false !default;
