@use "functions" as *;

/*
========================================
core/units
----------------------------------------
The master palettes of
- colors
- whitespace
- typescale
----------------------------------------
This file is not meant to be modified
by USWDS project teams. Change your
project values in
project/uswds-project-settings
----------------------------------------
*/

/*
----------------------------------------
Spacing grid multiplier
----------------------------------------
*/

/*
----------------------------------------
Breakpoints
----------------------------------------
*/

/*
----------------------------------------
Units
----------------------------------------
*/

/*
----------------------------------------
Layout grid widths
----------------------------------------
*/

/*
----------------------------------------
Font stacks
----------------------------------------
*/

/*
----------------------------------------
Typeface
----------------------------------------
*/

/*
----------------------------------------
Typescale
----------------------------------------
*/

/*
----------------------------------------
Measure
----------------------------------------
*/

$system-measure-smaller: 44ex;
$system-measure-small: 60ex;
$system-measure-base: 64ex;
$system-measure-large: 68ex;
$system-measure-larger: 72ex;
$system-measure-largest: 88ex;

/*
----------------------------------------
Line height
----------------------------------------
*/

$system-line-height: (
  1: 1,
  2: 1.2,
  3: 1.35,
  4: 1.5,
  5: 1.62,
  6: 1.75
);

/*
----------------------------------------
Base cap height
----------------------------------------
500px 'N' height measured in Sketch.
Used for normalizing font sizes.
Current normalized to Apple system
fonts.
----------------------------------------
*/

/*
----------------------------------------
Colors
----------------------------------------
*/
/*
@import "./system-tokens/red-cool";
@import "./system-tokens/red";
@import "./system-tokens/red-warm";
@import "./system-tokens/orange-warm";
@import "./system-tokens/orange";
@import "./system-tokens/gold";
@import "./system-tokens/yellow";
@import "./system-tokens/green-warm";
@import "./system-tokens/green";
@import "./system-tokens/green-cool";
@import "./system-tokens/mint";
@import "./system-tokens/mint-cool";
@import "./system-tokens/cyan";
@import "./system-tokens/blue-cool";
@import "./system-tokens/blue";
@import "./system-tokens/blue-warm";
@import "./system-tokens/indigo-cool";
@import "./system-tokens/indigo";
@import "./system-tokens/indigo-warm";
@import "./system-tokens/violet";
@import "./system-tokens/violet-warm";
@import "./system-tokens/magenta";
@import "./system-tokens/gray-cool";
@import "./system-tokens/gray";
@import "./system-tokens/gray-warm";

$system-color-black-transparent: (
  "black-transparent": (
    5: rgba(0, 0, 0, 0.01),
    10: rgba(0, 0, 0, 0.1),
    20: rgba(0, 0, 0, 0.2),
    30: rgba(0, 0, 0, 0.3),
    40: rgba(0, 0, 0, 0.4),
    50: rgba(0, 0, 0, 0.5),
    60: rgba(0, 0, 0, 0.6),
    70: rgba(0, 0, 0, 0.7),
    80: rgba(0, 0, 0, 0.8),
    90: rgba(0, 0, 0, 0.9)
  )
);

$system-color-white-transparent: (
  "white-transparent": (
    5: rgba(255, 255, 255, 0.01),
    10: rgba(255, 255, 255, 0.1),
    20: rgba(255, 255, 255, 0.2),
    30: rgba(255, 255, 255, 0.3),
    40: rgba(255, 255, 255, 0.4),
    50: rgba(255, 255, 255, 0.5),
    60: rgba(255, 255, 255, 0.6),
    70: rgba(255, 255, 255, 0.7),
    80: rgba(255, 255, 255, 0.8),
    90: rgba(255, 255, 255, 0.9)
  )
);

$system-colors: map-collect(
  $system-color-red-cool,
  $system-color-red,
  $system-color-red-warm,
  $system-color-orange-warm,
  $system-color-orange,
  $system-color-gold,
  $system-color-yellow,
  $system-color-green-warm,
  $system-color-green,
  $system-color-green-cool,
  $system-color-mint,
  $system-color-mint-cool,
  $system-color-cyan,
  $system-color-blue-cool,
  $system-color-blue,
  $system-color-blue-warm,
  $system-color-indigo-cool,
  $system-color-indigo,
  $system-color-indigo-warm,
  $system-color-violet,
  $system-color-violet-warm,
  $system-color-magenta,
  $system-color-gray-cool,
  $system-color-gray,
  $system-color-gray-warm,
  $system-color-black-transparent,
  $system-color-white-transparent
);

$tokens-color-global: (
  "transparent": transparent,
  "black": black,
  "white": white
);
*/
