/*
========================================
core/units
----------------------------------------
The master palettes of
- colors
- whitespace
- typescale
----------------------------------------
This file is not meant to be modified
by USWDS project teams. Change your
project values in
project/uswds-project-settings
----------------------------------------
*/

// 500px 'N' height measured in Sketch
$base-cap-height:         362px;

$mono-cap-height:         false;
$sans-cap-height:         false;
$serif-cap-height:        false;

@if $i-font-mono {
  $mono-cap-height: map-get($i-font-mono, cap-height);
}

@if $i-font-sans {
  $sans-cap-height: map-get($i-font-sans, cap-height);
}

@if $i-font-serif {
  $serif-cap-height: map-get($i-font-serif, cap-height);
}

/*
----------------------------------------
Spacing grid
----------------------------------------
*/

$u-spacing-05:             spacing(.5);    // 4px
$u-spacing-1:              spacing(1);     // 8px
$u-spacing-105:            spacing(1.5);   // 12px
$u-spacing-2:              spacing(2);     // 16px
$u-spacing-205:            spacing(2.5);   // 20px
$u-spacing-3:              spacing(3);     // 24px
$u-spacing-4:              spacing(4);     // 32px
$u-spacing-5:              spacing(5);     // 40px
$u-spacing-6:              spacing(6);     // 48px
$u-spacing-7:              spacing(7);     // 56px
$u-spacing-8:              spacing(8);     // 64px
$u-spacing-9:              spacing(9);     // 72px
$u-spacing-10:             spacing(10);    // 80px
$u-spacing-15:             spacing(15);    // 80px
$u-spacing-20:             spacing(20);    // 160px
$u-spacing-25:             spacing(25);    // 200px
$u-spacing-30:             spacing(30);    // 240px
$u-spacing-40:             spacing(40);    // 320px
$u-spacing-50:             spacing(50);    // 400px

/*
----------------------------------------
Negative spacing grid
----------------------------------------
*/

$u-spacing-n05:            spacing(-0.5);   // -4px
$u-spacing-n1:             spacing(-1);     // -8px
$u-spacing-n105:           spacing(-1.5);   // -12px
$u-spacing-n2:             spacing(-2);     // -16px
$u-spacing-n205:           spacing(-2.5);   // -20px
$u-spacing-n3:             spacing(-3);     // -24px
$u-spacing-n4:             spacing(-4);     // -32px
$u-spacing-n5:             spacing(-5);     // -40px

/*
----------------------------------------
Type scale
----------------------------------------
*/

$u-type-scale-f1:             12px;   // +1
$u-type-scale-f2:             13px;   // +1
$u-type-scale-f3:             14px;   // +1
$u-type-scale-f4:             15px;   // +1
$u-type-scale-f5:             16px;   // +1
$u-type-scale-f6:             17px;   // +1
$u-type-scale-f7:             18px;   // +2
$u-type-scale-f8:             20px;   // +2
$u-type-scale-f9:             22px;   // +2
$u-type-scale-f10:             24px;   // +4
$u-type-scale-f11:             28px;   // +4
$u-type-scale-f12:             32px;   // +4
$u-type-scale-f13:             36px;   // +4
$u-type-scale-f14:             40px;   // +8
$u-type-scale-f15:             48px;   // +8
$u-type-scale-f16:             56px;   // +8
$u-type-scale-f17:             64px;   // +16
$u-type-scale-f18:             80px;   // +40
$u-type-scale-f19:            120px;  // +20
$u-type-scale-f20:            140px;

$u-mono-f1:   type-scale($mono-cap-height, $u-type-scale-f1);
$u-mono-f2:   type-scale($mono-cap-height, $u-type-scale-f2);
$u-mono-f3:   type-scale($mono-cap-height, $u-type-scale-f3);
$u-mono-f4:   type-scale($mono-cap-height, $u-type-scale-f4);
$u-mono-f5:   type-scale($mono-cap-height, $u-type-scale-f5);
$u-mono-f6:   type-scale($mono-cap-height, $u-type-scale-f6);
$u-mono-f7:   type-scale($mono-cap-height, $u-type-scale-f7);
$u-mono-f8:   type-scale($mono-cap-height, $u-type-scale-f8);
$u-mono-f9:   type-scale($mono-cap-height, $u-type-scale-f9);
$u-mono-f10:  type-scale($mono-cap-height, $u-type-scale-f10);
$u-mono-f11:  type-scale($mono-cap-height, $u-type-scale-f11);
$u-mono-f12:  type-scale($mono-cap-height, $u-type-scale-f12);
$u-mono-f13:  type-scale($mono-cap-height, $u-type-scale-f13);
$u-mono-f14:  type-scale($mono-cap-height, $u-type-scale-f14);
$u-mono-f15:  type-scale($mono-cap-height, $u-type-scale-f15);
$u-mono-f16:  type-scale($mono-cap-height, $u-type-scale-f16);
$u-mono-f17:  type-scale($mono-cap-height, $u-type-scale-f17);
$u-mono-f18:  type-scale($mono-cap-height, $u-type-scale-f18);
$u-mono-f19:  type-scale($mono-cap-height, $u-type-scale-f19);
$u-mono-f20:  type-scale($mono-cap-height, $u-type-scale-f20);

$u-sans-f1:   type-scale($sans-cap-height, $u-type-scale-f1);
$u-sans-f2:   type-scale($sans-cap-height, $u-type-scale-f2);
$u-sans-f3:   type-scale($sans-cap-height, $u-type-scale-f3);
$u-sans-f4:   type-scale($sans-cap-height, $u-type-scale-f4);
$u-sans-f5:   type-scale($sans-cap-height, $u-type-scale-f5);
$u-sans-f6:   type-scale($sans-cap-height, $u-type-scale-f6);
$u-sans-f7:   type-scale($sans-cap-height, $u-type-scale-f7);
$u-sans-f8:   type-scale($sans-cap-height, $u-type-scale-f8);
$u-sans-f9:   type-scale($sans-cap-height, $u-type-scale-f9);
$u-sans-f10:  type-scale($sans-cap-height, $u-type-scale-f10);
$u-sans-f11:  type-scale($sans-cap-height, $u-type-scale-f11);
$u-sans-f12:  type-scale($sans-cap-height, $u-type-scale-f12);
$u-sans-f13:  type-scale($sans-cap-height, $u-type-scale-f13);
$u-sans-f14:  type-scale($sans-cap-height, $u-type-scale-f14);
$u-sans-f15:  type-scale($sans-cap-height, $u-type-scale-f15);
$u-sans-f16:  type-scale($sans-cap-height, $u-type-scale-f16);
$u-sans-f17:  type-scale($sans-cap-height, $u-type-scale-f17);
$u-sans-f18:  type-scale($sans-cap-height, $u-type-scale-f18);
$u-sans-f19:  type-scale($sans-cap-height, $u-type-scale-f19);
$u-sans-f20:  type-scale($sans-cap-height, $u-type-scale-f20);

$u-serif-f1:  type-scale($serif-cap-height, $u-type-scale-f1);
$u-serif-f2:  type-scale($serif-cap-height, $u-type-scale-f2);
$u-serif-f3:  type-scale($serif-cap-height, $u-type-scale-f3);
$u-serif-f4:  type-scale($serif-cap-height, $u-type-scale-f4);
$u-serif-f5:  type-scale($serif-cap-height, $u-type-scale-f5);
$u-serif-f6:  type-scale($serif-cap-height, $u-type-scale-f6);
$u-serif-f7:  type-scale($serif-cap-height, $u-type-scale-f7);
$u-serif-f8:  type-scale($serif-cap-height, $u-type-scale-f8);
$u-serif-f9:  type-scale($serif-cap-height, $u-type-scale-f9);
$u-serif-f10: type-scale($serif-cap-height, $u-type-scale-f10);
$u-serif-f11: type-scale($serif-cap-height, $u-type-scale-f11);
$u-serif-f12: type-scale($serif-cap-height, $u-type-scale-f12);
$u-serif-f13: type-scale($serif-cap-height, $u-type-scale-f13);
$u-serif-f14: type-scale($serif-cap-height, $u-type-scale-f14);
$u-serif-f15: type-scale($serif-cap-height, $u-type-scale-f15);
$u-serif-f16: type-scale($serif-cap-height, $u-type-scale-f16);
$u-serif-f17: type-scale($serif-cap-height, $u-type-scale-f17);
$u-serif-f18: type-scale($serif-cap-height, $u-type-scale-f18);
$u-serif-f19: type-scale($serif-cap-height, $u-type-scale-f19);
$u-serif-f20: type-scale($serif-cap-height, $u-type-scale-f20);

/*
----------------------------------------
Letterspacing
----------------------------------------
*/

$u-ls-n3:	                 -.03em;
$u-ls-n2:	                 -.02em;
$u-ls-n1:	                 -.01em;
$u-ls-1:	                 .05em;
$u-ls-2:	                 .1em;
$u-ls-3:	                 .15em;

/*
----------------------------------------
Line height
----------------------------------------
*/

$u-lh-single:	              1;
$u-lh-heading:	            1.1;
$u-lh-heading-loose:	      1.35;
$u-lh-body:	                1.62;
$u-lh-body-loose:	          1.75;
$u-lh-body-tight:	          1.5;

/*
----------------------------------------
Colors
----------------------------------------
TODO: It would be great to get these to
load from a common location like tokens
stored as YAML.
----------------------------------------
*/

// violet-warm
$violet-warm-5 :  #fef7ff;
$violet-warm-10:  #f5dcf7;
$violet-warm-20:  #e0bae3;
$violet-warm-30:  #d096d6;
$violet-warm-40:  #bd73c7;
$violet-warm-50:  #b24bbf;
$violet-warm-60:  #854180;
$violet-warm-70:  #573455;
$violet-warm-80:  #332431;
$violet-warm-90:  #211a21;
$violet-warm-5v:  #fdedff;
$violet-warm-10v: #f9c9ff;
$violet-warm-20v: #f3a8ff;
$violet-warm-30v: #ee82ff;
$violet-warm-40v: #e05ef7;
$violet-warm-50v: #c132d4;
$violet-warm-60v: false;
$violet-warm-70v: false;
$violet-warm-80v: false;
$violet-warm-90v: false;

// violet
$violet-5 :       #f7f5fa;
$violet-10:       #ebe3fa;
$violet-20:       #cec1e8;
$violet-30:       #b7a1e3;
$violet-40:       #9c82d1;
$violet-50:       #8369b5;
$violet-60:       #644f8f;
$violet-70:       #493a66;
$violet-80:       #2d273b;
$violet-90:       #1e1b24;
$violet-5v:       false;
$violet-10v:      false;
$violet-20v:      false;
$violet-30v:      #be95e9;
$violet-40v:      #b07bed;
$violet-50v:      #9455dd;
$violet-60v:      #7639b8;
$violet-70v:      #552996;
$violet-80v:      false;
$violet-90v:      false;

// indigo-warm
$indigo-warm-5 :  #f9f7ff;
$indigo-warm-10:  #e5e1fa;
$indigo-warm-20:  #c9c2f2;
$indigo-warm-30:  #b1a7eb;
$indigo-warm-40:  #968ade;
$indigo-warm-50:  #7766d3;
$indigo-warm-60:  #5e519e;
$indigo-warm-70:  #433a7a;
$indigo-warm-80:  #29263b;
$indigo-warm-90:  #1d1b24;
$indigo-warm-5v:  false;
$indigo-warm-10v: false;
$indigo-warm-20v: false;
$indigo-warm-30v: #b59eff;
$indigo-warm-40v: #9980ff;
$indigo-warm-50v: #7560eb;
$indigo-warm-60v: #5740d1;
$indigo-warm-70v: false;
$indigo-warm-80v: false;
$indigo-warm-90v: false;

// indigo
$indigo-5 :       #fafaff;
$indigo-10:       #e4e3fa;
$indigo-20:       #c2c3f2;
$indigo-30:       #a4a7eb;
$indigo-40:       #8889db;
$indigo-50:       #686dca;
$indigo-60:       #5055b5;
$indigo-70:       #3b3e75;
$indigo-80:       #28293d;
$indigo-90:       #1b1c26;
$indigo-5v:       false;
$indigo-10v:      false;
$indigo-20v:      #acaeec;
$indigo-30v:      #8c8fe1;
$indigo-40v:      false;
$indigo-50v:      #656bd7;
$indigo-60v:      #353aa5;
$indigo-70v:      false;
$indigo-80v:      false;
$indigo-90v:      false;

// indigo-cool
$indigo-cool-5 :  #f5f6fc;
$indigo-cool-10:  #e1e6fa;
$indigo-cool-20:  #bac7f5;
$indigo-cool-30:  #97acf0;
$indigo-cool-40:  #6d91ed;
$indigo-cool-50:  #4a70d9;
$indigo-cool-60:  #425bad;
$indigo-cool-70:  #364173;
$indigo-cool-80:  #23273d;
$indigo-cool-90:  #1b1c2b;
$indigo-cool-5v:  false;
$indigo-cool-10v: false;
$indigo-cool-20v: false;
$indigo-cool-30v: false;
$indigo-cool-40v: #6694ff;
$indigo-cool-50v: false;
$indigo-cool-60v: #4150f2;
$indigo-cool-70v: false;
$indigo-cool-80v: false;
$indigo-cool-90v: false;

// blue-warm
$blue-warm-5 :    #f0f5fc;
$blue-warm-10:    #dfe7f5;
$blue-warm-20:    #bccae6;
$blue-warm-30:    #91add9;
$blue-warm-40:    #7397d1;
$blue-warm-50:    #3d75c2;
$blue-warm-60:    #37629e;
$blue-warm-70:    #31486b;
$blue-warm-80:    #232d3d;
$blue-warm-90:    #161b24;
$blue-warm-5v:    false;
$blue-warm-10v:   false;
$blue-warm-20v:   #b8cbf2;
$blue-warm-30v:   #81aefc;
$blue-warm-40v:   #5e99ff;
$blue-warm-50v:   #2673df;
$blue-warm-60v:   #0052de;
$blue-warm-70v:   #1e4f94;
$blue-warm-80v:   #112a4d;
$blue-warm-90v:   false;

// blue
$blue-5 :         #f5fbff;
$blue-10:         #dae9f7;
$blue-20:         #add1f0;
$blue-30:         #79bcf2;
$blue-40:         #56a4e3;
$blue-50:         #317cb9;
$blue-60:         #2f6794;
$blue-70:         #294c69;
$blue-80:         #1e2f3d;
$blue-90:         #161e24;
$blue-5v:         false;
$blue-10v:        false;
$blue-20v:        false;
$blue-30v:        #57b3ff;
$blue-40v:        #009afa;
$blue-50v:        #007ade;
$blue-60v:        #0069b4;
$blue-70v:        #0c4d82;
$blue-80v:        #11304f;
$blue-90v:        false;

// cyan
$cyan-5 :         #e8f7fa;
$cyan-10:         #d0f1f7;
$cyan-20:         #9ddceb;
$cyan-30:         #6ecbdb;
$cyan-40:         #4bacbd;
$cyan-50:         #167f91;
$cyan-60:         #2f707a;
$cyan-70:         #2d4b4f;
$cyan-80:         #203133;
$cyan-90:         #151e1f;
$cyan-5v:         false;
$cyan-10v:        #a8f2ff;
$cyan-20v:        #55e1fa;
$cyan-30v:        #02c2e8;
$cyan-40v:        #00abd1;
$cyan-50v:        false;
$cyan-60v:        false;
$cyan-70v:        false;
$cyan-80v:        false;
$cyan-90v:        false;

// mint-cool
$mint-cool-5 :    #f2fffe;
$mint-cool-10:    #c7f2ef;
$mint-cool-20:    #a2ded9;
$mint-cool-30:    #77c7c0;
$mint-cool-40:    #57ada8;
$mint-cool-50:    #21827f;
$mint-cool-60:    #3b6b69;
$mint-cool-70:    #2b4d47;
$mint-cool-80:    #1f3030;
$mint-cool-90:    #151f1f;
$mint-cool-5v:    #dbfff8;
$mint-cool-10v:   #7efce1;
$mint-cool-20v:   #02dbc2;
$mint-cool-30v:   #00baa4;
$mint-cool-40v:   #00b5a9;
$mint-cool-50v:   false;
$mint-cool-60v:   false;
$mint-cool-70v:   false;
$mint-cool-80v:   false;
$mint-cool-90v:   false;

// mint
$mint-5 :         #cafcec;
$mint-10:         #79f7cd;
$mint-20:         #49e3b0;
$mint-30:         #4ac79d;
$mint-40:         #36a882;
$mint-50:         #1e8461;
$mint-60:         #266644;
$mint-70:         #225237;
$mint-80:         #1d3b29;
$mint-90:         #1d3b29;
$mint-5v:         #befde9;
$mint-5v:         false;
$mint-10v:        #30f8b5;
$mint-20v:        #06ec9f;
$mint-30v:        #04c786;
$mint-40v:        false;
$mint-50v:        false;
$mint-60v:        #16754f;
$mint-70v:        false;
$mint-80v:        false;
$mint-90v:        false;

// green-cool
$green-cool-5 :   #e8fae6;
$green-cool-10:   #d0f7cd;
$green-cool-20:   #a4e3a1;
$green-cool-30:   #80cc7e;
$green-cool-40:   #5db85c;
$green-cool-50:   #3d841f;
$green-cool-60:   #4d6e37;
$green-cool-70:   #384d2a;
$green-cool-80:   #272e22;
$green-cool-90:   #1a1f1a;
$green-cool-5v:   #caf4c7;
$green-cool-10v:  #91e48b;
$green-cool-20v:  #61cf59;
$green-cool-30v:  #16c20a;
$green-cool-40v:  #0caf00;
$green-cool-50v:  #178800;
$green-cool-60v:  false;
$green-cool-70v:  false;
$green-cool-80v:  false;
$green-cool-90v:  false;

// green
$green-5 :        #f7fcf0;
$green-10:        #e0ebce;
$green-20:        #bcd696;
$green-30:        #a2bf77;
$green-40:        #83a352;
$green-50:        #607f35;
$green-60:        #526b27;
$green-70:        #3c4a29;
$green-80:        #293021;
$green-90:        #1a1c18;
$green-5v:        #d7f4bd;
$green-10v:       #b4e876;
$green-20v:       #93cc2e;
$green-30v:       #81b532;
$green-40v:       #73a22b;
$green-50v:       #538200;
$green-60v:       false;
$green-70v:       false;
$green-80v:       false;
$green-90v:       false;

// green-warm
$green-warm-5 :   #f9faed;
$green-warm-10:   #eaedb9;
$green-warm-20:   #ced47f;
$green-warm-30:   #aebd5b;
$green-warm-40:   #93a150;
$green-warm-50:   #717d41;
$green-warm-60:   #5e633a;
$green-warm-70:   #43452d;
$green-warm-80:   #2c2e20;
$green-warm-90:   #1c1c16;
$green-warm-5v:   #f3f8a7;
$green-warm-10v:  #e6f50f;
$green-warm-20v:  #cedc0a;
$green-warm-30v:  #a9bd2d;
$green-warm-40v:  #7f9e1d;
$green-warm-50v:  #6b7e00;
$green-warm-60v:  false;
$green-warm-70v:  false;
$green-warm-80v:  false;
$green-warm-90v:  false;

// yellow
$yellow-5 :       #faf7ed;
$yellow-10:       #f7e8b0;
$yellow-20:       #f0d04f;
$yellow-30:       #cfb04a;
$yellow-40:       #ab9149;
$yellow-50:       #8a7237;
$yellow-60:       #6b5a39;
$yellow-70:       #4d402f;
$yellow-80:       #302a24;
$yellow-90:       #1f1b18;
$yellow-5v:       false;
$yellow-10v:      #fdd430;
$yellow-20v:      #edc730;
$yellow-30v:      false;
$yellow-40v:      false;
$yellow-50v:      false;
$yellow-60v:      false;
$yellow-70v:      false;
$yellow-80v:      false;
$yellow-90v:      false;

// gold
$gold-5 :         #faf5eb;
$gold-10:         #f2e6ce;
$gold-20:         #dec699;
$gold-30:         #c7a97b;
$gold-40:         #ad8b65;
$gold-50:         #8d6f4e;
$gold-60:         #6b5947;
$gold-70:         #4a4034;
$gold-80:         #302b24;
$gold-90:         #1f1c19;
$gold-5v:         #faf2d9;
$gold-10v:        #ffcb52;
$gold-20v:        #faaf00;
$gold-30v:        #e6a100;
$gold-40v:        #c98a0c;
$gold-50v:        #946f38;
$gold-60v:        false;
$gold-70v:        false;
$gold-80v:        false;
$gold-90v:        false;

// orange
$orange-5 :       #fffbf7;
$orange-10:       #fce2c5;
$orange-20:       #fabd87;
$orange-30:       #ed9c5a;
$orange-40:       #eb8028;
$orange-50:       #a56931;
$orange-60:       #73563e;
$orange-70:       #4f3f33;
$orange-80:       #302a24;
$orange-90:       #211b18;
$orange-5v:       #ffebd5;
$orange-10v:      false;
$orange-20v:      #ffba75;
$orange-30v:      #ff9742;
$orange-40v:      #ff7b0f;
$orange-50v:      #c25700;
$orange-60v:      false;
$orange-70v:      false;
$orange-80v:      false;
$orange-90v:      false;

// orange-warm
$orange-warm-5 :  #fcf6f2;
$orange-warm-10:  #f7e1d5;
$orange-warm-20:  #f7b99e;
$orange-warm-30:  #f5976e;
$orange-warm-40:  #e87543;
$orange-warm-50:  #be5727;
$orange-warm-60:  #944835;
$orange-warm-70:  #61382f;
$orange-warm-80:  #3b2723;
$orange-warm-90:  #211a19;
$orange-warm-5v:  false;
$orange-warm-10v: false;
$orange-warm-20v: #faad96;
$orange-warm-30v: #fc835c;
$orange-warm-40v: #ff5201;
$orange-warm-50v: #d24200;
$orange-warm-60v: false;
$orange-warm-70v: false;
$orange-warm-80v: false;
$orange-warm-90v: false;

// red-warm
$red-warm-5 :     #faf7f5;
$red-warm-10:     #f2ded5;
$red-warm-20:     #ebbda2;
$red-warm-30:     #db9e7f;
$red-warm-40:     #d67c58;
$red-warm-50:     #c7532c;
$red-warm-60:     #805039;
$red-warm-70:     #4f3f33;
$red-warm-80:     #302a26;
$red-warm-90:     #1f1c18;
$red-warm-5v:     false;
$red-warm-10v:    false;
$red-warm-20v:    #eaa076;
$red-warm-30v:    #e67549;
$red-warm-40v:    #ee601d;
$red-warm-50v:    #df4206;
$red-warm-60v:    false;
$red-warm-70v:    false;
$red-warm-80v:    false;
$red-warm-90v:    false;

// red
$red-5 :          #fcf5f5;
$red-10:          #f7ddda;
$red-20:          #f7b7ad;
$red-30:          #f28f88;
$red-40:          #ed6b61;
$red-50:          #d83731;
$red-60:          #ab3a3a;
$red-70:          #6e312f;
$red-80:          #3b2523;
$red-90:          #211b1b;
$red-5v:          false;
$red-10v:         #fccec7;
$red-20v:         #fda99c;
$red-30v:         #ff806c;
$red-40v:         #ff5c48;
$red-50v:         #e92106;
$red-60v:         #c31f0a;
$red-70v:         #9c1503;
$red-80v:         #631212;
$red-90v:         false;

// magenta
$magenta-5 :      #faf5f6;
$magenta-10:      #f5dce4;
$magenta-20:      #f0b9cb;
$magenta-30:      #e68eae;
$magenta-40:      #e0699f;
$magenta-50:      #c84180;
$magenta-60:      #8a4365;
$magenta-70:      #613046;
$magenta-80:      #3b212c;
$magenta-90:      #211b1d;
$magenta-5v:      false;
$magenta-10v:     #ffd1e2;
$magenta-20v:     #ffadca;
$magenta-30v:     #ff80ae;
$magenta-40v:     #fa3c91;
$magenta-50v:     #e1277a;
$magenta-60v:     #a91b61;
$magenta-70v:     false;
$magenta-80v:     false;
$magenta-90v:     false;

// black-cool
$black-cool-5 :   #edeff0;
$black-cool-10:   #d5d8db;
$black-cool-20:   #b8bdc2;
$black-cool-30:   #9da2a6;
$black-cool-40:   #8c9196;
$black-cool-50:   #6f7478;
$black-cool-60:   #595d63;
$black-cool-70:   #404347;
$black-cool-80:   #292a2b;
$black-cool-90:   #1c1d1f;

// black
$black-5 :        #fafafa;
$black-10:        #e6e6e6;
$black-20:        #c9c9c9;
$black-30:        #adadad;
$black-40:        #919191;
$black-50:        #757575;
$black-60:        #5c5c5c;
$black-70:        #454545;
$black-80:        #2e2e2e;
$black-90:        #171717;

// black-warm
$black-warm-5 :   #f5f5f1;
$black-warm-10:   #e0e0da;
$black-warm-20:   #d6d5cb;
$black-warm-30:   #c2c1b4;
$black-warm-40:   #969689;
$black-warm-50:   #707064;
$black-warm-60:   #5e5e53;
$black-warm-70:   #42423c;
$black-warm-80:   #2b2b27;
$black-warm-90:   #1c1c1b;

// black-transparent
$black-transparent-5 :     rgba(0, 0, 0, 0.01);
$black-transparent-10:     rgba(0, 0, 0, 0.1);
$black-transparent-20:     rgba(0, 0, 0, 0.2);
$black-transparent-30:     rgba(0, 0, 0, 0.3);
$black-transparent-40:     rgba(0, 0, 0, 0.4);
$black-transparent-50:     rgba(0, 0, 0, 0.5);
$black-transparent-60:     rgba(0, 0, 0, 0.6);
$black-transparent-70:     rgba(0, 0, 0, 0.7);
$black-transparent-80:     rgba(0, 0, 0, 0.8);
$black-transparent-90:     rgba(0, 0, 0, 0.9);

// white-transparent
$white-transparent-5 :     rgba(255, 255, 255, 0.01);
$white-transparent-10:     rgba(255, 255, 255, 0.1);
$white-transparent-20:     rgba(255, 255, 255, 0.2);
$white-transparent-30:     rgba(255, 255, 255, 0.3);
$white-transparent-40:     rgba(255, 255, 255, 0.4);
$white-transparent-50:     rgba(255, 255, 255, 0.5);
$white-transparent-60:     rgba(255, 255, 255, 0.6);
$white-transparent-70:     rgba(255, 255, 255, 0.7);
$white-transparent-80:     rgba(255, 255, 255, 0.8);
$white-transparent-90:     rgba(255, 255, 255, 0.9);

// white-cool
$white-cool-1:    #fafbfc;
$white-cool-2:    #f7f9fa;
$white-cool-3:    #f5f6f7;
$white-cool-4:    #f0f2f5;

// white
$white-0:         #ffffff;
$white-1:         #fcfcfc;
$white-2:         #f9f9f9;
$white-3:         #f6f6f6;
$white-4:         #f3f3f3;

// white-warm
$white-warm-1:    #fdfdfc;
$white-warm-2:    #fafaf8;
$white-warm-3:    #f7f7f3;
$white-warm-4:    #f5f5f0;

// black
$black-100:       #000000;
