// Mobile-first media query helper
@mixin media($bp) {
  @media screen and (min-width: #{$bp}) {
    @content;
  }
}

// Screen reader only helper
.usa-sr-only {
  position: absolute;
  left: -999em;
}

@mixin sr-only() {
  position: absolute;
  left: -999em;
}

// Aria hidden helper
@mixin accessibly-hidden() {
  &[aria-hidden=true] {
    display: none;
  }
}

// Unstyled list helper

@mixin unstyled-list() {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: list-item;
    margin: 0;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

// Content size helpers
@mixin allow-layout-classes {
  @include margin(null auto);

  &.width-one-half {
    @include media($medium-screen) {
      width: 50%;
    }
  }

  &.width-one-third {
    @include media($medium-screen) {
      width: 33%;
    }
  }

  &.width-two-thirds {
    @include media($medium-screen) {
      width: 67%;
    }
  }

  &.width-one-fourth {
    @include media($medium-screen) {
      width: 25%;
    }
  }

  &.width-three-fourths {
    @include media($medium-screen) {
      width: 75%;
    }
  }

  &.align-left {
    @include media($medium-screen) {
      float: left;
      margin-right: 2em;
      margin-top: 0.5em;
    }
  }

  &.align-right {
    @include media($medium-screen) {
      float: right;
      margin-left: 2em;
      margin-top: 0.5em;
    }
  }
}

// Background and text color helpers
@mixin background-color($background-color: transparent) {
  background-color: $background-color;

  // Use reverse-text for the following background values
  @if $background-color  == $color-primary
    or $background-color == $color-primary-darker
    or $background-color == $color-primary-darkest
    or $background-color == $color-base
    or $background-color == $color-primary-alt-darkest
    or $background-color == $color-secondary
    or $background-color == $color-secondary-darkest
    or $background-color == $color-secondary-dark
    or $background-color == $color-gray-warm-dark
    or $background-color == $color-gray-dark
    or $background-color == $color-gray
    or $background-color == $color-green
    or $background-color == $color-cool-blue-light {
    color: $color-white;
    a {
      color: $color-gray-lighter;
      text-decoration: underline;

      &:hover,
      &:visited {
        color: $color-white;
      }
    }

  // Use dark text color for all other background colors,
  // except transparent or white; results in background-color
  // only include - probably should not be used for these instances.
  } @else if $background-color not transparent
    or $background-color not $color-white {
    color: $color-black;
    a {
      color: $color-gray-dark;
      text-decoration: underline;

      &:hover,
      &:visited {
        color: $color-black;
      }
    }
  }
}
