/*
========================================
USWDS 2.0 Variables
Use for computed variables not meant
to be set by system users.
----------------------------------------
Master system palette variables are set
in core/_units
----------------------------------------
Anything meant to be set directly should
go in:

core/_settings
(for default settings)

and its pair:

project/_uswds-project-settings
(for project overrides)
----------------------------------------
*/

/*
----------------------------------------
Breakpoints
----------------------------------------
*/

$project-breakpoints-em: (
  'xs':   px-to-base-em(map-get($theme-breakpoints, xs)),
  'sm':   px-to-base-em(map-get($theme-breakpoints, sm)),
  'md':   px-to-base-em(map-get($theme-breakpoints, md)),
  'lg':   px-to-base-em(map-get($theme-breakpoints, lg)),
  'xl':   px-to-base-em(map-get($theme-breakpoints, xl)),
);

$project-breakpoints-rem: (
  'xs':   px(map-get($theme-breakpoints, xs)),
  'sm':   px(map-get($theme-breakpoints, sm)),
  'md':   px(map-get($theme-breakpoints, md)),
  'lg':   px(map-get($theme-breakpoints, lg)),
  'xl':   px(map-get($theme-breakpoints, xl)),
);

/*
----------------------------------------
Spacing
----------------------------------------
All spacing values that can be called
by spacing()
----------------------------------------
*/

$project-special-values:(
  '0':      0,
  'auto':   auto,
);

$project-spacing-all: map-collect(
  $uswds-spacing,
  $project-breakpoints-rem,
  $project-special-values
);

/*
----------------------------------------
Font stack
----------------------------------------
Compute the project font stack based on
the project fonts and the font
definition values set in
core/_font-definitions
----------------------------------------
*/

$font-stack-sans:     false;
$font-stack-serif:    false;
$font-stack-mono:     false;
$font-stack-cond:     false;

$font-stack-heading:  false;
$font-stack-body:     false;
$font-stack-code:     false;
$font-stack-alt:      false;

@if $theme-font-sans {
  $font-stack-sans: map-deep-get(
    $all-font-definitions,
    $theme-font-sans,
    'name'
    ), map-deep-get(
    $all-font-definitions,
    $theme-font-sans,
    'stack'
  );
}

@if $theme-font-serif {
  $font-stack-serif: map-deep-get(
    $all-font-definitions,
    $theme-font-serif,
    'name'
    ), map-deep-get(
    $all-font-definitions,
    $theme-font-serif,
    'stack'
  );
}

@if $theme-font-mono {
  $font-stack-mono: map-deep-get(
    $all-font-definitions,
    $theme-font-mono,
    'name'
    ), map-deep-get(
    $all-font-definitions,
    $theme-font-mono,
    'stack'
  );
}

@if $theme-font-cond {
  $font-stack-cond: map-deep-get(
    $all-font-definitions,
    $theme-font-cond,
    'name'
    ), map-deep-get(
    $all-font-definitions,
    $theme-font-cond,
    'stack'
  );
}

@if $theme-font-heading {
  $font-stack-heading: map-deep-get(
    $all-font-definitions,
    $theme-font-heading,
    'name'
    ), map-deep-get(
    $all-font-definitions,
    $theme-font-heading,
    'stack'
  );
}

@if $theme-font-body {
  $font-stack-body: map-deep-get(
    $all-font-definitions,
    $theme-font-body,
    'name'
    ), map-deep-get(
    $all-font-definitions,
    $theme-font-body,
    'stack'
  );
}

@if $theme-font-code {
  $font-stack-code: map-deep-get(
    $all-font-definitions,
    $theme-font-code,
    'name'
    ), map-deep-get(
    $all-font-definitions,
    $theme-font-code,
    'stack'
  );
}

@if $theme-font-alt {
  $font-stack-alt: map-deep-get(
    $all-font-definitions,
    $theme-font-alt,
    'name'
    ), map-deep-get(
    $all-font-definitions,
    $theme-font-alt,
    'stack'
  );
}

$project-font-stacks:(
  mono:     $font-stack-mono,
  sans:     $font-stack-sans,
  serif:    $font-stack-serif,
  cond:     $font-stack-cond,
  heading:  $font-stack-heading,
  body:     $font-stack-body,
  code:     $font-stack-code,
  alt:      $font-stack-alt,
);

// for backward compatibility
// TODO: deprecate
$font-sans:   $font-stack-sans;
$font-serif:  $font-stack-serif;
$font-mono:   $font-stack-mono;
$font-cond:   $font-stack-cond;

/*
----------------------------------------
Set basic font rules for the font
utilities to reference.
----------------------------------------
TODO: Do these need to integrate the
namespace var set in utilities-settings?
----------------------------------------
*/

@if $theme-font-mono {
  *[class*='font-mono'], .font-family-mono { font-family: $font-stack-mono; }
}

@if $theme-font-sans {
  *[class*='font-sans'], .font-family-sans { font-family: $font-stack-sans; }
}

@if $theme-font-serif {
  *[class*='font-serif'], .font-family-serif { font-family: $font-stack-serif; }
}

@if $theme-font-cond {
  *[class*='font-cond'], .font-family-cond { font-family: $font-stack-cond; }
}

@if $theme-font-heading {
  *[class*='font-heading'], .font-family-heading { font-family: $font-stack-heading; }
}

@if $theme-font-body {
  *[class*='font-body'], .font-family-body { font-family: $font-stack-body; }
}

@if $theme-font-code {
  *[class*='font-code'], .font-family-code { font-family: $font-stack-code; }
}

@if $theme-font-alt {
  *[class*='font-alt'], .font-family-alt { font-family: $font-stack-alt; }
}

$project-font-weights: (
  thin:       $theme-font-weight-thin,
  light:      $theme-font-weight-light,
  normal:     $theme-font-weight-normal,
  medium:     $theme-font-weight-medium,
  semibold:   $theme-font-weight-semibold,
  bold:       $theme-font-weight-bold,
  black:      $theme-font-weight-black,
);

$project-colors: (
  neutral: (
    lighter:  system-color($theme-color-neutral-lighter),
    light:    system-color($theme-color-neutral-light),
    base:     system-color($theme-color-neutral-base),
    dark:     system-color($theme-color-neutral-dark),
    darker:   system-color($theme-color-neutral-darker),
  ),
  primary: (
    lighter: system-color($theme-color-primary-lighter),
    light:   system-color($theme-color-primary-light),
    base:    system-color($theme-color-primary-base),
    vivid:   system-color($theme-color-primary-vivid),
    dark:    system-color($theme-color-primary-dark),
    darker:  system-color($theme-color-primary-darker),
  ),
  secondary: (
    light:   system-color($theme-color-secondary-light),
    base:    system-color($theme-color-secondary-base),
    vivid:   system-color($theme-color-secondary-vivid),
    dark:    system-color($theme-color-secondary-dark),
  ),
  accent-warm: (
    light:   system-color($theme-color-accent-warm-lighter),
    base:    system-color($theme-color-accent-warm-base),
  ),
  accent-cool: (
    light:   system-color($theme-color-accent-cool-lighter),
    base:    system-color($theme-color-accent-cool-base),
  ),
  inverse: (
    base:   system-color($theme-color-inverse-base),
    dark:   system-color($theme-color-inverse-dark),
  )
);

$project-state-colors: (
  error: (
    lighter: system-color($theme-color-error-lighter),
    light:   system-color($theme-color-error-light),
    base:    system-color($theme-color-error-base),
    dark:    system-color($theme-color-error-dark),
    darker:  system-color($theme-color-error-darker),
  ),
  warn: (
    lighter: system-color($theme-color-warn-lighter),
    light:   system-color($theme-color-warn-light),
    base:    system-color($theme-color-warn-base),
    dark:    system-color($theme-color-warn-dark),
    darker:  system-color($theme-color-warn-darker),
  ),
  success: (
    lighter: system-color($theme-color-success-lighter),
    light:   system-color($theme-color-success-light),
    base:    system-color($theme-color-success-base),
    dark:    system-color($theme-color-success-dark),
    darker:  system-color($theme-color-success-darker),
  ),
  disabled: (
    base:    system-color($theme-color-disabled-base),
  ),
);

$project-reserved-colors:(
  black:        'black',
  white:        'white',
  transparent:  'transparent',
  highlight:    system-color(gold, 20, vivid),
);

$all-colors: map-collect(
  $uswds-colors,
  $project-colors,
  $project-state-colors
);

/*
----------------------------------------
Build the project type scale map
----------------------------------------
*/

$project-type-scale: (
  micro: system-type-scale($theme-type-scale-micro),
  smallest: system-type-scale($theme-type-scale-smallest),
  smaller: system-type-scale($theme-type-scale-smaller),
  small: system-type-scale($theme-type-scale-small),
  base: system-type-scale($theme-type-scale-base),
  large: system-type-scale($theme-type-scale-large),
  larger: system-type-scale($theme-type-scale-larger),
  largest: system-type-scale($theme-type-scale-largest),
  mega: system-type-scale($theme-type-scale-mega),
);

$all-type-scale: map-collect(
  $uswds-type-scale,
  $project-type-scale
);

$project-cap-heights:(
  base:     $uswds-base-cap-height,
  mono:     cap-height($theme-font-mono),
  sans:     cap-height($theme-font-sans),
  serif:    cap-height($theme-font-serif),
  heading:  cap-height($theme-font-heading),
  body:     cap-height($theme-font-body),
  code:     cap-height($theme-font-code),
  alt:      cap-height($theme-font-alt),
);

/*
----------------------------------------
Border-radius
----------------------------------------
*/

$project-border-radius: (
  0:          0,
  small:      spacing($theme-border-radius-small),
  base:       spacing($theme-border-radius-base),
  large:      spacing($theme-border-radius-large),
  pill:       9999em,
);

$all-border-radius: map-collect(
  $project-border-radius,
  $uswds-spacing-small,
  $uswds-spacing-medium,
  $uswds-spacing-named
);

/*
========================================
Old USWDS Variables
Many of these will be deprecated
or converted into settings
----------------------------------------
These variables drive almost every
aspect of the U.S. Web Design system.
Every variable is declared as !default
so that it can be overridden by a
previous import.

XXX Do not modify this file!

If you want to override a variable, set
that variable in one of your own partials,
then
@import '{path/to/uswds/}core/variables'.
----------------------------------------
*/

/*
----------------------------------------
Typography
----------------------------------------
TODO: Rethink naming and consolidate in
settings
----------------------------------------
*/

// Removing the !default from $em-base so we are not inheriting that value from Bourbon.
$em-base:             10px;
$base-font-size:      1.7rem !default;
$small-font-size:     1.4rem !default;
$lead-font-size:      2rem !default;
$title-font-size:     5.2rem !default;
$h1-font-size:        4rem !default;
$h2-font-size:        3rem !default;
$h3-font-size:        2rem !default;
$h4-font-size:        1.7rem !default;
$h5-font-size:        1.5rem !default;
$h6-font-size:        1.3rem !default;
$base-line-height:    1.5 !default;
$heading-line-height: 1.3 !default;
$lead-line-height:    1.7 !default;

/*
----------------------------------------
Font weights
----------------------------------------
TODO: Consolidate in settings
----------------------------------------
*/

// TODO these should be called font-weight-${}
$font-normal:         400 !default;
$font-bold:           700 !default;

/*
----------------------------------------
Colors
----------------------------------------
TODO:
1. These should be set in settings
2. Probably need different naming rubric
----------------------------------------
*/

$color-blue:                 $blue-70 !default;
$color-blue-darker:          $blue-warm-70v !default;
$color-blue-darkest:         $blue-warm-80v !default;
$color-blue-light:           $blue-warm-50 !default;
$color-blue-lighter:         $blue-warm-30 !default;
$color-blue-lightest:        $blue-warm-10 !default;

$color-aqua:                 $cyan-30v !default;
$color-aqua-dark:            $cyan-40v !default;
$color-aqua-darkest:         $blue-60 !default;
$color-aqua-light:           $cyan-20 !default;
$color-aqua-lightest:        $cyan-5 !default;

$color-red:                  $red-50 !default;
$color-red-dark:             $red-60v !default;
$color-red-darkest:          $red-70v !default;
$color-red-light:            $red-30 !default;
$color-red-lightest:         $red-10 !default;

$color-white:                $white-0 !default;
$color-black:                $black-100 !default;
$color-black-light:          $black-90 !default;

$color-gray-dark:            $black-cool-80 !default;
$color-gray:                 $black-cool-60 !default;
$color-gray-medium:          #757575 !default;
$color-gray-light:           $black-30 !default;
$color-gray-lighter:         $black-cool-10 !default;
$color-gray-lightest:        $black-cool-5 !default;

$color-gray-warm-dark:       $black-warm-70 !default;
$color-gray-warm-light:      $black-warm-10 !default;
$color-gray-cool-light:      $blue-warm-5 !default;

$color-gold:                 $gold-20v !default;
$color-gold-light:           $gold-10v !default;
$color-gold-lighter:         $yellow-10 !default;
$color-gold-lightest:        $gold-5 !default;

$color-green:                $green-cool-50 !default;
$color-green-light:          $green-cool-40 !default;
$color-green-lighter:        $green-cool-20 !default;
$color-green-lightest:       $green-cool-5 !default;

$color-cool-blue:            #205493 !default;
$color-cool-blue-light:      #4773aa !default;
$color-cool-blue-lighter:    #8ba6ca !default;
$color-cool-blue-lightest:   #dce4ef !default;

$color-purple:               $violet-70v !default;

// Functional colors
$color-primary:              $color-blue !default;
$color-primary-darker:       $color-blue-darker !default;
$color-primary-darkest:      $color-blue-darkest !default;

$color-primary-alt:          $color-aqua !default;
$color-primary-alt-dark:     $color-aqua-dark !default;
$color-primary-alt-darkest:  $color-aqua-darkest !default;
$color-primary-alt-light:    $color-aqua-light !default;
$color-primary-alt-lightest: $color-aqua-lightest !default;

$color-secondary:            $color-red !default;
$color-secondary-dark:       $color-red-dark !default;
$color-secondary-darkest:    $color-red-darkest !default;
$color-secondary-light:      $color-red-light !default;
$color-secondary-lightest:   $color-red-lightest !default;

$color-base:                 $color-black-light !default;
$color-focus:                $color-gray-light !default;
$color-visited:              $color-purple !default;

$color-shadow:               $black-transparent-30 !default;
$color-transparent:          rgba(#000, 0) !default;

/*
----------------------------------------
Mobile First Breakpoints
----------------------------------------
TODO: deprecate in favor of the values
in settings
----------------------------------------
*/

$xsmall-screen: null !default;
$small-screen:  481px !default;
$medium-screen: 600px !default;
$large-screen:  1201px !default;
$xlarge-screen: null !default;

/*
----------------------------------------
Grid column counts by screen size
----------------------------------------
TODO: Lots of grid work to come
----------------------------------------
*/

$grid-columns-small: 1 !default;
$grid-columns-medium: 6 !default;
$grid-columns-large: 12 !default;

/*
----------------------------------------
@media single-keyword helpers
----------------------------------------
TODO: Need to rethink these
----------------------------------------
*/

$small: new-breakpoint(min-width $small-screen $grid-columns-small) !default;
$medium: new-breakpoint(min-width $medium-screen $grid-columns-medium) !default;
$large: new-breakpoint(min-width $large-screen $grid-columns-large) !default;

/*
----------------------------------------
@Relative font and image file paths
----------------------------------------
TODO: This should be deprecated in favor
of the values in settings
----------------------------------------
*/

$theme-font-path:   '../fonts' !default;
$image-path:  '../img' !default;

/*
----------------------------------------
Set $asset-pipeline to true if you're
using the Rails Asset Pipeline
----------------------------------------
TODO: This should be set in settings
----------------------------------------
*/

$asset-pipeline:      false !default;

/*
----------------------------------------
Magic numbers
----------------------------------------
TODO: Evaluate which of these should be
set in settings and which are static or
calculated variables
----------------------------------------
*/

$text-width-sm: 60ch;

$text-max-width:                66ch !default; // 66 characters per line
$text-narrow-width:             40ch !default;
$text-wide-width:               72ch !default;
$lead-max-width:                77rem !default;
$site-max-width:                1040px !default;
$site-margins:                  3rem !default;
$site-margins-mobile:           1.5rem !default;
$article-max-width:             600px !default;
$input-max-width:               46rem !default;
$label-border-radius:           2px !default;
$checkbox-border-radius:        2px !default;
$border-radius:                 3px !default;
$button-border-radius:          5px !default;
$box-shadow:                    0 0 2px $color-shadow !default;
$focus-outline:                 2px dotted $color-gray-light !default;
$focus-spacing:                 3px !default;
$nav-width:                     951px !default;
$sidenav-current-border-width:  0.4rem !default; // must be in rem for math

// 44 x 44 pixels hit target following Apple iOS Human Interface Guidelines
$hit-area: 4.4rem !default;

$spacing-x-small: 0.5rem;
$spacing-small: 1rem;
$spacing-md-small: 1.5rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;
