$group-colors-black-cool-light: (
  'black-cool-5':  $black-cool-5,
  'black-cool-10': $black-cool-10,
  'black-cool-20': $black-cool-20,
  'black-cool-30': $black-cool-30,
);

$group-colors-black-cool-basic: (
  'black-cool-40': $black-cool-40,
  'black-cool-50': $black-cool-50,
  'black-cool-60': $black-cool-60,
  'black-cool-70': $black-cool-70,
);

$group-colors-black-cool-dark: (
  'black-cool-80': $black-cool-80,
  'black-cool-90': $black-cool-90,
);

$group-colors-black-cool: map-collect(
  $group-colors-black-cool-light,
  $group-colors-black-cool-basic,
  $group-colors-black-cool-dark
);
