$group-colors-cyan-light: (
  'cyan-5':  $cyan-5,
  'cyan-10': $cyan-10,
  'cyan-20': $cyan-20,
  'cyan-30': $cyan-30,
);

$group-colors-cyan-basic: (
  'cyan-40': $cyan-40,
  'cyan-50': $cyan-50,
  'cyan-60': $cyan-60,
  'cyan-70': $cyan-70,
);

$group-colors-cyan-dark: (
  'cyan-80': $cyan-80,
  'cyan-90': $cyan-90,
);

$group-colors-cyan-vivid: (
  'cyan-5v':  $cyan-5v,
  'cyan-10v': $cyan-10v,
  'cyan-20v': $cyan-20v,
  'cyan-30v': $cyan-30v,
  'cyan-40v': $cyan-40v,
  'cyan-50v': $cyan-50v,
  'cyan-60v': $cyan-60v,
  'cyan-70v': $cyan-70v,
  'cyan-80v': $cyan-80v,
  'cyan-90v': $cyan-90v,
);

$group-colors-cyan-standard: map-collect(
  $group-colors-cyan-light,
  $group-colors-cyan-basic,
  $group-colors-cyan-dark
);

$group-colors-cyan: map-collect(
  $group-colors-cyan-standard,
  $group-colors-cyan-vivid
);
