$group-colors-green-cool-light: (
  'green-cool-5':  $green-cool-5,
  'green-cool-10': $green-cool-10,
  'green-cool-20': $green-cool-20,
  'green-cool-30': $green-cool-30,
);

$group-colors-green-cool-basic: (
  'green-cool-40': $green-cool-40,
  'green-cool-50': $green-cool-50,
  'green-cool-60': $green-cool-60,
  'green-cool-70': $green-cool-70,
);

$group-colors-green-cool-dark: (
  'green-cool-80': $green-cool-80,
  'green-cool-90': $green-cool-90,
);

$group-colors-green-cool-vivid: (
  'green-cool-5v':  $green-cool-5v,
  'green-cool-10v': $green-cool-10v,
  'green-cool-20v': $green-cool-20v,
  'green-cool-30v': $green-cool-30v,
  'green-cool-40v': $green-cool-40v,
  'green-cool-50v': $green-cool-50v,
  'green-cool-60v': $green-cool-60v,
  'green-cool-70v': $green-cool-70v,
  'green-cool-80v': $green-cool-80v,
  'green-cool-90v': $green-cool-90v,
);

$group-colors-green-cool-standard: map-collect(
  $group-colors-green-cool-light,
  $group-colors-green-cool-basic,
  $group-colors-green-cool-dark
);

$group-colors-green-cool: map-collect(
  $group-colors-green-cool-standard,
  $group-colors-green-cool-vivid
);
