$group-colors-indigo-cool-light: (
  'indigo-cool-5':  $indigo-cool-5,
  'indigo-cool-10': $indigo-cool-10,
  'indigo-cool-20': $indigo-cool-20,
  'indigo-cool-30': $indigo-cool-30,
);

$group-colors-indigo-cool-basic: (
  'indigo-cool-40': $indigo-cool-40,
  'indigo-cool-50': $indigo-cool-50,
  'indigo-cool-60': $indigo-cool-60,
  'indigo-cool-70': $indigo-cool-70,
);

$group-colors-indigo-cool-dark: (
  'indigo-cool-80': $indigo-cool-80,
  'indigo-cool-90': $indigo-cool-90,
);

$group-colors-indigo-cool-vivid: (
  'indigo-cool-5v':  $indigo-cool-5v,
  'indigo-cool-10v': $indigo-cool-10v,
  'indigo-cool-20v': $indigo-cool-20v,
  'indigo-cool-30v': $indigo-cool-30v,
  'indigo-cool-40v': $indigo-cool-40v,
  'indigo-cool-50v': $indigo-cool-50v,
  'indigo-cool-60v': $indigo-cool-60v,
  'indigo-cool-70v': $indigo-cool-70v,
  'indigo-cool-80v': $indigo-cool-80v,
  'indigo-cool-90v': $indigo-cool-90v,
);

$group-colors-indigo-cool-standard: map-collect(
  $group-colors-indigo-cool-light,
  $group-colors-indigo-cool-basic,
  $group-colors-indigo-cool-dark
);

$group-colors-indigo-cool: map-collect(
  $group-colors-indigo-cool-standard,
  $group-colors-indigo-cool-vivid
);
