$group-colors-indigo-light: (
  'indigo-5':  $indigo-5,
  'indigo-10': $indigo-10,
  'indigo-20': $indigo-20,
  'indigo-30': $indigo-30,
);

$group-colors-indigo-basic: (
  'indigo-40': $indigo-40,
  'indigo-50': $indigo-50,
  'indigo-60': $indigo-60,
  'indigo-70': $indigo-70,
);

$group-colors-indigo-dark: (
  'indigo-80': $indigo-80,
  'indigo-90': $indigo-90,
);

$group-colors-indigo-vivid: (
  'indigo-5v':  $indigo-5v,
  'indigo-10v': $indigo-10v,
  'indigo-20v': $indigo-20v,
  'indigo-30v': $indigo-30v,
  'indigo-40v': $indigo-40v,
  'indigo-50v': $indigo-50v,
  'indigo-60v': $indigo-60v,
  'indigo-70v': $indigo-70v,
  'indigo-80v': $indigo-80v,
  'indigo-90v': $indigo-90v,
);

$group-colors-indigo-standard: map-collect(
  $group-colors-indigo-light,
  $group-colors-indigo-basic,
  $group-colors-indigo-dark
);

$group-colors-indigo: map-collect(
  $group-colors-indigo-standard,
  $group-colors-indigo-vivid
);
