$group-colors-orange-warm-light: (
  'orange-warm-5':  $orange-warm-5,
  'orange-warm-10': $orange-warm-10,
  'orange-warm-20': $orange-warm-20,
  'orange-warm-30': $orange-warm-30,
);

$group-colors-orange-warm-basic: (
  'orange-warm-40': $orange-warm-40,
  'orange-warm-50': $orange-warm-50,
  'orange-warm-60': $orange-warm-60,
  'orange-warm-70': $orange-warm-70,
);

$group-colors-orange-warm-dark: (
  'orange-warm-80': $orange-warm-80,
  'orange-warm-90': $orange-warm-90,
);

$group-colors-orange-warm-vivid: (
  'orange-warm-5v':  $orange-warm-5v,
  'orange-warm-10v': $orange-warm-10v,
  'orange-warm-20v': $orange-warm-20v,
  'orange-warm-30v': $orange-warm-30v,
  'orange-warm-40v': $orange-warm-40v,
  'orange-warm-50v': $orange-warm-50v,
  'orange-warm-60v': $orange-warm-60v,
  'orange-warm-70v': $orange-warm-70v,
  'orange-warm-80v': $orange-warm-80v,
  'orange-warm-90v': $orange-warm-90v,
);

$group-colors-orange-warm-standard: map-collect(
  $group-colors-orange-warm-light,
  $group-colors-orange-warm-basic,
  $group-colors-orange-warm-dark
);

$group-colors-orange-warm: map-collect(
  $group-colors-orange-warm-standard,
  $group-colors-orange-warm-vivid
);
