$group-colors-red-light: (
  'red-5':  $red-5,
  'red-10': $red-10,
  'red-20': $red-20,
  'red-30': $red-30,
);

$group-colors-red-basic: (
  'red-40': $red-40,
  'red-50': $red-50,
  'red-60': $red-60,
  'red-70': $red-70,
);

$group-colors-red-dark: (
  'red-80': $red-80,
  'red-90': $red-90,
);

$group-colors-red-vivid: (
  'red-5v':  $red-5v,
  'red-10v': $red-10v,
  'red-20v': $red-20v,
  'red-30v': $red-30v,
  'red-40v': $red-40v,
  'red-50v': $red-50v,
  'red-60v': $red-60v,
  'red-70v': $red-70v,
  'red-80v': $red-80v,
  'red-90v': $red-90v,
);

$group-colors-red-standard: map-collect(
  $group-colors-red-light,
  $group-colors-red-basic,
  $group-colors-red-dark
);

$group-colors-red: map-collect(
  $group-colors-red-standard,
  $group-colors-red-vivid
);
