---
permalink: /all/
layout: styleguide
title: Draft U.S. Web Design Standards
---

<h1>About this Guide</h1>

<p>Welcome to the alpha site for the Draft TechFAR Hub.</p>

<p>This Draft TechFAR Hub is intended to provide reference for Contracting Officers, Program Managers, as well as anyone else interested in the creation and management of a Digital Service Acquisition.</p>

<h1>Visual Style</h1>

{% for visual in site.visual %}
	<h2>{{ visual.title }}</h2>
	<p>{{ visual.content }}</p>
{% endfor %}

<h1>Layout System</h1>

{% for layout in site.layout-system %}
	<h2>{{ layout.title }}</h2>
	<p>{{ layout.content }}</p>
{% endfor %}

<h1>Elements</h1>

{% for element in site.elements %}
	<h2>{{ element.title }}</h2>
	<p>{{ element.content }}</p>
{% endfor %}


<h1>Components</h1>

{% for component in site.components %}
	<h2>{{ component.title }}</h2>
	<p>{{ component.content }}</p>
{% endfor %}
