---
permalink: /
layout: styleguide
title: Government Wide Pattern Library
---

<h1>About this Guide</h1> 

<p>This style guide is meant for as reference for designers, developers, as well as anyone else interested in the design and frontend concepts that make up the building blocks of federal government websites.</p>

<h1>Component name</h1>

<div class="preview">
<!-- Add HTML markup for example here -->
</div>

<div class="grid-box">
  <div class="grid-item width-one-half annotation">
    <h3>Use</h3>
    <p>This is where you'll find basic guidelines about the usage of a component. For example, a minimal palette, clear hierarchy, good information design, and ample whitespace will ensure a voice of authority and expertise in communication.</p>
  </div>
  <div class="grid-item width-one-half annotation">
    <h3>Accessibility</h3>
    <p>Accessibility is one of the most important aspects of modern web development. Accessibility means the greatest number of users can view your content.</p>
  </div>  
</div> 

{% include_relative visual-style.html %}

{% include_relative layout-system.html %}

{% include_relative patterns.html %}