---
permalink: /patterns/
layout: styleguide
title: Patterns
---

{% assign components = site.patterns | where:"type","component" %}
{% assign elements = site.patterns | where:"type","element" %}

<h1>Elements</h1>

{% for element in elements %}
	<h2>{{ element.title }}</h2>
	<p>{{ element.content }}</p>
{% endfor %}


<h1>Components</h1>

{% for component in components %}
	<h2>{{ component.title }}</h2>
	<p>{{ component.content }}</p>
{% endfor %}

<a href="#">Text link</a>

<button type="button">Button link</button>
