<form class="usa-form">
  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only">Historical figures 1</legend>
    <ul class="usa-input-list">
      <li>
        <input class="usa-checkbox-input" id="truth" type="checkbox" name="historical-figures-1" value="truth" checked>
        <label class="usa-checkbox-label" for="truth">Sojourner Truth</label>
      </li>
      <li>
        <input class="usa-checkbox-input" id="douglass" type="checkbox" name="historical-figures-1" value="douglass">
        <label class="usa-checkbox-label" for="douglass">Frederick Douglass</label>
      </li>
      <li>
        <input class="usa-checkbox-input" id="washington" type="checkbox" name="historical-figures-1" value="washington">
        <label class="usa-checkbox-label" for="washington">Booker T. Washington</label>
      </li>
      <li>
        <input class="usa-checkbox-input" id="carver" type="checkbox" name="historical-figures-1" disabled>
        <label class="usa-checkbox-label" for="carver">George Washington Carver</label>
      </li>
    </ul>
  </fieldset>
</form>
