<form class="usa-form">
  <fieldset class="usa-fieldset">
    <legend class="usa-legend">Historical figures 1</legend>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="truth" type="checkbox" name="historical-figures-1" value="truth" checked>
      <label class="usa-checkbox__label" for="truth">Sojourner Truth</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="douglass" type="checkbox" name="historical-figures-1" value="douglass">
      <label class="usa-checkbox__label" for="douglass">Frederick Douglass</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="washington" type="checkbox" name="historical-figures-1" value="washington">
      <label class="usa-checkbox__label" for="washington">Booker T. Washington</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="carver" type="checkbox" name="historical-figures-1" disabled>
      <label class="usa-checkbox__label" for="carver">George Washington Carver</label>
    </div>
  </fieldset>
</form>
<form class="usa-form">
  <fieldset class="usa-fieldset">
    <legend class="usa-legend usa-legend--small">Historical figures 2</legend>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="king" type="checkbox" name="historical-figures-2" value="king">
      <label class="usa-checkbox__label" for="king">Martin Luther King Jr</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="anthony" type="checkbox" name="historical-figures-2" value="anthony" checked>
      <label class="usa-checkbox__label" for="anthony">Susan B. Anthony</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="dubois" type="checkbox" name="historical-figures-2" value="dubois">
      <label class="usa-checkbox__label" for="dubois">W.E.B. Du Bois</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="bull" type="checkbox" name="historical-figures-2">
      <label class="usa-checkbox__label" for="bull">Sitting Bull</label>
    </div>
  </fieldset>
</form>
