<form class="usa-form">
  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only">Historical figures 1</legend>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="truth" type="checkbox" name="historical-figures-1" value="truth" checked>
      <label class="usa-checkbox__label" for="truth">Sojourner Truth</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="douglass" type="checkbox" name="historical-figures-1" value="douglass">
      <label class="usa-checkbox__label" for="douglass">Frederick Douglass</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="washington" type="checkbox" name="historical-figures-1" value="washington">
      <label class="usa-checkbox__label" for="washington">Booker T. Washington</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="carver" type="checkbox" name="historical-figures-1" disabled>
      <label class="usa-checkbox__label" for="carver">George Washington Carver</label>
    </div>
  </fieldset>
</form>
