<div class="padding-2">
  <form class="usa-form padding-x-2 padding-bottom-2 padding-top-1px bg-base-lightest radius-md">
    {% render "@combo-box",
      { comboBox: {
          label: "Default combo box in a usa-form"
        }
      },
      merge=true %}
    {% render "@combo-box",
      { comboBox: {
        utilities: "width-tablet maxw-none",
          label: "Override combo box with utilities",
          name: "moar-fruit",
          id: "moar-fruit"
        }
      },
      merge=true %}
  </form>
  {% render "@combo-box",
    { comboBox: {
        label: "Not in a usa-form element",
        name: "even-moar-fruit"
      }
    },
    merge=true %}
  {% render "@combo-box",
    { comboBox: {
        utilities: "width-full maxw-none",
        label: "Not in a usa-form element, custom width utilities",
        name: "even-moar-moar-fruit"
      }
    },
    merge=true %}
</div>