<form class="usa-form"> 
  <div class="usa-form-group">
    <label class="usa-label" for="input-dob">Confirm Convention Dates</label>
    <div class="usa-date-range-picker">
      <input
        class="usa-input"
        id="convention-start-date"
        name="convention-start-date"
        aria-label="Start Date"
        type="text"
      />
      <input
        class="usa-input"
        id="convention-end-date"
        name="convention-end-date"
        aria-label="End Date"
        type="text"
      />
    </div>
  </div>
</form>
