<form class="usa-form">
  <div class="usa-form-group">
    <label class="usa-label" for="appointment-date">Appointment Date</label>
    <div class="usa-hint">mm/dd/yyyy</div>
    <div class="usa-date-picker">
      <input class="usa-input" id="appointment-date" name="appointment-date" type="text">
    </div>
  </div>
</form>
