<h6>Control - Base form</h6>
<form class="usa-form margin-bottom-7" method="post" action="#">
  <label class="usa-dropzone__label" for="input-drop-test">
    Select a file
    <input multiple id="input-drop-test" class="usa-dropzone__input" type="file" name="" value="" />
  </label>
</form>

<h6 class="margin-top-7">Javascript Works Version</h6>
<form class="usa-form" method="post" action="#">
  <div class="usa-dropzone">
  <label class="usa-label" for="input-drop3">Upload last two paystubs</label>
      <div class="usa-dropzone__target">
        <span class="usa-dropzone__instructions" aria-hidden="true">Drag files here or <span class="usa-dropzone__choose">choose from folder</span></span>
        <div class="usa-dropzone__box"></div>
        <input id="input-drop3" class="usa-dropzone__input" multiple type="file" name=""/>
      </div>
  </div>
</form>

<h6 class="margin-top-7">Javascript Works Version</h6>
<form class="usa-form" method="post" action="#">
  <div class="usa-dropzone">
  <label class="usa-label" for="input-drop4">Select a file</label>
      <div class="usa-dropzone__target">
        <span class="usa-dropzone__instructions" aria-hidden="true">Drag file here or <span class="usa-dropzone__choose">choose from folder</span></span>
        <div class="usa-dropzone__box"></div>
        <input id="input-drop4" class="usa-dropzone__input" type="file" name="" value="" />
      </div>
  </div>
</form>
