<label class="usa-label" for="input-single">Single file</label>
<span class="usa-hint" id="input-single-hint">Must be a PDF</span>
<input id="input-single" class="usa-file-input" type="file" name="input-single" accept=".pdf" aria-describedby="input-single-hint" />

<label class="usa-label" for="input-multiple">Multiple files</label>
<span class="usa-hint" id="input-multiple-hit">Any file type</span>
<input id="input-multiple" class="usa-file-input"  type="file" name="input-multiple" aria-describedby="input-multiple-hit" multiple />

<div class="usa-form-group usa-form-group--error">
  <label class="usa-label usa-label--error" for="file-input-error">Error example</label>
  <span class="usa-error-message" id="file-input-error-message" role="alert">Helpful error message</span>
  <input id="file-input-error" class="usa-file-input" multiple type="file" name="file-input-error" aria-describedby="file-input-error-message"/>
</div>
