<form class="usa-form">
  <fieldset class="usa-fieldset">
    <legend class="usa-legend">Historical figures 1</legend>
    <div class="usa-radio">
      <input class="usa-radio__input" id="stanton" type="radio" checked name="historical-figures-2" value="stanton">
      <label class="usa-radio__label" for="stanton">Elizabeth Cady Stanton</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="anthony" type="radio" name="historical-figures-2" value="anthony">
      <label class="usa-radio__label" for="anthony">Susan B. Anthony</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="tubman" type="radio" name="historical-figures-2" value="tubman">
      <label class="usa-radio__label" for="tubman">Harriet Tubman</label>
    </div>
  </fieldset>
</form>
<form class="usa-form">
  <fieldset class="usa-fieldset">
    <legend class="usa-legend usa-legend--small">Historical figures 2</legend>
    <div class="usa-radio">
      <input class="usa-radio__input" id="king" type="radio" name="historical-figures-2" value="king">
      <label class="usa-radio__label" for="king">Martin Luther King Jr</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="dubois" type="radio" name="historical-figures-2" value="dubois">
      <label class="usa-radio__label" for="dubois">W.E.B. Du Bois</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="bull" type="radio" name="historical-figures-2">
      <label class="usa-radio__label" for="bull">Sitting Bull</label>
    </div>
  </fieldset>
</form>
