<form class="usa-form">
  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only">Historical figures 2</legend>
    <ul class="usa-input-list">
      <li>
        <input class="usa-radio-input" id="stanton" type="radio" checked name="historical-figures-2" value="stanton">
        <label class="usa-radio-label" for="stanton">Elizabeth Cady Stanton</label>
      </li>
      <li>
        <input class="usa-radio-input" id="anthony" type="radio" name="historical-figures-2" value="anthony">
        <label class="usa-radio-label" for="anthony">Susan B. Anthony</label>
      </li>
      <li>
        <input class="usa-radio-input" id="tubman" type="radio" name="historical-figures-2" value="tubman">
        <label class="usa-radio-label" for="tubman">Harriet Tubman</label>
      </li>
    </ul>
  </fieldset>
</form>
