---
---

// Imports -------------- //

@import 'uswds';

// Variables ------------ //

$text-width:      660px;
$section-padding: 7.2rem;

// Styles --------------- //

p {
  font-family: $font-sans;
  font-size: 1.7rem;
}

.usa-intro {
  max-width: $text-width;
}

.usa-section-examples {
  @include media($medium-screen) {
    .usa-width-five-sixths {
      @include shift(1);
    }
  }
}

.usa-section {
  @include padding($section-padding null);
}

.usa-button-block {
  @include media($medium-screen) {
    width: auto;
  }
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.usa-banner {
  @include media ($medium-screen) {
    background-image: url("../img/home/homepage_illustrations_flag_cropped_2x.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 582px auto;
  }
  background-color: $color-primary-darkest;
  background-image: none;
  color: $color-white;
  @include padding(2rem null 3.7rem);

  .usa-label {
    display: table;
    font-family: $font-sans;
    font-weight: $font-normal;
    margin-bottom: 1rem;
  }

  .usa-font-lead {
    color: $color-white;
    margin-bottom: 1rem;
  }

  h1 {
    @include media($medium-screen) {
      font-size: 5.6rem;
      padding-top: 1.2rem;
    }
    color: $color-white;
    padding-top: 1.5rem;
  }

  .usa-text-small {
    text-align: center;
  }

  .usa-button-outline-inverse {
    margin-right: 0;
  }
}

.usa-banner-link-top {
  color: $color-white;
  float: right;
  font-weight: $font-bold;

  &:visited {
    color: $color-white;
  }
}

.usa-banner-content {
  max-width: 48rem;
}

.usa-section-alt {
  background-color: $color-gray-lightest;
}

.usa-section-dark {
  background-color: $color-gray-dark;
  color: $color-white;

  h2,
  h3,
  .usa-font-lead {
    color: $color-white;
  }

  .usa-width-one-half-top {
    @include media($medium-screen) {
      margin-bottom: 7rem;
    }
  }
}

.usa-img-secondary {
  text-align: center;

  img {
    width: 260px;
  }
}

.usa-circle-block img {
  width: 124px;
}

@include media($medium-screen) {
  .usa-img-circle {
    float: left;
    margin-right: 3rem;
  }

  .usa-graphic-list-heading {
    clear: none;
    margin-top: 0;
  }

  .usa-graphic-list-text {
    overflow: hidden;
  }
}

.usa-circle-block {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-primary-darker;
  font-family: $font-serif;
}

h1, h2 {
  margin-top: 0;
}

.usa-font-lead {
  color: $color-gray-dark;
  font-weight: 300;
  margin-bottom: 5rem;
}

.intro-text {
  font-family: $font-serif;
  line-height: $lead-line-height;
  margin-bottom: 4rem;
}

a,
a:hover {
  border-bottom: 0;
}

a {
  > h3,
  &:visited  {
    color: $color-primary;
  }
}

.usa-standlast {
  p {
    font-size: $h3-font-size;
  }
}

.usa-example-heading {
  font-weight: $font-normal;
  @include margin(0 null 1.6rem);
}

.usa-section-examples {
  .usa-cta {
    margin-bottom: 1.6rem;
  }

  .usa-example-link {
    margin-top: 5rem;
    max-width: 980px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}
