@forward "aspect-ratios";
@forward "border-high-contrast";
@forward "border-radius";
@forward "color-families";
@forward "color-palette-grayscale";
@forward "color-theme-grades";
@forward "column-gaps";
@forward "font-role-tokens";
@forward "font-type-tokens";
@forward "grid";
@forward "luminance-values";
@forward "luminance-grade-ranges";
@forward "namespace";
@forward "project-cap-heights";
@forward "project-colors";
@forward "project-defaults";
@forward "project-easing";
@forward "project-font-stacks";
@forward "project-font-types";
@forward "project-font-weights";
@forward "project-spacing";
@forward "separator";
@forward "size-touch-target";
@forward "theme-color-grades";
@forward "type-scale";
@forward "wcag-magic-numbers";
