
  <h6>Search big</h6>

  <div class="usa-grid">
    <div class="usa-width-one-half">
      <div role="search">
        <form class="usa-search usa-search-big">
          <label class="usa-sr-only" for="search-field-big">Search big</label>
          <input id="search-field-big" type="search" name="search">
          <button type="submit">
            <span class="usa-search-submit-text">Search</span>
          </button>
        </form>
      </div>
    </div>
  </div>

  <h6>Search medium</h6>

  <div class="usa-grid">
    <div class="usa-width-one-half">
      <div role="search">
        <form class="usa-search">
          <label class="usa-sr-only" for="search-field">Search medium</label>
          <input id="search-field" type="search" name="search">
          <button type="submit">
            <span class="usa-search-submit-text">Search</span>
          </button>
        </form>
      </div>
    </div>
  </div>

  <h6>Search small</h6>

  <div class="usa-grid">
    <div class="usa-width-one-half">
      <div role="search">
        <form class="usa-search usa-search-small">
          <label class="usa-sr-only" for="search-field-small">Search small</label>
          <input id="search-field-small" type="search" name="search">
          <button type="submit">
            <span class="usa-sr-only">Search</span>
          </button>
        </form>
      </div>
    </div>
  </div>
