{%
  set search_attrs = {
    'input_modifier': (id_prefix if id_prefix) ~ 'search-field-' ~ (input_modifier if input_modifier else 'search-field'),
    'search_class': 'usa-search' ~ (' ' ~ modifier if modifier) ~ (' js-search-form' if search_js)
  }
%}

{% if not search_header %}
  <section aria-label="{{ label }} search component">
{% endif %}
  <form class="{{ search_attrs.search_class }}" role="search">
    {# Match input with its label — prevents duplicate IDs #}
    <label class="usa-sr-only" for="{{ search_attrs.input_modifier }}">
      {{ text }}
    </label>
    <input class="usa-input" id="{{ search_attrs.input_modifier }}" type="search" name="search">
    <button class="usa-button" type="submit">
      {% if modifier !== 'usa-search--small' %}
        <span class="usa-search__submit-text">{{ text }}</span>
      {% endif %}
      <img
          src="{{ uswds.path }}/img/usa-icons-bg/search--white.svg"
          class="usa-search__submit-icon"
          alt="{{ text }}"
      >
    </button>
  </form>
{% if not search_header %}
  </section>
{% endif %}
