<div role="search" class="usa-search usa-search-small">
  <form class="{% if search_js %} js-search-form{% endif %}">
    <label class="usa-sr-only" for="search-field-small">Search small</label>
    <input id="search-field-small" type="search" name="search">
    <button type="submit">
      <span class="usa-sr-only">Search</span>
    </button>
  </form>
</div>
