<form class="usa-search usa-search-small {% if search_js %} js-search-form{% endif %}">
  <div role="search">
    <label class="usa-sr-only" for="{{ id_prefix }}search-field-small">Search small</label>
    <input id="{{ id_prefix }}search-field-small" type="search" name="search">
    <button type="submit">
      <span class="usa-sr-only">Search</span>
    </button>
  </form>
</div>
