/*
----------------------------------------
ALIGN-ITEMS
----------------------------------------
usage:
  .ai-[key]
----------------------------------------
output:
  align-items: [value];
----------------------------------------
example:
  .ai-flex-start {
    align-items: flex-start; }
----------------------------------------
*/

$align-items: (
  align-items: (
    base: 'ai',
    modifiers: null,
    values: map-collect(
      $align-items-preset-values,
      $align-items-manual-values
    ),
    settings: $align-items-settings,
    property: 'align-items',
  )
);
