/*
----------------------------------------
ALIGN-items
----------------------------------------
usage:
  .align-[key]
----------------------------------------
output:
  align-items: [value];
----------------------------------------
example:
  .align-flex-start {
    align-items: flex-start; }
----------------------------------------
*/

$align-items: (
  align-items: (
    base: 'align',
    modifiers: null,
    values: map-collect(
      $align-items-presets,
      $align-items-values
    ),
    settings: $align-items-settings,
    property: 'align-items',
  )
);
