/*
========================================
background-color
----------------------------------------
usage:
  .background-color-[key]
----------------------------------------
output:
  background-color: [value];
----------------------------------------
example:
  .background-color-red-50v {
    background-color: #be4900; }
----------------------------------------
*/

@function get-plugins($list){
  $our-plugins:();
  @each $plugin in $list {
    @if not map-has-key($plugins-palettes, #{$plugin}){
      @error "#{$plugin} is not a valid plugin.";
    }
    @else {
      $our-plugins: map-merge(
        $our-plugins,
        map-get($plugins-palettes, #{$plugin})
      );
    }
  }
  @return $our-plugins;
};

$background-color: (
  background-color: (
    base: 'background-color',
    modifiers: null,
    property: 'background-color',
    values: map-collect(
      get-plugins($background-color-plugins),
      $background-color-manual-values
    ),
    settings: $background-color-settings,
  )
)
