/*
----------------------------------------
Border Width
----------------------------------------
usage:
  .bor-[modifier]*-[key]
----------------------------------------
output:
  border-[modifier]: [value];
----------------------------------------
example:
  .bor-t-1px {
    border-top: 1px; }

  .bor-0 {
    border: none; }
----------------------------------------
*/

$border: (
  border: (
    base: 'bor',
    modifiers: (
      t: '-top',
      r: '-right',
      b: '-bottom',
      l: '-left',
      y: ('-top', '-bottom'),
      x: ('-left', '-right'),
      noModifier: '',
    ),
    values: map-collect(
      $border-group-values,
      $border-values
    ),
    valueAppend: ' solid',
    settings: $border-settings,
    property: 'border',
  )
)
