/*
========================================
border
----------------------------------------
Also applies `solid`
Needs to come before other border utils
----------------------------------------
usage:
  .border-[modifier]*-[key]
----------------------------------------
output:
  border-[modifier]: [value];
----------------------------------------
example:
  .border-t-1px {
    border-top-width: 1px;
    border-style: solid; }

  .border-0 {
    border: none; }
----------------------------------------
*/

$u-border: (
  border: (
    base: 'border',
    modifiers: (
      noModifier: '-width',
      'y': ('-top-width', '-bottom-width'),
      'x': ('-left-width', '-right-width'),
      'top': '-top-width',
      'right': '-right-width',
      'bottom': '-bottom-width',
      'left': '-left-width',
    ),
    values: map-collect(
      get-plugins($border-plugins),
      $border-manual-values
    ),
    extend: (
      'border-style': 'solid',
    ),
    settings: $border-settings,
    property: 'border',
    type: 'utility',
  )
)
