/*
========================================
border-width
----------------------------------------
Also applies `solid`
Needs to come before other border utils
----------------------------------------
usage:
  .border-width-[modifier]*-[key]
----------------------------------------
output:
  border-[modifier]: [value];
----------------------------------------
example:
  .border-width-t-1px {
    border-top: 1px solid; }

  .border-width-0 {
    border: none; }
----------------------------------------
*/

$border: (
  border: (
    base: 'border',
    modifiers: (
      'top': '-top',
      'right': '-right',
      'bottom': '-bottom',
      'left': '-left',
      y: ('-top', '-bottom'),
      x: ('-left', '-right'),
      noModifier: '',
    ),
    values: map-collect(
      $border-preset-values,
      $border-manual-values
    ),
    valueAppend: ' solid',
    settings: $border-settings,
    property: 'border',
  )
)
