/*
========================================
border-style
----------------------------------------
usage:
  .border-style[-modifier]*-[key]
----------------------------------------
output:
  border[-modifier]-style: [value];
----------------------------------------
example:
  .border-style-dotted {
    border-style: dotted; }
----------------------------------------
*/

$border-style: (
  border-style: (
    base: 'border',
    modifiers: (
      'top-style': '-top-style',
      'right-style': '-left-style',
      'bottom-style': '-bottom-style',
      'left-style': '-left-style',
      'y-style': ('-top-style', '-bottom-style'),
      'x-style': ('-left-style', '-right-style'),
      'style': '-style',
    ),
    values: map-collect(
      $border-style-preset-values,
      $border-style-manual-values
    ),
    settings: $border-style-settings,
    property: 'border',
  )
)
