/*
========================================
background-color
----------------------------------------
usage:
  .border-color-[color]
----------------------------------------
output:
  border[-modifier]*[-color]: [color];
----------------------------------------
example:
  .border-color-red {
    border-color: #be4900; }

  .border-color-x-red {
    border-left-color: #be4900;
    border-right-color: #be4900; }
----------------------------------------
*/

$border-color: (
  border-color: (
    property: 'border',
    base: 'border',
    modifiers: (
      'top-color': '-top-color',
      'right-color': '-left-color',
      'bottom-color': '-bottom-color',
      'left-color': '-left-color',
      'y-color': ('-top-color', '-bottom-color'),
      'x-color': ('-left-color', '-right-color'),
      color: '-color',
    ),
    values: map-collect(
      $border-color-preset-values,
      $border-color-manual-values
    ),
    settings: $border-color-settings,
  )
)
