/*
----------------------------------------
COLOR
----------------------------------------
usage:
  .c-[key]
----------------------------------------
output:
  color: [value];
----------------------------------------
example:
  .c-black-100 {
    color: #000; }
----------------------------------------
*/

$color: (
  color: (
    base: 'c',
    modifiers: null,
    values: map-collect(
      $color-preset-values,
      $color-manual-values
    ),
    settings: $color-settings,
    property: 'color',
  )
)
