/*
========================================
color
----------------------------------------
usage:
  .color-[key]
----------------------------------------
output:
  color: [value];
----------------------------------------
example:
  .color-black-100 {
    color: #000; }
----------------------------------------
*/

$color: (
  color: (
    base: 'color',
    modifiers: null,
    values: map-collect(
      $required-colors,
      get-plugins($color-plugins),
      $color-manual-values
    ),
    settings: $color-settings,
    property: 'color',
  )
)
