/*
========================================
column
----------------------------------------
usage:
  .column
----------------------------------------
output:
  display: flex;
  flex-direction: column;
----------------------------------------
example:
  .column {
    display: flex;
    flex-direction: column; }
----------------------------------------
*/

$column: (
  column: (
    base: null,
    modifiers: null,
    values: (
      row: (
        slug: 'column',
        isReadable: true,
        content: 'flex',
        extend: (
          'flex-direction': 'column',
        ),
      ),
    ),
    property: 'display',
    settings: $column-settings,
  )
);
