/*
========================================
display
----------------------------------------
usage:
  .[key]
----------------------------------------
output:
  display: [value]
----------------------------------------
example:
  .hidden {
    display: none; }
----------------------------------------
*/

$display: (
  display: (
    base: null,
    modifiers: null,
    values: map-collect(
      get-plugins($display-plugins),
      $display-manual-values
    ),
    settings: $display-settings,
    property: 'display',
    type: 'utility',
  )
)
