/*
----------------------------------------
Display
----------------------------------------
usage:
  .dis-[key]
----------------------------------------
output:
  display: [value]
----------------------------------------
example:
  .dis-hide {
    display: none; }
----------------------------------------
*/

$display: (
  display: (
    base: 'dis',
    modifiers: null,
    values: map-collect(
      $display-presets,
      $display-values
    ),
    settings: $display-settings,
    property: 'display',
  )
)
