/*
========================================
float
----------------------------------------
usage:
  .float-[value]
----------------------------------------
output:
  float: [value];
----------------------------------------
example:
  .float-left {
    float: left; }
----------------------------------------
*/

$float: (
  float: (
    base: 'float',
    modifiers: null,
    values: map-collect(
      $float-preset-values,
      $float-manual-values
    ),
    settings: $float-settings,
    property: 'float',
  )
)
