/*
========================================
font-weight
----------------------------------------
usage:
  .font-[key]
----------------------------------------
output:
  font-weight: [value];
----------------------------------------
example:
  .font-300 {
    font-weight: 300; }
----------------------------------------
*/

$font-weight: (
  font-weight: (
    base: 'font',
    modifiers: null,
    values: map-collect(
      get-plugins($font-weight-plugins),
      $font-weight-manual-values
    ),
    settings: $font-weight-settings,
    property: 'font-weight',
    type: 'utility',
  )
)
