/*
----------------------------------------
Font Family
----------------------------------------
usage:
  .font-[key]
----------------------------------------
output:
  font-family: [value]
----------------------------------------
example:
  .font-sans {
    font-family: 'United Sans webfont',
                system,
                -apple-system,
                BlinkMacSystemFont,
                'Roboto',
                'Helvetica Neue',
                'Helvetica',
                'Arial',
                sans-serif; }
----------------------------------------
*/

$font-family: (
  font-family: (
    base: 'font',
    modifiers: null,
    values: map-collect(
      $font-family-preset-values,
      $font-family-manual-values
    ),
    settings: $font-family-settings,
    property: 'font-family',
  )
)
