/*
----------------------------------------
Font Feature Settings
----------------------------------------
usage:
  .feat-[key]
----------------------------------------
output:
  font-feature-settings: [value];
----------------------------------------
example:
  .feat-alt {
    font-feature-settings:
      'ss01' 1, 'kern' 1; }
----------------------------------------
*/

$font-feature: (
  font-feature: (
    base: 'feat',
    modifiers: null,
    values: map-collect(
      $font-feature-preset-values,
      $font-feature-manual-values
    ),
    settings: $font-feature-settings,
    property: 'font-feature-settings',
  )
)
