/*
========================================
font-family
----------------------------------------
usage:
  .[key]
----------------------------------------
output:
  font-family: [value]
----------------------------------------
example:
  .sans {
    font-family: 'United Sans webfont',
                system,
                -apple-system,
                BlinkMacSystemFont,
                'Roboto',
                'Helvetica Neue',
                'Helvetica',
                'Arial',
                sans-serif; }
----------------------------------------
*/

$font-family: (
  font-family: (
    base: null,
    modifiers: null,
    values: map-collect(
      get-plugins($font-family-plugins),
      $font-family-manual-values
    ),
    settings: $font-family-settings,
    property: 'font-family',
  )
)
