/*
========================================
font-style
----------------------------------------
usage:
  .fs-italic
----------------------------------------
output:
  font-style: italic;
----------------------------------------
example:
  .fs-italic {
    font-style: italic; }
  .fs-normal {
    font-style: normal; }
----------------------------------------
*/

$font-style: (
  font-style: (
    base: 'fs',
    modifiers: null,
    values: map-collect(
      $font-style-preset-values,
      $font-style-manual-values
    ),
    settings: $font-style-settings,
    property: 'font-style',
  )
)
