/*
----------------------------------------
Line Height
----------------------------------------
usage:
  .line-[value]
----------------------------------------
output:
  line-height: [value];
----------------------------------------
example:
  .line-2 {
    line-height: 1.15; }
----------------------------------------
*/

$line-height: (
  line-height: (
    base: 'line',
    modifiers: null,
    values: map-collect(
      $line-height-presets,
      $line-height-values
    ),
    settings: $line-height-settings,
    property: 'line-height',
  )
)
