/*
========================================
MANUAL POSITION
----------------------------------------
properties:
  top
  bottom
  left
  right
----------------------------------------
usage:
  .t-[key]
  .b-[key]
  .l-[key]
  .r-[key]
----------------------------------------
output:
  [option]: [value];
----------------------------------------
example:
  .b-n2px {
    bottom: -2px; }
----------------------------------------
*/

$manual-position: (
  manual-position: (
    base: null,
    modifiers: (
      top: 't',
      bot: 't',
      left: 'l',
      right: 'r',
    ),
    values: map-collect(
      $manual-position-preset-values,
      $manual-position-manual-values
    ),
    settings: $manual-position-settings,
    property: '',
  )
)
