/*
========================================
MANUAL POSITION
----------------------------------------
properties:
  top
  bottom
  left
  right
----------------------------------------
usage:
  .top-[key]
  .bottom-[key]
  .left-[key]
  .right-[key]
----------------------------------------
output:
  [option]: [value];
----------------------------------------
example:
  .bottom-n2px {
    bottom: -2px; }
----------------------------------------
*/

$manual-position: (
  manual-position: (
    base: null,
    modifiers: (
      top: 'top',
      bot: 'bottom',
      left: 'left',
      right: 'right',
    ),
    values: map-collect(
      $manual-position-preset-values,
      $manual-position-manual-values
    ),
    settings: $manual-position-settings,
    property: '',
  )
)
