/*
========================================
margin
----------------------------------------
usage:
  .margin-[modifier]*-[key]
----------------------------------------
output:
  margin: [value]
----------------------------------------
example:
  .margin-x-auto {
    margin-left: auto;
    margin-right: auto; }

  .margin-g105 {
    margin: .75rem; }
----------------------------------------
*/

$margin: (
  margin: (
    base: 'margin',
    modifiers: (
      'top': '-top',
      'right': '-right',
      'bottom': '-bottom',
      'left': '-left',
      y: ('-top', '-bottom'),
      x: ('-left', '-right'),
      noModifier: '',
    ),
    values: map-collect(
      get-plugins($margin-plugins),
      $margin-manual-values
    ),
    settings: $margin-settings,
    property: 'margin',
  )
)
