/*
========================================
margin
----------------------------------------
usage:
  .m-[modifier]*-[key]
----------------------------------------
output:
  margin: [value]
----------------------------------------
example:
  .m-x-auto {
    margin-left: auto;
    margin-right: auto; }

  .m-g105 {
    margin: .75rem; }
----------------------------------------
*/

$margin: (
  margin: (
    base: 'm',
    modifiers: (
      t: '-top',
      r: '-right',
      b: '-bottom',
      l: '-left',
      y: ('-top', '-bottom'),
      x: ('-left', '-right'),
      noModifier: '',
    ),
    values: map-collect(
      $margin-preset-values,
      $margin-manual-values
    ),
    settings: $margin-settings,
    property: 'margin',
  )
)
