/*
----------------------------------------
Max Height
----------------------------------------
usage:
  .maxh-[key]
----------------------------------------
output:
  max-height: [value];
----------------------------------------
example:
  .maxh-g40 {
    max-height: 320px; }
----------------------------------------
*/

$max-height: (
  max-height: (
    base: 'maxh',
    modifiers: null,
    values: map-collect(
      $max-height-preset-values,
      $max-height-manual-values
    ),
    settings: $max-height-settings,
    property: 'max-height',
  )
)
