/*
----------------------------------------
Min Width
----------------------------------------
usage:
  .minw-[key]
----------------------------------------
output:
  min-width: [value];
----------------------------------------
example:
  .minw-g40 {
    min-width: 320px; }
----------------------------------------
*/

$min-width: (
  min-width: (
    base: 'minw',
    modifiers: null,
    values: map-collect(
      $min-width-preset-values,
      $min-width-manual-values
    ),
    settings: $min-width-settings,
    property: 'min-width',
  )
)
