/*
----------------------------------------
Min Height
----------------------------------------
usage:
  .minh-[key]
----------------------------------------
output:
  min-height: [value];
----------------------------------------
example:
  .minh-g40 {
    min-height: 320px; }
----------------------------------------
*/

$min-height: (
  min-height: (
    base: 'minh',
    modifiers: null,
    values: map-collect(
      $min-height-group-values,
      $min-height-values
    ),
    settings: $min-height-settings,
    property: 'min-height',
  )
)
