/*
----------------------------------------
OPAcity
----------------------------------------
usage:
  .opa-[key]
----------------------------------------
output:
  opacity: [value];
----------------------------------------
example:
  .opa-0 {
    opacity: 0; }
----------------------------------------
*/

$opacity: (
  opacity: (
    base: ('opa'),
    modifiers: null,
    values: map-collect(
      $opacity-preset-values,
      $opacity-manual-values
    ),
    settings: $opacity-settings,
    property: 'opacity',
  )
)
