/*
----------------------------------------
Order
----------------------------------------
usage:
  .order-[key]
----------------------------------------
output:
  order: [value]
----------------------------------------
example:
  .order-first {
    order: -1; }

  .order-2 {
    order: 2; }
----------------------------------------
*/

$order: (
  order: (
    base: 'order',
    modifiers: null,
    values: map-collect(
      $order-presets,
      $order-values
    ),
    settings: $order-settings,
    property: 'order',
  )
)
