/*
========================================
outline-color
----------------------------------------
usage:
  .oc-[key]
----------------------------------------
output:
  outline-color: [value];
----------------------------------------
example:
  .oc-yellow-50 {
    outline-color: #91721f; }
----------------------------------------
*/

$outline-2-color: (
  outline-2-color: (
    base: 'oc',
    modifiers: null,
    values: map-collect(
      $outline-2-color-preset-values,
      $outline-2-color-manual-values
    ),
    settings: $outline-2-color-settings,
    valuePrepend: null,
    valueAppend: null,
    property: 'outline-color',
  )
)
