/*
========================================
position
----------------------------------------
usage:
  .p-[keye]
----------------------------------------
output:
  position: [value];
----------------------------------------
example:
  .p-absolute {
    position: absolute; }
----------------------------------------
*/

$position: (
  position: (
    base: 'p',
    modifiers: null,
    values: map-collect(
      $position-preset-values,
      $position-manual-values
    ),
    settings: $position-settings,
    property: 'position',
  )
)
