/*
========================================
position
----------------------------------------
usage:
  .position-[keye]
----------------------------------------
output:
  position: [value];
----------------------------------------
example:
  .position-absolute {
    position: absolute; }
----------------------------------------
*/

$position: (
  position: (
    base: 'position',
    modifiers: null,
    values: map-collect(
      get-plugins($position-plugins),
      $position-manual-values
    ),
    settings: $position-settings,
    property: 'position',
  )
)
