/*
========================================
ROW
----------------------------------------
usage:
  .row
----------------------------------------
output:
  display: flex;
  flex-direction: row;
----------------------------------------
example:
  .row {
    display: flex;
    flex-direction: row; }
----------------------------------------
*/

$row: (
  row: (
    base: null,
    modifiers: null,
    values: (
      row: (
        slug: 'row',
        isReadable: true,
        content: 'flex',
        extend: (
          'flex-direction': 'row',
        ),
      ),
    ),
    settings: $row-settings,
    property: 'display',
  )
);
