/*
========================================
SQUARE
----------------------------------------
usage:
  .square-[key]
----------------------------------------
output:
  height: [value];
  width: [value];
----------------------------------------
example:
  .square-g6 {
    height: 3rem;
    width: 3rem; }
----------------------------------------
*/

$square: (
  square: (
    base: null,
    modifiers: (
      square: (height, width),
    ),
    values: map-collect(
      $square-preset-values,
      $square-manual-values
    ),
    settings: $square-settings,
    property: '',
  )
)
