/*
========================================
text-align
----------------------------------------
usage:
  .ta-[key]
----------------------------------------
output:
  align: [value];
----------------------------------------
example:
  .ta-left {
    align: left; }
----------------------------------------
*/

$text-align: (
  text-align: (
    base: 'ta',
    modifiers: null,
    values: map-collect(
      $text-align-preset-values,
      $text-align-manual-values
    ),
    settings: $text-align-settings,
    property: 'text-align',
  )
)
