/*
========================================
text-transform
----------------------------------------
usage:
  .tt-[value]
----------------------------------------
output:
  text-transform: value;
----------------------------------------
example:
  .tt-uppercase {
    text-transform: uppercase; }
----------------------------------------
*/

$text-transform: (
  text-transform: (
    base: 'tt',
    modifiers: null,
    values: map-collect(
      $text-transform-preset-values,
      $text-transform-manual-values
    ),
    settings: $text-transform-settings,
    property: 'text-transform',
  )
)
