/*
========================================
vertical-align
----------------------------------------
usage:
  .vertical-align-[value]
----------------------------------------
output:
  vertical-align: [value]
----------------------------------------
example:
  .vertical-align-top {
    vertical-align: top; }
----------------------------------------
*/

$vertical-align: (
  vertical-align: (
    base: 'vertical-align',
    modifiers: null,
    values: map-collect(
      $vertical-align-preset-values,
      $vertical-align-manual-values
    ),
    settings: $vertical-align-settings,
    property: 'vertical-align',
  )
)
