/*
========================================
whitespace
----------------------------------------
usage:
  whitespace-[key]
----------------------------------------
output:
  whitespace: [value];
----------------------------------------
example:
  .whitespace-pre-wrap {
    whitespace: pre-wrap; }
----------------------------------------
*/

$whitespace: (
  whitespace: (
    base: 'whitespace',
    modifiers: null,
    values: map-collect(
      $whitespace-preset-values,
      $whitespace-manual-values
    ),
    settings: $whitespace-settings,
    property: 'white-space',
  )
)
