/*
========================================
width
----------------------------------------
usage:
  .w-[key]
----------------------------------------
output:
  width: [value];
----------------------------------------
example:
  .w-75ct {
    width: 75%; }
----------------------------------------
*/

$width: (
  width: (
    base: 'w',
    modifiers: null,
    values: map-collect(
      $width-preset-values,
      $width-manual-values
    ),
    settings: $width-settings,
    property: 'width',
  )
)
