/*
========================================
z-index
----------------------------------------
usage:
  z-index-[key]
----------------------------------------
output:
  z-index: [value];
----------------------------------------
example:
  .z-index-100 {
    z-index: 100; }
  .z-index-top {
    z-index: 9999; }
----------------------------------------
*/

$z-index: (
  z-index: (
    base: 'z-index',
    modifiers: null,
    values: map-collect(
      get-plugins($z-index-plugins),
      $z-index-manual-values
    ),
    settings: $z-index-settings,
    property: 'z-index',
  )
)
