<form class="usa-form">
  <label class="usa-label" for="example-input-suffix">Weight, in pounds</label>
  <div class="usa-input-group usa-input-group--sm">
    <input type="text" id="example-input-suffix" class="usa-input" pattern="[0-9]*" inputmode="numeric">
    <div class="usa-input-suffix" aria-hidden="true">
      lbs.
    </div>
  </div>
</form>
