<div class="grid-row padding-8">
  <div class="mobile-lg:grid-col-12 margin-top-4 mobile-lg:margin-top-0">
    <h2 class="margin-x-0 margin-y-2">Latest News</h2>
    <ul class="usa-list usa-list--unstyled">
      <li class="usa-media-block margin-y-1">
        <img class="usa-media-block__img"  src="https://loremflickr.com/75/75" alt="Alt text">
        <div class="usa-media-block__body">
          <h3 class="margin-top-0 margin-bottom-05"><a href="https://www.youtube.com/v/123123">Microsoft, why is there an abyss in the middle of Brazil?</a></h3>
          <p class="margin-0">
            <time datetime="2020-09-28T18:07:35+01:00">
              28 September 2020
            </time>
          </p>
      </li>
      <li class="usa-media-block margin-y-1">
        <img class="usa-media-block__img"  src="https://placekitten.com/75/75" alt="Alt text">
        <div class="usa-media-block__body">
          <h3 class="margin-top-0 margin-bottom-05"><a href="https://www.youtube.com/v/sasdasdas">'Borat' returns to America in new trailer</a></h3>
          <p class="margin-0">
            <time datetime="2020-09-28T18:07:35+01:00">
              27 September 2020
            </time>
          </p>
      </li>
      <li class="usa-media-block margin-y-1">
        <img class="usa-media-block__img"  src="https://www.placecage.com/75/75" alt="Alt text">
        <div class="usa-media-block__body">
          <h3 class="margin-top-0 margin-bottom-05"><a href="https://www.youtube.com/v/1231231">Gremlin reveals identity on 'The Masked Singer'</a></h3>
          <p class="margin-0">
            <time datetime="2020-09-28T18:07:35+01:00">
              26 September 2020
            </time>
          </p>
      </li>
      <li class="usa-media-block margin-y-1">
        <img class="usa-media-block__img"  src="https://placebeard.it/75/75" alt="Alt text">
        <div class="usa-media-block__body">
          <h3 class="margin-top-0 margin-bottom-05"><a href="https://www.youtube.com/v/1231231">More frosty nights possible through the weekend </a></h3>
          <p class="margin-0">
            <time datetime="2020-09-28T18:07:35+01:00">
              26 September 2020
            </time>
          </p>
      </li>
    </ul>
  </div>
</div>
