<form class="usa-form">
  <fieldset class="usa-fieldset">
    <legend class="usa-legend usa-legend--large"></legend>
    <label class="usa-label" for=""></label>
    <input
      class="usa-input"
      id=""
      name=""
      type=""
      autocapitalize="off"
      autocorrect="off"
      required
    />
    <label class="usa-label" for=""></label>
    <input class="usa-input" id="" name="password" type="password" required />
    <p class="usa-form__note">
      <a
        title=""
        href=""
        class="usa-show-password"
        aria-controls=""
        data-show-text=""
        data-hide-text=""
      ></a>
    </p>
    <input class="usa-button" type="submit" value="" />
    <p><a href="" title=""></a></p>
  </fieldset>
</form>
