<body>
  <a class="usa-skipnav" href="">Skip to main content</a>
  <section class="usa-banner" aria-label="">
    <div class="usa-accordion">
      <header class="usa-banner__header">
        <div class="usa-banner__inner">
          <div class="grid-col-auto">
            <img class="usa-banner__header-flag" src="" alt="U.S. flag" />
          </div>
          <div class="grid-col-fill tablet:grid-col-auto">
            <p class="usa-banner__header-text"></p>
            <p class="usa-banner__header-action" aria-hidden="true"></p>
          </div>
          <button
            class="usa-accordion__button usa-banner__button"
            aria-expanded="false"
            aria-controls=""
          >
            <span class="usa-banner__button-text"></span>
          </button>
        </div>
      </header>
      <div class="usa-banner__content usa-accordion__content" id="">
        <div class="grid-row grid-gap-lg">
          <div class="usa-banner__guidance tablet:grid-col-6">
            <img
              class="usa-banner__icon usa-media-block__img"
              src=""
              role="img"
              alt=""
              aria-hidden="true"
            />
            <div class="usa-media-block__body">
              <p><strong></strong><br /></p>
            </div>
          </div>
          <div class="usa-banner__guidance tablet:grid-col-6">
            <img
              class="usa-banner__icon usa-media-block__img"
              src=""
              role="img"
              alt=""
              aria-hidden="true"
            />
            <div class="usa-media-block__body">
              <p>
                <strong></strong><br />(
                <span class="icon-lock"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="52"
                    height="64"
                    viewBox="0 0 52 64"
                    class="usa-banner__lock-image"
                    role="img"
                    aria-labelledby="banner-lock-title banner-lock-description"
                    focusable="false"
                  >
                    <title id="banner-lock-title">Lock</title>
                    <desc id="banner-lock-description">A locked padlock</desc>
                    <path
                      fill="#000000"
                      fill-rule="evenodd"
                      d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"
                    />
                  </svg> </span
                >)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="usa-overlay"></div>
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo" id="logo">
          <em class="usa-logo__text"
            ><a href="/" title="Home" aria-label="Home"
              ><project title></project></a
          ></em>
        </div>
      </div>
    </div>
  </header>
  <main id="main-content">
    <div class="bg-base-lightest">
      <section class="grid-container usa-section">
        <div class="grid-row flex-justify-center">
          <div class="grid-col-12 tablet:grid-col-8 desktop:grid-col-6">
            <div
              class="
                bg-white
                padding-y-3 padding-x-5
                border border-base-lighter
              "
            >
              <h1 class="margin-bottom-0"></h1>
              <form class="usa-form">
                <fieldset class="usa-fieldset">
                  <legend class="usa-legend usa-legend--large"></legend>
                  <label class="usa-label" for=""></label>
                  <input
                    class="usa-input"
                    id=""
                    name=""
                    type=""
                    autocapitalize="off"
                    autocorrect="off"
                    required
                  />
                  <label class="usa-label" for=""></label>
                  <input
                    class="usa-input"
                    id=""
                    name="password"
                    type="password"
                    required
                  />
                  <p class="usa-form__note">
                    <a
                      title=""
                      href=""
                      class="usa-show-password"
                      aria-controls=""
                      data-show-text=""
                      data-hide-text=""
                    ></a>
                  </p>
                  <input class="usa-button" type="submit" value="" />
                  <p><a href="" title=""></a></p>
                </fieldset>
              </form>
            </div>
            <p class="text-center">
              <a class="usa-link" href="javascript:void(0);"></a>.
            </p>
            <div
              class="border-top border-base-lighter margin-top-3 padding-top-1"
            >
              <h2></h2>
              <div class="usa-prose">
                <p></p>
                <p><a class="usa-button usa-button--outline" href=""></a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer class="usa-footer">
    <div class="grid-container usa-footer__return-to-top">
      <a href="#">Return to top</a>
    </div>
    <div class="usa-footer__primary-section">
      <nav class="usa-footer__nav" aria-label="Footer navigation">
        <ul class="grid-row grid-gap"></ul>
      </nav>
    </div>
    <div class="usa-footer__secondary-section">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div
            class="
              usa-footer__logo
              grid-row
              mobile-lg:grid-col-6 mobile-lg:grid-gap-2
            "
          >
            <div class="mobile-lg:grid-col-auto">
              <img class="usa-footer__logo-img" src="/logo-img.png" alt="" />
            </div>
            <div class="mobile-lg:grid-col-auto">
              <p class="usa-footer__logo-heading"></p>
            </div>
          </div>
          <div class="usa-footer__contact-links mobile-lg:grid-col-6">
            <div class="usa-footer__social-links grid-row grid-gap-1">
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--facebook"
                  href="javascript:void(0);"
                  ><span>Facebook</span></a
                >
              </div>
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--twitter"
                  href="javascript:void(0);"
                  ><span>Twitter</span></a
                >
              </div>
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--youtube"
                  href="javascript:void(0);"
                  ><span>YouTube</span></a
                >
              </div>
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--instagram"
                  href="javascript:void(0);"
                  ><span>Instagram</span></a
                >
              </div>
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--rss"
                  href="javascript:void(0);"
                  ><span>RSS</span></a
                >
              </div>
            </div>
            <h3 class="usa-footer__contact-heading"></h3>
            <address class="usa-footer__address">
              <div class="usa-footer__contact-info grid-row grid-gap">
                <div class="grid-col-auto"></div>
                <div class="grid-col-auto">
                  <a href="mailto:info@agency.gov"></a>
                </div>
              </div>
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="usa-identifier">
    <section
      class="usa-identifier__section usa-identifier__section--masthead"
      aria-label=""
    >
      <div class="usa-identifier__container">
        <div class="usa-identifier__identity" aria-label="">
          <p class="usa-identifier__identity-domain"></p>
          <p class="usa-identifier__identity-disclaimer"><a href=""></a></p>
        </div>
      </div>
    </section>
    <nav
      class="usa-identifier__section usa-identifier__section--required-links"
      aria-label=""
    >
      <div class="usa-identifier__container">
        <ul class="usa-identifier__required-links-list"></ul>
      </div>
    </nav>
  </div>
</body>
