$radio-icon: (
  "name": "usa-icons/radio_button_unchecked",
  "svg-height": 40,
  "svg-width": 40,
  "height": 4,
  "color": "ink",
  "color-variant": "white",
);

$radio-icon-checked: map-merge(
  $radio-icon,
  (
    "name": "usa-icons/radio_button_checked",
    "color": "primary",
  )
);

$checkbox-icon: map-merge(
  $radio-icon,
  (
    "name": "usa-icons/check_box_outline_blank",
  )
);

$checkbox-icon-checked: map-merge(
  $checkbox-icon,
  (
    "name": "usa-icons/check_box",
    "color": "primary",
  )
);

@include override-prose {
  .usa-input-list {
    @include add-list-reset;

    li {
      line-height: line-height(
        $theme-form-font-family,
        $theme-input-line-height
      );
    }
  }
}

.usa-checkbox__input,
.usa-checkbox__input,
.usa-radio__input {
  // The actual input element is only visible to screen readers, because
  // all visual styling is done via the label.
  @include sr-only();

  .lt-ie9 & {
    border: 0;
    float: left;
    margin: units(0.5) units(0.5) 0 0;
    position: static;
    width: auto;
  }
}

.usa-checkbox__label,
.usa-radio__label {
  cursor: pointer;
  display: inherit;
  font-weight: font-weight("normal");
  margin-top: units(0.5);
  position: relative;
}

.usa-checkbox__label {
  @include place-icon($checkbox-icon, "before", 1, "middle", "white");
  display: flex;
  align-items: center;
}

.usa-radio__label {
  @include place-icon($radio-icon, "before", 1, "middle", "white");
  display: flex;
  align-items: center;
}

.usa-checkbox__input:checked + .usa-checkbox__label {
  @include place-icon($checkbox-icon-checked, "before", 1, "middle", "white");
}

.usa-radio__input:checked + .usa-radio__label {
  @include place-icon($radio-icon-checked, "before", 1, "middle", "white");
}

.usa-radio__input:focus + .usa-radio__label::before {
  @include focus-outline(null, null, null, 0.5);
}

.usa-checkbox__input:disabled + .usa-checkbox__label,
.usa-radio__input:disabled + .usa-radio__label {
  color: color("disabled");
  cursor: not-allowed;
}

.usa-checkbox__input:focus + .usa-checkbox__label::before {
  @include focus-outline;
}

.usa-checkbox__input:disabled + .usa-checkbox__label::before,
.usa-radio__input:disabled + .usa-radio__label::before {
  background-color: color("disabled-light");
  cursor: not-allowed;
}

// Checkboxes and radios with tap-friendly targets
.usa-checkbox__input--tile + .usa-checkbox__label,
.usa-radio__input--tile + .usa-radio__label {
  border: units($theme-input-tile-border-width) solid
    color($theme-input-tile-border-color);
  border-radius: radius($theme-input-tile-border-radius);
  margin: units(1) 0;
  padding: units(1.5) units(2) units(1.5) units(5);
}

.usa-checkbox__input--tile:checked + .usa-checkbox__label,
.usa-radio__input--tile:checked + .usa-radio__label {
  background-color: color($theme-input-tile-background-color-selected);
  border-color: color($theme-input-tile-border-color-selected);
}

.usa-checkbox__label-description,
.usa-radio__label-description {
  display: block;
  font-size: size("ui", "2xs");
  margin-top: units(1);
  text-indent: 0;
}
