$input-text-color: get-color-token-from-bg($theme-input-background-color);
$input-bg-color: if(
  $theme-input-background-color == "default",
  $theme-body-background-color,
  $theme-input-background-color
);
$input-active-color: nth(get-link-tokens-from-bg($theme-input-background-color), 1);
$input-disabled-alpha: -0.7;
$input-disabled-alpha--strong: -0.5;
$input-disabled-alpha--weak: -0.8;
$input-border-alpha: -0.0;
$color-input-disabled: adjust-color(color($input-text-color), $alpha: $input-disabled-alpha);
$color-input-disabled--strong: adjust-color(color($input-text-color), $alpha: $input-disabled-alpha--strong);
$color-input-disabled--weak: adjust-color(color($input-text-color), $alpha: $input-disabled-alpha--weak);

$input-darkmode: if(
  lightness(color($input-bg-color)) < 50%,
  true,
  false
);

$input-checkmark: if(
  $input-darkmode,
  "correct8-alt",
  "correct8"
);

@include override-prose {
  .usa-input-list {
    @include add-list-reset;

    li {
      line-height: line-height(
        $theme-form-font-family,
        $theme-input-line-height
      );
    }
  }
}

.usa-checkbox__input,
.usa-radio__input {
  // The actual input element is only visible to screen readers, because
  // all visual styling is done via the label.
  @include sr-only();

  .lt-ie9 & {
    border: 0;
    float: left;
    margin: units(0.5) units(0.5) 0 0;
    position: static;
    width: auto;
  }
}

.usa-checkbox__label,
.usa-radio__label {
  cursor: pointer;
  display: inherit;
  font-weight: font-weight("normal");
  margin-top: units(1.5);
  padding-left: units($input-select-margin-right + $theme-input-select-size);
  position: relative;
  text-indent: units(-$input-select-margin-right - $theme-input-select-size);
}

.usa-checkbox__label::before,
.usa-radio__label::before {
  background: color($input-bg-color);
  content: " ";
  display: inline-block;
  left: units($theme-input-select-border-width);
  position: relative;
  vertical-align: middle\0; // Target IE 11 and below to vertically center inputs
  white-space: pre;
}

.usa-checkbox__label::before {
  @include u-square($theme-input-select-size);
  border-radius: radius($theme-checkbox-border-radius);
}

.usa-radio__label::before {
  @include u-circle($theme-input-select-size);
}

.usa-checkbox__label::before,
.usa-radio__label::before {
  box-shadow: 0 0 0 units($theme-input-select-border-width) adjust-color(color($input-text-color), $alpha: $input-border-alpha);
  line-height: units($theme-input-select-size);
  margin-right: units($input-select-margin-right);
  text-indent: 0;
}

.usa-checkbox__input:checked + .usa-checkbox__label::before,
.usa-radio__input:checked + .usa-radio__label::before {
  background-color: color($input-active-color);
  box-shadow: 0 0 0 units($theme-input-select-border-width) color($input-active-color);
}

.usa-radio__input:checked + .usa-radio__label::before {
  box-shadow: 0 0 0 units($theme-input-select-border-width) color($input-active-color),
    inset 0 0 0 units($theme-input-select-border-width) color($input-bg-color);

  @media print {
    box-shadow: inset 0 0 0 units($theme-input-select-border-width)
        color("white"),
      inset 0 0 0 units(2) color("primary"),
      0 0 0 units($theme-input-select-border-width) color("primary");
  }
}

.usa-checkbox__input:checked:disabled + .usa-checkbox__label::before {
  background-color: $color-input-disabled;

  @media print {}
}

.usa-checkbox__input:checked + .usa-checkbox__label::before,
.usa-checkbox__input:checked:disabled + .usa-checkbox__label::before {
  @include add-background-svg($input-checkmark);
  background-position: center center;
  background-size: units(1.5) auto;

  @media print {
    background-image: none;
    background-color: color("white");
    content: url("#{$theme-image-path}/checkbox-check-print.svg");
    text-indent: 0;
  }
}

.usa-checkbox__input:focus + .usa-checkbox__label::before,
.usa-radio__input:focus + .usa-radio__label::before {
  @include focus-outline(null, null, null, 0.5);
}

.usa-checkbox__input:disabled + .usa-checkbox__label,
.usa-radio__input:disabled + .usa-radio__label {
  color: $color-input-disabled;
  cursor: not-allowed;
}

.usa-checkbox__input:disabled + .usa-checkbox__label::before,
.usa-radio__input:disabled + .usa-radio__label::before {
  background-color: color($input-bg-color);
  box-shadow: 0 0 0 units($theme-input-select-border-width) $color-input-disabled;
  cursor: not-allowed;
}

.usa-radio__input:checked:disabled + .usa-radio__label::before {
  background-color: $color-input-disabled--weak;
  box-shadow: 0 0 0 2px $color-input-disabled,
    inset 0 0 0 2px color($input-bg-color);
}

// Checkboxes and radios with tap-friendly targets
.usa-checkbox__input--tile + .usa-checkbox__label,
.usa-radio__input--tile + .usa-radio__label {
  background-color: color($input-bg-color);
  border: units($theme-input-tile-border-width) solid
    $color-input-disabled;
  border-radius: radius($theme-input-tile-border-radius);
  color: color($input-text-color);
  margin: units(1) 0;
  padding: units(1.5) units(2) units(1.5) units(5);
}

.usa-checkbox__input--tile:checked + .usa-checkbox__label,
.usa-radio__input--tile:checked + .usa-radio__label {
  background-color: adjust-color(color($input-active-color), $alpha: -0.9);
  border-color: color($input-active-color);
}

.usa-checkbox__input--tile:disabled:checked + .usa-checkbox__label,
.usa-radio__input--tile:disabled:checked + .usa-radio__label {
  background-color: color($input-bg-color);
  border-color: $color-input-disabled;
}

.usa-checkbox__label-description,
.usa-radio__label-description {
  display: block;
  font-size: size("ui", "2xs");
  margin-top: units(1);
  text-indent: 0;
}
