.usa-date-picker {
  position: relative;
}

.usa-date-picker__button {
  @include add-background-svg("calendar-alt-solid");
  background-position: center;
  background-size: units(4);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-top: 0.5em;
  width: 3em;
}

.usa-date-picker--initialized {
  display: flex;
}

.usa-date-picker__calendar {
  background-color: color("base-lightest");
  left: 0;
  position: absolute;
  width: 100%;
  z-index: z-index(100);

  &[tabindex]:focus {
    outline: 0;
  }

  button {
    background-color: color("base-lightest");
    border: 0;
    padding: 6px 1px;
    width: 100%;

    &:hover {
      background-color: color("base-lighter");
      color: color("ink");
      text-decoration: none;
    }
  }
}

.calendar_row {
  display: flex;
  text-align: center;
  width: 100%;
}

.calendar_cell {
  background-color: color("base-lightest");
  @include u-flex(1);
  padding: 4px;
}

.calendar_cell--center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar_cell_month_label {
  @include u-flex(4);
  padding: 4px 0;
  text-align: center;

  button {
    width: auto;
  }
}

.usa-date-picker__calendar__year-table {
  @include u-flex(1);
}

.usa-date-picker__calendar__month-picker,
.usa-date-picker__calendar__year-picker {
  padding: 20px 5px;
}


.usa-date-picker__calendar__year-picker {
  display: flex;
}

.usa-date-picker__calendar__next-year-chunk,
.usa-date-picker__calendar__previous-year-chunk,
.usa-date-picker__calendar__month-selector,
.usa-date-picker__calendar__date,
.usa-date-picker__calendar__month,
.usa-date-picker__calendar__year,
.usa-date-picker__calendar__days-of-week__day {
  background-color: color("base-lightest");
  padding: 6px 1px;
}

.usa-date-picker__calendar__date-display {
  .usa-date-picker__calendar__month-selector {
    display: inline-block;
    width: auto;
  }
}

.usa-date-picker__calendar__date--next-month,
.usa-date-picker__calendar__date--previous-month {
  color: color("gray-warm-60");
}

button.usa-date-picker__calendar__next-year-chunk,
button.usa-date-picker__calendar__previous-year-chunk {
  margin: auto;
  padding: 40px 0;
}

.usa-date-picker__calendar__year-chunk-selector {
  @include u-flex(1);
}

.usa-date-picker__calendar__year-table {
  @include u-flex(3);
}

.usa-date-picker__calendar__previous-year {
  @include add-background-svg("angle-double-left-solid");
  background-position: center;
  height: units(3);
}

.usa-date-picker__calendar__previous-year-chunk,
.usa-date-picker__calendar__previous-month {
  @include add-background-svg("angle-left-solid");
  background-position: center;
  height: units(3);
}

.usa-date-picker__calendar__next-year {
  @include add-background-svg("angle-double-right-solid");
  background-position: center;
  height: units(3);
}

.usa-date-picker__calendar__next-year-chunk,
.usa-date-picker__calendar__next-month {
  @include add-background-svg("angle-right-solid");
  background-position: center;
  height: units(3);
}