.usa-dropzone--is-initialized .usa-dropzone__target {
  border: 1px dashed color('base-light');
  display: block;
  font-size: size('body', '2xs');
  margin-top: units(1);
  padding: units(4) units(2) 0;
  position: relative;
  text-align:center;
  width: 100%;

  &:hover {
    border-color: color('base');
  }
}

.usa-dropzone__choose {
  @include typeset-link;
}

.usa-dropzone__instructions {
  display: none;
}

.usa-dropzone--is-initialized .usa-dropzone__label-text {
  position: absolute;
  left: -999em;
}

.usa-dropzone--is-initialized .usa-dropzone__instructions {
  display: inline-block;
  margin-bottom: units(4);
  pointer-events: none;
  position: relative;
  z-index: 3;
}

.usa-dropzone--is-initialized .usa-dropzone__box {
  background: white;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.usa-dropzone--is-initialized .usa-dropzone__input[type] {
  cursor: pointer;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  position: absolute;
  padding: units(1);
  text-indent: -999em;
  top: 0;
  width: 100%;
  z-index: 1;
}

.usa-dropzone--is-initialized .usa-dropzone__input[type]::-webkit-file-upload-button {
  display: none;
}

.usa-dropzone--drag .usa-dropzone__target {
  border-color: color('primary');
}

.usa-dropzone--drag .usa-dropzone__box {
  background-color: color('primary-lighter') !important;
}

.usa-dropzone__preview {
  align-items: center;
  background: color('base-lighter');
  display: flex;
  font-size: size('body', '3xs');
  margin: units(1px) units(-2) 0;
  padding: units(0.5);
  pointer-events: none;
  position: relative;
  z-index: 3;

  &:last-child {
    margin-bottom: units(-3);
  }
}

.usa-dropzone__preview__image {
  border: none;
  display: block;
  height: units(5);
  margin-right: units(1);
  object-fit: contain;
  width: units(5);
}

.usa-dropzone__preview__image.is-loading {
  @include add-background-svg("loader");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: units(4);
}

.usa-dropzone__preview__image--generic {
  @include add-background-svg("file");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: units(3);
}
