@use "../../core/functions" as *;
@use "../../core/mixins" as *;
@use "../../settings" as *;
@use "./global" as global;

.usa-input,
.usa-textarea {
  @extend %block-input-general;
  @extend %block-input-styles;
}

.usa-textarea {
  height: units("card");
}

.usa-input--error {
  @include u-border($theme-input-state-border-width, "error-dark");
}
