
<button class="{{ classes }}">Default</button>
{% if (category != 'disabled') and (category != 'big') %}
<button class="{{ classes }} usa-button-active">Active</button>
<button class="{{ classes }} usa-button-hover">Hover</button>
{% endif %}
