@use "sass:list";
@use "../../functions" as *;

// Outputs flex-direction

@mixin u-flex-direction($value...) {
  $value: unpack($value);
  $important: null;
  @if has-important($value) {
    $value: remove($value, "!important");
    @if list.length($value) == 1 {
      $value: de-list($value);
    }
    $important: " !important";
  }
  flex-direction: get-uswds-value("flex-direction", $value) #{$important};
}
