@forward "align-items";
@forward "align-self";
@forward "background-color";
@forward "border";
@forward "border-color";
@forward "border-width";
@forward "border-radius";
@forward "bottom";
@forward "circle";
@forward "color";
@forward "cursor";
@forward "display";
@forward "flex";
@forward "flex-direction";
@forward "float";
@forward "font";
@forward "font-weight";
@forward "height";
@forward "justify-content";
@forward "left";
@forward "line-height";
@forward "margin";
@forward "max-height";
@forward "max-width";
@forward "measure";
@forward "min-height";
@forward "min-width";
@forward "outline";
@forward "outline-color";
@forward "order";
@forward "overflow";
@forward "padding";
@forward "pin";
@forward "position";
@forward "right";
@forward "shadow";
@forward "square";
@forward "text";
@forward "text-align";
@forward "text-decoration";
@forward "text-decoration-color";
@forward "text-indent";
@forward "top";
@forward "vertical-align";
@forward "white-space";
@forward "width";
@forward "z-index";
