// Outputs line-height

@mixin u-overflow($value...) {
  $important: null;
  @if has-important($value) {
    $value: remove($value, '!important');
    $important: ' !important';
  }
  overflow: get-uswds-value(overflow, $value...) #{$important};
}
