
@mixin u-pin($value...) {
  $important: null;
  $position-absolute: append-important($value, absolute);
  $position-static: append-important($value, static);
  @if has-important($value) {
    $value: remove($value, '!important');
    $important: ' !important';
  }
  $value: nth($value, 1);
  @if $value == 'top' {
    @include u-position($position-absolute);
    top: 0#{$important};
  }
  @elseif $value == 'bottom' {
    @include u-position($position-absolute);
    bottom: 0#{$important};
  }
  @elseif $value == 'left' {
    @include u-position($position-absolute);
    left: 0#{$important};
  }
  @elseif $value == 'x' {
    @include u-position($position-absolute);
    left: 0#{$important};
    right: 0#{$important};
  }
  @elseif $value == 'y' {
    @include u-position($position-absolute);
    bottom: 0#{$important};
    top: 0#{$important};
  }
  @elseif $value == 'right' {
    @include u-position($position-absolute);
    right: 0#{$important};
  }
  @elseif $value == 'all' {
    @include u-position($position-absolute);
    bottom: 0#{$important};
    left: 0#{$important};
    right: 0#{$important};
    top: 0#{$important};
  }
  @elseif $value == 'none' {
    @include u-position($position-static);
    bottom: auto#{$important};
    left: auto#{$important};
    right: auto#{$important};
    top: auto#{$important};
  }
}
