<body>
  <a class="usa-skipnav" href="">Skip to main content</a>
  <section class="usa-banner" aria-label="">
    <div class="usa-accordion">
      <header class="usa-banner__header">
        <div class="usa-banner__inner">
          <div class="grid-col-auto">
            <img class="usa-banner__header-flag" src="" alt="U.S. flag" />
          </div>
          <div class="grid-col-fill tablet:grid-col-auto">
            <p class="usa-banner__header-text"></p>
            <p class="usa-banner__header-action" aria-hidden="true"></p>
          </div>
          <button
            class="usa-accordion__button usa-banner__button"
            aria-expanded="false"
            aria-controls=""
          >
            <span class="usa-banner__button-text"></span>
          </button>
        </div>
      </header>
      <div class="usa-banner__content usa-accordion__content" id="">
        <div class="grid-row grid-gap-lg">
          <div class="usa-banner__guidance tablet:grid-col-6">
            <img
              class="usa-banner__icon usa-media-block__img"
              src=""
              role="img"
              alt=""
              aria-hidden="true"
            />
            <div class="usa-media-block__body">
              <p><strong></strong><br /></p>
            </div>
          </div>
          <div class="usa-banner__guidance tablet:grid-col-6">
            <img
              class="usa-banner__icon usa-media-block__img"
              src=""
              role="img"
              alt=""
              aria-hidden="true"
            />
            <div class="usa-media-block__body">
              <p>
                <strong></strong><br />(
                <span class="icon-lock"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="52"
                    height="64"
                    viewBox="0 0 52 64"
                    class="usa-banner__lock-image"
                    role="img"
                    aria-labelledby="banner-lock-title banner-lock-description"
                    focusable="false"
                  >
                    <title id="banner-lock-title">Lock</title>
                    <desc id="banner-lock-description">A locked padlock</desc>
                    <path
                      fill="#000000"
                      fill-rule="evenodd"
                      d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"
                    />
                  </svg> </span
                >)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="usa-overlay"></div>
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo" id="logo">
          <em class="usa-logo__text"
            ><a href="/" title="Home" aria-label="Home"
              ><project title></project></a
          ></em>
        </div>
      </div>
    </div>
  </header>
  <main id="main-content">
    <section class="usa-hero" aria-label="Introduction">
      <div class="grid-container">
        <div class="usa-hero__callout">
          <h1 class="usa-hero__heading">
            <span class="usa-hero__heading--alt">Hero callout:</span>Bring
            attention to a project priority
          </h1>
          <p>
            Support the callout with some short explanatory text. You don’t need
            more than a couple of sentences.
          </p>
          <a class="usa-button" href="">Call to action</a>
        </div>
      </div>
    </section>
    <section class="grid-container usa-section">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-4">
          <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">
            A tagline highlights your approach
          </h2>
        </div>
        <div class="tablet:grid-col-8 usa-prose">
          <p>
            The tagline should inspire confidence and interest, focusing on the
            value that your overall approach offers to your audience. Use a
            heading typeface and keep your tagline to just a few words, and
            don’t confuse or mystify.
          </p>
          <p>
            Use the right side of the grid to explain the tagline a bit more.
            What are your goals? How do you do your work? Write in the present
            tense, and stay brief here. People who are interested can find
            details on internal pages.
          </p>
        </div>
      </div>
    </section>
    <section class="usa-graphic-list usa-section usa-section--dark">
      <div class="grid-container">
        <div class="usa-graphic-list__row grid-row grid-gap">
          <div class="usa-media-block tablet:grid-col">
            <img
              class="usa-media-block__img"
              src="/circle-124.png"
              alt="Alt text"
            />
            <div class="usa-media-block__body">
              <h2 class="usa-graphic-list__heading">
                Graphic headings can vary.
              </h2>
              <p>
                Graphic headings can be used a few different ways, depending on
                what your landing page is for. Highlight your values, specific
                program areas, or results.
              </p>
            </div>
          </div>
          <div class="usa-media-block tablet:grid-col">
            <img
              class="usa-media-block__img"
              src="/circle-124.png"
              alt="Alt text"
            />
            <div class="usa-media-block__body">
              <h2 class="usa-graphic-list__heading">
                Stick to 6 or fewer words.
              </h2>
              <p>
                Keep body text to about 30 words. They can be shorter, but try
                to be somewhat balanced across all four. It creates a clean
                appearance with good spacing.
              </p>
            </div>
          </div>
        </div>
        <div class="usa-graphic-list__row grid-row grid-gap">
          <div class="usa-media-block tablet:grid-col">
            <img
              class="usa-media-block__img"
              src="/circle-124.png"
              alt="Alt text"
            />
            <div class="usa-media-block__body">
              <h2 class="usa-graphic-list__heading">
                Never highlight anything without a goal.
              </h2>
              <p>
                For anything you want to highlight here, understand what your
                users know now, and what activity or impression you want from
                them after they see it.
              </p>
            </div>
          </div>
          <div class="usa-media-block tablet:grid-col">
            <img
              class="usa-media-block__img"
              src="/circle-124.png"
              alt="Alt text"
            />
            <div class="usa-media-block__body">
              <h2 class="usa-graphic-list__heading">Could also have 2 or 6.</h2>
              <p>
                In addition to your goal, find out your users’ goals. What do
                they want to know or do that supports your mission? Use these
                headings to show those.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="test-section-id" class="usa-section">
      <div class="grid-container">
        <h2 class="font-heading-xl margin-y-0">Section heading</h2>
        <p class="usa-intro">
          Everything up to this point should help people understand your agency
          or project: who you are, your goal or mission, and how you approach
          it. Use this section to encourage them to act. Describe why they
          should get in touch here, and use an active verb on the button below.
          “Get in touch,” “Learn more,” and so on.
        </p>
        <a class="usa-button usa-button--big" href="">Call to action</a>
      </div>
    </section>
  </main>
  <footer class="usa-footer">
    <div class="grid-container usa-footer__return-to-top">
      <a href="#">Return to top</a>
    </div>
    <div class="usa-footer__primary-section">
      <nav class="usa-footer__nav" aria-label="Footer navigation">
        <ul class="grid-row grid-gap"></ul>
      </nav>
    </div>
    <div class="usa-footer__secondary-section">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div
            class="
              usa-footer__logo
              grid-row
              mobile-lg:grid-col-6 mobile-lg:grid-gap-2
            "
          >
            <div class="mobile-lg:grid-col-auto">
              <img class="usa-footer__logo-img" src="/logo-img.png" alt="" />
            </div>
            <div class="mobile-lg:grid-col-auto">
              <p class="usa-footer__logo-heading"></p>
            </div>
          </div>
          <div class="usa-footer__contact-links mobile-lg:grid-col-6">
            <div class="usa-footer__social-links grid-row grid-gap-1">
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--facebook"
                  href="javascript:void(0);"
                  ><span>Facebook</span></a
                >
              </div>
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--twitter"
                  href="javascript:void(0);"
                  ><span>Twitter</span></a
                >
              </div>
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--youtube"
                  href="javascript:void(0);"
                  ><span>YouTube</span></a
                >
              </div>
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--instagram"
                  href="javascript:void(0);"
                  ><span>Instagram</span></a
                >
              </div>
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--rss"
                  href="javascript:void(0);"
                  ><span>RSS</span></a
                >
              </div>
            </div>
            <h3 class="usa-footer__contact-heading"></h3>
            <address class="usa-footer__address">
              <div class="usa-footer__contact-info grid-row grid-gap">
                <div class="grid-col-auto"></div>
                <div class="grid-col-auto">
                  <a href="mailto:info@agency.gov"></a>
                </div>
              </div>
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="usa-identifier">
    <section
      class="usa-identifier__section usa-identifier__section--masthead"
      aria-label=""
    >
      <div class="usa-identifier__container">
        <div class="usa-identifier__identity" aria-label="">
          <p class="usa-identifier__identity-domain"></p>
          <p class="usa-identifier__identity-disclaimer"><a href=""></a></p>
        </div>
      </div>
    </section>
    <nav
      class="usa-identifier__section usa-identifier__section--required-links"
      aria-label=""
    >
      <div class="usa-identifier__container">
        <ul class="usa-identifier__required-links-list"></ul>
      </div>
    </nav>
  </div>
</body>
