<table class="usa-table usa-table--sortable">
  <caption>Sortable table example - Various content types</caption>
  <thead>
    <tr>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" data-sortable aria-sort="descending">
        <button class="usa-table__header__button" 
          aria-label="Sortable column, sorted descending, activate to sort by Year in ascending order">
          Year
        </button>
      </th>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" data-sortable>
        <button class="usa-table__header__button" 
          aria-label="Sortable column, unsorted, activate to sort by Month in ascending order">
          Month
        </button>
      </th>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" data-sortable>
        <button class="usa-table__header__button" 
          aria-label="Sortable column, unsorted, activate to sort by Percent in ascending order">
          Percent
        </button>
      </th>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" data-sortable>
        <button class="usa-table__header__button" 
          aria-label="Sortable column, unsorted, activate to sort by Count in ascending order">
          Count
        </button>
      </th>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" data-sortable>
        <button class="usa-table__header__button" 
          aria-label="Sortable column, unsorted, activate to sort by Ordinal Rank in ascending order">
          Rank (Ordinal)
        </button>
      </th>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" data-sortable>
        <button class="usa-table__header__button" 
          aria-label="Sortable column, unsorted, activate to sort by Cardinal Rank in ascending order">
          Rank (Cardinal)
        </button>
      </th>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" data-sortable>
        <button class="usa-table__header__button" 
          aria-label="Sortable column, unsorted, activate to sort by Timestamp in ascending order">
          Unix Timestamp
        </button>
      </th>
    </tr>
  </thead>
  <tr>
    <th>2020 AD</th>
    <td data-sort-value="3">March</td>
    <td data-sort-value="0.206" class="font-mono-sm text-tabular text-right">20.6%</td>
    <td data-sort-value="23612" class="font-mono-sm text-tabular text-right">23,612</td>
    <td data-sort-value="3">Third</td>
    <td data-sort-value="3">3rd</td>
    <td data-sort-value="1332884673452">March 27, 2012</td>
  </tr>
  <tr>
    <th>2000 AD</th>
    <td data-sort-value="4">April</td>
    <td data-sort-value="0.026" class="font-mono-sm text-tabular text-right">2.6%</td>
    <td data-sort-value="-32" class="font-mono-sm text-tabular text-right">-32</td>
    <td data-sort-value="1">First</td>
    <td data-sort-value="1">1st</td>
    <td data-sort-value="1617974313232">April 9, 2021</td>
  </tr>
  <tr>
    <th>200 AD</th>
    <td data-sort-value="1">January</td>
    <td data-sort-value="-0.036" class="font-mono-sm text-tabular text-right">-3.6%</td>
    <td data-sort-value="0.002" class="font-mono-sm text-tabular text-right">0.002</td>
    <td data-sort-value="2">Second</td>
    <td>2nd</td>
    <td data-sort-value="1611169964684">January 20, 2021</td>
  </tr>
  <tr>
    <th>20 BC</th>
    <td data-sort-value="12">December</td>
    <td data-sort-value="-3.006" class="font-mono-sm text-tabular text-right">-300.6%</td>
    <td data-sort-value="0" class="font-mono-sm text-tabular text-right">0</td>
    <td data-sort-value="4">Fourth</td>
    <td data-sort-value="4">4th</td>
    <td data-sort-value="1608114345343">December 16, 2020</td>

  </tr>
</table>

<br><br>

<table class="usa-table usa-table--sortable usa-table--borderless">
  <caption>Sortable borderless table example - Various content types</caption>
  <thead>
    <tr>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" data-sortable aria-sort="descending">
        <button class="usa-table__header__button" 
          aria-label="Sortable column, sorted descending, activate to sort by Year in ascending order">
          Year
        </button>
      </th>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" data-sortable>
        <button class="usa-table__header__button" 
          aria-label="Sortable column, unsorted, activate to sort by Month in ascending order">
          Month
        </button>
      </th>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" data-sortable>
        <button class="usa-table__header__button" 
          aria-label="Sortable column, unsorted, activate to sort by Percent in ascending order">
          Percent
        </button>
      </th>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" data-sortable>
        <button class="usa-table__header__button" 
          aria-label="Sortable column, unsorted, activate to sort by Count in ascending order">
          Count
        </button>
      </th>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" data-sortable>
        <button class="usa-table__header__button" 
          aria-label="Sortable column, unsorted, activate to sort by Ordinal Rank in ascending order">
          Rank (Ordinal)
        </button>
      </th>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" data-sortable>
        <button class="usa-table__header__button" 
          aria-label="Sortable column, unsorted, activate to sort by Cardinal Rank in ascending order">
          Rank (Cardinal)
        </button>
      </th>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" data-sortable>
        <button class="usa-table__header__button" 
          aria-label="Sort by Timestamp in ascending order">
          Unix Timestamp
        </button>
      </th>
    </tr>
  </thead>
  <tr>
    <th>2020 AD</th>
    <td data-sort-value="3">March</td>
    <td data-sort-value="0.206" class="font-mono-sm text-tabular text-right">20.6%</td>
    <td data-sort-value="23612" class="font-mono-sm text-tabular text-right">23,612</td>
    <td data-sort-value="3">Third</td>
    <td data-sort-value="3">3rd</td>
    <td data-sort-value="1332884673452">March 27, 2012</td>
  </tr>
  <tr>
    <th>2000 AD</th>
    <td data-sort-value="4">April</td>
    <td data-sort-value="0.026" class="font-mono-sm text-tabular text-right">2.6%</td>
    <td data-sort-value="-32" class="font-mono-sm text-tabular text-right">-32</td>
    <td data-sort-value="1">First</td>
    <td data-sort-value="1">1st</td>
    <td data-sort-value="1617974313232">April 9, 2021</td>
  </tr>
  <tr>
    <th>200 AD</th>
    <td data-sort-value="1">January</td>
    <td data-sort-value="-0.036" class="font-mono-sm text-tabular text-right">-3.6%</td>
    <td data-sort-value="0.002" class="font-mono-sm text-tabular text-right">0.002</td>
    <td data-sort-value="2">Second</td>
    <td>2nd</td>
    <td data-sort-value="1611169964684">January 20, 2021</td>
  </tr>
  <tr>
    <th>20 BC</th>
    <td data-sort-value="12">December</td>
    <td data-sort-value="-3.006" class="font-mono-sm text-tabular text-right">-300.6%</td>
    <td data-sort-value="0" class="font-mono-sm text-tabular text-right">0</td>
    <td data-sort-value="4">Fourth</td>
    <td data-sort-value="4">4th</td>
    <td data-sort-value="1608114345343">December 16, 2020</td>

  </tr>
</table>
