<table class="usa-table usa-table--sortable">
  <caption>Sortable table example - Federal Budget Baseline Projections</caption>
  <thead>
    <tr>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" aria-sort="ascending">
        <button class="usa-table__header__button" 
          aria-label="Sort by Fiscal Year in descending order">
          Fiscal Year
        </button>
      </th>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" aria-sort="none">
        <button class="usa-table__header__button" 
          aria-label="Sort by Revenue in ascending order">
          Revenue
        </button>
      </th>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" aria-sort="none">
        <button class="usa-table__header__button" 
          aria-label="Sort by Outlays in ascending order">
          Outlays
        </button>

      </th>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" aria-sort="none">
        <button class="usa-table__header__button" 
          aria-label="Sort by Budget Deficit in ascending order">
          Budget Deficit
        </button>
      </th>
      <th class="usa-table__header--sortable" scope="col" role="columnheader" aria-sort="none">
        <button class="usa-table__header__button" 
          aria-label="Sort by Debt Held By Public in ascending order">
          Debt Held By Public
        </button>
      </th>
    </tr>
  </thead>
  <tr>
    <th>2017</th>
    <td class="font-mono-sm text-tabular text-right">17.2%</td>
    <td class="font-mono-sm text-tabular text-right">20.6%</td>
    <td class="font-mono-sm text-tabular text-right">-3.5%</td>
    <td class="font-mono-sm text-tabular text-right">76.0%</td>
  </tr>
  <tr>
    <th>2018</th>
    <td class="font-mono-sm text-tabular text-right">16.4%</td>
    <td class="font-mono-sm text-tabular text-right">20.2%</td>
    <td class="font-mono-sm text-tabular text-right">-3.8%</td>
    <td class="font-mono-sm text-tabular text-right">77.4%</td>
  </tr>
  <tr>
    <th>2019</th>
    <td class="font-mono-sm text-tabular text-right">16.3%</td>
    <td class="font-mono-sm text-tabular text-right">21.0%</td>
    <td class="font-mono-sm text-tabular text-right">-114.6%</td> <!-- value is compared only as a string -->
    <td class="font-mono-sm text-tabular text-right">79.2%</td>
  </tr>
  <tr>
    <th>2020</th>
    <td class="font-mono-sm text-tabular text-right">16.7%</td>
    <td class="font-mono-sm text-tabular text-right">21.3%</td>
    <td class="font-mono-sm text-tabular text-right">-4.6%</td>
    <td class="font-mono-sm text-tabular text-right">80.9%</td>
  </tr>
  <tr>
    <th>2021</th>
    <td class="font-mono-sm text-tabular text-right">16.7%</td>
    <td class="font-mono-sm text-tabular text-right">21.6%</td>
    <td class="font-mono-sm text-tabular text-right">-4.9%</td>
    <td class="font-mono-sm text-tabular text-right">83.1%</td>
  </tr>
</table>
<p>Values as percent of GDP. Data for illustration purposes only.</p>
