@use "uswds-core/src/styles/functions/general/map-collect" as *;
@use "uswds-core/src/styles/tokens/color" as *;

$tokens-color-gray-lighter: (
  "gray-1": $color-gray-1,
  "gray-2": $color-gray-2,
  "gray-3": $color-gray-3,
  "gray-4": $color-gray-4,
);

$tokens-color-gray-light: (
  "gray-5": $color-gray-5,
  "gray-10": $color-gray-10,
  "gray-20": $color-gray-20,
  "gray-30": $color-gray-30,
);

$tokens-color-gray-medium: (
  "gray-40": $color-gray-40,
  "gray-50": $color-gray-50,
  "gray-60": $color-gray-60,
);

$tokens-color-gray-dark: (
  "gray-70": $color-gray-70,
  "gray-80": $color-gray-80,
  "gray-90": $color-gray-90,
);

$tokens-color-gray: map-collect(
  $tokens-color-gray-lighter,
  $tokens-color-gray-light,
  $tokens-color-gray-medium,
  $tokens-color-gray-dark
);

$palettes-color-gray: (
  "palette-color-system-gray-lighter": $tokens-color-gray-lighter,
  "palette-color-system-gray-light": $tokens-color-gray-light,
  "palette-color-system-gray-medium": $tokens-color-gray-medium,
  "palette-color-system-gray-dark": $tokens-color-gray-dark,
  "palette-color-system-gray": $tokens-color-gray,
);
