@use "uswds-core/src/styles/functions/general/map-collect" as *;
@use "uswds-core/src/styles/tokens/color" as *;

$tokens-color-orange-light: (
  "orange-5": $color-orange-5,
  "orange-10": $color-orange-10,
  "orange-20": $color-orange-20,
  "orange-30": $color-orange-30,
);

$tokens-color-orange-medium: (
  "orange-40": $color-orange-40,
  "orange-50": $color-orange-50,
  "orange-60": $color-orange-60,
);

$tokens-color-orange-dark: (
  "orange-70": $color-orange-70,
  "orange-80": $color-orange-80,
  "orange-90": $color-orange-90,
);

$tokens-color-orange-light-vivid: (
  "orange-5v": $color-orange-5v,
  "orange-10v": $color-orange-10v,
  "orange-20v": $color-orange-20v,
  "orange-30v": $color-orange-30v,
);

$tokens-color-orange-medium-vivid: (
  "orange-40v": $color-orange-40v,
  "orange-50v": $color-orange-50v,
  "orange-60v": $color-orange-60v,
);

$tokens-color-orange-dark-vivid: (
  "orange-70v": $color-orange-70v,
  "orange-80v": $color-orange-80v,
  "orange-90v": $color-orange-90v,
);

$tokens-color-orange-standard: map-collect(
  $tokens-color-orange-light,
  $tokens-color-orange-medium,
  $tokens-color-orange-dark
);

$tokens-color-orange-vivid: map-collect(
  $tokens-color-orange-light-vivid,
  $tokens-color-orange-medium-vivid,
  $tokens-color-orange-dark-vivid
);

$tokens-color-orange: map-collect(
  $tokens-color-orange-standard,
  $tokens-color-orange-vivid
);

$palettes-color-orange: (
  "palette-color-system-orange-light": $tokens-color-orange-light,
  "palette-color-system-orange-medium": $tokens-color-orange-medium,
  "palette-color-system-orange-dark": $tokens-color-orange-dark,
  "palette-color-system-orange-light-vivid": $tokens-color-orange-light-vivid,
  "palette-color-system-orange-medium-vivid": $tokens-color-orange-medium-vivid,
  "palette-color-system-orange-dark-vivid": $tokens-color-orange-dark-vivid,
  "palette-color-system-orange-standard": $tokens-color-orange-standard,
  "palette-color-system-orange-vivid": $tokens-color-orange-vivid,
  "palette-color-system-orange": $tokens-color-orange,
);
