@use "uswds-core/src/styles/functions/general/map-collect" as *;
@use "uswds-core/src/styles/tokens/color" as *;

$tokens-color-yellow-light: (
  "yellow-5": $color-yellow-5,
  "yellow-10": $color-yellow-10,
  "yellow-20": $color-yellow-20,
  "yellow-30": $color-yellow-30,
);

$tokens-color-yellow-medium: (
  "yellow-40": $color-yellow-40,
  "yellow-50": $color-yellow-50,
  "yellow-60": $color-yellow-60,
);

$tokens-color-yellow-dark: (
  "yellow-70": $color-yellow-70,
  "yellow-80": $color-yellow-80,
  "yellow-90": $color-yellow-90,
);

$tokens-color-yellow-light-vivid: (
  "yellow-5v": $color-yellow-5v,
  "yellow-10v": $color-yellow-10v,
  "yellow-20v": $color-yellow-20v,
  "yellow-30v": $color-yellow-30v,
);

$tokens-color-yellow-medium-vivid: (
  "yellow-40v": $color-yellow-40v,
  "yellow-50v": $color-yellow-50v,
  "yellow-60v": $color-yellow-60v,
);

$tokens-color-yellow-dark-vivid: (
  "yellow-70v": $color-yellow-70v,
  "yellow-80v": $color-yellow-80v,
  "yellow-90v": $color-yellow-90v,
);

$tokens-color-yellow-standard: map-collect(
  $tokens-color-yellow-light,
  $tokens-color-yellow-medium,
  $tokens-color-yellow-dark
);

$tokens-color-yellow-vivid: map-collect(
  $tokens-color-yellow-light-vivid,
  $tokens-color-yellow-medium-vivid,
  $tokens-color-yellow-dark-vivid
);

$tokens-color-yellow: map-collect(
  $tokens-color-yellow-standard,
  $tokens-color-yellow-vivid
);

$palettes-color-yellow: (
  "palette-color-system-yellow-light": $tokens-color-yellow-light,
  "palette-color-system-yellow-medium": $tokens-color-yellow-medium,
  "palette-color-system-yellow-dark": $tokens-color-yellow-dark,
  "palette-color-system-yellow-light-vivid": $tokens-color-yellow-light-vivid,
  "palette-color-system-yellow-medium-vivid": $tokens-color-yellow-medium-vivid,
  "palette-color-system-yellow-dark-vivid": $tokens-color-yellow-dark-vivid,
  "palette-color-system-yellow-standard": $tokens-color-yellow-standard,
  "palette-color-system-yellow-vivid": $tokens-color-yellow-vivid,
  "palette-color-system-yellow": $tokens-color-yellow,
);
