<!DOCTYPE html>
<html lang="en">
  
  <head>
    {% include head.html %}
  </head>

  <body class="{{ page.slug }}" id="usa-top-of-page">

    	{% include navbar.html %}
  	
    	{% include sidenav.html %}

      <div class="main-content">
        <article class="styleguide-content">
          {{ content }}
        </article>
      </div>
    {% include analytics.html %}
    {% include scripts.html %}
    <script src="{{ site.baseurl }}/assets/js/vendor/zeroclipboard/ZeroClipboard.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/code-snippets.js"></script>
    <script src="{{ site.baseurl }}/assets/js/components.js"></script>

  </body>

</html>
