<!DOCTYPE html>
<html lang="en">
  
  <head>
    {% include head.html %}
  </head>

  <body class="{{ page.title | slugify }}">

  	{% include navbar.html %}
	
  	{% include sidenav.html %}

    <div class="main-content">
      <article class="styleguide-content usa-content">
        <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
        <p class="usa-font-lead">{{ page.lead }}</p>
        {{ content }}
      </article>

      <footer class="usa-styleguide-footer">
        {% include footer.html %}
      </footer>
    </div>

    {% include analytics.html %}

    {% include scripts.html %}

    <script src="{{ site.baseurl }}/assets/js/code-snippets.js"></script>
    <script src="{{ site.baseurl }}/assets/js/components.js"></script>

  </body>

</html>
