<div class="text-primary-vivid">
<svg class="usa-icon usa-icon--sm" aria-hidden="true" >
  <use xlink:href="{{ uswds.path }}/img/sprite.svg#accessibility_new"></use>
</svg>

<svg class="usa-icon" aria-hidden="true" >
  <use xlink:href="{{ uswds.path }}/img/sprite.svg#accessibility_new"></use>
</svg>

<svg class="usa-icon usa-icon--lg" aria-hidden="true" >
  <use xlink:href="{{ uswds.path }}/img/sprite.svg#accessibility_new"></use>
</svg>
</div>