<body>
  <a class="usa-skipnav" href="">Skip to main content</a>
  <div class="usa-overlay"></div>
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo" id="logo">
          <em class="usa-logo__text"
            ><a href="/" title="Home" aria-label="Home"
              ><project title></project></a
          ></em>
        </div>
      </div>
    </div>
  </header>
  <main id="main-content">
    <div class="bg-base-lightest">
      <section class="grid-container usa-section">
        <div class="grid-row margin-x-neg-205 flex-justify-center">
          <div
            class="
              grid-col-12
              mobile-lg:grid-col-10
              tablet:grid-col-8
              desktop:grid-col-6
              padding-x-205
              margin-bottom-4
            "
          >
            <h1
              class="
                desktop:display-none
                font-sans-lg
                margin-bottom-4
                tablet:margin-top-neg-3
              "
            ></h1>
            <div
              class="
                bg-white
                padding-y-3 padding-x-5
                border border-base-lighter
              "
            >
              <h1 class="margin-bottom-0"></h1>
              <form class="usa-form">
                <fieldset class="usa-fieldset">
                  <legend class="usa-legend margin-top-1"></legend>
                  <p></p>
                  <label class="usa-label" for="email"
                    ><abbr title="required" class="usa-label--required"
                      >*</abbr
                    ></label
                  >
                  <input
                    class="usa-input"
                    id="email"
                    name="email"
                    type="email"
                    autocapitalize="off"
                    autocorrect="off"
                    required
                  />
                  <label
                    class="usa-label"
                    for="password-create-account"
                  ></label>
                  <input
                    class="usa-input"
                    id="password-create-account"
                    name="password"
                    type="password"
                    required
                  />
                  <p class="usa-form__note">
                    <a
                      title=""
                      href=""
                      class="usa-show-password"
                      aria-controls=""
                      data-show-text=""
                      data-hide-text=""
                    ></a>
                  </p>
                  <label class="usa-label" for="password-create-account-confirm"
                    ><abbr title="required" class="usa-label--required"
                      >*</abbr
                    ></label
                  >
                  <input
                    class="usa-input"
                    id="password-create-account-confirm"
                    name="password-confirm"
                    type="password"
                    required
                  />
                  <div class="usa-checkbox margin-y-3">
                    <input
                      class="usa-checkbox__input"
                      id="terms-and-conditions"
                      type="checkbox"
                      name="terms-and-conditions"
                      value="terms"
                      required
                    />
                    <label
                      class="usa-checkbox__label"
                      for="terms-and-conditions"
                      ><abbr title="required" class="usa-label--required"
                        >*</abbr
                      ></label
                    >
                  </div>
                  <input class="usa-button" type="submit" value="" />
                </fieldset>
              </form>
            </div>
            <p class="text-center desktop:text-left">
              <a class="usa-link" href=""></a>.
            </p>
          </div>
          <div
            class="
              grid-col-12
              mobile-lg:grid-col-10
              tablet:grid-col-8
              desktop:grid-col-6
              padding-x-205
            "
          >
            <div
              class="
                border-top border-base-lighter
                padding-top-4
                desktop:border-0 desktop:padding-top-0
              "
            >
              <h2 class="display-none desktop:display-block">
                <a
                  tagline
                  that
                  explains
                  the
                  benefit
                  of
                  creating
                  an
                  account.
                ></a>
              </h2>
              <div class="usa-prose">
                <p>
                  <here
                    ’s
                    space
                    for
                    a
                    longer
                    description
                    to
                    introduce
                    3-5
                    easily
                    scannable
                    bullet
                    points.
                    note
                    that
                    on
                    mobile,
                    this
                    text
                    block
                    will
                    bump
                    below
                    the
                    create
                    account
                    form.
                  ></here>
                </p>
                <section class="usa-graphic-list">
                  <div class="usa-graphic-list__row">
                    <div class="usa-media-block margin-y-2">
                      <img
                        class="usa-media-block__img height-7 width-7"
                        src="/circle-gray-20.svg"
                        alt="Alt text"
                      />
                      <div class="usa-media-block__body">
                        <p>
                          [<strong>Value proposition 1:</strong> Vivamus nec
                          velit sed leo scelerisque laoreet vestibulum.>]
                        </p>
                      </div>
                    </div>
                    <div class="usa-media-block margin-y-2">
                      <img
                        class="usa-media-block__img height-7 width-7"
                        src="/circle-gray-20.svg"
                        alt="Alt text"
                      />
                      <div class="usa-media-block__body">
                        <p>
                          [<strong>Value proposition 1:</strong> Vivamus nec
                          velit sed leo scelerisque laoreet vestibulum.>]
                        </p>
                      </div>
                    </div>
                    <div class="usa-media-block margin-y-2">
                      <img
                        class="usa-media-block__img height-7 width-7"
                        src="/circle-gray-20.svg"
                        alt="Alt text"
                      />
                      <div class="usa-media-block__body">
                        <p>
                          [<strong>Value proposition 3:</strong> Vivamus nec
                          velit sed leo scelerisque laoreet vestibulum.>]
                        </p>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <div
                class="
                  border-top border-base-lighter
                  margin-top-3
                  padding-top-1
                "
              >
                <h2></h2>
                <div class="usa-prose">
                  <p></p>
                  <p><a class="usa-button usa-button--outline" href=""></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer class="usa-footer">
    <div class="grid-container usa-footer__return-to-top">
      <a href="#">Return to top</a>
    </div>
    <div class="usa-footer__primary-section">
      <nav class="usa-footer__nav" aria-label="Footer navigation">
        <ul class="grid-row grid-gap"></ul>
      </nav>
    </div>
    <div class="usa-footer__secondary-section">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div
            class="
              usa-footer__logo
              grid-row
              mobile-lg:grid-col-6 mobile-lg:grid-gap-2
            "
          >
            <div class="mobile-lg:grid-col-auto">
              <img class="usa-footer__logo-img" src="/logo-img.png" alt="" />
            </div>
            <div class="mobile-lg:grid-col-auto">
              <p class="usa-footer__logo-heading"></p>
            </div>
          </div>
          <div class="usa-footer__contact-links mobile-lg:grid-col-6">
            <div class="usa-footer__social-links grid-row grid-gap-1">
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--facebook"
                  href="javascript:void(0);"
                  ><span>Facebook</span></a
                >
              </div>
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--twitter"
                  href="javascript:void(0);"
                  ><span>Twitter</span></a
                >
              </div>
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--youtube"
                  href="javascript:void(0);"
                  ><span>YouTube</span></a
                >
              </div>
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--instagram"
                  href="javascript:void(0);"
                  ><span>Instagram</span></a
                >
              </div>
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--rss"
                  href="javascript:void(0);"
                  ><span>RSS</span></a
                >
              </div>
            </div>
            <h3 class="usa-footer__contact-heading"></h3>
            <address class="usa-footer__address">
              <div class="usa-footer__contact-info grid-row grid-gap">
                <div class="grid-col-auto"></div>
                <div class="grid-col-auto">
                  <a href="mailto:info@agency.gov"></a>
                </div>
              </div>
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="usa-identifier">
    <section
      class="usa-identifier__section usa-identifier__section--masthead"
      aria-label=""
    >
      <div class="usa-identifier__container">
        <div class="usa-identifier__identity" aria-label="">
          <p class="usa-identifier__identity-domain"></p>
          <p class="usa-identifier__identity-disclaimer"><a href=""></a></p>
        </div>
      </div>
    </section>
    <nav
      class="usa-identifier__section usa-identifier__section--required-links"
      aria-label=""
    >
      <div class="usa-identifier__container">
        <ul class="usa-identifier__required-links-list"></ul>
      </div>
    </nav>
  </div>
</body>
