/*
----------------------------------------
Border Radius
----------------------------------------
usage:
  .radius-[value]
----------------------------------------
output:
  border-radius: [value];
----------------------------------------
example:
  .radius-md {
    border-radius: $s-spacing-md; }

  .radius-pill {
    border-radius: 9999em; }
----------------------------------------
*/

$border-radius: (
  border-radius: (
    base: ('radius', isReadable),
    modifiers: null,
    values: (
      0: '0',
      pill: ('9999em', isReadable),
      circle: ('50%', isReadable),
      sm: ($s-radius-sm, isReadable),
      md: ($s-radius-md, isReadable),
      lg: ($s-radius-lg, isReadable),
    ),
    property: 'border-radius',
    output: true,
    responsive: true,
    pseudoclasses: false,
  )
)
