/*
----------------------------------------
Border Radius
----------------------------------------
usage:
  .radius-[value]
----------------------------------------
output:
  border-radius: [value];
----------------------------------------
example:
  .radius-md {
    border-radius: $s-spacing-md; }

  .radius-pill {
    border-radius: 9999em; }
----------------------------------------
*/

$border-radius: (
  border-radius: (
    base: 'radius',
    modifiers: null,
    values: (
      0: '0',
      pill: '9999em',
      circle: '50%',
      sm: $s-radius-sm,
      md: $s-radius-md,
      lg: $s-radius-lg,
    ),
    property: 'border-radius',
    output: true,
    responsive: true,
    pseudoclasses: false,
  )
)
