/*
----------------------------------------
Flex direction
----------------------------------------
usage:
  .f-[value]
----------------------------------------
output:
  flex-direction: [value]
----------------------------------------
example:
  .f-row {
    flex-direction: row; }
----------------------------------------
*/

$flex-direction: (
  flex-direction: (
    base: 'f',
    modifiers: null,
    values: (
      row: ('row', isReadable),
      column: ('column', isReadable),
    ),
    property: 'flex-direction',
    output: false,
    responsive: true,
    pseudoclasses: false,
  )
)
