/*
----------------------------------------
Flex Align
----------------------------------------
usage:
  .f-[value]
----------------------------------------
output:
  align-items: [value];
----------------------------------------
example:
  .f-start {
    align-items: flex-start; }
----------------------------------------
*/

$flex-align: (
  flex-align: (
    base: 'f',
    modifiers: null,
    values: (
      'start': ('flex-start', isReadable),
      'end': ('flex-end', isReadable),
      'center': ('center', isReadable),
      'stretch': ('stretch', isReadable),
    ),
    property: 'align-items',
    output: false,
    responsive: true,
    pseudoclasses: false,
  )
);
