/*
----------------------------------------
Flex Wrap
----------------------------------------
usage:
  .f-[value]
----------------------------------------
output:
  flex-wrap: [value];
----------------------------------------
example:
  .f-wrap {
    flex-wrap: wrap; }
----------------------------------------
*/

$flex-wrap: (
  flex-wrap: (
    base: 'f',
    modifiers: null,
    values: (
      'wrap': ('wrap', isReadable),
      'nowrap': ('nowrap', isReadable),
    ),
    property: 'flex-wrap',
    output: false,
    responsive: true,
    pseudoclasses: false,
  )
);
