/*
----------------------------------------
Line Length
----------------------------------------
usage:
  .ll-[value]
----------------------------------------
output:
  line-length: value;
----------------------------------------
example:
  .ll-max {
    max-width: none; }
----------------------------------------
*/

$line-length: (
  line-length: (
    base: 'll',
    modifiers: null,
    values: (
      narrow: ($text-narrow-width, isReadable),
      max: ('none', isReadable),
      reading: ($text-max-width, isReadable),
    ),
    property: 'max-width',
    output: true,
    responsive: true,
    pseudoclasses: false,
  )
)
