/*
----------------------------------------
Manual Positioning
----------------------------------------
usage:
  .[modifier]-[value]
----------------------------------------
output:
  [modifier]: [value];
----------------------------------------
example:
  .bottom-n2px {
    bottom: -2px; }
----------------------------------------
*/

$manual-position: (
  manual-position: (
    base: null,
    modifiers: (
      top: ('top', isReadable),
      bottom: ('bottom', isReadable),
      left: ('left', isReadable),
      right: ('right', isReadable),
    ),
    values:
      map-collect(
        map-get($values-units, pixels),
        map-get($values-units, neg-pixels),
        map-get($values-units, percentage),
        map-get($values-units, grid),
        map-get($values-global, zero-zero),
        map-get($values-global, auto)
    ),
    property: '',
    output: false,
    responsive: true,
    pseudoclasses: false,
  )
)
