/*
----------------------------------------
Min Height
----------------------------------------
usage:
  .maxh[value]
----------------------------------------
output:
  max-height: value;
----------------------------------------
example:
  .maxh40 {
    max-height: 320px; }
----------------------------------------
*/

$max-height: (
  max-height: (
    base: 'maxh',
    modifiers: null,
    values: map-collect(
      map-get($values-units, percentage),
      map-get($values-units, grid),
      map-get($values-units, pixels)
    ),
    property: 'max-height',
    output: false,
    responsive: true,
    pseudoclasses: false,
  )
)
