/*
----------------------------------------
Min Height
----------------------------------------
usage:
  .minh[value]
----------------------------------------
output:
  min-height: value;
----------------------------------------
example:
  .minh40 {
    min-height: 320px; }
----------------------------------------
*/

$min-height: (
  min-height: (
    base: 'minh',
    modifiers: null,
    values: map-collect(
      map-get($values-units, percentage),
      map-get($values-units, grid),
      map-get($values-units, pixels),
      map-get($values-global, breakpoints)
    ),
    property: 'min-height',
    output: false,
    responsive: true,
    pseudoclasses: false,
  )
)
