/*
----------------------------------------
Order
----------------------------------------
usage:
  .order-[value]
----------------------------------------
output:
  order: [value]
----------------------------------------
example:
  .order-first {
    order: -1; }

  .order-2 {
    order: 2; }
----------------------------------------
*/

$order: (
  order: (
    base: ('order', isReadable),
    modifiers: null,
    values: map-collect(
      map-get($values-global, flex-orders)
    ),
    property: 'order',
    output: false,
    responsive: true,
    pseudoclasses: false,
  )
)
