/*
----------------------------------------
Padding
----------------------------------------
usage:
  .p[modifier]*[-]*[value]
----------------------------------------
output:
  padding: [value]
----------------------------------------
example:
  .p0 {
    padding: none; }

  .pb1px {
    padding-bottom: 1px; }
----------------------------------------
*/

$padding: (
  padding: (
    base: p,
    modifiers: (
      t: '-top',
      r: '-right',
      b: '-bottom',
      l: '-left',
      y: ('-top', '-bottom'),
      x: ('-left', '-right'),
      noModifier: '',
    ),
    values: map-collect(
      map-get($values-settings, spacing),
      map-get($values-global, zero-zero)
    ),
    property: 'padding',
    output: true,
    responsive: true,
    pseudoclasses: false,
  )
)
