/*
----------------------------------------
Display
----------------------------------------
usage:
  .shadow-[value]
----------------------------------------
output:
  box-shadow: [value];
----------------------------------------
example:
  .shadow-1 {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10); }
----------------------------------------
*/

$shadow: (
  shadow: (
    base: ('shadow', isReadable),
    modifiers: null,
    values: (
      0: 'none',
      1: '0 1px 2px 0 rgba(0,0,0,0.10)',
      2: '0 4px 8px 0 rgba(0,0,0,0.10)',
      3: '0 6px 12px 0 rgba(0,0,0,0.10)',
      4: '0 8px 16px 0 rgba(0,0,0,0.10)',
      5: '0 12px 24px 0 rgba(0,0,0,0.10)',
    ),
    property: 'box-shadow',
    output: true,
    responsive: true,
    pseudoclasses: false,
  )
)
