/*
----------------------------------------
Text Transform
----------------------------------------
usage:
  .[value]
----------------------------------------
output:
  text-transform: value;
----------------------------------------
example:
  .allcaps {
    text-transform: uppercase; }
----------------------------------------
*/

$text-transform: (
  text-transform: (
    base: null,
    modifiers: null,
    values: (
      capitalize: ('capitalize', isReadable),
      lower: ('lowercase', isReadable),
      allcaps: ('uppercase', isReadable),
      orig-case: ('none', isReadable),
    ),
    property: 'text-transform',
    output: true,
    responsive: false,
    pseudoclasses: false,
  )
)
