/*
========================================
USWDS UTILITIES SETTINGS
----------------------------------------
*/

$utilities-namespace-prefix:  'u-';
$utilities-use-important:     false;

$output-breakpoints: (
  'compact':         false,   // 240px
  'mobile':          false,   // 320px
  'mobile-plus':     true,    // 480px
  'tablet':          true,    // 640px
  'tablet-plus':     false,   // 800px
  'desktop':         true,    // 1040px
  'desktop-plus':    false,   // 1200px
  'wide':            false,   // 1400px
);

$output-all-utilities:  false;

// By default, the following plugins
// apply to each utility that accepts
// color values
$project-color-plugins: (
  'plugin-color-palette-theme',
  'plugin-color-palette-grayscale',
);

/*
========================================
.align-items
----------------------------------------
*/

$align-items-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$align-items-plugins: (
  /*
  */
);

$align-items-manual-values: (
  /*
  */
  flex-start:   'flex-start',
  flex-end:     'flex-end',
  center:       'center',
  stretch:      'stretch'
);

/*
========================================
.background-color
----------------------------------------
*/

$background-color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$background-color-plugins: (
  /*
  'plugin-color-[color]'
  'plugin-color-[color]-light'
  'plugin-color-[color]-medium'
  'plugin-color-[color]-dark'
  'plugin-color-[color]-light-vivid'
  'plugin-color-[color]-medium-vivid'
  'plugin-color-[color]-dark-vivid'
  'plugin-color-[color]-standard'
  'plugin-color-[color]-vivid'
  'plugin-color-palette-status'
  */
  $project-color-plugins
);

$background-color-manual-values: (
  /*
  */
);

/*
========================================
.border (width and solid)
----------------------------------------
*/

$border-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$border-plugins: (
  /*
  'plugin-spacing-uswds-smaller'
  'plugin-spacing-uswds-small'
  'plugin-spacing-uswds-medium'
  */
  'plugin-spacing-uswds-smaller',
  'plugin-spacing-uswds-small'
);

$border-manual-values: (
  /*
  */
  0:            '0'
);

/*
========================================
.border-color
----------------------------------------
*/

$border-color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$border-color-plugins: (
  /*
  'plugin-color-[color]'
  'plugin-color-[color]-light'
  'plugin-color-[color]-medium'
  'plugin-color-[color]-dark'
  'plugin-color-[color]-light-vivid'
  'plugin-color-[color]-medium-vivid'
  'plugin-color-[color]-dark-vivid'
  'plugin-color-[color]-standard'
  'plugin-color-[color]-vivid'
  'plugin-color-palette-status'
  */
  $project-color-plugins
);

$border-color-manual-values: (
  /*
  */
);

/*
========================================
.border-radius
----------------------------------------
*/

$border-radius-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$border-radius-plugins: (
  /*
  'plugin-spacing-uswds-smaller'
  'plugin-spacing-uswds-small'
  'plugin-spacing-uswds-medium'
  */
  'plugin-misc-border-radius'
);

$border-radius-manual-values: (
  /*
  */
);

/*
========================================
.border-style
----------------------------------------
*/

$border-style-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$border-style-plugins: (
  /*
  */
);

$border-style-manual-values: (
  /*
  */
  dashed:       'dashed',
  dotted:       'dotted',
  solid:        'solid'
);

/*
========================================
.border-width
----------------------------------------
*/

$border-width-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$border-width-plugins: (
  /*
  'plugin-spacing-uswds-small'
  'plugin-spacing-uswds-medium'
  */
  'plugin-spacing-uswds-smaller',
  'plugin-spacing-uswds-small'
);

$border-width-manual-values: (
  /*
  */
  0:       0,
);

/*
========================================
.bottom
----------------------------------------
*/

$bottom-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$bottom-plugins: (
  /*
  'plugin-spacing-uswds-small'
  'plugin-spacing-uswds-medium'
  'plugin-spacing-uswds-large'
  'plugin-spacing-uswds-xlarge'
  'plugin-spacing-uswds-all'
  'plugin-spacing-uswds-smaller-negative'
  'plugin-spacing-uswds-medium-negative'
  'plugin-spacing-uswds-negative'
  'plugin-spacing-units-percentage'
  'plugin-spacing-uswds-smaller'
  'plugin-spacing-uswds-smaller-negative'
  */
  'plugin-spacing-uswds-smaller',
  'plugin-spacing-uswds-small',
  'plugin-spacing-uswds-smaller-negative',
  'plugin-spacing-uswds-small-negative'
);

$bottom-manual-values: (
  /*
  */
  0:        0,
  auto:     'auto',
);

/*
========================================
.box-shadow
----------------------------------------
*/

$box-shadow-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$box-shadow-plugins: (
  /*
  */
  'plugin-misc-box-shadow'
);

$box-shadow-manual-values: (
  /*
  */
);

/*
========================================
.circle
----------------------------------------
*/

$circle-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$circle-plugins: (
  /*
  'plugin-spacing-uswds-small'
  'plugin-spacing-uswds-medium'
  'plugin-spacing-uswds-large'
  'plugin-spacing-uswds-all'
  'plugin-spacing-uswds-small'
  'plugin-spacing-uswds-medium'
  'plugin-spacing-uswds-large'
  'plugin-spacing-uswds-xlarge'
  */
  'plugin-spacing-uswds-smaller',
  'plugin-spacing-uswds-small',
  'plugin-spacing-uswds-medium',
  'plugin-spacing-uswds-large',
);

$circle-manual-values: (
  /*
  */
);

/*
========================================
.clearfix
----------------------------------------
*/

$clearfix-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

/*
========================================
.color
----------------------------------------
*/

$color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$color-plugins: (
  /*
  'plugin-[color]'
  'plugin-[color]-light'
  'plugin-[color]-medium'
  'plugin-[color]-dark'
  'plugin-[color]-light-vivid'
  'plugin-[color]-medium-vivid'
  'plugin-[color]-dark-vivid'
  'plugin-[color]-standard'
  'plugin-[color]-vivid'
  'plugin-palette-status'
  */
  $project-color-plugins
);

$color-manual-values: (
  /*
  */
);

/*
========================================
.display
----------------------------------------
*/

$display-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$display-plugins: (
  /*
  */
);

$display-manual-values: (
  /*
  */
  block:        'block',
  flex:         'flex',
  none:         'none',
  inline:       'inline',
  inline-block: 'inline-block',
  table:        'table',
  table-cell:   'table-cell'
);

/*
========================================
.flex
----------------------------------------
*/

$flex-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$flex-plugins: (
  /*
  */
  'plugin-misc-flex'
);

$flex-manual-values: (
  /*
  */
);

/*
========================================
.flex-direction
----------------------------------------
*/

$flex-direction-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$flex-direction-plugins: ();

$flex-direction-manual-values: (
  /*
  */
  row:          'row',
  column:       'column'
);

/*
========================================
.flex-wrap
----------------------------------------
*/

$flex-wrap-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$flex-wrap-plugins: ();

$flex-wrap-manual-values: (
  wrap:         'wrap',
  nowrap:       'nowrap'
);

/*
========================================
.float
----------------------------------------
*/

$float-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$float-plugins: ();

$float-manual-values: (
  /*
  */
  left:         'left',
  none:         'none',
  right:        'right'
);

/*
========================================
.font
----------------------------------------
*/

$font-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-plugins: (
  /*
  'plugin-font-theme-mono-all'
  'plugin-font-theme-sans-all'
  'plugin-font-theme-serif-all'
  'plugin-font-uswds-all'
  'plugin-system-[family]-small'
  'plugin-system-[family]-medium'
  'plugin-system-[family]-large'
  'plugin-system-[family]-xlarge'
  'plugin-system-[family]-all'
  */
  'plugin-font-theme-all',
  'plugin-font-theme-roles-all'
);

$font-manual-values: (
  /*
  */
);

/*
========================================
.font-family
----------------------------------------
*/

$font-family-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-family-plugins: (
  /*
  */
  'plugin-font-stack-roles'
);

$font-family-manual-values: (
  /*
  */
);

/*
========================================
.font-feature-settings
----------------------------------------
*/

$font-feature-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-feature-plugins: (
  /*
  */
  'plugin-misc-font-feature-settings'
);

$font-feature-manual-values: (
  /*
  */
);

/*
========================================
.font-style
----------------------------------------
*/

$font-style-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-style-plugins: ();

$font-style-manual-values: (
  normal:       'normal',
  italic:       'italic'
);

/*
========================================
.font-weight
----------------------------------------
*/

$font-weight-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-weight-plugins: (
  /*
  'plugin-font-weights-numeric'
  */
  'plugin-font-weights-theme'
);

$font-weight-manual-values: (
  /*
  */
);

/*
========================================
.height
----------------------------------------
*/

$height-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$height-plugins: (
  /*
  'plugin-spacing-uswds-small'
  'plugin-spacing-uswds-medium'
  'plugin-spacing-uswds-large'
  'plugin-spacing-uswds-xlarge'
  'plugin-spacing-uswds-all'
  'plugin-spacing-uswds-small'
  'plugin-spacing-uswds-medium'
  'plugin-spacing-uswds-large'
  'plugin-spacing-uswds-xlarge'
  */
  'plugin-spacing-uswds-smaller',
  'plugin-spacing-uswds-small',
  'plugin-spacing-uswds-medium',
  'plugin-spacing-uswds-large',
);

$height-manual-values: (
  /*
  */
  0:      0,
  auto:   auto,
  100vh:  100vh
);

/*
========================================
.left
----------------------------------------
*/

$left-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$left-plugins: (
  /*
  'plugin-spacing-uswds-small'
  'plugin-spacing-uswds-medium'
  'plugin-spacing-uswds-large'
  'plugin-spacing-uswds-xlarge'
  'plugin-spacing-uswds-all'
  'plugin-spacing-uswds-smaller-negative'
  'plugin-spacing-uswds-medium-negative'
  'plugin-spacing-uswds-negative'
  'plugin-spacing-units-percentage'
  'plugin-spacing-uswds-smaller'
  'plugin-spacing-uswds-smaller-negative'
  */
  'plugin-spacing-uswds-smaller',
  'plugin-spacing-uswds-small',
  'plugin-spacing-uswds-smaller-negative',
  'plugin-spacing-uswds-small-negative',
);

$left-manual-values: (
  /*
  */
  0:        0,
  auto:     'auto',
);

/*
========================================
.letter-spacing
----------------------------------------
*/

$letter-spacing-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$letter-spacing-plugins: (
  /*
  */
  'plugin-misc-letter-spacing'
);

$letter-spacing-manual-values: (
  /*
  */
);

/*
========================================
.line-height
----------------------------------------
*/

$line-height-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$line-height-plugins: (
  /*
  */
  'plugin-misc-line-heights'
);

$line-height-manual-values: (
  /*
  */
);

/*
========================================
.list-reset
----------------------------------------
*/

$list-reset-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

/*
========================================
.margin
----------------------------------------
*/

$margin-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$margin-plugins: (
  /*
  'plugin-spacing-uswds-smaller',
  'plugin-spacing-uswds-smaller-negative',
  'plugin-spacing-units-percentage',
  'plugin-spacing-uswds-all',
  'plugin-spacing-uswds-negative',
  'plugin-spacing-units-ch',
  'plugin-spacing-units-ch-negative',
  'plugin-spacing-units-em'
  */
  'plugin-spacing-uswds-smaller',
  'plugin-spacing-uswds-small',
  'plugin-spacing-uswds-medium',
  'plugin-spacing-uswds-smaller-negative',
  'plugin-spacing-uswds-small-negative',
);

$margin-manual-values: (
  /*
  */
  0:            '0',
  auto:         'auto',
);

/*
========================================
.max-height
----------------------------------------
*/

$max-height-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$max-height-plugins: (
  /*
  'plugin-spacing-units-percentage',
  'plugin-spacing-uswds-all',
  'plugin-spacing-uswds-smaller'
  */
  'plugin-spacing-uswds-smaller',
  'plugin-spacing-uswds-small',
  'plugin-spacing-uswds-medium',
  'plugin-spacing-uswds-large',
);

$max-height-manual-values: (
  /*
  */
  none:         'none',
);

/*
========================================
.max-width
----------------------------------------
*/

$max-width-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$max-width-plugins: (
  /*
  'plugin-spacing-units-percentage',
  'plugin-spacing-uswds-breakpoints'
  */
  'plugin-misc-measure'
);

$max-width-manual-values: (
  /*
  */
  none:         'none',
);

/*
========================================
.min-height
----------------------------------------
*/

$min-height-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$min-height-plugins: (
  /*
  'plugin-spacing-units-percentage',
  'plugin-spacing-uswds-small'
  'plugin-spacing-uswds-medium'
  */
  'plugin-spacing-uswds-smaller',
  'plugin-spacing-uswds-small',
  'plugin-spacing-uswds-medium',
  'plugin-spacing-uswds-large',
);

$min-height-manual-values: (
  /*
  */
  '100ct':      100%,
  '100vh':      100vh,
);

/*
========================================
.min-width
----------------------------------------
*/

$min-width-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$min-width-plugins: (
  /*
  'plugin-spacing-uswds-all',
  'plugin-spacing-uswds-smaller-negative',
  'plugin-spacing-units-em',
  'plugin-spacing-units-ch'
  'plugin-spacing-units-percentage'
  */
  'plugin-spacing-uswds-smaller',
  'plugin-spacing-uswds-small',
  'plugin-spacing-uswds-medium',
  'plugin-spacing-uswds-large',
);

$min-width-manual-values: (
  /*
  */
);

/*
========================================
.opacity
----------------------------------------
*/

$opacity-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$opacity-plugins: (
  /*
  */
  'plugin-misc-opacity'
);

$opacity-manual-values: (
  /*
  '0':            '0',
  '01':           '0.1',
  '02':           '0.2',
  '03':           '0.3',
  '04':           '0.4',
  '05':           '0.5',
  '06':           '0.6',
  '07':           '0.7',
  '08':           '0.8',
  '09':           '0.9',
  '1':            '1',
  */
);

/*
========================================
.order
----------------------------------------
*/

$order-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$order-plugins: (
  /*
  */
  'plugin-misc-order'
);

$order-manual-values: (
  /*
  0:            0,
  1:            1,
  2:            2,
  3:            3,
  4:            4,
  5:            5,
  6:            6,
  7:            7,
  8:            8,
  9:            9,
  10:           10,
  11:           11,
  */
  first:        '-1',
  last:         '99'
);

/*
========================================
.outline
----------------------------------------
*/

$outline-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$outline-plugins: (
  /*
  */
  'plugin-spacing-uswds-smaller',
  'plugin-spacing-uswds-small'
);

$outline-manual-values: (
  /*
  */
  0:            'none'
);

/*
========================================
.outline-color
----------------------------------------
*/

$outline-color-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$outline-color-plugins: (
  /*
  */
  $project-color-plugins
);

$outline-color-manual-values: (
  /*
  */
);

/*
========================================
.overflow
----------------------------------------
*/

$overflow-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$overflow-plugins: (
  /*
  */
);

$overflow-manual-values: (
  /*
  */
  'hidden':            hidden,
  'scroll':            scroll,
  'auto':              auto,
  'visiable':          visible,
);

/*
========================================
.padding
----------------------------------------
*/

$padding-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$padding-plugins: (
  /*
  'plugin-spacing-uswds-smaller',
  */
  'plugin-spacing-uswds-smaller',
  'plugin-spacing-uswds-small',
  'plugin-spacing-uswds-medium',
);

$padding-manual-values: (
  /*
  */
  0:            '0'
);

/*
========================================
.position
----------------------------------------
*/

$position-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$position-plugins: (
  /*
  */
);

$position-manual-values: (
  /*
  */
  absolute:     'absolute',
  fixed:        'fixed',
  relative:     'relative',
  static:       'static',
  sticky:       'sticky'
);

/*
========================================
.right
----------------------------------------
*/

$right-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$right-plugins: (
  /*
  'plugin-spacing-uswds-small'
  'plugin-spacing-uswds-medium'
  'plugin-spacing-uswds-large'
  'plugin-spacing-uswds-xlarge'
  'plugin-spacing-uswds-all'
  'plugin-spacing-uswds-smaller-negative'
  'plugin-spacing-uswds-medium-negative'
  'plugin-spacing-uswds-negative'
  'plugin-spacing-units-percentage'
  'plugin-spacing-uswds-smaller'
  'plugin-spacing-uswds-smaller-negative'
  */
  'plugin-spacing-uswds-smaller',
  'plugin-spacing-uswds-small',
  'plugin-spacing-uswds-smaller-negative',
  'plugin-spacing-uswds-small-negative'
);

$right-manual-values: (
  /*
  */
  0:        0,
  auto:     'auto',
);

/*
========================================
.square
----------------------------------------
*/

$square-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$square-plugins: (
  /*
  */
  'plugin-spacing-uswds-all'
);

$square-manual-values: (
  /*
  */
  2px:          '2px'
);

/*
========================================
.text-align
----------------------------------------
*/

$text-align-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$text-align-plugins: (
  /*
  */
);

$text-align-manual-values: (
  /*
  */
  center:       'center',
  left:         'left',
  justify:      'justify',
  right:        'right',
);

/*
========================================
.text-decoration
----------------------------------------
*/

$text-decoration-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$text-decoration-plugins: (
  /*
  */
);

$text-decoration-manual-values: (
  /*
  */
  strike:           'strike',
  underline:        'underline',
  none:             'none'
);

/*
========================================
.text-decoration-color
----------------------------------------
*/

$text-decoration-color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$text-decoration-color-plugins: (
  /*
  'plugin-color-palette-grayscale'
  */
  $project-color-plugins
);

$text-decoration-color-manual-values: (
  /*
  */
);

/*
.text-transform
----------------------------------------
*/

$text-transform-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$text-transform-plugins: (
  /*
  */
);

$text-transform-manual-values: (
  /*
  */
  capitalize:     'capitalize',
  lowercase:      'lowercase',
  uppercase:      'uppercase',
  none:           'none'
);

/*
========================================
.top
----------------------------------------
*/

$top-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$top-plugins: (
  /*
  'plugin-spacing-uswds-small'
  'plugin-spacing-uswds-medium'
  'plugin-spacing-uswds-large'
  'plugin-spacing-uswds-xlarge'
  'plugin-spacing-uswds-all'
  'plugin-spacing-uswds-smaller-negative'
  'plugin-spacing-uswds-medium-negative'
  'plugin-spacing-uswds-negative'
  'plugin-spacing-units-percentage'
  'plugin-spacing-uswds-smaller'
  'plugin-spacing-uswds-smaller-negative'
  */
  'plugin-spacing-uswds-smaller',
  'plugin-spacing-uswds-small',
  'plugin-spacing-uswds-smaller-negative',
  'plugin-spacing-uswds-small-negative'
);

$top-manual-values: (
  /*
  */
  0:        0,
  auto:     'auto',
);

/*
========================================
.vertical-align
----------------------------------------
*/

$vertical-align-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$vertical-align-plugins: (
  /*
  */
);

$vertical-align-manual-values: (
  /*
  */
  baseline:     'baseline',
  bottom:       'bottom',
  middle:       'middle',
  sub:          'sub',
  super:        'super',
  text-bottom:  'text-bottom',
  text-top:     'text-top',
  top:          'top',
);

/*
========================================
.white-space
----------------------------------------
*/

$whitespace-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$whitespace-plugins: (
  /*
  */
);

$whitespace-manual-values: (
  /*
  */
  pre:          'pre',
  pre-line:     'pre-line',
  pre-wrap:     'pre-wrap',
  normal:       'normal',
  nowrap:       'nowrap'
);

/*
========================================
.width
----------------------------------------
*/

$width-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$width-plugins: (
  /*
  'plugin-spacing-uswds-all',
  'plugin-spacing-uswds-smaller',
  'plugin-spacing-units-em',
  'plugin-spacing-units-ch'
  'plugin-spacing-units-percentage'
  */
  'plugin-spacing-uswds-smaller',
  'plugin-spacing-uswds-small',
  'plugin-spacing-uswds-medium',
  'plugin-spacing-uswds-large',
);

$width-manual-values: (
  /*
  100ct:        '100%'
  */
  auto:         'auto',
);

/*
========================================
.z-index
----------------------------------------
*/

$z-index-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$z-index-plugins: (
  /*
  */
  'plugin-misc-z-index'
);

$z-index-manual-values: (
  /*
  */
  auto:         'auto',
);
