/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
PROJECT THEME SETTINGS
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
*/

/*
----------------------------------------
Basic styles
----------------------------------------
Sets the default typography styles for
paragraph text and links

Accepts true or false
----------------------------------------
*/

$theme-global-styles-basic: true;

/*
----------------------------------------
Content styles
----------------------------------------
Sets the default typography styles for
paragraph text, links, headings, lists,
and tables

Accepts global, scoped, or none
----------------------------------------
*/

$theme-content-styles: 'scoped';

/*
----------------------------------------
Namespace
----------------------------------------
*/

$theme-namespace: (
  'component': (
    namespace:  'usa-',
    output:     true,
  ),
  'grid': (
    namespace:  'grid-',
    output:     true,
  ),
  'object': (
    namespace:  'add-',
    output:     true,
  ),
  'utility': (
    namespace:  'u-',
    output:     false,
  ),
);

/*
----------------------------------------
Root font size
----------------------------------------
Setting $theme-respect-user-font-size to
true sets the root font size to 100% and
uses ems for media queries
----------------------------------------
$theme-root-font-size only applies when
$theme-respect-user-font-size is set to
false.

This will set the root font size
as a specific px value and use px values
for media queries.

Accepts true or false
----------------------------------------
*/

$theme-respect-user-font-size: false;

// $theme-root-font-size only applies when
// $theme-respect-user-font-size is set to
// false.

// This will set the root font size
// as a specific px value and use px values
// for media queries.

// Accepts values in px

$theme-root-font-size: 10px;

/*
----------------------------------------
Border box sizing
----------------------------------------
When set to true, it sets the box-sizing
property of all elements to
`border-box`.
----------------------------------------
*/

$border-box-sizing: false;

/*
----------------------------------------
Paths
----------------------------------------
Relative font and image file paths
----------------------------------------
*/

$theme-font-path:   '../fonts';
$theme-image-path:  '../img';

/*
----------------------------------------
Output breakpoints
----------------------------------------
Which breakpoints does your project
need? Select as `true` any breakpoint
used by utilities or layout grid
----------------------------------------
*/

$theme-output-breakpoints: (
  'card':             false,   // 160px
  'card-lg':          false,   // 240px
  'mobile':           false,   // 320px
  'mobile-lg':        true,    // 480px
  'tablet':           true,    // 640px
  'tablet-lg':        false,   // 800px
  'desktop':          true,    // 1040px
  'desktop-lg':       false,   // 1200px
  'widescreen':       false,   // 1400px
);

/*
----------------------------------------
Custom font definitions
----------------------------------------
Add a new custom font definition if
your project uses a typeface we've
not already defined.
----------------------------------------
The following faces are defined in the
system:

'georgia'
'helvetica'
'merriweather'
'open-sans'
'public-sans'
'roboto-mono'
'source-sans-pro'
'system'
'tahoma'
'verdana'
----------------------------------------
*/

$theme-font-definitions: (
  /*
  font-new: (
    name: 'Font Display Name',
    dir: 'folder-name', // relative to settings.$theme-font-path
    stack: $font-stack-system,
    system-font: false,
    cap-height: '364px', // height of a 500px `N` in Sketch
    variable-font: false,
    generate: false,
    roman: (
      100: 'Filename-without-extension', // or false
      200: 'Filename-without-extension', // or false
      300: 'Filename-without-extension', // or false
      400: 'Filename-without-extension', // or false
      500: 'Filename-without-extension', // or false
      600: 'Filename-without-extension', // or false
      700: 'Filename-without-extension', // or false
      800: 'Filename-without-extension', // or false
      900: 'Filename-without-extension', // or false
    ),
    italic: (
      100: 'Filename-without-extension', // or false
      200: 'Filename-without-extension', // or false
      300: 'Filename-without-extension', // or false
      400: 'Filename-without-extension', // or false
      500: 'Filename-without-extension', // or false
      600: 'Filename-without-extension', // or false
      700: 'Filename-without-extension', // or false
      800: 'Filename-without-extension', // or false
      900: 'Filename-without-extension', // or false
    ),
  ),
  */
);

/*
----------------------------------------
Fonts in use
----------------------------------------
Set the sans, serif, and mono faces for
your project
----------------------------------------
The following faces are defined in the
system:

'georgia'
'helvetica'
'merriweather'
'open-sans'
'public-sans'
'roboto-mono'
'source-sans-pro'
'system'
'tahoma'
'verdana'
----------------------------------------
*/

$theme-font-mono:   'roboto-mono';
$theme-font-sans:   'source-sans-pro';
$theme-font-serif:  'merriweather';
$theme-font-cond:   false;

/*
----------------------------------------
Fonts by type
----------------------------------------
Set the heading, body, code, and alt
faces for your project from

$theme-font-sans
$theme-font-serif
$theme-font-mono
$theme-font-cond
----------------------------------------
*/

$theme-font-heading:  $theme-font-serif;
$theme-font-body:     $theme-font-serif;
$theme-font-code:     $theme-font-mono;
$theme-font-alt:      $theme-font-sans;

/*
----------------------------------------
Type scale
----------------------------------------
Define your project's type scale using
values from the USWDS system type scale

1-20
----------------------------------------
*/

$theme-type-scale-3xs:  1;
$theme-type-scale-2xs:  3;
$theme-type-scale-xs:   5;
$theme-type-scale-sm:   6;
$theme-type-scale-md:   7;
$theme-type-scale-lg:   10;
$theme-type-scale-xl:   12;
$theme-type-scale-2xl:  14;
$theme-type-scale-3xl:  16;

/*
----------------------------------------
Font weights
----------------------------------------
Assign weights 100-900
Or use `false` for unneeded weights.
----------------------------------------
*/

$theme-output-all-weights:        false;

$theme-font-weight-thin:          false;
$theme-font-weight-light:         300;
$theme-font-weight-normal:        400;
$theme-font-weight-medium:        false;
$theme-font-weight-semibold:      false;
$theme-font-weight-bold:          700;
$theme-font-weight-heavy:         false;

/*
----------------------------------------
Palette colors
----------------------------------------
*/

$theme-color-base-family:          'gray';
$theme-color-base-lightest:        $theme-color-base-family, 2;
$theme-color-base-lighter:         $theme-color-base-family, 5;
$theme-color-base-light:           $theme-color-base-family, 10;
$theme-color-base:                 $theme-color-base-family, 30;
$theme-color-base-dark:            $theme-color-base-family, 50;
$theme-color-base-darker:          $theme-color-base-family, 70;
$theme-color-base-darkest:         $theme-color-base-family, 90;
$theme-color-ink:                 $theme-color-base-darkest;

$theme-color-primary-family:       'blue';
$theme-color-primary-lightest:     false;
$theme-color-primary-lighter:      $theme-color-primary-family, 10;
$theme-color-primary-light:        $theme-color-primary-family, 30;
$theme-color-primary:              $theme-color-primary-family, 60, vivid;
$theme-color-primary-vivid:        'blue-warm', 60, vivid;
$theme-color-primary-dark:         'blue-warm', 70, vivid;
$theme-color-primary-darker:       'blue-warm', 80, vivid;
$theme-color-primary-darkest:      false;

$theme-color-secondary-family:     'red';
$theme-color-secondary-lightest:   false;
$theme-color-secondary-lighter:    $theme-color-secondary-family, 10;
$theme-color-secondary-light:      $theme-color-secondary-family, 30;
$theme-color-secondary:            $theme-color-secondary-family, 50;
$theme-color-secondary-vivid:      $theme-color-secondary-family, 50, vivid;
$theme-color-secondary-dark:       $theme-color-secondary-family, 60, vivid;
$theme-color-secondary-darker:     $theme-color-secondary-family, 70, vivid;
$theme-color-secondary-darkest:    false;

$theme-color-accent-warm-family:   'orange';
$theme-color-accent-warm-lightest: false;
$theme-color-accent-warm-lighter:  $theme-color-accent-warm-family, 10;
$theme-color-accent-warm-light:    $theme-color-accent-warm-family, 20, vivid;
$theme-color-accent-warm:          $theme-color-accent-warm-family, 30, vivid;
$theme-color-accent-warm-dark:     $theme-color-accent-warm-family, 50, vivid;
$theme-color-accent-warm-darker:   $theme-color-accent-warm-family, 60;
$theme-color-accent-warm-darkest:  false;

$theme-color-accent-cool-family:   'cyan';
$theme-color-accent-cool-lightest: false;
$theme-color-accent-cool-lighter:  $theme-color-accent-cool-family, 5;
$theme-color-accent-cool-light:    $theme-color-accent-cool-family, 20;
$theme-color-accent-cool:          $theme-color-accent-cool-family, 30, vivid;
$theme-color-accent-cool-dark:     $theme-color-accent-cool-family, 40, vivid;
$theme-color-accent-cool-darker:   'blue', 60;
$theme-color-accent-cool-darkest:  false;

/*
----------------------------------------
State colors
----------------------------------------
*/

// Error colors
$theme-color-error-family:     'red';
$theme-color-error-lighter:    $theme-color-error-family, 30, vivid;
$theme-color-error-light:      $theme-color-error-family, 40, vivid;
$theme-color-error:            $theme-color-error-family, 50, vivid;
$theme-color-error-dark:       $theme-color-error-family, 60;
$theme-color-error-darker:     $theme-color-error-family, 70;

// Warning colors
$theme-color-warn-family:      'orange';
$theme-color-warn-lighter:     $theme-color-warn-family, 10;
$theme-color-warn-light:       $theme-color-warn-family, 20, vivid;
$theme-color-warn:             $theme-color-warn-family, 30, vivid;
$theme-color-warn-dark:        $theme-color-warn-family, 40;
$theme-color-warn-darker:      $theme-color-warn-family, 50;

// Success colors
$theme-color-success-family:   'green-cool';
$theme-color-success-lighter:  $theme-color-success-family, 20, vivid;
$theme-color-success-light:    $theme-color-success-family, 30, vivid;
$theme-color-success:          $theme-color-success-family, 40, vivid;
$theme-color-success-dark:     $theme-color-success-family, 50;
$theme-color-success-darker:   $theme-color-success-family, 70;

// Disabled color
$theme-color-disabled-family:  'gray';
$theme-color-disabled:         $theme-color-disabled-family, 30;

/*
----------------------------------------
Border radius
----------------------------------------
2px           2px
0.5           4px
1             8px
1.5           12px
2             16px
2.5           20px
3             24px
4             32px
5             40px
6             48px
7             56px
8             64px
9             72px
----------------------------------------
*/

$theme-border-radius-sm:       2px;
$theme-border-radius-md:       0.5;
$theme-border-radius-lg:       1;

/*
----------------------------------------
Column gap
----------------------------------------
2px         2px
0.5         4px
1           8px
2           16px
3           24px
4           32px
5           48px
----------------------------------------
*/

$theme-column-gap-small: 2px;
$theme-column-gap:       2;
$theme-column-gap-large: 3;

/*
----------------------------------------
Grid container max-width
----------------------------------------
mobile
mobile-lg
tablet
tablet-lg
desktop
desktop-lg
widescreen
----------------------------------------
*/

$theme-grid-container-max-width: desktop;

/*
----------------------------------------
New stuff from variables
----------------------------------------
Type scale tokens
----------------------------------------
micro:      10px
1:          12px
2:          13px
3:          14px
4:          15px
5:          16px
6:          17px
7:          18px
8:          20px
9:          22px
10:         24px
11:         28px
12:         32px
13:         36px
14:         40px
15:         48px
16:         56px
17:         64px
18:         80px
19:         120px
20:         140px
----------------------------------------
Line height tokens
----------------------------------------
1:    1
2:    1.15
3:    1.35
4:    1.5
5:    1.62
6:    1.75
----------------------------------------
*/

$theme-base-font-size:      6; // was 1.7rem
$theme-small-font-size:     3; // was 1.4rem
$theme-lead-font-size:      8; // was 2rem
$theme-title-font-size:     15; // was 5.2rem
$theme-h1-font-size:        14; // was 4rem
$theme-h2-font-size:        11; // was 3rem
$theme-h3-font-size:        8; // was 2rem
$theme-h4-font-size:        6; // was 1.7rem
$theme-h5-font-size:        4; // was 1.5rem
$theme-h6-font-size:        2; // was 1.3rem
$theme-base-line-height:    4; // was 1.5
$theme-heading-line-height: 3; // was 1.3
$theme-lead-line-height:    6; // was 1.7

$theme-site-margins:        4; // was 3rem
$theme-site-margins-mobile: 2; // was 1.5rem

$theme-nav-width:           'desktop'; // was 951px
$theme-site-max-width:      'desktop'; // was 1040px

$theme-font-weight-normal:         400;
$theme-font-weight-bold:           700;
