/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS UTILITIES SETTINGS
----------------------------------------
*/

$utilities-use-important:     false;
$output-all-utilities:        true;

/*
----------------------------------------
Global colors
----------------------------------------
The following plugins will be added to
- background-color
- border-color
- color
- text-decoration-color
----------------------------------------
*/

$global-color-plugins: (
  'plugin-color-palette-theme',
  'plugin-color-palette-basic',
  'plugin-color-palette-grayscale'
);

/*
----------------------------------------
Settings
----------------------------------------
*/

$add-aspect-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$add-list-reset-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$align-items-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$background-color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

$border-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

$border-color-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

$border-radius-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$border-style-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$border-width-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$bottom-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$box-shadow-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

$circle-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$clearfix-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

$cursor-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$display-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$flex-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$flex-direction-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$flex-wrap-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$float-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-family-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-feature-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-style-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-weight-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$height-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$justify-content-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$left-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$letter-spacing-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$line-height-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$margin-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$max-height-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$max-width-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$measure-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$min-height-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$min-width-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$opacity-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$order-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$outline-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$outline-color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$overflow-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$padding-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$pin-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$position-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$right-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$square-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$text-align-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$text-decoration-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

$text-decoration-color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

$text-indent-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$text-transform-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$top-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$vertical-align-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$whitespace-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$width-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$z-index-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

/*
----------------------------------------
Values
----------------------------------------
*/

// .add-aspect

$add-aspect-plugins: ();
$add-aspect-manual-values: ();

// .align-items

$align-items-plugins: ( 'plugin-standard-align-items' );
$align-items-manual-values: ();

// .background-color

$background-color-plugins: ();
$background-color-manual-values: ();

// .border

$border-plugins: ( 'plugin-standard-border' );
$border-manual-values: ();

// .border-color

$border-color-plugins: ();
$border-color-manual-values: ();

// .border-radius

$border-radius-plugins: ( 'plugin-standard-border-radius' );
$border-radius-manual-values: ();

// .border-style

$border-style-plugins: ( 'plugin-standard-border-style' );
$border-style-manual-values: ();

// .border-width

$border-width-plugins: ( 'plugin-standard-border-width' );
$border-width-manual-values: ();

// .bottom

$bottom-plugins: ( 'plugin-standard-bottom' );

$bottom-manual-values: ();

// .box-shadow

$box-shadow-plugins: (
  /*
  */
  'plugin-standard-box-shadow'
);

$box-shadow-manual-values: ();

// .circle

$circle-plugins: ( 'plugin-standard-circle' );
$circle-manual-values: ();

// .color

$color-plugins: ();
$color-manual-values: ();

// .cursor

$cursor-plugins: ( 'plugin-standard-cursor' );
$cursor-manual-values: ();

// .display

$display-plugins: ( 'plugin-standard-display' );
$display-manual-values: ();

// .flex

$flex-plugins: ( 'plugin-standard-flex' );
$flex-manual-values: ();

// .flex-direction

$flex-direction-plugins: ( 'plugin-standard-flex-direction' );
$flex-direction-manual-values: ();

// .flex-wrap

$flex-wrap-plugins: ( 'plugin-standard-flex-wrap' );
$flex-wrap-manual-values: ();

// .float

$float-plugins: ( 'plugin-standard-float' );
$float-manual-values: ();

// .font

$font-plugins: (
  'plugin-font-theme-all',
  'plugin-font-theme-roles-all'
);
$font-manual-values: ();

// .font-family

$font-family-plugins: ( 'plugin-standard-font-family' );
$font-family-manual-values: ();

// .font-feature-settings

$font-feature-plugins: ( 'plugin-standard-font-feature-settings' );
$font-feature-manual-values: ();

// .font-style

$font-style-plugins: ( 'plugin-standard-font-style' );
$font-style-manual-values: ();

// .font-weight

$font-weight-plugins: ( 'plugin-standard-font-weight' );
$font-weight-manual-values: ();

// .height

$height-plugins: ( 'plugin-standard-height' );
$height-manual-values: ();

// .justify-content

$justify-content-plugins: ( 'plugin-standard-justify-content' );
$justify-content-manual-values: ();

// .left

$left-plugins: ( 'plugin-standard-left' );
$left-manual-values: ();

// .letter-spacing

$letter-spacing-plugins: ( 'plugin-standard-letter-spacing' );
$letter-spacing-manual-values: ();

// .line-height

$line-height-plugins: ( 'plugin-standard-line-height' );
$line-height-manual-values: ();

// .margin

$margin-plugins: ( 'plugin-standard-margin' );
$margin-manual-values: ();
$margin-vertical-plugins: ( 'plugin-standard-margin-vertical' );
$margin-vertical-manual-values: ();
$margin-horizontal-plugins: ( 'plugin-standard-margin-horizontal' );
$margin-horizontal-manual-values: ();

// .max-height

$max-height-plugins: ( 'plugin-standard-max-height' );
$max-height-manual-values: ();

// .max-width

$max-width-plugins: ( 'plugin-standard-max-width' );
$max-width-manual-values: ();

// .measure

$measure-plugins: ( 'plugin-standard-measure' );
$measure-manual-values: ();

// .min-height

$min-height-plugins: ( 'plugin-standard-min-height' );
$min-height-manual-values: ();

// .min-width

$min-width-plugins: ( 'plugin-standard-min-width' );
$min-width-manual-values: ();

// .opacity

$opacity-plugins: ( 'plugin-standard-opacity' );
$opacity-manual-values: ();

// .order

$order-plugins: ( 'plugin-standard-order' );
$order-manual-values: ();

// .outline

$outline-plugins: ( 'plugin-standard-outline' );
$outline-manual-values: ();

// .outline-color

$outline-color-plugins: ( 'plugin-standard-outline-color' );
$outline-color-manual-values: ();

// .overflow

$overflow-plugins: ( 'plugin-standard-overflow' );
$overflow-manual-values: ();

// .padding

$padding-plugins: ( 'plugin-standard-padding' );
$padding-manual-values: ();

// .position

$position-plugins: ( 'plugin-standard-position' );
$position-manual-values: ();

// .right

$right-plugins: ( 'plugin-standard-right' );
$right-manual-values: ();

// .square

$square-plugins: ( 'plugin-standard-square' );
$square-manual-values: ();

// .text-align

$text-align-plugins: ( 'plugin-standard-text-align' );
$text-align-manual-values: ();

// .text-decoration

$text-decoration-plugins: ( 'plugin-standard-text-decoration' );
$text-decoration-manual-values: ();

// .text-decoration-color

$text-decoration-color-plugins: ();
$text-decoration-color-manual-values: ();

// .text-indent

$text-indent-plugins: ( 'plugin-standard-text-indent' );
$text-indent-manual-values: ();

// .text-transform

$text-transform-plugins: ( 'plugin-standard-text-transform' );
$text-transform-manual-values: ();

// .top


$top-plugins: ( 'plugin-standard-top' );
$top-manual-values: ();

// .vertical-align

$vertical-align-plugins: ( 'plugin-standard-vertical-align' );
$vertical-align-manual-values: ();

// .white-space

$whitespace-plugins: ( 'plugin-standard-white-space' );
$whitespace-manual-values: ();

// .width

$width-plugins: ( 'plugin-standard-width' );
$width-manual-values: ();

// .z-index

$z-index-plugins: ( 'plugin-standard-z-index' );
$z-index-manual-values: ();
