// PROJECT SETTINGS

// ---------------------------------------------
// BREAKPOINTS

// These will be converted to em values based on the
// value of $theme-base-font-size

$theme-xsmall-screen:   false;  //400px
$theme-small-screen:    481px;  //600px
$theme-medium-screen:   600px;  //800px
$theme-large-screen:    1201px; //1000px
$theme-xlarge-screen:   false;  //1200px

// ---------------------------------------------
// FONTS

// Relative font and image file paths

$theme-font-path:   '../fonts';
$theme-image-path:  '../img';

// Set hed, body, and alt from
// $theme-font-sans
// $theme-font-serif
// $theme-font-mono

$theme-font-heading:    $theme-font-sans;
$theme-font-body:   $theme-font-serif;
$theme-font-alt:    $theme-font-sans;

// ---------------------------------------------
// SPACING

// values  - - - - - - - - - - - - - - - - - - -
// $theme-font-size-NN:       $spacing-NN;
//                        1px
//                        2px

$spacing-3xs:           false;
$spacing-2xs:           false;
$spacing-xs:            $spacing-05;
$spacing-sm:            $spacing-1;
$spacing-md:            $spacing-2;
$spacing-lg:            $spacing-3;
$spacing-xl:            $spacing-4;
$spacing-2xl:           $spacing-5;
$spacing-3xl:           $spacing-9;

// ---------------------------------------------
// TYPE SCALE

// values  - - - - - - - - - - - - - - - - - - -
// $theme-font-size-NN:       $type-scale-NN;

$theme-font-size-micro:         $type-scale-1;
$theme-font-size-smallest:         $type-scale-3;
$theme-font-size-smaller:          $type-scale-5;
$theme-font-size-small:          $type-scale-6;
$theme-font-size-base:          $type-scale-7;
$theme-font-size-large:          $type-scale-10;
$theme-font-size-larger:          $type-scale-12;
$theme-font-size-largest:         $type-scale-14;
$theme-font-size-mega:         $type-scale-16;

// ---------------------------------------------
// FONT WEIGHTS

// values  - - - - - - - - - - - - - - - - - - -
// $theme-fw-NN:              100-900 (mults of 100);

$theme-output-all-weights:    false;

$theme-fw-xlight:             200;
$theme-fw-light:              300;
$theme-fw-normal:             400;
$theme-fw-bold:               600;
$theme-fw-xbold:              700;

// ---------------------------------------------
// COLORS

// values  - - - - - - - - - - - - - - - - - - -
// $theme-color-NN:           $NN;

// Identity colors
$theme-color-id-1:            $red-warm-50v;
$theme-color-id-1-dark:       $red-warm-60;
$theme-color-id-1-xdark:      $red-warm-70;
$theme-color-id-1-light:      $red-warm-40;
$theme-color-id-1-xlight:     $red-warm-20;

$theme-color-id-2:            $indigo-50v;
$theme-color-id-2-dark:       $indigo-60v;
$theme-color-id-2-xdark:      $indigo-70;
$theme-color-id-2-light:      $indigo-40;
$theme-color-id-2-xlight:     $indigo-20;

// Accent colors
$theme-color-accent-1:        $black-warm-80;
$theme-color-accent-2:        $orange-warm-40v;
$theme-color-accent-3:        $green-warm-10v;

// UI colors
$theme-color-ui-1:            $black-90;
$theme-color-ui-2:            $black-70;
$theme-color-ui-3:            $black-50;
$theme-color-ui-4:            $black-50;
$theme-color-ui-5:            $black-warm-20;
$theme-color-ui-6:            $blue-warm-60v;

// Text colors
$theme-color-text-1:          $black-90;
$theme-color-text-2:          $blue-warm-60v;
$theme-color-text-3:          $black-50;
$theme-color-text-4:          $black-50;
$theme-color-text-inverse:    $white-0;

// Field colors
$theme-color-field-1:         $white-warm-1;
$theme-color-field-2:         $white-warm-4;
$theme-color-field-3:         $green-warm-5;
$theme-color-field-4:         $black-warm-90;

// Error colors
$theme-color-error:           $red-50v;
$theme-color-error-dark:      $red-60;
$theme-color-error-xdark:     $red-70;
$theme-color-error-light:     $red-40v;
$theme-color-error-xlight:    $red-30v;

// Warning colors
$theme-color-warn:            $orange-30v;
$theme-color-warn-dark:       $orange-40;
$theme-color-warn-xdark:      $orange-50;
$theme-color-warn-light:      $orange-20v;
$theme-color-warn-xlight:     $orange-10;

// Success colors
$theme-color-success:         $green-cool-40v;
$theme-color-success-dark:    $green-cool-50;
$theme-color-success-xdark:   $green-cool-70;
$theme-color-success-light:   $green-cool-30v;
$theme-color-success-xlight:  $green-cool-20v;

// OK colors
$theme-color-ok:              $blue-warm-50v;
$theme-color-ok-dark:         $blue-warm-60v;
$theme-color-ok-xdark:        $blue-warm-70;
$theme-color-ok-light:        $blue-warm-40v;
$theme-color-ok-xlight:       $blue-warm-30;

// Disabled color
$theme-color-disabled:        $black-30;

// Other colors
$theme-color-banner:          $black-90;
$theme-color-highlight:       $gold-20v;

// ---------------------------------------------
// BORDER RADIUS

// values  - - - - - - - - - - - - - - - - - - -
// $theme-radius-NN:          $spacing-NN;
//                        1px
//                        2px

$theme-radius-sm:             2px;
$theme-radius-md:             $spacing-05;
$theme-radius-lg:             false;
