<ul class="usa-list usa-list--unstyled">
  <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Secondary link</a></li>
  <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Secondary link</a></li>
  <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Secondary link that's a bit longer than most of the others</a></li>
  <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Secondary link</a></li>
</ul>
