@use "../settings";
@use "../tokens/color/global";
@use "../tokens/color/system-colors";
@use "../functions/utilities/color" as *;
@use "../functions/general";

$project-colors: (
  "base": (
    "lightest": color(settings.$theme-color-base-lightest, set-theme),
    "lighter": color(settings.$theme-color-base-lighter, set-theme),
    "light": color(settings.$theme-color-base-light, set-theme),
    "default": color(settings.$theme-color-base, set-theme),
    "dark": color(settings.$theme-color-base-dark, set-theme),
    "darker": color(settings.$theme-color-base-darker, set-theme),
    "darkest": color(settings.$theme-color-base-darkest, set-theme),
  ),
  "primary": (
    "lightest": color(settings.$theme-color-primary-lightest, set-theme),
    "lighter": color(settings.$theme-color-primary-lighter, set-theme),
    "light": color(settings.$theme-color-primary-light, set-theme),
    "default": color(settings.$theme-color-primary, set-theme),
    "vivid": color(settings.$theme-color-primary-vivid, set-theme),
    "dark": color(settings.$theme-color-primary-dark, set-theme),
    "darker": color(settings.$theme-color-primary-darker, set-theme),
    "darkest": color(settings.$theme-color-primary-darkest, set-theme),
  ),
  "secondary": (
    "lightest": color(settings.$theme-color-secondary-lightest, set-theme),
    "lighter": color(settings.$theme-color-secondary-lighter, set-theme),
    "light": color(settings.$theme-color-secondary-light, set-theme),
    "default": color(settings.$theme-color-secondary, set-theme),
    "vivid": color(settings.$theme-color-secondary-vivid, set-theme),
    "dark": color(settings.$theme-color-secondary-dark, set-theme),
    "darker": color(settings.$theme-color-secondary-darker, set-theme),
    "darkest": color(settings.$theme-color-secondary-darkest, set-theme),
  ),
  "accent-warm": (
    "lightest": color(settings.$theme-color-accent-warm-lightest, set-theme),
    "lighter": color(settings.$theme-color-accent-warm-lighter, set-theme),
    "light": color(settings.$theme-color-accent-warm-light, set-theme),
    "default": color(settings.$theme-color-accent-warm, set-theme),
    "dark": color(settings.$theme-color-accent-warm-dark, set-theme),
    "darker": color(settings.$theme-color-accent-warm-darker, set-theme),
    "darkest": color(settings.$theme-color-accent-warm-darkest, set-theme),
  ),
  "accent-cool": (
    "lightest": color(settings.$theme-color-accent-cool-lightest, set-theme),
    "lighter": color(settings.$theme-color-accent-cool-lighter, set-theme),
    "light": color(settings.$theme-color-accent-cool-light, set-theme),
    "default": color(settings.$theme-color-accent-cool, set-theme),
    "dark": color(settings.$theme-color-accent-cool-dark, set-theme),
    "darker": color(settings.$theme-color-accent-cool-darker, set-theme),
    "darkest": color(settings.$theme-color-accent-cool-darkest, set-theme),
  ),
);

$project-state-colors: (
  "error": (
    "lighter": color(settings.$theme-color-error-lighter, set-theme),
    "light": color(settings.$theme-color-error-light, set-theme),
    "default": color(settings.$theme-color-error, set-theme),
    "dark": color(settings.$theme-color-error-dark, set-theme),
    "darker": color(settings.$theme-color-error-darker, set-theme),
  ),
  "warning": (
    "lighter": color(settings.$theme-color-warning-lighter, set-theme),
    "light": color(settings.$theme-color-warning-light, set-theme),
    "default": color(settings.$theme-color-warning, set-theme),
    "dark": color(settings.$theme-color-warning-dark, set-theme),
    "darker": color(settings.$theme-color-warning-darker, set-theme),
  ),
  "success": (
    "lighter": color(settings.$theme-color-success-lighter, set-theme),
    "light": color(settings.$theme-color-success-light, set-theme),
    "default": color(settings.$theme-color-success, set-theme),
    "dark": color(settings.$theme-color-success-dark, set-theme),
    "darker": color(settings.$theme-color-success-darker, set-theme),
  ),
  "info": (
    "lighter": color(settings.$theme-color-info-lighter, set-theme),
    "light": color(settings.$theme-color-info-light, set-theme),
    "default": color(settings.$theme-color-info, set-theme),
    "dark": color(settings.$theme-color-info-dark, set-theme),
    "darker": color(settings.$theme-color-info-darker, set-theme),
  ),
  "disabled": (
    "light": color(settings.$theme-color-disabled-light, set-theme),
    "default": color(settings.$theme-color-disabled, set-theme),
    "dark": color(settings.$theme-color-disabled-dark, set-theme),
  ),
);

$all-project-colors: general.map-collect(
  $project-colors,
  $project-state-colors
);

$palette-colors: general.map-collect(
  $all-project-colors,
  global.$tokens-color-global,
  system-colors.$system-colors
);
