<div class="usa-summary-box" role="complementary">
  <div class="usa-summary-box__body">
    <h3 class="usa-summary-box__heading">Key information</h3>
    <div class="usa-summary-box__text">
      <ul class="usa-list">
        <li>If you are under a winter storm warning,
          <a class="usa-summary-box__link" href="#usa-anchor-find-shelter">find shelter</a>
          right away.</li>
        <li>Sign up for
          <a class="usa-summary-box__link" href="#usa-anchor-warning-system">your community’s warning system</a>.</li>
        <li>Learn the signs of, and basic treatments for,
          <a class="usa-summary-box__link" href="#usa-anchor-frostbite">frostbite</a>
          and
          <a class="usa-summary-box__link" href="#usa-anchor-hypothermia">hypothermia</a>.</li>
        <li>Gather emergency supplies for your
          <a class="usa-summary-box__link" href="#usa-anchor-home">home</a>
          and your
          <a class="usa-summary-box__link" href="#usa-anchor-car">car</a>.</li>
      </ul>
    </div>
  </div>
</div>