// Collect all the individual utility maps
// into a single map for looping.

$utilities: map-collect(
  $background,
  $border-color,
  $border-radius,
  $border-style,
  $border-width,
  $clear,
  $clearfix,
  $color,
  $col,
  $display,
  $elevation,
  $float,
  $flex-align,
  $flex-direction,
  $flex-wrap,
  $flex-size,
  $font-family,
  $font-size,
  $font-style,
  $font-weight,
  $height,
  $letter-spacing,
  $line-height,
  $line-length,
  $list-reset,
  $manual-position,
  $margin,
  $max-height,
  $max-width,
  $min-height,
  $min-width,
  $opacity,
  $opentype,
  $order,
  $outline-1-width,
  $outline-2-color,
  $padding,
  $position,
  $row,
  $square,
  $text-align,
  $text-decoration,
  $text-transform,
  $vertical-align,
  $whitespace,
  $width,
  $z-index
);
