$utility-type: "units";
$values-units: (
  ch: (
    '05ch': '.5ch',
    '1ch': '1ch',
    '105ch': '1.5ch',
    '2ch': '2ch',
    '3ch': '3ch',
    '4ch': '4ch',
    '5ch': '5ch',
  ),
  colors: (
    'transparent': ('transparent', isReadable),
    'black': ($u-color-black-100, isReadable),
    'white': ($u-color-white-0, isReadable),
  //
  //  system colors
  //
    'violet-warm-5': ($u-color-violet-warm-5, isReadable),
    'violet-warm-10': ($u-color-violet-warm-10, isReadable),
    'violet-warm-20': ($u-color-violet-warm-20, isReadable),
    'violet-warm-30': ($u-color-violet-warm-30, isReadable),
    'violet-warm-40': ($u-color-violet-warm-40, isReadable),
    'violet-warm-50': ($u-color-violet-warm-50, isReadable),
    'violet-warm-60': ($u-color-violet-warm-60, isReadable),
    'violet-warm-70': ($u-color-violet-warm-70, isReadable),
    'violet-warm-80': ($u-color-violet-warm-80, isReadable),
    'violet-warm-90': ($u-color-violet-warm-90, isReadable),
    'violet-warm-5v': ($u-color-violet-warm-5v, isReadable),
    'violet-warm-10v': ($u-color-violet-warm-10v, isReadable),
    'violet-warm-20v': ($u-color-violet-warm-20v, isReadable),
    'violet-warm-30v': ($u-color-violet-warm-30v, isReadable),
    'violet-warm-40v': ($u-color-violet-warm-40v, isReadable),
    'violet-warm-50v': ($u-color-violet-warm-50v, isReadable),
    'violet-5': ($u-color-violet-5, isReadable),
    'violet-10': ($u-color-violet-10, isReadable),
    'violet-20': ($u-color-violet-20, isReadable),
    'violet-30': ($u-color-violet-30, isReadable),
    'violet-40': ($u-color-violet-40, isReadable),
    'violet-50': ($u-color-violet-50, isReadable),
    'violet-60': ($u-color-violet-60, isReadable),
    'violet-70': ($u-color-violet-70, isReadable),
    'violet-80': ($u-color-violet-80, isReadable),
    'violet-90': ($u-color-violet-90, isReadable),
    'violet-30v': ($u-color-violet-30v, isReadable),
    'violet-40v': ($u-color-violet-40v, isReadable),
    'violet-50v': ($u-color-violet-50v, isReadable),
    'violet-60v': ($u-color-violet-60v, isReadable),
    'violet-70v': ($u-color-violet-70v, isReadable),
    'indigo-warm-5': ($u-color-indigo-warm-5, isReadable),
    'indigo-warm-10': ($u-color-indigo-warm-10, isReadable),
    'indigo-warm-20': ($u-color-indigo-warm-20, isReadable),
    'indigo-warm-30': ($u-color-indigo-warm-30, isReadable),
    'indigo-warm-40': ($u-color-indigo-warm-40, isReadable),
    'indigo-warm-50': ($u-color-indigo-warm-50, isReadable),
    'indigo-warm-60': ($u-color-indigo-warm-60, isReadable),
    'indigo-warm-70': ($u-color-indigo-warm-70, isReadable),
    'indigo-warm-80': ($u-color-indigo-warm-80, isReadable),
    'indigo-warm-90': ($u-color-indigo-warm-90, isReadable),
    'indigo-warm-30v': ($u-color-indigo-warm-30v, isReadable),
    'indigo-warm-40v': ($u-color-indigo-warm-40v, isReadable),
    'indigo-warm-50v': ($u-color-indigo-warm-50v, isReadable),
    'indigo-warm-60v': ($u-color-indigo-warm-60v, isReadable),
    'indigo-5': ($u-color-indigo-5, isReadable),
    'indigo-10': ($u-color-indigo-10, isReadable),
    'indigo-20': ($u-color-indigo-20, isReadable),
    'indigo-30': ($u-color-indigo-30, isReadable),
    'indigo-40': ($u-color-indigo-40, isReadable),
    'indigo-50': ($u-color-indigo-50, isReadable),
    'indigo-60': ($u-color-indigo-60, isReadable),
    'indigo-70': ($u-color-indigo-70, isReadable),
    'indigo-80': ($u-color-indigo-80, isReadable),
    'indigo-90': ($u-color-indigo-90, isReadable),
    'indigo-20v': ($u-color-indigo-20v, isReadable),
    'indigo-30v': ($u-color-indigo-30v, isReadable),
    'indigo-50v': ($u-color-indigo-50v, isReadable),
    'indigo-60v': ($u-color-indigo-60v, isReadable),
    'indigo-cool-5': ($u-color-indigo-cool-5, isReadable),
    'indigo-cool-10': ($u-color-indigo-cool-10, isReadable),
    'indigo-cool-20': ($u-color-indigo-cool-20, isReadable),
    'indigo-cool-30': ($u-color-indigo-cool-30, isReadable),
    'indigo-cool-40': ($u-color-indigo-cool-40, isReadable),
    'indigo-cool-50': ($u-color-indigo-cool-50, isReadable),
    'indigo-cool-60': ($u-color-indigo-cool-60, isReadable),
    'indigo-cool-70': ($u-color-indigo-cool-70, isReadable),
    'indigo-cool-80': ($u-color-indigo-cool-80, isReadable),
    'indigo-cool-90': ($u-color-indigo-cool-90, isReadable),
    'indigo-cool-40v': ($u-color-indigo-cool-40v, isReadable),
    'blue-warm-5': ($u-color-blue-warm-5, isReadable),
    'blue-warm-10': ($u-color-blue-warm-10, isReadable),
    'blue-warm-20': ($u-color-blue-warm-20, isReadable),
    'blue-warm-30': ($u-color-blue-warm-30, isReadable),
    'blue-warm-40': ($u-color-blue-warm-40, isReadable),
    'blue-warm-50': ($u-color-blue-warm-50, isReadable),
    'blue-warm-60': ($u-color-blue-warm-60, isReadable),
    'blue-warm-70': ($u-color-blue-warm-70, isReadable),
    'blue-warm-80': ($u-color-blue-warm-80, isReadable),
    'blue-warm-90': ($u-color-blue-warm-90, isReadable),
    'blue-warm-40v': ($u-color-blue-warm-40v, isReadable),
    'blue-warm-50v': ($u-color-blue-warm-50v, isReadable),
    'blue-warm-60v': ($u-color-blue-warm-60v, isReadable),
    'blue-warm-70v': ($u-color-blue-warm-70v, isReadable),
    'blue-warm-80v': ($u-color-blue-warm-80v, isReadable),
    'blue-5': ($u-color-blue-5, isReadable),
    'blue-10': ($u-color-blue-10, isReadable),
    'blue-20': ($u-color-blue-20, isReadable),
    'blue-30': ($u-color-blue-30, isReadable),
    'blue-40': ($u-color-blue-40, isReadable),
    'blue-50': ($u-color-blue-50, isReadable),
    'blue-60': ($u-color-blue-60, isReadable),
    'blue-70': ($u-color-blue-70, isReadable),
    'blue-80': ($u-color-blue-80, isReadable),
    'blue-90': ($u-color-blue-90, isReadable),
    'blue-30v': ($u-color-blue-30v, isReadable),
    'blue-40v': ($u-color-blue-40v, isReadable),
    'blue-50v': ($u-color-blue-50v, isReadable),
    'blue-60v': ($u-color-blue-60v, isReadable),
    'blue-70v': ($u-color-blue-70v, isReadable),
    'blue-80v': ($u-color-blue-80v, isReadable),
    'cyan-5': ($u-color-cyan-5, isReadable),
    'cyan-10': ($u-color-cyan-10, isReadable),
    'cyan-20': ($u-color-cyan-20, isReadable),
    'cyan-30': ($u-color-cyan-30, isReadable),
    'cyan-40': ($u-color-cyan-40, isReadable),
    'cyan-50': ($u-color-cyan-50, isReadable),
    'cyan-60': ($u-color-cyan-60, isReadable),
    'cyan-70': ($u-color-cyan-70, isReadable),
    'cyan-80': ($u-color-cyan-80, isReadable),
    'cyan-90': ($u-color-cyan-90, isReadable),
    'cyan-10v': ($u-color-cyan-10v, isReadable),
    'cyan-20v': ($u-color-cyan-20v, isReadable),
    'cyan-30v': ($u-color-cyan-30v, isReadable),
    'cyan-40v': ($u-color-cyan-40v, isReadable),
    'mint-cool-5': ($u-color-mint-cool-5, isReadable),
    'mint-cool-10': ($u-color-mint-cool-10, isReadable),
    'mint-cool-20': ($u-color-mint-cool-20, isReadable),
    'mint-cool-30': ($u-color-mint-cool-30, isReadable),
    'mint-cool-40': ($u-color-mint-cool-40, isReadable),
    'mint-cool-50': ($u-color-mint-cool-50, isReadable),
    'mint-cool-60': ($u-color-mint-cool-60, isReadable),
    'mint-cool-70': ($u-color-mint-cool-70, isReadable),
    'mint-cool-80': ($u-color-mint-cool-80, isReadable),
    'mint-cool-90': ($u-color-mint-cool-90, isReadable),
    'mint-cool-5v': ($u-color-mint-cool-5v, isReadable),
    'mint-cool-10v': ($u-color-mint-cool-10v, isReadable),
    'mint-cool-20v': ($u-color-mint-cool-20v, isReadable),
    'mint-cool-30v': ($u-color-mint-cool-30v, isReadable),
    'mint-5': ($u-color-mint-5, isReadable),
    'mint-10': ($u-color-mint-10, isReadable),
    'mint-20': ($u-color-mint-20, isReadable),
    'mint-30': ($u-color-mint-30, isReadable),
    'mint-40': ($u-color-mint-40, isReadable),
    'mint-50': ($u-color-mint-50, isReadable),
    'mint-60': ($u-color-mint-60, isReadable),
    'mint-70': ($u-color-mint-70, isReadable),
    'mint-80': ($u-color-mint-80, isReadable),
    'mint-90': ($u-color-mint-90, isReadable),
    'mint-5v': ($u-color-mint-5v, isReadable),
    'mint-10v': ($u-color-mint-10v, isReadable),
    'mint-20v': ($u-color-mint-20v, isReadable),
    'mint-30v': ($u-color-mint-30v, isReadable),
    'mint-60v': ($u-color-mint-60v, isReadable),
    'green-cool-5': ($u-color-green-cool-5, isReadable),
    'green-cool-10': ($u-color-green-cool-10, isReadable),
    'green-cool-20': ($u-color-green-cool-20, isReadable),
    'green-cool-30': ($u-color-green-cool-30, isReadable),
    'green-cool-40': ($u-color-green-cool-40, isReadable),
    'green-cool-50': ($u-color-green-cool-50, isReadable),
    'green-cool-60': ($u-color-green-cool-60, isReadable),
    'green-cool-70': ($u-color-green-cool-70, isReadable),
    'green-cool-80': ($u-color-green-cool-80, isReadable),
    'green-cool-90': ($u-color-green-cool-90, isReadable),
    'green-cool-5v': ($u-color-green-cool-5v, isReadable),
    'green-cool-10v': ($u-color-green-cool-10v, isReadable),
    'green-cool-20v': ($u-color-green-cool-20v, isReadable),
    'green-cool-30v': ($u-color-green-cool-30v, isReadable),
    'green-cool-40v': ($u-color-green-cool-40v, isReadable),
    'green-cool-50v': ($u-color-green-cool-50v, isReadable),
    'green-5': ($u-color-green-5, isReadable),
    'green-10': ($u-color-green-10, isReadable),
    'green-20': ($u-color-green-20, isReadable),
    'green-30': ($u-color-green-30, isReadable),
    'green-40': ($u-color-green-40, isReadable),
    'green-50': ($u-color-green-50, isReadable),
    'green-60': ($u-color-green-60, isReadable),
    'green-70': ($u-color-green-70, isReadable),
    'green-80': ($u-color-green-80, isReadable),
    'green-90': ($u-color-green-90, isReadable),
    'green-5v': ($u-color-green-5v, isReadable),
    'green-10v': ($u-color-green-10v, isReadable),
    'green-20v': ($u-color-green-20v, isReadable),
    'green-30v': ($u-color-green-30v, isReadable),
    'green-40v': ($u-color-green-40v, isReadable),
    'green-50v': ($u-color-green-50v, isReadable),
    'green-warm-5': ($u-color-green-warm-5, isReadable),
    'green-warm-10': ($u-color-green-warm-10, isReadable),
    'green-warm-20': ($u-color-green-warm-20, isReadable),
    'green-warm-30': ($u-color-green-warm-30, isReadable),
    'green-warm-40': ($u-color-green-warm-40, isReadable),
    'green-warm-50': ($u-color-green-warm-50, isReadable),
    'green-warm-60': ($u-color-green-warm-60, isReadable),
    'green-warm-70': ($u-color-green-warm-70, isReadable),
    'green-warm-80': ($u-color-green-warm-80, isReadable),
    'green-warm-90': ($u-color-green-warm-90, isReadable),
    'green-warm-5v': ($u-color-green-warm-5v, isReadable),
    'green-warm-10v': ($u-color-green-warm-10v, isReadable),
    'green-warm-20v': ($u-color-green-warm-20v, isReadable),
    'green-warm-30v': ($u-color-green-warm-30v, isReadable),
    'green-warm-40v': ($u-color-green-warm-40v, isReadable),
    'green-warm-50v': ($u-color-green-warm-50v, isReadable),
    'yellow-5': ($u-color-yellow-5, isReadable),
    'yellow-10': ($u-color-yellow-10, isReadable),
    'yellow-20': ($u-color-yellow-20, isReadable),
    'yellow-30': ($u-color-yellow-30, isReadable),
    'yellow-40': ($u-color-yellow-40, isReadable),
    'yellow-50': ($u-color-yellow-50, isReadable),
    'yellow-60': ($u-color-yellow-60, isReadable),
    'yellow-70': ($u-color-yellow-70, isReadable),
    'yellow-80': ($u-color-yellow-80, isReadable),
    'yellow-90': ($u-color-yellow-90, isReadable),
    'yellow-10v': ($u-color-yellow-10v, isReadable),
    'yellow-20v': ($u-color-yellow-20v, isReadable),
    'gold-5': ($u-color-gold-5, isReadable),
    'gold-10': ($u-color-gold-10, isReadable),
    'gold-20': ($u-color-gold-20, isReadable),
    'gold-30': ($u-color-gold-30, isReadable),
    'gold-40': ($u-color-gold-40, isReadable),
    'gold-50': ($u-color-gold-50, isReadable),
    'gold-60': ($u-color-gold-60, isReadable),
    'gold-70': ($u-color-gold-70, isReadable),
    'gold-80': ($u-color-gold-80, isReadable),
    'gold-90': ($u-color-gold-90, isReadable),
    'gold-5v': ($u-color-gold-5v, isReadable),
    'gold-10v': ($u-color-gold-10v, isReadable),
    'gold-20v': ($u-color-gold-20v, isReadable),
    'gold-30v': ($u-color-gold-30v, isReadable),
    'gold-40v': ($u-color-gold-40v, isReadable),
    'gold-50v': ($u-color-gold-50v, isReadable),
    'orange-5': ($u-color-orange-5, isReadable),
    'orange-10': ($u-color-orange-10, isReadable),
    'orange-20': ($u-color-orange-20, isReadable),
    'orange-30': ($u-color-orange-30, isReadable),
    'orange-40': ($u-color-orange-40, isReadable),
    'orange-50': ($u-color-orange-50, isReadable),
    'orange-60': ($u-color-orange-60, isReadable),
    'orange-70': ($u-color-orange-70, isReadable),
    'orange-80': ($u-color-orange-80, isReadable),
    'orange-90': ($u-color-orange-90, isReadable),
    'orange-5v': ($u-color-orange-5v, isReadable),
    'orange-20v': ($u-color-orange-20v, isReadable),
    'orange-30v': ($u-color-orange-30v, isReadable),
    'orange-40v': ($u-color-orange-40v, isReadable),
    'orange-50v': ($u-color-orange-50v, isReadable),
    'orange-warm-5': ($u-color-orange-warm-5, isReadable),
    'orange-warm-10': ($u-color-orange-warm-10, isReadable),
    'orange-warm-20': ($u-color-orange-warm-20, isReadable),
    'orange-warm-30': ($u-color-orange-warm-30, isReadable),
    'orange-warm-40': ($u-color-orange-warm-40, isReadable),
    'orange-warm-50': ($u-color-orange-warm-50, isReadable),
    'orange-warm-60': ($u-color-orange-warm-60, isReadable),
    'orange-warm-70': ($u-color-orange-warm-70, isReadable),
    'orange-warm-80': ($u-color-orange-warm-80, isReadable),
    'orange-warm-90': ($u-color-orange-warm-90, isReadable),
    'orange-warm-20v': ($u-color-orange-warm-20v, isReadable),
    'orange-warm-30v': ($u-color-orange-warm-30v, isReadable),
    'orange-warm-40v': ($u-color-orange-warm-40v, isReadable),
    'red-warm-5': ($u-color-red-warm-5, isReadable),
    'red-warm-10': ($u-color-red-warm-10, isReadable),
    'red-warm-20': ($u-color-red-warm-20, isReadable),
    'red-warm-30': ($u-color-red-warm-30, isReadable),
    'red-warm-40': ($u-color-red-warm-40, isReadable),
    'red-warm-50': ($u-color-red-warm-50, isReadable),
    'red-warm-60': ($u-color-red-warm-60, isReadable),
    'red-warm-70': ($u-color-red-warm-70, isReadable),
    'red-warm-80': ($u-color-red-warm-80, isReadable),
    'red-warm-90': ($u-color-red-warm-90, isReadable),
    'red-warm-20v': ($u-color-red-warm-20v, isReadable),
    'red-warm-30v': ($u-color-red-warm-30v, isReadable),
    'red-warm-40v': ($u-color-red-warm-40v, isReadable),
    'red-warm-50v': ($u-color-red-warm-50v, isReadable),
    'red-5': ($u-color-red-5, isReadable),
    'red-10': ($u-color-red-10, isReadable),
    'red-20': ($u-color-red-20, isReadable),
    'red-30': ($u-color-red-30, isReadable),
    'red-40': ($u-color-red-40, isReadable),
    'red-50': ($u-color-red-50, isReadable),
    'red-60': ($u-color-red-60, isReadable),
    'red-70': ($u-color-red-70, isReadable),
    'red-80': ($u-color-red-80, isReadable),
    'red-90': ($u-color-red-90, isReadable),
    'red-10v': ($u-color-red-10v, isReadable),
    'red-20v': ($u-color-red-20v, isReadable),
    'red-30v': ($u-color-red-30v, isReadable),
    'red-40v': ($u-color-red-40v, isReadable),
    'red-50v': ($u-color-red-50v, isReadable),
    'red-60v': ($u-color-red-60v, isReadable),
    'red-70v': ($u-color-red-70v, isReadable),
    'magenta-5': ($u-color-magenta-5, isReadable),
    'magenta-10': ($u-color-magenta-10, isReadable),
    'magenta-20': ($u-color-magenta-20, isReadable),
    'magenta-30': ($u-color-magenta-30, isReadable),
    'magenta-40': ($u-color-magenta-40, isReadable),
    'magenta-50': ($u-color-magenta-50, isReadable),
    'magenta-60': ($u-color-magenta-60, isReadable),
    'magenta-70': ($u-color-magenta-70, isReadable),
    'magenta-80': ($u-color-magenta-80, isReadable),
    'magenta-90': ($u-color-magenta-90, isReadable),
    'magenta-10v': ($u-color-magenta-10v, isReadable),
    'magenta-20v': ($u-color-magenta-20v, isReadable),
    'magenta-30v': ($u-color-magenta-30v, isReadable),
    'magenta-40v': ($u-color-magenta-40v, isReadable),
    'magenta-50v': ($u-color-magenta-50v, isReadable),
    'magenta-60v': ($u-color-magenta-60v, isReadable),
    'black-cool-5': ($u-color-black-cool-5, isReadable),
    'black-cool-10': ($u-color-black-cool-10, isReadable),
    'black-cool-20': ($u-color-black-cool-20, isReadable),
    'black-cool-30': ($u-color-black-cool-30, isReadable),
    'black-cool-40': ($u-color-black-cool-40, isReadable),
    'black-cool-50': ($u-color-black-cool-50, isReadable),
    'black-cool-60': ($u-color-black-cool-60, isReadable),
    'black-cool-70': ($u-color-black-cool-70, isReadable),
    'black-cool-80': ($u-color-black-cool-80, isReadable),
    'black-cool-90': ($u-color-black-cool-90, isReadable),
    'black-5': ($u-color-black-5, isReadable),
    'black-10': ($u-color-black-10, isReadable),
    'black-20': ($u-color-black-20, isReadable),
    'black-30': ($u-color-black-30, isReadable),
    'black-40': ($u-color-black-40, isReadable),
    'black-50': ($u-color-black-50, isReadable),
    'black-60': ($u-color-black-60, isReadable),
    'black-70': ($u-color-black-70, isReadable),
    'black-80': ($u-color-black-80, isReadable),
    'black-90': ($u-color-black-90, isReadable),
    'black-warm-5': ($u-color-black-warm-5, isReadable),
    'black-warm-10': ($u-color-black-warm-10, isReadable),
    'black-warm-20': ($u-color-black-warm-20, isReadable),
    'black-warm-30': ($u-color-black-warm-30, isReadable),
    'black-warm-40': ($u-color-black-warm-40, isReadable),
    'black-warm-50': ($u-color-black-warm-50, isReadable),
    'black-warm-60': ($u-color-black-warm-60, isReadable),
    'black-warm-70': ($u-color-black-warm-70, isReadable),
    'black-warm-80': ($u-color-black-warm-80, isReadable),
    'black-warm-90': ($u-color-black-warm-90, isReadable),
    'black-trans-5': ($u-color-black-trans-5, isReadable),
    'black-trans-10': ($u-color-black-trans-10, isReadable),
    'black-trans-20': ($u-color-black-trans-20, isReadable),
    'black-trans-30': ($u-color-black-trans-30, isReadable),
    'black-trans-40': ($u-color-black-trans-40, isReadable),
    'black-trans-50': ($u-color-black-trans-50, isReadable),
    'black-trans-60': ($u-color-black-trans-60, isReadable),
    'black-trans-70': ($u-color-black-trans-70, isReadable),
    'black-trans-80': ($u-color-black-trans-80, isReadable),
    'black-trans-90': ($u-color-black-trans-90, isReadable),
    'white-cool-1': ($u-color-white-cool-1, isReadable),
    'white-cool-2': ($u-color-white-cool-2, isReadable),
    'white-cool-3': ($u-color-white-cool-3, isReadable),
    'white-cool-4': ($u-color-white-cool-4, isReadable),
    'white-0': ($u-color-white-0, isReadable),
    'white-1': ($u-color-white-1, isReadable),
    'white-2': ($u-color-white-2, isReadable),
    'white-3': ($u-color-white-3, isReadable),
    'white-4': ($u-color-white-4, isReadable),
    'white-warm-1': ($u-color-white-warm-1, isReadable),
    'white-warm-2': ($u-color-white-warm-2, isReadable),
    'white-warm-3': ($u-color-white-warm-3, isReadable),
    'white-warm-4': ($u-color-white-warm-4, isReadable),
  ),
  em: (
    '05em': '.5em',
    '1em': '1em',
    '105em': '1.5em',
    '2em': '2em',
    '3em': '3em',
    '4em': '4em',
    '5em': '5em',
    '6em': '6em',
    '7em': '7em',
    '8em': '8em',
    '9em': '9em',
    '10em': '10em',
  ),
  font-weights: (
    100: 100,
    200: 200,
    300: 300,
    400: 400,
    500: 500,
    600: 600,
    700: 700,
    800: 800,
    900: 900,
  ),
  grid: (
    '05': $u-spacing-05,
    '1': $u-spacing-1,
    '105': $u-spacing-105,
    '2': $u-spacing-2,
    '205': $u-spacing-205,
    '3': $u-spacing-3,
    '4': $u-spacing-4,
    '5': $u-spacing-5,
    '6': $u-spacing-6,
    '7': $u-spacing-7,
    '8': $u-spacing-8,
    '9': $u-spacing-9,
    '10': $u-spacing-10,
    '15': $u-spacing-15,
    '20': $u-spacing-20,
    '25': $u-spacing-25,
    '30': $u-spacing-30,
    '40': $u-spacing-40,
    '50': $u-spacing-50,
  ),
  grid-short: (
    '05': $u-spacing-05,
    '1': $u-spacing-1,
    '105': $u-spacing-105,
    '2': $u-spacing-2,
    '3': $u-spacing-3,
    '4': $u-spacing-4,
  ),
  neg-ch: (
    'n05ch': '-.5ch',
    'n1ch': '-1ch',
    'n105ch': '-1.5ch',
    'n2ch': '-2ch',
    'n3ch': '-3ch',
    'n4ch': '-4ch',
    'n5ch': '-5ch',
  ),
  neg-grid: (
    'n05': -#{$u-spacing-05},
    'n1': -#{$u-spacing-1},
    'n105': -#{$u-spacing-105},
    'n2': -#{$u-spacing-2},
    'n3': -#{$u-spacing-3},
    'n4': -#{$u-spacing-4},
    'n5': -#{$u-spacing-5},
    'n6': -#{$u-spacing-6},
    'n7': -#{$u-spacing-7},
    'n8': -#{$u-spacing-8},
    'n9': -#{$u-spacing-9},
  ),
  neg-pixels: (
    'n1px': -1px,
    'n2px': -2px,
  ),
  percentage: (
    '10ct': 10%,
    '20ct': 20%,
    '25ct': 25%,
    '30ct': 30%,
    '33ct': 33.33333333%,
    '40ct': 40%,
    '50ct': 50%,
    '60ct': 60%,
    '66ct': 66.66666666%,
    '70ct': 70%,
    '75ct': 75%,
    '80ct': 80%,
    '90ct': 90%,
    '100ct': 100%,
  ),
  pixels: (
    '1px': 1px,
    '2px': 2px,
  ),
  type-scale: (
    mono-1: (
      slug: 'mono-1',
      isReadable: true,
      content: $u-mono-1,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-2: (
      slug: 'mono-2',
      isReadable: true,
      content: $u-mono-2,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-3: (
      slug: 'mono-3',
      isReadable: true,
      content: $u-mono-3,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-4: (
      slug: 'mono-4',
      isReadable: true,
      content: $u-mono-4,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-5: (
      slug: 'mono-5',
      isReadable: true,
      content: $u-mono-5,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-6: (
      slug: 'mono-6',
      isReadable: true,
      content: $u-mono-6,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-7: (
      slug: 'mono-7',
      isReadable: true,
      content: $u-mono-7,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-8: (
      slug: 'mono-8',
      isReadable: true,
      content: $u-mono-8,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-9: (
      slug: 'mono-9',
      isReadable: true,
      content: $u-mono-9,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-10: (
      slug: 'mono-10',
      isReadable: true,
      content: $u-mono-10,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-11: (
      slug: 'mono-11',
      isReadable: true,
      content: $u-mono-11,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-12: (
      slug: 'mono-12',
      isReadable: true,
      content: $u-mono-12,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-13: (
      slug: 'mono-13',
      isReadable: true,
      content: $u-mono-13,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-14: (
      slug: 'mono-14',
      isReadable: true,
      content: $u-mono-14,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-15: (
      slug: 'mono-15',
      isReadable: true,
      content: $u-mono-15,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-16: (
      slug: 'mono-16',
      isReadable: true,
      content: $u-mono-16,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-17: (
      slug: 'mono-17',
      isReadable: true,
      content: $u-mono-17,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-18: (
      slug: 'mono-18',
      isReadable: true,
      content: $u-mono-18,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-19: (
      slug: 'mono-19',
      isReadable: true,
      content: $u-mono-19,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-20: (
      slug: 'mono-20',
      isReadable: true,
      content: $u-mono-20,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    sans-1: (
      slug: 'sans-1',
      isReadable: true,
      content: $u-sans-1,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-2: (
      slug: 'sans-2',
      isReadable: true,
      content: $u-sans-2,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-3: (
      slug: 'sans-3',
      isReadable: true,
      content: $u-sans-3,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-4: (
      slug: 'sans-4',
      isReadable: true,
      content: $u-sans-4,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-5: (
      slug: 'sans-5',
      isReadable: true,
      content: $u-sans-5,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-6: (
      slug: 'sans-6',
      isReadable: true,
      content: $u-sans-6,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-7: (
      slug: 'sans-7',
      isReadable: true,
      content: $u-sans-7,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-8: (
      slug: 'sans-8',
      isReadable: true,
      content: $u-sans-8,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-9: (
      slug: 'sans-9',
      isReadable: true,
      content: $u-sans-9,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-10: (
      slug: 'sans-10',
      isReadable: true,
      content: $u-sans-10,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-11: (
      slug: 'sans-11',
      isReadable: true,
      content: $u-sans-11,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-12: (
      slug: 'sans-12',
      isReadable: true,
      content: $u-sans-12,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-13: (
      slug: 'sans-13',
      isReadable: true,
      content: $u-sans-13,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-14: (
      slug: 'sans-14',
      isReadable: true,
      content: $u-sans-14,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-15: (
      slug: 'sans-15',
      isReadable: true,
      content: $u-sans-15,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-16: (
      slug: 'sans-16',
      isReadable: true,
      content: $u-sans-16,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-17: (
      slug: 'sans-17',
      isReadable: true,
      content: $u-sans-17,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-18: (
      slug: 'sans-18',
      isReadable: true,
      content: $u-sans-18,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-19: (
      slug: 'sans-19',
      isReadable: true,
      content: $u-sans-19,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-20: (
      slug: 'sans-20',
      isReadable: true,
      content: $u-sans-20,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    serif-1: (
      slug: 'serif-1',
      isReadable: true,
      content: $u-serif-1,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-2: (
      slug: 'serif-2',
      isReadable: true,
      content: $u-serif-2,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-3: (
      slug: 'serif-3',
      isReadable: true,
      content: $u-serif-3,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-4: (
      slug: 'serif-4',
      isReadable: true,
      content: $u-serif-4,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-5: (
      slug: 'serif-5',
      isReadable: true,
      content: $u-serif-5,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-6: (
      slug: 'serif-6',
      isReadable: true,
      content: $u-serif-6,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-7: (
      slug: 'serif-7',
      isReadable: true,
      content: $u-serif-7,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-8: (
      slug: 'serif-8',
      isReadable: true,
      content: $u-serif-8,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-9: (
      slug: 'serif-9',
      isReadable: true,
      content: $u-serif-9,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-10: (
      slug: 'serif-10',
      isReadable: true,
      content: $u-serif-10,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-11: (
      slug: 'serif-11',
      isReadable: true,
      content: $u-serif-11,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-12: (
      slug: 'serif-12',
      isReadable: true,
      content: $u-serif-12,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-13: (
      slug: 'serif-13',
      isReadable: true,
      content: $u-serif-13,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-14: (
      slug: 'serif-14',
      isReadable: true,
      content: $u-serif-14,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-15: (
      slug: 'serif-15',
      isReadable: true,
      content: $u-serif-15,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-16: (
      slug: 'serif-16',
      isReadable: true,
      content: $u-serif-16,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-17: (
      slug: 'serif-17',
      isReadable: true,
      content: $u-serif-17,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-18: (
      slug: 'serif-18',
      isReadable: true,
      content: $u-serif-18,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-19: (
      slug: 'serif-19',
      isReadable: true,
      content: $u-serif-19,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-20: (
      slug: 'serif-20',
      isReadable: true,
      content: $u-serif-20,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
  ),
);
