$utility-type: "units";

$group-colors-red-light: (
  'red-5':  $u-color-red-5,
  'red-10': $u-color-red-10,
  'red-20': $u-color-red-20,
  'red-30': $u-color-red-30,
);

$group-colors-red-basic: (
  'red-40': $u-color-red-40,
  'red-50': $u-color-red-50,
  'red-60': $u-color-red-60,
  'red-70': $u-color-red-70,
);

$group-colors-red-dark: (
  'red-80': $u-color-red-80,
  'red-90': $u-color-red-90,
);

$group-colors-red-vivid: (
  'red-5v':  null,
  'red-10v': $u-color-red-10v,
  'red-20v': $u-color-red-20v,
  'red-30v': $u-color-red-30v,
  'red-40v': $u-color-red-40v,
  'red-50v': $u-color-red-50v,
  'red-60v': $u-color-red-60v,
  'red-70v': $u-color-red-70v,
  'red-80v': null,
  'red-90v': null,
);

$group-colors-red-standard: map-collect(
  $group-colors-red-light,
  $group-colors-red-basic,
  $group-colors-red-dark
);

$group-colors-red: map-collect(
  $group-colors-red-standard,
  $group-colors-red-vivid
);

$group-units-ch: (
  '05ch':   '.5ch',
  '1ch':    '1ch',
  '105ch':  '1.5ch',
  '2ch':    '2ch',
  '3ch':    '3ch',
  '4ch':    '4ch',
  '5ch':    '5ch',
);

$group-units-ch-negative: (
  'n05ch':   '-.5ch',
  'n1ch':    '-1ch',
  'n105ch':  '-1.5ch',
  'n2ch':    '-2ch',
  'n3ch':    '-3ch',
  'n4ch':    '-4ch',
  'n5ch':    '-5ch',
);

$group-units-em: (
  '05em':   '.5em',
  '1em':    '1em',
  '105em':  '1.5em',
  '2em':    '2em',
  '3em':    '3em',
  '4em':    '4em',
  '5em':    '5em',
  '6em':    '6em',
  '7em':    '7em',
  '8em':    '8em',
  '9em':    '9em',
  '10em':   '10em',
);

$group-units-grid-small: (
  'g05':    $u-spacing-05,
  'g1':     $u-spacing-1,
  'g105':   $u-spacing-105,
  'g2':     $u-spacing-2,
);

$group-units-grid-basic: (
  'g05':    $u-spacing-05,
  'g1':     $u-spacing-1,
  'g105':   $u-spacing-105,
  'g2':     $u-spacing-2,
  '205':    $u-spacing-205,
  'g3':     $u-spacing-3,
  'g4':     $u-spacing-4,
  'g5':     $u-spacing-5,
);

$group-units-grid-extended: (
  'g6':     $u-spacing-6,
  'g7':     $u-spacing-7,
  'g8':     $u-spacing-8,
  'g9':     $u-spacing-9,
  'g10':    $u-spacing-10,
  'g15':    $u-spacing-15,
  'g20':    $u-spacing-20,
  'g25':    $u-spacing-25,
  'g30':    $u-spacing-30,
  'g40':    $u-spacing-40,
  'g50':    $u-spacing-50,
);

$group-units-grid-negative-basic: (
  'ng05':   -#{$u-spacing-05},
  'ng1':    -#{$u-spacing-1},
  'ng105':  -#{$u-spacing-105},
  'ng2':    -#{$u-spacing-2},
  'ng205':  -#{$u-spacing-205},
  'ng3':    -#{$u-spacing-3},
  'ng4':    -#{$u-spacing-4},
  'ng5':    -#{$u-spacing-5},
);

$group-units-grid-negative-extended: (
  'ng6':    -#{$u-spacing-6},
  'ng7':    -#{$u-spacing-7},
  'ng8':    -#{$u-spacing-8},
  'ng9':    -#{$u-spacing-9},
  'ng10':   -#{$u-spacing-10},
);

$group-units-grid: map-collect(
  $group-units-grid-basic,
  $group-units-grid-extended
);

$group-units-grid-negative: map-collect(
  $group-units-grid-negative-basic,
  $group-units-grid-negative-extended
);

$group-units-percentage:(
  '10ct':   10%,
  '20ct':   20%,
  '25ct':   25%,
  '30ct':   30%,
  '33ct':   33.33333333%,
  '40ct':   40%,
  '50ct':   50%,
  '60ct':   60%,
  '66ct':   66.66666666%,
  '70ct':   70%,
  '75ct':   75%,
  '80ct':   80%,
  '90ct':   90%,
  '100ct':  100%,
);

$group-units-px:(
  '1px':    1px,
  '2px':    2px,
);

$group-units-px-negative:(
  'n1px':   -1px,
  'n2px':   -2px,
);

$group-mono-12: (
  mono-12: (
    slug: 'mono-12',
    isReadable: true,
    content: $u-mono-12,
    extends: font-mono,
  ),
);

$group-mono-13: (
  mono-13: (
    slug: 'mono-13',
    isReadable: true,
    content: $u-mono-13,
    extends: font-mono,
  ),
);

$group-mono-14: (
  mono-14: (
    slug: 'mono-14',
    isReadable: true,
    content: $u-mono-14,
    extends: font-mono,
  ),
);

$group-mono-15: (
  mono-15: (
    slug: 'mono-15',
    isReadable: true,
    content: $u-mono-15,
    extends: font-mono,
  ),
);

$group-mono-16: (
  mono-16: (
    slug: 'mono-16',
    isReadable: true,
    content: $u-mono-16,
    extends: font-mono,
  ),
);

$group-mono-17: (
  mono-17: (
    slug: 'mono-17',
    isReadable: true,
    content: $u-mono-17,
    extends: font-mono,
  ),
);

$group-mono-18: (
  mono-18: (
    slug: 'mono-18',
    isReadable: true,
    content: $u-mono-18,
    extends: font-mono,
  ),
);

$group-mono-20: (
  mono-20: (
    slug: 'mono-20',
    isReadable: true,
    content: $u-mono-20,
    extends: font-mono,
  ),
);

$group-mono-22: (
  mono-22: (
    slug: 'mono-22',
    isReadable: true,
    content: $u-mono-22,
    extends: font-mono,
  ),
);

$group-mono-24: (
  mono-24: (
    slug: 'mono-24',
    isReadable: true,
    content: $u-mono-24,
    extends: font-mono,
  ),
);

$group-mono-28: (
  mono-28: (
    slug: 'mono-28',
    isReadable: true,
    content: $u-mono-28,
    extends: font-mono,
  ),
);

$group-mono-32: (
  mono-32: (
    slug: 'mono-32',
    isReadable: true,
    content: $u-mono-32,
    extends: font-mono,
  ),
);

$group-mono-36: (
  mono-36: (
    slug: 'mono-36',
    isReadable: true,
    content: $u-mono-36,
    extends: font-mono,
  ),
);

$group-mono-40: (
  mono-40: (
    slug: 'mono-40',
    isReadable: true,
    content: $u-mono-40,
    extends: font-mono,
  ),
);

$group-mono-48: (
  mono-48: (
    slug: 'mono-48',
    isReadable: true,
    content: $u-mono-48,
    extends: font-mono,
  ),
);

$group-mono-56: (
  mono-56: (
    slug: 'mono-56',
    isReadable: true,
    content: $u-mono-56,
    extends: font-mono,
  ),
);

$group-mono-64: (
  mono-64: (
    slug: 'mono-64',
    isReadable: true,
    content: $u-mono-64,
    extends: font-mono,
  ),
);

$group-mono-80: (
  mono-80: (
    slug: 'mono-80',
    isReadable: true,
    content: $u-mono-80,
    extends: font-mono,
  ),
);

$group-mono-120: (
  mono-120: (
    slug: 'mono-120',
    isReadable: true,
    content: $u-mono-120,
    extends: font-mono,
  ),
);

$group-mono-140: (
  mono-140: (
    slug: 'mono-140',
    isReadable: true,
    content: $u-mono-140,
    extends: font-mono,
  ),
);

$group-mono-small: map-collect(
  $group-mono-12,
  $group-mono-13,
  $group-mono-14
);

$group-mono-medium: map-collect(
  $group-mono-15,
  $group-mono-16,
  $group-mono-17,
  $group-mono-18,
  $group-mono-20
);

$group-mono-large: map-collect(
  $group-mono-22,
  $group-mono-24,
  $group-mono-28,
  $group-mono-32,
  $group-mono-36,
  $group-mono-40
);

$group-mono-xlarge: map-collect(
  $group-mono-48,
  $group-mono-56,
  $group-mono-64,
  $group-mono-80,
  $group-mono-120,
  $group-mono-140
);

$group-mono: map-collect(
  $group-mono-small,
  $group-mono-medium,
  $group-mono-large,
  $group-mono-xlarge
);

$group-sans-12: (
  sans-12: (
    slug: 'sans-12',
    isReadable: true,
    content: $u-sans-12,
    extends: font-sans,
  ),
);

$group-sans-13: (
  sans-13: (
    slug: 'sans-13',
    isReadable: true,
    content: $u-sans-13,
    extends: font-sans,
  ),
);

$group-sans-14: (
  sans-14: (
    slug: 'sans-14',
    isReadable: true,
    content: $u-sans-14,
    extends: font-sans,
  ),
);

$group-sans-15: (
  sans-15: (
    slug: 'sans-15',
    isReadable: true,
    content: $u-sans-15,
    extends: font-sans,
  ),
);

$group-sans-16: (
  sans-16: (
    slug: 'sans-16',
    isReadable: true,
    content: $u-sans-16,
    extends: font-sans,
  ),
);

$group-sans-17: (
  sans-17: (
    slug: 'sans-17',
    isReadable: true,
    content: $u-sans-17,
    extends: font-sans,
  ),
);

$group-sans-18: (
  sans-18: (
    slug: 'sans-18',
    isReadable: true,
    content: $u-sans-18,
    extends: font-sans,
  ),
);

$group-sans-20: (
  sans-20: (
    slug: 'sans-20',
    isReadable: true,
    content: $u-sans-20,
    extends: font-sans,
  ),
);

$group-sans-22: (
  sans-22: (
    slug: 'sans-22',
    isReadable: true,
    content: $u-sans-22,
    extends: font-sans,
  ),
);

$group-sans-24: (
  sans-24: (
    slug: 'sans-24',
    isReadable: true,
    content: $u-sans-24,
    extends: font-sans,
  ),
);

$group-sans-28: (
  sans-28: (
    slug: 'sans-28',
    isReadable: true,
    content: $u-sans-28,
    extends: font-sans,
  ),
);

$group-sans-32: (
  sans-32: (
    slug: 'sans-32',
    isReadable: true,
    content: $u-sans-32,
    extends: font-sans,
  ),
);

$group-sans-36: (
  sans-36: (
    slug: 'sans-36',
    isReadable: true,
    content: $u-sans-36,
    extends: font-sans,
  ),
);

$group-sans-40: (
  sans-40: (
    slug: 'sans-40',
    isReadable: true,
    content: $u-sans-40,
    extends: font-sans,
  ),
);

$group-sans-48: (
  sans-48: (
    slug: 'sans-48',
    isReadable: true,
    content: $u-sans-48,
    extends: font-sans,
  ),
);

$group-sans-56: (
  sans-56: (
    slug: 'sans-56',
    isReadable: true,
    content: $u-sans-56,
    extends: font-sans,
  ),
);

$group-sans-64: (
  sans-64: (
    slug: 'sans-64',
    isReadable: true,
    content: $u-sans-64,
    extends: font-sans,
  ),
);

$group-sans-80: (
  sans-80: (
    slug: 'sans-80',
    isReadable: true,
    content: $u-sans-80,
    extends: font-sans,
  ),
);

$group-sans-120: (
  sans-120: (
    slug: 'sans-120',
    isReadable: true,
    content: $u-sans-120,
    extends: font-sans,
  ),
);

$group-sans-140: (
  sans-140: (
    slug: 'sans-140',
    isReadable: true,
    content: $u-sans-140,
    extends: font-sans,
  ),
);

$group-sans-small: map-collect(
  $group-sans-12,
  $group-sans-13,
  $group-sans-14
);

$group-sans-medium: map-collect(
  $group-sans-15,
  $group-sans-16,
  $group-sans-17,
  $group-sans-18,
  $group-sans-20
);

$group-sans-large: map-collect(
  $group-sans-22,
  $group-sans-24,
  $group-sans-28,
  $group-sans-32,
  $group-sans-36,
  $group-sans-40
);

$group-sans-xlarge: map-collect(
  $group-sans-48,
  $group-sans-56,
  $group-sans-64,
  $group-sans-80,
  $group-sans-120,
  $group-sans-140
);

$group-sans: map-collect(
  $group-sans-small,
  $group-sans-medium,
  $group-sans-large,
  $group-sans-xlarge
);

$group-serif-12: (
  serif-12: (
    slug: 'serif-12',
    isReadable: true,
    content: $u-serif-12,
    extends: font-serif,
  ),
);

$group-serif-13: (
  serif-13: (
    slug: 'serif-13',
    isReadable: true,
    content: $u-serif-13,
    extends: font-serif,
  ),
);

$group-serif-14: (
  serif-14: (
    slug: 'serif-14',
    isReadable: true,
    content: $u-serif-14,
    extends: font-serif,
  ),
);

$group-serif-15: (
  serif-15: (
    slug: 'serif-15',
    isReadable: true,
    content: $u-serif-15,
    extends: font-serif,
  ),
);

$group-serif-16: (
  serif-16: (
    slug: 'serif-16',
    isReadable: true,
    content: $u-serif-16,
    extends: font-serif,
  ),
);

$group-serif-17: (
  serif-17: (
    slug: 'serif-17',
    isReadable: true,
    content: $u-serif-17,
    extends: font-serif,
  ),
);

$group-serif-18: (
  serif-18: (
    slug: 'serif-18',
    isReadable: true,
    content: $u-serif-18,
    extends: font-serif,
  ),
);

$group-serif-20: (
  serif-20: (
    slug: 'serif-20',
    isReadable: true,
    content: $u-serif-20,
    extends: font-serif,
  ),
);

$group-serif-22: (
  serif-22: (
    slug: 'serif-22',
    isReadable: true,
    content: $u-serif-22,
    extends: font-serif,
  ),
);

$group-serif-24: (
  serif-24: (
    slug: 'serif-24',
    isReadable: true,
    content: $u-serif-24,
    extends: font-serif,
  ),
);

$group-serif-28: (
  serif-28: (
    slug: 'serif-28',
    isReadable: true,
    content: $u-serif-28,
    extends: font-serif,
  ),
);

$group-serif-32: (
  serif-32: (
    slug: 'serif-32',
    isReadable: true,
    content: $u-serif-32,
    extends: font-serif,
  ),
);

$group-serif-36: (
  serif-36: (
    slug: 'serif-36',
    isReadable: true,
    content: $u-serif-36,
    extends: font-serif,
  ),
);

$group-serif-40: (
  serif-40: (
    slug: 'serif-40',
    isReadable: true,
    content: $u-serif-40,
    extends: font-serif,
  ),
);

$group-serif-48: (
  serif-48: (
    slug: 'serif-48',
    isReadable: true,
    content: $u-serif-48,
    extends: font-serif,
  ),
);

$group-serif-56: (
  serif-56: (
    slug: 'serif-56',
    isReadable: true,
    content: $u-serif-56,
    extends: font-serif,
  ),
);

$group-serif-64: (
  serif-64: (
    slug: 'serif-64',
    isReadable: true,
    content: $u-serif-64,
    extends: font-serif,
  ),
);

$group-serif-80: (
  serif-80: (
    slug: 'serif-80',
    isReadable: true,
    content: $u-serif-80,
    extends: font-serif,
  ),
);

$group-serif-120: (
  serif-120: (
    slug: 'serif-120',
    isReadable: true,
    content: $u-serif-120,
    extends: font-serif,
  ),
);

$group-serif-140: (
  serif-140: (
    slug: 'serif-140',
    isReadable: true,
    content: $u-serif-140,
    extends: font-serif,
  ),
);

$group-serif-small: map-collect(
  $group-serif-12,
  $group-serif-13,
  $group-serif-14
);

$group-serif-medium: map-collect(
  $group-serif-15,
  $group-serif-16,
  $group-serif-17,
  $group-serif-18,
  $group-serif-20
);

$group-serif-large: map-collect(
  $group-serif-22,
  $group-serif-24,
  $group-serif-28,
  $group-serif-32,
  $group-serif-36,
  $group-serif-40
);

$group-serif-xlarge: map-collect(
  $group-serif-48,
  $group-serif-56,
  $group-serif-64,
  $group-serif-80,
  $group-serif-120,
  $group-serif-140
);

$group-serif: map-collect(
  $group-serif-small,
  $group-serif-medium,
  $group-serif-large,
  $group-serif-xlarge
);

$group-font-weight: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900,
);

$values-units: (
  ch: (
    '05ch': '.5ch',
    '1ch': '1ch',
    '105ch': '1.5ch',
    '2ch': '2ch',
    '3ch': '3ch',
    '4ch': '4ch',
    '5ch': '5ch',
  ),
  colors: (
    'transparent': 'transparent',
    'black': $u-color-black-100,
    'white': $u-color-white-0,
  //
  //  system colors
  //
    'violet-warm-5': $u-color-violet-warm-5,
    'violet-warm-10': $u-color-violet-warm-10,
    'violet-warm-20': $u-color-violet-warm-20,
    'violet-warm-30': $u-color-violet-warm-30,
    'violet-warm-40': $u-color-violet-warm-40,
    'violet-warm-50': $u-color-violet-warm-50,
    'violet-warm-60': $u-color-violet-warm-60,
    'violet-warm-70': $u-color-violet-warm-70,
    'violet-warm-80': $u-color-violet-warm-80,
    'violet-warm-90': $u-color-violet-warm-90,
    'violet-warm-5v': $u-color-violet-warm-5v,
    'violet-warm-10v': $u-color-violet-warm-10v,
    'violet-warm-20v': $u-color-violet-warm-20v,
    'violet-warm-30v': $u-color-violet-warm-30v,
    'violet-warm-40v': $u-color-violet-warm-40v,
    'violet-warm-50v': $u-color-violet-warm-50v,
    'violet-5': $u-color-violet-5,
    'violet-10': $u-color-violet-10,
    'violet-20': $u-color-violet-20,
    'violet-30': $u-color-violet-30,
    'violet-40': $u-color-violet-40,
    'violet-50': $u-color-violet-50,
    'violet-60': $u-color-violet-60,
    'violet-70': $u-color-violet-70,
    'violet-80': $u-color-violet-80,
    'violet-90': $u-color-violet-90,
    'violet-30v': $u-color-violet-30v,
    'violet-40v': $u-color-violet-40v,
    'violet-50v': $u-color-violet-50v,
    'violet-60v': $u-color-violet-60v,
    'violet-70v': $u-color-violet-70v,
    'indigo-warm-5': $u-color-indigo-warm-5,
    'indigo-warm-10': $u-color-indigo-warm-10,
    'indigo-warm-20': $u-color-indigo-warm-20,
    'indigo-warm-30': $u-color-indigo-warm-30,
    'indigo-warm-40': $u-color-indigo-warm-40,
    'indigo-warm-50': $u-color-indigo-warm-50,
    'indigo-warm-60': $u-color-indigo-warm-60,
    'indigo-warm-70': $u-color-indigo-warm-70,
    'indigo-warm-80': $u-color-indigo-warm-80,
    'indigo-warm-90': $u-color-indigo-warm-90,
    'indigo-warm-30v': $u-color-indigo-warm-30v,
    'indigo-warm-40v': $u-color-indigo-warm-40v,
    'indigo-warm-50v': $u-color-indigo-warm-50v,
    'indigo-warm-60v': $u-color-indigo-warm-60v,
    'indigo-5': $u-color-indigo-5,
    'indigo-10': $u-color-indigo-10,
    'indigo-20': $u-color-indigo-20,
    'indigo-30': $u-color-indigo-30,
    'indigo-40': $u-color-indigo-40,
    'indigo-50': $u-color-indigo-50,
    'indigo-60': $u-color-indigo-60,
    'indigo-70': $u-color-indigo-70,
    'indigo-80': $u-color-indigo-80,
    'indigo-90': $u-color-indigo-90,
    'indigo-20v': $u-color-indigo-20v,
    'indigo-30v': $u-color-indigo-30v,
    'indigo-50v': $u-color-indigo-50v,
    'indigo-60v': $u-color-indigo-60v,
    'indigo-cool-5': $u-color-indigo-cool-5,
    'indigo-cool-10': $u-color-indigo-cool-10,
    'indigo-cool-20': $u-color-indigo-cool-20,
    'indigo-cool-30': $u-color-indigo-cool-30,
    'indigo-cool-40': $u-color-indigo-cool-40,
    'indigo-cool-50': $u-color-indigo-cool-50,
    'indigo-cool-60': $u-color-indigo-cool-60,
    'indigo-cool-70': $u-color-indigo-cool-70,
    'indigo-cool-80': $u-color-indigo-cool-80,
    'indigo-cool-90': $u-color-indigo-cool-90,
    'indigo-cool-40v': $u-color-indigo-cool-40v,
    'blue-warm-5': $u-color-blue-warm-5,
    'blue-warm-10': $u-color-blue-warm-10,
    'blue-warm-20': $u-color-blue-warm-20,
    'blue-warm-30': $u-color-blue-warm-30,
    'blue-warm-40': $u-color-blue-warm-40,
    'blue-warm-50': $u-color-blue-warm-50,
    'blue-warm-60': $u-color-blue-warm-60,
    'blue-warm-70': $u-color-blue-warm-70,
    'blue-warm-80': $u-color-blue-warm-80,
    'blue-warm-90': $u-color-blue-warm-90,
    'blue-warm-40v': $u-color-blue-warm-40v,
    'blue-warm-50v': $u-color-blue-warm-50v,
    'blue-warm-60v': $u-color-blue-warm-60v,
    'blue-warm-70v': $u-color-blue-warm-70v,
    'blue-warm-80v': $u-color-blue-warm-80v,
    'blue-5': $u-color-blue-5,
    'blue-10': $u-color-blue-10,
    'blue-20': $u-color-blue-20,
    'blue-30': $u-color-blue-30,
    'blue-40': $u-color-blue-40,
    'blue-50': $u-color-blue-50,
    'blue-60': $u-color-blue-60,
    'blue-70': $u-color-blue-70,
    'blue-80': $u-color-blue-80,
    'blue-90': $u-color-blue-90,
    'blue-30v': $u-color-blue-30v,
    'blue-40v': $u-color-blue-40v,
    'blue-50v': $u-color-blue-50v,
    'blue-60v': $u-color-blue-60v,
    'blue-70v': $u-color-blue-70v,
    'blue-80v': $u-color-blue-80v,
    'cyan-5': $u-color-cyan-5,
    'cyan-10': $u-color-cyan-10,
    'cyan-20': $u-color-cyan-20,
    'cyan-30': $u-color-cyan-30,
    'cyan-40': $u-color-cyan-40,
    'cyan-50': $u-color-cyan-50,
    'cyan-60': $u-color-cyan-60,
    'cyan-70': $u-color-cyan-70,
    'cyan-80': $u-color-cyan-80,
    'cyan-90': $u-color-cyan-90,
    'cyan-10v': $u-color-cyan-10v,
    'cyan-20v': $u-color-cyan-20v,
    'cyan-30v': $u-color-cyan-30v,
    'cyan-40v': $u-color-cyan-40v,
    'mint-cool-5': $u-color-mint-cool-5,
    'mint-cool-10': $u-color-mint-cool-10,
    'mint-cool-20': $u-color-mint-cool-20,
    'mint-cool-30': $u-color-mint-cool-30,
    'mint-cool-40': $u-color-mint-cool-40,
    'mint-cool-50': $u-color-mint-cool-50,
    'mint-cool-60': $u-color-mint-cool-60,
    'mint-cool-70': $u-color-mint-cool-70,
    'mint-cool-80': $u-color-mint-cool-80,
    'mint-cool-90': $u-color-mint-cool-90,
    'mint-cool-5v': $u-color-mint-cool-5v,
    'mint-cool-10v': $u-color-mint-cool-10v,
    'mint-cool-20v': $u-color-mint-cool-20v,
    'mint-cool-30v': $u-color-mint-cool-30v,
    'mint-5': $u-color-mint-5,
    'mint-10': $u-color-mint-10,
    'mint-20': $u-color-mint-20,
    'mint-30': $u-color-mint-30,
    'mint-40': $u-color-mint-40,
    'mint-50': $u-color-mint-50,
    'mint-60': $u-color-mint-60,
    'mint-70': $u-color-mint-70,
    'mint-80': $u-color-mint-80,
    'mint-90': $u-color-mint-90,
    'mint-5v': $u-color-mint-5v,
    'mint-10v': $u-color-mint-10v,
    'mint-20v': $u-color-mint-20v,
    'mint-30v': $u-color-mint-30v,
    'mint-60v': $u-color-mint-60v,
    'green-cool-5': $u-color-green-cool-5,
    'green-cool-10': $u-color-green-cool-10,
    'green-cool-20': $u-color-green-cool-20,
    'green-cool-30': $u-color-green-cool-30,
    'green-cool-40': $u-color-green-cool-40,
    'green-cool-50': $u-color-green-cool-50,
    'green-cool-60': $u-color-green-cool-60,
    'green-cool-70': $u-color-green-cool-70,
    'green-cool-80': $u-color-green-cool-80,
    'green-cool-90': $u-color-green-cool-90,
    'green-cool-5v': $u-color-green-cool-5v,
    'green-cool-10v': $u-color-green-cool-10v,
    'green-cool-20v': $u-color-green-cool-20v,
    'green-cool-30v': $u-color-green-cool-30v,
    'green-cool-40v': $u-color-green-cool-40v,
    'green-cool-50v': $u-color-green-cool-50v,
    'green-5': $u-color-green-5,
    'green-10': $u-color-green-10,
    'green-20': $u-color-green-20,
    'green-30': $u-color-green-30,
    'green-40': $u-color-green-40,
    'green-50': $u-color-green-50,
    'green-60': $u-color-green-60,
    'green-70': $u-color-green-70,
    'green-80': $u-color-green-80,
    'green-90': $u-color-green-90,
    'green-5v': $u-color-green-5v,
    'green-10v': $u-color-green-10v,
    'green-20v': $u-color-green-20v,
    'green-30v': $u-color-green-30v,
    'green-40v': $u-color-green-40v,
    'green-50v': $u-color-green-50v,
    'green-warm-5': $u-color-green-warm-5,
    'green-warm-10': $u-color-green-warm-10,
    'green-warm-20': $u-color-green-warm-20,
    'green-warm-30': $u-color-green-warm-30,
    'green-warm-40': $u-color-green-warm-40,
    'green-warm-50': $u-color-green-warm-50,
    'green-warm-60': $u-color-green-warm-60,
    'green-warm-70': $u-color-green-warm-70,
    'green-warm-80': $u-color-green-warm-80,
    'green-warm-90': $u-color-green-warm-90,
    'green-warm-5v': $u-color-green-warm-5v,
    'green-warm-10v': $u-color-green-warm-10v,
    'green-warm-20v': $u-color-green-warm-20v,
    'green-warm-30v': $u-color-green-warm-30v,
    'green-warm-40v': $u-color-green-warm-40v,
    'green-warm-50v': $u-color-green-warm-50v,
    'yellow-5': $u-color-yellow-5,
    'yellow-10': $u-color-yellow-10,
    'yellow-20': $u-color-yellow-20,
    'yellow-30': $u-color-yellow-30,
    'yellow-40': $u-color-yellow-40,
    'yellow-50': $u-color-yellow-50,
    'yellow-60': $u-color-yellow-60,
    'yellow-70': $u-color-yellow-70,
    'yellow-80': $u-color-yellow-80,
    'yellow-90': $u-color-yellow-90,
    'yellow-10v': $u-color-yellow-10v,
    'yellow-20v': $u-color-yellow-20v,
    'gold-5': $u-color-gold-5,
    'gold-10': $u-color-gold-10,
    'gold-20': $u-color-gold-20,
    'gold-30': $u-color-gold-30,
    'gold-40': $u-color-gold-40,
    'gold-50': $u-color-gold-50,
    'gold-60': $u-color-gold-60,
    'gold-70': $u-color-gold-70,
    'gold-80': $u-color-gold-80,
    'gold-90': $u-color-gold-90,
    'gold-5v': $u-color-gold-5v,
    'gold-10v': $u-color-gold-10v,
    'gold-20v': $u-color-gold-20v,
    'gold-30v': $u-color-gold-30v,
    'gold-40v': $u-color-gold-40v,
    'gold-50v': $u-color-gold-50v,
    'orange-5': $u-color-orange-5,
    'orange-10': $u-color-orange-10,
    'orange-20': $u-color-orange-20,
    'orange-30': $u-color-orange-30,
    'orange-40': $u-color-orange-40,
    'orange-50': $u-color-orange-50,
    'orange-60': $u-color-orange-60,
    'orange-70': $u-color-orange-70,
    'orange-80': $u-color-orange-80,
    'orange-90': $u-color-orange-90,
    'orange-5v': $u-color-orange-5v,
    'orange-20v': $u-color-orange-20v,
    'orange-30v': $u-color-orange-30v,
    'orange-40v': $u-color-orange-40v,
    'orange-50v': $u-color-orange-50v,
    'orange-warm-5': $u-color-orange-warm-5,
    'orange-warm-10': $u-color-orange-warm-10,
    'orange-warm-20': $u-color-orange-warm-20,
    'orange-warm-30': $u-color-orange-warm-30,
    'orange-warm-40': $u-color-orange-warm-40,
    'orange-warm-50': $u-color-orange-warm-50,
    'orange-warm-60': $u-color-orange-warm-60,
    'orange-warm-70': $u-color-orange-warm-70,
    'orange-warm-80': $u-color-orange-warm-80,
    'orange-warm-90': $u-color-orange-warm-90,
    'orange-warm-20v': $u-color-orange-warm-20v,
    'orange-warm-30v': $u-color-orange-warm-30v,
    'orange-warm-40v': $u-color-orange-warm-40v,
    'red-warm-5': $u-color-red-warm-5,
    'red-warm-10': $u-color-red-warm-10,
    'red-warm-20': $u-color-red-warm-20,
    'red-warm-30': $u-color-red-warm-30,
    'red-warm-40': $u-color-red-warm-40,
    'red-warm-50': $u-color-red-warm-50,
    'red-warm-60': $u-color-red-warm-60,
    'red-warm-70': $u-color-red-warm-70,
    'red-warm-80': $u-color-red-warm-80,
    'red-warm-90': $u-color-red-warm-90,
    'red-warm-20v': $u-color-red-warm-20v,
    'red-warm-30v': $u-color-red-warm-30v,
    'red-warm-40v': $u-color-red-warm-40v,
    'red-warm-50v': $u-color-red-warm-50v,
    'red-5': $u-color-red-5,
    'red-10': $u-color-red-10,
    'red-20': $u-color-red-20,
    'red-30': $u-color-red-30,
    'red-40': $u-color-red-40,
    'red-50': $u-color-red-50,
    'red-60': $u-color-red-60,
    'red-70': $u-color-red-70,
    'red-80': $u-color-red-80,
    'red-90': $u-color-red-90,
    'red-10v': $u-color-red-10v,
    'red-20v': $u-color-red-20v,
    'red-30v': $u-color-red-30v,
    'red-40v': $u-color-red-40v,
    'red-50v': $u-color-red-50v,
    'red-60v': $u-color-red-60v,
    'red-70v': $u-color-red-70v,
    'magenta-5': $u-color-magenta-5,
    'magenta-10': $u-color-magenta-10,
    'magenta-20': $u-color-magenta-20,
    'magenta-30': $u-color-magenta-30,
    'magenta-40': $u-color-magenta-40,
    'magenta-50': $u-color-magenta-50,
    'magenta-60': $u-color-magenta-60,
    'magenta-70': $u-color-magenta-70,
    'magenta-80': $u-color-magenta-80,
    'magenta-90': $u-color-magenta-90,
    'magenta-10v': $u-color-magenta-10v,
    'magenta-20v': $u-color-magenta-20v,
    'magenta-30v': $u-color-magenta-30v,
    'magenta-40v': $u-color-magenta-40v,
    'magenta-50v': $u-color-magenta-50v,
    'magenta-60v': $u-color-magenta-60v,
    'black-cool-5': $u-color-black-cool-5,
    'black-cool-10': $u-color-black-cool-10,
    'black-cool-20': $u-color-black-cool-20,
    'black-cool-30': $u-color-black-cool-30,
    'black-cool-40': $u-color-black-cool-40,
    'black-cool-50': $u-color-black-cool-50,
    'black-cool-60': $u-color-black-cool-60,
    'black-cool-70': $u-color-black-cool-70,
    'black-cool-80': $u-color-black-cool-80,
    'black-cool-90': $u-color-black-cool-90,
    'black-5': $u-color-black-5,
    'black-10': $u-color-black-10,
    'black-20': $u-color-black-20,
    'black-30': $u-color-black-30,
    'black-40': $u-color-black-40,
    'black-50': $u-color-black-50,
    'black-60': $u-color-black-60,
    'black-70': $u-color-black-70,
    'black-80': $u-color-black-80,
    'black-90': $u-color-black-90,
    'black-warm-5': $u-color-black-warm-5,
    'black-warm-10': $u-color-black-warm-10,
    'black-warm-20': $u-color-black-warm-20,
    'black-warm-30': $u-color-black-warm-30,
    'black-warm-40': $u-color-black-warm-40,
    'black-warm-50': $u-color-black-warm-50,
    'black-warm-60': $u-color-black-warm-60,
    'black-warm-70': $u-color-black-warm-70,
    'black-warm-80': $u-color-black-warm-80,
    'black-warm-90': $u-color-black-warm-90,
    'black-trans-5': $u-color-black-trans-5,
    'black-trans-10': $u-color-black-trans-10,
    'black-trans-20': $u-color-black-trans-20,
    'black-trans-30': $u-color-black-trans-30,
    'black-trans-40': $u-color-black-trans-40,
    'black-trans-50': $u-color-black-trans-50,
    'black-trans-60': $u-color-black-trans-60,
    'black-trans-70': $u-color-black-trans-70,
    'black-trans-80': $u-color-black-trans-80,
    'black-trans-90': $u-color-black-trans-90,
    'white-cool-1': $u-color-white-cool-1,
    'white-cool-2': $u-color-white-cool-2,
    'white-cool-3': $u-color-white-cool-3,
    'white-cool-4': $u-color-white-cool-4,
    'white-0': $u-color-white-0,
    'white-1': $u-color-white-1,
    'white-2': $u-color-white-2,
    'white-3': $u-color-white-3,
    'white-4': $u-color-white-4,
    'white-warm-1': $u-color-white-warm-1,
    'white-warm-2': $u-color-white-warm-2,
    'white-warm-3': $u-color-white-warm-3,
    'white-warm-4': $u-color-white-warm-4,
  ),
  em: (
    '05em': '.5em',
    '1em': '1em',
    '105em': '1.5em',
    '2em': '2em',
    '3em': '3em',
    '4em': '4em',
    '5em': '5em',
    '6em': '6em',
    '7em': '7em',
    '8em': '8em',
    '9em': '9em',
    '10em': '10em',
  ),
  font-weights: (
    100: 100,
    200: 200,
    300: 300,
    400: 400,
    500: 500,
    600: 600,
    700: 700,
    800: 800,
    900: 900,
  ),
  grid: (
    '05': $u-spacing-05,
    '1': $u-spacing-1,
    '105': $u-spacing-105,
    '2': $u-spacing-2,
    '205': $u-spacing-205,
    '3': $u-spacing-3,
    '4': $u-spacing-4,
    '5': $u-spacing-5,
    '6': $u-spacing-6,
    '7': $u-spacing-7,
    '8': $u-spacing-8,
    '9': $u-spacing-9,
    '10': $u-spacing-10,
    '15': $u-spacing-15,
    '20': $u-spacing-20,
    '25': $u-spacing-25,
    '30': $u-spacing-30,
    '40': $u-spacing-40,
    '50': $u-spacing-50,
  ),
  grid-short: (
    '05': $u-spacing-05,
    '1': $u-spacing-1,
    '105': $u-spacing-105,
    '2': $u-spacing-2,
    '3': $u-spacing-3,
    '4': $u-spacing-4,
  ),
  neg-ch: (
    'n05ch': '-.5ch',
    'n1ch': '-1ch',
    'n105ch': '-1.5ch',
    'n2ch': '-2ch',
    'n3ch': '-3ch',
    'n4ch': '-4ch',
    'n5ch': '-5ch',
  ),
  neg-grid: (
    'n05': -#{$u-spacing-05},
    'n1': -#{$u-spacing-1},
    'n105': -#{$u-spacing-105},
    'n2': -#{$u-spacing-2},
    'n3': -#{$u-spacing-3},
    'n4': -#{$u-spacing-4},
    'n5': -#{$u-spacing-5},
    'n6': -#{$u-spacing-6},
    'n7': -#{$u-spacing-7},
    'n8': -#{$u-spacing-8},
    'n9': -#{$u-spacing-9},
  ),
  neg-pixels: (
    'n1px': -1px,
    'n2px': -2px,
  ),
  percentage: (
    '10ct': 10%,
    '20ct': 20%,
    '25ct': 25%,
    '30ct': 30%,
    '33ct': 33.33333333%,
    '40ct': 40%,
    '50ct': 50%,
    '60ct': 60%,
    '66ct': 66.66666666%,
    '70ct': 70%,
    '75ct': 75%,
    '80ct': 80%,
    '90ct': 90%,
    '100ct': 100%,
  ),
  pixels: (
    '1px': 1px,
    '2px': 2px,
  ),
  type-scale: (
    mono-12: (
      slug: 'mono-12',
      isReadable: true,
      content: $u-mono-12,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-13: (
      slug: 'mono-13',
      isReadable: true,
      content: $u-mono-13,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-14: (
      slug: 'mono-14',
      isReadable: true,
      content: $u-mono-14,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-15: (
      slug: 'mono-15',
      isReadable: true,
      content: $u-mono-15,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-16: (
      slug: 'mono-16',
      isReadable: true,
      content: $u-mono-16,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-17: (
      slug: 'mono-17',
      isReadable: true,
      content: $u-mono-17,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-18: (
      slug: 'mono-18',
      isReadable: true,
      content: $u-mono-18,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-20: (
      slug: 'mono-20',
      isReadable: true,
      content: $u-mono-20,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-22: (
      slug: 'mono-22',
      isReadable: true,
      content: $u-mono-22,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-24: (
      slug: 'mono-24',
      isReadable: true,
      content: $u-mono-24,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-28: (
      slug: 'mono-28',
      isReadable: true,
      content: $u-mono-28,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-32: (
      slug: 'mono-32',
      isReadable: true,
      content: $u-mono-32,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-36: (
      slug: 'mono-36',
      isReadable: true,
      content: $u-mono-36,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-40: (
      slug: 'mono-40',
      isReadable: true,
      content: $u-mono-40,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-48: (
      slug: 'mono-48',
      isReadable: true,
      content: $u-mono-48,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-56: (
      slug: 'mono-56',
      isReadable: true,
      content: $u-mono-56,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-64: (
      slug: 'mono-64',
      isReadable: true,
      content: $u-mono-64,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-80: (
      slug: 'mono-80',
      isReadable: true,
      content: $u-mono-80,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-120: (
      slug: 'mono-120',
      isReadable: true,
      content: $u-mono-120,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-140: (
      slug: 'mono-140',
      isReadable: true,
      content: $u-mono-140,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    sans-12: (
      slug: 'sans-12',
      isReadable: true,
      content: $u-sans-12,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-13: (
      slug: 'sans-13',
      isReadable: true,
      content: $u-sans-13,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-14: (
      slug: 'sans-14',
      isReadable: true,
      content: $u-sans-14,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-15: (
      slug: 'sans-15',
      isReadable: true,
      content: $u-sans-15,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-16: (
      slug: 'sans-16',
      isReadable: true,
      content: $u-sans-16,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-17: (
      slug: 'sans-17',
      isReadable: true,
      content: $u-sans-17,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-18: (
      slug: 'sans-18',
      isReadable: true,
      content: $u-sans-18,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-20: (
      slug: 'sans-20',
      isReadable: true,
      content: $u-sans-20,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-22: (
      slug: 'sans-22',
      isReadable: true,
      content: $u-sans-22,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-24: (
      slug: 'sans-24',
      isReadable: true,
      content: $u-sans-24,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-28: (
      slug: 'sans-28',
      isReadable: true,
      content: $u-sans-28,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-32: (
      slug: 'sans-32',
      isReadable: true,
      content: $u-sans-32,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-36: (
      slug: 'sans-36',
      isReadable: true,
      content: $u-sans-36,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-40: (
      slug: 'sans-40',
      isReadable: true,
      content: $u-sans-40,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-48: (
      slug: 'sans-48',
      isReadable: true,
      content: $u-sans-48,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-56: (
      slug: 'sans-56',
      isReadable: true,
      content: $u-sans-56,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-64: (
      slug: 'sans-64',
      isReadable: true,
      content: $u-sans-64,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-80: (
      slug: 'sans-80',
      isReadable: true,
      content: $u-sans-80,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-120: (
      slug: 'sans-120',
      isReadable: true,
      content: $u-sans-120,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-140: (
      slug: 'sans-140',
      isReadable: true,
      content: $u-sans-140,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    serif-12: (
      slug: 'serif-12',
      isReadable: true,
      content: $u-serif-12,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-13: (
      slug: 'serif-13',
      isReadable: true,
      content: $u-serif-13,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-14: (
      slug: 'serif-14',
      isReadable: true,
      content: $u-serif-14,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-15: (
      slug: 'serif-15',
      isReadable: true,
      content: $u-serif-15,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-16: (
      slug: 'serif-16',
      isReadable: true,
      content: $u-serif-16,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-17: (
      slug: 'serif-17',
      isReadable: true,
      content: $u-serif-17,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-18: (
      slug: 'serif-18',
      isReadable: true,
      content: $u-serif-18,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-20: (
      slug: 'serif-20',
      isReadable: true,
      content: $u-serif-20,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-22: (
      slug: 'serif-22',
      isReadable: true,
      content: $u-serif-22,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-24: (
      slug: 'serif-24',
      isReadable: true,
      content: $u-serif-24,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-28: (
      slug: 'serif-28',
      isReadable: true,
      content: $u-serif-28,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-32: (
      slug: 'serif-32',
      isReadable: true,
      content: $u-serif-32,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-36: (
      slug: 'serif-36',
      isReadable: true,
      content: $u-serif-36,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-40: (
      slug: 'serif-40',
      isReadable: true,
      content: $u-serif-40,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-48: (
      slug: 'serif-48',
      isReadable: true,
      content: $u-serif-48,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-56: (
      slug: 'serif-56',
      isReadable: true,
      content: $u-serif-56,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-64: (
      slug: 'serif-64',
      isReadable: true,
      content: $u-serif-64,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-80: (
      slug: 'serif-80',
      isReadable: true,
      content: $u-serif-80,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-120: (
      slug: 'serif-120',
      isReadable: true,
      content: $u-serif-120,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-140: (
      slug: 'serif-140',
      isReadable: true,
      content: $u-serif-140,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
  ),
);
