<h2 class="margin-x-0 margin-y-2">Headings only</h2>
<ul class="usa-collection usa-collection--condensed">
  <li class="usa-collection__item">
    <div class="usa-collection__body">
      <h3 class="usa-collection__heading">
        <a class="usa-link" href="https://www.performance.gov/presidents-winners-press-release/">Gears of Government President’s Award winners</a>
      </h3>
      <ul class="usa-collection__meta" aria-label="More information">
        <li class="usa-collection__meta-item position-relative">
          <svg class="usa-icon position-relative bottom-neg-2px" aria-hidden="true" role="img">
            <use xlink:href="../../dist/img/sprite.svg#launch"></use>
          </svg>
          digital.gov
        </li>
      </ul>
    </div>
  </li>
  <li class="usa-collection__item">
    <div class="usa-collection__body">
      <h3 class="usa-collection__heading">
        <a class="usa-link" href="https://www.performance.gov/sba-wosb-dashboard/">Women-owned small business dashboard</a>
      </h3>
      <ul class="usa-collection__meta" aria-label="More information">
        <li class="usa-collection__meta-item position-relative">
          <svg class="usa-icon position-relative bottom-neg-2px" aria-hidden="true" role="img">
            <use xlink:href="../../dist/img/sprite.svg#launch"></use>
          </svg>
          designsystem.digital.gov
        </li>
      </ul>
    </div>
  </li>
  <li class="usa-collection__item">
    <div class="usa-collection__body">
      <h3 class="usa-collection__heading">
        <a class="usa-link" href="https://www.performance.gov/September-2020-Updates-Show-Progress/">September 2020 updates show progress on cross-agency and agency priority goals</a>
      </h3>
    </div>
  </li>
  <li class="usa-collection__item">
    <div class="usa-collection__body">
      <h3 class="usa-collection__heading">
        <a class="usa-link" href="https://www.performance.gov/a-11-update/">Integrating components of the GPRA Modernization Act and Evidence Act to improve organizational performance</a>
      </h3>
      <ul class="usa-collection__meta" aria-label="More information">
        <li class="usa-collection__meta-item position-relative">
          <svg class="usa-icon position-relative bottom-neg-2px" aria-hidden="true" role="img">
            <use xlink:href="../../dist/img/sprite.svg#launch"></use>
          </svg>
          performance.gov
        </li>
      </ul>
    </div>
  </li>
  <li class="usa-collection__item">
    <div class="usa-collection__body">
      <h3 class="usa-collection__heading">
        <a class="usa-link" href="https://www.performance.gov/sharing-services-memo-release/">Sharing quality services</a>
      </h3>
      <ul class="usa-collection__meta" aria-label="More information">
        <li class="usa-collection__meta-item position-relative">
          <svg class="usa-icon position-relative bottom-neg-2px" aria-hidden="true" role="img">
            <use xlink:href="../../dist/img/sprite.svg#launch"></use>
          </svg>
          performance.gov
        </li>
      </ul>
    </div>
  </li>
</ul>