// Elements

p, li {
  font-family: $font-serif;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover, &:active {
    color: $color-primary-darker;
  }

  &:visited {
    color: $color-primary;
  }
}