// Elements

p, li {
  font-family: $font-serif;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover, &:active {
    color: $color-primary-darker;
  }

  &:visited {
    color: $color-primary;
  }
}

aside {
  color: #fff;
  background-color: $color-primary;
}

// Site Patterns

.site-search {
  input[type="search"] {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  input[type="submit"] {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.global-header {
  background-color: #fff;
  border-bottom: 1px solid $color-grey-300;

  h1 {
    color: $color-primary;
  }

  .site-search {
    input[type="search"] {
      border: 1px solid $color-grey-200;
    }
  }
}

.global-footer {
  color: #fff;
  background-color: #000; 
}
