// Colors
$color-main:        #0071bc;
$color-main-dark:   #00609f;


// Magic Numbers

$border-radius: rem(4px);


// Elements

p,
li {
	font-family: $font-serif;
}

h2,
h3,
h4 {
	font-family: $font-serif;
	font-weight: normal;
}

a {
	color: $color-main;
	font-family: $font-sans;
	text-decoration: none;
	&:hover, &:active {
		color: $color-main-dark;
	}
	&:visited {
		color: $color-main;
	}
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"],
button[type="button"],
button[type="submit"],
button[type="reset"] {
	color: #fff;
	background-color: $color-main;
	border-radius: $border-radius;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="image"]:hover,
button[type="button"]:hover,
button[type="submit"]:hover,
button[type="reset"]:hover {
	background-color: $color-main-dark;	
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea {
	border-radius: $border-radius;
}

aside {
	color: #fff;
	background-color: $color-main;
}

// Site Patterns

.site-search {
	input[type="search"] {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	input[type="submit"] {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
}

.global-header {
	background-color: #fff;
	border-bottom: 1px solid $color-grey-300;
	h1 {
		color: $color-main;
	}
	.site-search {
		input[type="search"] {
			border: 1px solid $color-grey-200;
		}
	}
}

.global-footer {
	color: #fff;
	background-color: #000; 
}
