.usa-accordion,
.usa-accordion-bordered {

  ul {
    color: $color-base;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;

    li {
      background-color: $color-gray-lightest;
      font-family: $font-sans;
      list-style: none;
      margin-bottom: 6px;
    }

    button[aria-expanded=false] {
      background: url('../img/plus.png') no-repeat;
      background-position: 90.5%;
      background-size: 13px;
      @include media($small-screen) {
        background-position: 96.5%;
      }
    }

    button {
      background: url('../img/minus.png') no-repeat;
      background-position: 90.5%;
      background-size: 13px;
      color: $color-base;
      cursor: pointer;
      display: inline-block;
      font-family: $font-sans;
      margin: 0;
      padding: 1.5rem 3rem;
      width: 100%;
      &:hover {
        background-color: $color-gray-lighter;
        color: $color-base;
      }
      @include media($small-screen) {
        background-position: 96.5%;
      }
    }
  }

}

.usa-accordion-bordered {

  .usa-accordion-content {
    border: 3px solid $color-gray-lightest;
  }
  
}

.usa-accordion-content {
  display: block;
  background-color: white;
  padding: 3rem;
}
