#accordion-menu {
  border-color: $color-grey-600;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 0;
  color: $color-grey-900;
  margin: 0;
  padding: 0;

  [aria-hidden=true] {
    display: none !important;
  }

  li {
    background-color: $color-grey-200;
    border-bottom-width: 1px;
    font-family: $font-sans;
    list-style: none;
    margin: 0;

    button[aria-expanded=false] {
      background: url('../img/arrow-right.png') no-repeat;
      background-position: 15px;
    }

    button {
      background: url('../img/arrow-down.png') no-repeat;
      background-position: 15px;
      color: $color-grey-900;
      cursor: pointer;
      display: inline-block;
      font-family: $font-sans;
      margin: 0;
      padding: 10px 15px 10px 35px;
      width: 100%;
    }

    .content {
      display: block;
      background-color: white;
      padding: 15px;
    }
  }
}
