.usa-accordion {

  ul {
    color: $color-base;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;

    li {
      background-color: $color-gray-lightest;
      font-family: $font-sans;
      list-style: none;
      margin-bottom: 6px;
    }

    button[aria-expanded=false] {
      background: url('../img/plus.png') no-repeat;
      background-position: 96%;
      background-size: 13px;
    }

    button {
      background: url('../img/minus.png') no-repeat;
      background-position: 96%;
      background-size: 13px;
      color: $color-base;
      cursor: pointer;
      display: inline-block;
      font-family: $font-sans;
      margin: 0;
      padding: 15px 30px;
      width: 100%;
      &:hover {
        background-color: $color-gray-lightest;
        color: $color-base;
      }
    }
  }
}

.usa-accordion-content {
  display: block;
  background-color: white;
  padding: 30px;
}
