.usa-alert {
  background-color: $color-grey-200;
  margin-top: 1.5em;
  padding: 1em;
}

.usa-alert-icon {
  display: table-cell;
  padding-right: 1rem;
}

.usa-alert-body {
  display: table-cell;
  vertical-align: top;
}

.usa-alert-heading {
  margin: {
    bottom: .15em;
    top: 0;
  }
}

.usa-alert-text {
  margin: {
    bottom: 0;
    top: 0;
  }
}

.usa-alert-success {
  @extend .usa-alert;
  background-color: #E5FCDE;
}

.usa-alert-warning {
  @extend .usa-alert;
  background-color: #FDF7DC;
}

.usa-alert-error {
  @extend .usa-alert;
  background-color: #F9DEDE;
}

.usa-alert-info {
  @extend .usa-alert;
  background-color: #E8F5FA;
}