.usa-disclaimer {
  @include media($medium-screen) {
    font-size: $h5-font-size;
  }
  background-color: $color-gray-lighter;
  font-size: $h6-font-size;
  padding: {
    bottom: .5rem;
    top: .5rem;
  }
}

.usa-disclaimer-stage {
  @include media($medium-screen) {
    display: block;
  }
  display: none;
  float: right;
  padding-right: $site-margins;
}


.usa-disclaimer-official {
  @include media($medium-screen) {
    padding-left: 3rem;
  }
  padding-left: 2rem;
}

.usa-flag_icon {
  margin-right: .2rem;
}