.usa-footer-return-to-top {
  padding: {
    top: 2em;
    bottom: 2em;
  }
}

.usa-footer-primary-section {
  background-color: $color-grey-100;
  padding: {
    top: 2em;
    bottom: 2em;
  }
}

.usa-footer-secondary-section {
  background-color: $color-grey-300;
  padding: {
    top: 2em;
    bottom: 2em;
  }
}

.usa-footer-contact-links {
  text-align: right;
}

.usa-footer-topic {
  text-transform: uppercase;
}