.usa-footer a {
  font-weight: normal;
}

.usa-footer-return-to-top {
  padding: {
    top: 2em;
    bottom: 2em;
  }
}

.usa-footer-primary-section {
  background-color: $color-grey-100;
  padding: {
    top: 2em;
    bottom: 2em;
  }
}

.usa-footer-nav li {
  margin: 1rem 0;
}

.usa-sign_up-block button {
  float: right;
}

.usa-footer-secondary-section {
  background-color: $color-grey-300;
  padding: {
    top: 2em;
    bottom: 2em;
  }
}

.usa-footer-contact-links {
  text-align: right;
}

.usa-footer-big .usa-footer-topic {
  text-transform: uppercase;
}

img.usa-footer-logo-img {
  max-width: 140px;
}
