$usa-form-width: 32rem;

form {
  @include media($medium-screen) {
    max-width: $usa-form-width;
  }

  a {
    border-bottom: 0;
  }

  button[type="submit"],
  input[type="submit"] {
    @include media($medium-screen) {
      padding: {
        left: 2.7em;
        right: 2.7em;
      }
      width: auto;
    }
    clear: both;
    margin-top: 2.5rem;
    margin-bottom: 1.5em;
  }

  input[name="password"] {
    margin-bottom: 1.1rem;
  }
}

.usa-form-note {
  float: right;
  font-family: $font-sans;
  font-size: $small-font-size;
  margin: 0;
  margin-bottom: 1.5rem;

  & + * {
    clear: both;
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.usa-form-large {
  @include media($medium-screen) {
    max-width: 46rem;
  }
}

input.usa-input-tiny {
  @include media($medium-screen) {
    max-width: 6rem;
  }
}

input.usa-input-medium {
  @include media($medium-screen) {
    max-width: 12rem;
  }
}

.usa-input-grid {
  @include media($medium-screen) {
    padding-right: 5%;
  }
}

.usa-input-grid:last-of-type {
  @include media($medium-screen) {
    padding-right: 0;
  }
}

.usa-input-grid-small {
  @include media($medium-screen) {
    float: left;
    width: 35%;
  }

  label {
    margin-top: 1.5rem;
  }

  input {
    margin-bottom: 3rem;
  }

  select {
    margin-bottom: 3rem;
  }
}

.usa-input-grid-medium {
  @include media($medium-screen) {
    float: left;
    width: 65%;
  }

  label {
    margin-top: 1.5rem;
  }

  input {
    margin-bottom: 3rem;
  }

  select {
    margin-bottom: 3rem;
  }
}

.usa-input-grid-large {
  @include media($medium-screen) {
    float: left;
    width: 100%;
  }

  label {
    margin-top: 1.5rem;
  }

  input {
    margin-bottom: 3rem;
  }

  select {
    margin-bottom: 3rem;
  }
}

.usa-form-width {
  max-width: $usa-form-width;
}

.usa-additional_text {
  float: right;
  font-style: italic;
  font-weight: normal;
}

.usa-input-buttons-inline {
  button,
  button[type="submit"],
  input[type="submit"],
  & > * {
    display: inline;
    margin-right: 1.5em;
  }
}
