$usa-form-width: 32rem;

form {
  @include media($medium-screen) {
    max-width: $usa-form-width;
  }

  a {
    border-bottom: 0;
  }

  button[type="submit"],
  input[type="submit"] {
    @include media($medium-screen) {
      padding: {
        left: 2.7em;
        right: 2.7em;
      }
      width: auto;
    }
    display: block;
    margin-top: 2.5rem;
    margin-bottom: 1.5em;
  }

  input[name="password"] {
    margin-bottom: 1.1rem;
  }
}

.usa-form-note {
  float: right;
  font-family: $font-sans;
  font-size: $h5-font-size;
  margin: 0;
  margin-bottom: 1.5rem;

  & + * {
    clear: both;
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.usa-form-large {
  @include media($medium-screen) {
    max-width: 46rem;
  }
}

input.usa-input-tiny {
  @include media($medium-screen) {
    max-width: 6rem;
  }
}

input.usa-input-medium {
  @include media($medium-screen) {
    max-width: 12rem;
  }
}

.usa-input-grid {
  @include media($medium-screen) {
    padding-right: 5%;
  }
}

.usa-input-grid:last-of-type {
  @include media($medium-screen) {
    padding-right: 0;
  }
}

.usa-input-grid-small {
  @include media($medium-screen) {
    float: left;
    width: 35%;
  }

  input {
    margin-bottom: 3rem;
  }

  select {
    margin-bottom: 3rem;
  }
}

.usa-input-grid-medium {
  @include media($medium-screen) {
    float: left;
    width: 65%;
  }

  input {
    margin-bottom: 3rem;
  }

  select {
    margin-bottom: 3rem;
  }
}

.usa-input-grid-large {
  @include media($medium-screen) {
    float: left;
    width: 100%;
  }

  input {
    margin-bottom: 3rem;
  }

  select {
    margin-bottom: 3rem;
  }
}

.usa-form-width {
  max-width: $usa-form-width;
}

.usa-additional_text {
  float: right;
  font-style: italic;
  font-weight: normal;
}

.usa-input-buttons-inline {
  button,
  button[type="submit"],
  input[type="submit"],
  & > * {
    display: inline;
    margin-right: 1.5em;
  }
}

// Reset password checklist

.usa-checklist {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    display: inline-block;
    list-style: none;
    margin: {
      bottom: 0em;
      top: 0em;
    }
    padding-left: 3em;
    text-indent: -2em;

    &:before {
      content: ' ';
      display: inline-block;
      height: .8em;
      margin-right: .2em;
      width: 1.8em;
    }
  }
}

.usa-checklist-checked {
  &:before {
    background-image: url('../img/correct9.png');
    background-image: url('../img/correct9.svg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
