form {
  @include media($tablet-up) {
    max-width: 32rem;
  }
}

.form-large {
  @include media($tablet-up) {
    max-width: 46rem;
  }

  input[type] {
    max-width: 100%;
  }
}

input.usa-input-small {
  @include media($tablet-up) {
    max-width: 6rem;
  }
}

.usa-additional_text {
  float: right;
  font-style: italic;
  font-weight: normal;
}