form {
  @include media($tablet-up) {
    max-width: 32rem;
  }

  a {
    border-bottom: 0;
  }

  button[type="submit"],
  input[type="submit"] {
    @include media($tablet-up) {
      padding: {
        left: 2.7em;
        right: 2.7em;
      }      
      width: auto;
    }
    clear: both;
    margin-top: 1.875em;
    margin-bottom: 1em;
  }
  
  input[type="text"] {
    &#password {
      margin-bottom: 1.1rem;
    }
  }  
}



.usa-form-note {
  float: right;
  font-size: $small-font-size;
  margin: 0;
  margin-bottom: 2.125em;

  & + * {
    clear: both;
  }
}

input.usa-input-small {
  @include media($tablet-up) {
    max-width: 6rem;
  }
}

.usa-additional_text {
  float: right;
  font-style: italic;
  font-weight: normal;
}
