header[role="banner"] {
  background-color: $color-white;
  border: 1px solid $color-base-link;
  padding: {
    bottom: 2rem;
    top: 3rem;
  }
  z-index: 1;
  a {
    border-bottom: none;
    color: $color-base-link;
  }
  .usa-header-title {
    float: left;
    font-size: 2.1rem;
    margin: 0;
  }
  nav {
    ul {
      display: none;
      li { 
        display: inline; 
        margin-right: 2em;
        font-family: $font-sans;
        font-size: $h3-font-size;
        &:last-child {
          margin-left: 0;
        }
      }
      @include media($medium-screen) {
        display: block;
      }
    }
    .usa-nav-list {
      @include media($medium-screen) {
        padding-top: 2.6rem;
      }
    }
  }
  .usa-search-small {
    label {
      @include sr-only;
    }
    @include media($medium-screen) {
      padding-top: .6rem;
    }
  }
  .usa-search-submit,
  .usa-search-input-small {
    margin-bottom: 0;
  }
}