header[role="banner"] {
  @include media($medium-screen) {
    padding: {
      bottom: 2rem;
      top: 3rem;
    }    
  }
  background-color: #112e51;
  z-index: 1;

  .usa-grid {
    padding: 0;

    @include media($medium-screen) {
      padding: 0 2.5rem;
    }
  }

  .usa-logo-block {
    @include media($medium-screen) {
      @include span-columns(2);
    }
    display: block;
    float: left;
    width: calc(100% - 10rem);
  }

  .usa-search-container {
    @include media($medium-screen) {
      clear: none;
    }
    clear: both;
  }

  a {
    border-bottom: none;
    color: $color-white;
    font-weight: $font-bold;
  }
  
  .usa-header-title {
    @include media($medium-screen) {
      line-height: normal;
      padding: {
        left: 0;
        top: 0;
      }
    }
    font-size: 2.1rem;
    margin: 0;
    padding: {
      left: 10%;
      top: 1.5rem;
    }
  }

  .usa-search-trigger {
    @include media($medium-screen) {
      display: none;
    }
    background-color: $color-base-link;
    background-image: url("../img/search.png");
    background-image: url("../img/search.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 60%;    
    border-radius: 0;
    display: block;
    float: right;
    margin: 0;
    width: 5rem;
    height: 5rem;
  }
  
  nav {
    ul {
      @include media($medium-screen) {
        display: block;
      }

      display: none;
      
      li { 
        display: inline; 
        font-family: $font-sans;
        font-size: $h3-font-size;
        margin-right: 5%;
        
        &:last-child {
          margin-right: 0;
        }
      }
    }
    
    .usa-nav-list {
      @include media($medium-screen) {
        padding-top: 2.8rem;
      }
    }
  }
  
  .usa-search-small {
    @include media($medium-screen) {
      padding-top: .6rem;
    }

    label {
      @include sr-only;
    }
  }
  
  .usa-search-submit,
  .usa-search-input-small {
    margin-bottom: 0;
  }

  .usa-search-submit {
    background-color: $color-primary;
    &:hover {
      background-color: $color-primary-darker;
    }
  }
}

.usa-menu-btn {
  @include media($medium-screen) {
    display: none;
  }
  background-color: $color-base-link;
  color: $color-white !important;
  display: block;
  height: 5rem;
  float: left;
  line-height: 5rem;
  text-align: center;
  width: 5rem;
}

// Side Nav

.side_nav {  
  a {
    border: none;
    font-family: $font-sans;
    padding: {
      bottom: .5em;
      left: 1.8rem;
      top: .5em;
    }
  }
  
  .usa-current-page {
    border-left: 4px solid $color-base-link;
    color: $color-base-link;
    font-weight: $font-bold;
    padding-left: 1.4rem;
  }
  
  li {
    padding: .5em 0;
  }
}