header[role="banner"] {
  background-color: $color-white;
  border: 1px solid $color-base-link;
  padding: {
    bottom: 2rem;
    top: 2rem;
  }
  z-index: 1;
  a {
    border-bottom: none;
    color: $color-base-link;
  }
  .usa-header-title {
    float: left;
    font-size: 2.1rem;
    line-height: 45px;
    margin: 0;
    padding-left: 20px;
  }
  nav {
    height: 45px;
    line-height: 45px;
    ul {
      float: right;
      padding-right: 20px;
      display: none;
      li { 
        display: inline; 
        margin-left: 15px;
        font-family: $font-sans;
        font-size: $h3-font-size;
      }
      @include media($tablet-up) {
        display: block;
      }
    }
  }
}