input[type="search"] {
  border: {
    bottom-right-radius: 0;
    right: none;    
    top-right-radius: 0;    
  }
  float: left;
  height: 3.3rem;
}

.usa-search {
  max-width: none;
}

.usa-search-bar {
  position: relative;
}

.usa-search-submit {
  border: {
    bottom-left-radius: 0;
    top-left-radius: 0;
  }
  font-weight: $font-normal;
  height: 3.3rem;
  line-height: inherit;
  margin: 1.5rem 0;
  padding: 0;
  position: absolute;
  width: 8.5rem;  
}

.usa-search-submit-big {
  height: 4.4rem;  
  width: 11.6rem;

  .usa-search-submit-text {
    font-size: $h3-font-size;
  }
}

.usa-search-submit-small {
  width: 4.5rem;
}

input[type="search"].usa-search-input-big, 
.usa-search-submit-big {
  height: 4.4rem;
}

input[type="search"].usa-search-input-big {
  width: calc(100% - 11.6rem);
}

input[type="search"].usa-search-input-medium {
  width: calc(100% - 8.5rem);
}

input[type="search"].usa-search-input-small {
  width: calc(100% - 4.5rem);
}