{% set name = "file-input" %}

<div class="usa-form-group{% if error %} usa-form-group--error{% endif %}">
  <label class="usa-label{% if error %} usa-label--error{% endif %}" for="{{ name }}-{{ id }}">{{ label }}</label>
  {%- if hint %}
  <span class="usa-hint" id="{{ name }}-{{ id }}-hint">{{ hint }}</span>
  {%- endif -%}
  {%- if error %}
  <span class="usa-error-message" id="{{ name }}-{{ id }}-alert">{{ errorMessage }}</span>
  {%- endif %}
  <!-- Formatted this way for code example on USWDS-Site  -->
  <input id="{{ name }}-{{ id }}"
    class="usa-file-input"
    type="file"
    name="{{ name }}-{{ id }}"
    {% if hint or error -%}aria-describedby="{% if hint -%}{{ name }}-{{ id }}-hint{%- endif -%}{% if error %} {{ name }}-{{ id }}-alert{%- endif -%}"{%- endif -%}
    {% if accept -%}accept="{{ accept }}"{%- endif -%}
    {% if multiple -%} multiple{%- endif -%}
    {% if disabled -%} disabled{%- endif -%} />
</div>
