<div class="usa-banner">
  <header class="usa-banner-header">
    <div class="usa-grid usa-banner-inner">
      <img src="{{ uswds.path }}/img/favicons/favicon-57.png" alt="U.S. flag">
      <p>An official website of the United States government</p>
    </div>
  </header>
</div>
