@use "uswds-core" as *;

.usa-input-mask__field,
.usa-input-mask__shell {
  display: block;
  position: relative;
}

.usa-input-mask__content {
  border: 1px solid transparent;
  color: color("gray-50");
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;

  i {
    visibility: hidden;
  }
}

.usa-input-mask__field,
.usa-input-mask__content {
  @include border-box-sizing;
  background-color: transparent;
  padding: units(1);
}

.usa-input-mask__status {
  display: inline-block;
  padding-top: units(0.5);

  &.usa-input-mask__status--invalid {
    color: color("error-dark");
    font-weight: font-weight("bold");
  }
}