<div class="border-top border-base-lighter margin-top-3 padding-top-1">
  <h2>{{ max.title }}</h2>
  <div class="usa-prose">
    <p>{{ max.description }}</p>
    <p>
      <a class="{{ max.cta.type }}" href="{{ placeholderLink }}">
        {{ max.cta.label }}
      </a>
    </p>
  </div>
</div>
