
<h2 class="display-none desktop:display-block">A tagline that explains the benefit of creating an account.</h2>
<div class="usa-prose">
<p>Here’s space for a longer description to introduce 3-5 easily scannable bullet points. Note that on mobile, this text block will bump below the Create Account form.</p>
  <section class="usa-graphic-list">
      <div class="usa-graphic-list__row">
        <div class="usa-media-block margin-y-2">
          <img class="usa-media-block__img height-7 width-7"  src="{{ uswds.path }}/img/circle-gray-20.svg" alt="Alt text">
          <div class="usa-media-block__body">
            <p><strong>Value proposition 1:</strong> Vivamus nec velit sed leo scelerisque laoreet vestibulum.</p>
          </div>
        </div>
        <div class="usa-media-block margin-y-2">
          <img class="usa-media-block__img height-7 width-7"  src="{{ uswds.path }}/img/circle-gray-20.svg" alt="Alt text">
          <div class="usa-media-block__body">
            <p><strong>Value proposition 2:</strong> Ut ac dictum elit. Vivamus nec velit sed leo laoreet vestibulum.</p>
          </div>
        </div>
        <div class="usa-media-block margin-y-2">
          <img class="usa-media-block__img height-7 width-7"  src="{{ uswds.path }}/img/circle-gray-20.svg" alt="Alt text">
          <div class="usa-media-block__body">
            <p><strong>Value proposition 3:</strong> Vivamus nec velit sed leo scelerisque laoreet vestibulum.</p>
          </div>
        </div>
      </div>
  </section>
</div>

