<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Uswds: Default</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../dist/css/uswds.min.css" />
  </head>
  <body>
    <header
      class="usa-header usa-header-basic usa-header-basic-megamenu"
      role="banner"
    >
      <div class="usa-nav-container">
        <div class="usa-navbar">
          <div class="usa-logo" id="basic-mega-logo">
            <em class="usa-logo-text">
              <a href="/" title="Home" aria-label="Home">
                Department of Web Design
              </a>
            </em>
          </div>
          <button class="usa-menu-btn">Menu</button>
        </div>

        <nav role="navigation" class="usa-nav">
          <div class="usa-nav-inner">
            <button class="usa-nav-close">
              <img src="../../dist/img/close.svg" alt="close" />
            </button>
            <ul class="usa-nav-primary usa-accordion">
              <li>
                <button
                  class="usa-accordion-button usa-nav-link"
                  aria-expanded="false"
                  aria-controls="basic-mega-nav-section-one"
                >
                  <span>Section title</span>
                </button>
                <div
                  id="basic-mega-nav-section-one"
                  class="usa-nav-submenu usa-megamenu usa-grid-full"
                >
                  <div class="usa-megamenu-col">
                    <ul>
                      <li>
                        <a href="#">Subsection title</a>
                      </li>
                      <li>
                        <a href="#">Subsection title</a>
                      </li>
                      <li>
                        <a href="#">Subsection title</a>
                      </li>
                    </ul>
                  </div>
                  <div class="usa-megamenu-col">
                    <ul>
                      <li>
                        <a href="#">Subsection title longer</a>
                      </li>
                      <li>
                        <a href="#"
                          >A very long page title that goes onto two lines</a
                        >
                      </li>
                      <li>
                        <a href="#">Subsection title</a>
                      </li>
                    </ul>
                  </div>
                  <div class="usa-megamenu-col">
                    <ul>
                      <li>
                        <a href="#">Subsection title</a>
                      </li>
                      <li>
                        <a href="#">Subsection title</a>
                      </li>
                      <li>
                        <a href="#">Subsection title</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li><li>
                <button
                  class="usa-accordion-button usa-nav-link"
                  aria-expanded="false"
                  aria-controls="basic-mega-nav-section-two"
                >
                  <span>Simple terms</span>
                </button>
                <div
                  id="basic-mega-nav-section-two"
                  class="usa-nav-submenu usa-megamenu usa-grid-full"
                >
                  <div class="usa-megamenu-col">
                    <ul>
                      <li>
                        <a href="#">Subsection title</a>
                      </li>
                      <li>
                        <a href="#">Subsection title</a>
                      </li>
                      <li>
                        <a href="#">Subsection title</a>
                      </li>
                    </ul>
                  </div>
                  <div class="usa-megamenu-col">
                    <ul>
                      <li>
                        <a href="#">Subsection title longer</a>
                      </li>
                      <li>
                        <a href="#"
                          >A very long page title that goes onto two lines</a
                        >
                      </li>
                      <li>
                        <a href="#">Subsection title</a>
                      </li>
                    </ul>
                  </div>
                  <div class="usa-megamenu-col">
                    <ul>
                      <li>
                        <a href="#">Subsection title</a>
                      </li>
                      <li>
                        <a href="#">Subsection title</a>
                      </li>
                      <li>
                        <a href="#">Subsection title</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li><li>
                <a class="usa-nav-link" href="javascript:void(0)">
                  <span>Distinct from each other</span>
                </a>
              </li>
            </ul>
            <form class="usa-search usa-search-small ">
              <div role="search">
                <label class="usa-sr-only" for="basic-mega-search-field-small"
                  >Search small</label
                >
                <input
                  id="basic-mega-search-field-small"
                  type="search"
                  name="search"
                />
                <button type="submit">
                  <span class="usa-sr-only">Search</span>
                </button>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <div class="usa-overlay"></div>

    <script src="../../dist/js/uswds.min.js"></script>
    <script>
      window.addEventListener(
        "load",
        function() {
          document.body.addEventListener(
            "submit",
            function(e) {
              // https://github.com/uswds/uswds/issues/2101
              e.preventDefault();
            },
            true
          );
        },
        false
      );
    </script>
  </body>
</html>
