<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Uswds Framed: Default</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../dist/css/uswds.min.css" />
  </head>
  <body>
    <div class="usa-grid" style="padding: 2em 0">
      <form class="usa-form">
        <fieldset>
          <legend class="usa-drop_text">Reset password</legend>
          <span class="usa-serif">Please enter your new password</span>

          <div class="usa-alert usa-alert-info">
            <div class="usa-alert-body">
              <h3 class="usa-alert-heading">Password information</h3>
              <p class="usa-alert-text">
                Length requirements
                <br />
                Character constraints, if any
              </p>
            </div>
          </div>

          <label for="password-reset">New password</label>
          <input id="password-reset" name="password" type="password" />

          <label for="confirmPassword">Confirm password</label>
          <input id="confirmPassword" name="confirmPassword" type="password" />
          <p class="usa-form-note">
            <a
              href="javascript:void(0);"
              class="usa-show_multipassword"
              aria-controls="password-reset confirmPassword"
              >Show my typing</a
            >
          </p>

          <input type="submit" value="Reset password" />
        </fieldset>
      </form>
    </div>

    <script src="../../dist/js/uswds.min.js"></script>
    <script>
      window.addEventListener(
        "load",
        function() {
          document.body.addEventListener(
            "submit",
            function(e) {
              // https://github.com/uswds/uswds/issues/2101
              e.preventDefault();
            },
            true
          );
        },
        false
      );
    </script>
  </body>
</html>
