<ol class="usa-process-list">
  <li class="usa-process-list__item padding-bottom-4">
    <p class="usa-process-list__heading font-sans-xl line-height-sans-1">Start a process.</p>
  </li>
  <li class="usa-process-list__item padding-bottom-4">
    <p class="usa-process-list__heading font-sans-xl line-height-sans-1">Proceed to the second step.</p>
  </li>
  <li class="usa-process-list__item">
    <p class="usa-process-list__heading font-sans-xl line-height-sans-1">Complete the step-by-step process.</p>
  </li>
</ol>